[2022-08-22 16:57] garath commented on #10358
The rollback was successful, no hits on this over the weekend.

[2022-08-22 17:10] MattGal opened #10534 "Handle TaskCancelledException in Arcade SDK "DownloadFile" Task"
As seen here: https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Arcade.Sdk/src/DownloadFile.cs#L123
We retry for OperationCancelled but not TaskCancelled.  We should handle both scenarios for when network connections are flaky and hit Http Client timeouts (this can be surfaced as a TaskCancelledException)

[2022-08-22 17:19] MattGal commented on #10528
Ran synchronize command locally, kicked off fresh main run to check (https://dev.azure.com/dnceng/internal/_build/results?buildId=1959081&view=results )

[2022-08-22 17:23] MattGal commented on #10534
Per @mmitche : I wonder whether the built in task [DownloadFile Task - MSBuild | Microsoft Docs](https://docs.microsoft.com/en-us/visualstudio/msbuild/downloadfile-task?view=vs-2022) would be a good replacement for our task.

[2022-08-22 17:35] dotnet-eng-status[bot] opened #10535 "Build failed: dotnet-arcade-services-weekly/main #2022082202"
Build [#2022082202](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1959081) failed

## :x: : internal / dotnet-arcade-services-weekly failed

### Summary
**Finished** - Mon, 22 Aug 2022 17:35:43 GMT
**Duration** - 4 minutes
**Requested for** - 🕹️ Matt Galbraith 📺
**Reason** - manual

### Details

#### SynchronizeSecrets
- :warning: - [[Log]](https://dev.az

[2022-08-22 17:48] MattGal commented on #10442
This has been green for 5 days, closing.

[2022-08-22 17:48] #10442 closed

[2022-08-22 18:00] #10507 closed

[2022-08-22 18:02] missymessa commented on #10495
@premun I'm looking at the link you provided, which link were you expecting to be a link that isn't?

[2022-08-22 18:09] dotnet-eng-status[bot] opened #10536 "Build failed: arcade-services-internal-ci/main #20220822.1"
Build [#20220822.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1958662) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Mon, 22 Aug 2022 18:09:21 GMT
**Duration** - 243 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-22 18:15] MattGal commented on #10535
Fixed in https://dev.azure.com/dnceng/internal/_build/results?buildId=1959081&view=logs&j=adcf571c-cc13-5e72-b2ad-561cfc37a926

[2022-08-22 18:15] #10535 closed

[2022-08-22 18:15] MattGal commented on #10528
Fixed in https://dev.azure.com/dnceng/internal/_build/results?buildId=1959081&view=logs&j=adcf571c-cc13-5e72-b2ad-561cfc37a926

[2022-08-22 18:15] #10528 closed

[2022-08-22 18:48] MattGal commented on #10470
The two projects that broke had explicit DLL inclusion via a hintpath  `$(PkgMicrosoft_DotNet_Arcade_Sdk)\tools\netcoreapp3.1\Microsoft.DotNet.Arcade.Sdk.dll`

Updating both to "net7.0" fixed the build, putting in validate til the PR succeeds.

[2022-08-22 19:48] AlitzelMendez commented on #10495
oh I think he is talking about the Failure log

![Image](https://user-images.githubusercontent.com/6895254/186006194-33963cce-8090-4fc0-88a9-d271eb3a1366.png)

taking a look!

[2022-08-22 19:54] adiaaida commented on #10470
Well that... makes sense. Thanks.

[2022-08-22 19:56] adiaaida commented on #10470
I completed the PR

[2022-08-22 19:56] MattGal commented on #10470
Looks sorted, closing.

[2022-08-22 19:56] #10470 closed

[2022-08-22 20:24] net-helix[bot] opened #10537 "Test known issue not displayed"
A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

Failure undetected - It's a known issue as of 12 days ago: https://github.com/dotnet/runtime/issues/73688; I know it's hard since it's a whole workitem failure and not just a test. Likely needs business logic for it to be actionable, like helix log search.

Feedback submitted by @hoyosjs, who requested further co

[2022-08-22 20:28] dotnet-eng-status[bot] opened #10538 "Build failed: dotnet-arcade-validation-official/main #20220822.2"
Build [#20220822.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1959303) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Mon, 22 Aug 2022 20:27:46 GMT
**Duration** - 98 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET En

[2022-08-22 21:04] #10538 closed

[2022-08-22 21:05] missymessa commented on #10537
@ulisesh thinking that the known issue isn't being picked up because the error is in the work item logs? (I haven't investigated Juan's issue, however)

[2022-08-22 21:13] hoyosjs commented on #10537
Sorry - I am not saying there's an issue with the JSON + Tag. That wouldn't work as you said. However, the issue has been seen in other PRs within a few days - it's just not easy to identify since it's a whole workitem crash.

[2022-08-22 21:13] AlitzelMendez commented on #10495
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25202

Thanks @premun for reporting this!

[2022-08-22 21:57] AlitzelMendez commented on #10471
In order to know the related builds, we see the build related to the check runs posted by AzDO. In this case azdo posted check runs for both builds.
- https://github.com/dotnet/runtime/pull/73983/checks?check_run_id=7864592969
- https://github.com/dotnet/runtime/pull/73983/checks?check_run_id=7864037780

I will look how often this happens, if this is a known issue or we need to open an IcM

[2022-08-22 22:12] garath commented on #10515
PR to make that path retry more smarter: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/25208

[2022-08-22 22:24] MattGal opened #10539 "Update "ImageFactory" service principal before 9/14/2022"
@ilyas1974 FYI, marked critical as we need to take action on this in the next three weeks.

We have a service principal which needs updating but we're having challenges with it (ping me on Teams for details).  Its usage is hard-coded into the dotnet-helix-machines CreateCustomImage project and will need to be parameterized out if we change to a new one.

[2022-08-22 22:29] MattGal opened #10540 "Dump collection broken on windows.10.arm64v8.open machines"
As reported by @mangod9 in Teams, all but 15 of these machines are not currently taking core dumps when processes crash.  I am checking out a few examples and will attempt to fix them shortly.

[2022-08-22 22:45] MattGal commented on #10525
re-onlined machine and monitored the next couple dozen work items it took, closing.

[2022-08-22 22:45] #10525 closed

[2022-08-22 22:49] AlitzelMendez commented on #10456
Update:
Observed this alert and there were two kinds of errors:
1. Octokit.ApiException at Octokit.Connection.HandleErrors - An error occurred with this API request:
    - Last triggered
    - Happened couple of times but got fixed after retrying, looks like a short outage. seems to be safe to close
1. Failed to create Queue Insights for repo: dotnet/arcade-services pr: 1985
    - This should be f

[2022-08-22 23:21] ulisesh commented on #10537
Now that we have support for known issues for tests build analysis should be able to identify this error.

A known issues with the correct label and the error string like **StreamShutdown failed: QUIC_STATUS_INVALID_PARAMETER** should be enough. @hoyosjs we are very interested in seeing this working as we just release the feature. If the error string make sense, can you please update your issue wi

[2022-08-22 23:25] dotnet-eng-status[bot] opened #10541 "Build failed: dotnet-arcade-validation-official/main #20220822.3"
Build [#20220822.3](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1959757) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Mon, 22 Aug 2022 23:25:05 GMT
**Duration** - 106 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-22 23:32] AlitzelMendez commented on #9637
closing as this was done in: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/24827

[2022-08-22 23:32] #9637 closed

[2022-08-22 23:33] hoyosjs commented on #10537
Oh, I know it was stages to roll out but didn't know it was out in the wild. Will do. Thanks!

[2022-08-22 23:41] MattGal commented on #10534
Created https://github.com/dotnet/arcade/pull/10542

[2022-08-22 23:47] mairaw opened #10543 "[Tracking] Consider renaming "up-for-grabs" label to "help wanted""
Using the default label name is especially recognized by GitHub and we're trying to get a consistent experience for newcomers. See context at https://github.com/dotnet/runtime/issues/71496

I also couldn't find the label called **good first issue**.

You should also consider adding the project to https://up-for-grabs.net/
See an example PR at https://github.com/up-for-grabs/up-for-grabs.net/pull/3

[2022-08-23 00:06] MattGal commented on #10521
I'm going to resolve this because it's been green for a day, but some notes:

I looked at all the worst-performing queries in this time range

[code]

The worst offender (a 2+ minute call) fails in a Kusto call with "A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.

[2022-08-23 00:06] #10521 closed

[2022-08-23 00:16] ulisesh commented on #10424
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25201

[2022-08-23 00:17] MattGal commented on #10468
chatted with @alexperovich and he's actively working on this, so I've assigned it to him.

[2022-08-23 01:17] dotnet-eng-status[bot] opened #10544 "Build failed: dotnet-arcade-validation-official/main #20220822.4"
Build [#20220822.4](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1960080) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Tue, 23 Aug 2022 01:17:40 GMT
**Duration** - 102 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-23 01:46] dotnet-eng-status[bot] opened #10545 "Build failed: dotnet-arcade-validation-official/main #20220822.5"
Build [#20220822.5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1960155) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Tue, 23 Aug 2022 01:46:20 GMT
**Duration** - 102 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### P

[2022-08-23 03:03] dotnet-eng-status[bot] opened #10546 "Build failed: dotnet-arcade-validation-official/main #20220822.6"
Build [#20220822.6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1960376) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Tue, 23 Aug 2022 03:03:37 GMT
**Duration** - 100 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-23 07:37] dotnet-eng-status[bot] opened #10548 "Production - [Alerting] Android devices disconnected"
:broken_heart: Metric state changed to *alerting*

  - *FailureRate {Machine=DNCENGWIN-079}* 85
  - *FailureRate {Machine=DNCENGWIN-112}* 87

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=15&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated

[2022-08-23 08:34] premun opened #10549 "Enable VMR sync from non-GitHub remotes"
## Context

Currently, the code supports synchronization from GitHub public repos. It should be easy to add support for AzDO / private GitHub repositories as the code from DarcLib that it's using is prepared for that.

## Goals
- Figure out how to wire the appropriate tokens to the `IRemoteFactory` and make it decide based on the URI what remote it should create.
- Enable overriding the remote in

[2022-08-23 09:21] dkurepa commented on #10548
I've disabled the machines and created an ICM https://portal.microsofticm.com/imp/v3/incidents/details/329692653/home

[2022-08-23 09:53] premun opened #10550 "Allow shallow fetching only necessary commits in the VMR synchronization"
## Problem
The VMR synchronization currently takes the target commit we want to synchronize to and walks down the commit tree until it finds the commit we're synchronizing from. We then synchronize these commit-by-commit as it has a clear path between them (it can jump-sync them too).

This is a problem because as we now follow the SHAs in dotnet/installer's `Version.Details.xml`, we can theoretic

[2022-08-23 10:52] ViktorHofer commented on #10516
Unsure if that would work for the Visual Studio case. @rainersigwald @marcpopMSFT do you know the package version requirements for VS components?

[2022-08-23 13:53] dotnet-eng-status[bot] opened #10553 "Production - [Alerting] Helix API Average Response Time"
:broken_heart: Metric state changed to *alerting*

  - *Server response time* 8879.989774618145

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/KCgbETlfXtEEjtmxUxmO1aSAjOBQ9d.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/arcadeAvailability/service-availability?tab=alert&viewPanel=19&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>A

[2022-08-23 14:06] rainersigwald commented on #10516
VS is fairly flexible on when it can update dependencies AFAIK but it can be a long process of onion-peeling to get them in--I generally have to coordinate with @jaredpar and @AArnott and get review from several teams that have dependencies.

However, I'm not sure that the SDK version needs to match the MSBuild/VS version. .NET Framework should be able to load assemblies of different versions side

[2022-08-23 15:12] MattGal commented on #10534
PR merged, will leave in Validate for a day or two to remind myself to check in on the change flowing.

[2022-08-23 15:34] riarenas commented on #10534
Is this trying to fix builds such as these? https://dev.azure.com/dnceng/internal/_build/results?buildId=1960569&view=results (it looks like it)

If so, I think we'll need to flow this change manually to the 'latest' engineering channel, as automated promotions of arcade are currently blocked on the installer repo being broken. (see https://github.com/dotnet/arcade/issues/10546 and family)

[2022-08-23 15:38] MattGal commented on #10534
It is, but I'd wager this is an intermittent behavior caused by Http Client timeouts, so it should succeed eventually no?

[2022-08-23 15:39] jaredpar commented on #10516
For major releases it's still an onion-peeling effort but overall I think we have a decent handle on the problem. Basically it's a slog but we know the path we have to take.

Servicing fixes are a different problem entirely because the runtime uses different assembly versions for the different binaries. The `net6.0` binaries end up with 6.0.0.0 while `netstandard2.0` ends up with `6.0.0.1`. That i

[2022-08-23 16:27] epananth commented on #10104
Alpine leg error fix is merged and I did see some positive runs in runtime : https://dev.azure.com/dnceng/internal/_build/results?buildId=1960979&view=results
But we see some warning : https://dev.azure.com/dnceng/internal/_build/results?buildId=1960979&view=logs&j=79152c53-978f-5956-309f-f18ecaacb149&t=d038bec2-71ea-5576-6a31-c1121da57f0d

[2022-08-23 16:33] #10541 closed

[2022-08-23 16:33] AArnott commented on #10516
VS actually does have multiple versions of many assemblies (too many, in fact). We're meeting regularly now to try to reduce both the duplication of the same version of assemblies and the span of versions that a given assembly simple name has. But in the meantime, nothing stops .NET 6 processes from having and sharing another version of the assembly.
The design meetings and prototypes we're buildi

[2022-08-23 16:34] #10546 closed

[2022-08-23 16:34] #10544 closed

[2022-08-23 16:40] #9461 closed

[2022-08-23 16:41] garath commented on #9461
It looks like this has passed, closing.

[2022-08-23 16:51] MattGal commented on #10540
I updated 122 of 126 machines to have working core dump settings for ARM64 processes, and have this ticket open to fix up the rest:

https://portal.microsofticm.com/imp/v3/incidents/details/329766967/home  (Some of the machines were stuck rebooting)

[2022-08-23 17:34] hoyosjs commented on #10537
@ulisesh can you please check if I did somehting wrong: https://github.com/dotnet/runtime/issues/73688

[2022-08-23 17:48] AlitzelMendez commented on #9686
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25226

I didn't order by build id because with the new org the build id is no longer represent which test was executed first overall

[2022-08-23 18:07] riarenas opened #10554 "Cost/Benefit analysis for technical debt for arcade-services"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Cost/benefit analysis for https://github.com/dotnet/arcade/issues/8836

[2022-08-23 18:12] dougbu commented on #10516
I think the `$(AssemblyVersion)` rules in dotnet/runtime are the same as in dotnet/aspnetcore: Basically, let Arcade control the numbers (increasing in every release) except for .NET Framework assemblies that match assemblies in the shared framework (but ship separately). Since S.R.M. is in Microsoft.NETCore.App, that _should_ mean the `netstandard2.0` assembly version is `6.0.0.0` too. That's wha

[2022-08-23 18:28] epananth commented on #10104
SBOM team has not completed the test for the alpine leg, so they rolled back

[2022-08-23 18:45] riarenas commented on #10015
This is rolled out and working, https://github.com/dotnet/arcade/pull/10551/checks?check_run_id=7972871246 for instance has the predictions for arcade's pipeline, but the prediction was off by a whopping 3 minutes.

[2022-08-23 18:45] #10015 closed

[2022-08-23 18:51] dotnet-eng-status[bot] opened #10555 "Build failed: arcade-services-internal-ci/main #20220823.1"
Build [#20220823.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1961451) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Tue, 23 Aug 2022 18:51:03 GMT
**Duration** - 191 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-23 19:07] #10266 closed

[2022-08-23 19:39] #9908 closed, assigned to garath

[2022-08-23 19:57] MattGal commented on #10553
In this (brief) time range, I saw two problems:

Couple runs with total failure spamming the workitem endpoint, getting to 429s:

9d1529b4-5a64-4215-a304-002622194877
28a6205d-1b44-4ffe-acdf-a10ad14cf749

(these are just what happens when the file being run doesn't exist

The bulk of the problem was 480 `System.Net.Sockets.SocketException`s from Kusto client timeouts though, inside `Kusto.Data.Net

[2022-08-23 19:58] ulisesh commented on #10537
The issue has everything it needs, I'll check why build analysis isn't finding any hits

[2022-08-23 20:04] riarenas commented on #10555
Flaky test. Succeeded on retry

[2022-08-23 20:04] #10555 closed

[2022-08-23 20:04] riarenas commented on #10536
Succeeded on retry

[2022-08-23 20:04] #10536 closed

[2022-08-23 20:40] AArnott commented on #10516
Ah, ok. We do have this problem already (I think with S.C.I.) We solve it be applying a binding redirects that includes the backwards element. For example: `0.0.0.0-6.0.0.1->6.0.0.0`. So folks can reference the netstandard2.0 6.0.0.1 assembly version and still work against the net472 6.0.0.0 assembly version. Folks should _not_ have to avoid referencing the assembly version that nuget naturally pr

[2022-08-23 20:50] AlitzelMendez commented on #10456
Ricardo's pr was merged and succeeded and the other issues is no longer happening. closing

[2022-08-23 20:50] #10456 closed

[2022-08-23 21:03] dotnet-eng-status-staging[bot] opened #10556 "Staging - [Alerting] Helix AutoScaler Service Stopped Running"
:broken_heart: Metric state changed to *alerting*

  - *fabric:/CustomAutoScale/AutoScaleActorService* 0
  - *fabric:/CustomAutoScale/ProcessAutoScaleService* 0

![Metric Graph](https://dotnetgrafanastaging.blob.core.windows.net/grafana/F2vrjXqP2FhdKsJF8p4GExccVdAcZo.png)

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/arcadeAvailability/service-availability?tab=alert

[2022-08-23 21:07] epananth commented on #10104
Updated test runs on the issue. MAGICALLY the builds for the issue microsoft/dropvalidator#455 starting to work.

PS : I have NOT made any changes to this piece of code. IDK if the sbom team pushed any change that fixed this issue

[2022-08-23 21:37] dotnet-eng-status-staging[bot] opened #10557 "Staging - [Alerting] Autoscale: Minutes to scale-up from zero machine alert"
:broken_heart: Metric state changed to *alerting*

  - *WaitTime {Queue=ubuntu.1804.amd64.android.open.arcade}* 51

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queues/queue-monitor?tab=alert&viewPanel=62&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-54aa0d7e647e46ff

[2022-08-23 21:41] MattGal commented on #10556
I've deleted the application in staging and will keep this issue as a reminder to delete this alert once the code is actually gone.  Until this is happily running in the helix prod environment I will just let it stay alerting.

[2022-08-23 22:06] MattGal commented on #10557
This was timeouts in starting the Android 29 emulator on these devices, self resolved.

[2022-08-23 22:06] #10557 closed

[2022-08-23 22:19] MattGal opened #10558 "Need to reduce Kusto usage in engsrvprod"
As part of investigating https://github.com/dotnet/arcade/issues/10553, I found lots of Kusto connection problems, bursting in the time of the slow API responses.  I followed up with the Kusto team and they were fairly shocked by our usage patterns.

We need to discuss this so I am marking with the "Needs Triage" label to discuss this week.  Also tagging @ChadNedzlek in case he wants to pile on an

[2022-08-23 22:24] dotnet-eng-status[bot] opened #10559 "Production - [Alerting] Apple simulator failure rate alert"
:broken_heart: Metric state changed to *alerting*

  - *FailureRate {Machine=dci-mac-build-146}* 100

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=18&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-36d07fceeaf0472b804d8358b2198e

[2022-08-23 22:34] missymessa commented on #10558
/cc @AlitzelMendez and @ulisesh

[2022-08-23 22:34] MattGal commented on #10558
https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service/pullrequest/25239 should 1/9th the usage by the AutoscaleActorService (number 3 on the list)

[2022-08-23 22:35] MattGal commented on #10553
Investigated it, filed https://github.com/dotnet/arcade/issues/10558, this will keep happening but no more actions required presently.

[2022-08-23 22:35] #10553 closed

[2022-08-23 22:45] ChadNedzlek commented on #10558
The API usage is shockingly high... Who's calling it so much? The "is this job done" call shouldn't be that expensive...

[2022-08-23 22:46] MattGal commented on #10559
offlined machine, trying the instructions now...

[2022-08-23 22:47] missymessa commented on #10558
I had to...

![image](https://user-images.githubusercontent.com/47990216/186279263-e81c54c1-3d42-4e5e-81fc-9ff7446d3d90.png)

(sorry, not sorry)

[2022-08-23 22:47] ChadNedzlek commented on #10558
The AutoScale thing REALLY needs to not query every queue individually, it should be faily easy to drop it's usage by like 99% by making the queries in bulk up front.

[2022-08-23 22:50] riarenas commented on #10558
The top two are so overwhelmingly above the rest that it seems like even if we reduce everything else, it's still too much? 111 days of usage per 10 days is a lot.

[2022-08-23 22:51] garath commented on #10558
Can certainly reduce Grafana's use by auditing the alert queries. Certainly there are many that don't need to query as often as they are. I'm also curious if the heavy Grafana queries are interesting at all.

[2022-08-23 22:57] AlitzelMendez commented on #10558
I think that for AzureDevOpsTestAggregation we can improve one of the queries (the most expensive one) I will open an issue and work on that

[2022-08-23 23:05] AlitzelMendez opened #10560 "Improve query on AzureDevOpsTestAggregation"
In order to get the last time that AzureDevOpsTestAggregation ran we are doing a query of max reported date. Unfortunately in order to do that we are analyzing all the records on the table that is about 300GB
![image](https://user-images.githubusercontent.com/6895254/186280593-50ee30e5-77f7-4eee-b455-2eadcee67052.png)

if we change this to top 1 by date, we get the following performance
![image](h

[2022-08-23 23:10] missymessa commented on #10560
/cc @ChadNedzlek

[2022-08-23 23:12] riarenas commented on #10558
I'm not surprised, but it looks like QueueInsights queries make up a lot of the most costly queries from the BuildResultAnalysisProcessor and we'll have to revisit them, or consider serving cached information instead of querying it live for every PR.

[2022-08-23 23:19] MattGal commented on #10559
ran the instructions, rebooted the machine, will wait til it takes some work.

[2022-08-23 23:22] ulisesh commented on #10537
Turns out that there is a bug in build analysis that prevents test known issues from being displayed, I'll fix it but unfortunately the fix will be roll out next Wednesday. FYI, this is how we were expecting the known issue to be showed https://gist.github.com/ulisesh/1b616e4188ef0af87b05fe7e1e99c989

@hoyosjs, thanks for working with us

[2022-08-23 23:49] ulisesh commented on #10537
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25240

[2022-08-24 01:14] ChadNedzlek commented on #10558
We should use "Cpu" usage and not necessarily duration. A lot of the HelixAPI have long durations... but only because the cluster was overloaded by other queries. (If you run some queries that took 3 minutes earlier, they only take 0.3 seconds now).

[2022-08-24 01:15] ChadNedzlek commented on #10560
Ooo, that should work. Weird that the summarize max is so much worse than "top 1", you'd think they'd be more or less the same thing.  Kusto be weird, I guess. :-)

[2022-08-24 01:38] AlitzelMendez commented on #10560
https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25244

[2022-08-24 02:15] dotnet-eng-status[bot] opened #10561 "Build failed: dotnet-arcade-validation-official/main #20220823.2"
Build [#20220823.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1962728) failed

## :x: : internal / dotnet-arcade-validation-official failed

### Summary
**Finished** - Wed, 24 Aug 2022 02:15:32 GMT
**Duration** - 136 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate Publishing
- :x: - [[Log]](https://dev.azure.c

[2022-08-24 09:32] dkurepa opened #10562 "wix.targets Builds failing with exit code 103"
A customer reported having a build failing with exit code 103. https://github.com/dotnet/windowsdesktop/pull/3114#issuecomment-1225012209. I'm not familiar with this so I'm not sure where to even start. Failing build: https://dev.azure.com/dnceng/public/_build/results?buildId=1962423&view=logs&j=fdea2036-e6b2-512d-a259-98f88c972586&t=af096630-56f5-5928-33b7-4066f690cbe3

[2022-08-24 11:34] premun commented on #10554
I am personally curious/invested in this as I started adding new functionality to `DarcLib` (with new commands in `darc.exe`) - I am adding new commands for managing the VMR (I also use DarcLib in installer in an MSBuild task). I expect to have more and frequent changes in the coming months.

What is unclear to me in the original issue - how should we deal with the dependencies between the various

[2022-08-24 13:10] akoeplinger commented on #10548
@dkurepa could you please disable DNCENGWIN-077 as well?

[2022-08-24 13:15] dkurepa commented on #10548
Disabled DNCENGWIN-077  and added to the ICM

[2022-08-24 15:17] dotnet-eng-status[bot] opened #10566 "Build failed: dotnet-arcade-validation-official/main #20220824.1"
Build [#20220824.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1963973) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 24 Aug 2022 15:16:48 GMT
**Duration** - 105 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-24 15:53] MattGal commented on #10558
Good point but I think we care about both equally because connections get limited and are considered in throttling / failure to connect scenarios.   One thing we can also consider is scaling out, though not until budget considerations are more settled.

[2022-08-24 16:16] missymessa commented on #10560
This is a huge TIL with Kusto perf :D

[2022-08-24 16:38] MattGal commented on #10559
OK seems happy.

[2022-08-24 16:38] #10559 closed

[2022-08-24 16:46] MattGal commented on #10539
I managed to take ownership of this principal, additionally assigning it to three folks from LT, and updated the secrets in the vaults used.

[2022-08-24 16:46] #10539 closed

[2022-08-24 16:47] MattGal commented on #10351
As the system in question is due for decommissioning or full reimaging, I am closing this issue.

[2022-08-24 16:47] #10351 closed

[2022-08-24 17:11] dotnet-eng-status[bot] opened #10568 "Production - [Alerting] On-Prem Machines Heartbeating By Queue alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating {QueueName=windows.10.amd64.pixel.perf}* 50

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/M1fp2TndngIU7zBX69z6ptBmav8PkF.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueOverview/on-premises-helix-queue-status?tab=alert&viewPanel=9&orgId=1)

@dotnet/dnceng, please i

[2022-08-24 17:17] MattGal commented on #10568
Regular rollout reboot shenanigans, I'll go kick the 1 machine.

[2022-08-24 17:21] MattGal commented on #10568
kicked it, back online

[2022-08-24 17:21] #10568 closed

[2022-08-24 17:34] MattGal commented on #10540
All machines should be capable of making dumps now (2 will likely need reimaging) and I verified that dumps are being uploaded by a majority of machines, closing.

[2022-08-24 17:34] #10540 closed

[2022-08-24 17:36] mangod9 commented on #10540
Thanks @MattGal for your help on this. @dotnet/crossgen-contrib -- hoping this will help with capturing some win arm64 crashes.

[2022-08-24 17:40] #10566 closed

[2022-08-24 18:05] dotnet-eng-status[bot] opened #10569 "Build failed: dotnet-arcade-validation-official/main #20220824.2"
Build [#20220824.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1964266) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 24 Aug 2022 18:04:43 GMT
**Duration** - 106 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-24 18:11] garath commented on #10515
Rolled-out today!

[2022-08-24 18:11] #10515 closed

[2022-08-24 18:31] MattGal commented on #10473
Rolled out, closing.

[2022-08-24 18:31] #10473 closed

[2022-08-24 19:36] dotnet-eng-status[bot] opened #10570 "Production - [Alerting] Android devices lost internet connectivity"
:broken_heart: Metric state changed to *alerting*

  - *NoInternet {Machine=DNCENGWIN-095}* 8

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=17&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-f20b4d64b76749409d670fa7ac3f160e

</d

[2022-08-24 19:40] markwilkie commented on #10558
This is a great discussion

[2022-08-24 19:43] markwilkie commented on #10015
@ilyas1974 - this is probably something to put in our next newsletter thingy

[2022-08-24 19:45] markwilkie commented on #10543
oh cool - this is a good idea

[2022-08-24 19:48] markwilkie commented on #10504
This is interesting for sure.  The primary goal however is to track merge-on-red where all the failures don't have a matching known issue.  That's the graph I'll take to tactics and the M2's.

[2022-08-24 20:14] MattGal commented on #10556
I applied the same changes as in my PR, so it cleared.  PR: https://github.com/dotnet/arcade-services/pull/1990#pullrequestreview-1084342737

[2022-08-24 20:17] MattGal commented on #10534
Closing as this is just a robustness change and the linked issue is closed.

[2022-08-24 20:17] #10534 closed

[2022-08-24 20:21] #10569 closed

[2022-08-24 21:06] ChadNedzlek commented on #10558
I wonder if it's not JUST kusto usage, but actual SF node usage too.  If some node is burning the network down trying to fetch all these files, any other network request that node makes (like, say, if the Helix API is running on that node and trying to talk to SQL/Kusto at the time), is going to get slowed WAY down.

I think our service might be growing complex enough that just having one node typ

[2022-08-24 21:14] jonfortescue opened #10571 "Visual Studio version update tick-tock onboarded to vendor team"

[2022-08-24 21:17] ChadNedzlek commented on #10558
Note: That might also solve our capacity problem, because the other node types could be of a machine that has more/better capacity, so we can move some of the overly expensive node workloads there to free up the frontend processing power.

[2022-08-24 21:29] missymessa opened #10573 "Improve Test Reporting Services"
As a part of DevWF, we created a series of services to support queries and analytics of test result data from the product teams. Unfortunately, these services consume a lot of our resources, and we might have a better experience with a proper data analytics solution. This would also mean it may be possible to expand our data ingestion to include passing results instead of merely aggregating the nu

[2022-08-24 22:01] alexperovich commented on #10558
The node capacity and metrics thing we have should be placing the hungry services separate from each other. A second node type is quite a bit more complex to do, but gives a way to force isolation. We need to make sure that every service that may kill the network has the proper metrics set.

[2022-08-24 22:04] ChadNedzlek commented on #10558
The problem is our node are over 100% network metric, so it's basically unable to actually isolate them. And no service we have is zero network, so they might always end up on a node that's heavy network usage. Like the API doesn't use a LOT of network.  But if it ends up on a node doing 100% network, it's going to end up being sluggish.  The only way would be if the network heavy services didn't

[2022-08-24 22:05] ChadNedzlek commented on #10558
It feels like we sort of need backend services, where throughput is key (for things like the analysis processor), but then frontend services where responsiveness is key.  That's tricky to do I think with only a single node type.

[2022-08-24 22:07] alexperovich commented on #10558
Yea, that would make sense as a split of node types

[2022-08-24 22:16] ilyas1974 commented on #10246
I have implemented the changes recommended by Michael

[2022-08-24 22:16] #10246 closed

[2022-08-24 22:17] ilyas1974 commented on #10077
moving this to FR so we can address it with DDFUN

[2022-08-24 22:17] ilyas1974 commented on #10247
I have verified that this information is being collected and is now available within our reports.

[2022-08-24 22:17] #10247 closed

[2022-08-24 22:25] mmitche opened #10574 "BCP for .NET 6+"
A business continuity plan is a document that identifies the processes that are involved in producing a product, along with dependencies that those processes may have. Those dependencies may also have their own BCPs. The intention is that the BCPs of a product and its dependencies provide a recipe that enables continuity of the business in light of changes in resources.

In addition to an overall

[2022-08-24 22:25] mmitche opened #10575 "Create BCP outline for .NET Core Build and Staging processes."

[2022-08-24 22:39] mmitche opened #10576 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-24 22:56] mmitche commented on #10576
This is .NET 8, not .NET 7 work.

[2022-08-24 23:23] epananth commented on #10104
All the repos except fsharp worked, trying to see why that one is spl.

[2022-08-24 23:57] net-helix[bot] opened #10577 "S360 / Create OSOB Artifact to set required registry values"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3390)

[2022-08-24 23:57] MattGal opened #10578 "Help teams move servicing builds to -Svc NetCore1ES pool providers"
As a push to relieve some pain from release builds (and, indirectly, main builds) I've opened the following PRs to release branches which are not using "-Svc-" pool providers.

[code]

## PRs

### Interactive:
- [ ] release/jupyter: https://github.com/dotnet/interactive/pull/2305

### Arcade:
- [x] 6.0: https://github.com/dotnet/arcade/pull/10572 (pending)
- [x] 3.x: Not needed

### AspNetCore:
-

[2022-08-25 00:35] dotnet-eng-status[bot] opened #10579 "Build failed: arcade-services-internal-ci/main #20220824.2"
Build [#20220824.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1964944) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Thu, 25 Aug 2022 00:34:44 GMT
**Duration** - 195 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-25 01:32] dotnet-eng-status-staging[bot] opened #10580 "Staging - [Alerting] Servicing Builds Running in R&D Pools Alert"
:broken_heart: Metric state changed to *alerting*

  - *count_* 2837

![Metric Graph](https://dotnetgrafanastaging.blob.core.windows.net/grafana/sSi2Yzgm3QqOUL4Q0IpKYSMjinglkP.png)

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/historical/backend-status?tab=alert&viewPanel=67&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information belo

[2022-08-25 03:52] dotnet-eng-status[bot] opened #10581 "Build failed: arcade-services-internal-ci/main #20220824.3"
Build [#20220824.3](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1965442) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Thu, 25 Aug 2022 03:52:10 GMT
**Duration** - 186 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-25 07:21] premun commented on #10077
I think this might be completed already?

[2022-08-25 07:24] premun commented on #10570
For anyone looking at this - this is a new alert and its sensitivity might be off so please have a look in Kusto first

[2022-08-25 08:04] #10261 closed

[2022-08-25 09:14] premun opened #10583 "Handle git submodules"
## Context

Individual repositories can have submodules. We need to figure out what is allowed, when and how to handle submodule fetching.

## Problems
- We should figure out whether we need to check the submodules in or not
- The `.gitmodule` file is only allowed in the root of the repository
- After we fetch the submodules, they might contain binaries that were previously removed in the tarball

[2022-08-25 13:28] riarenas commented on #10581
Latest main build succeeded

[2022-08-25 13:28] #10581 closed

[2022-08-25 13:28] riarenas commented on #10579
latest main build succeeded: https://dev.azure.com/dnceng/internal/_build/results?buildId=1966045&view=results

[2022-08-25 13:28] #10579 closed

[2022-08-25 13:37] riarenas commented on #10531
All deployments were succesful.

[2022-08-25 13:37] #10531 closed

[2022-08-25 14:19] dkurepa commented on #8969
After talking with Sam Tran, I found out that they have SBOM generation on their radar, but it's not going to be done soon (he mentioned end of 2022). Reading SBOM doesn't sound like the best solution for us, so I think we should go with the manual approach. We have a few options there:
- We could use vendors for this process, as it is straight forward
- Ilya mentioned that this could be a part of

[2022-08-25 14:35] premun commented on #10509
Rolled out

[2022-08-25 14:35] premun commented on #10368
Rolled out

[2022-08-25 14:35] #10368 closed

[2022-08-25 15:21] MattGal commented on #10580
I'm working on this via https://github.com/dotnet/arcade/issues/10578.

[2022-08-25 16:19] missymessa commented on #9948
OSOB rolled out. Ricardo validated that the change in prod works, so the Arcade Services revert change has been merged!

[2022-08-25 16:43] missymessa commented on #10561
Later runs were successful. Closing.

[2022-08-25 16:43] #10561 closed

[2022-08-25 16:56] adiaaida commented on #10239
All things look good. Closing.

[2022-08-25 16:56] #10239 closed

[2022-08-25 17:00] #10486 closed

[2022-08-25 17:02] #10495 closed

[2022-08-25 17:02] #10514 closed

[2022-08-25 17:03] adiaaida opened #10586 "Just checking"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-08-25 17:03] #10586 closed

[2022-08-25 17:04] AlitzelMendez commented on #9914
This has been shipped. Now we can use **blocking-clean-ci** label for the known issues feature.
if you have any question @hoyosjs / @agocke let me know!

[2022-08-25 17:04] #9914 closed

[2022-08-25 17:07] adiaaida commented on #10543
I'm fine with this change. We'd need to update the label and the update the async triage tool to ignore `help wanted` labeled issues instead of (or in addition to during transition) `up-for-grabs`

[2022-08-25 17:11] missymessa commented on #10058
PAT for both dnceng and dnceng-public was created by Alex and added to secret manager configs by Ali. Should be good to go there.

[2022-08-25 17:12] AlitzelMendez commented on #10504
so I just should remove the other categories?

because what the graph is showing, which probably I need to rephrase, is the status of the pull request when it was merged so it has the follow categories:

-  **Unique test/build errors** : At least one of the failures on the pull request is unique to this pull request
-  **Known issues**: All the errors were known issues (GitHub known issues or shar

[2022-08-25 17:13] garath commented on #9865
ICM Update: Fix expected in M209, which, if I read the patterns correctly, will start rolling out next week.

[2022-08-25 17:15] adiaaida commented on #10203
Can this be closed?

[2022-08-25 17:16] garath commented on #9948
@missymessa good to close this issue then?

[2022-08-25 17:17] adiaaida commented on #9948
needs to roll out still, I think?

[2022-08-25 17:18] garath commented on #9948
Ah! Yes, I missed that. Until next week then!

[2022-08-25 17:28] net-helix[bot] opened #10587 "AzDO Issue #3391"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3391)

[2022-08-25 17:29] adiaaida commented on #10587
@AlitzelMendez AzDO work item mirror is still working!

[2022-08-25 17:29] #10587 closed

[2022-08-25 17:47] riarenas commented on #10288
This is already done. The check is now called Queue insights (preview)

[2022-08-25 17:47] #10288 closed

[2022-08-25 17:49] riarenas commented on #10290
Closing this. Our efforts to help out with kusto usage exceptions are consolidated into https://github.com/dotnet/arcade/issues/10558

[2022-08-25 17:49] #10290 closed

[2022-08-25 17:57] riarenas commented on #10340
I think this is probably the most actionable thing we can do to reduce kusto usage from Queue insights right now so I'll take a look at this.

[2022-08-25 18:01] #10203 closed

[2022-08-25 18:24] mmitche commented on #9359
@premun Updated the title to more accurately reflect the work

[2022-08-25 18:25] dagood commented on #10578
I currently happen to be working on a change that will make microsoft/go builds consistently (automatically) use the Svc pool in release branches, but I'm curious what this means. Is it internal pain, or will something be different on the repo side?

(Maybe https://github.com/dotnet/arcade/blob/main/Documentation/AzureDevOps/AzureDevOpsOnboarding.md#agent-queues could be updated to include the "wh

[2022-08-25 18:30] MattGal commented on #10578
@dagood All I meant by pain there is that the builds trying to go through the "normal" public pool are bottlenecking while the -Svc pool, while having fewer maximum machines, is significantly less busy.  Lots of folks trying to get out 7.0 RC1 builds were hitting this.

[2022-08-25 18:38] riarenas commented on #9520
I merged https://dev.azure.com/dnceng/internal/_wiki/wikis/DNCEng%20Services%20Wiki/965/Setting-Up-Pim directly into the wiki by mistake.

[2022-08-25 18:40] mmitche opened #10588 ".NET 8: Vertical Build Tooling"
This epic covers vertical build tooling for .NET 8. The tooling has two pri-0 goals:

- [ ] Enable teams to identify and triage orchestration points within the .NET 8 build.
- [ ] Enable continued auditing of orchestration points.

This tooling will require understanding the build YAML as well as the source-build (or product build) dependency graphs and applying rules and analysis on top of them.

[2022-08-25 18:41] mmitche commented on #10100
https://github.com/dotnet/arcade/issues/10588

[2022-08-25 19:01] dagood commented on #10578
I see, thanks. 😄 Wasn't aware `Svc` vs. non`Svc` pools actually had different sets of machines--makes sense.

[2022-08-25 19:26] dotnet-eng-status[bot] opened #10589 "Build failed: arcade-services-internal-ci/main #20220825.2"
Build [#20220825.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1966785) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Thu, 25 Aug 2022 19:25:53 GMT
**Duration** - 207 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-25 19:56] AlitzelMendez opened #10590 "Add link to open new known issues on test section"
When we added the link to open known issues, we were only supporting build known issues, so we didn't put a link on the test section, as this has changed, we are going to add that now

[2022-08-25 20:30] riarenas commented on #9098
Reopening as we're thinking of treating this separately from #9153

[2022-08-25 20:39] ilyas1974 commented on #10397
I think this can be closed in favor of the other issue.

[2022-08-25 20:39] #10397 closed

[2022-08-25 20:43] missymessa commented on #9948
This was a two-part fix. The first part was rolled out with OSOB this week, next week, the second part will go out with Arcade Services (doing the thing this issue is asking for).

[2022-08-25 21:38] dotnet-eng-status[bot] opened #10591 "Production - [Alerting] Apple simulator failure rate alert"
:broken_heart: Metric state changed to *alerting*

  - *FailureRate {Machine=dci-mac-build-035}* 85

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=18&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-36d07fceeaf0472b804d8358b2198ea

[2022-08-25 22:10] net-helix[bot] opened #10592 "Suggestions for renaming Build Analysis"
A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

The build analysis tab in the github PR UI is labelled "Build Analysis — .NET Result Analysis".

- "Build Analysis" is not accurate description given it does test result analysis too now.

Suggestion: Rename the tab to "Build and Test Result Analysis

- ".NET Result Analysis" is a bad name. What is ".NET Result"?

[2022-08-25 22:45] epananth opened #10593 "Force .NET rollforward for SBOM ManifestTool"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

The ManifestTool targets .NET Core 3.1, which is not available in most Arcade repos. Adding it to global.json as a required "test" runtime breaks restore

Instead, force rollforward to the latest major runtime even though the application's manifest doesn't specify that.

Works around https://github.com/microsoft/dropvalida

[2022-08-25 22:49] epananth opened #10594 "Enable SBOM generation for Razor tooling"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-08-25 22:50] epananth opened #10595 "Enable Sbom generation vs-code-coverage"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

[2022-08-25 23:14] ChadNedzlek commented on #10592
I needs to stay alphabetically low so that it bubbles to the top of the list in the conversation view. Though that just means it needs to start with a "." (or ".NET").

[2022-08-25 23:21] jkotas commented on #10592
The static name is "Build Analysis" today. Is that right?

I am not suggesting to make the static name dynamic. I am just suggesting to rename it to more accurately capture what it does.

[2022-08-25 23:23] ChadNedzlek commented on #10592
I wonder if the capital "B" is saving us, because pipeline names are always lowercase... Or maybe it's that our app is named ".NET Build Analysis"?  It's definitely sorting to the top, but I can't remember the precise order we reverse engineered before to figure out what specific naming rules we had to follow to get it to stay at the top... maybe I left them in a comment somewhere...

[2022-08-25 23:26] ChadNedzlek commented on #10592
Unfortunately, I did not leave it in the comments. Right now we post a thing with the "name" of "Build Analysis" and the "title" of ".NET Result Analysis".  I think the original stuff we puzzled out was that it was alphabetical by "title". But we could mess around in the maestro-test-app and see if we can figure out the rules again (and then maybe plop a comment in the file where those strings are

[2022-08-25 23:30] jkotas commented on #10592
Right, it appears that the capital "B" is responsible for sorting this towards the top. Some checks jump in front of it. For example - from https://github.com/dotnet/runtime/pull/74591:

![image](https://user-images.githubusercontent.com/6668460/186786290-c23b1c2a-93b8-438a-966c-220cf560e963.png)

[2022-08-25 23:32] epananth commented on #10594
Completed this. closing this

[2022-08-25 23:32] #10594 closed

[2022-08-25 23:33] ChadNedzlek commented on #10592
I think that Markdownlint is something else. It's not a "check", so it's sorting weird.  Status is always the most important thing among checks (A failed "ZZZZ" will always be before any passed anythings).  I'm not even sure WHAT that Markdownlint thing is... I think it's a GitHub action... which I don't think dnceng supports.

[2022-08-25 23:46] #10472 closed

[2022-08-25 23:48] #10347 closed

[2022-08-26 00:28] jkotas commented on #10592
Yes, Markdownlint is a GitHub action. We use GitHub actions where they are the best tool for the job.

[2022-08-26 00:52] AlitzelMendez commented on #10504
talked with Mark and added a line with the percentage of pull request that have been merged with only known issues since we started capturing the necessary data (a little bit over a week) and it's 0% but we have the number now :)

![Image](https://user-images.githubusercontent.com/6895254/186793503-fab416ba-1276-4986-ba7c-af53f958c197.png)

[2022-08-26 05:59] #10508 closed

[2022-08-26 06:45] #10524 closed

[2022-08-26 08:37] akoeplinger commented on #10578
I agree we should use the `Svc` pool automatically for all `release/*` branches, maybe we can add some common variable .yml to eng/common so repos can just use that rather than copying the logic around.

[2022-08-26 08:59] premun commented on #10264
For VMR initialization, this is a no-op as we can re-use the SB targets for this

[2022-08-26 13:29] dotnet-eng-status[bot] opened #10599 "Production - [Alerting] Helix API Average Response Time"
:broken_heart: Metric state changed to *alerting*

  - *Server response time* 8380.381878881142

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/J2zUaJ53ipwb7QjZM6z3kw2lMqrD5s.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/arcadeAvailability/service-availability?tab=alert&viewPanel=19&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>A

[2022-08-26 13:44] andriipatsula commented on #10599
Become green almost immediately. There were 3 spikes each ~16 sec processing time for during past 10 min. I checked reports for the past 7 days the pattern is similar - nothing extraordinary.

[2022-08-26 13:44] #10599 closed

[2022-08-26 13:52] dotnet-eng-status[bot] opened #10600 "Production - [Alerting] Helix API Average Response Time"
:broken_heart: Metric state changed to *alerting*

  - *Server response time* 5027.997914458478

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/VqLjQ7E0pBZZORmHbBRpISS1vNCkkO.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/arcadeAvailability/service-availability?tab=alert&viewPanel=19&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>A

[2022-08-26 16:13] riarenas commented on #10589
Subsequent builds succeeded.

[2022-08-26 16:13] #10589 closed

[2022-08-26 16:29] AlitzelMendez commented on #10590
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25311

[2022-08-26 17:02] epananth opened #10601 "Enable SBOM for VS insertion in msbuild"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Generate SBOM for VS insertion in msbuild

PR -> https://github.com/dotnet/msbuild/pull/7914#pullrequestreview-1087233009

[2022-08-26 17:07] epananth commented on #10601
completed this PR

[2022-08-26 17:07] #10601 closed

[2022-08-26 17:11] missymessa commented on #10059
This got rolled out! Everything looks good so far.

[2022-08-26 17:11] #10059 closed

[2022-08-26 17:58] dotnet-eng-status[bot] opened #10602 "Build failed: arcade-services-internal-ci/main #20220826.1"
Build [#20220826.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1969540) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Fri, 26 Aug 2022 17:58:50 GMT
**Duration** - 189 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-26 18:04] MattGal opened #10603 "Losing ephemeral disk from linux Helix VMs kills the VM"
Good bug find from @ilyas1974 .  Basically, we only make this folder once and if it gets deleted (say, we lose the /mnt/ folder entirely and get a new one) the machine can live forever since it is unable to share back that it has gone offline.

[2022-08-26 18:12] missymessa commented on #8872
@AlitzelMendez to verify if this has been done already.

[2022-08-26 18:14] missymessa commented on #8799
@AlitzelMendez to validate that this can be closed.

[2022-08-26 18:15] missymessa commented on #8946
Due to the Kusto issues we've been experiencing recently, probably want to check out the rest of our queries to see if anyone others can have their performance improved.

[2022-08-26 18:16] dotnet-eng-status[bot] opened #10604 "Build failed: dotnet-arcade-validation-official/main #20220826.2"
Build [#20220826.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1969805) failed

## :x: : internal / dotnet-arcade-validation-official failed

### Summary
**Finished** - Fri, 26 Aug 2022 18:16:37 GMT
**Duration** - 82 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Build
- :x: - [[Log]](https://dev.azure.com/dnceng/7ea91

[2022-08-26 18:18] missymessa commented on #8948
@ChadNedzlek and @dougbu is this still an issue that we need to address?

[2022-08-26 18:19] MattGal commented on #10603
https://dnceng.visualstudio.com/internal/_git/dotnet-helix-machines/pullrequest/25319

[2022-08-26 18:19] missymessa commented on #8950
Kicking this out to triage.

[2022-08-26 18:21] missymessa commented on #8953
@AlitzelMendez says this isn't completely fixed. We'll need to verify and if it's not fixed in the way that we need this value, we'll have to reopen (or open a new issue) with AzDO.

[2022-08-26 18:24] missymessa commented on #9038
This should already be done. Reopen if not.

[2022-08-26 18:24] #9038 closed

[2022-08-26 18:25] ulisesh commented on #9522
We didn't get to build a CLI during Amanda's internship, the DevWF team will continue to work on this

cc @missymessa @AlitzelMendez

[2022-08-26 18:25] #9522 closed

[2022-08-26 18:26] missymessa commented on #9078
Missy to review if this is still necessary or if these issues are already being covered by other fixes.

[2022-08-26 18:27] missymessa commented on #9268
Time boxing to a day of investigation of how we would want to change the input.

[2022-08-26 18:30] missymessa commented on #9286
Time box a day to investigate what we would need to do to change this.

[2022-08-26 18:32] missymessa commented on #8794
Need to find out who owns the PowerBI report and how we can update it.

cc @ilyas1974

[2022-08-26 18:35] dougbu commented on #8948
I haven't noticed any improvement in this area.

[2022-08-26 18:39] missymessa commented on #9933
Timebox 1 day to investigate how much work this would be.

[2022-08-26 18:43] ChadNedzlek commented on #8948
Well, my feedback remains the same... all the logged URI's lead to worse UI experiences than using the Tests tab in AzDO, so I'm a fan of removing them in order to push people toward the UI we are focusing on.

[2022-08-26 18:44] ChadNedzlek commented on #8953
There some more context around it not being fixed?

[2022-08-26 18:46] missymessa commented on #9963
We need to fix our data issues before we can tackle this. (As well as our Kusto queries that are using up a lot of resources).

[2022-08-26 18:47] missymessa commented on #9999
We need to fix our data issues before we can tackle this. (As well as our Kusto queries that are using up a lot of resources).

[2022-08-26 18:47] ChadNedzlek commented on #9999
True... if we are already using too many resources, doubling our usage would probably be... bad. :-)

[2022-08-26 18:52] missymessa commented on #10466
Sounds like searching through client logs will kill Known Issues, but an alternative would be to add this request to the Log Search functionality that Amanda created. If we want to go down that route, we'll kick this out for triage.

[2022-08-26 18:53] missymessa commented on #10471
Time box for a day to determine if we need to do an IcM.

[2022-08-26 19:03] missymessa commented on #8953
Ali's going to update the issue when she does some verification, but it sounds like we're getting this information from one source, but another source is not providing the information.

[2022-08-26 19:15] garath commented on #8794
What report does this refer to?

[2022-08-26 19:23] dotnet-eng-status[bot] opened #10605 "Build failed: arcade-services-internal-ci/main #20220826.1"
Build [#20220826.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1969540) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Fri, 26 Aug 2022 19:22:46 GMT
**Duration** - 62 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Deploy
- :warning: - [[Log]](https://dev.azure.com/dnceng/7ea9

[2022-08-26 19:38] dotnet-eng-status[bot] opened #10606 "Build failed: dotnet-arcade-validation-official/main #20220826.3"
Build [#20220826.3](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1969981) failed

## :x: : internal / dotnet-arcade-validation-official failed

### Summary
**Finished** - Fri, 26 Aug 2022 19:38:09 GMT
**Duration** - 77 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Build
- :x: - [[Log]](https://dev.azure.com/dnceng/7ea91

[2022-08-26 20:19] ulisesh commented on #8794
The one used in CI council, I think it shows build breaks with many hits

[2022-08-26 20:25] epananth commented on #10593
PR merged, closing this

[2022-08-26 20:25] #10593 closed

[2022-08-26 20:25] epananth commented on #10595
Going to keep this open till @jakubch1 approves the pr

[2022-08-26 20:32] missymessa commented on #8948
Okay, following up: Chad shared with me a location that has the link: https://github.com/dotnet/arcade/blob/e7ede87875f41a9b3df898ae08da5ebc96e24f56/src/Microsoft.DotNet.Helix/Sdk/CheckHelixJobStatus.cs#L41

The problem is that the code doesn't understand if the URI exists or if it will 404. And if the access token isn't present, users will have to muck around with it to make it work. This is lega

[2022-08-26 20:45] dougbu commented on #8948
Yup, this works for me. Less links, less confusion 😄

[2022-08-26 20:54] riarenas commented on #10602
Passed on third attempt

[2022-08-26 20:54] #10602 closed

[2022-08-26 20:54] riarenas commented on #10605
succeeded on 3rd attempt

[2022-08-26 20:54] #10605 closed

[2022-08-26 20:56] riarenas commented on #8948
Are these the same links as the ones we're saying we'll improve in https://github.com/dotnet/arcade/issues/10375?

[2022-08-26 21:43] missymessa commented on #8948
It doesn't look like they're the same. Chad says the ones in that issue come from this location: https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Helix/Sdk/tools/Microsoft.DotNet.Helix.Sdk.MonoQueue.targets#L78

[2022-08-26 21:46] riarenas commented on #8948
I think that means they are the same.

That other issue is asking for the second part of the logging to also contain the link that the initial log has.
as in we're logging
```Sent Helix Job; see work items at https://helix.dot.net/api/jobs/e6df725b-7a21-4eab-a4c1-3c1e82c8b4be/workitems?api-version=2019-06-17```

and the ask is to also log the link when the work items finish.
[code]

[2022-08-26 21:47] missymessa opened #10607 "Engineering documentation for epic hand-off (done done done)"
As we're close to finishing up the Dev WF/Known Issues epics, we will need to provide some solid documentation on how all our services work that were build up for the projects encompassed in these epics, so that a few of us aren't the only ones to understand how they work.

- [x] high level diagrams of the parts that work together and resources used (Test reporting missing)
- [x] links to where en

[2022-08-26 21:48] riarenas commented on #8948
The funniest scenario would be if we do both issues, and we remove the link from the job start, and add it to the job completed.

[2022-08-26 21:49] missymessa commented on #8948
![image](https://user-images.githubusercontent.com/47990216/186995317-7c1dda0b-616a-4368-879c-8ab3bc8b9fa5.png)

[2022-08-26 21:51] missymessa commented on #8948
It looks like the url in CheckHelixJobStatus uses a value for Console URI, while the one in .targets file manually constructs it. Is the Console URI the same value as the one that's manually constructed in .targets?   Is it possible that the value in the targets file is more likely to be a valid URL verus the one in CheckHelixJobStatus that might not exist (and thus, 404s)?

[2022-08-26 22:05] epananth commented on #10595
@ilyas1974  I will follow up with @jakubch1 when he is back from vacation.

[2022-08-26 22:05] epananth commented on #10360
merged this PR, closing this one

[2022-08-26 22:05] #10360 closed

[2022-08-26 22:09] epananth commented on #10104
I tried to get a repro in fsharp, I got an error in signing ( after 4 hours of waiting) I have requeued the build. @MattGal said he will help me look at the error but I'm not getting a proper repro. I will try to get it EOD or next week.

[2022-08-26 22:41] dotnet-eng-status[bot] opened #10609 "Build failed: dotnet-arcade-validation-official/main #20220826.3"
Build [#20220826.3](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1969981) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Fri, 26 Aug 2022 22:40:54 GMT
**Duration** - 131 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-27 01:10] dotnet-eng-status[bot] opened #10611 "Build failed: dotnet-arcade-validation-official/main #20220826.4"
Build [#20220826.4](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1970754) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Sat, 27 Aug 2022 01:10:08 GMT
**Duration** - 105 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-27 01:44] dotnet-eng-status[bot] opened #10612 "Build failed: dotnet-arcade-validation-official/main #20220826.5"
Build [#20220826.5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1970815) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Sat, 27 Aug 2022 01:43:48 GMT
**Duration** - 100 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### P

[2022-08-27 02:59] dotnet-eng-status[bot] opened #10613 "Build failed: dotnet-arcade-validation-official/main #20220826.6"
Build [#20220826.6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1970980) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Sat, 27 Aug 2022 02:58:48 GMT
**Duration** - 100 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-27 05:54] net-helix[bot] opened #10614 "Build Analysis reports two failures when timeouts occur"
A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

There is only one actual failure and failed leg in the PR. The Build Analysis shows it as two unique failures. Can this be just one Unique failure?

Feedback submitted by a user that chose to remain anonymous.

Parameters

r = dotnet/runtime
e = 0
s = 2022-08-27T04-23-19
ut = 0
c = db0276222e01
ki = 0
ub = 1
rt =

[2022-08-27 06:10] jkotas opened #10615 "Super slow mac machine"
### Build

https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=1968936

### Build leg reported

Mono  Product Build OSX x64 release

### Pull Request

https://github.com/dotnet/runtime/pull/74630

### Action required for the engineering services team

To triage this issue (First Responder / @dotnet/dnceng):
- [ ] Open the failing build above and investigate
- [

[2022-08-27 13:42] karelz opened #10617 "Failed to find compatible device: arm64-v8a"
- 9/13 - [15374](https://runfo.azurewebsites.net/view/build/?number=15374) - 1x hit:
    - System.ComponentModel.EventBasedAsync.Tests Work Item - DNCENGWIN-116
- 9/13 - [14506](https://runfo.azurewebsites.net/view/build/?number=14506) - 1x hit:
    - System.CodeDom.Tests Work Item - DNCENGWIN-116
- 9/12 - [13766](https://runfo.azurewebsites.net/view/build/?number=13766) - 1x hit:
    - System.Net

[2022-08-28 01:44] dotnet-eng-status[bot] opened #10618 "Build failed: dotnet-arcade-validation-official/main #20220827.1"
Build [#20220827.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1972227) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Sun, 28 Aug 2022 01:44:13 GMT
**Duration** - 100 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### P

[2022-08-28 09:02] dotnet-eng-status-staging[bot] opened #10619 "Staging - [Alerting] Queue Insights Failures alert"
:broken_heart: Metric state changed to *alerting*

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queueInsights/queue-insights?tab=alert&viewPanel=4&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-763d449c7cd747a786373befe76ad19b

</details>

[2022-08-28 10:23] dotnet-eng-status[bot] opened #10620 "Production - [Alerting] Queue Insights Failures alert"
:broken_heart: Metric state changed to *alerting*

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/ldyLc9PTCgfJPzCl0eBjeYVs6BvwZW.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueInsights/queue-insights?tab=alert&viewPanel=4&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Graf

[2022-08-28 23:02] dotnet-eng-status[bot] opened #10621 "Production - [Alerting] Servicing jobs in R&D queues alert"
:broken_heart: Metric state changed to *alerting*

  - *ServicingJobs* 1

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/mVNh6Z6kIfMGfX3mCPH5crnWp9ropC.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/historical/backend-status?tab=alert&viewPanel=65&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not c

[2022-08-29 01:23] net-helix[bot] opened #10622 "AzDO Issue #3397"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3397)

[2022-08-29 03:02] #10306 closed

[2022-08-29 08:01] net-helix[bot] opened #10623 "AzDO Issue #3398"
<div>As these are automatically generated tables lacking any of our user's data, I have designated these &quot;out of scope&quot; and am resolving this issue.&nbsp; </div>

[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3398)

[2022-08-29 08:36] premun commented on #10583
We have decided that the VMR will accept submodules blindly, but we will mandate that the referenced repositories are .NET owned forks that have the assets stripped. This future work is described here: https://github.com/dotnet/source-build/issues/3009

Closing this issue as for the VMR itself there won't be more work at the moment.

[2022-08-29 08:36] #10583 closed

[2022-08-29 08:47] net-helix[bot] opened #10624 "AzDO Issue #3399"
<div style="box-sizing:border-box;"><span style="box-sizing:border-box;display:inline !important;">Due Date: 9</span><span style="box-sizing:border-box;color:rgb(51, 51, 51);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&qu

[2022-08-29 09:24] andriipatsula commented on #10615
I am working on this.

[2022-08-29 09:51] dotnet-eng-status[bot] opened #10625 "Build failed: arcade-services-internal-ci/main #20220829.1"
Build [#20220829.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1973350) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Mon, 29 Aug 2022 09:50:46 GMT
**Duration** - 80 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### ValidateSecrets
- :x: - [[Log]](https://dev.azure.com/dnceng/7

[2022-08-29 10:49] andriipatsula commented on #10615
Hello @jkotas , this machine is not own by us. This `macos-11` image is own by AzDo and this could be a degradation issue. I re-run failing PR jobs. Let's see what happen.

[2022-08-29 11:09] andriipatsula commented on #10620
https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/68672ab8-de0c-40f1-8d1b-ffb20bd62c0f/resourceGroups/dotnet-eng-cluster/providers/microsoft.insights/components/dotnet-eng/logs

there is an error at 28th of Aug and is related to throttling:

"code": "Too many requests",
"message": "Request is denied due to throttling.",
"@type": "Kusto.DataNode.Exceptions.QueryThrottle

[2022-08-29 11:09] #10620 closed

[2022-08-29 11:11] andriipatsula commented on #10619
https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/cab65fc3-d077-467d-931f-3932eabf36d3/resourceGroups/dotnet-eng-int-cluster/providers/Microsoft.Insights/components/dotnet-eng-int/logs

For some reason, dotnet-eng-ing does not show any errors. We had similar for PROD https://github.com/dotnet/arcade/issues/10620 around that time and it was related to throttling.

[2022-08-29 12:14] dotnet-eng-status[bot] opened #10626 "Build failed: dotnet-arcade-services-weekly/main #2022082901"
Build [#2022082901](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1973531) failed

## :x: : internal / dotnet-arcade-services-weekly failed

### Summary
**Finished** - Mon, 29 Aug 2022 12:14:13 GMT
**Duration** - 3 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### SynchronizeSecrets
- :x: - [[Log]](ht

[2022-08-29 14:29] riarenas commented on #10625
Better tracked as https://github.com/dotnet/arcade/issues/10626 as that's already in FR's radar

[2022-08-29 14:29] #10625 closed

[2022-08-29 14:58] riarenas commented on #10619
I can't find any errors either directly related to queue insights. I do see some Kusto errors around this time though. I'm going to close this and keep an eye to see if it gets reopened.

[2022-08-29 14:58] #10619 closed

[2022-08-29 15:44] mmitche commented on #10248
Hitting some installer builds now. Retrying.

[2022-08-29 16:11] mmitche commented on #10478
@MattGal @ilyas1974 Do you see this as Operations or FR work?

[2022-08-29 16:27] markwilkie commented on #10504
woo hoo!    :)

[2022-08-29 16:34] #10609 closed

[2022-08-29 16:39] #10618 closed

[2022-08-29 16:39] #10613 closed

[2022-08-29 16:39] #10612 closed

[2022-08-29 16:39] #10611 closed

[2022-08-29 17:00] missymessa commented on #8858
I'm removing this from the DevWF epic. I think it's something important to be done, but it encompasses more than just DevWF, and it's a bit out of scope for the work in DevWF. We can chat about a place for it to go in triage.

[2022-08-29 17:53] AlitzelMendez commented on #10504
published :)

[2022-08-29 17:53] #10504 closed

[2022-08-29 18:01] MattGal commented on #10578
Checked in today, https://github.com/dotnet/fsharp/pull/13807 was the only new change to make.  All the others I saw were either branches that were being deleted being run scheduled, or repos' Source Build tasks (need arcade updates to change).

[2022-08-29 18:26] garath opened #10631 "FR Tracking: 1ES Linux pools failing to provision"
1ES is tracking an apparent DNS outage that can prevent Linux machines from provisioning.

Likely symptoms are long wait times or job timeouts while waiting for a machine.

1ES Notifications announcement: [There are DNS resolution issues...](https://teams.microsoft.com/l/message/19:1295cd4d06aa46d6abd21b5bccb5a82b@thread.tacv2/1661795043622?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=32d

[2022-08-29 18:32] MattGal opened #10632 "Decommission DNSB-RHEL* build agents"
FYI @lbussell  / @crummel / @MichaelSimons

Today, the dnsb-rhel machines (4 in total: 2 each 7&8) are constantly flagged for not being fully patched.  They're also only used
We have the capacity to make build images out of RedHat 7 and 8 Azure Gallery images, and our build pools already use D4_v3 as the VM size so performance should not be impacted significantly.

What is proposed:
- [ ] Create B

[2022-08-29 18:35] ChadNedzlek commented on #8858
My concern is that if we kick it out of here, it won't have anything driving it, and, as such, won't get done. Which means our service is just going to fall on it's face and we'll all scramble around confused every time it happens, and will need a bunch of manual intervention.

[2022-08-29 18:42] karelz commented on #10617
Tagging @dotnet/dncenghot

[2022-08-29 18:53] garath commented on #10617
Acknowledged, investigating.

[2022-08-29 19:01] ulisesh opened #10633 "Evaluate 1ES pre-provisioning feature for build pools"
To reduce wait times in our build pools, we can use 1ES pre-provisioning feature to have machines waiting for builds to start.

We will call this epic done when have answers for the following questions:
- How much wait times are reduced?
- How much more money do we have to pay for pre-provisioning?
- How does pre-provisioning handle different images in the pool?

Ideas:
- We can use our COGS pools

[2022-08-29 19:03] MichaelSimons commented on #10632
@MattGal, what kind of timeframe do you see for this?  I ask because of https://github.com/orgs/dotnet/projects/101.  I am pushing for us to utilize docker container in our RHEL CI legs.  They would still require a RHEL build agent because of licensing constraints.  If we had the containers in place, the only requirement on the build agent is the ability to run a docker image (e.g. podman is insta

[2022-08-29 19:06] garath commented on #10617
Machines -048, -062 and -118 are clearly misbehaving, I've taken them offline for now.

[2022-08-29 20:00] lbussell commented on #10632
@MichaelSimons I think your link is broken.

I think the work Michael is talking about is for 6.0+. We only use these RHEL agents for 3.1 Servicing CI right now, I think. I think that if we want to decommission these, there are 3 options:

1. Wait until 3.1 goes out of support and then decommission the agents.
3. Set up RHEL build images like @MattGal suggests and decommission the agents now.
4. D

[2022-08-29 20:28] MichaelSimons commented on #10632
Apologies, fixed.

[2022-08-29 20:46] garath commented on #10631
Channel reports mitigation in place, but may not take effect until machines cycle.

[2022-08-29 20:56] MattGal opened #10634 "Make "Maestro Build Promotion" use -Svc pools for any release-branch build promotion"
Today, we promote all builds in maestro (a.k.a. adding to channels) via the main branch.  This is true even in release branch builds, which ideally we want all billing for to go to a separate subscription.

I will make it so the darc `add-to-channel`  command knows about the branch of the build being promoted and provides a build-time parameter to use a release branch build pool any time "release"

[2022-08-29 20:59] premun commented on #10617
@garath might make sense to do it for all of these https://github.com/dotnet/arcade/issues/10548

Seems like the alert got missed?

[2022-08-29 21:15] garath commented on #10617
Ah, yeah, seems like that has happened. I have taken the rest of those machines offline, so hopefully jobs flow more smoothly. I will raise an ICM to get the machines fixed-up. @ilyas1974 FYI.

[2022-08-29 21:17] garath commented on #10548
I've taken 048, 053, 062, 074 and 118 offline.

[2022-08-29 21:20] adiaaida commented on #10500
PR for this is here: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/25344

[2022-08-29 21:22] dibarbet commented on #10118
Again on https://github.com/dotnet/roslyn/pull/63408

f5356c9 showed checks from 4e6b2df (failed with an error fixed in f5356c9)

[2022-08-29 21:23] CyrusNajmabadi commented on #10118
@ilyas1974 Can someone look at this?  It seems pretty bad, especially as it means that CI could pass/fail on something different than the actual code change requested.

[2022-08-29 21:23] CyrusNajmabadi commented on #10118
This feels like a potential security bug.

[2022-08-29 21:24] garath commented on #10548
The original ICM around machines 077, 079 and 112 was resolved, and the alert cleared, so I think those are good. This later batch of five machines overlapped.

[2022-08-29 21:29] dotnet-eng-status[bot] opened #10635 "Build failed: arcade-services-internal-ci/main #20220829.2"
Build [#20220829.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1974553) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Mon, 29 Aug 2022 21:29:03 GMT
**Duration** - 84 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### ValidateSecrets
- :x: - [[Log]](https://dev.azure.com/dnceng/7

[2022-08-29 21:31] AlitzelMendez opened #10636 "Add test known issues and retroactive feature to known issues documentation"
The latest features are not present in the documentation, this needs to be updated so people are aware and can use this more easily

[2022-08-29 21:33] riarenas commented on #10635
FR issue: https://github.com/dotnet/arcade/issues/10626

[2022-08-29 21:33] #10635 closed

[2022-08-29 21:40] garath commented on #10548
Created [ICM 331318192](https://portal.microsofticm.com/imp/v3/incidents/details/331318192/home)

[2022-08-29 21:47] net-helix[bot] opened #10637 "Prepare rollouts for 2022-08-31"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3400)

[2022-08-29 22:03] ilyas1974 commented on #10118
@adiaaida is working on opening an ICM with Azure DevOps to see if they can help with this issue.

[2022-08-29 22:08] adiaaida commented on #10118
I believe this to be an issue between github and azdo (github not accurately informing azdo that a run needs to be started on the latest commit). I have opened https://portal.microsofticm.com/imp/v3/incidents/details/331322707 with AzDO to hopefully get some traction on the issue.

[2022-08-29 22:30] missymessa opened #10639 "Too Much Noise"
Oof

![image](https://user-images.githubusercontent.com/47990216/187310212-b815b0e8-42ca-4d07-8a27-5c8ff7fab014.png)

[2022-08-29 22:55] garath commented on #10626
Secret rotated.

[2022-08-29 22:55] #10626 closed

[2022-08-29 23:07] MattGal commented on #10634
- https://github.com/dotnet/arcade/pull/10638 updates the templates used in darc publishing to support using the -Svc pools when provided (default is not)
- https://github.com/dotnet/arcade-services/pull/2000 adds this parameter if the branch involved contains release/ in it, e.g. "release/6.0"

[2022-08-29 23:24] MattGal commented on #10491
@garath can you handle this one please?

[2022-08-29 23:29] #10624 closed

[2022-08-29 23:46] AlitzelMendez opened #10640 "Fix test issues not removed from build failures section"
This came up during the user study.

For example, the following build failure is a test failure

![image](https://user-images.githubusercontent.com/6895254/187317690-c6e585f3-d1c5-4219-a260-983d3ee49e42.png)

The reasons for not filtering were because it was a helix failure, for helix failure we report the Stage / Phase / Reference name as a Hierarchy, for example if you look at the job name it sa

[2022-08-29 23:47] AlitzelMendez commented on #10640
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25347

[2022-08-29 23:58] #10623 closed

[2022-08-30 00:04] garath opened #10641 "Azure WorkItem Processor not linking issues"
It was reported that the AzureDevOpsWorkitemProcessor is not appending GitHub links to the original AzDO Workitem. Investigate!

Example issue: https://github.com/dotnet/arcade/issues/10623

[2022-08-30 00:19] #10505 closed

[2022-08-30 00:45] dotnet-eng-status[bot] opened #10642 "Build failed: dotnet-arcade-validation-official/main #20220829.1"
Build [#20220829.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1975055) failed

## :x: : internal / dotnet-arcade-validation-official failed

### Summary
**Finished** - Tue, 30 Aug 2022 00:45:36 GMT
**Duration** - 42 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### Build
- :x: - [[Log]](https://de

[2022-08-30 01:05] dougbu commented on #10248
This issue may be having an uptick. Hit a Windows image in multiple Linux legs of [build #20220829.10](https://dev.azure.com/dnceng/public/_build/results?buildId=1974676&view=results) for a dotnet/aspnetcore PR.

[2022-08-30 01:36] dotnet-eng-status[bot] opened #10643 "Build failed: arcade-services-internal-ci/main #20220829.2"
Build [#20220829.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1974553) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Tue, 30 Aug 2022 01:35:45 GMT
**Duration** - 145 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-30 05:24] net-helix[bot] opened #10644 "Build Analysis not working"
A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

Why is the Build Analysis not working on this PR?

I has just 4 check boxes without any details:
[code]

Feedback submitted by a user that chose to remain anonymous.

Parameters

s = 2022-08-30T05-09-20
ki = 0
ub = 0
r = dotnet/runtime
e = 0
ut = 0
rt = 0
rb = 0
c = 73cc736bf499

[2022-08-30 06:15] dotnet-eng-status[bot] opened #10645 "Build failed: dotnet-arcade-validation-official/main #20220829.2"
Build [#20220829.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1975349) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Tue, 30 Aug 2022 06:15:21 GMT
**Duration** - 110 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-30 06:31] dotnet-eng-status-staging[bot] opened #10646 "Staging - [Alerting] On-Prem Machines Heartbeating By Queue alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating {QueueName=osx.1100.arm64}* 66.66666666666666
  - *Percentage Heartbeating {QueueName=osx.1200.arm64}* 66.66666666666666

![Metric Graph](https://dotnetgrafanastaging.blob.core.windows.net/grafana/FHV9E7bVasDOq4312Es4QWvY4MH7MX.png)

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queueOver

[2022-08-30 07:12] dotnet-eng-status[bot] opened #10647 "Production - [Alerting] Queue Insights Failures alert"
:broken_heart: Metric state changed to *alerting*

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/FkVL2zRVz/queue-insights?tab=alert&viewPanel=4&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-52

</details>

[2022-08-30 07:31] dotnet-eng-status[bot] opened #10648 "Production - [Alerting] Queue Insights Failures alert"
:broken_heart: Metric state changed to *alerting*

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueInsights/queue-insights?tab=alert&viewPanel=4&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-763d449c7cd747a786373befe76ad19b

</details>

[2022-08-30 07:32] dotnet-eng-status-staging[bot] opened #10649 "Staging - [Alerting] Queue Insights Failures alert"
:broken_heart: Metric state changed to *alerting*

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queueInsights/queue-insights?tab=alert&viewPanel=4&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-763d449c7cd747a786373befe76ad19b

</details>

[2022-08-30 08:21] dotnet-eng-status[bot] opened #10650 "Production - [Alerting] On-Prem Machines Heartbeating By Queue alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating {QueueName=osx.1015.amd64}* 75
  - *Percentage Heartbeating {QueueName=osx.1015.amd64.appletv.open}* 79.16666666666666
  - *Percentage Heartbeating {QueueName=osx.1100.arm64}* 70
  - *Percentage Heartbeating {QueueName=osx.1200.amd64}* 70
  - *Percentage Heartbeating {QueueName=raspbian.9.arm32.iot}* 66.66666666666666

[2022-08-30 09:14] dotnet-eng-status-staging[bot] opened #10651 "Staging - [Alerting] On-Prem Machines Heartbeating alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating* 79.3103448275862

![Metric Graph](https://dotnetgrafanastaging.blob.core.windows.net/grafana/uSOR6eHiZRSyNUVj023iXqzU9AKQdG.png)

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queueOverview/on-premises-helix-queue-status?tab=alert&viewPanel=6&orgId=1)

@dotnet/dnceng, please investigate

[2022-08-30 10:22] andriipatsula commented on #10647
https://github.com/dotnet/arcade/issues/10648 looks like the same issue.

if I press [Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/FkVL2zRVz/queue-insights?tab=alert&viewPanel=4&orgId=1) I am getting

and interesting is that this dashboard panel name is `t-jperez/Queue Insights` and for https://github.com/dotnet/arcade/issues/10648 - `helix/Queue Insights`.

I checked logs a

[2022-08-30 10:23] andriipatsula commented on #10649
Similar to https://github.com/dotnet/arcade/issues/10647, but on Staging

[2022-08-30 12:34] andriipatsula commented on #10650
List of machines that were not heart beating for the past 1h:
Queue: `osx.1015.amd64`
Machine | Last_Heartbeat
-- | --
dci-mac-build-118 | 2022-08-30 05:54:35.0000000
dci-mac-build-117 | 2022-08-30 05:55:33.0000000
dci-mac-build-119 | 2022-08-30 08:32:19.0000000

Queue: `osx.1015.amd64.appletv.open`

Machine | Last_Heartbeat
-- | --
DNCENGMAC040 | 2022-08-30 05:53:29.0000000
DNCENGMAC028 | 2022-08

[2022-08-30 12:48] andriipatsula commented on #10650
restarted. waiting till they become green

[2022-08-30 12:51] andriipatsula commented on #10646
Queue: `osx.1100.arm64`
Machine | Last_Heartbeat
-- | --
dci-macm1-build-134.local | 2022-08-04 03:07:39.0000000
dci-macm1-build-133.local | 2022-08-04 03:07:51.0000000
dci-macm1-build-135 | 2022-08-30 08:33:09.0000000

Queue: `osx.1200.arm64`
Machine | Last_Heartbeat
-- | --
dci-macm1-build-138.local | 2022-08-04 03:07:17.0000000
dci-macm1-build-140.local | 2022-08-04 03:07:19.0000000
dci-macm1-b

[2022-08-30 13:03] andriipatsula commented on #10646
Restarted:
* dci-macm1-build-140
* dci-macm1-build-135

I don't see other machines in `mlskvmui`. @ilyas1974, do you know how to handle `ddvsotx2l049`, `*.local` machines?

[2022-08-30 13:38] andriipatsula opened #10653 "Update VS2022 updates for 2022-09-07"
https://dev.azure.com/dnceng/internal/_wiki/wikis/DNCEng%20Services%20Wiki/899/VS2022-Upgrade-Schedule

[2022-08-30 13:55] premun opened #10654 "Add subscription to auto-update `Microsoft.Extensions.Logging.Console` in `dotnet/installer`"
### Context

This is a small technical debt.

The tooling dependency `Microsoft.Extensions.Logging.Console` (for VMR initialization MSBuild tasks) does not have subscription from runtime to installer yet so it will not auto-update.

### Goal

Create a subscription from runtime to installer (main branches) but we should handle the coherency with sdk there.

[2022-08-30 14:24] dotnet-eng-status[bot] opened #10655 "Production - [Alerting] Apple device failure rate alert"
:broken_heart: Metric state changed to *alerting*

  - *FailureRate {Machine=DNCENGMAC091.local}* 100

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=16&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-d70761f3c7e84a6380e44943a2e58

[2022-08-30 14:44] riarenas opened #10656 "Weekly runs of helix-service are not creating build monitor issues"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We haven't configured build monitor to care about the weekly helix-service builds that should serve as a warning for secret-manager required action before deployments. We should add this build and any other missing weekly builds to the configuration so that we get enough early warning when a secret needs cycling.

[2022-08-30 15:01] andriipatsula commented on #10653
https://github.com/dotnet/arcade/issues/10653

[2022-08-30 15:02] riarenas opened #10657 "Helix-service weekly build failing"
- [X] This issue is blocking
This is blocking deployments of helix-service
- [ ] This issue is causing unreasonable pain

We need to resolve some secret-manager issues: https://dev.azure.com/dnceng/internal/_build/results?buildId=1973927&view=results

[2022-08-30 15:25] MattGal commented on #10634
First PR is live and I verified it works using the changes in the 2nd, https://dnceng.visualstudio.com/internal/_build/results?buildId=1976171&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304

[2022-08-30 15:31] ulisesh opened #10658 "[Known issues] Include report of test known issues"
Test known issues telemetry is saved in different kusto table that we don't fetch in the known issues report but they should be included

[2022-08-30 15:47] mmitche opened #10659 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo.

[2022-08-30 15:47] mmitche commented on #10659
This is .NET 8 work

[2022-08-30 16:13] #10645 closed

[2022-08-30 16:17] missymessa commented on #10642
Later build succeeded. Closing.

[2022-08-30 16:17] #10642 closed

[2022-08-30 16:29] MattGal commented on #10634
Both PRs merged, putting into waiting for rollout of both arcade services and the update for https://github.com/dotnet/arcade/issues/9948, which will finally allow newest possible darc to be used.

[2022-08-30 16:37] garath commented on #10468
Looks like this is resolved!

[2022-08-30 16:37] #10468 closed

[2022-08-30 16:37] MattGal commented on #10248
Yesterday's bursts graphed; it seems to be doing better now but there were quite a few.

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA78AAADOCAYAAAD2drVjAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAFGWSURBVHhe7b3nkx1Xmp85f4RW093T0ySBMteU97ccXBW8R8FbwhDekPAgCEPCEiBoANA3u9nsbnJa6pbpnpjRamNjQzHyodWGJjZC0ii0oXUTu7P7aWdiZns/vHuekziFxGVWoapwq1CZ9fvwxK3MPHnyPe97zPvLzHv

[2022-08-30 16:46] MattGal commented on #10657
I secret-manager updated both and restarted, it's green now.

[2022-08-30 16:47] #10321 closed

[2022-08-30 16:47] #10317 closed

[2022-08-30 16:47] #10305 closed

[2022-08-30 16:47] riarenas commented on #10299
Finally got this one to succeed eventually

[2022-08-30 16:47] #10299 closed

[2022-08-30 16:50] garath commented on #10631
Second mitigation rolled out. Additional ICM: https://portal.microsofticm.com/imp/v3/incidents/details/331254494/home

Our queues are looking good right now.

[2022-08-30 16:58] missymessa commented on #10644
Here's the PR and yep, we aren't processing the failed pipeline: https://github.com/dotnet/runtime/pull/74428/checks?check_run_id=8092444518

[2022-08-30 17:12] garath commented on #10600
This alert is currently configured to trigger if the average response time is greater than 5 seconds for a consecutive 5 minutes. I think this would better serve us if it was more like a consecutive 20 minutes.

dnceng, Thoughts?

@mattgal, @ChadNedzlek, @ilyas1974  FYI

[2022-08-30 17:15] MattGal commented on #10600
Given noone's actually noticing the API response times outside this alert, I'm OK with this; also, with this week's rollout we should see tangible reductions (at least in low-hanging fruit type usage) in queries which may prevent some of the Kusto exceptions seen in correlation with these spikes.  Maybe we should wait to see if those changes help before adjusting the alert?

[2022-08-30 17:17] garath commented on #10600
Sure, I'm good with reevaluating after the rollout.

[2022-08-30 17:22] riarenas commented on #10647
https://github.com/dotnet/arcade/issues/10494 tracks the fixes for the syntax failures...

[2022-08-30 17:22] #10647 closed

[2022-08-30 17:23] #10649 closed

[2022-08-30 17:24] riarenas commented on #10647
Also, when you're investigating these alerts, please keep in mind that https://github.com/dotnet/arcade/issues/10558 is still open, and please check if the alert was fired due to kusto slowness.

[2022-08-30 17:28] riarenas commented on #10600
The suggestions make sense, but I'd like to note that it seems like it's starting to be noticeable. We're getting reports of timeouts when trying to access workitem details, and slowness in general when accessing the artifacts tabs inside of builds

[2022-08-30 17:41] MattGal commented on #10478
Since this helps support moving builds to COGS faster (most remaining builds that should be, but are not, currently in -Svc pools come from the arcade eng/common folder) I'm taking this.  I'll also evaluate our existing instructions for suitability to be performed by vendors in the future.

[2022-08-30 17:46] adiaaida commented on #10423
I am looking into this. We can easily implement a workaround, however, I'm wondering why the official install script doesn't handle this case correctly (the one in eng/common is simply a wrapper that downloads and calls the official install script). @YuliiaKovalova is there any reason dotnet-install.sh doesn't recognize that on OSX arm64, any version that is pre-6.0 will need to install an x64 ver

[2022-08-30 17:52] dotnet-eng-status[bot] opened #10660 "Build failed: arcade-services-internal-ci/main #20220829.2"
Build [#20220829.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1974553) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Tue, 30 Aug 2022 17:51:47 GMT
**Duration** - 54 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Build
- :warning: - [[Log]](https://dev.azure.com/dnceng/7ea91

[2022-08-30 17:53] riarenas commented on #10660
A rerun of the scenario tests was happening when a new build deployed. This makes it so all scenario tests immediately fail.

[2022-08-30 17:53] #10660 closed

[2022-08-30 18:00] riarenas commented on #414
darc get-asset already exists, and barviz shows this info. Closing.

[2022-08-30 18:00] YuliiaKovalova commented on #10423
Hi @adiaaida,

This case hasn't been handled by install scripts. I suspect that nobody has known in our team about the corner case.
We use a common approach for recognizing OS architecture:
[code]

[2022-08-30 18:04] adiaaida commented on #10423
@YuliiaKovalova I will open an issue in install-scripts for this corner case.

[2022-08-30 18:06] davidwrighton commented on #9268
One thought would be to have a link to a website that will do the escaping for you. I don't necessarily think this needs to be a different format.

[2022-08-30 18:16] missymessa commented on #10394
Latest exceptions are due to Kusto. There are various improvements with our Kusto interactions rolling out tomorrow, so we'll wait and see if these go away.

[2022-08-30 18:27] ChadNedzlek commented on #10644
Presumably means there was some exception when we attempted to write the result (or didn't get the delivery at all). Luckily, we have logs, so we should be able to tell (all the little variables here should be able to help us find the relevant ones)

[2022-08-30 18:39] ChadNedzlek commented on #10600
It's shockingly spiky exactly every 5 minutes, that definitely screams that it's due to something Build Analysis is doing (one of it's tasks runs every 5 minutes only to discover there is no work to do).

[2022-08-30 18:45] dotnet-eng-status[bot] opened #10662 "Build failed: arcade-services-internal-ci/main #20220829.2"
Build [#20220829.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1974553) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Tue, 30 Aug 2022 18:45:32 GMT
**Duration** - 5 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Build
- :warning: - [[Log]](https://dev.azure.com/dnceng/7ea911

[2022-08-30 18:50] markwilkie opened #10663 "Can I merge this PR???"
"Can I merge this PR?" is something we need to work on making more clear to devs looking at build analysis.

At a minimum, it should be abundantly clear that there are matching known issues for each failure - or not.  Along these same lines, there are some suggestions, among them:

- Mark the build analysis check as "green"
- Add text at the top stating "it's ok to merge" or something to that effe

[2022-08-30 18:52] steveisok opened #10664 "Install XCode 14 on OSX.Amd.AppleTV.Scouting.Open"
We build tests on helix, so we need the beta version of xcode installed there.

/cc @ilyas1974

[2022-08-30 18:56] ChadNedzlek commented on #10663
For most repos, isn't the answer "yes if the checks passed, no otherwise"?  My understanding is that runtime is the only repo that isn't able to get the PR runs to a place where they pass a majority of the time. Though I guess other teams just wouldn't use the known failures feature in those repositories, so wouldn't be affected by this... so maybe it's fine?

I guess I'm just sad that we are basi

[2022-08-30 19:15] ChadNedzlek commented on #10644
If I look at the analysis blob for this one, it appears to have a single test that is a known issue.  I wonder if we have a bug if EVERYTHING is a known issue, we don't render anything.

[2022-08-30 20:13] garath commented on #10600
It got really quiet this last hour...

![image](https://user-images.githubusercontent.com/2303549/187534138-5ff9ebfc-8adb-4057-89a3-7bf6941a0d01.png)

[2022-08-30 20:19] ChadNedzlek commented on #10600
Apparently ripipng that table to bits helped. I reduced the retention of the "hourly" table from 120 days to 2 days (since we only need it long enough to build the nightly report).  That reduced that table by 60x, and it was the source of a lot of the expensive queries.

[2022-08-30 20:19] garath commented on #10600
Kusto CPU way down too. @ChadNedzlek is this maybe all due to changing the data retention on the temporary tables?

![image](https://user-images.githubusercontent.com/2303549/187535093-04ff1956-6f53-472c-a3e6-3fa770e2c4d6.png)

[2022-08-30 20:25] ChadNedzlek commented on #10600
I'm confident my change is the cause of the improvement. In addition, it should prevent it from getting worse over time.  I'm going to close this issue now. :-)

[2022-08-30 20:25] #10600 closed

[2022-08-30 20:33] ChadNedzlek commented on #10644
@AlitzelMendez and @ulisesh to see if my analysis seems correct.

[2022-08-30 20:41] alexperovich opened #10665 "dev.azure.com/dnceng-public migration starting at 4pm PST"
All builds in dev.azure.com/dnceng/public will be offline starting at 4pm as we commence migration to dev.azure.com/dnceng-public/public

### Report
#### Summary
|24-Hour Hit Count|7-Day Hit Count|1-Month Count|
|---|---|---|
|0|0|0|

[2022-08-30 20:46] garath commented on #10558
Significant improvement happened in dotnet/arcade#10600.

[2022-08-30 20:51] ChadNedzlek commented on #10558
Between that and @MattGal and @AlitzelMendez changes, I think we are probably in a good spot to resolve this after the rollout. Ali's change should make the spikes every 5 minutes less spiky, and my change reduced the size of the data all up, and Matt reduced the frequency of spikes caused by the scaler.

[2022-08-30 20:51] ilyas1974 commented on #10664
https://dev.azure.com/dnceng/internal/_wiki/wikis/DNCEng%20Services%20Wiki/870/Install-new-version-of-Xcode-on-Helix-machines

[2022-08-30 20:53] ilyas1974 commented on #10570
Systesm are back online

[2022-08-30 20:53] #10570 closed

[2022-08-30 21:17] ulisesh commented on #10644
@ChadNedzlek that's correct and the fix will be in tomorrow rollout. Here's the issue https://github.com/dotnet/arcade/issues/10537

[2022-08-30 21:33] missymessa commented on #10644
/cc @directhex :)

[2022-08-30 21:52] garath commented on #10631
Mitigations continue to look good for dnceng. Closing.

[2022-08-30 21:52] #10631 closed

[2022-08-30 22:54] riarenas commented on #10494
PR for this was https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25097. Should deploy on 9/1

[2022-08-30 23:34] AlitzelMendez opened #10669 "a"
### Build

https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=1976644

### Build leg reported

BuildResultAnalysisTest.Tests.TestAlwaysFailing,BuildResultAnalysisTest.Tests.TestAlwaysFailing

### Pull Request

https://github.com/maestro-auth-test/build-result-analysis-test.git/pull/620

### Action required for the engineering services team

To triage this issu

[2022-08-30 23:43] dotnet-eng-status[bot] opened #10671 "Build failed: arcade-services-internal-ci/main #20220830.2"
Build [#20220830.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1976891) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Tue, 30 Aug 2022 23:43:11 GMT
**Duration** - 203 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-08-31 00:26] ChadNedzlek commented on #10316
Do we know what sorts of scenarios/tasks people have in mind when they want to go to the "landing page" @markwilkie? I'm curious what people want it for. A generic landing page could easily get really messy if we don't know what people are trying to accomplish when they go there, and could rapidly turn into some nightmare dashboard with 10,000 widgets no one really needs.

[2022-08-31 00:29] ChadNedzlek commented on #10614
Ick. This one is messy, because there ARE two failed legs... but it's because timeouts in AzDO surface really frustratingly. We'd have to special case timeout handling to render this in a special way. (Honestly, it's probably a whole new kind of error state we'd want to handle, since none of the information we currently display in this state is at all useful).

In my opinion we should _either_ spe

[2022-08-31 00:31] ChadNedzlek commented on #9963
I think, given the catastrophic cost of having too much data we just ran into this last week, this is just not feasible.  This would easily increase the size of the table that just crashed our Kusto cluster by around 40-50x, which we just proved is unsustainable (even when increasing the cluster size from 2 backends to 5).

I recommend we close this. @markwilkie @missymessa, thoughts?

[2022-08-31 00:34] ChadNedzlek commented on #9946
I think if we did anything like this, we'd only ever want to make a single comment.  On PR's with many iterations (and there being multiple legs for each iteration), a comment per commit would pollute the discussion chain to the point where it would stifle actual discussion that I don't think is really acceptable.  Even deleting the comments that are "out of date" leaves an annoyingly large "there

[2022-08-31 00:37] ChadNedzlek commented on #10644
I'm going to close this as a duplicate of #10537. :-)

[2022-08-31 00:37] #10644 closed

[2022-08-31 01:43] dotnet-eng-status[bot] opened #10672 "Build failed: dotnet-arcade-validation-official/main #20220830.5"
Build [#20220830.5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1977618) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 31 Aug 2022 01:43:12 GMT
**Duration** - 98 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### Pr

[2022-08-31 01:45] net-helix[bot] opened #10673 "AzDO Issue #3402"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3402)

[2022-08-31 01:46] ulisesh opened #10674 "[Known issues] Is a known issue blocking a PR?"
We have been discussing the possibility of give build analysis the ability to change the status of PR checks. To get closer to this goal, build analysis would need to know if a known issue should block a PR or if it is ok to merge with a known build break.

Test issues would likely be **not blocking** known issues vs service outages which reduce the confidence of your build.

We need to add this s

[2022-08-31 01:58] dotnet-eng-status[bot] opened #10675 "Build failed: dotnet-arcade-validation-official/main #20220830.6"
Build [#20220830.6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1977666) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 31 Aug 2022 01:58:16 GMT
**Duration** - 105 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-31 03:38] dotnet-eng-status[bot] opened #10676 "Build failed: dotnet-arcade-validation-official/main #20220830.7"
Build [#20220830.7](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1977905) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 31 Aug 2022 03:38:45 GMT
**Duration** - 97 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET En

[2022-08-31 10:05] akoeplinger commented on #10548
@garath the IcM is closed now but it seems a few more machines hit an issue since, would you mind reopening it?

[2022-08-31 12:23] premun opened #10677 "Run E2E smoke tests over its latest main periodically"

[2022-08-31 12:49] YuliiaKovalova commented on #10423
Hi @sandyarmstrong,

Do you have a pipeline or remote machine where I can test the fix?
Thank you!

[2022-08-31 14:03] ilyas1974 commented on #10657
@riarenas can you confirm that this has been resolved?

[2022-08-31 14:05] riarenas commented on #10657
It's resolved. Thanks!

[2022-08-31 14:05] #10657 closed

[2022-08-31 14:22] YuliiaKovalova commented on #10423
@sandyarmstrong,
yes, please https://raw.githubusercontent.com/dotnet/install-scripts/dev/ykovalova/fix_version_def_for_macos/src/dotnet-install.sh

[2022-08-31 15:19] dotnet-eng-status-staging[bot] opened #10679 "Staging - [Alerting] Autoscale: Minutes to scale-up from zero machine alert"
:broken_heart: Metric state changed to *alerting*

  - *WaitTime {Queue=windows.7.amd64.svc}* 55

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queues/queue-monitor?tab=alert&viewPanel=62&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-54aa0d7e647e46ff9e880bf6ae532b99

[2022-08-31 15:31] dotnet-eng-status[bot] opened #10680 "Build failed: dotnet-arcade-validation-official/main #20220830.7"
Build [#20220830.7](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1977905) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 31 Aug 2022 15:30:46 GMT
**Duration** - 2 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET Eng

[2022-08-31 15:32] #10673 closed

[2022-08-31 15:45] MattGal commented on #10478
All branching tasks are done except for triggering the subscription from Arcade to itself ([ongoing](https://github.com/dotnet/arcade/pull/10681)).

Updated instruction docs to be more verbose [in this PR](https://github.com/dotnet/arcade/pull/10670/files).

[2022-08-31 16:04] adiaaida commented on #10423
I also have an M1 so I will test it out for you

[2022-08-31 16:06] ilyas1974 commented on #10615
Closing this issue as these are not systems that are managed by DNCENG and the AzDO team is currently working on implementing a new set of mac systems.

[2022-08-31 16:06] #10615 closed

[2022-08-31 16:12] MattGal commented on #10045
Linked issue already closed.

[2022-08-31 16:12] #10045 closed

[2022-08-31 16:14] MattGal commented on #10056
Linked issue already closed.

[2022-08-31 16:14] #10056 closed

[2022-08-31 16:15] MattGal commented on #10087
Linked issue already closed.

[2022-08-31 16:15] MattGal commented on #10171
Linked issue already closed.

[2022-08-31 16:15] #10171 closed

[2022-08-31 16:19] MattGal commented on #10213
Linked work item is already complete.

[2022-08-31 16:19] #10213 closed

[2022-08-31 16:36] MattGal commented on #10603
Rolled out today, closing

[2022-08-31 16:36] #10603 closed

[2022-08-31 16:41] adiaaida commented on #10423
Confirmed this works in a few different scenarios

[2022-08-31 16:42] YuliiaKovalova commented on #10423
@adiaaida , thank you!!!

[2022-08-31 16:47] MattGal commented on #10679
A machine failed to provision, was cleaned up by manual VM cleaning, and this self recovered after. (instance 154)

[2022-08-31 16:47] #10679 closed

[2022-08-31 16:52] markwilkie commented on #9963
I think that we can press 'pause' on this until budgets get sorted.

[2022-08-31 16:54] markwilkie commented on #10316
The consistent request from multiple folks in different teams is to "replicate" what runfo does today for a landing page.  We could start with a direct rip-off, unless there's something which makes it difficult.

To your point Chad - this *must* be super simple and I'm not on board.  History says that runfo's landing page has been stable and hasn't needed a ton of overhead.

[2022-08-31 16:56] missymessa opened #10682 "[Known issues] Include report of test known issues"
Reported by @jkotas

This is happening for all Known Build Error issues in dotnet/runtime.

Is the summary report that the automation creates in the Known Issues on github expected to work?

It always shows all zeros, even in issues that are probably getting it. For example https://github.com/dotnet/runtime/issues/74328

[2022-08-31 16:57] #10676 closed

[2022-08-31 16:57] #10675 closed

[2022-08-31 16:57] #10672 closed

[2022-08-31 17:22] missymessa commented on #10680
This was a second attempt, so this kind of error is expected. Closing.

[2022-08-31 17:22] #10680 closed

[2022-08-31 17:22] AlitzelMendez opened #10683 "Fix link to open known issues test"
I tried to include a link to the test, unfortunately it has elements that can't be correctly encoded to be passed as part of an url argument.
Sending a link to the build instead. There is more information like the test name to filter the test if we need to take a look etc.

[2022-08-31 17:23] AlitzelMendez commented on #10683
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25422

[2022-08-31 17:59] adiaaida commented on #10562
@mmitche has this been fixed with your work to help them on the linked PR?

[2022-08-31 18:00] adiaaida commented on #10641
Lemme know if you'd like me to take a look at this Dtu. :)

[2022-08-31 18:08] mmitche commented on #10562
@adiaaida Possibly? I don't think I helped specifically with that error, but it passed.

[2022-08-31 18:21] adiaaida commented on #10562
As the build is now passing, I am going to close this issue. If it returns, we can investigate then

[2022-08-31 18:21] #10562 closed

[2022-08-31 18:44] ilyas1974 commented on #10648
Connectivity issues with Kusto that have been resolved. Closing alert.

[2022-08-31 18:44] #10648 closed

[2022-08-31 19:33] adiaaida commented on #10641
Wait, this was 100% related to the fix here: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/commit/d22e5d469d5c50507ef2af25e76e7403ac13b0c2?refName=refs%2Fheads%2Fmain. I will wait until the rollout is complete and run another test

[2022-08-31 20:00] dotnet-eng-status[bot] opened #10686 "Build failed: dotnet-arcade-validation-official/main #20220831.3"
Build [#20220831.3](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1979589) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 31 Aug 2022 20:00:06 GMT
**Duration** - 112 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-31 20:45] missymessa commented on #10686
Microbuild threw a 500 error, but we interpreted it as a warning. Closing.

[2022-08-31 20:45] #10686 closed

[2022-08-31 21:01] riarenas commented on #10494
The exceptions of this type stop at 1:15 PM after today's deployment. Closing

[2022-08-31 21:01] #10494 closed

[2022-08-31 21:01] riarenas commented on #10394
We stopped logging any kusto syntax exceptions due to queue insights. Closing this alert. If we get more instances we should check what the new issue is.

[2022-08-31 21:01] #10394 closed

[2022-08-31 21:21] dotnet-eng-status[bot] opened #10689 "Production - [Alerting] Servicing Builds Running in R&D Pools Alert"
:broken_heart: Metric state changed to *alerting*

  - *count_* 372

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/c95svaMFN9Y39bzUq2x3CiWaJC3wKp.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/historical/backend-status?tab=alert&viewPanel=67&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change

[2022-08-31 21:31] #9686 closed

[2022-08-31 21:31] #10412 closed

[2022-08-31 21:31] #10640 closed

[2022-08-31 21:31] #10590 closed

[2022-08-31 21:48] ilyas1974 opened #10690 "Sustainable solution needed for customer requests to access secrets"
We currently structure our key vaults to be used by shared automation. We need a solution to allow customers to access SAS tokens/secrets outside of this set up.

[2022-08-31 21:52] AlitzelMendez commented on #10489
it seems to be fixed by the rollout as Stu mentioned, I tried to find what happened? but even looking at the pr it doesn't seem to b related. this has stopped long time ago, closing.

[2022-08-31 21:52] #10489 closed

[2022-08-31 21:52] dotnet-eng-status[bot] opened #10691 "Build failed: dotnet-arcade-validation-official/main #20220831.4"
Build [#20220831.4](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1979788) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Wed, 31 Aug 2022 21:52:22 GMT
**Duration** - 108 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-08-31 22:06] net-helix[bot] opened #10696 "AzDO Issue #3406"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3406)

[2022-08-31 22:10] net-helix[bot] opened #10697 "Sentiment Tracking #3407"
Sentiment has been registered against feature HelixQueueInsights. Please see the Azure Boards [work item](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3407) for more details.

[2022-08-31 22:11] riarenas commented on #10697
This was me as a way to self-report a bug. We are showing the same queue multiple times in the queue insights information:

![image](https://user-images.githubusercontent.com/23242101/187794411-6bb8ac8a-d95b-4e3a-99ca-2c02c9e3a572.png)

[2022-08-31 22:21] adiaaida commented on #10641
Github's graphql query inconsistencies strike again!

[code]

vs

[code]

We were failing to add an issue to the project because addProjectV2ItemById returns an `item` object. Naively, I just assumed that I'd made a mistake when making the first change, and updated everything to use an `item` object. But updating the field returns a projectV2Item.... for some reason. So now updating the fields are

[2022-08-31 22:22] adiaaida commented on #10689
This is basically all the 7.0 branches. @MattGal

[2022-08-31 22:35] missymessa commented on #9948
Huzzah! It works: https://dev.azure.com/dnceng/internal/_build/results?buildId=1980010&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073

Closing

[2022-08-31 22:35] #9948 closed

[2022-08-31 22:36] #9742 closed

[2022-08-31 22:36] #10691 closed

[2022-08-31 22:37] #10545 closed

[2022-08-31 22:37] #10604 closed

[2022-08-31 22:49] net-helix[bot] opened #10702 "Prepare rollouts for 2022-09-07"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3408)

[2022-08-31 23:31] missymessa opened #10703 "Refactor CompletedBuildMessage creation to be a custom message type"
Based on a conversation in this PR: https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service/pullrequest/24490, we should refactor the places where KnownIssuesProcessor creates a new version of this message type (which are originally messages provided by Azure DevOps) to be a custom message type.

We should also refactor the functionality around getting the OrgId value out of the Complet

[2022-08-31 23:32] missymessa opened #10704 "Update Build Analysis exception alerting to reduce noise"
See conversation here: https://teams.microsoft.com/l/message/19:23c287844dbd4f2c818607ab799024a9@thread.skype/1661980972708?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=147df318-61de-4f04-8f7b-ecd328c256bb&parentMessageId=1661980972708&teamName=.NET%20Eng%20Services&channelName=V-Team%20-%20Dev%20WF%20(Kitchen)&createdTime=1661980972708&allowXTenantAccess=false

### Release Note Descripti

[2022-09-01 00:31] garath opened #10705 "Native Assets should emit a helpful error message if any combination of artifact or version are not present"
Winforms discovered an unhelpful error in [build 1980038](https://dev.azure.com/dnceng/public/_build/results?buildId=1980038) (there are many other examples). This cause appears to be that the [repository's global.json specifies cmake version 3.21.0](https://github.com/dotnet/winforms/blob/a332a1fec8ddac6172ac149ff46c085cf2beeb43/global.json#L24) but the machine has version 3.22.5 (knowable by nav

[2022-09-01 01:02] MattGal commented on #10689
Yes I've already been dealing with the same alert in staging;  this won't be cleared until the 7.0 branches take the 7.0 arcade update once.  Feel free to assign to me.

[2022-09-01 01:05] net-helix[bot] opened #10706 "AzDO Issue #3409"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3409)

[2022-09-01 01:11] AlitzelMendez commented on #10637
No issues :)

[2022-09-01 01:11] #10637 closed

[2022-09-01 01:28] dotnet-eng-status[bot] opened #10707 "Build failed: dotnet-arcade-validation-official/main #20220831.6"
Build [#20220831.6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1980296) failed

## :x: : internal / dotnet-arcade-validation-official failed

### Summary
**Finished** - Thu, 01 Sep 2022 01:27:55 GMT
**Duration** - 83 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### Validate Publishing
- :x: - [[Lo

[2022-09-01 01:52] dotnet-eng-status[bot] opened #10708 "Build failed: dotnet-arcade-validation-official/main #20220831.5"
Build [#20220831.5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1980287) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Thu, 01 Sep 2022 01:51:54 GMT
**Duration** - 109 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-09-01 02:43] dotnet-eng-status[bot] opened #10709 "Production - [Alerting] Pipelines found by Queue Insights"
:broken_heart: Metric state changed to *alerting*

  - *buildMachines* 0
  - *queues* 0

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/FAhVsJvm4mPHmZmrNiBW0iI0bSB87i.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/FkVL2zRVz/queue-insights?tab=alert&viewPanel=6&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information be

[2022-09-01 02:48] dotnet-eng-status[bot] opened #10710 "Production - [Alerting] Pipelines found by Queue Insights"
:broken_heart: Metric state changed to *alerting*

  - *buildMachines* 0
  - *queues* 0

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/7Q97mDvus4RrsWalP2P8UnvDB5ThXb.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueInsights/queue-insights?tab=alert&viewPanel=6&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation informatio

[2022-09-01 03:30] dotnet-eng-status[bot] opened #10711 "Build failed: dotnet-arcade-validation-official/main #20220831.7"
Build [#20220831.7](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1980798) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Thu, 01 Sep 2022 03:30:40 GMT
**Duration** - 95 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET En

[2022-09-01 04:47] davidwengier opened #10712 "Help with RazorExtension.dll failing SymbolCheck"
### Build

Razor insertions are failing SymbolCheck for one specific DLL, and I've tried to dig in to find out why, but I have reached my limit, and would appreciate some guidance or assistance.

eg, on our most recent insertion:
https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/420798

SymbolCheck failed for microsoft.visualstudio.razorextension.dll
https://devdiv.visualstudio.com/DevDiv

[2022-09-01 05:16] dotnet-eng-status[bot] opened #10713 "Build failed: dotnet-arcade-validation-official/main #20220831.8"
Build [#20220831.8](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1980889) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Thu, 01 Sep 2022 05:16:18 GMT
**Duration** - 101 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-09-01 07:34] net-helix[bot] opened #10714 "AzDO Issue #3410"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3410)

[2022-09-01 07:42] #10491 closed

[2022-09-01 08:06] andriipatsula commented on #10651
closing this as is green for 2 days. explanation here: https://github.com/dotnet/arcade/issues/10651#issuecomment-1231641608

[2022-09-01 08:06] #10651 closed

[2022-09-01 08:07] andriipatsula commented on #10650
after the restart of the list of machines listed here https://github.com/dotnet/arcade/issues/10650#issuecomment-1231605024 metric is green now.

[2022-09-01 08:07] #10650 closed

[2022-09-01 08:11] andriipatsula commented on #10646
@ilyas1974 , only `ubuntu.1804.armarch` queue is below the range of 80% and due to machine `ddvsotx2l049`, but I don't see it mlskvmui. Could you please assist?

[2022-09-01 09:39] andriipatsula commented on #10710
this is very similar to issue https://github.com/dotnet/arcade/issues/10709. The question here (as I see) is why do we have duplicate github issue here?

[2022-09-01 09:40] andriipatsula commented on #10709
this is very similar to issue https://github.com/dotnet/arcade/issues/10710. The question here (as I see) is why do we have duplicate github issue here?

[2022-09-01 10:13] dotnet-eng-status[bot] opened #10715 "Build failed: arcade-services-internal-ci/main #20220831.2"
Build [#20220831.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1981019) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Thu, 01 Sep 2022 10:12:49 GMT
**Duration** - 198 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-09-01 13:45] dotnet-eng-status[bot] opened #10717 "Build failed: arcade-services-internal-ci/main #20220901.1"
Build [#20220901.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1981153) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Thu, 01 Sep 2022 13:45:22 GMT
**Duration** - 201 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-09-01 14:46] adiaaida commented on #10423
Update: @YuliiaKovalova has checked in the change to install-scripts, and those should deploy next week. I am going to close this issue.

[2022-09-01 14:46] #10423 closed

[2022-09-01 16:03] #10713 closed

[2022-09-01 16:22] #10696 closed

[2022-09-01 17:02] AlitzelMendez opened #10718 "Add organization to known issues"
We didn't include the organization to the known issues tables which is causing that the known issues report has incorrect links to the builds.

[2022-09-01 17:06] garath opened #10719 "DataMigration: Unauthorized access exception when talking to dnceng-public"
Example traces: [Go to log analytics and run query](https://ms.portal.azure.com/#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_OperationsManagementSuite_Workspace/Logs.ReactView/resourceId/%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fdotnet-eng-cluster%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2Fdotnet-eng/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIA

[2022-09-01 17:10] AlitzelMendez commented on #10718
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25451

[2022-09-01 17:11] AlitzelMendez commented on #10682
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25452

[2022-09-01 17:12] AlitzelMendez commented on #10636
PR: https://github.com/dotnet/arcade/pull/10668

[2022-09-01 17:33] adiaaida commented on #10071
This rolled out yesterday!

[2022-09-01 17:33] #10071 closed

[2022-09-01 17:39] AlitzelMendez commented on #10682
this is the same as: https://github.com/dotnet/arcade/issues/10658
closing the other one on favor of this but updating the name of this to reflect what happened!

[2022-09-01 17:39] AlitzelMendez commented on #10658
closing in favor of: https://github.com/dotnet/arcade/issues/10682

[2022-09-01 17:39] #10658 closed

[2022-09-01 18:08] adiaaida commented on #10669
@AlitzelMendez What's going on with this issue? Is it a test? Can we close the issue?

[2022-09-01 18:31] dotnet-eng-status[bot] opened #10720 "Production - [Alerting] Data Migration: Migration Queue Depth alert"
:broken_heart: Metric state changed to *alerting*

  - *DataMigrationQueueDepth* 54217

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/95n4ftVvwHq6lRP8E0EoFeWydtNMGv.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/historical/backend-status?tab=alert&viewPanel=40&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information b

[2022-09-01 18:33] mmitche opened #10721 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:33] mmitche commented on #10721
This is .NET 8 work

[2022-09-01 18:56] dotnet-eng-status[bot] opened #10722 "Production - [Alerting] Exceptions and Errors alert"
:broken_heart: Metric state changed to *alerting*

  - *Message* 1

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/Y0QU3jBHIB2wUcUe3J2Sd8wQa3j4nq.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/buildAnalysis/build-analysis?tab=alert&viewPanel=46&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not chan

[2022-09-01 20:07] garath commented on #9555
This has come up in the past, but the problem is that Arcade is in a lot of ways owned by everyone who does any build/infra work in .NET. I think the best way to approach this is to flip the ask: if anyone does need an "owner" and finds one, open a PR with the CODEOWNERS.

[2022-09-01 20:11] adiaaida commented on #8858
Triaging into Secret Sweep 'n Clean

[2022-09-01 20:12] garath commented on #9555
I'm going to close this with the suggestion to create/add to a CODEOWNERS as needed, but feel free to reopen for more discussion if there is a strong need.

[2022-09-01 20:12] #9555 closed

[2022-09-01 20:14] adiaaida commented on #8950
From triage: the value doesn't seem to match the cost of this, so we are closing for now.

[2022-09-01 20:14] #8950 closed

[2022-09-01 20:46] missymessa commented on #10669
Looks like she was using it for testing a problem with Known Issues. We can close it. (And if I'm wrong, she can reopen it :) )

[2022-09-01 20:46] #10669 closed

[2022-09-01 20:51] MattGal commented on #10556
this is rolled out, closing.

[2022-09-01 20:51] #10556 closed

[2022-09-01 20:52] MattGal commented on #10478
Instructions PR is merged, closing.

[2022-09-01 20:52] #10478 closed

[2022-09-01 20:55] adiaaida commented on #9305
We are not likely going to be able to prioritize the work in the near future. Jared, if you would like to submit a PR for the workaround, we would definitely take it.

[2022-09-01 21:26] net-helix[bot] opened #10723 ""all checks completed" but there are still pipelines running"
A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

It says "all checks completed" but there are still pipelines running.

Feedback submitted by a user that chose to remain anonymous.

Parameters

ki = 0
rt = 0
r = dotnet/runtime
rb = 0
ub = 0
ut = 0
c = 337f84141ff1
s = 2022-09-01T20-24-24
e = 0

[2022-09-01 22:05] garath commented on #10719
Fixed scope and permissions. I'll continue to monitor the queue.

[2022-09-01 22:43] missymessa commented on #10058
Checked a recent Arcade PR and it looks like the links are pointing back to `dnceng-public/public`.

[2022-09-01 22:45] missymessa commented on #10058
Seeing test results in prod Kusto cluster with `dnceng-public` listed as the organization.

[2022-09-01 23:32] garath commented on #10719
Migration queue depth finally under the alert threshold. #10720

[2022-09-01 23:35] garath commented on #10720
The Data Migration service was using a PAT not scoped to the new dotnet-public org. I've updated the PAT.

The graphs also imply that this service is only barely keeping up with its regular workload. The PAT issues were fixed around at 21:30 UTC but the queue depth kept increasing under the load.

[2022-09-01 23:36] #10719 closed

[2022-09-02 00:08] garath commented on #9865
Fix is rolled out. Test team will complete a retrospective.

[2022-09-02 00:08] #9865 closed

[2022-09-02 01:53] pjcollins commented on #9820
We've found a way to resolve this by building swix projects in multiple batches, one for packs that will be used by multiple SDK bands, and one for everything else. I'm going to close this, though we still need to find a way to support multitargeting with workload pack groups without hitting NuGet size limitations.

[2022-09-02 01:53] #9820 closed

[2022-09-02 02:18] dotnet-eng-status[bot] opened #10725 "Production - [Alerting] Autoscale: Minutes to scale-up from zero machine alert"
:broken_heart: Metric state changed to *alerting*

  - *WaitTime {Queue=windows.10.amd64.clientrs5.xaml}* 52

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queues/queue-monitor?tab=alert&viewPanel=62&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-54aa0d7e647e46ff9e880bf6ae532b

[2022-09-02 06:52] #10622 closed

[2022-09-02 09:30] dotnet-eng-status[bot] opened #10726 "Production - [Alerting] On-Prem Machines Heartbeating By Queue alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating {QueueName=ubuntu.1804.amd64.tiger.perf.open}* 75

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/Q4d7lO3OW4nEPF52h4ye55FFFrNddm.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueOverview/on-premises-helix-queue-status?tab=alert&viewPanel=9&orgId=1)

@dotnet/dnceng, pl

[2022-09-02 10:23] andriipatsula commented on #10726
`now()` == 10:22 UTC

Machine | Last_Heartbeat
-- | --
**PERFTIGER212** | **2022-09-02 08:51:02.0000000**
PERFTIGER213 | 2022-09-02 10:19:52.0000000
PERFTIGER211 | 2022-09-02 10:19:53.0000000
PERFTIGER210 | 2022-09-02 10:19:56.0000000

I am going to restart PERFTIGER212 on-prem machine.

[2022-09-02 10:26] andriipatsula commented on #10726
restarted

[2022-09-02 11:28] dotnet-eng-status[bot] opened #10727 "Build failed: arcade-services-internal-ci/main #20220902.1"
Build [#20220902.1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1982206) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Fri, 02 Sep 2022 11:28:14 GMT
**Duration** - 204 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-09-02 14:23] andriipatsula commented on #10646
restarted `ddvsotx2l049` manually via ssh

[2022-09-02 14:23] #10646 closed

[2022-09-02 15:07] dotnet-eng-status[bot] opened #10729 "Build failed: arcade-services-internal-ci/main #20220902.2"
Build [#20220902.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1982360) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Fri, 02 Sep 2022 15:06:44 GMT
**Duration** - 193 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Validate deployment
- :x: - [[Log]](https://dev.azure.com/dnc

[2022-09-02 16:10] mmitche commented on #10669
Yes, this issue should 'b' closed

[2022-09-02 16:11] mmitche commented on #10669
'C', if we never close our test issues, we'll just drown in debt.

[2022-09-02 16:24] Tarrasse commented on #9026
- Each pipeline runs maps to a file container in ADO
- File container has a tree of files in a file system like structure
- Each file is identified by its path/name

The problem here is that this pipeline had multiple jobs, all of them were generating the same file and uploading it. Occasionally two jobs would catch up to each other and upload the same file concurrently, that would result in this

[2022-09-02 16:36] andriipatsula commented on #10726
Metric is green after restarting machines

[2022-09-02 16:36] #10726 closed

[2022-09-02 17:05] mmitche commented on #9026
This is correct. Think this may have been fixed in the past but regressed. Only one of the SDK's jobs should pass `-publish`

[2022-09-02 17:39] missymessa commented on #10669
I love how this issue has turned into a meme :D

[2022-09-02 18:18] garath commented on #10709
You are right, this is a duplicate of #10710. This instance is from a "personal" Grafana dashboard that was probably just being used to develop the configuration for production.

I've disabled this alert in Grafana. #10710 is the actual production view.

[2022-09-02 18:18] #10709 closed

[2022-09-02 19:44] AndyAyersMS opened #10731 "Failed to download package 'runtime.any.System.Text.Encoding.4.3.0'"
### Build

https://dev.azure.com/dnceng-public/cbb18261-c48f-4abb-8651-8cdcb5474649/_build/results?buildId=3005

### Build leg reported

CoreCLR  Product Build OSX x64 checked / Build managed product components and packages

### Pull Request

https://github.com/dotnet/runtime/pull/75001

### Action required for the engineering services team

To triage this issue (First Responder / @dotnet/dnceng):

[2022-09-02 19:46] AndyAyersMS opened #10732 "Display Test Known Issues for tests in non-PR pipelines"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We often see recurring/repeated failures in outerloop and other non-PR jobs. Would be nice if build analysis applied here too, as there is often substantial manual effort involved in triaging the failures we see in these jobs.

cc @JulieLeeMSFT

[2022-09-02 20:04] missymessa commented on #10732
Hi @AndyAyersMS, since Build Analysis is tied to Pull Requests, how are you envisioning the workflow would work for having Build Analysis run against non-PR jobs?

[2022-09-02 20:28] AndyAyersMS commented on #10732
Any failure in a non-PR job is in some sense infrastructure failure or a pre-existing failure. The main thing that would be nice here is the ability to quickly see when these failures are known failures with open issues.

[2022-09-02 20:47] missymessa commented on #10732
I'll follow up with you offline to get more of an idea of how you're thinking this flow would work. :)

[2022-09-02 20:51] ChadNedzlek commented on #10732
They already are in there.  If you go to one of the rolling builds, you can click here to get to the GitHub commit for the build:
![image](https://user-images.githubusercontent.com/11790765/188233502-8622aa01-b47d-4773-96a0-38c1e31e1795.png)

Then in the commit, you can click here:
![image](https://user-images.githubusercontent.com/11790765/188233326-8077f40b-1877-495b-8df1-5f94a45fe783.png)

[2022-09-02 20:52] ChadNedzlek commented on #10732
If you are just looking at the commit history for main, it's a bit easier, you can click here to see the results:
![image](https://user-images.githubusercontent.com/11790765/188233619-4f7542e8-4746-496e-bdbc-68ad95dfa3ce.png)

[2022-09-02 20:52] ChadNedzlek commented on #10732
Granted, GitHub's discoverability is so low there as to basically be zero, but we _are_ running analysis on the rolling builds, and you can get there with 2 or 3 clicks... you just have to know where to click.

[2022-09-02 21:01] ChadNedzlek commented on #10000
I made the title a little more specific and less flippant (even if it's sort of overlong now).

[2022-09-02 21:03] ChadNedzlek commented on #10000
It should also be pretty trivial to enact this.  We can just delete the code that's making those comments, and just update the description instead if we wanted to be extra fancy.  But at the very least, the comments aren't really useful, since someone generally goes to the alert on grafana anyway as part of investigation.

[2022-09-02 21:24] AndyAyersMS commented on #10732
Thanks @ChadNedzlek

How about for something like: https://dev.azure.com/dnceng/public/_build?definitionId=1000. For the recent runs one of the failures is in the `GetTotalPauseDuration` test.

There is an open issue for this https://github.com/dotnet/runtime/issues/74877 -- how can I quickly discover that the failures I see here are covered by that issue.

[2022-09-02 21:28] garath commented on #10731
Just a note, the restore also had some SSL failures.

[2022-09-02 21:33] ChadNedzlek commented on #10732
We don't have any analysis that spans multiple builds if not using the "known issues" feature, which that issue doesn't appear to be. Build Analysis is focused on making specific PR's actionable.  Investigating current issues isn't it's primary focus, unfortunately.  Though there are still some options not strictly related to the build analysis check:

You could use the analytics page of Azure Dev

[2022-09-02 21:39] dotnet-eng-status-staging[bot] opened #10733 "Staging - [Alerting] Test Reporting Services Monitoring alert"
:broken_heart: Metric state changed to *alerting*

  - *AzureDevOpsTestAggregation Exceptions* 1

![Metric Graph](https://dotnetgrafanastaging.blob.core.windows.net/grafana/rYZFdAX9p1BygwFjPvMJqVrcx3PVCn.png)

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/buildAnalysis/build-analysis?tab=alert&viewPanel=48&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summ

[2022-09-02 21:47] Chrisboh commented on #10000
Thank you for the added clarity Chad as we did take this in a different direction based on our interpretation of the original title.  @ilyas1974  do you want to create a different issue that is tracking what you are looking at?

[2022-09-02 21:55] markwilkie commented on #10732
There's also the search test or build logs in the cloud feature....  (not sure the test search is turned on yet for /runtime though)

[2022-09-02 21:55] missymessa commented on #10732
Had a chat with Andy about this feature request.

Essentially, for non-PR builds, knowing if a test is failing due to a known issue is near impossible to discover from the AzDO UI. It would save hours of investigation time if we were able to provide a list of known test issues on these pipeline runs, either as another column on the test results:

![image](https://user-images.githubusercontent.com/

[2022-09-02 21:59] ChadNedzlek commented on #10732
I'm not sure how we would accomplish such a thing.  I think for overarching test analysis, the Kusto database is probably the best bet.  It's possible we should be including some metadata about known issues in there (tests that fail due to known issues aren't able to be found/filtered out in those tables)

[2022-09-02 22:02] missymessa commented on #10732
Spitballing solutions:
1) Output the Build Analysis content to some kind of extension that would show up on pipeline.
2) If the test runs through Helix, Helix would look up failing tests to see if there was a known issue open to it already and link that data in the test results that would show up once it was posted on AzDO.

[2022-09-02 22:08] ChadNedzlek commented on #10732
We could try and add an extension into AzDO, but that's a fair bit of dev time and maintenance solution, since it can't be "GitHub flavored markdown", so we'd need an entirely separate rendering of it as pure HTML+CSS (or some _other_ markdown engine, which will be expensive.

I don't think Azure DevOps is the right place for attempting to do this sort of build spanning analysis. The costs of us a

[2022-09-02 22:35] AlitzelMendez commented on #10731
@AndyAyersMS do you want to track every system.text.encoding timeout? or every timeout happening on while downloading a package?
my question is to identify the best "Error message" for the scenario that you want to track :) thanks!

[2022-09-02 22:38] AndyAyersMS commented on #10731
Seems like this particular error is going to be sporadic and hit on different things over time, so I would guess any package?

[2022-09-03 01:42] dotnet-eng-status[bot] opened #10735 "Build failed: dotnet-arcade-validation-official/main #20220902.2"
Build [#20220902.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1982916) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Sat, 03 Sep 2022 01:41:49 GMT
**Duration** - 98 minutes
**Requested for** - Microsoft.VisualStudio.Services.TFS
**Reason** - schedule

### Details

#### Pr

[2022-09-05 06:06] net-helix[bot] opened #10736 "AzDO Issue #3412"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3412)

[2022-09-05 10:30] premun commented on #10653
https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/25506

[2022-09-05 10:49] premun commented on #10655
@akoeplinger do you know if someone's trying to use the `osx.amd64.appletv.scouting.open` queue? I can see there are some failures but it very well might be because of Xcode 14 and old mlaunch version.

Is this something you want to get going? I see there's **Xcode 14 beta 2** on there and seems like the TCP connection is broken.

[2022-09-05 10:50] premun commented on #10655
Ah, sorry, I just saw https://github.com/dotnet/arcade/issues/10664

[2022-09-05 11:17] #10725 closed

[2022-09-05 11:17] #10591 closed

[2022-09-05 11:23] premun commented on #10664
I asked Rolf whether mlaunch supports Xcode 14 already (mlaunch hasn't been updated since mid of June)

[2022-09-05 12:12] premun commented on #10664
This should do https://github.com/dotnet/xharness/pull/944

(installation of Xcode itself described in the link from Ilya is still left)

[2022-09-05 15:41] premun commented on #9387
I guess this is related to https://github.com/dotnet/arcade/pull/9402?

[2022-09-06 07:46] premun commented on #10548
I disabled the machines

[2022-09-06 08:14] premun commented on #10548
I can't open the IcM ticket as the portal is somehow down:

![image](https://user-images.githubusercontent.com/7013027/188582967-b418ba2d-cadd-43e3-95f0-21749444901f.png)

[2022-09-06 13:59] pavelsavara commented on #10690
My use case it to download artifacts produced by internal CI pipeline. I think I should not need to have access to KeyVault with other secrets.

[2022-09-06 14:51] mthalman opened #10742 "Migrate off of pkgsrc.joyent.com"
A build issue popped up in https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/683 which was getting a failure when attempting to run the build-rootfs.sh script. It was failing due to an [expired cert for pkgsrc.joyent.com](https://github.com/TritonDataCenter/pkgsrc/issues/342). The build-rootfs.sh script currently references the pkgsrc.joyent.com domain:

https://github.com/dotnet/arc

[2022-09-06 15:03] riarenas commented on #10710
Yeah, the duplicates are strange. Has anyone taken a look at why the alert is firing though? my guess is this is related to the dotnet-public migration and missing information in Matrix of truth because of that. Has anything been looked at so far or should I start digging?

[2022-09-06 15:28] #10735 closed

[2022-09-06 15:49] MattGal commented on #10548
@premun they have a landing page [here](https://ddfunlandingpagev120210311150648.azurewebsites.net/) for this so you don't have to use the IcM portal.

Created https://portal.microsofticm.com/imp/v3/incidents/details/333040999/home.

[2022-09-06 17:10] adiaaida commented on #10733
@AlitzelMendez @missymessa can we close this issue?

[2022-09-06 17:11] adiaaida commented on #10722
@AlitzelMendez @missymessa can we close this issue?

[2022-09-06 17:12] adiaaida commented on #10710
@riarenas this alert has been flip flopping all over the place. Do you have any thoughts into why?

[2022-09-06 17:14] adiaaida commented on #10664
I assume beta 6 is what is needed?

[2022-09-06 17:17] steveisok commented on #10664
Yes, the latest beta would be best.

[2022-09-06 17:18] riarenas commented on #10710
It's a legitimate alert. We are not finding matrix of truth data for some of the pipelines that were moved to dnceng-public when queue insights tries to run. I think it's flip-flopping due to sometimes finding the data, and perhaps we can refine the alert triggering.

It's still unclear to me whether that is expected behavior due to the migration, or if the matrix of truth data needs some adjustme

[2022-09-06 17:19] adiaaida commented on #10710
@dkurepa is still on vacation but when he gets back, maybe he will have some insight into the MoT data

[2022-09-06 17:20] garath commented on #10710
The other alert is just a plain ol' duplicate. I've closed it. See comment https://github.com/dotnet/arcade/issues/10709#issuecomment-1235786414.

[2022-09-06 17:20] garath commented on #10710
The other alert is just a plain ol' duplicate. I've closed it. See my commnet https://github.com/dotnet/arcade/issues/10709#issuecomment-1235786414

[2022-09-06 17:36] missymessa commented on #10732
/cc @radical

[2022-09-06 17:53] missymessa opened #10743 "Fix post-deployment scenario test in Helix Services"
Since the AzDO org migration, we're seeing our post-deployment scenario test in Helix Services (for Build Analysis functionality) fail. It likely has something to do with the fact that the repo we're using for testing is not in the dotnet GitHub org.

/cc @alexperovich @AlitzelMendez

TODO:
- [x] Reactivate scenario tests

### Release Note Description
Internal, Not for release notes. Activating ag

[2022-09-06 17:57] missymessa commented on #10733
Oh.. that's a lot of exceptions...

[2022-09-06 17:59] missymessa commented on #10733
Looks like a ton of generic: "An error occurred while sending the request."

The only thing that looks interesting is: "Kusto client timed-out when sending a request to the service. "

[2022-09-06 18:01] garath commented on #10733
I'm curious, what's a good query to start with?

[2022-09-06 18:02] missymessa commented on #10733
Good query for what?

[2022-09-06 18:11] missymessa commented on #10733
@garath I'm assuming you want to know what I did to find the errors? I generally look at this panel to see what's going on with the service that was erroring: https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/buildAnalysis/build-analysis?viewPanel=51

[2022-09-06 18:25] missymessa commented on #10722
Some vague errors from Octokit for like 10 minutes, then it stopped
![image](https://user-images.githubusercontent.com/47990216/188710581-267f07bc-ef4d-442e-b874-a90fc403e934.png)

Closing for now, since it's unactionable.

[2022-09-06 18:31] adiaaida commented on #10722
Thanks Missy!

[2022-09-06 18:33] riarenas commented on #10340
This is a tricky query to improve without making some substantial changes to queue insights:

* We want to look at the latest 30 runs of a given pipeline, and adjust our predictions based on that.
* We don't know how far back in time we have to go to get those 30 runs, especially for pipelines that don't run often.
* If we are too aggressive with picking a cutoff time for the data we look for, the

[2022-09-06 18:36] riarenas commented on #10710
I'm going to disable this alert for now.
We either need to:
* Wait for all the quirks of the migration to be ironed out so that the data is accurate again
* Changes are needed so that the MoT data is consistent again after the migration.

The alert will keep flipping until one of these things happen.

[2022-09-06 19:01] premun commented on #10548
Yeah, the templates were not loading, I think there was some outage

[2022-09-06 20:10] MattGal commented on #10018
Small hiccup, forgot to clean out the resource group and storage account checks, addressed in    https://dnceng.visualstudio.com/internal/_git/dotnet-helix-machines/pullrequest/25553

[2022-09-06 20:20] dotnet-eng-status[bot] opened #10746 "Build failed: arcade-services-internal-ci/main #20220902.2"
Build [#20220902.2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1982360) failed

## :x: : internal / arcade-services-internal-ci failed

### Summary
**Finished** - Tue, 06 Sep 2022 20:20:08 GMT
**Duration** - 65 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Deploy
- :warning: - [[Log]](https://dev.azure.com/dnceng/7ea9

[2022-09-06 21:33] dotnet-eng-status[bot] opened #10747 "Production - [Alerting] Apple simulator failure rate alert"
:broken_heart: Metric state changed to *alerting*

  - *FailureRate {Machine=dci-mac-build-210}* 100

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=18&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-36d07fceeaf0472b804d8358b2198e

[2022-09-06 21:42] michellemcdaniel opened #10748 "3.x and 5.x official builds are still failing to install and run darc"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Reported on teams:

[2022-09-06 21:45] riarenas commented on #10746
Got this to pass in the 6th attempt: https://dev.azure.com/dnceng/internal/_build/results?buildId=1982360&view=results

[2022-09-06 21:45] #10746 closed

[2022-09-06 21:46] riarenas commented on #10729
Latest attempt was successful. Flaky scenario tests as usual

[2022-09-06 21:46] #10729 closed

[2022-09-06 21:46] riarenas commented on #10717
Latest build is successful

[2022-09-06 21:46] #10717 closed

[2022-09-06 21:46] riarenas commented on #10715
Latest build is successful

[2022-09-06 21:46] #10715 closed

[2022-09-06 21:46] riarenas commented on #10711
Latest build is successful

[2022-09-06 21:46] #10711 closed

[2022-09-06 21:46] riarenas commented on #10671
Latest build is successful

[2022-09-06 21:46] #10671 closed

[2022-09-06 21:46] riarenas commented on #10662
Latest build is successful

[2022-09-06 21:46] #10662 closed

[2022-09-06 21:46] riarenas commented on #10643
Latest build is successful

[2022-09-06 21:46] #10643 closed

[2022-09-06 21:46] riarenas commented on #10427
Latest build is successful

[2022-09-06 21:46] #10427 closed

[2022-09-06 21:46] riarenas commented on #10398
Latest build is successful

[2022-09-06 21:46] #10398 closed

[2022-09-06 21:48] riarenas commented on #10727
Latest build succeeded

[2022-09-06 21:48] #10727 closed

[2022-09-06 22:25] garath commented on #9387
@ilyas1974 I think the newer work (like what we just got off the phone discussing) is superseding this issue. Shall we close this?

[2022-09-06 22:47] garath commented on #10617
The ICM was [331318192](https://portal.microsofticm.com/imp/v3/incidents/details/331318192/home) and has been closed. I've brought the machines back online.

[2022-09-06 23:35] dotnet-eng-status[bot] opened #10750 "Production - [Alerting] Exceptions and Errors alert"
:broken_heart: Metric state changed to *alerting*

  - *Message* 1

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/FLX622L6SkS6w1eajKJFzfzrfTA0Ph.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/buildAnalysis/build-analysis?tab=alert&viewPanel=46&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not chan

[2022-09-06 23:36] dougbu commented on #10311
@rainersigwald do you have a commit we should be hunting for in https://maestro-prod.westus2.cloudapp.azure.com/2237/https:%2F%2Fgithub.com%2Fdotnet%2Fsdk/latest/graph to avoid needing the `DOTNET_CLI_DO_NOT_USE_MSBUILD_SERVER` workaround❔

SDK is currently pulling in a `msbuild` build that's 5 days old and contains commit https://github.com/dotnet/msbuild/commits/2db11c256ade886f673ed56d12780fb70

[2022-09-06 23:39] MattGal commented on #10311
Depending on whether or not you also do the behavior that triggers the bug, taking an arcade update https://github.com/dotnet/arcade/pull/10629 may fully remove the need to make this change (and is included in the 7.0 release branch of arcade)

[2022-09-07 02:34] net-helix[bot] opened #10754 "S360 Action"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3413)

[2022-09-07 06:35] davidwengier opened #10755 "Failure installing Guardian after arcade update to 8.0.0-beta.22452.1"
### Build

https://dev.azure.com/dnceng/internal/_build/results?buildId=1984227

### Build leg reported

Run SDL tool

### Pull Request

https://github.com/dotnet/razor-tooling/pull/6721

### Action required for the engineering services team

To triage this issue (First Responder / @dotnet/dnceng):
- [ ] Open the failing build above and investigate
- [ ] Add a comment explaining your findings

If

[2022-09-07 08:01] rzikm commented on #10253
@MattGal We have found some more platforms which are missing MsQuic:

Mariner (docker image): https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-9bdfb528372c45779a/System.Net.Quic.Functional.Tests/1/console.6d6097f9.log?helixlogtype=result
OpenSuse 15.2: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-5f3cc5d8b53a49a396/Syste

[2022-09-07 10:50] premun opened #10756 "New public AzDO fails all jobs with `macOS-12` hosted agents"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

The pipelines in the new dnceng-public AzDO instance can't use Azure Pipelines macOS-12 agents.

![image](https://user-images.githubusercontent.com/7013027/188860307-225e3688-8df4-4ef5-9b53-bb33ac521759.png)

You can try in this PR - https://github.com/mono/mono.posix/pull/27
Pipeline is here: https://dev.azure.com/dnceng-

[2022-09-07 10:52] premun opened #10757 "The `MonoARM64` agent pool wasn't migrated to `dnceng-public`"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Original pool https://dev.azure.com/dnceng/public/_settings/agentqueues?queueId=160&view=jobs

Failing pipelines: https://dev.azure.com/dnceng-public/public/_build/results?buildId=7071&view=results

[2022-09-07 15:22] MattGal commented on #10755
Taking a look.  The feed listed definitely has the version being requested, and I verified that the service connection is not supposed to expire until 12/10/2022

[2022-09-07 15:26] MattGal commented on #10253
@rzikm all four of these examples are Docker images.  You can tell from the `using docker image` at the top of the logs.  LibMsquic can be added via simple PR to https://github.com/dotnet/dotnet-buildtools-prereqs-docker.

[2022-09-07 15:29] MattGal commented on #10755
@garath any thoughts here?

[2022-09-07 16:45] missymessa commented on #10733
Kusto team closed the IcM I created with this feedback:

Cluster is healthy, this query has been executed for an hour hence the query has been timeout, please review your query and adjust it accordingly.

[Query best practices - Azure Data Explorer | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fdata-explorer%2Fkusto%2Fquery%

[2022-09-07 16:50] MattGal opened #10759 "Update base image for Windows.10.Amd64.CoreAppCompat* queues to simpler VS-2017-having image"
The images used on Windows.10.Amd64.CoreAppCompat / Windows.10.Amd64.CoreAppCompat.Pr are routinely getting flagged for bulit-in Windows images.  Switching to a server-based image from our VS 2017 build image collection should reduce or eliminate the problem.

[2022-09-07 17:01] dotnet-eng-status[bot] opened #10760 "Production - [Alerting] High Number of Machines With Low Disk Space in Some Queue(s)"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Low Disk {Queue=windows.10.amd64.pixel.perf}* 0.5

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/CWeXMPJR8qPYjiJZHaKTBE4AV5taCT.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queues/queue-monitor?tab=alert&viewPanel=84&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary

[2022-09-07 17:18] net-helix[bot] opened #10761 "Build Analysis says all checks are complete, but that is a lie"
![image](https://user-images.githubusercontent.com/47990216/188940729-1edc696e-e6d7-44ed-99e1-c21faba4f1aa.png)

A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

Likely an issue with the dnceng -> dnceng-public migration. Build Analysis says all checks are complete, but the pipelines are still running.

Related PR: https://github.com/dotnet/runtime/pull/75200/c

[2022-09-07 17:18] MattGal commented on #10756
I shared this with some folks from the mac cloud team as well

[2022-09-07 17:24] missymessa commented on #10761
/cc @radical

[2022-09-07 18:04] MattGal commented on #10018
Both staging and production "old" clusters are now cleaned up.

[2022-09-07 18:30] MattGal commented on #10253
I'll handle trying to get these into the docker images at hand, but I hit issues on 4/4 of them:

- Mariner (docker image):  Installs but all tests crash with `relocation error: /lib/libmsquic.so.2: symbol EVP_chacha20_poly1305 version OPENSSL_1_1_0 not defined in file libcrypto.so.1.1 with link time reference`
- OpenSuse 15.2:  Installs fine but 5 tests throw exceptions (rest pass; maybe an OK ou

[2022-09-07 18:51] dotnet-eng-status[bot] opened #10763 "Production - [Alerting] On-Prem Machines Heartbeating By Queue alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating {QueueName=windows.10.amd64.pixel.perf}* 50

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/SnEMTdFCQ2k1ujgotRN04PsxW7LbHj.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueOverview/on-premises-helix-queue-status?tab=alert&viewPanel=9&orgId=1)

@dotnet/dnceng, please i

[2022-09-07 20:08] MattGal commented on #10763
DNCENGWIN-065 didn't come back from reboot, I manually rebooted it.

[2022-09-07 20:08] #10763 closed

[2022-09-07 20:16] alexperovich commented on #10757
What pool even is this? Who manages it? It looks like a pool of static machines.

[2022-09-07 20:18] riarenas commented on #10757
@directhex is listed as the pool owner

[2022-09-07 20:20] directhex commented on #10757
Hm?

Yeah, that's a small pile of Lenovo Ampere machines. I can probably dig up the asset tags. They're on mlskvmui

[2022-09-07 20:21] alexperovich commented on #10757
I may be able to switch them to the new org, but its probably better for whoever did that originally to do it

[2022-09-07 20:24] directhex commented on #10757
I can do it. Do I have permission to create a new pool, or register a new agent, though?

[2022-09-07 20:25] alexperovich commented on #10757
I can add you

[2022-09-07 20:28] directhex commented on #10757
Or can we throw them in a trash compactor and use Azure Dpsv5 yet?

[2022-09-07 21:11] jaredpar opened #10764 "Helix authenticated calls have lower rate limit than anonymous ones"
The current rate limit for Helix API calls is

| Client Type | Calls per Minute | Calls per Hour |
| --- | --- | --- |
| Anonymous | 400 | 24,000 |
| Authenticated | Unknown | 5,000 |

Given this it's a distinct disadvantage for Helix users to use an authenticated client. Most of our developer tooling is around artifacts from public builds hence is accessible form an anonymous client. That means u

[2022-09-07 21:34] missymessa commented on #10761
Well, fun, discovered that when we were checking related builds (for multi-pipeline PRs) that we were only allowing ones in `dnceng/public` to go through, which, is now incorrect as we've migrated to using `dnceng-public/public` for PR builds (ignoring the fact that a couple builds are still running in `dnceng/public`). Anyway, we've got a hotfix going out for this to check both of the supported A

[2022-09-07 21:41] alexperovich commented on #10757
does this pool get used in internal also?

[2022-09-07 21:44] missymessa opened #10765 "Supported AzDO projects in Build Analysis should be configurable, not hardcoded"
Related to https://github.com/dotnet/arcade/issues/10761

This bit of code here: https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service?path=/src/ServiceFabric/Helix/Helix.Internal.BuildFailureAnalysis/Providers/RelatedBuildProvider.cs&version=GBmain&line=23&lineEnd=24&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents has hardcoded values for supported AzDO projects. This w

[2022-09-07 22:12] garath commented on #10764
Maybe pedantic, but the rate limit split is not truly based on authenticated/unauthenticated.

All calls are limited at 400/1m _and_ at 5000/1h. Both apply at the same time for everyone. The limit is measured by the username if authenticated and by IP address if not authenticated.

An anonymous user can get limited at 5000/h, and an authenticated user can get limited at 400/m. No individual "user"

[2022-09-07 22:17] garath commented on #10764
One idea: Azure publishes IP ranges for services. Those could be used to apply a rate limit to build machines. Then there could be a separate (very low?) limit for unauthenticated, non-Azure requests, and a separate (high?) limit for known, authenticated users.

[2022-09-07 22:23] garath commented on #10764
More generally, is rate limiting actually helping us manage the services? Or is it just acting as a late-game circuit breaker?

[2022-09-07 22:27] jkoritzinsky opened #10766 "Provide a pool of build machines with both VS and LCOW enabled"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

As part of the dotnet/runtime official build, we have a few cases where we need to have a job that waits on jobs from multiple different platforms to assemble artifacts and run some additional logic.

Azure DevOps now has a concept of [step targets](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema/target

[2022-09-07 22:37] directhex commented on #10757
No, we don't use the same pool for internal and external jobs, that's a good way to wake up with a horse's head in your bed

There were, historically, sister pools for public ARM32, and private ARM64/ARM32, hosted on identical but separate machines, but those seem retired right now & I couldn't tell you how long ago they were retired

[2022-09-07 22:45] alexperovich commented on #10764
it makes sure our poor API server doesn't explode, or more likely cause sql to redline and die.

[2022-09-07 22:48] garath commented on #10764
I would agree, but the SQL database is already working very hard. I'm not convinced this rate limit what keeps it from falling over.

[2022-09-07 23:03] net-helix[bot] opened #10767 "Sentiment Tracking #3415"
Sentiment has been registered against feature HelixQueueInsights. Please see the Azure Boards [work item](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3415) for more details.

[2022-09-07 23:07] riarenas commented on #10767
Until all the known issues related to pipelines in dnceng-public are resolved, I don't think it's worth investigating this.

[2022-09-07 23:12] ulisesh opened #10768 "TimelineRecords kusto table is missing dnceng-public records"
We don't have any rows from dnceng-public in TimelineRecords, whatever services adds the rows needs to monitor our new AzDo instance

[2022-09-07 23:14] garath commented on #10768
FYI to avoid accidental double-work, @epananth was asking me about this the other day.

[2022-09-07 23:24] riarenas commented on #10768
I think it's this? https://github.com/dotnet/arcade-services/blob/main/src/Telemetry/AzureDevOpsTimeline/.config/settings.json#L5-L8

[2022-09-07 23:27] garath commented on #10768
More generally [this](https://github.com/dotnet/arcade-services/tree/main/src/Telemetry/AzureDevOpsTimeline) is the project. It will need to be taught how to look at more than one Organization.

[2022-09-07 23:28] missymessa commented on #10768
@epananth and I talked about how we implemented the multi AzDO org support in Helix Services, because she said she needed to do the same in Arcade-Services. I'm assuming this work is related to that discussion.

[2022-09-07 23:31] ulisesh commented on #10768
Good, thanks everyone!

cc @Chrisboh as some reports are missing data

[2022-09-07 23:31] garath commented on #10768
I'm probably the last person to touch this code (having it get all timelines instead of just the latest). Let me know if I can help at all.

[2022-09-07 23:32] ulisesh commented on #10768
I think this should be part of the epic in charge of moving to the new instance

[2022-09-07 23:32] epananth commented on #10768
I was talking to @Chrisboh about this a few mins ago. We need to update this support both orgs, so that CI council dashboards work.

[2022-09-07 23:33] epananth commented on #10768
Yes, I was tracking this as a part of dashboard work, but I can use this instead

[2022-09-07 23:33] ulisesh commented on #10768
Feel free to take this issue to track the work or close it as a dupe if there is another one already 😄

[2022-09-07 23:39] garath commented on #10755
I don't see anything that indicates this is a widespread problem. It's a rare occurrence, and isn't happening with every build. Maybe this just got caught in the Azure Front Door outage earlier?

[2022-09-07 23:41] garath commented on #10755
For dnceng folks, here's a quick [query for failures](https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA1WOuw6CQBBFe79iOiCh0FhrYaGhsFF+YNidwCDMmn3EaPh4F1HRcu4992RK7qljocK5QG4xwK0hS3Ak57AmUEY8sjhI9shdiE08PHZxUsMhoNWMksRZa1jgwqI3LEIW0vIt3gXutIMBrta0pDy8gkLncPZo/YhlYOQTR5ULfY+WHwTVfYbyeXgiZezETt9+IdgC1iZdL3X2J1ImiE+zUVixpD/SVTOSlkTHp32MVBO7J9ACYasWAQAA).

[2022-09-07 23:49] ryanbrandenburg commented on #10755
[I wouldn't call this frequency "rare"](https://dev.azure.com/dnceng/internal/_build?definitionId=262&_a=summary), it's essentially blocking us from doing Razor releases.

[2022-09-07 23:52] wfurt commented on #10253
It seems like OpenSuse runs on top of 16.04 -> that is VERY old. We should perhaps update the base to 20.04...
We can take care of the containers. It seems like for pure RedHat we use VMs but for Centos we use containers, right?

There is new version of MsQuic as of today. I'll go through the containers to make sure we have updated msquic everywhere.

[2022-09-07 23:53] wfurt commented on #10253
One more note, the Marriner may need extra binary build but I'm not sure what is the priority. cc: @nibanks

[2022-09-07 23:56] nibanks commented on #10253
cc @csujedihy

[2022-09-07 23:58] garath commented on #10755
You are right, apologies for the language.

Interesting, telemetry says it's happened 10 times over the last 30 days and only for the razor-tooling-ci-official pipeline. We'll continue the investigation (but it will stretch to tomorrow).

Execute in [Web](https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA1WPyw6CQAxF935Fd0LCQuNaF8ZoWLhRfqAwFYtDx8wjRsPHO

[2022-09-08 00:06] riarenas opened #10769 "[Release/6.0] Arcade-validation official build failing"
- [X] This issue is blocking
This blocks arcade promotion for the .net 6 eng channel
- [ ] This issue is causing unreasonable pain

The builds for the release/6.0 branch are failing because they seem to be missing .NET 6 to be able to run darc as seen in https://dev.azure.com/dnceng/internal/_build/results?buildId=1986351&view=logs&j=56ebfe15-69d8-5dd1-65e4-c65998c8d8a6&t=89bcf844-d360-55ae-2e4e-1

[2022-09-08 00:07] riarenas commented on #10769
I have an experimental build of this change here:
https://dev.azure.com/dnceng/internal/_build/results?buildId=1986861&view=results

[2022-09-08 00:10] alexperovich commented on #10756
This has been fixed by Azure Dev Ops

[2022-09-08 00:10] #10756 closed

[2022-09-08 06:16] ulisesh opened #10770 "[Known issues] Report with impacted build is missing from known issues"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-09-08 10:06] akoeplinger commented on #10756
Thanks, I confirmed it works now.

[2022-09-08 14:39] AlitzelMendez commented on #10770
could you please provide more details on this one? share an issue with this problem?

I am still working on the test known issues, but it is not working yet because of this: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25583 I already fixed it but is going to roll out until next week :/. I don't know if you refer to those one or it is a different problem

[2022-09-08 14:39] #10683 closed

[2022-09-08 14:39] #10718 closed

[2022-09-08 14:49] AlitzelMendez opened #10772 "Fix how we correlate build errors and test known issues"
After the dnceng-public migration we are having problems to identify the unique build failures as test failures as the reported pipeline reference are slightly different, so we are not able to correlate them correctly

[2022-09-08 15:03] AlitzelMendez commented on #10772
took a further look and is not a problem with the correlation but how the information is passed, I already have done other fixes in here :/ I am worried on how many scenarios are like this :/ I will try to cover more scenarios this me

[2022-09-08 15:24] MattGal commented on #10759
From Junjun:

- Either VS2017 or VS2019 installed is working fine for us.

We can try with a clean base image first to see what happen.  Please help 1) install CodeUI feature in VS and 2) add Edge Driver downloaded location(C:\edge-driver) to PATH system environment variable.   (make sure artifacts are the same)

- Please keep our current queues working as they are used for .NET testing now.   We

[2022-09-08 16:20] riarenas commented on #10769
The resulting build after merging the PR was able to get past the previous error, but a new one popped up in the validate-publishing leg: https://dev.azure.com/dnceng/internal/_build/results?buildId=1987332&view=logs&j=bad36439-c803-59a2-8c30-53d67b909383&t=0311db42-8847-5041-3af3-5c8f503b3778

[code]

@dotnet/dnceng I'm adding this to FR and removing my assignment as the build is still blocked, a

[2022-09-08 16:21] sbomer opened #10773 "dotnet/llvm-project objwriter/release/7.0 branch is not mirrored to Azure DevOps"
We need https://github.com/dotnet/llvm-project/tree/objwriter/release/7.0 to be mirrored to the internal repo. There's a [subscription](https://github.com/dotnet/versions/blob/ceb85d0cb272823e3366e6498fdc4178c9e4322c/Maestro/subscriptions.json#L471) set up for `https://github.com/dotnet/llvm-project/blob/objwriter/**/*` but this doesn't appear to be working.

cc @MichalStrehovsky

[2022-09-08 16:23] AlitzelMendez commented on #10772
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25629

I think all the scenarios are already in here, if you think any other scenario is missing, please let me know @missymessa @ulisesh

[2022-09-08 16:30] AlitzelMendez commented on #10770
I think this is the same as: https://github.com/dotnet/arcade/issues/10682
but I will wait for Ulises before closing

[2022-09-08 16:30] AlitzelMendez commented on #10682
This is stil failing
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25583

[2022-09-08 16:45] AlitzelMendez opened #10774 "Known issue matches showing title of github issue instead of number"
Right now, if there is a matching known issue we show the number of the issue instead of the title, changing this to show the title.

[2022-09-08 16:57] adiaaida commented on #10748
This is done

[2022-09-08 17:09] MattGal commented on #10769
I can take an initial look here.  I added that parameter but my understanding was that all v3 publishing occurred against the main branch of arcade so I didn't think this could be possible.

[2022-09-08 17:20] dotnet-eng-status[bot] opened #10775 "Build failed: dotnet-arcade-validation-official/main #20220908.3"
Build [#20220908.3](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1987381) partiallySucceeded

## :warning: : internal / dotnet-arcade-validation-official partiallySucceeded

### Summary
**Finished** - Thu, 08 Sep 2022 17:20:22 GMT
**Duration** - 106 minutes
**Requested for** - DotNet Bot
**Reason** - batchedCI

### Details

#### Promote Arcade to '.NET E

[2022-09-08 17:25] garath commented on #10755
Ah, I can repro locally by using a version of NuGet > 6. Which is unexpected.

[code]

[2022-09-08 17:36] garath commented on #10755
And it works properly if I add the feed and package ID to the NuGet.Config package source. This feature is new to NuGet 6, so that makes sense. So a work-around to get you going for now would be:

[code]

But why don't other repos see this?

[2022-09-08 17:43] net-helix[bot] opened #10776 "Prefer to see PR failures instead of tests failing in target branch"
A negative sentiment was registered against feature: DeveloperWorkflowGitHubCheckTab

It only shows 1 of 3 failures introduced by this PR, due to space limitations.

which would be fine, except the space is being used up showing several tests already failing in the target branch.

If you don't have space to show everything, please hide tests already failing, so you can show as many as possible of

[2022-09-08 17:59] garath commented on #10755
Spot check indicates this is just the first repo to adopt package source mapping.

I think the right solution here is to modify the [NuGet.Config](https://github.com/dotnet/arcade/blob/main/eng/common/sdl/NuGet.config) already present for SDL to include the package mappings, then make sure the installation picks that file as the default.

[2022-09-08 18:05] net-helix[bot] opened #10777 "testing post-rollout"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3417)

[2022-09-08 18:06] adiaaida commented on #10777
it all is working now

[2022-09-08 18:06] #10777 closed

[2022-09-08 18:06] adiaaida commented on #10641
This is now working

[2022-09-08 18:06] #10641 closed

[2022-09-08 18:06] riarenas commented on #10656
This was rolled out.

[2022-09-08 18:06] #10656 closed

[2022-09-08 18:07] adiaaida commented on #10500
This has rolled out

[2022-09-08 18:07] #10500 closed

[2022-09-08 18:08] #10775 closed

[2022-09-08 18:12] riarenas commented on #10768
As I think about this issue more, I'm starting to think this is the root cause for the Queue Insights alert as well: https://github.com/dotnet/arcade/issues/10710.

@dkurepa can probably confirm it best, but if we're not ingesting builds from dnceng-public, the matrix of truth doesn't have information from those builds, and then queue insights won't record some of the needed entries for queue insi

[2022-09-08 18:27] ulisesh commented on #10770
You're right, all the issues I found with missing report have only test known issues

Closing as a dupe of #10682

[2022-09-08 18:27] #10770 closed

[2022-09-08 18:33] MattGal commented on #10769
I think https://github.com/dotnet/arcade/pull/10778 should fix this once merged.

[2022-09-08 19:28] adiaaida commented on #10665
@alexperovich how should we triage this? Can we just put it in FR or should it be closed?

[2022-09-08 19:43] adiaaida commented on #10742
looks like there is a PR here: https://github.com/dotnet/arcade/pull/10751

[2022-09-08 19:58] garath commented on #10733
@missymessa should this go to the DevWF epic then?

[2022-09-08 20:13] riarenas commented on #10702
Rollouts completed successfully. Internal workitem has the details

[2022-09-08 20:13] #10702 closed

[2022-09-08 20:27] AlitzelMendez commented on #10774
https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25636

[2022-09-08 20:34] missymessa commented on #10761
Rolled out as a hotfix. Looks like Build Analysis is handling builds from dnceng-public fine now.

[2022-09-08 20:34] #10761 closed

[2022-09-08 20:48] mmitche commented on #10212
@marcpopMSFT I think this is worth tackling, but it is one of those things where we need to be able to crisply be able to define what the right thing to do is, and have the logic be transparent about what it will do. I think this will be difficult. Consider the following cases:

- An arcade subscription is missing (or hasn't fired, or PR was forgotten, etc.) in a downstream branch that is on the s

[2022-09-08 20:48] mmitche commented on #10212
/cc @riarenas @adiaaida

[2022-09-08 20:53] AlitzelMendez commented on #10723
Taking a quick look, but this is surely related with the hotfix of 09/07 of not being able to get related builds

[2022-09-08 20:59] marcpopMSFT commented on #10212
There is certainly risk of missing changes. For example, I realized to date that 6.0.4xx is on the 2.20 version of Applicationinsights but 7.0.1xx is on 2.19 partly because of a mistaken merge in the automated codeflow.  Since that change was in the version.props file, if I had known it wasn't going to be automatically merged, I would have manually merged it up but since this issue hasn't been sol

[2022-09-08 21:07] dotnet-eng-status[bot] opened #10779 "Production - [Alerting] Android devices lost internet connectivity"
:broken_heart: Metric state changed to *alerting*

  - *NoInternet {Machine=DNCENGWIN-089}* 6

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/mobileDevices/mobile-devices?tab=alert&viewPanel=17&orgId=1)

@dotnet/dnceng, please investigate

<details>
<summary>Automation information below, do not change</summary>

Grafana-Automated-Alert-Id-f20b4d64b76749409d670fa7ac3f160e

</d

[2022-09-08 21:09] mmitche commented on #10212
@marcpopMSFT That might not be the right thing to do though. aspnet, in the last release, turned off (or at least didn't merge) their release/7.0 subscriptions to arcade because they knew they'd get them through the rc1 branch. So in that case they'd get updated arcade dependencies but incompatible scripts.

[2022-09-08 21:20] missymessa commented on #10723
I agree, Ali, it's probably fixed with the hotfix from yesterday.

[2022-09-08 21:43] #10708 closed

[2022-09-08 22:01] AlitzelMendez commented on #10723
that was the problem: [query](https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_OperationsManagementSuite_Workspace/Logs.ReactView/resourceId/%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fdotnet-eng-cluster%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2Fdotnet-eng/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAAAAAz3KMQ6AIAwAwN1X

[2022-09-08 22:01] #10723 closed

[2022-09-08 22:04] karelz commented on #10617
There are new hits - some on the same machines. Reopening and updating to post with hits.
@garath can you please take the machines offline again until it is resolved? Thanks!

[2022-09-08 22:08] alexperovich commented on #10665
I can just close this. I made it so build analysis had a notice on it.

[2022-09-08 22:08] #10665 closed

[2022-09-08 22:31] karelz commented on #10371
@akoeplinger when should we see this in runtime main?

I've had another hit in 9/8 AM Rolling build - [8501](https://runfo.azurewebsites.net/view/build/?number=8501) - [Console log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-24aa6b76899548ea86/System.Net.Sockets.Tests.Attempt.3/1/console.5d98ff68.log?%3Fhelixlogtype%3Dresult) - **System.Net.Sockets**.Test

[2022-09-08 22:37] epananth commented on #10768
I have the code changes, I am currently testing it. Once that is successful I will have my PR for this

[2022-09-08 22:39] akoeplinger commented on #10371
@karelz this already hit dotnet/runtime main a while ago and looking at the build it worked, we now got the testResults.xml.retry files in the Helix artifacts.

The xml file(s) and the console log confirms that we hit an Android device that has no internet connection, we saw three retries but since they run on the same machine (DNCENGWIN-089) they all hit the same issue. It already got picked up b

[2022-09-08 22:41] garath commented on #10617
Yep, looks like this is being handled in #10548. There's an open ICM. There may need to be some additions to it. @dotnet/dnceng will someone on FR please help with that?

[2022-09-08 22:49] epananth commented on #10768
@garath gave me some suggestions to test this, trying that now

[2022-09-08 23:18] karelz commented on #10371
OK, Runfo unfortunately does not find the testResults.xml file and does not show the error :(

Here's another one: 9/5 AM Rolling run [4698](https://runfo.azurewebsites.net/view/build/?number=4698) - [Console log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-62aeb0f7b6f44ef2a1/System.Net.Sockets.Tests.Attempt.3/1/console.36341f79.log?%3Fhelixlogtype%3Dresul

[2022-09-08 23:34] MattGal commented on #10253
As @wfurt is working on this I've reassigned to him, happy to help if needed later though.

[2022-09-08 23:37] davidwengier commented on #10755
Thanks @garath. I wondered if we were going to have interesting issues being the first to adopt package source mapping. Is it possible to add validation to the arcade CI to prevent these breaks in future, if other new packages are added?

[2022-09-09 02:57] MichalStrehovsky commented on #10773
The branch mirrored over once we merged a pull request into it.

[2022-09-09 02:57] #10773 closed

[2022-09-09 06:56] wfurt commented on #10253
Centos 8 is EOL. Mariner seems low priority at the moment (and mat be hardest to fix)
We (me & @rzikm  should look at the rest)

As MsQuic 2.1.1 was just release, could you please rebuild current images so they pick up the changes @MattGal ?

[2022-09-09 07:20] akoeplinger commented on #10779
@premun please disable this machine

[2022-09-09 07:20] akoeplinger commented on #10371
I've pinged Premek on the arcade issue.

[2022-09-09 07:40] #10736 closed

[2022-09-09 08:35] premun commented on #10779
Done, will open an IcM

[2022-09-09 08:38] premun commented on #10779
https://portal.microsofticm.com/imp/v3/incidents/details/333759908/home

[2022-09-09 10:07] premun opened #10783 "AzDO pipeline fails to download artifacts from a specific build"
- [x] This issue is blocking

There is a [test pipeline](https://dev.azure.com/dnceng-public/public/_build?definitionId=81&_a=summary) whose artifacts are used in [another pipeline](https://dev.azure.com/dnceng-public/public/_build?definitionId=22&_a=summary).
The download task is specified here: https://github.com/dotnet/wpf/blob/a812f55e28dff046745caa01a931199f6b68c346/eng/pipeline.yml#L211-L220

[2022-09-09 10:26] premun commented on #10783
@MattGal do you think this qualifies as an "outage" and a ticket through the chat bot should be opened?

[2022-09-09 10:46] premun commented on #10655
Closing this as it's a result of testing on the scouting queue

[2022-09-09 10:46] #10655 closed

[2022-09-09 10:47] premun commented on #10664
We decided to put on the RC1 that came out yesterday

[2022-09-09 10:48] premun commented on #10548
I disabled 97 and 117

[2022-09-09 10:49] premun commented on #10548
I enabled 81 and 98 as the ticket is resolved

[2022-09-09 10:54] premun commented on #10617
Newly failing `097` and `117` were also just disabled and IcM ticket opened

[2022-09-09 11:22] premun commented on #10747
I have reset simulators on the whole queue. Not sure it will help but let's see.

We might consider updating Xcode for more stability though?

[2022-09-09 11:28] premun opened #10784 "Inline git submodules when ingesting individual repositories"
## Context
Based on the decisions made during [📄 external dependency investigations](https://microsoft.sharepoint.com/:w:/t/Salmon.NET/EV1bhiNDuRhAqG7xn4DUUw0BN2YhdiVxp-IA60CcOrTxyA?e=qcwNEE), the submodules of individual repositories need to be recursively ingested as sources and not kept as git submodules.

## Technical goal
This will need some work around how we ingest repositories where we wil

[2022-09-09 12:01] dotnet-eng-status[bot] opened #10785 "Production - [Alerting] On-Prem Machines Heartbeating By Queue alert"
:broken_heart: Metric state changed to *alerting*

  - *Percentage Heartbeating {QueueName=windows.10.amd64.pixel.perf}* 50

![Metric Graph](https://dotnetgrafana.blob.core.windows.net/grafana/5iifJfcZrV20ljEVZvT5LgkaIU5Dzu.png)

[Go to rule](https://dotnet-eng-grafana.westus2.cloudapp.azure.com/d/queueOverview/on-premises-helix-queue-status?tab=alert&viewPanel=9&orgId=1)

@dotnet/dnceng, please i

[2022-09-09 13:00] premun commented on #10548
I have disabled it and added it in the IcM

[2022-09-09 13:59] premun commented on #10779
Also adding **DNCENGWIN-085**

[2022-09-09 14:08] #10653 closed

[2022-09-09 14:08] premun commented on #10653
Rolled out

[2022-09-09 14:12] premun commented on #10783
I let them know that they might try a workaround and pull the artifact from a different build, not sure it will help but maybe it's just that one build that we can't pull the artifacts from.

[2022-09-09 15:07] AlitzelMendez opened #10788 "Fix unique test failures count"
When doing other changes, I noticed that the unique test failures count wasn't accurate when we had shared test failures

![image](https://user-images.githubusercontent.com/6895254/189382480-569ba8a9-145a-43a2-abab-84cd4b7f4441.png)

[2022-09-09 15:13] AlitzelMendez commented on #10788
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-service/pullrequest/25657

[2022-09-09 15:26] MattGal commented on #10766
@jkoritzinsky it looks like we'd need to change the version of docker we put on the compatible build agents (likely Build.Server.Amd64.VS2019 / Build.Server.Amd64.VS2019.Open) to be _able_ to do this.

After doing that, one should be able to switch container modes in yaml between steps like so.  Would this be an acceptable compromise?  If so I can probably get the Build.Server.Amd64.VS2019 image u

[2022-09-09 15:37] jkoritzinsky commented on #10766
Would we be able to get an image with VS2022 instead of 2019? The runtime repo doesn’t support being built with 2019 any more.

Having to switch modes manually with that step is totally reasonable to me.

[2022-09-09 15:40] MattGal commented on #10766
Sure... might take a little longer since we don't seem to have an existing Server + VS 2022 image but shouldn't be hard.

[2022-09-09 15:42] MattGal commented on #10783
Yes, for one-off investigations like this where it seems like a clear bug on the AzDO side I'd recommend opening a Sev3 incident to ask them to investigate it.  I would set expectations for response time fairly low, however.

[2022-09-09 16:02] AlitzelMendez opened #10789 "Pause build analysis scenario test"
There is not an ETA to resolve: https://github.com/dotnet/arcade/issues/10743

In order to unblock helix-service we are going to pause the build analysis scenario test; we will continue creating a pull request automatically so after we merge something we can see the build analysis generated and decide if everything is working as expected.

[2022-09-09 16:03] AlitzelMendez commented on #10743
Temporarily mitigating with https://github.com/dotnet/arcade/issues/10789 but when this gets resolved we need to rever those changes.

[2022-09-09 16:20] MattGal commented on #10766
Trying this out in https://dnceng.visualstudio.com/internal/_git/dotnet-helix-machines/pullrequest/25659.  If it works, it would update the windows.vs2022.amd64.* images.

[2022-09-09 17:10] missymessa commented on #10707
Later builds succeeded. Closing.

[2022-09-09 17:13] riarenas commented on #10769
The build is unblocked now. Thanks @MattGal

[2022-09-09 17:13] #10769 closed

[2022-09-09 17:18] missymessa commented on #8953
Followed up on the issue on the AzDO team to see if we could get some help troubleshooting what's going on.

[2022-09-09 17:34] garath commented on #10755
Arcade is built using a subset of product repositories as part of validation and deployment of any release of Arcade (generally documented in [Arcade Validation](https://github.com/dotnet/arcade/blob/main/Documentation/Validation/Overview.md). This is our sort of the "try to catch anything not already specifically tested". As it happens, for whatever reason none of those target repositories have e

[2022-09-09 17:36] adiaaida commented on #10664
I think I have gotten the RC1 installed on this queue. I have this PR up for the code changes, but those are for future updates to the queue, not for the actual installing: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/25660

[2022-09-09 18:02] steveisok commented on #10664
Thanks! I'll give it a try.

[2022-09-09 18:31] MattGal commented on #10760
@ilyas1974 I fixed this by moving env var HELIX_WORK_ROOT to `D:\h\w`, since that disk has a lot more space.  It won't come up again for this queue and there's only 2 machines, but you could consider having a change to the queue definition to put the work root on D:\

[2022-09-09 18:31] #10760 closed

[2022-09-09 18:54] riarenas commented on #8836
## Context and motivation

The **dotnet/arcade-services** repository has been very stable and
received a very low number of changes during the .NET 6 and .NET 7
cycles. However, with the new .NET 8 charter, it has become a point of
interest for many efforts such as improved mirroring or prodcon (VMR).
Unfortunately, there is some debt accrued which makes it risky to start
making changes in the rep

[2022-09-09 18:57] riarenas commented on #10554
@premun and I did a write-up for this and stuck it in the epic: https://github.com/dotnet/arcade/issues/8836#issuecomment-1242351132

[2022-09-09 18:57] #10554 closed

[2022-09-09 20:16] MattGal commented on #10578
Found some more.  New PRs for moving to SVC made today:

  https://github.com/dotnet/emsdk/pull/210
  https://github.com/dotnet/llvm-project/pull/274
  https://github.com/dotnet/msquic/pull/112
  https://dnceng.visualstudio.com/internal/_git/dotnet-wpf-int/pullrequest/25664

I've also made sure that the changes are in arcade release/7.0 and all active subscriptions have been triggered.

[2022-09-09 21:21] dotnet-eng-status-staging[bot] opened #10791 "Staging - [Alerting] Autoscale: Minutes to scale-up from zero machine alert"
:broken_heart: Metric state changed to *alerting*

  - *WaitTime {Queue=centos.7.amd64}* 51
  - *WaitTime {Queue=sles.12.amd64}* 51
  - *WaitTime {Queue=sles.15.amd64}* 51
  - *WaitTime {Queue=ubuntu.1604.amd64}* 49
  - *WaitTime {Queue=ubuntu.1804.amd64}* 49
  - *WaitTime {Queue=ubuntu.2004.amd64}* 49

[Go to rule](https://dotnet-eng-grafana-staging.westus2.cloudapp.azure.com/d/queues/queue-monit

[2022-09-09 21:30] MattGal commented on #10791
this is me testing the VM cleaner, I will make sure it's cleaned up before EOD.

[2022-09-09 21:46] MattGal commented on #10634
This is complete.  As seen [here](https://dnceng.visualstudio.com/internal/_build/results?buildId=1988824&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304), all the most recent Maestro Build Promotion jobs are using -Svc branches when publishing release-branch builds, in this example `System.Net.MsQuic.*.7.0.0-alpha.1.22459.1`

[2022-09-09 21:46] #10634 closed

[2022-09-09 21:48] MattGal commented on #10766
PR merged and image is generating.  Moving to 'validate' to ensure the above process works on the resultant image once this completes.

[2022-09-09 21:57] MattGal commented on #10018
PR: https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service/pullrequest/25665

[2022-09-09 22:00] net-helix[bot] opened #10792 "AzDO Issue #3418"
[Azure Boards WorkItem](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/3418)