[2017-04-04 21:46] ericstj opened #3381 "Add AsmDiff.exe to buildtools"
This is a commandline version of ApiReviewer and helpful for generating assembly metadata diffs.

[2017-05-09 03:40] danmosemsft opened #3142 "Exceptions from RemoteExecutorHost should get into XML log"
We should try to `tee` the console from RemoteExecutorHost so it gets into the XML test log and thus into the correct test result in Helix. As it is you just get eg (note the code = "some managed exceptoin")
[code]
but if you look at the full console output, aggregated for all the tests in this library, you see the actual exception --
[code]

[2018-02-14 20:22] natemcmaster opened #2 "Create Microsoft.DotNet.Build.Tasks.IO"
Microsoft.DotNet.Build.Tasks.IO

Charter:  includes tasks related file system IO
 - `DownloadFile` - downloads a file.
 - `ZipArchive` - creates a .zip file
 - `UnzipArchive` - unzips a .zip file
 - `ComputeChecksum` - computes the SHA256 or SHA512 checksum for files
 - `Chmod` - change Unix permissions

[2018-02-21 00:06] chcosta opened #4 "Publish desktop implementation of VersionTools for Feed package consumption"
buildtools VersionTools package does not include desktop implementation (even though it's being built).  This means that we can't build the feed package without either forking the source into arcade, or publishing the desktop implementation for compilation.

I'm preferring consuming a packagereference as it seems less messy if / when we remove the feed package dependency on versiontools.

Decoupli

[2018-02-21 17:24] #4 closed, assigned to chcosta

[2018-02-21 17:26] chcosta opened #5 "[Feed package] Turn off publishing of Feed package from BuildTools"
Once Feed package is publishing from Arcade, disable publishing from BuildTools.  Note, there is still work to be done (official builds, signing, etc...) before we're ready for that.

[2018-02-21 17:27] chcosta opened #6 "Enable official builds for Arcade repo"

[2018-02-21 17:27] chcosta opened #7 "Enable embedded symbols for task packages"

[2018-02-21 17:28] chcosta opened #8 "Settle on versioning plan of record"
Seems two things should be done at a minimum:
1) Settle on long term package versioning plan
2) Settle on versioning plan for Arcade itself (especially the scripts)

The versioning scheme needs to work for our servicing scenarios

[2018-02-21 18:10] chcosta opened #9 "[Validation] Create test projects which validate packages"
Validate use as packagereference
Validate use as sdk
Validate closure (probably grab this from buildtools)

[2018-02-21 18:45] chcosta opened #10 "Examine feed package dependency on Microsoft.Build.* 0.1.0-preview-00022 packages"
The feed package has a dependency on Microsoft.Build.Framework and Microsoft.Build.Utilities.Core packages versioned 0.1.0-preview-00022.  Those packages are not present in the dotnetfeed package source, so we have to acquire them from the dotnet.myget.org dotnet-buildtools package source.

We should look into either adding the packages to the dotnetfeed source or moving to a version which is alre

[2018-02-21 18:47] chcosta opened #11 "[Feed package] Enable dependency uptake in Arcade"
Feed package currently has a dependency on VersionTools which is published out of BuildTools.  Until that dependency is removed, we should look into a maestro type solution for taking updates.  Also, in general we'll need some solution for this going forward.

[2018-02-21 21:06] chcosta opened #13 "Enable Linux build of Arcade repo"
Add build.sh / etc scripts.

[2018-02-22 00:02] chcosta opened #14 "[Feed package] Use default dependency versions in Feed package"
tmat reviewed an hour ago
[code]

tmat an hour ago • edited
Why do we conditionally reference different versions of packages (like SRM 1.4.1 vs 1.3.0)? NuGet should automatically pick the right binary from each package based on TargetFramework version.

[2018-02-22 00:24] chcosta opened #15 "Consider using user cache for dev builds"
natemcmaster reviewed 3 hours ago
[code]

[2018-02-22 00:37] chcosta opened #16 "Determine NuSpec template Sdk Plan"
[code]

Creating a nuspec template sdk might be useful for creating our task packages.

[2018-02-22 21:01] chcosta opened #17 "Use shproj for shared code"
Currently, there's just one task in the repo, as this grows, we will likely need to begin sharing code between packages.  When that occurs, we should consider using an shproj to share code rather than manual linking.

There is some discussion around support for using shared projects.

 Why do all the manual likning here vs. creating a shared source project?

 Is shproj compatible with dotnet-CLI n

[2018-02-22 21:08] markwilkie opened #18 "Create "getting started" doc"
Create a document to describe how to onboard, or get started with Arcade

[2018-02-22 21:55] maririos opened #19 "[Feed package] Decouple VersionTools manifest generation from Feed package"
@chcosta commented on [Tue Feb 20 2018](https://github.com/dotnet/core-eng/issues/2699)

The feed package has a dependency on VersionTools which it consumes to make build manifest generation "easy" / transparent.  The dependency is not strictly necessary and not every consumer of the feed package may care about the build manifest generation.  We should remove the feed task package dependency on Ve

[2018-02-23 03:25] chcosta opened #22 "Enable ci"

[2018-02-23 18:41] #10 closed, assigned to nobody

[2018-02-23 23:23] chcosta opened #24 "Enable Arcade GitHub -> VSTS mirror"

[2018-02-24 00:01] #24 closed, assigned to chcosta

[2018-02-26 20:57] #22 closed, assigned to chcosta

[2018-02-27 20:38] jaredpar opened #29 "Namespaces"
What namespace should we be using for projects in this repo? Microsoft is the universal namespace but we also only have one project. Is that the right choice? Remember at one point there were rules on this but don't remember what they are.

Sorry for bike shedding 😦

[2018-02-27 20:57] jaredpar opened #30 "Build command line inconsistency"
The build.cmd prints out `-restore` as an option if I run `build.cmd -?`. But if I use it I get the following error

[code]

[2018-02-27 20:59] jaredpar opened #31 "Cannot build the repository"
Clone the repo and run build.cmd and you will get the following:

[code]

[2018-02-28 00:13] #29 closed, assigned to nobody

[2018-02-28 17:26] markwilkie opened #32 "Packages (by team) which should be shared to start"
**ASP**
- ~~DownloadFile~~
- ~~ZipArchive~~
- ~~UnzipArchive~~
- GenerateFileFromTemplate
- ~~ComputeChecksum~~
- Chmod

**Roslyn/CLI**
- Repack
- [x] Signtool

**CoreFx/CoreCLR**
- BlobFeed
  -   VersionTools/Dependency update
  -   Repo Tools
  -   ILAsm
- ILLinker

[2018-02-28 18:04] weshaggard opened #33 "Rename build directory"
We should rename the build directory to something else because it always gets in the way whenever I try to tab complete build.cmd.

The core repo's call this directory tools-local which would seem reasonable.

@tmat @chcosta thoughts?

[2018-02-28 18:24] jaredpar opened #36 "Need to specify a license"
Uploading a lot of code from difference sources now. What license should we be using here?

[2018-02-28 19:21] chcosta opened #37 "Write Getting Started doc"

[2018-02-28 22:10] chcosta opened #38 "Building on Linux would produce different packages"
What level of support do we want to provide for building on Linux.

Building for the desktop framework on a non-Windows platform is not currently supported.

https://github.com/dotnet/sdk/issues/335

There's a workaround to make this work, but it's not clear to me that this is even a scenario that we really care about for the Arcade repo.  I think we'll be doing all official publishing from a Wind

[2018-03-01 19:55] jcagme opened #40 "Include SCEP Installer"
Today we use SCEP Installer in our CoreCLR build in the attempt to fix https://github.com/dotnet/core-eng/issues/2225 in the form of a package which

This tool is used to install and uninstall Security Center Endpoint Protection which we think is causing the above issue. At the moment of filing this issue this is just an assumption and there is no hard data to confirm this will fix it.

If we've v

[2018-03-02 01:00] chcosta opened #41 "bash.sh shared framework version (1.0.5)"
`build.sh` currently has version 1.0.5 of the shared framework hardcoded.  Look at updating this and making it configurable.

[2018-03-02 17:29] #31 closed, assigned to chcosta

[2018-03-02 17:35] #13 closed, assigned to chcosta

[2018-03-02 18:25] chcosta opened #43 "Explicitly define powershell dependency"
Arcade build scripts run on whatever version of Powershell is available on the machine.  Today that means we need to support Powershell v3.0, which leads to required changes like https://github.com/dotnet/arcade/pull/42.

As @natemcmaster suggested, we should be explicit about the minimum supported Powershell version that we've tested (even if that's back to 3.0).

[code]

[2018-03-02 19:46] #2 closed, assigned to natemcmaster

[2018-03-05 22:58] #37 closed, assigned to nobody

[2018-03-05 23:04] markwilkie opened #44 "Get signing plan sorted"
I presume we'll want to use signtool, but there are some details that need to be worked out.  Once there's a plan, I'd like to see that funded soon so we can start using it for ESRP and nupkg signing.

[2018-03-06 16:48] markwilkie opened #45 "Arcade building and publishing in the open"
We'll consider this portion of the work "done" when Arcade is:
- [x] Enabled in CI for all supported platforms
- [x] Building and signed officially for all supported platforms
- [x] Publishing
- [x] Repo is no longer private and has all the appropriate licenses
- [x] "Getting Started" documentation is available
- [x] Package tests are in place to give some confidence

[2018-03-06 16:56] markwilkie opened #46 "Publish core "set" of shared packages"
This is considered "done" when:
- [x] The core set of packages are building and publishing out of arcade
- [x] A dependency uptake mechanism is in place (e.g. Maestro)
- [x] Sufficient functionality available for Tier 1 repos on-boarding onto Arcade

[2018-03-06 20:45] weshaggard opened #47 "Add AssemblyResolver to Tasks libraries targeting .NET Framework"
See https://github.com/dotnet/buildtools/pull/1943. Without this resolver it will become very difficult to align our assembly dependencies across our tasks when running on .NET Framework.

[2018-03-06 22:56] chcosta opened #48 "Feed package version"
How should we version packages in this repo?

In particular, `Microsoft.DotNet.Build.Tasks.Feed` is currently being published from BuildTools as `2.2.0-prerelease-xxxxx-xx`.

W.R.T. packages in arcade:

- Do we want to set the prerelease label to `prerelease` for everything?  Currently it's `beta`.
- Should we rev the patch version or leave it as `0`?

As an example, the test package I produced to

[2018-03-08 23:00] chcosta opened #50 "Report Arcade official build status to MC"
@chcosta commented on [Mon Mar 05 2018](https://github.com/dotnet/core-eng/issues/2820)

---

@Chrisboh commented on [Thu Mar 08 2018](https://github.com/dotnet/core-eng/issues/2820#issuecomment-371629968)

@chcosta could you please move it to the Arcade repo?

[2018-03-09 05:57] chcosta opened #51 "Enable VSTS signing"

[2018-03-09 15:10] MichaelSimons opened #52 "Arcade repo should be given meaningful name."
How about not using a silly project name and give this repo a meaningful name?   Let's continue to use meaningful names within the dotnet organization.  It really helps newbies understand things when we aren't using meaningless project names.

[2018-03-09 15:18] eerhardt opened #53 "Consolidate cross/build-rootfs.sh into 1 place"
In order to build arm binaries, we currently have roughly the same script copied into the following places:

https://github.com/dotnet/coreclr/blob/master/cross/build-rootfs.sh
https://github.com/dotnet/corefx/blob/master/cross/build-rootfs.sh
https://github.com/dotnet/core-setup/blob/master/cross/build-rootfs.sh

And they are all slightly out of date with each other because someone will update co

[2018-03-09 17:37] natemcmaster opened #54 "Add GitHub project description"
Currently empty:
<img src="https://user-images.githubusercontent.com/2696087/37221026-4ca97230-237d-11e8-929d-ac83e2e2b0e3.png" width="500" />

Possible wording:

[2018-03-09 18:39] eerhardt opened #55 "Consolidate native code building scripts into 1 place"
We have a bunch of scripts that are duplicated across repos that build native code:

https://github.com/dotnet/coreclr/blob/master/src/pal/tools/gen-buildsys-win.bat
https://github.com/dotnet/corefx/blob/master/src/Native/Windows/gen-buildsys-win.bat
https://github.com/dotnet/core-setup/blob/master/src/corehost/Windows/gen-buildsys-win.bat

https://github.com/dotnet/coreclr/blob/master/src/pal/too

[2018-03-12 22:39] #6 closed, assigned to chcosta

[2018-03-13 16:08] #51 closed, assigned to chcosta

[2018-03-13 22:13] weshaggard opened #58 "[Signing] Maintaining SignToolData file"
What is the strategy for maintaining the SignToolData.json (https://github.com/dotnet/arcade/blob/master/build/SignToolData.json) file? I'm not a fan of manually maintaining a list of files that we need to sign. People always forget to update it and we have build failures because some binary is unsigned. In the core repo's we have moved to a model of generating and dropping files next to the binar

[2018-03-13 23:31] jaredpar opened #59 "What desktop runtime do our tools require"
Looks like there will be a number of places where we need to specify a desktop target framework in our projects. This target framework essentially establishes the minimum desktop runtime necessary to use artifacts from the arcade repository. Rather than pick project per project think we should establish the minimum runtime we desire and use it consistently through our projects.

I believe we shoul

[2018-03-14 17:55] weshaggard opened #60 "[Darc] Create process for auto-updating common scripts/tools"
No matter what tools/infra we currently use there is always a need for some boiler-plate scripts, config files, etc that need to be maintained across many repos. Today that is mostly manual and is a very tedious process to ensure everything is in-sync and consistent. We need some process, perhaps maestro, that will monitor changes to common files and then submit auto-PRs to all repo's that subscri

[2018-03-14 22:41] markwilkie opened #61 "Policy/guidance to have consistent versions of our tooling"
@dleeapho commented on [Tue Jan 31 2017](https://github.com/dotnet/core-eng/issues/404)

This is the second part of implementing cmake toolset.  This is mainly around uptake in the official builds.

---

@shawnro commented on [Fri Feb 03 2017](https://github.com/dotnet/core-eng/issues/404#issuecomment-277379717)

@dleeapho can you please link the first part of the work to this one?

---

@ravimeda

[2018-03-14 22:44] markwilkie opened #62 "As a repo owner, I can host CMAKE in the OSS Tools repository."
@ravimeda commented on [Mon Mar 06 2017](https://github.com/dotnet/core-eng/issues/549)

The goal of this task is to understand the steps involved in hosting a tool at OSS Tools repository. This is required for official and CI builds that will consume a tool from a trustable source, and not download directly from internet. Work is scoped to single tool i.e., CMake.  Tasks towards this goal are as

[2018-03-14 22:45] markwilkie opened #63 "As a developer, I build with a consistent compiler version across all NET Core repo's"
@chcosta commented on [Tue Jun 13 2017](https://github.com/dotnet/core-eng/issues/940)

Tracking issue https://github.com/dotnet/corefx/issues/20869#issuecomment-307464151

/cc @ellismg

[2018-03-14 22:45] markwilkie opened #64 "Enable building our repo's without requiring Visual Studio installed"
@weshaggard commented on [Thu Dec 07 2017](https://github.com/dotnet/core-eng/issues/2239)

In order to make our builds more reliable and maintainable long term we need to be able to bootstrap our toolsets as part of our build initialization and stop relying on globally installed tools. This includes things like CMake and Visual Studio but for this issue I want to focus on what it would take to br

[2018-03-15 16:52] chcosta opened #65 "Package generation should support embedding common files"
We shouldn't have to add

[code]

to every nuspec to include these files in every package.

[2018-03-15 22:01] chcosta opened #67 "[Telemetry] Investigate CLI local tools for Telemetry"
CLI now supports custom paths for "global" tools.  We should investigate creating a tool package for handling telemetry that can be used in CI / official build scenarios.

https://github.com/dotnet/cli/pull/8716

[2018-03-15 22:29] chcosta opened #68 "Move Arcade to the open"
https://github.com/dotnet/arcade/issues/45

- [x] Make the GitHub repo public
- [x] Update Jenkins to recognize the repo as open
- [x] Update links in [readme](https://github.com/dotnet/arcade.get/README.md) (badges aren't currently not working and links are wrong because the repo is private)
- [x] Move package publish location from temp location to feed location

[2018-03-15 23:17] chcosta opened #69 "Create sdk to create sdk's"
We shouldn't have to include 'nearly' identical sdk.props / targets in the source for every package produced in the arcade repo.  We should have some sdk that assists with the generation of our sdk / task packages.

[2018-03-16 15:43] weshaggard opened #71 "We need arg parsing scripts for windows and linux"
In order to standardize our scripts across all the repos we are going to need a set of arg parsing scripts that will be able to handle consistent properties passed to both our windows (build.cmd) and our linux (build.sh) scripts.

The repo api doc at https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/RepoApi.md outlines how we plan to pass in common arguments. Spec snippets

[2018-03-16 15:52] markwilkie opened #72 "Build Arcade with Arcade"
Arcade building Arcade is one important aspect (requirement) for using Arcade as a repo "template".  Arcade needs to demonstrate how to build using itself so that it can be used as a starting point (or adoption goal) of other repos.  Basically, anyone should be able to simply clone, then build Arcade.

The first step was to get Arcade building and publishing packages in the open.  (#45)  Now, it i

[2018-03-16 16:02] markwilkie opened #73 "Bootstrap for native tools for builds"
CLI is not enough for several repos in the stack.  To truly be able to 'clone then build' Arcade, we'll need to support the bootstrapping and scripting for native builds before CLI.

Done is:
- [x] Sufficient functionality for teams to onboard
- [x] Documentation and guidance
- [x] Pre-CLI toolsets are bootstrappable
- [x] Build scripts support native builds
- [x] Native builds are able to use thi

[2018-03-16 16:06] markwilkie opened #74 "Dependency flow functionality ready for tier 1 repos to onboard"
There needs to be a mechanism for populating and updating build/test scripts and flowing dependencies for all repos subscribed to Arcade.

The main goal of this epic is to ensure that we're **fully** ready to support the onboarding of all tier 1 repos to arcade and dependency flow.  This does not mean that no repos should be onboarded before this epic is done.  It is to say that the urgency of *al

[2018-03-16 16:53] markwilkie opened #75 "Arcade servicing"
Servicing Arcade must be a first class citizen.  The epic is considered complete when:
- [x] Plan for how Arcade supports servicing forks/branches is determined
- [x] At least one repo implements Arcade in its servicing branch - and is serviceable

[2018-03-16 17:09] chcosta opened #76 "Intermittent failures in IO tests"
On my local machine, I intermittently am hitting test failures when running the Microsoft.DotNet.Build.Tasks.IO tests.

[code]

[2018-03-16 17:32] chcosta opened #77 "[Feed package] Feed package support for local folders"
Sleet supports writing to local folders, the feed package does not support this functionality.  Limiting support for local folders makes writing test cases difficult and may limit use of the Feed package (no current scenarios I know of).

https://github.com/emgarten/Sleet

FYI @jcagme

[2018-03-16 17:39] #36 closed, assigned to chcosta

[2018-03-16 23:22] chcosta commented on #45
Waiting for https://github.com/dotnet/arcade/pull/81 before publishing an official build from the repo.

[2018-03-17 00:05] chcosta commented on #45
Official build packages are published to feed

[2018-03-17 00:17] #68 closed

[2018-03-17 00:17] #54 closed

[2018-03-17 00:18] chcosta commented on #40
Should this be moved to the core-eng repo?

[2018-03-17 00:18] #18 closed

[2018-03-17 00:19] chcosta commented on #15
dev builds now use user cache

[2018-03-17 00:19] #15 closed

[2018-03-17 00:20] #7 closed

[2018-03-20 01:11] chcosta commented on #33
Fixed with https://github.com/dotnet/arcade/pull/83

[2018-03-20 01:11] #33 closed

[2018-03-20 17:25] jcagme commented on #40
We won't use this approach anymore since we decided to go with the use of extension tasks so I'll close this.

[2018-03-20 17:25] #40 closed

[2018-03-20 21:22] markwilkie commented on #16
Add to post initial release epic

[2018-03-20 21:24] markwilkie commented on #30
Add to a prodcon epic

[2018-03-20 21:26] markwilkie commented on #43
post initial release

[2018-03-20 21:29] markwilkie commented on #53
create native build epic

[2018-03-20 23:47] markwilkie opened #84 "Post Arcade V1"
This epic is the "dumping ground" where we put stuff we want to do, but won't make the first pass.

This epic is considered complete when:
- [x] Initial release of Arcade is building itself and adopted by at least 2 main repos
- [x] Requirements for V2 of Arcade are defined

[2018-03-20 23:52] markwilkie opened #85 "Define and Implement Repo API"
As part of the prodcon effort, a repo API needs to be defined and implemented.  This epic is considered complete when:
- [ ] Repo API is defined
- [ ] Repo API is implemented in Arcade
- [ ] Repo API is implementable for the rest of the repos in the stack

[2018-03-20 23:55] markwilkie opened #86 "Native build support"
Arcade must support native builds and bootstrapping.  This epic is considered complete when:
- [ ] 'clone', then 'build' works for native builds

[2018-03-20 23:56] markwilkie commented on #86
dupe of #73

[2018-03-20 23:56] #86 closed

[2018-03-21 00:04] markwilkie opened #87 "Settle on name (again)"
There's still discussion on the name.  I still prefer "Arcade.net", but other names like the following have also been proposed:

-  Arcade.Net.Sdk
-  DotNet.Toolset.Sdk
-  DotNet.Sdk
-  Dot.Net.Sdk
-  Microsoft.NET.Sdk

[2018-03-21 00:19] natemcmaster commented on #87
"Microsoft.NET.Sdk" is taken already by github.com/dotnet/sdk.

+1 for DotNet.Toolset.Sdk

[2018-03-21 00:25] jaredpar commented on #87
Are we talking about the base namespace / assembly name? If so DotNet.Toolset.Sdk.

[2018-03-21 00:27] natemcmaster commented on #87
I think we're talking about package name. `<Project Sdk="DotNet.Toolset.Sdk" >`

[2018-03-21 14:45] markwilkie opened #88 "Converge "KoreBuild" and Arcade"
The way arcade builds, tests, packages, signs, and publishes must be directly usable by all repos in the stack.   Among other things, it provides the following value:
-  Consistency across repos for devs
-  Implements the "repo API", making adoption more straight forward
-  Allows for reasonable updates and improvements across the entire stack
-  More efficient, in that there's only one implementa

[2018-03-21 15:06] markwilkie opened #89 "Converge "repotoolset" and Arcade"
The way arcade builds, tests, packages, signs, and publishes must be directly usable by all repos in the stack.   Among other things, it provides the following value:
-  Consistency across repos for devs
-  Implements the "repo API", making adoption more straight forward
-  Allows for reasonable updates and improvements across the entire stack
-  More efficient, in that there's only one implementa

[2018-03-21 15:07] markwilkie opened #90 "Converge "buildtools" and Arcade"
The way arcade builds, tests, packages, signs, and publishes must be directly usable by all repos in the stack.   Among other things, it provides the following value:
-  Consistency across repos for devs
-  Implements the "repo API", making adoption more straight forward
-  Allows for reasonable updates and improvements across the entire stack
-  More efficient, in that there's only one implementa

[2018-03-21 15:47] natemcmaster commented on #88
cc @Eilon @muratg

[2018-03-21 18:19] markwilkie commented on #88
@natemcmaster wrote a great list to get started.  https://gist.github.com/natemcmaster/0ef23512c011b7ec09f25ad13a1d65e2  We should probably create an issue for each item noted and attach it to zenhub.

[2018-03-21 18:25] markwilkie opened #92 "As a developer, I can tweak my .NET Build tools to control the output paths of test assets."
@MattGal commented on [Fri Apr 28 2017](https://github.com/dotnet/core-eng/issues/717)

This request comes from @AtsushiKan::

**_Peeve:_** Where are my binaries?

  On ToF, there’s a consistent relationship between the test source directory, the IL output directory and the native output directory (you can easily write a tool to transform
  one to another for easy switching.)

   On CoreFx, System

[2018-03-21 18:35] dagood opened #93 "Build Arcade from source"
Migrated from this suggestion about BuildTools (https://github.com/dotnet/core-eng/issues/186):

We have https://github.com/dotnet/arcade/issues/72 "Build Arcade with Arcade", but this is more like "Build Arcade with only CLI".

This isn't necessarily a requirement for Build from Source, because we can use a "bootstrap flow". (Might be a different definition of bootstrap than you're used to.) We c

[2018-03-21 20:54] markwilkie opened #94 "Create "how to contribute" guide"
The guide should not only have the "standard" general guidance for our Core repos, but also describe the following:
-  How to determine whether or not to build and publish a package via Arcade
-  What the bar is for Arcade packages
-  What the review process and feedback looks like
-  Where to learn about packaging guidelines
-  Guidance regarding where source code for a package should live

[2018-03-21 20:58] markwilkie opened #95 "Create document which describes Arcade package types"
All Arcade packages are note equal - there are different types or categories.  For example, there likely will be at least the following package types:
-  Core --> every repo will get these packages (and scripts) no matter what.  These can be considered the "bootstrapping" packages adn scripts.
-  Required --> every repo will get a reference to these packages, leaving it up to the build to restore

[2018-03-21 22:31] dagood opened #96 "Create common infra to build MSBuild tasks specific to a repo"
Some repos build MSBuild tasks as part of their product build: Arcade should explicitly support that. There are also cases where we want to add new custom MSBuild tasks to specific repos:

 * We might not understand the task's requirements well enough to put it in Arcade yet, where subsequent changes always (?) have to be backwards compatible.
 * The task might only make sense for that repo.

Maki

[2018-03-22 03:35] weshaggard commented on #87
I actually like RepoTools so it is a little more clear that this isn't a general toolset for our customers. So Perhaps "DotNet.RepoTools.Sdk"?

[2018-03-22 03:48] weshaggard commented on #96
One of the goals/principles we want to have is to allow repo's to be able to just open up the root solution and build, while not all repo's will be able to support this (i.e. corefx) we want this principle to hold for most repos. In that model it will be difficult to have a pre-build step that builds tasks that are needed to build the repo. In my opinion if we support this it should be an exceptio

[2018-03-22 14:59] dagood commented on #96
Wes is talking about how these tasks/package have to be built as a pre-build step so that they can be used during the build. Maybe you're thinking of having each task-producing repo have a "side" build that produces the tool packages, and then they're pulled down from the internet--that seems even worse to me.

@weshaggard, maybe this is mitigated by having it built into the infrastructure? Any re

[2018-03-22 15:06] markwilkie commented on #96
Oh I see what @weshaggard was getting at.

@dagood - your thinking aligns with mine.  Basically, just add the functionality to the build, and then if warranted, we can pull it out as a package and put it into Arcade.  This can also be managed to a degree with a clear "bar" for when things get into Arcade.

[2018-03-22 15:10] dagood commented on #96
I think the bar is an issue--for repos that can't have a pre-build step, they need somewhere to put their prototype/prerelease tasks, and Arcade is the only place for them. As long as the bar's flexible and there's a way to mark these packages, maybe that's ok?

[2018-03-22 15:44] weshaggard commented on #96
For repo's like corefx this pre-build step isn't a huge deal because we require a full build of the repo before you can work in VS but that isn't true for most repo's.  I'm curious to get @tmat and @jaredpar's take on this. I'm generally not a fan of producing tools that are used to build the repo in a pre-build step in the same repo. I would like arcade to be that repo, or perhaps another repo (h

[2018-03-22 17:28] dagood commented on #96
That's an interesting idea. Seems to me it'll work as long as we can pull down extra libraries from NuGet packages and use them in the C# build scripts.

[2018-03-22 17:30] tmat commented on #96
@dagood Currently C# scripts do not support NuGet references (it's in the backlog, so maybe someday. However, that should be easy to work around. You can add those package references to the containing project and then access the binaries directly from the NuGet cache.

[2018-03-22 17:37] dagood opened #97 "Create guidance: how to develop and run a C# build task with source in the local repo"
From https://github.com/dotnet/arcade/issues/96#issuecomment-375389291:

This repo should have a document about how we expect people to do this.

A side benefit is that we can have a consistent structure so moving the task to Arcade is painless.

[2018-03-22 23:26] weshaggard commented on #96
I think C# scripts are a resonable bridge for repo's to have custom logic specific to them but it isn't a great on-ramp for putting tasks into arcade. I still think we want most of this code to be in a task library overtime so repo's still need a place to put those and I still think arcade is that place.

[2018-03-22 23:34] tmat commented on #96
Scripts are good for one-off extensibility. If you need to customize one task specific to the repo start with a script. If it turns out to be useful across multiple repos, then convert it to a task and put it to Arcade. My 2 cents.

[2018-03-23 00:35] weshaggard commented on #96
That is worth a try. Assuming we get the performance we need from the scripts then it should be a viable solution.

[2018-03-23 01:07] tmat commented on #96
The perf might be a problem if we need to run the script many times. Ideally, we would use the compiler server to compile the script once and execute it multiple times during build, but that's not implemented yet.

[2018-03-23 03:43] natemcmaster commented on #76
As far as I can tell, something is holding the file handle open for a few hundred milliseconds after I would expected it to be released. The hold is very short-lived so I can't figure out what it is -- ZipArchive, FileStream, antivirus, something else. Adding a retry loop around Directory.Delete with a little bit of waiting in between each call works.  See #98

[2018-03-23 16:10] natemcmaster commented on #76
Funny, i hit the IOException consistently on Windows 10. I haven't seen it in windows 2012R2. I'm still not sure what is holding the file handle, but if anyone wants to investigate more, just run the tests in a loop.

[2018-03-23 16:11] #76 closed

[2018-03-24 15:47] eerhardt commented on #73
See also - https://github.com/dotnet/arcade/issues/55

IMO - a good first round of this would be a mechanism that just kept scripts in sync across multiple repos.

/cc @weshaggard

[2018-03-24 16:01] eerhardt commented on #73
Examples of scripts that are common across repos:

- RID detection
- Visual Studio detection
- c++ compiler detection
- CMake functions, settings, etc
- Invoking CMake to generate make files/.vcxproj

[2018-03-26 19:49] jaredpar commented on #96
Sorry I'm late, been OOF.

I agree that pre-build steps are generally distasteful. We used to have a number of them in Roslyn but slowly over time we've deleted all of them. The actual perf wasn't the issue as much as the overall usability.

[2018-03-27 20:30] tmat opened #99 "Implement PGO infrastructure"
The current process is mostly manual, tedious and error prone. We need an automated infrastructure that builds PGO data regularly.

### Proposal

Create a new repo (`dotnet/pgo`) that will host training scenarios across Roslyn, VS, ASP.NET and .NET Core and its Jenkins machine will run them regularly. This repo would be co-owned by all teams who want to contribute training scenarios. The training

[2018-03-27 20:30] tmat commented on #99
@KevinH-MS @jasonmalinowski @weshaggard @mmitche @markwilkie

[2018-03-27 20:35] weshaggard commented on #99
cc @valenis

[2018-03-27 21:31] markwilkie commented on #92
Make sure this is tracked as a requirement.

[2018-03-27 21:33] jasonmalinowski commented on #99
@tmat The division already has a system for doing what you describe (at least up to the creation of the NuGet package). We were planning on just using that. Any reason we can't just do that?

(our better hope was once we have that, we can also get rid of having to embed PGO data into assemblies which they're looking at allowing too, which means for VS RPS tests you wouldn't have to be doing a thin

[2018-03-27 21:37] jasonmalinowski commented on #99
I guess maybe one obvious question I'm missing: for training _for VS scenarios_ we want to use the VS system. Is there training that needs to happen for other systems too that need to be merged?

[2018-03-27 21:43] dagood opened #100 "Tooling restore flow for optional packages like IBCMerge"
Some tools like IBCMerge and TestILC are in a VSTS feed, not public. BuildTools offers the "[optional tooling restore](https://github.com/dotnet/buildtools/blob/921f7c57e9941eba0879bd83ff89df0ec684d365/src/Microsoft.DotNet.Build.Tasks/PackageFiles/OptionalTooling.targets)" flow to restore tools from these feeds, and Arcade needs an equivalent to replace it. Ideally it would work on non-Windows, to

[2018-03-27 21:53] markwilkie commented on #100
We should at least look into using https://securityguidance.cloudapp.net/

[2018-03-27 21:59] dagood commented on #100
What does that give us? These are not open source tools.

[2018-03-27 22:08] tmat commented on #99
Where is the system?

@jkotas is telling me that PGO data must be embedded into assemblies for Destkop FX. Does VS have a different mechanism than NGEN?

[2018-03-27 22:44] tmat commented on #99
Chatted with @jasonmalinowski offline:

- VS has a system that can be used to train binaries and produce PGO. We should use that system at least for training any binaries that get inserted into VS.
- There might have been experiments to enable PGO that are not embedded in the binaries (I assume for non-GAC assemblies only). We'll follow up on that.
- Not having to embed PGO in binaries would be be

[2018-03-28 02:57] tmat commented on #63
Wouldn't this be simply addressed by setting `MicrosoftNetCompilersPackageVersion` in dependency `DotNetPackageVersionPropsPath` props file?

[2018-03-29 22:24] tmat opened #101 "[Publishing] Unify orchestrated build blob storage publishing and source build asset publishing"
Both orchestrated build and source build publish packages, symbol packages and other assets.

The format of the storage should be the same as well as the task that publishes the assets (`PushToBlobFeed`).

Also both should use the same variables to control the publishing.

Currently we have:
- `DotNetOutputBlobFeedDir`
- `PB_PublishBlobFeedKey`
- `PB_PublishBlobFeedUrl`

Instead we should have som

[2018-03-30 20:37] DoCode opened #102 "ZipArchive dosn't overwrite destination file when already exists"
When ZipFile output already exists and overwrite is specified, an exception is thrown that the file cannot be written.

[2018-04-02 17:31] dagood commented on #55
We need to make sure this change to symbol stripping gets in here: https://github.com/dotnet/core-setup/issues/1607. (Keeping unstripped binaries around even if symbol stripping is enabled, for certain scenarios where later tooling expects to do the stripping itself.)

[2018-04-02 18:47] weshaggard commented on #59
On a similar note we are going to have to move our task libraries up to target netstandard2.0 soon as with the 2.1 release the msbuild library packages will only support netstandard2.0 and net46.

[2018-04-03 20:27] markwilkie commented on #38
@chcosta - the PR is merged, should this be closed?

[2018-04-03 20:28] markwilkie commented on #9
@chcosta - is this done already?

[2018-04-03 20:32] chcosta commented on #9
No, there's one package which has unit tests, but we don't have any validation that the set of packages we produce meet any of the above criteria.

[2018-04-03 20:36] markwilkie commented on #8
Changing title and initial description of issue.

This is also related to #48.

[2018-04-03 20:39] chcosta commented on #38
No, we still need to determine how we want to build packages on Linux. Whether we want to produce framework assets in Linux builds or live with Unix and windows producing different packages.

[2018-04-03 20:40] markwilkie commented on #38
Kicking this issue out of the closed epic and moving back to triage

[2018-04-03 20:41] #45 closed

[2018-04-03 20:42] markwilkie opened #105 "Need method for sharing js packages"
Sharing nuget packages is straightforward, but we should also provide some story for how to share .js packages.  npm?

[2018-04-03 20:48] markwilkie opened #106 "Merge repotoolset into arcade"
As discussed, we need to move repotoolset into arcade.  This move will be somewhat disruptive, so messaging should be clear to the current repotoolset consumer repos.

This also implies a bit more detail around guidelines for getting PRs into Arcade will be helpful.  I'll work on that.

cc/ @jaredpar, @tmat, @weshaggard, @natemcmaster, @chcosta

[2018-04-04 04:41] tmat commented on #38
RepoToolset now supports building .NET Framework targeting projects on Linux, except for projects that require Windows specific targets like WPF, VSIX, etc.

[2018-04-04 04:42] tmat commented on #106
I'll do this once we are done with 2.1 and source build

[2018-04-04 16:31] chcosta commented on #38
Oh yes, I recall this PR, https://github.com/dotnet/roslyn-tools/pull/190.  Great, then the remaining work is to validate that we produce those packages correctly on Linux (https://github.com/dotnet/arcade/blob/master/Directory.Build.props#L24)

[2018-04-05 15:40] mmitche opened #107 "Long running tasks should support cancellation"
One ongoing issue with some long-running tasks (e.g. DownloadFromAzure, PushToBlobFeed, etc.) is that they don't support cancellation.  So Ctrl+C during the build will simply wait for the task to finish.  As we port tasks to Arcade, we should ensure that long running ones support cancellation.

[2018-04-06 21:41] markwilkie opened #109 "[Validation] Test myget as part of the arcade build"
Assuming Arcade does not use myget (and it shouldn't), we should make a test or something which makes sure myget is up in support of using Arcade as a canary build.

[2018-04-06 21:41] markwilkie opened #110 "[Validation] Test Helix as part of the arcade build"
We should either use helix to test, or run tests which make sure helix is up and running in support of Arcade being a canary build.

[2018-04-06 21:41] markwilkie opened #111 "Use arcade as a "canary" build"
Arcade should build (or test) using every piece of infrastructure or service we rely on.  In this way, we can get an early alert if we've got infra problems.

- [ ] Arcade build sufficiently often such that it gives an early read
- [ ] Arcade build failures are high visibility and a top priority for FR as they likely represent wider problems.
- [ ] Arcade build uses or runs tests for every importa

[2018-04-11 21:43] markwilkie opened #112 "Create "tools" feed"
Follow the current transport feed model.

Still need to work out exactly how this will work for non-nuget packages.

[2018-04-11 21:55] markwilkie opened #113 "Source build requirements for 2.1"
The source builds requirements for 2.1 need to be understood for Arcade.  (if any)

[2018-04-11 21:57] markwilkie opened #114 "Implement yaml templates"
VSTS yaml templates are in mseng now for vsts.  https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templates.md

Time to implement in Arcade...

[2018-04-13 15:54] markwilkie commented on #102
merged

[2018-04-13 15:54] #102 closed

[2018-04-13 18:27] markwilkie commented on #106
@tmat - any further thoughts on timing?

[2018-04-13 18:35] alexperovich commented on #112
Is there a reason we don't want to just use the dotnet-tools-internal feed for tool nuget packages?

[2018-04-13 18:48] markwilkie commented on #112
Not that I know of, that's probably the right one

[2018-04-13 20:44] alexperovich opened #117 "Add support for using CentralPackageVersions MSBuild sdk for package versioning"
This syntax in project files using properties for package versions:
[code]
With a `PackageVersion.props` file somewhere defining `PizzaPackageVersion=1.2.0` adds additional unneeded complexity to the project file. Additionally, it causes extra work for developers adding projects into arcade who don't know and/or forgot about this requirement and add explicit versions in the project file, only to b

[2018-04-13 21:02] tmat commented on #117
https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions

[2018-04-13 22:04] alexperovich opened #118 "Produce tool for reporting builds to helix"
Produce tool that can report build lifetime events to helix from a yaml build template.

[2018-04-13 22:30] jaredpar commented on #117
Yes it's not great with the UI. But we can't use the UI for our packages anyways in our current proposal where we have to update a side file as well. I'm interested in the error prone claim.

[2018-04-13 22:57] tmat commented on #106
I think we should first stabilize all repos that are already on the toolset on its latest version. There is too many moving parts at this point.

[2018-04-13 23:18] alexperovich commented on #117
If you typo the property name, you get no error just an odd warning from NuGet. To someone new to a project they might not know what that means and have trouble figuring out how to fix it. They might also not even know they need to add packages that way. With something like CentralPackageVersions (I had no idea that existed, it's really cool) a new developer who uses the VS UI to add a package wil

[2018-04-14 00:04] sunandabalu commented on #38
https://github.com/dotnet/arcade/pull/115

[2018-04-14 00:04] #38 closed

[2018-04-15 19:36] jaredpar commented on #117
That sounds like a bug in NuGet, not an inherent flaw in the design.

[2018-04-17 15:36] markwilkie opened #121 "Start "darc" library with script support"
Start the darc library which knows how to record (locally) the fact that a script has been updated.  https://github.com/dotnet/arcade/pull/120

The next step will be to have "maestro++" use this library to understand the changes, and then update the stack by also asking each repo darc library to do the right thing.

Completion means:

- [x] Write a Darc spec
- [x] Implement initial Darc functions

[2018-04-17 15:38] markwilkie commented on #121
#60 is also relevant.  (might be able to close it as dup)

[2018-04-17 16:30] chcosta opened #122 "Arcade: Document plan for bootstrapping native builds"
@chcosta commented on [Tue Apr 17 2018](https://github.com/dotnet/core-eng/issues/3302)

Come up with a one-page plan for how we are going to bootstrap native builds using Arcade

https://github.com/dotnet/arcade/issues/73

[2018-04-17 17:32] markwilkie commented on #8
PR is out:  https://github.com/dotnet/arcade/pull/120

[2018-04-17 17:34] markwilkie opened #123 "Create servicing approach/plan"
Create plan which describes how we intend to service arcade - and deal with products servicing themselves.

[2018-04-17 17:34] markwilkie commented on #123
in PR:  https://github.com/dotnet/arcade/pull/119

[2018-04-17 21:17] jac009 commented on #52
Are we too far down this road to shift repos to a better name?  I'm with @MichaelSimons  on this one :)

[2018-04-17 21:36] markwilkie commented on #117
@alexperovich - can you check in with https://github.com/anangaur  on this please?  Apparently nuget has some plans around package versions and it would be good to understand better what those are and align to them.

[2018-04-17 21:40] markwilkie commented on #114
Need to sort which instance of VSTS we're using, then start this work in there.  Given that .NET is open source, plus that fact we are probably in an earlier ring, it's likely that we'll be using a dotnet.visualstudio.com instance.  But, nothing's been set yet....

[2018-04-17 21:41] markwilkie commented on #113
We'll not be doing work here prior to 2.1 shipping.  However, after 2.1 ships, we'll want to make sure we're still good from a source build perspective in 2.1.

[2018-04-17 21:58] markwilkie commented on #52
Just talked to @jac009, and given that we already have a repo building in the open, not to mention quite a bit of momentum with the current name, I'm unfortunately closing the issue again.

Having said that - no more code names......   It is tough to keep track and "map" for sure.

[2018-04-17 21:58] #52 closed

[2018-04-17 23:37] alexperovich opened #124 "Create story for updating the Helix api generated client code"
The Helix Api Client code is currently generated by https://github.com/Azure/autorest
We need to figure out what the correct story is for either
  * Updating the checked in code when new changes are deployed to the helix api, or
  * Generating the code on-the-fly as part of the build of arcade

I am partial to leaving the code checked in and making something that will run the generator when new AP

[2018-04-18 18:42] natemcmaster opened #126 "Create a cross-platform way to packing .nuspec files without relying /t:Pack"
We should either create -- or work with the NuGet team to create -- an cross-platform way to package a .nuspec file directly, without needing to go through the `/t:Pack` targets in Microsoft.NET.Sdk. So far, aspnet, roslyn, and corefx have all implemented a task to do this on their own, and we expect new repos building .nuspec files will need this task too.

Initially, I wrote and proposed an MSBu

[2018-04-18 21:16] markwilkie opened #127 "Clearly define what 'breaking change' means"
As part of servicing, it's important to be crisp regarding what exactly constitutes a breaking change.  In addition, it should be clear how these "announcements" are done.

[2018-04-18 23:25] alexperovich commented on #71
Can we explore converging on powershell for build scripts now that powershell is cross-plat? Maintaining 2 versions of each script is akward and powershell does argument parsing and help output for free.

[2018-04-18 23:35] alexperovich commented on #65
Having `<None Include="$(RepoRoot)LICENSE.TXT;$(RepoRoot)THIRD-PARTY-NOTICES.TXT" PackagePath="%(Filename)%(Extension)"/>` In the `Directory.Build.props` or even the toolset SDK would solve this for projects that don't have a custom nuspec (custom nuspec's should be the exception, not the rule).

[2018-04-18 23:37] alexperovich commented on #50
I am currently working on this. #125 is the first step.

[2018-04-18 23:41] weshaggard commented on #71
No we cannot converge on powershell that requires .NET Core to run which means we have nothing to use for building the native components to bootstrap a new platform. I think the best strategy is to minimize what we put into these scripts and jump into our build engines (cmake/msbuild) as quickly as possible.

[2018-04-19 18:35] jcagme opened #128 "Version and dependencies update one pager"
@jcagme commented on [Thu Apr 19 2018](https://github.com/dotnet/core-eng/issues/3322)

Describe what is the scope, surface area and proposed tech that will be used to update the versions in a local repo.

[2018-04-20 21:29] #118 closed

[2018-04-24 17:20] chcosta opened #132 "Implement Windows native toolset bootstrapping"
Implement plan outlined in https://github.com/dotnet/arcade/pull/129#pullrequestreview-114862881 and detailed in https://github.com/dotnet/arcade/pull/131

[2018-04-25 20:35] JohnTortugo opened #134 "Implement Semantic Versioning Task"
Work to be done is implement what is described here https://github.com/dotnet/arcade/pull/108 as a MSBuild Task

[2018-04-25 21:37] JohnTortugo commented on #134
@mmitche , Could you please take a look at the schematics below? I am not sure what should be the **format of the version string** (or what would be the default value for the field) when some of the optional fields are empty.

Major -> Required; integer; Fail if 0
Minor -> Required; integer;
Patch -> Required; integer;

Prerelease -> Optional; string; **what to do if empty?**
Shortdate -> Optional

[2018-04-25 21:57] mmitche commented on #134
Prerelease - If ommitted, then all fields in the prerelease section (PRERELEASE.SHORTDATE.BUILDS) should be empty.  Error if otherwise (not semver2 compatible)

Two additional points:
- We also need a pivot to produce a stable (not containing dates or build metadata) version number.
- Wes also noted the short date is actually a combo of months since a base date and days.  See https://github.com/do

[2018-04-25 21:59] mmitche commented on #134
BTW, I would make a separate work item for bringing in the git functionality.

[2018-04-25 22:03] markwilkie opened #135 "Arcade --> Korebuild "gap""
The initial pass at the gap is written down by Nate here:  https://gist.github.com/natemcmaster/0ef23512c011b7ec09f25ad13a1d65e2

This will likely be translated to specific issues once we start.

[2018-04-26 00:34] JohnTortugo opened #136 "Implement Git Commands Wrapper MSBuild Task"
Implement ToolTask around some basic Git commands:

- Git Branch Name
- Git Commit SHA

First use will be on implementing the Semantic Versioning Task: https://github.com/dotnet/arcade/issues/134

[2018-04-26 01:52] tmat commented on #136
Coming soon: https://github.com/tmat/repository-info/tree/master/src/Microsoft.Build.Tasks.Git

[2018-04-26 01:56] tmat commented on #136
Why do we need branch name? I don't see it used in the versioning doc.

[2018-04-26 02:06] tmat commented on #136
@weshaggard @dagood @dleeapho
The official SourceLink package I'm working on for our customers to use uses libgit2sharp library to query the git repo for various information. The same could be used here for the versioning.
libgit2sharp is a managed wrapper of native libgit2 library. Both are open source. If we used this lib in our infrastructure (arcade) we would need to make it part of source bui

[2018-04-26 04:39] jkotas commented on #64
What about Unix? clang, cmake and other random Unix tools and libraries that we need.

[2018-04-26 15:29] weshaggard commented on #136
The interesting thing about this is we can only use this from our git repo's and for source-build our target is a buildable tarball so access git in that context isn't interesting so I suspect we can exclude this task from our source-build. If we need to build it we could as you say it is open but I wouldn't do the work given we aren't going to use it in our tarball build.

As for the libgit2sharp

[2018-04-26 15:29] dagood commented on #136
This doesn't sound like something that needs to run during source-build. In the (offline) tarball build, we actually remove the git data entirely (it's dead weight at that point), so builds *need* to work without it. Currently we gather git data ourselves ahead of time using `git` commands and pass in whatever properties and environment vars we need to. (It'll be good to get everyone using the sam

[2018-04-26 15:36] markwilkie commented on #64
@jkotas  - to PR's in flight for this:
https://github.com/dotnet/arcade/pull/131
https://github.com/dotnet/arcade/pull/129

[2018-04-26 16:00] jkotas commented on #64
I do not see the answer in these PRs. Do you think you can get to a place where I can walk to a random recent Linux and get predictable build on it? I doubt it. And if I need a container to get a 100% predictable build on Linux, why not make it same way on Windows?

We use containers today to deal with native dependencies. For example, to build .NET Core for Linux same way as build lab, I get a co

[2018-04-26 16:10] markwilkie commented on #64
The goal (in fact requirement...see bottom of https://github.com/dotnet/arcade/blob/master/Documentation/Overview.md) is to 'clone' and then 'build' with no prereqs.  The PR's I pointed you too represents the current thinking on the "how".

I like containers too, and today we're not (yet) taking a hard dependency on them for bootstrapping.  Do you know if containers on Windows and Mac have "grown

[2018-04-26 16:51] jkotas commented on #64
I think it is a good goal to have for a pure managed projects.

I agree that you can achieve it for Windows because of we (Microsoft) own the Windows tooling. But I am not sure whether I will want to use it as a developer or contributor on Windows for day-to-day work. These things (Windows SDKs, etc.) are huge (gigabytes). If the build lab wants to download the tooling so be it. But please do not

[2018-04-26 16:55] markwilkie commented on #64
thanks @jkotas.  Moving this to where the active discussion is on this right now.

[2018-04-26 17:51] JohnTortugo commented on #136
IMO, it seems that depending on third-party libraries to implement this might be a bit too much. As long as Git output is sufficiently consistent across platforms it's seems much less work to implement simple MSBuild ToolTasks around the commands than to depend on libgit2sharp->libgit->git

AFAIU the versioning proposal we won't need branch name. But that also brings me to another point. Which oth

[2018-04-26 17:59] weshaggard commented on #136
As for the branch we include it in our build-by string we included in the version metadata, see https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L384. @JohnTortugo https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets is a good file to look at to see what git commands we inv

[2018-04-26 18:07] tmat commented on #136
Let's start with what features do we actually want in source build.
If it's just the GIT SHA then we certainly don't need libgit. If we want full SourceLink support and embedding of non-tracked files to PDBs then we will need libgit.

I like the idea of running the tools that pre-generate the necessary metadata to .props/.json files outside of source build and include this files in the tarball.

[2018-04-26 18:08] #123 closed

[2018-04-27 00:45] MattGal opened #138 "[Testing - Helix] Arcade version of "CloudTest" libraries"
Name is unimportant, but I wanted to add this to an issue and couldn't find an existing one.  At some point in the near future we want to move the CloudTest libraries (i.e. everything you need to upload payloads and send jobs to helix in product-agnostic MSBuild tasks).

I want to make sure that when this happens, all result and drop API usage uses the new helix storage API;  ideally Arcade will n

[2018-05-01 20:28] chcosta opened #140 "Add install telemetry for native toolsets"
Let's track things like:
- Which versions are being used  (actively installed)
- Exceptions
- Reliability #'s

[2018-05-01 20:29] chcosta opened #141 "Implement toolset detection for native toolsets"
We need to come up with a plan for

1) Determining if a native asset is already installed
2) Determining preference of repo specified vs pre-installed asset
3) Choosing specified or pre-installed asset

[2018-05-01 23:01] #122 closed

[2018-05-03 17:52] JohnTortugo commented on #134
Pushed new changes. Dropped the use of custom task. PTAL.

[2018-05-03 20:51] maririos opened #143 "Need support for custom build triggers that can set properties"
@weshaggard commented on [Wed Nov 29 2017](https://github.com/dotnet/core-eng/issues/2176)

There have recently been a need for having build triggers that can setup custom properties. See https://github.com/dotnet/corefx/issues/25382 as an example. We have talked about doing that for signing as well to have at least one signed build a week from master.

Currently the built in VSTS triggers don't a

[2018-05-03 21:33] shawnro opened #1944 "Support servicing .NET Core"

[2018-05-08 18:43] maririos commented on #134
Issue moved to [dotnet/core-eng #3445](https://github.com/dotnet/core-eng/issues/3445) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-08 18:53] DoCode commented on #134
@maririos it's a very interesting discussion and implementation.
But now it's hidden from me since you move this to the dotnet/core-eng.
How can I continue to follow this issue and details?

[2018-05-08 20:49] chcosta commented on #141
From https://github.com/dotnet/arcade/pull/142#issuecomment-387465177

I'd much rather land in a place where we're using a "match" vs. "no match" then land in the quagmire of version compares and re implement parts of msi.... :(

From https://github.com/dotnet/arcade/pull/142#issuecomment-387494234

[2018-05-08 21:00] maririos commented on #134
@DoCode thanks for pointing that out. I will reopen then

[2018-05-08 21:27] markwilkie commented on #141
My view is that we should start as simple as possible, and then expand / change as necessarily when we understand the resulting problems better.

[2018-05-08 21:31] markwilkie commented on #143
This is (hopefully) related to the current VSTS effort which is underway to support custom properties as part of a PR.  We need to follow up with VSTS to make sure this is generic enough.

[2018-05-09 23:17] weshaggard commented on #141
Of course I'm all for starting simple but I already know we are going to hit these issues once we roll this out to the broader team to begin using.

[2018-05-09 23:19] #50 closed, assigned to alexperovich

[2018-05-10 00:10] weshaggard opened #148 "Start Convention Doc"
While looking around I noticed that we are inconsistent with our naming convention for scripts, for example:

[code]

While it is minor and doesn't matter on windows I tend to lean towards using lowercase for our script names.  While we are starting to bring online more scripts and engineering based files (i.e. json/config/targets/props)  I thought it might be worth writing down a naming guideline

[2018-05-10 17:32] chcosta opened #149 "Enable "optional" native tools"
Consider adding ability to mark some tools as optional, then perhaps only restore them if an "optional" switch is provided to the bootstrapping, or switch the logic so that there's an "only-required-tools" install type option.

https://github.com/dotnet/arcade/pull/142#discussion_r187213171

[2018-05-10 17:33] chcosta opened #150 "Enable proxy server support for native tools"
https://github.com/dotnet/arcade/pull/142#pullrequestreview-118948964

[2018-05-11 16:00] weshaggard commented on #148
I agree that is an interesting idea but it is inconsistent and also doesn't help on windows. Personally I like consistency over a little convenience on one platform, but I'm open to other opinions and I can be convinced otherwise.

[2018-05-11 16:04] natemcmaster commented on #148
+1 for consistent casing. `build.cmd`, `build.sh` is okay with me. I'm not worried optimizing for tab completion.

[2018-05-11 16:31] jaredpar commented on #148
+1 for consistency.

No real opinion on which casing.

[2018-05-11 21:00] chcosta opened #151 "Handle CLI as a bootstrapped native tool"
It would be nice to use the same native toolset bootstrapping system to acquire / use the cli.  Currently, we use a different system and CLI uses a [different env var](https://github.com/dotnet/arcade/pull/142#pullrequestreview-119574268) to reference it's install directory (DOTNET_INSTALL_DIR vs NETCOREENG_INSTALL_DIRECTORY).

We should examine if we can use native toolset bootstrapping to acquir

[2018-05-11 21:26] weshaggard commented on #151
To help reconcile this perhaps we can set DOTNET_INSTALL_DIR to NETCOREENG_INSTALL_DIRECTORY if it is set in side our wrapper dotnet-install script.

[2018-05-11 23:53] chcosta commented on #132
Windows implementation completed with https://github.com/dotnet/arcade/pull/142

[2018-05-11 23:53] #132 closed

[2018-05-14 22:10] weshaggard commented on #148
OK so it sounds like most folks want consistency so we should stick to the rule of making everything lowercase by default.

[2018-05-15 00:31] alexperovich opened #152 "VSTS build telemetry doesn't work completely when VSTS has issues/delays scheduling the builds."
This may become a problem at some point. If/When it does we need a solution. Any solution for this would require deeper integration with VSTS than we have right now.

[2018-05-15 17:03] jcagme commented on #128
PR has received a lot of very good comments and had triggered an in person meeting to close on points which have mixed opinions. I hope that after the meeting all these points are closed so I can make the corrections on the doc and move on to specific implementation of the components.

[2018-05-15 17:50] chcosta opened #153 "Move Arcade to DotNet VSTS Public CI"

[2018-05-15 18:13] jaredpar commented on #153
Do we have any documentation on what the equivalent of netci.groovy is for VSTS? I know it's not fully fleshed out yet but an understanding of the final state will help us as we begin porting individual jobs over.

[2018-05-15 20:47] chcosta commented on #153
There's no real documentation covering the scenario that I've found (yet).  We should be using the same .vsts-ci.yml file but provide conditions / templates for PR scenarios.

https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?tabs=batch&view=vsts#buildreason

ie
[code]

[2018-05-15 20:57] maririos opened #155 "Dependencies Flow Plan"
@maririos commented on [Tue May 08 2018](https://github.com/dotnet/core-eng/issues/3443)
______________________________________
Includes Darc, Maestro++ and the Reporting Store

[2018-05-15 21:01] maririos opened #156 "Product Construction 2.0 Design"
ProdCon represents the infrastructure required to build .NET Core using a multi-repo approach.

It is considered to be complete when:
- [ ] Build .NET Core multiple times a day from source as well as the Microsoft Product release.
- [x] Repository dependencies flow quickly and reliably.
- [ ] We can trace the set of dependencies (repo/sha/version) from source-build repos within the .NET Core ecosy

[2018-05-15 21:03] maririos opened #157 "Determine viability of speculative package flow proposal"
@mmitche commented on [Tue Jan 02 2018](https://github.com/dotnet/core-eng/issues/2320)

Speculative package flow is a possible way to fix the  issues that are seen with the current orchestrated model.  However, there are questions as to how much gain might be attained by running the build in this scheme.

We can simulate this to a large degree though, given the full set of changes across the repo

[2018-05-15 21:04] maririos opened #158 "Eliminate conditions inside tasks - rely on VSTS build conditions instead."
@karajas commented on [Thu Nov 09 2017](https://github.com/dotnet/core-eng/issues/2057)

Eg. Publish is run only when a powershell condition checks if ConfigurationGroup is Release, we should eliminate these.

---

@markwilkie commented on [Thu Mar 22 2018](https://github.com/dotnet/core-eng/issues/2057#issuecomment-375359794)

moving to prodcan as this should really happen.

[2018-05-15 21:05] maririos opened #159 "As an MC user, I can interact with auto-upgrade and mirroring builds"
@dagood commented on [Wed Jun 21 2017](https://github.com/dotnet/core-eng/issues/987)

This would let first responders file issues against failures using MC, and we would start getting telemetry.

---

@Chrisboh commented on [Wed Mar 28 2018](https://github.com/dotnet/core-eng/issues/987#issuecomment-376996792)

There should be no work on MC side of the house for this to work.  As long as the ment

[2018-05-15 21:06] maririos opened #160 "[Maestro++] Add ability to queue Maestro builds"
@karajas commented on [Tue Jun 06 2017](https://github.com/dotnet/core-eng/issues/876)

When Maestro fails to execute on a versions repo change due to for eg. api rate limiting, we need a mechanism for it to either retry after a set amount of time or allow a user to manually trigger a maestro update.

/cc @dagood

---

@dagood commented on [Tue Jun 06 2017](https://github.com/dotnet/core-eng/issue

[2018-05-15 21:07] markwilkie commented on #124
@alexperovich - fair, grin.  I guess I meant a documentation specific issue.  But to your point, this one works fine for that.

[2018-05-15 21:07] maririos opened #161 "Switch all mirrors to use Maestro instead of VSO CI triggers"
@ChadNedzlek commented on [Mon Aug 07 2017](https://github.com/dotnet/core-eng/issues/1437)

Using the VSO CI triggers requires using a very high permission bot that has low rate limits.

We switched CoreFX as a proof of concept in https://github.com/dotnet/core-eng/issues/1084,
now we just need to switch
 - [ ] Core CLR
 - [ ] Core-Setup
 - [ ] Standard
 - [ ] CLI
 - [ ] BuildTools
 - [ ] WCF

As

[2018-05-15 21:08] maririos opened #162 "Publish to MyGet an async push such that builds don’t fail"
@markwilkie commented on [Fri Sep 29 2017](https://github.com/dotnet/core-eng/issues/1840)

Perhaps a separate "web job" to go through the completed builds and then publish?  There is a chance that MyGet goes away entirely, but that will take some time so this work might be worth it.

---

@markwilkie commented on [Fri Sep 29 2017](https://github.com/dotnet/core-eng/issues/1840#issuecomment-333181

[2018-05-15 21:08] markwilkie commented on #148
I'll start a convention doc and add this to it.

[2018-05-15 21:09] maririos opened #163 "Enable archiving logs in all build definitions"
@karajas commented on [Thu Nov 09 2017](https://github.com/dotnet/core-eng/issues/2059)

This helps us understand output not printed to console.

Another workaround is to condition verbosity in official build to be more verbose.

---

@karajas commented on [Thu Nov 09 2017](https://github.com/dotnet/core-eng/issues/2059#issuecomment-343301761)

This is tricky in the case of docker runs.

---

@mar

[2018-05-15 21:12] maririos opened #164 "As a repo owner, I can specify whether or not builds happen when the hash doesn't change."
@markwilkie commented on [Wed Nov 02 2016](https://github.com/dotnet/core-eng/issues/34)

From: Jason Malinowski
Sent: Tuesday, October 18, 2016 11:30 PM

I’m not sure what the merge history has to do with here. I guess I was wondering how hard it is to simply add logic that says “the current HEAD is abcdef123, let’s just ask TFS it there’s already a green build with that same branch and sha1”. If

[2018-05-15 21:13] maririos opened #165 "As a developer, it's easy for me to get all the artifacts that were shipped as part of a .NET Core release."
@ellismg commented on [Thu Nov 03 2016](https://github.com/dotnet/core-eng/issues/52)

(Opening this on behalf of @DrewScoggins, who asked me a reasonable question).

Drew wanted to get all of the packages that were part of .NET Core 1.0.1 release to do some testing. It turns out this is harder than expected.  The best way we could come up with was to use the information in dotnet/versions to figu

[2018-05-15 21:14] maririos opened #166 "As a dev, I know official/orchestrated dev builds won't try to index symbols, avoiding the extra load on storage space"
@dagood commented on [Tue Nov 08 2016](https://github.com/dotnet/core-eng/issues/90)

There is no need for dev builds to index its symbols to a symbol server: symbol packages are available, and dev builds are not intended for wide use. Indexing uses up storage space and makes the build take longer, so actively cutting it out of the build for dev builds would help.

This is related to the work to a

[2018-05-15 21:14] markwilkie commented on #165
This is now handled as part of #73

[2018-05-15 21:14] #165 closed

[2018-05-15 21:15] maririos opened #167 "As a product owner, my official build verifies symbol packages are complete"
@dagood commented on [Fri Dec 09 2016](https://github.com/dotnet/core-eng/issues/247)

Similar to verifying that packages are signed before publishing them, packages should be verified to have complete symbol packages.

Without this implemented, the worst case scenario (which has happened at least twice) is that a symbol package contains incomplete info or doesn't exist for a package that's releas

[2018-05-15 21:20] maririos opened #168 "Maestro ought to set a tag in the 'source' repo when it commits a PR in a 'target' repo"
@danmosemsft commented on [Fri Feb 23 2018](https://github.com/dotnet/core-eng/issues/2748)

It would be handy if Maestro set tags for the version of a branch that most recently got ingested.

For example when Maestro commits an update of CoreFX to CoreCLR, it could move forward a tag in CoreFX named like "coreclr".

That would let devs
* Pick it from the dropdown on the homepage of each repo, or

[2018-05-15 21:21] maririos opened #169 "MC: Hovering over repository nodes in prodcon builds makes UI jump around"
@mmitche commented on [Tue Mar 20 2018](https://github.com/dotnet/core-eng/issues/2942)

In Chrome

1. Go to prodcon UI
2. Scroll to bottom of page
3. Hover over box in Orchestrator/CoreCLR, etc.
4. UI jumps up, then back down, then up, then back down...etc.

---

@dagood commented on [Thu Mar 22 2018](https://github.com/dotnet/core-eng/issues/2942#issuecomment-375029805)

(Edit: After discussing

[2018-05-15 21:23] maririos opened #170 ".NET Core Product Construction 2.0 Plan"
@mmitche commented on [Fri Mar 23 2018](https://github.com/dotnet/core-eng/issues/3001)

---

@mmitche commented on [Fri Mar 23 2018](https://github.com/dotnet/core-eng/issues/3001#issuecomment-375746603)

There is a design for product construction 2.0

---

@mmitche commented on [Wed Apr 04 2018](https://github.com/dotnet/core-eng/issues/3001#issuecomment-378652688)

Sections completed in draft:

[2018-05-15 21:30] markwilkie commented on #136
@tmat to propose the right next step to resolve this.

[2018-05-15 21:34] maririos opened #171 "[Darc] Add support for a full Prodcon build with a CHK runtime"
@Chrisboh commented on [Wed Mar 28 2018](https://github.com/dotnet/core-eng/issues/3062)

CoreCLR would like to be able to produce a full prodcon build that has just the runtime built as chk.  This way as the full stack does their testing they will get better test coverage.

---

@Chrisboh commented on [Thu Apr 12 2018](https://github.com/dotnet/core-eng/issues/3062#issuecomment-380938647)

@chris

[2018-05-15 21:35] maririos commented on #171
This might be covered by the Speculative Product Build

[2018-05-15 21:36] maririos opened #172 "As a developer doing integration testing I can easily access the latest product and test binaries and symbols for dotnet repos"
@schaabs commented on [Tue Dec 13 2016](https://github.com/dotnet/core-eng/issues/264)

Currently to perform integrated stress testing of corefx and coreclr we rely on a powershell script which pulls down product binaries, test binaries and symbols for both corefx and coreclr created from repo specific builds using drop.exe.  However, currently this scripting is very fragile as it depends on many

[2018-05-15 21:51] dagood opened #173 "Automatic post-build symbol availability validation"
@dagood commented on [Tue May 15 2018](https://github.com/dotnet/core-eng/issues/3491)

Validate that the symbols made it to the official public symbol server endpoint after each build.

per @mikem8361 : build a tool using the Microsoft.SymbolStore support from the symstore repo/feed https://github.com/dotnet/symstore that index and verify PDB and DLLs are on any symbol server.

[2018-05-15 21:52] dagood commented on #167
Moved over the core-eng 2448 mentioned in my last comment to https://github.com/dotnet/arcade/issues/173

[2018-05-16 16:11] maririos opened #174 "Ensure Joc's org has access to Repro OSX machines and add Dimitry's org to the list too"
We've had some instances of people that are inside Joc's org that still can access the OSX repro machines, so worth to validate this information with DDIT.

Also, we would like to add Dimitry's org too to the list as they are starting to use our services too.

FYI @ilyas1974

[2018-05-16 16:14] #174 closed

[2018-05-16 16:14] maririos commented on #174
Issue moved to [dotnet/core-eng #3497](https://github.com/dotnet/core-eng/issues/3497) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-16 16:15] maririos commented on #174
Wrong repo :|

[2018-05-16 20:43] JohnTortugo opened #176 "Implement the correct dependency chaining for the Versioning Task"
This issue originated from conversation here: https://github.com/dotnet/arcade/pull/137#discussion_r188746398

This issue relates to finding an appropriate way for "Arcade-using" repos, and Arcade itself, use the format string generation target [Microsoft.DotNet.Build.Tasks.Versioning](https://github.com/dotnet/arcade/pull/137)

Mentioned options include:

Also, we need might we need to have Nuget

[2018-05-21 20:10] joperezr opened #183 "Port ApiCompat.exe tool from Buildtools"
In order to be able to move corefx repo to Arcade, we will need to port the ApiCompat tool since it is needed for building. The source that needs to get ported lives [here](https://github.com/dotnet/buildtools/tree/master/src/ApiCompat). We will also need to port the ApiCompat targets which lives here: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/A

[2018-05-21 20:54] joperezr opened #184 "Port GenApi tool from buildtools over to Arcade"
In order to be able to move corefx to Arcade, we will need to port the GenApi tool located [here](https://github.com/dotnet/buildtools/tree/master/src/GenAPI). The reason why we need it is because in corefx we still use this tool in order to generate the turd assemblies. We will also need to port the notsupported targets which are here: https://github.com/dotnet/buildtools/blob/73b3eddfb9bcc024830

[2018-05-21 21:06] joperezr opened #185 "Port GenFacades.exe from buildtools to Arcade"
We need to port GenFacades.exe over from buildtools in order to onboard Arcade on corefx. [GenFacades](https://github.com/dotnet/buildtools/tree/master/src/GenFacades) is heavily used today in corefx in order to generate typeforward assemblies. It is worth noting that GenFacades use CCI and specifically [CCI Extensions](https://github.com/dotnet/buildtools/tree/master/src/Microsoft.Cci.Extensions)

[2018-05-21 21:13] tmat commented on #185
Is anyone working on rewriting GenFacades to generate C# code that gets passed to CSC, instead of using CCI?

[2018-05-21 21:41] joperezr commented on #185
I don't think that is absolutely required as part of this, but that would be great if it is not to hard to do, that way we could stop requiring CCI Extensions and our PDB story for portable would be easier.

[2018-05-21 21:55] joperezr opened #187 "Port xunit.console.netcore.exe to Arcade"
Another piece that needs to be ported to Arcade in order to be able to onboard it with corefx is xunit.console.netcore.exe. That is the tool we use to run all of our .NET Core tests and UAPAOT tests on corefx repo. Here are the targets that need to be ported along with it: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets

[2018-05-21 21:59] alexperovich commented on #187
Do we even need a custom build of xunit.console now? If we still do we should look into getting whatever changes we need merged into xunit so we don't need to maintain a custom copy.

[2018-05-21 22:02] joperezr opened #188 "Port UAP test runner and launcher from buildtools"
In order to move corefx into Arcade, we will need to port the UAP [runner](https://github.com/dotnet/buildtools/tree/master/src/xunit.runner.uap) and [launcher](https://github.com/dotnet/buildtools/tree/master/src/WindowsStoreAppLauncher) from buildtools. These two things are required when building and testing the UAP vertical.

[2018-05-21 22:04] joperezr commented on #187
I think that we can definitely remove some chunks of our runner, but we would still want to keep a wrapper above it that has some additional parameters and functions specific to our repos. That analysis should be done as part of fixing this issue.

[2018-05-21 22:55] weshaggard commented on #185
That is definitely something I'd like to do because I want to remove this rewriter but it isn't clear when we will tackle it yet.

[2018-05-21 23:10] joperezr commented on #187
It is worth noting that as part of this, [xunit.netcore.extensions](https://github.com/dotnet/buildtools/tree/master/src/xunit.netcore.extensions) will have to be ported as well.

[2018-05-21 23:34] jcagme opened #190 "Darc one pager"
@jcagme commented on [Mon May 21 2018](https://github.com/dotnet/core-eng/issues/3526)

After reviewing the VersionQueryingAndUpdating.md (not yet merged) we can now focus on Darc which will be the primary driver of any update of files under the eng\ folder.

Darc also can perform git operations (commit, push, request-pull, etc) to make other repos get an update. The one pager has to be very expli

[2018-05-22 00:01] jaredpar commented on #187
@joperezr have you all looked at moving to the coreclr xunit runner? Roslyn used to depend on this package as well but it was pretty easy to migrate over to the new runner. Only mention because it's one place where it may be easier to migrate vs. putting the deprecated piece on arcade.

[2018-05-22 11:30] kasper3 opened #191 "CodeCoverage comment in PRs"
Some repos has http://codecov.io service configured to get stats comment in PR like:

![image](https://user-images.githubusercontent.com/33230602/40359475-8f90fa72-5dcb-11e8-9108-ab42d3447863.png)

It runs code coverage job after the build is successfully completed.

If we add more commits to PR, amend or even force push the existing commits, it updates the comment in place (to reduce chat noise).

[2018-05-22 13:28] sharwell commented on #191
Let me know if you have any questions while trying to integrate this. 😄

[2018-05-22 17:40] joperezr commented on #187
I believe that is what @alexperovich was suggesting. Part of the work covered by this issue will be to see if we can use our xunit extensions over the xunit that comes with the CLI so that we could deprecate the runner and just mantain the custom extensions.

[2018-05-22 21:19] markwilkie commented on #136
@tmat is working on this.  Source-Link uses the same library....

[2018-05-22 21:21] markwilkie commented on #166
We should index every build - CI included.  (but not PR)

[2018-05-22 21:21] #166 closed

[2018-05-22 21:29] tmat commented on #191
Support for Portable PDBs: https://github.com/OpenCover/opencover/pull/814

[2018-05-23 22:14] #153 closed

[2018-05-24 00:26] weshaggard commented on #176
I don't think this one will be solved by darc/maestro. This is talking about how to hook in the versioning targets into the build pipeline.

[2018-05-24 00:40] weshaggard commented on #168
I don't think this is really an issue with prodconv2 as we are going to be having the sha of all the dependencies checked into the repos so folks can track down the correct sources if they need to.

[2018-05-24 16:45] #128 closed

[2018-05-24 20:47] maririos opened #199 "Product construction post-build failures should report on Mission Control"
@mmitche commented on [Thu Feb 01 2018](https://github.com/dotnet/core-eng/issues/2563)

Today we have a build mail that goes out when there is a post-build failure in product construction (signing/final publish). Ideally this would  be a mission control item.

This should be relatively straightforward but has some subtlety.  In order to report on Mission Control, we need the product build id.  Th

[2018-05-29 17:11] ericstj opened #204 "Source file pre-processing"
I've found myself numerous times needing to do some simple source preprocessing.

I'll often resort to readlinesfromfile|File.readalltext/writelinestofile with a few replacements.  This type of hack is an abomination.  We should have a general purpose text pre-processing task at the least.  Ideally we do that and define some item/target semantics for doing something with the preprocessed item.

/c

[2018-05-29 22:40] alexperovich opened #206 "Create Maestro++ prototype"
Requirements:
* Update arcade dependencies from arcade
* Only daily trigger
* PR is manually merged

[2018-05-30 18:49] jcagme opened #209 "Implement initial Darc functions so Maestro++ can consume it for prototyping purposes"
Maestro++ will consume Darc for version related operations and for PR creation. At first, we'll just focus in a prototype where Maestro++ executes basic functions using Darc. This will be the initial implementation for Darc and should include:

- [x] Get latest version of an asset
- [x] Get all the assets which depend on an asset
- [x] Get all the dependencies of an asset
- [ ] Create remote PRs

[2018-05-30 21:10] mmitche opened #210 "Create build definition to mirror from github to internal projects"
Create a build definition to mirror from github repos to internal dotnet.visualstudio.com repos, triggered by maestro (as it does for devdiv.visualstudio.com repos today)

[2018-05-30 21:10] mmitche commented on #210
/cc @chcosta

[2018-05-30 21:12] natemcmaster commented on #210
cc @ryanbrandenburg

[2018-05-30 23:22] alexperovich opened #211 "Create Build Asset Registry spec"

[2018-05-31 17:45] maririos opened #212 "Determine which package/file to use for Prototype"
An Official Build for Arcade happens that i.e. creates XX package with vXY.
=> Define package XX

[2018-05-31 17:46] maririos opened #213 "Implement API to access the Build Asset Registry"

[2018-05-31 17:47] maririos opened #214 "[Darc] Interaction with the Reporting Store"

[2018-05-31 17:47] maririos opened #215 "[Darc] Push to more than one repo"
Implement the functionality to be able to push changes to more than one repository. This means define and write logic to validate the RepoFile.xml and be able to do darc push -r "E:\RepoFile.xml" -t <GitHub Token>

[2018-05-31 17:48] maririos opened #216 "[Maestro++] Implement Channel subscription mechanism to Arcade"
This involves:
- Evaluate if the current model (manage the subscriptions in a repository with a JSON file) is sufficient.
- Have the subscriptions in the Arcade repository.

[2018-05-31 17:49] maririos opened #217 "[Maestro++] Implement the ability to set policies."
For triggers, PR and auto-merge management.

[2018-05-31 17:49] maririos opened #218 "[Darc] Local work for Darc"
Make sure a dev can use Darc locally to update the dependencies of the repo, and other repos too.

[2018-05-31 17:50] maririos opened #219 "On board other repositories to use Darc and Maestro++ for their official builds."
It involves:
- Add the repositories to the Maestro++ subscriptions mechanism.
- Set Maestro++ policies for each repository.
- Builds send information to the Reporting Store using the API to report on the assests produced, the location, and other Build information.

[2018-05-31 18:28] maririos opened #220 "Desing the view in Mission Control to see the status of the Product"
We need to be able to see the status of the Build, other information of the build like the number, the sha, the repository and branch it comes from.
We also need to be able to see the assets created by the Build and the location of those assets.

[2018-06-01 16:46] #8 closed

[2018-06-01 21:13] maririos commented on #211
New proposed name "Product Dependencies Store" :)

[2018-06-05 15:09] markwilkie commented on #85
This is not really emerging as a "thing".  Rather, the work is currently being tracked under the prodcon v2 epic.  If needed in the future, we'll create a new epic.

[2018-06-05 15:09] #85 closed

[2018-06-05 15:27] markwilkie commented on #152
Given that we don't have a specific problem that needs fixing right now, nor is there really any actionable plan, I'm closing this issue.  We've got MUCH on our plate, and if (when...grin) this comes back, we'll have more clarity on the scenario to fix.

[2018-06-05 15:27] #152 closed

[2018-06-05 15:28] markwilkie commented on #168
As @weshaggard pointed out, V2 makes this no longer relevant.

[2018-06-05 15:28] #168 closed

[2018-06-05 15:40] markwilkie opened #225 "Define Arcade SDK"
Define the initial Arcade SDK.  This will be in two parts:
1) Core scripts
2) Core packages

[2018-06-05 15:43] markwilkie opened #226 "Signing Package Ready for Consumption"
A signing package is needed that can be consumed by participating repos to sign their packages.

This epic is considered complete when:
- [x] The signing package is defined and spec'd
- [x] The package is building and publishing
- [x] The package is adopted by Arcade and samples

[2018-06-05 15:44] markwilkie opened #227 "Detect tools already installed as part of bootstrapping"
Especially for the dev experience, the arcade bootstrapping should not re-install a tool if already installed.

[2018-06-05 15:45] markwilkie commented on #227
dup of #141

[2018-06-05 15:45] #227 closed

[2018-06-05 15:49] markwilkie opened #228 "Move Repos to Azure DevOps"
All repos part of .Net Core must be moved to Azure DevOps.

- [x]  Repos that need to move are identified
- [x]  Plan with schedule is published
- [x]  Tier 1 repos are moved AND building for CI
- [x]  Tier 1 repos are moved AND building internal builds

Status - https://github.com/dotnet/arcade/blob/master/Documentation/NetCore3EngineeringRepoStatus.md

[2018-06-05 15:51] markwilkie opened #229 "Crash Dump package"
Understand what's needed for crash dumps.  Start w/ Drew and Dumpling...

Then, implement shared package building in arcade.

[2018-06-05 17:45] chcosta commented on #155
Can you add a link to the thing(s) that are actually in PR for this issue?

[2018-06-05 20:01] maririos commented on #155
PR: https://github.com/dotnet/arcade/pull/224

[2018-06-05 20:36] maririos commented on #121
Issues have been created under the Epic #74 which tracks the work needed for Darc and Maestro++ in order to flow dependencies.

[2018-06-05 20:36] #121 closed

[2018-06-05 21:35] markwilkie opened #231 "Create plan to move coreclr to VSTS"
CoreCLR has a very complete CI build definition in Jenkins.  A plan/approach needs to be created which describes what going to VSTS looks like.

[2018-06-06 22:44] #190 closed

[2018-06-07 17:36] #210 closed

[2018-06-07 20:43] maririos opened #236 "Make Source-build build status report in MC as a peer to prodcon builds"
@dleeapho commented on [Thu Mar 08 2018](https://github.com/dotnet/core-eng/issues/2863)

Part of https://github.com/dotnet/source-build/issues/145
As part of this we need to:
- standup a VSTS mirror (security best practice)
- implement a pipebuild rolling for source-build builds

---

@Chrisboh commented on [Thu May 31 2018](https://github.com/dotnet/core-eng/issues/2863#issuecomment-393663798)

[2018-06-07 21:32] chcosta opened #237 "Plan for versioning templates"
@mmitche and I were discussing what's the best way to consume repository templates in a versioned or semi-versioned format.  This came up because of a PR that @natemcmaster recently submitted where the question was [asked](https://github.com/aspnet/Common/pull/374#issuecomment-395513762).

We should document the guidance around this.  A couple of the ideas are

- tag template respository builds
-

[2018-06-08 19:15] dagood opened #239 "Include version stabilization parameters in ProdCon manifest"
Enables https://github.com/dotnet/source-build/issues/550: updating version stabilization settings to match what ProdCon used during the build. This will allow source-build output versions to match ProdCon's without the human investigation currently required.

What comes to mind for implementation:

 1. Have pipebuild pass the versioning properties into `DotNet-Orchestration-Push-Manifest` (the Pr

[2018-06-11 17:39] maririos commented on #212
We created a fake dependency in Arcade so that we could update Arcade using Maestro++ and Darc

[2018-06-11 17:39] #212 closed

[2018-06-11 17:44] maririos opened #246 "[Darc] VSTS REST APIs"
Currently Darc has the ability to create PRs in GitHub using the GitHub REST APIs.
Darc needs to do the same for VTSTS.

Documenation: https://docs.microsoft.com/en-us/rest/api/vsts/git/?view=vsts-rest-4.1

Considerations: Token manipulation for both endpoints. Whill the user/Maestro++ has to know the context of the repos in play so it provides the correct token?

@jcagme

[2018-06-12 17:28] #155 closed

[2018-06-12 17:30] #209 closed

[2018-06-12 17:55] #206 closed

[2018-06-12 23:47] alexperovich commented on #211
current working copy: https://github.com/alexperovich/arcade/blob/alperovi/reportingStorespec/Documentation/BuildAssetRegistry.md

[2018-06-13 18:03] joperezr commented on #69
As part of this, we should also make sure we add common SDK logic which will remove any package or framework references to the sdk package. Take a look at https://github.com/dotnet/arcade/pull/235#discussion_r194928462 form more info.

[2018-06-14 04:49] jcagme commented on #246
I'm done with some of the functions in VSTS. The things which are not ready are currently throwing `NotImplementedException` in the file `src\Microsoft.DotNet.Darc\src\DarcLib\Helpers\VstsClient.cs`

[2018-06-14 04:53] jcagme opened #258 "[Darc] Support delete for scripts in GitHub and VSTS"
Today we support propagating script changes including:

*  Adding a script which lives in arcade but not in the participating repo
*  Editing an existing script in a participating repo which is different from that in arcade

We are not checking if there is a file which is not in arcade but exists in a participating repo so we remote it from the last

[2018-06-14 15:14] dagood commented on #246
This should be implemented in VersionTools since it's not part of the prototype.

[2018-06-14 19:40] Anipik opened #259 "SDK version needs to be updated to 2.1.300"
Currently we are using ```2.1.100-preview-007366``` defined here https://github.com/dotnet/arcade/blob/master/global.json#L3 . It needs to be updated to ```2.1.300``` SDK version so that moving forward we can support net core 2.1 projects.

After updating the SDK, the ```TargetFramework``` Property in ```Microsoft.DotNet.GitSync.CommitManager.csproj``` should be changed to netcoreapp2.1

cc @eerha

[2018-06-15 17:55] maririos commented on #246
@dagood we started working on the VSTS side as part of the prototype, to see if it was possible to do the same thing we were doing in GitHub.

Once we clean the code and start working on V1, VersionTools sounds like the correct folder.

[2018-06-15 19:12] markwilkie opened #261 "Create SDK starter "box""
Jose has been working on moving a bunch of buildtools stuff over.  (https://github.com/dotnet/corefx/projects/3)  As part of this, we need to get the 'consumption' side of things sorted, and the 'sdk' is the first step.

[2018-06-15 21:37] alexperovich commented on #211
new link for working copy: https://github.com/alexperovich/arcade/blob/alperovi/reportingStorespec/Documentation/MaestroDataStore.md PTAL @maririos

[2018-06-15 22:34] morganbr commented on #44
Are you planning to use signtool for test signing or production signing? Production probably requires something else.

[2018-06-18 00:33] jaredpar commented on #44
@morganbr for test and production signing. It's already being used for both by a fairly large number of teams inside the organization. The tool itself doesn't actually do signing, it's just a wrapper for our signing process that adds extra validation, ability to validate signing consistency on developer machines, batching, and zip format support.

[2018-06-19 19:09] JohnTortugo opened #266 "Import Roslyn-tools SignTool into Arcade"

[2018-06-19 19:09] JohnTortugo opened #267 "Include Versioning Package into Arcade SDK"

[2018-06-19 22:32] weshaggard commented on #266
While porting over the signing stuff we will need to incorporate the aggregate of the strong names defined in:
https://github.com/dotnet/roslyn-tools/blob/0bce8ad78a0afe6d03e6ba95c3a9e9729cbc00c9/src/RepoToolset/tools/StrongName.targets
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/sign.targets

We should also figure out how to reconcile the need fo

[2018-06-21 00:00] JohnTortugo commented on #266
Just an update: as per talk with @maririos she told me that the SignTool conversion to MSBuild Task was discussed with @tmat and he agreed to it.

[2018-06-21 00:03] jaredpar commented on #266
@weshaggard

No particular reason. When I wrote SignTool originally it just fit better as an EXE into our build than a build task.

Don't have any objections to adding an MSBuild task but would prefer to keep the EXE. It's handy in a number of cases.

Still not sure what we should reconcile here. The only people objecting to a checked in file are those who haven't used the tool. There are no compl

[2018-06-21 00:50] alexperovich commented on #204
Are you thinking something like a simple key/value pair string replace of tokens like `__<key>__` in the file? Or something more complete like a handlebars/mustache template?

[2018-06-21 03:43] ericstj commented on #204
Simple key/value replacement is min bar but we could go bigger (like T4).

It needs to be simple to use, and ideally make sense when in VS as well for both template editing and output viewing.

It needs to be dynamic at build.

It needs to be batchable.

I think if you search for writelinestofile in a few of our repos you can come up with some scenarios.

[2018-06-21 15:30] weshaggard commented on #58
I'm fine if folks would like to manually maintain the file but I don't think it should be a requirement and I'm ok with the format I just want to enable an option to generate as part of the build instead of manually maintaining it.

[2018-06-21 15:31] weshaggard commented on #266
Lets continue this discussion in #58.

[2018-06-21 15:37] jaredpar commented on #58
I have another suggestion: please try this before you reject it. Literally the only people who want this option have not tried it. Why create deviations on the repositories based on a fear of a solution you haven't tried?

[2018-06-21 15:46] weshaggard commented on #58
We have tried it for many years in the TFS world and I worked extremely hard to eliminate maintaining this file list as part of our move to the open. Sorry but this is something I feel strongly about not having.

[2018-06-21 15:51] jaredpar commented on #58
Then the implementation is up to you. This is a case where CoreFx is going to deviate from the rest of the organization, without every trying the solution at all. Work and maintenance is on you.

Got to say though this is very disappointing to see. The point of arcade is to unify our solution, not deviate. Kicking off the effort by deviating before trying is not a good start.

[2018-06-21 15:53] weshaggard commented on #58
Why is it that you guys don't want to try the approach that both core and aspnet are already using?

[2018-06-21 16:13] jaredpar commented on #58
It doesn't meet the needs of our repositories:

- Declarative: need to understand the full set of artifacts that we sign. Having it be implicit has lead to numerous build authoring errors over the years. Making it declarative has eliminated those entirely.
- Local verification: developers need to be able to verify locally that signing is consistent.
- Batch processing: a must for us to meet our th

[2018-06-21 16:23] rainersigwald commented on #266
Note that you can load a task from any managed assembly, even a `.exe`, so one could conceivably just add a class to the existing executable and load it from there to keep both.

[2018-06-21 17:52] JohnTortugo commented on #266
@weshaggard & @jaredpar after @rainersigwald comment, do you agree to keep the .exe and create a MSBuild target to wrap it? If so, I could start moving this into Arcade.

[2018-06-21 17:57] weshaggard commented on #266
I don't know enough about how it is currently implemented to say if that is the best option or not. I do agree that as much of the logic as possible should be shared. One challenge you will likely have keeping it only as an exe is that we will need a task library that can be loaded into .NET Core msbuild and exe's are generally .NET Framework and cannot be loaded in .NET Core because of their depe

[2018-06-21 18:55] maririos opened #272 "[Signing] Aggregate of strong names in SignTool"
- [ ] Incorporate the aggregate of the strong names defined in:
  - [ ] https://github.com/dotnet/roslyn-tools/blob/0bce8ad78a0afe6d03e6ba95c3a9e9729cbc00c9/src/RepoToolset/tools/StrongName.targets
  - [ ] https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/sign.targets

- [ ] Update SignTool documentation with the list of supported sn / certificates

[2018-06-21 18:59] maririos opened #273 "Convert or not convert the signtool to a msbuild task"
Goal:  Logic as possible should be shared

Possibilities:
1. **Convert the signtool to an msbuild task instead of a separate exe**
It already has to depend on msbuild see (https://github.com/dotnet/roslyn-tools/blob/0bce8ad78a0afe6d03e6ba95c3a9e9729cbc00c9/src/RepoToolset/tools/Sign.proj#L36)
At a min we ensure we don't require VS and the version of msbuild that comes with it like is currently hap

[2018-06-21 19:01] maririos commented on #266
I created issue https://github.com/dotnet/arcade/issues/273 to use it for the discussion about convert or not convert the signtool to an msbuild task. Once that is clear, we can proceed on the implementation.

[2018-06-21 19:02] maririos commented on #266
Also, created issue https://github.com/dotnet/arcade/issues/272 for the strong names work.

Note that all of the issues are now in the Signing Package Ready for Consumption epic

[2018-06-21 19:25] JohnTortugo commented on #273
I was able to build the SignTool targeting net461 and netcoreapp2.0. I'll try to add a MSBuild task to the package and test it. With that we would be able to keep the .exe and the .net core DLL.

What do you guys think?

[2018-06-21 21:02] maririos opened #274 "[Testing - Helix] Provide arcade/buildtools updates that allow using SAS instead of storage key / connection string for uploading payloads."
@MattGal commented on [Wed Apr 25 2018](https://github.com/dotnet/core-eng/issues/3374)

Cut off of https://github.com/dotnet/core-eng/issues/2914:

---

@maririos commented on [Thu Jun 21 2018](https://github.com/dotnet/core-eng/issues/3374#issuecomment-399233677)

@maririos move this to arcade

[2018-06-21 21:03] maririos opened #275 "Version VSTS YAML"
@chcosta commented on [Thu Jun 07 2018](https://github.com/dotnet/core-eng/issues/3643)

We have a dependency on the config as code (YAML) changes which VSTS provides via the build agent.  I believe, that the only way to lock the version is via not taking an update the build agent on a build machine.

We should document how we intend to handle this for servicing, and also follow up with VSTS on wh

[2018-06-21 23:45] markwilkie commented on #58
To update this thread, @jaredpar, @weshaggard, and I have agreed on the following requirements.  @maririos - please be sure and add these to the overall signtool requirement doc which is being created.

-	Signtool will (batch) sign from a manifest (list of files)
-	This manifest can be checked in  (explicit)
-	This manifest can be generated during the build  (implicit)

[2018-06-22 00:31] tmat commented on #273
Although it might be nice to have a build task that implements signing this instead of an .exe, I think we more important things to spend time on than converting .exe to a build task. The current sign tool implementation works fine in more than 20 repos. I don't see a point in changing it at this point. In future, we can certainly improve on it.

[2018-06-22 00:33] tmat commented on #272
Please, send a PR to RepoToolset that adds the missing keys to StrongName.targets.

[2018-06-22 15:27] weshaggard commented on #58
I like the idea of signing validation during both CI (currently don't do in corefx) and Official Builds (we do this) but I don't believe that requires a checked in file list it just requires the list of what we consider shipping bits, as you put it. That list is easily gathered from our builds today based on the project metadata. From there we can verify that all the files in our containers (msi's

[2018-06-22 15:33] weshaggard commented on #273
One of our goals is to eliminate our need for depending on VS during our builds and as such we need a tool that can run against the dotnet cli msbuild which today the signtool exe cannot do because it requires the msbuild installed with VS. So unless I'm missing something that will block that goal so I tend to disagree about the priority of moving this to a build task that can be consumed like eve

[2018-06-22 15:39] jaredpar commented on #273
To be specific: it requires a desktop MSBuild installation. There is no VS requirement in signtool.

This requirement though is pretty thin. At one point @tmat sent a PR to make it work with `CLI` and we just didn't really have a use case for it at the time. Making that work though is a pretty trivial effort.

That being said I don't really care if it's an MSBuild Task + EXE. That's also a small a

[2018-06-22 15:40] markwilkie commented on #273
lol

[2018-06-22 16:49] maririos commented on #273
Looks like option 3 it is => Convert but leave the EXE.
We'll try this approach and report if there are concerns/problems during the process that might affect the decision

[2018-06-22 17:01] tmat commented on #58
Why are `.requires_signing` files needed? As I pointed out the set of files that need to be signed is given by the content of packages (NuGet, VSIX, etc.) that the repo produces.

If each project that produces a shipping package outputs that package to an artifacts directory dedicated for shipping packages, while non-shipping packages are placed to a different directory, then the requirement is th

[2018-06-22 17:04] tmat commented on #273
Sounds good.

[2018-06-22 17:18] tmat commented on #273
Actually, I take it back. I think there is some confusion about this tool that needs to be clarified:

The tool is used by RepoToolset in repos that do not have desktop msbuild dependency (or VS dependency), such as SymReader. The entire SymReader build runs fine on a clean machine.

How does signing work in that case? The signing tool has 2 modes - validation-only mode and real signing mode. The

[2018-06-22 17:42] markwilkie commented on #58
@tmat - I like the fact that you had a good suggestion as to how further unification might be accomplished.  However, at the end of the day, I think this is an area where we can leave the decision up to the repo owner regarding if it's explicit or implicit.  The point of convergence is that the regardless the path - there's still a "manifest" of what should have got signed.

Is there something spe

[2018-06-22 17:53] tmat commented on #58
I don't think we disagree on the above bullet points. I'm just saying that if we structure the package output directory based on whether package is shipping or not we won't need the explicit manifest, nor we would need extra ".requires_signing" files. At that point I don't see why we wouldn't use implicit one in all repos.

I'm currently working on incorporating the package shipping/non-shipping c

[2018-06-22 17:56] markwilkie commented on #58
I see @tmat.  So you're saying that as part of the publishing work you're doing in repotoolset could potentially be used to determine what needs to be signed?

[2018-06-22 17:56] tmat commented on #58
Exactly.

[2018-06-22 18:36] weshaggard commented on #58
That is exactly what do today for our shipping packages and how we gather them to publish and validate. However one key missing piece of data is figuring out what strong name and certificate to use for a given binary. The certificate is generally the same but the strong name varies. If we can figure out a way to get all the necessary information (perhaps we could crack open the files and read the

[2018-06-22 18:48] tmat commented on #58
I think that's a good idea. Let's try to read the strong name from the metadata.

Absolutely. I believe the signtool has this built-in already. It calculates checksum of each artifacts to see if it matches the file that was listed in the .json.

[2018-06-25 15:59] jaredpar commented on #58
@tmat

Indeed this is the case. The tool itself primarily operates on checksums of artifacts for identity. The only time names are used is when printing out error messages to developers.

[2018-06-26 17:47] mmitche opened #281 "Create VSTS onboarding script"
Create a simple script to help with VSTS onboarding.  At the very least, the script should:

- Add required webhooks for repo mirroring
- Add mirror repo
- Add folders.

[2018-06-26 17:48] mmitche commented on #281
May be blocked on a REST API issue with VSTS.  Waiting on info.

[2018-06-26 17:50] mmitche opened #282 "Bring your own cloud prototyping"
The bring your own cloud test instance is now available on VSTS.  It's likely buggy. Attempt to get something working on it.

[2018-06-26 18:09] JohnTortugo commented on #267
Waiting for the initial work on the SDK to be done.

[2018-06-27 15:09] mmitche commented on #273
@tmat The Microbuild signing plugin will be getting Linux/Mac support, so I don't think any decisions should be made based on assuming there will be a desktop MSBuild installation.

[2018-06-27 20:38] #266 closed

[2018-06-27 21:53] alexperovich commented on #117
@tmat @jaredpar I have updated the title and description. I think this should be added to the sdk as an opt-in/out allowing repos to choose. My biggest argument for this is it simplifies the project files, and doesn't require PR reviewers to catch mistakes.

[2018-06-27 22:07] tmat commented on #117
@alexperovich Yes, I agree that it would be good to have eventually. I would not add it at this point to the toolset though. The msbuild repo, which is also on RepoToolset, is currently switching to central package versions, so let's wait to see how well it works there. We can then adopt it in other repos and make it the standard.

[2018-06-27 22:59] alexperovich opened #288 "[Signing] Change SignToolData.json file into a better format that merges well."
Currently the SignToolData file is a json file which causes merge conflicts when 2 devs add lines due to no trailing commas allowed in json. We should think about changing the format to something like yaml that will merge cleanly when multiple people add lines.

[2018-06-28 16:36] weshaggard commented on #273
@tmat do you know if there exists any tools to take our file list which is currently an msbuild item group and convert them to the signtooldata.json file that the signtool currently expects?

If not I'd like to avoid writing that throw away code and instead just move it to taking the list as an item group from msbuild and get us closer to where we want to be.

[2018-06-28 17:02] chcosta opened #291 "Identify .NET Core repos that need to move to VSTS"
- [ ] [MSBuild](https://app.zenhub.com/dotnet/arcade/issues/3770)
- [ ] [Templating](https://app.zenhub.com/dotnet/arcade/issues/3771)
- [ ] [WebSdk](https://app.zenhub.com/dotnet/arcade/issues/3772)
- [ ] [AspNet Universe](https://app.zenhub.com/dotnet/arcade/issues/3773)
- [ ] [Visual FSharp](https://app.zenhub.com/dotnet/arcade/issues/3774)
- [ ] [Roslyn](https://app.zenhub.com/dotnet/arcade/is

[2018-06-28 17:04] #291 closed

[2018-06-28 17:04] chcosta commented on #291
Issue moved to [dotnet/core-eng #3788](https://github.com/dotnet/core-eng/issues/3788) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-28 18:07] JohnTortugo opened #292 "Include SignTool Package into Arcade SDK"

[2018-06-28 20:14] eerhardt commented on #259
Fixed by #278

[2018-06-28 20:14] #259 closed

[2018-06-28 23:09] weshaggard commented on #273
Perhaps the full file list will not be needed but a list of containers (msi, nupkg, vsix) or a least a directory that has those needs to be passed in. If we have a way to pass that in that doesn't require us to generate the signdatatool.json then I can live with this not being an msbuild task right now.

[2018-06-28 23:18] tmat commented on #273
Yup, having a parameter that takes a list of containers would be reasonable.

[2018-06-28 23:58] #211 closed, assigned to alexperovich

[2018-06-29 01:22] maririos opened #294 "[Signing] Provide validation to guarantee that all assets that need signing are going to be signed"

[2018-06-29 01:22] maririos opened #295 "[Signing] Provide a way to verify that the binaries that needed to be signed, were actually signed"
Cc: @jaredpar @tmat @weshaggard

[2018-06-29 16:58] #246 closed

[2018-06-29 17:00] jcagme opened #296 "Prep Darc prototype code for master merge"
At this point we've shown the prototype to several folks and got good feedback on the scenarios we showcased. Now that the VSTS side of the work is completed we need to clean the code where possible and send an official PR so it is merged into master

[2018-06-29 18:39] jcagme opened #297 "Arcade.sdk write up"
The actual SDK is close to be completed but there is no doc specifying:

*  Scope
*  What is contained in the SDK
*  Which packages/projects should be included in the SDK and which should be independent
*  What is referenced by default vs. not default by a consuming product

We need an MD that folks can use as a reference when writing tooling projects so the know whether it should be part of the S

[2018-06-29 22:30] JohnTortugo opened #298 "Which packages should be included in Arcade?"
So far we have and are working on these packages:

- [x] SignTool - This is a batch signing and verification tool for Microbuild environments.
- [x] Helix (SDK, Client and JobSender)
- [x] GitSync  - Ports commits from one github repository to other.
- [x] Packaging - Task package which handle building projects with the extension pkgproj.
- [x] Feed - Task package which handles uploading files to

[2018-07-03 16:54] JohnTortugo commented on #261
@alexperovich I think you merged the PR for this, right?

[2018-07-05 18:08] #261 closed

[2018-07-05 18:09] #44 closed

[2018-07-05 20:50] Anipik opened #302 "Change TargetFramework For Microsoft.DotNet.GitSync.csproj to Netcoreapp"
Currently we are using WindowsAzure.Storage package for the storage table Queries.
Some of the query apis  are not available for .NetCore.
So we will have to rewrite these queries using the apis available in .NetCore

cc @danmosemsft @safern

[2018-07-09 18:06] maririos commented on #272
From @weshaggard recommendation:
However one key missing piece of data is figuring out what strong name and certificate to use for a given binary. The certificate is generally the same but the strong name varies. If we can figure out a way to get all the necessary information (perhaps we could crack open the files and read the public key token to figure out the strong name) then I'm all for elimin

[2018-07-09 22:26] weshaggard opened #304 "CredentialManagement failing to restore"
My build of arcade has been failing all day with a timeout trying to restore credentialmanagement package from nuget.org. This may be a nuget issue but I've not seen it hit CI in arcade and was wondering other folks are hitting this. It only seems to fail for this one package for me and every time I've tried which has been about 10 over the last couple of hours.

[code]

[2018-07-09 23:30] weshaggard commented on #304
This is now working for me. Not sure if it was just an intermediate nuget issue or something else but it no longer repros so closing

[2018-07-09 23:30] #304 closed

[2018-07-10 17:34] maririos opened #306 "Arcade repo not getting mirror to VSTS"
@maririos commented on [Mon Jul 09 2018](https://github.com/dotnet/core-eng/issues/3850)

Problem: there’s a point in time where the file existed as both NuGet.config and NuGet.Config.  Giuthub doesn't care but VSTS enforces that pushed files differ in more than case.

Recommendation from Kevin David:
As long as you’ve fixed the conflicts at all branch tips, the best approach we’ve found, generall

[2018-07-10 18:01] JohnTortugo commented on #267
Since we decided to use the Versioning logic that is already in the SDK this issue doesn't make sense anymore.

[2018-07-10 18:01] #267 closed

[2018-07-10 19:15] JohnTortugo opened #307 "[Feed package] Patch Tasks.Feed to use the global version of Newtonsoft.Json"
Currently Microsoft.DotNet.Build.Tasks.Feed uses SleetLib 2.2.24 which requires Newtonsoft.Json >= 10.0. The SignTool task depends on Newtonsoft.Json 9.0.1 because it's the version used by MSBuild.

We need to make SignTool be able to use a newer version of the Json lib or patch Tasks.Feed to be able an older version of SleedLib+Newtonsoft.Json.

[2018-07-10 20:31] #281 closed

[2018-07-11 00:24] JohnTortugo opened #308 "[Versioning] How we allow different systems to generate custom build number"
This issue was spun after this discussion https://github.com/dotnet/arcade/pull/305#pullrequestreview-135923587. Part of it is copied below:

Basically, we need to agree and implement a way to support different systems to generate custom build numbers.

@weshaggard
In order for this () to work for FileVersion we are going to have to do some slightly different number calculations, similar to what w

[2018-07-11 00:28] JohnTortugo opened #309 "Refactoring for the Arcade SDK"
- [x] Make sure that PB_ environment variables aren't being misused as properties
- [x] Replace usages of "OfficialBuild == true" by OfficialBuildId != ''
- [x] Rename CIBuild property to ContinuousIntegrationBuild
- [x] something else?

Cc' @weshaggard @tmat @alexperovich

[2018-07-11 01:16] jasonmalinowski commented on #308
Only thing I'll chime in for: for Roslyn version algorithm (and things that copied it), there's no reason we can't change it to something else, at least in our Dev16 branches. Going "backwards" is fine since we'll be revving the major versions.

[2018-07-11 17:20] weshaggard opened #310 "Add support for automatically creating merge PR's across branches to mirror changes"
Aspnet has a build definition and a script they use to automate keeping branches in-sync (see https://github.com/aspnet/BuildTools/pull/703) other repo's need this support as well so we should figure out how to integrate this support into arcade.

cc @natemcmaster

[2018-07-11 17:32] tmat commented on #310
Shouldn't this be done by darc?

[2018-07-11 17:34] weshaggard commented on #310
Perhaps it could be done by darc but I don't think mirroring changes across branches is currently on it's feature list.

[2018-07-11 18:13] JohnTortugo opened #311 "[Signing] Make Arcade use Arcade SDK SignTool to sign its packages"

[2018-07-11 20:33] maririos commented on #105
@jcagme this will be covered by Maestro++, right?

[2018-07-11 20:38] alexperovich commented on #105
This is more like creating package feeds, but npm rather than nuget. The task here is creating "blob" feeds for npm packages and a way to publish package to them.

[2018-07-11 20:41] jcagme commented on #105
Yeah I think Alex is correct. Maestro would update the dependency of a npm package only (like the version for example) then something like 'sync.cmd' would know that a npm package has to be restored from 'foo' feed.

[2018-07-11 21:34] JohnTortugo opened #312 "Update global.json with latest packages"
Since Maestro/Dark isn't fully functional yet we need to manually update global.json to use the latest SDK version so we will be able to use the changes to SDK->SignTool & SDK->Versioning.

CC: @maririos @alexperovich

[2018-07-11 21:34] maririos commented on #105
thanks for the clarification guys!

[2018-07-11 21:47] chcosta commented on #306
Thanks,
Chris

[2018-07-11 21:47] #306 closed

[2018-07-11 22:56] jcagme commented on #298
I'm expecting a close to final list of packages to be included in the SDK to be determined during the review of https://github.com/dotnet/arcade/pull/313 which then we can use to update the list in this here and unblock the documentation issue :)

[2018-07-11 22:56] maririos opened #314 "Roadmap for Core set of shared packages"
It could be by phases, so define phases, which ones where, when and what do we need for people to start consuming them

[2018-07-12 00:08] jcagme opened #316 "Add PB_ variables for versioning to the SDK"
From @tmat

" We have a couple variables related to versioning: PB_IsStable and PB_VersionStamp.

We need better names for these and make them first class concepts in the Arcade SDK.
So far, I have been treating PB_ variables mostly as temporary hacks for ProdCon v1.

So let’s use this opportunity to clarify and update https://github.com/dotnet/arcade/blob/master/Documentation/Versioning.md to def

[2018-07-12 18:24] alexperovich opened #319 "Create initial Build Asset registry implementation"
@alexperovich commented on [Mon Jul 02 2018](https://github.com/dotnet/core-eng/issues/3813)

@jcagme the initial framework is here: https://github.com/alexperovich/arcade/tree/alperovi/svcFabMaestro/src/Maestro

[2018-07-12 20:23] nguerrera opened #320 "Reconsider requiring global.json to specify the SDK version"
See the earlier thread on this: https://github.com/dotnet/corefx/pull/30919#discussion_r202081218

Continuing the discussion here. I won't repeat all of my thoughts, but here's a quick summary:

As long as global.json sdk specification behaves as it does today (*), I believe it is detrimental to use this same field as the toolset that build.cmd pulls down.

* It "pins" the SDK, it does not manifes

[2018-07-12 20:24] nguerrera commented on #320
cc @dsplaisted @dotnet/dotnet-cli

[2018-07-12 20:49] JohnTortugo commented on #176
I think this issue now is solved since we are using the Versioning already presented in the SDK and plugged into `GetAssemblyVersion `?

[2018-07-12 20:59] maririos opened #321 "[Feed package] Document how to create a usable private blob feed (Sleet)"
@dagood commented on [Mon Jul 09 2018](https://github.com/dotnet/core-eng/issues/3851)

These are useful outside of ProdCon to set up testing feeds for private packages. There should be docs (in VSTS) about how to set them up.

/cc @riarenas

---

@dagood commented on [Mon Jul 09 2018](https://github.com/dotnet/core-eng/issues/3851#issuecomment-403557789)

Maybe document in https://devdiv.visualst

[2018-07-12 21:46] dsplaisted commented on #320
I'd suggest using something besides json, because json doesn't support comments, and if you have a list of dependencies with version numbers you're eventually probably going to want to add a comment about one of them.

I thought the way it used to work with RepoToolset was decent: Put the property in a specific .props file that's imported by the build, and parse the XML from the build scripts.  Yo

[2018-07-12 22:14] weshaggard commented on #320
That is fair as well given we were only using the global.json file because of the sdk version, I'd be fine using another file that could be shared with the build and parsed easily by our bootstrapping scripts.

[2018-07-12 22:16] weshaggard commented on #320
I'd say we could get rid of our global.json dependency completely but I think we still need it for our sdk package versions. There isn't anyway currently that I"m aware of to fully specify that a targets/props file. However if we move to the model of only specifying it once in the root Directory.Build.props/targets file (https://github.com/dotnet/arcade/blob/master/Directory.Build.props#L7) we cou

[2018-07-12 22:20] mmitche commented on #320
/fyi @jcagme since this is darc related too. @weshaggard Yeah i'm okay with that.

[2018-07-12 22:33] nguerrera commented on #320
cc @jeffkl

I believe you could use a variable for the nuget msbuild SDK imports: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk
https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk

This makes me think this would work fine:
[code]

[2018-07-12 23:15] jcagme opened #322 "[Darc] Use Directory.Build.props for Arcade SDK versions"
Originally, the Arcade SDK version was planned to be maintained in `global.json`. In https://github.com/dotnet/arcade/issues/320 a change to this was discussed and now it was agreed that the version is going to be stored in `Directory.Build.props`.

Currently Darc will try to update, if needed, the version in `global.json` so we need to make the change to track Arcade SDK's version in `Directory.B

[2018-07-12 23:19] jcagme commented on #213
Tracking this work in https://github.com/dotnet/arcade/issues/319

[2018-07-12 23:19] #213 closed

[2018-07-12 23:28] jcagme commented on #215
Worked tracked here https://github.com/dotnet/arcade/issues/218

[2018-07-12 23:28] #215 closed

[2018-07-12 23:38] jcagme commented on #312
FYI.

https://github.com/dotnet/arcade/issues/320 proposes moving SDK's version to https://github.com/dotnet/arcade/blob/master/Directory.Build.props#L7

[2018-07-12 23:40] jcagme commented on #106
@alexperovich can you confirm this was done, and if so, close this issue?

[2018-07-13 00:29] maririos commented on #312
@jcagme are you guys planning on making the change? and if so when?

[2018-07-13 00:32] alexperovich commented on #106
Yes, I have moved all of RepoToolset into arcade under the Microsoft.DotNet.Arcade.Sdk name.

[2018-07-13 00:35] jcagme commented on #312
https://github.com/dotnet/arcade/issues/322

This is on the top 3 of the backlog but given my FR weeks coming I can't provide a hard ETA on when this will be done but most likely by the end of S138.

Changing this in Darc is not a huge change, have Maestro++ and Darc in place officially is what might be time consuming and completed by S140.

[2018-07-13 00:40] jcagme commented on #106
This work has been completed.

[2018-07-13 00:40] #106 closed

[2018-07-13 01:05] tmat commented on #320
1) Do we not want to pin the SDK to specific version to have reproducible builds and tests? Are we ok with checking out an older branch of a repo, running tests and have them potentially failing if there is a breaking change in the newer SDK?
2) We need to be able to read the version from build.ps1 and build.sh, which download the .NET SDK. Having the version in a props file makes that hard.

//cc

[2018-07-13 01:10] nguerrera commented on #320
This will not impact build.cmd/test.cmd being reproducible. You can achieve that without pinning what happens if you build in an IDE, or with dotnet on your PATH, or  msbuild on your PATH. This is no different than how I am allowed to use the compiler from those places on my local machine for my local productivity and to ensure dogfooding builds actually get put to real work.

[2018-07-13 01:11] nguerrera commented on #320
I have no opinion on which file or its format specifies the build to acquire and use in build script. Just that the "sdk" node in global.json is not the right place.

[2018-07-13 01:13] mmitche commented on #320
I think it should be some other place than a props file if it's not going to be in global.json.  And yes, the sha must tie to a specific version of the SDK (though should be overrideable, perhaps with a source change)

[2018-07-13 01:19] tmat commented on #320
I am open to @weshaggard suggestion:

That would work well with minimal changes.

I don't like specifying the version in a props file since that makes parsing it in .sh and .ps1 file complicated and introduces restrictions on that props file that do not apply to other props files.

I don't like specifying the version in another text file since that increases the number of files we need to maintain

[2018-07-13 01:21] tmat commented on #320
Also there is an ongoing discussion on how to better restore .NET SDK in customer repos.
If the current way of specifying it causes issues then let's make a minimal change that fixes that. Once the discussion is concluded we implement what we ship.

@KathleenDollard @richlander

[2018-07-13 01:23] tmat commented on #320
Also, let's not make any changes until we agree on removing the version from here:
https://github.com/dotnet/roslyn/blob/master/global.json#L3

[2018-07-13 01:35] jcagme commented on #312
Yeah. There is a lot of movement in the original thread. Let’s talk times once the new strategy has been signed off

[2018-07-13 15:39] jcagme commented on #322
Got it, will keep an eye the original issue to make sure we react as needed

[2018-07-13 19:42] #134 closed

[2018-07-13 20:08] jcagme commented on #296
dotnet/roslyn-tools/tree/master/src/RepoToolset

https://github.com/dotnet/arcade/issues/322

[2018-07-13 23:33] weshaggard commented on #320
Are there any pointers to the ongoing discussion for the shipping product?

The only reason I think we put this into a props file would be to allow for us to override it however if we allow overriding we break our bootstrapping scripts because there isn't any real way for them to parse out an overridden value without doing an msbuild evaluation which we cannot do pre-bootstrap. For that reason I t

[2018-07-13 23:41] dsplaisted commented on #320
The actual format of the file holding the version number is very much a secondary concern.  I suggested a .props file because if you need to access it from MSBuild logic in addition to the bootstrapping scripts, then putting it in .props makes that easier than trying to parse json from MSBuild, and because I also like formats which allow for comments.

[2018-07-14 00:10] JohnTortugo opened #330 "Git fetch failing on CI"
I am not sure if this is the right place to open this issue, if not feel free to move it or ping me. I don't think it's blocking anyone so I didn't put it on FR.

Some ci builds are failing with the following error:

[code]
For instance: https://dotnet.visualstudio.com/public/_build/results?buildId=5898&view=logs

Cc' @chcosta @jcagme @maririos

[2018-07-14 02:55] chcosta commented on #330
This isn't the right place but it's fine for teaching purposes. Leave this open and I'll follow up appropriately on Monday. Thanks @johntortugo

[2018-07-16 17:14] weshaggard commented on #320
I agree we could parse a restricted props file for the versions, and I'd be fine with that option, but it does lead folks to think it is a normal msbuild property which can be overridden and such but our bootstrapping scripts will never be able to read the overridden value unless it is actually changed in the props file.

[2018-07-16 17:16] jcagme commented on #319
Assigning this to Alex since he will continue to work on BAR. Pending things:

* Test request by adding a valid auth token
* Read the DB connection string from KeyVault
* Define deployment story

[2018-07-16 17:19] jcagme commented on #296
Once the BAR is completed and deployed, we have to update the `GetDependantAssetsAsync`, `GetDependencyAssetsAsync` and `GetLatestDependencyAsync` in the `Remote.cs` class to get the data by calling the BAR Rest APIs

[2018-07-16 20:45] #273 closed

[2018-07-16 21:25] Eilon opened #331 "Make running PoliCheck on every PR easy"
See original ASP.NET (private) issue here: https://github.com/aspnet/Coherence-Signed/issues/431

We would like to run PoliCheck via dotnet-ci on every PR.

* The results of the run must remain MS-internal (i.e. require AD auth)
* The success/failure status can be public via a GitHub "PR check status"
* The list of exclusions needs to remain MS-internal, and would likely be a single point shared b

[2018-07-16 21:35] maririos commented on #32
@natemcmaster from the things that are under the ASP list, are those packages or scripts something we are going to move to Arcade because other repos will consume it?

@weshaggard I see that ILLinker is used in corefx, coreclr and source-build. Is the idea here to move the reference for the package to Arcade (probably SDK?) so that the repos that use it have the same version and configuration?

[2018-07-16 21:41] natemcmaster commented on #32
Since opening this, the following aspnet tasks have become first-class MSBuild tasks:
* ZipArchive (named Zip in MSBuild)
* UnzipArchive (named Unzip)
* DownloadFile
* ComputeChecksum (named GetFileHash)

The only remaining task which may be useful to share is [GenerateFileFromTemplate](https://github.com/aspnet/BuildTools/blob/release/2.1/modules/BuildTools.Tasks/GenerateFileFromTemplate.cs). Thi

[2018-07-16 21:43] weshaggard commented on #32
ILLinker is currently in an independent repo and at least for the time being should remain there. I expect that to be an option package that corefx/coreclr pull in and not be part of the SDK.

To get an  idea of some of the buildtools -> arcade tasks you can check out our project board at https://github.com/dotnet/corefx/projects/3.

[2018-07-16 22:35] maririos commented on #105
@markwilkie who will use it or benefit if we implement this?

[2018-07-16 22:47] markwilkie commented on #105
If anyone, it'd be ASP who would use it the most.

@natemcmaster - worth doing?

[2018-07-16 22:48] markwilkie commented on #94
For now I'm ok.  I think we'll need to revisit this in the future, but we can do that...well...in the future.

[2018-07-16 22:52] natemcmaster commented on #105
This would make @anurse happy but I don't think its high priority. We currently use myget.org for daily builds of our npm packages, but we only use that share bits with customers. It's not necessary for us to transport bits between teams or legs of the build.

[2018-07-16 22:58] maririos commented on #138
@MattGal are you talking about this https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.Helix ?
If so, because you have the knowledge on what we should have and what there is, could you help me identify if there are still action items with that package?

[2018-07-16 23:13] #176 closed

[2018-07-16 23:53] maririos commented on #274
@MattGal is this for Helix jobs? or publishing packages

[2018-07-17 00:07] MattGal commented on #138
Right those are the Helix Client libraries and Alex's Job Sender stuff but this issue is about having msbuild tasks that do (similar to) what we have today a la https://github.com/dotnet/buildtools/tree/master/src/Microsoft.DotNet.Build.CloudTestTasks .  That work has not been started as far as I know.

It needs to be:

- Repo-agnostic
- Use Azure Client libraries as much as possible
- Use latest

[2018-07-17 00:09] MattGal commented on #274
The Helix Storage API gives you SAS tokens and base URIs for handling uploads.  The old MSBuild tasks take storage account keys to do the same.  The idea here would be to be able to feed what the API gives you (or literally just call the API when doing it) and use the values it provides.  This way, we can automatically rotate the keys used by Helix and get automated security this way.

[2018-07-17 00:17] maririos commented on #94
ok. Closing until we arrive to the future

[2018-07-17 00:17] #94 closed

[2018-07-17 00:39] maririos commented on #138
Thanks for the clarification @MattGal

[2018-07-17 00:52] maririos commented on #32
Thanks @natemcmaster . Could you elaborate more on the need and who will use GenerateFileFromTemplate?

[2018-07-17 01:07] maririos commented on #32
Thanks for pointing me there @weshaggard . That helps to solve other questions.

[2018-07-17 16:34] natemcmaster commented on #32
We use GenerateFileFromTemplate for simple named-variable substitution during the build. We use it in a dozen or so places when we need to generate static content during build time. Example usage:
[code]
[code]

[2018-07-17 16:41] mmitche commented on #282
Current status:
- VSTS test instance still broken
- BYOC prototype potentially functional (allocating agents), implements required and some optional endpoints.
- Refactoring to change into non-prototype form

Next up:
- Write tests
- Test on VSTS when instance is available again
- Implement security and queue name extraction

[2018-07-17 17:54] #292 closed

[2018-07-17 17:58] alexperovich commented on #32
That is #204.

[2018-07-17 21:30] markwilkie opened #335 "Security and Compliance"
We need to make sure the SDL work is done as a "standard" part of Arcade.  Likely this will be a matter of "simply" calling the microbuild tasks from our build definitions.

- [ ] There is a well understood and reasonable way to "use" Maestro to make SDL just happen
- [ ] Baselining is available and turned on by default
- [ ] The Arcade build itself implements these tasks - and serves as an exampl

[2018-07-17 21:32] markwilkie commented on #331
Created a new epic (#335) to track SDL work and added this issue to it.  The epic is not yet prioritized, but needs to be before we get too far down the road.

[2018-07-17 22:07] #316 closed

[2018-07-17 23:54] weshaggard opened #336 "[Versioning] Should FileVersion contain the number of builds done per-day"
Today the file version for core repos looks like `$(MajorVersion).$(MinorVersion).$(VersionSuffixDateStamp).$(VersionSuffixBuildOfTheDay)` (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L24).

The versioning targets in arcade currently look like:

`$(MajorVersion).$(MinorVersion).$(Revision).$(VersionSuffixDateStamp)`.

So the que

[2018-07-18 00:00] weshaggard opened #337 "[Versioning] Include more information in the InformationalVersion"
We currently include some extra stuff in the informational version like who and what machine built a binary, as it is helpful in diagnostics. See https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L314.

That gives us some indication of where and who build a particular binary for tracking private builds and allows us to distinguish off

[2018-07-18 00:02] weshaggard opened #338 "[Versioning] Need to add support for generating C++ header files with version info"
Our native binaries also need to have the version information so we need to include add some support for generating a header file using the same versioning information. See https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L78

cc @tmat @mmitche

[2018-07-18 00:06] weshaggard opened #339 "[Versioning] Use consistent Major/Minor properties for versioning"
Today our versioning targets assume that VersionPrefix will be set to the correct 3 part format before we take and use it in various places. Instead of making that assumption I suggest we break the version apart and setup our VersionPrefix in the targets itself so we can have consistent property names for the different parts.

I propose we use: `$(MajorVersion)`, `$(MinorVersion)`, and perhaps `$(

[2018-07-18 00:48] weshaggard commented on #336
I think something like `Revision = ServicingVersion * 100 + VersionSuffixDateStamp[0..2]` would likely work.

[2018-07-18 13:16] mmitche opened #340 "Add task to update aka.ms links"
We need stable links to put in readme's.  Today this is done for a variety of purposes:
- 'latest' bits of sdk/runtime
- 'links to versions repo (e.g. for shas)

We do this usually be copying a file (e.g. installer) to another storage location, stripping away the version numbers from the file name so that the link name is stable.  A better way would be to update an aka.ms link to the original stor

[2018-07-18 13:17] mmitche commented on #340
I'm assigning this to 2.1.3 servicing and starting on it now because JoC and co want improvements to the daily build download pages.

[2018-07-18 13:38] mmitche commented on #340
/fyi @natemcmaster

[2018-07-18 13:43] mmitche opened #341 "Empty/sample projects for onboarding"
Can we create (or maybe there already exists) a sample/empty project that can be copied around, for the following purposes
- Creating new arcade packages
- Onboarding a fresh repo

Right now it seems like we just have to go and copy another project and then modify.

/fyi @tmat @markwilkie

[2018-07-18 15:50] chcosta commented on #330
Filed https://github.com/Microsoft/vsts-agent/issues/1711

[2018-07-18 15:50] #330 closed

[2018-07-18 16:29] tmat commented on #341
What's needed beyond `dotnet new classlib`? We shouldn't need any boiler plate.

[2018-07-18 16:32] mmitche commented on #341
@tmat Does that add the project sdk reference? Are there any other properties (signing, version numbers?) that need to be added into the csproj?

[2018-07-18 16:40] tmat commented on #341
Not sure what you mean by "project sdk reference".

Not for a simple package. Right now you'll need to add the path to the binaries to SignToolData.json, but we can hopefully avoid that in future.

[2018-07-18 16:42] mmitche commented on #341
e.g. https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.GitSync/Microsoft.DotNet.GitSync.csproj#L1

[2018-07-18 16:43] tmat commented on #341
Actually, I guess there are a few properties that you need to set to create a proper package: `<IsPackable>`, `<Description>` and `<PackageTags>`. These are standard nuget properties that do not have defaults in Arcade SDK as they are specific to the project.

[2018-07-18 16:44] tmat commented on #341
Yes, the SDK reference in project header is added by `dotnet new classlib` (or .NET Core library template in VS File New).

[2018-07-18 17:08] weshaggard commented on #338
Beyond just the header file we also need to generate the rc file for windows and on non-windows we generate a version.c file with a variable that contains the version which we need to handle as well.

[2018-07-18 17:36] tmat commented on #336
It wouldn't be different. In FileVersion it would just be split to two parts.

[2018-07-18 18:02] weshaggard commented on #336
That's fair and seems reasonable.

For better or worse we currently have different file and package versions for most of our stuff. For example System.Memory:
[code]

This came from the fact we needed to ship some binaries at 4.6+ file version when we transitioned to open source and so that kind of ended up being the default for all our new libraries (https://github.com/dotnet/corefx/blob/master/D

[2018-07-18 18:27] #297 closed

[2018-07-19 17:31] markwilkie commented on #341
@tmat, do you see the value with a sample project?

Regardless, we should provide crystal clear guidance for folks onboarding.

[2018-07-19 17:39] rainersigwald commented on #341
There should be a doc for _repo_ onboarding. I think the idea is that individual projects shouldn't have to do anything because there is a repo `Directory.Build.props` that gets picked up automatically and pulls in the Arcade references. So the complexity is more for a new or newly onboarding repo.

[2018-07-19 18:04] tmat commented on #336
@markwilkie Yes, I'll update the versioning spec once we arrive to an agreement.

@jaredpar @jasonmalinowski

The current proposal is:

[code]

Example
[code]

[2018-07-19 18:07] tmat commented on #341
@rainersigwald Agreed. I think this is a good start:
https://github.com/dotnet/roslyn-tools/blob/master/docs/RepoToolset.md

[2018-07-19 18:22] jasonmalinowski commented on #336
Ugh, "day in the current year" is quite indecipherable, but I'm not coming up with many better ideas, I'll admit.

[2018-07-19 18:36] tmat commented on #336
@jasonmalinowski We could have `mmddb` if we don't expect more than 10 builds per day. I think that's pushing it though. Is the current number we use in Roslyn more decipherable? I don't think anyone is able to decipher it without looking in the build targets.

[2018-07-19 18:39] tmat commented on #336
How about `(50 * m + d) * 100 + b`?

[2018-07-19 19:12] markwilkie commented on #89
This has been completed.

[2018-07-19 19:12] #89 closed

[2018-07-19 20:21] maririos opened #345 "Add coherent download links for .NET Core 3.0 to dotnet/core repo"
@mmitche commented on [Tue Jul 03 2018](https://github.com/dotnet/core-eng/issues/3828)

In order for customers to get access to our builds more easily, we need coherent download sdk links in the dotnet/core repo at https://github.com/dotnet/core/blob/master/daily-builds.md.

The key to these links is that they must be coherent.  So the runtime and aspnet links must match what the sdk contains.  B

[2018-07-19 20:24] dagood opened #346 "Crossgen the Arcade toolset during bootstrapping"
BuildTools runs crossgen on itself after init-tools to help build perf. Arcade might need to do something similar. (Based on triage conversionation about https://github.com/dotnet/buildtools/issues/2102.)

@markwilkie

[2018-07-19 22:07] jonfortescue opened #347 "Document the process of creating a CI-enabled VSTS repo"
From the ground up, create a sample "Hello World"-ish repository in dotnet's VSTS instance which uses VSTS for its CI. Follow our current documentation while methodically documenting the process to aid future users in conversion.

[2018-07-19 22:07] maririos opened #348 "Port Repack from Roslyn tools to Arcade"
Repack converts pre-release packages into release packages. It is used by repos, although not all of them so it should be an opt-in tool.

Code: https://github.com/dotnet/roslyn-tools/tree/master/src/NuGetRepack

[2018-07-19 22:11] weshaggard commented on #336
I had the same reaction initially an then I figured I generally only ever look at build numbers relative to each other and usually don't care the exact date and figured I could live with it. I also don't have a good alternative. The core used a "number of months since project start" and "day in the month" and skipped out on the year. With the currently split I don't think we can get away with that

[2018-07-19 22:18] maririos commented on #32
Created issue #348 for porting Repack to Arcade

[2018-07-19 22:59] tmat commented on #336
It's easier to divide by 50 in head to see the month ;)

[2018-07-20 00:48] maririos commented on #345
@mmitche could you please put this issue in it's correct Epic?

[2018-07-21 00:17] tmat commented on #336
Updated the spec with previously implemented changes and the latest FileVersion proposal: https://github.com/dotnet/arcade/pull/353

[2018-07-21 00:26] tmat opened #354 "[Versioning] Include `.final` to pre-release package versions, or not?"
The current spec says:

- **Final Prerelease** - Versions should include **MAJOR**, **MINOR**, **PATCH**, and **PRERELEASE** tag but no **SHORTDATE**, **REVISION**, or **SHORTSHA**.  **PRERELEASE** should be suffixed with `'.final'`.  This avoids a common issue in nuget package resolution where `2.1.0-rc1` < `2.1.0-rc1.12345`. The intention is that the final build is resolved over the date-version

[2018-07-23 16:58] maririos commented on #354
@mmitche

[2018-07-24 00:55] jasonmalinowski commented on #336
@tmat I guess the thing I kinda do sometimes is look at the dd part just to quickly judge the oldness of something. If I know some build/dump I'm looking at is a few days old, and today is the 23rd, it's helpful to know if the binary was build the 22nd or 21st or something. And that I can do fairly quickly without fancy math.

[2018-07-24 16:30] markwilkie commented on #336
@weshaggard @jaredpar @jasonmalinowski

You guys satisfied?  Unless I get pushback, I'll close this issue.  Thanks @tmat for updating the spec.

[2018-07-24 16:58] weshaggard commented on #336
I'm fine with attempting to use `(50 * m + d) * 100 + b`, if that turns out to be troublesome then we can consider changing it later.

[2018-07-24 21:05] maririos opened #363 "Misc tools"
Tracking issues for tools like GitSync, labels, etc

@danmosemsft  @Anipik

[2018-07-24 21:43] weshaggard commented on #346
I would like to refrain from making a call on this until we figure out what all the tools look like. I think we will get a lot of the value by running on a shipped SDK and all those binaries are crossgen'ed, but if we end up overriding the compiler or other heavily used libraries it may become interesting to crossgen our tools as well. So I'd say lets get further along and measure before punting t

[2018-07-24 21:58] markwilkie commented on #346
Makes sense.  I'm going to close this for now and then we'll reopen if we need to.  (this doesn't strike me as something we'll forget if we need it)

I really like the idea of just running on a shipped SDK.  But as you say.....we'll see.  grin.

[2018-07-24 21:58] #346 closed

[2018-07-24 22:35] maririos commented on #339
If `versionprefix` is empty, set it to the 3 properties

[2018-07-24 22:40] maririos commented on #336
This is covered as documentation here: #353 still need to implement it

[2018-07-25 01:34] jonfortescue commented on #347
The cool new repository is located [here](https://github.com/dotnet/arcade-minimalci-sample).

I have an initial PR in [here](https://github.com/dotnet/arcade-minimalci-sample/pull/1).

[2018-07-25 14:08] markwilkie commented on #341
We've created an arcade sample repo for a "simple" onboarding example for a repo.   https://github.com/dotnet/arcade-minimalci-sample

@maririos, could you create an issue please to track the work to create a sample/tutorial for how to create a package that is part of arcade please?

Once that's done, I think we can close this issue.

[2018-07-25 17:39] maririos opened #370 "Create a sample/tutorial for how to create a package that is part of arcade"

[2018-07-25 17:40] maririos commented on #341
Created issue #370

[2018-07-25 21:35] wtgodbe commented on #185
The general plan is as follows:

1. Port the following files:

- https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/GenFacadesTask.cs
- https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/partialfacades.targets
- https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/partialfacades.tas

[2018-07-25 22:22] weshaggard commented on #185
I think that is a fair summary except for step (5) we shouldn't need to use a pkgproj. It should just be using the normal dotnet SDK "pack" command, and we should use the GenFacades.Task project for it instead of GenFacades.Core.

Also I figured out that we can add ExcludeFromSourceBuild=true property to the projects to have them opt-out of source-build.

Yes I think targeting netcoreapp2.0 and ne

[2018-07-25 23:29] alexperovich opened #372 "[BAR/Maestro] Resync user information with github periodically."

[2018-07-25 23:29] alexperovich opened #373 "[BAR] Implement Update/Delete operations"

[2018-07-26 17:18] Anipik opened #375 "One Logging service GitSync tools."
We are using different logging services for both the tools.
It will be good to keep just one logging service for all the tools in the arcade repo.

Related Discussion https://github.com/dotnet/arcade/pull/366/files/3518f73ba0a80738324a686081bd12061a017a43#diff-8b8f08ffbf7b863fb3700c1718eeb4cb

cc @eerhardt @maririos

[2018-07-26 17:48] mmitche commented on #282
Prototype working, but blocked on further implementation until new features become available.

Open a new item for actual implementation and close this one?  Maybe, not sure whether I'm ready to call their spec solid yet.

[2018-07-26 17:49] mmitche commented on #170
Last item is channels/subscriptions/branch management spec

[2018-07-26 17:49] mmitche commented on #340
Tasks are now available, working on updating links.

[2018-07-26 18:13] #340 closed

[2018-07-26 19:08] JohnTortugo opened #377 "Rename files to follow Arcade Conventions"
We have a bunch of files that aren't following the file naming convention. For instance: Restore.cmd, Build.cmd, Arcade.sln(?), NuGet.Config, Directory.Build.*

[2018-07-26 19:09] alexperovich commented on #377
We can't change the casing of Directory.Build.* IIRC. MSBuild searches for them with that specific case and it would fail on linux.

[2018-07-26 20:49] maririos opened #378 "Provide guidance on best practices for WebAPI Services"
@maririos commented on [Thu Jul 26 2018](https://github.com/dotnet/core-eng/issues/3947)

Most of this information is in our Wiki, but it would be good to review, update and unify in a way that it is easy for users to use.

Include things like:
- Use Key Vault
- Use VSTS to deploy the services
- Use variable groups
- Don't reuse bots just cause. If there is a need to create one, use the guidance =

[2018-07-26 21:22] wtgodbe commented on #185
Makes sense, thanks @weshaggard. One more clarification - are ProjectReferences (https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/Microsoft.DotNet.Helix.Sdk.csproj#L25) the correct way to express the dependencies on Microsoft.Cci.Extensions, etc?

[2018-07-26 23:11] maririos opened #381 "[Packaging] Add documentation about the packaging package"

[2018-07-26 23:48] maririos opened #383 "[Packaging] Define the way/ways that we want to create the nuget packages"
Should we have by default `dotnet pack` and if the needs of a repo ask for more, then let them implement their own packaging way?

[2018-07-26 23:52] maririos opened #384 "[Telemetry] Add documentation on how to consume the telemetry scripts"

[2018-07-26 23:56] maririos opened #386 "[Publishing] Add documentation"

[2018-07-26 23:59] maririos opened #387 "[Signing] Update Signing documentation"

[2018-07-27 00:03] maririos opened #388 "[Signing] Evaluate how to to unpack -> sign -> repack MSIs"

[2018-07-27 00:10] weshaggard opened #389 "Move warnaserror from build scripts to common props"
In build.ps1/build.sh we currently hard-code the msbuild `/warnaserror` option to the msbuild invoke commands. In general I like to make warnings as error but there are cases where someone might need to opt-out of that for a given project so I think we should switch to using the property MSBuildTreatWarningsAsErrors in our common props instead of the command line switch. That way individual projec

[2018-07-27 00:31] tmat commented on #377
Keep `Arcade.sln` - what naming convention does it not follow?

[2018-07-27 00:33] JohnTortugo commented on #377
IMO it's odd that it starts with a capital letter when the other files are all lowercase, exceptional cases noted :-)

[2018-07-27 00:36] tmat commented on #383
It's gotta be `dotnet pack`. That's what our customers use, we should use it as well.

[2018-07-27 00:38] tmat commented on #389
I'd rather not do this a-priory. Let's wait until someone asks for it and have compelling reason.

[2018-07-27 00:45] maririos commented on #383
As a default, I agree, but yesterday @weshaggard was talking about how corefx needs custom nuget packages because of the nature of the content.

[2018-07-27 00:51] tmat commented on #383
I believe any packages can be built from projects. We have projects in Roslyn, Roslyn Analyzers, and other repos that pack meta-packages, tool packages, analyzer packages, etc.

We either use pack with handwritten nuspec, or we generate nuspec in a target.

If package just aggregates outputs of other projects (like meta-package or analyzer package) we have a dummy .csproj with no-op Build and Test

[2018-07-27 01:19] weshaggard commented on #389
The reason I filed this is because I'm running up against it in corefx right now. There are some warnings that are now errors that are not so easy to fix and I'm trying to avoid too many distractions so I wanted to turn this off for now. I think having the knob will help folks onboarding as well as folks that that run up against an issue.

[2018-07-27 01:38] maririos commented on #321
FYI @riarenas

[2018-07-27 01:52] markwilkie commented on #282
Yea, let's wait until we're confident the spec is solid.

[2018-07-27 02:06] tmat commented on #389
OK, Sounds reasonable, although if there is no forcing function these warnings will never get fixed ;)

[2018-07-27 15:23] #375 closed

[2018-07-27 15:56] weshaggard commented on #383
While I agree with the general push to use the shipping tools there are a lot of things not currently supported so we will likely be on our own custom packaging targets/tasks for the core repo's for a while to come. We can look at converting that system but that is way down on our backlog.

To give some idea we have defined our on project type call pkgproj and it handles a lot of stuff for us, suc

[2018-07-27 15:59] weshaggard commented on #389
I agree we need this forcing function and if I do disable it I will ensure there is an issue tracking it.

Given the build scripts are checked in the repo I can also temporarily disable this flag via some option passed to the build script

[2018-07-27 18:36] alexperovich opened #391 "Add paging and/or result limiting to the BAR Get methods that return a list."

[2018-07-27 21:34] alexperovich opened #393 "Decide what TFMs we should use for our build tasks."
Currently we have a bunch of build task packages that build with different TFMs. We need to settle on a single set of TFMs for all task packages.

[2018-07-27 21:38] weshaggard commented on #393
My initial strawman would be "netcoreapp2.1;net461" that way we get exactly the set of dependencies for each of those platforms as that is all these tasks are expected to run on.

[2018-07-27 21:43] rainersigwald commented on #393
I'd say `netcoreapp2.1;net46` since that's what MSBuild targets.

[2018-07-27 21:45] weshaggard commented on #393
In https://github.com/dotnet/arcade/issues/59 we decided 461 for desktop because that is what VS requires.

[2018-07-27 23:00] tmat commented on #393
Haven't we started discussion on using `net472`? let's update our Jenkins machines to have 4.7.2. MicroBuild machines have it.

@jaredpar

[2018-07-28 01:07] #307 closed

[2018-07-30 20:20] alexperovich opened #395 "Add audit logs to BAR/Maestro PAT auth"

[2018-07-30 20:20] JohnTortugo opened #396 "Make SignTool accept a list of files to be signed"
As per talk with @maririos she said that we are going to patch the SignToolTask to receive a list of directories where the SignTool will look for container files (only .nupkg for now) that need to be signed.

Cc: @maririos @tmat @weshaggard

[2018-07-30 20:40] maririos commented on #396
Just to clarify, we are going to add this new functionality.

From the discussion in #58 we decided to have:
- Signtool will (batch) sign from a manifest (list of files)
- This manifest can be checked in (explicit)
- This manifest can be generated during the build (implicit)

[2018-07-30 20:46] tmat commented on #396
Do we still need the explicit manifest?

Passing list of files in an item group in to be build task should be sufficient for all scenarios, no?

[2018-07-30 20:50] maririos commented on #396
@jaredpar was advocating for it.

Jared, do you still want to have the explicit manifest?

[2018-07-30 21:14] JohnTortugo commented on #396
I am a bit confused now. Is the usual `SignToolData.json` what you are referring to as _manifest_? If so:

mean that we are going to keep what we have today, i.e., support for SignToolData.json and

the SignToolTask will accept an ItemGroup with list of *.nupkgs to sign.

I want to make this issue + PR short. Thus, I'd like to scope it to only receiving the list of files to sign. Previous behavior

[2018-07-30 21:51] jcagme commented on #87
I guess we are settled on Arcade.Sdk?

[2018-07-30 21:51] #87 closed

[2018-07-30 21:55] jcagme commented on #320
Any updates on where to store the SDK version?

[2018-07-30 21:56] maririos commented on #396
Yes. Unless @jaredpar consider is it not necessary anymore.

The two ways to call the Sign task, as I understood from the last meeting, are:
1.  Pass required parameters plus the location of the SignToolData.json file
2.  Pass required parameters plus the list of directories which content needs to be signed (i.e. folder called shipping).

For the 1st scenario, the SignTool is in charge of reading

[2018-07-30 21:57] maririos opened #397 "[Signing] Change how Singtool calls Microbuild"
Currently, Signtool is calling Microbuild using msbuild. see: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/RealSignTool.cs#L40

Instead, we would like to consume Microbuild targets directly and let the whole process invoke them.

FYI @weshaggard @tmat @mmitche

[2018-07-30 22:00] jcagme commented on #373
Let's plan this first, also let's focus on having Arcade builds flowing dependencies with the Create and Read functionality on BAR first.

I totally see Updates happening for Subscriptions but not for other objects like Builds, Channels or Assets. We might want to Delete medata in BAR after sometime but probably until we stop supporting a version of the product?

/cc: @mmitche @markwilkie

[2018-07-30 22:06] jcagme commented on #214
At first Darc will only call BAR to create a new Channel, create a new Subscription and listing Subscriptions

[2018-07-30 22:07] jcagme commented on #60
Included in https://github.com/dotnet/arcade/issues/296

[2018-07-30 22:07] #60 closed

[2018-07-30 22:16] jcagme commented on #216
Channel creation will be through Darc. Darc will also provide a way to create subscriptions but might not be the only entry point

[2018-07-30 22:26] jcagme opened #398 "[Maestro++] Maestro++ uses Darc for version/dependency updates"
Assigning to @alexperovich per planning chat but this might change depending on load

[2018-07-30 22:29] jcagme opened #399 "BAR default channels"
Have a set of default channels that we can use for builds which don't have a special channel assigned.

[2018-07-30 22:29] jcagme opened #400 "Metadata push to BAR and default channels"
We need a way to push build/asset metadata to BAR during an official build. Also, when the build completes, we need a way to tag it with a channel.

Assigning to @alexperovich per planning chat but this might change depending on load

[2018-07-30 22:29] #400 closed

[2018-07-30 22:29] jcagme commented on #400
For some reason this was duplicated

[2018-07-30 22:33] jcagme opened #401 "Arcade full build"
When Maestro++, BAR and Darc have been completed along with a build definition which pushes metadata to BAR we should be able to have an Arcade full build where the versions/dependencies are updated.

At this time 07/30 there are no other repos which consume Arcade, but if by the time we complete the issues to which this depends on we should see Arcade version been updated in those other repos

[2018-07-30 22:40] maririos commented on #19
@chcosta  The build manifest is used to know which assets where produced by a build? Information like what was created and from where and with which SHAs?

[2018-07-30 22:41] maririos commented on #11
After talking to @mmitche , the Feed package version that we have in Arcade, is going to remove any dependency with VersionTools and instead, push the publish information to Darc/Maestro

[2018-07-30 22:46] maririos commented on #14
@JohnTortugo was this also solved by #380 ?

[2018-07-30 22:47] maririos commented on #399
This step should happen in the Publish package that is going to leave in Arcade.
https://github.com/dotnet/arcade/pull/390/files#diff-bd9009af6d6b92f5bf2137459a361229R33

[2018-07-30 23:00] tmat commented on #320
In global.json, under different name.

[2018-07-30 23:47] JohnTortugo commented on #14
At least for Tasks.Feed yes; but maybe worth to keep this issue to check all packages. Also, I should add a note for checking this on the "how to create package" doc. #374

[2018-07-31 00:30] tmat commented on #396
The task itself accepts a list of files, not directories.
Arcade.SDK will populate the list using a glob like so:
[code]

Containers (NuPkgs, VSIX) may contain other containers. The current task already handles that.

[2018-07-31 00:51] tmat commented on #320
We don't necessarily need to download the SDK if the exact same version is already installed.
`build-sdk`?

[2018-07-31 00:57] JohnTortugo commented on #396
Got it. Thanks.

Currently SignTool process containers recursively, but it does so only to find the files and all files will be signed with the same certificate + strong name. What I am thinking is that I'll need to do that search also, but for extracting the strong names + certificate(?), since each may use different values. What do you think?

[2018-07-31 00:58] nguerrera commented on #320
Works for me.

[2018-07-31 01:36] tmat opened #403 "CI builds should publish binary logs"
The logs are currently not available for CI builds.

Something like should do:

[code]

[2018-07-31 01:36] tmat commented on #403
@chcosta

[2018-07-31 01:51] tmat commented on #396
I don't understand what the problem is. Each file is signed separately. For managed .dlls, .exes the certificate to be used for each file is determined from the public key token of the assembly strong name. For VSIX and NuGet containers the certificate is given.

In rare cases the default certificate that we associate with the PKT won't be the right one. If repo needs to override the certificate i

[2018-07-31 15:06] jaredpar commented on #397
Why do we want to do this?

Part of the reason it was done this way was to insulate ourselves from changes in Microbuild tasks / targets (which are effectively their API). They are free to change their tasks / targets as they wish so long as they can continue to process the `ItemGroup` as specified.

[2018-07-31 15:39] eerhardt opened #404 "Arcades MSBuild files all say they are Apache licenses, when the project is MIT license"
All of our MSBuild files say

`Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.`

Example:
https://github.com/dotnet/arcade/blob/9517895d68d0ff37c75c35f9cd9545cb9122d382/src/Microsoft.DotNet.Arcade.Sdk/tools/BuildStep.props#L1

However, the root license is MIT.

We should straighten the licensing out.  It should all be MIT.

cc @tmat @ma

[2018-07-31 15:45] dagood opened #405 "[Maestro++] Migrate Maestro subscriptions to Maestro++"
@alexperovich @jcagme Is this on the roadmap? Would be nice not to maintain both Maestro and Maestro++ forever.

[2018-07-31 16:09] tmat commented on #396
The build task now outputs the list of files it signs into binlog as messages. Is that sufficient?

[2018-07-31 16:11] jaredpar commented on #396
Is it done in a single location or spread out? What is really needed here is a way to concisely view the signing state of a build. If it's easy to see it as a single element in binlog that's great. But If i have to hunt through a bunch of different messages that makes it harder to validate.

[2018-07-31 16:26] jaredpar commented on #403
Why are the artifacts being published on every build vs. just the failed ones? In Jenkins we had to limit to failed only due to ... actually can't remember. Size issues maybe?

Are we more free to upload items in VSTS?

[2018-07-31 16:30] tmat commented on #396
Single location

[2018-07-31 16:32] tmat commented on #403
@chcosta We don't need a new feature from VSTS. The msbuild repo already does this.

@jaredpar I copied the above yaml snippet from msbuild repo. I guess we can change the condition to only upload the logs on failure.

[2018-07-31 16:35] rainersigwald commented on #403
Not in our CI build, but we probably could. We _do_ need a new feature from VSTS to do this for **PR** builds, but probably don't for **CI** builds. Right now the condition would have to include "reason" to allow for this difference.

[2018-07-31 16:37] chcosta commented on #403
I haven't heard any restrictions imposed or complaints about usage.  That said, publishing logs only on failure seems like a generally good best practice.  The lifetime of build artifacts is tied to the build retention policy.

[2018-07-31 18:58] tmat commented on #397
I think we also forgot about the fact that MicroBuild SignFiles task is Desktop msbuild task and does not run on Core, so we can't "inline" the invocation of the task. We need to build the projects that import MicroBuild targets in an msbuild.exe process.

[2018-07-31 19:16] JohnTortugo commented on #396
How is that information passed?

[2018-07-31 20:25] jaredpar commented on #396
@JohnTortugo that would need to be determined. You would have to essentially specify a single one for each file type in a given directory.

[2018-07-31 21:10] tmat commented on #396
All VSIXes are signed by `VsixSHA2` certificate
All NuGet pakcages are signed by `NuGet` certificate.

[2018-07-31 21:26] #319 closed

[2018-07-31 23:27] JohnTortugo commented on #396
I think I've code for a PR but first I'd like to check a few things:

- A list of *files* is received as parameter. Those can be .nupkg, .vsix, .exe and .dll
- For non-containers the public key *token* is forwarded as *certificate*
- For containers the certificate is hard-coded (at least for now) as NuGet and VsixSHA2
- For now, there is still support for the SignToolData.json file; and both confi

[2018-07-31 23:50] tmat commented on #396
1) Determine whether .exe and .dll is managed. Use PEReader to open the file.
2) If it's not managed then `StrongName` is null and certificate is `MicrosoftSHA2`.
3) For managed files, get MetadataReader from PEReader and read assembly name and PublicKeyToken from it.
4) Add a parameter to the build task that takes an item group that maps strong name to PublicKeyToken and Certificate name, so that

[2018-08-01 18:28] jaredpar commented on #396
Indeed that's the case at this time. It's not like managed binaries where we use different certificates for mysterious, but likely valid, reasons.

Aren't native EXEs the same way: one certificate to rule them all?

[2018-08-01 20:44] anurse opened #412 "Java support in the SignTool"
ASP.NET Core SignalR is shipping a Java Client, which means the signing process needs to be able to process Java artifacts. There are two parts to this:

1. Signing the JAR files themselves - ESRP already supports this. @natemcmaster and I believe this will work with the existing signing tool. We just need to specify the correct certificate when we invoke it.

2. Producing Maven package signatures

[2018-08-01 22:13] markwilkie commented on #393
@jaredpar / @mmitche - should we skip 461 and go to 472?   This is likely related to OS onboarding.

[2018-08-01 22:18] chcosta commented on #403
Tracking with VSTS via https://dotnet.visualstudio.com/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/40

[2018-08-01 22:18] markwilkie commented on #404
@jcagme - note that Roslyn is Apache and Core is MIT, so please make sure we choose the correct license.  (I *think* it's MIT....but not 100% sure)

[2018-08-01 22:46] jaredpar commented on #393
In our side thread, think it was email only, we appeared to be settling on net472 as the TF for our tooling. All of the core infrastructure already uses this framework hence it should present no real problems on that aspect.

My only fear is that it will be a barrier to contribution. We know for example some developers contribute to Roslyn on Windows 7 installations. At the same time though it's a

[2018-08-01 22:54] tmat opened #414 "Simplify discovery of packages built from a given repository"
It would be useful to have a simple REST API that can be called from each repo’s home page to list all the packages the repo has produced, without the need for devs to install any tool and figure out how to find the packages in it.

For example, I can easily see what SourceLink packages have been published to NuGet.org by sending this query: `https://www.nuget.org/packages?q=Microsoft.SourceLink`

[2018-08-01 22:54] tmat commented on #414
@maririos

[2018-08-01 23:06] jcagme commented on #404
Talked to @jaredpar and we are ok to move files to MIT. Will work on the PR

[2018-08-02 00:05] jcagme commented on #404
PTAL https://github.com/dotnet/arcade/pull/415/files

[2018-08-02 01:02] maririos commented on #412
FYI @tmat

[2018-08-02 04:28] maririos commented on #412
@anurse great! So far nothing seems not compatible with the approach we want to take. Just be aware that we are currently working on refactoring some components of the tool, for example, PR #410

[2018-08-02 15:24] mmitche commented on #397
@jaredpar @maririos Are there two layers of targets here?  An outer one that is the public API interface -> inner tasks and targets?

[2018-08-02 15:29] dagood commented on #414
I think there are two scenarios described here:

 1. For a specific package you know a repo publishes, e.g. `Microsoft.SouceLink`, get a list of all versions the repo has ever published, like `https://www.nuget.org/packages?q=Microsoft.SourceLink`.
    * Sounds like adding a service to the central blob feed to make the JSON readable.
 2. For a repo, a list of all packages (id and version) publishe

[2018-08-02 15:46] jaredpar commented on #397
@mmitche there is an outer set of props / targets that are the supported public API surface and this is what SignTool uses today. That is the limit of the supported API surface.

[2018-08-02 17:46] #148 closed

[2018-08-02 18:04] #370 closed

[2018-08-02 18:11] JohnTortugo commented on #396
I'm having a hard time trying to use PEReader - barely any documentation.
I only managed to extract the TargetFramework using this:

[code]

which I assume is not acceptable due the `LoadFrom(file)` part. Can you guys give me any hint how to extract the TargetFrameworkAttribute using PEReader?

[2018-08-02 18:16] rainersigwald commented on #396
@JohnTortugo check out https://github.com/Microsoft/msbuild/blob/a75c5a9e4f9ea6f2de24df4bfc2d60c09e684395/src/Tasks/AssemblyDependency/AssemblyInformation.cs#L353-L425

[2018-08-02 18:39] JohnTortugo commented on #396
Thanks a lot @rainersigwald!

[2018-08-02 20:20] jonfortescue opened #418 "Arcadify the sample repository"
Base the sample repository's build process on Arcade's `base.yml`.

[2018-08-02 20:42] Chrisboh opened #419 "[Validation] Enable VSTS YAML build definition testing"
@chcosta commented on [Thu Aug 02 2018](https://github.com/dotnet/core-eng/issues/3998)

In addition to having documentation for creating VSTS YAML official builds in the .NET Core 3 ecosystem, we should have tests that you can run against a build definition before using it to catch any issues product teams need to fix.

[2018-08-02 20:44] Chrisboh opened #421 "Improve diagnostics of Service Fabric"
For context, during our triage meeting we talked about improving the diagnostics of Service Fabric so we can understand and debug it better.
We also decided to put it in the Flow epic so as part of the Maestro++ work we could identify, modify and set a pattern for the other Service Fabric we have.

@MattGal could you help here providing a list of the things we should consider?

[2018-08-02 20:46] Chrisboh opened #422 "How do I upload one-off packages to the dotnetfeed dotnet-core blob feed?"
@dagood commented on [Fri Jul 27 2018](https://github.com/dotnet/core-eng/issues/3956)

TL;DR: I think we should make a VSTS build def that publishes packages to the central blob feed, or make sure FR can do this.

@jcagme, @MattGal, what do you think?

/cc @sfilipi @eerhardt

---

Recently I've had a few requests to upload some nupkgs to MyGet and the central blob feed. They're data packages (for

[2018-08-02 20:47] Chrisboh opened #423 "VSTS: create Win7 and Win8 images"
@natemcmaster commented on [Tue Jul 31 2018](https://github.com/dotnet/core-eng/issues/3973)

We want to move the <https://github.com/aspnet/IISIntegration> repo to build completely on VSTS. Before we can do so, we would like to ensure we keep test coverage for Win7 and Win8. How can we go about creating agents for these OSes for https://dotnet.visualstudio.com? Ideally, we'd have them available f

[2018-08-02 20:54] jonfortescue commented on #418
Blocked on updates to arcade.

[2018-08-02 20:55] jonfortescue opened #424 "Add DotNet SDK and OS-specific casing to sample repository"
Currently, our build process is identical on all OSes. This does not reflect the majority of use cases, so we should update to reflect a more realistic scenario.

[2018-08-02 21:17] tmat commented on #414
It's mostly [1]. The set of packages built by a repo doesn't change that often and it's easy for the repository to list them explicitly. If the names of all packages start with some prefix, such as Microsoft.SourceLink, it's even easier.

[2018-08-02 21:28] shawnro commented on #170
If we have a breakdown of all the individual items that make this up, that we're working on, can this be closed and we just use those?  Been a long time in the Dev pipeline.

[2018-08-02 21:50] jcagme commented on #414
This is the link to the issue tracking the error we get when trying to list the packages in our blob feed: https://github.com/emgarten/Sleet/issues/23

[2018-08-02 21:50] tmat commented on #320
I'm gonna implement it like so:

[code]

This makes it very easy to read in bash (regex match `"dotnet": "(.*)"`) and it's similar to `native-tools`.
We can unify native tools installation later with `dotnet` installation and put everything under `tools`.

[2018-08-02 21:52] maririos opened #426 "[Publishing] Have an UI to show publish package details"
From the conversations in #414 it would be great if we could have an UI to show the list of packages and its versions in a blob feed.

[2018-08-02 21:57] #314 closed

[2018-08-02 22:31] JohnTortugo commented on #396
Does this only override the certificate? That is, the strong name will still be the one informed in @(StrongNameSignInfo) ?

[2018-08-02 22:31] mmitche opened #427 "Create a product source build layout from a repo sha"
Using darc and given a repo at a sha, we should be able to evaluate the set of repo+sha's that are required to create any dependencies needed to build that sha.  For instance, core-setup depends on corefx's output packages (among others).  Those corefx input packages were produced from an official build of corefx, which was done at a specific sha.  Following this transitively from that corefx sha,

[2018-08-02 22:34] mmitche commented on #427
T-shirt size: Small

Requires all repos to be on darc for the version info, though.

[2018-08-02 22:45] maririos commented on #298
As for the packages that should be part of the Arcade SDK, doc https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/PackagesRoadmap.md list them.

For packages in Arcade per se, there isn't a restriction.

[2018-08-02 22:45] #298 closed

[2018-08-02 22:49] maririos commented on #14
I don't think keeping this issue open is going to help us guarantee that packages in Arcade use the default versions. I see it more like we need to create something that will validate that, and/or look for things like that in the code review process of Arcade PRs.

[2018-08-02 23:03] jonfortescue commented on #347
Completed PR [here](https://github.com/dotnet/arcade-minimalci-sample/pull/3).

[2018-08-03 16:45] mmitche opened #430 ".NET Core private build stacks"
A requirement for .NET Core 3 is the ability to create a private build stack.  For example a developer or developers working on a feature branch that requires changes across 3 repos wants to have a build involving those branches.  Even if those branches are in the middle of the stack (e.g. coreclr->aspnet), those bits should be able to be packaged into an SDK.

This epic is complete when:

- [ ] D

[2018-08-03 17:04] mmitche opened #431 "Enable evaluation of product build content"
Because the repo dependencies of what we are building are specified in the sha that is built, we can evaluate the whole tree of shas to determine what commits make up a repo build.  This will allow us to ensure that the build we are about to ship contains the right fixes.  When this epic is done:

- [ ] Given a build artifact, we should be able to determine the sha on which it was built
- [ ] Give

[2018-08-03 17:43] mmitche opened #432 "Support .NET Core internal only builds"
Build stacks should be able to be created that are internal only.  They clone from internal branches and build to private output storage.  Dependencies flow like in the public branches,, and PRs work as expected (except in internal VSTS).  The mechansim for this should be just another variation of a private stack build, just without publicly visible inputs and outputs.

This epic is complete when:

[2018-08-03 17:53] mmitche opened #433 "Complex branch management working"
The rule that commits must be used to represent the state of the product (vs. commit + input dependencies in prodcon v1) means that efficient branch management gets more critical in .NET Core 3.

Consider a private build with two feature branches of two repos: coreclr and corefx.  If the developer wants a new installable runtime containing the bits produced from these branches, those bits must be

[2018-08-03 18:11] mmitche opened #434 ".NET Core dependency update management"
In .NET Core 3, dependency updates are done in the following way:

repo build -> tagged to channel (build purpose) -> downstream repo declares they take assets from channel+repo combo -> Maestro++ updates downstream repo's target branch

Because of the large number of branches expected in the .NET Core 3 workflow (e.g. stabilized builds, private builds, speculative flow builds, etc.) we need good

[2018-08-03 18:15] mmitche opened #435 ".NET Core stabilized build creation"
Release is done with stabilized assets.  Because .NET Core 3 requires commits represent the state of the product, this means that stabilized assets must flow through the repositories prior to release.  We also need to be able to validate these final builds prior to publishing them publicly, so this stabilized build needs to be in an isolated, removable location.

This epic is done when:
- [ ] A st

[2018-08-03 18:22] mmitche opened #436 ".NET Core 3.0 Mission Control"
Mission Control should be able to represent .NET Core 3 product state. This epic is complete when:

- [ ] The state of various repository builds, based on their output channel, is visible
- [ ] The state of various repository tests, based on their output channel, is visible
- [ ] The state of the dependencies at the referenced versions is visible (test results, 'oldness')

[2018-08-03 18:22] mmitche commented on #436
Already covered by: https://github.com/dotnet/core-eng/issues/3728

[2018-08-03 18:22] #436 closed

[2018-08-04 01:16] JohnTortugo commented on #396
Can it occur that for some random binary we can't extract the TargetFramework? I'm thinking something like striped down version of the binary.. I've a file here (named Microsoft.VisualStudio.CodeCoverage.Shim.dll TFM=net461) that I've tried a few options and none worked. I am thinking if it's possible that the information isn't present in the file at all.

[2018-08-04 01:43] JohnTortugo commented on #288
Closing this since we aren't going to use that file anymore. List of containers+files to be signed will be passed as an ItemGroup to the task.

[2018-08-04 01:43] #288 closed

[2018-08-04 01:56] JohnTortugo commented on #295
What kind of validation is needed here?

After the changes in progress on SignTool (#396) the list of files to be signed will be created dynamically. Would providing the list of discovered files + the list of signed files, as an output of the Signing task, be sufficient for this validation?

[2018-08-06 16:33] tmat commented on #396
This feature is only needed for binaries built by the repo. Binaries not built by the repo should already be signed or excluded. We can make sure that all binaries built by the repo that need special cert have the attribute.

[2018-08-06 16:39] tmat commented on #396
We need to avoid signing already signed assemblies. Checking that an assembly is already signed can be done using the PEReader.

That said, you are right we can use `FileSignInfo` with a special value of `CertificateName`. Something like:

[code]

[2018-08-06 19:58] JohnTortugo commented on #396
Thanks for answer. That make things much clearer. Only thing that I wanted to confirm is about checking if a random binary that I find in a package is from the current repo or not. That is, let's say a container file contains a file named "Foo.Bar.dll". How do I know if that file was produced by the current repo or not?

My current idea is to check if there is a bin/Foo.Bar/{TFM}/Foo.Bar.dll file

[2018-08-06 20:44] tmat commented on #396
You should not need to know. Either it's signed or not. If it is signed then there is nothing we need to do for this file. Otherwise, check if there is a FileSignInfo for the file. If so, use the cert specified by this info (if none then skip the file). Otherwise, use the default certificate based on matching StrongNameSignInfo. Otherwise, report an error.

[2018-08-06 20:46] tmat commented on #396
We shouldn't be touching files from bin directory at all, or any other directory. All the assets we need are already included in the containers.

[2018-08-06 22:01] #347 closed

[2018-08-07 00:39] maririos commented on #295
I don't think we need an external tool for that. We can compare between what the list of discovered files has against the list of signed files. If something doesn't match, then the SingTool should fail and tell the user.

[2018-08-07 00:50] jcagme commented on #414
I've actually talked to Justin and looks like there is no built in way on Sleet for `list`ing packages. All the uploaded packages are stored in a json file that we could work with but a service/app has to be created for that.

[2018-08-07 02:10] tmat commented on #295
The only case when something wouldn't match would be if there was a binary with PKT that's not given to the sign task. This does not actually validate that the assets have been signed.

I don't think we should validate anything in the sign tool. Instead official build should have a step (in YAML definition) that validates that all assets are compliant -- not just signing, but also APIScan, etc.

[2018-08-07 16:02] maririos commented on #295
Could it happen that Microbuild fails to sign some files? Just making sure that we know that all we send, got successfully signed.

[2018-08-07 16:14] markwilkie commented on #295
The challenge here is probably less about did microbuild sign the files the tool asked for, and more about did the *right* files get signed which is harder to determine.  For example, we've seen in CoreFx numerous occasions where files were missed - meaning, signing was never attempted for them.

Along the lines of what @tmat is suggesting, there's probably something that should check that everyth

[2018-08-07 16:21] jcagme opened #439 "Metadata push to BAR"
We need a way to push build/asset metadata to BAR during an official build. Also, when the build completes, we need a way to tag it with a channel.

[2018-08-07 16:26] tmat commented on #295
@maririos

Yes, it could. But as I suggested above that should be detected by a VSTS build step that does overall validation of everything that's published.

[2018-08-07 16:28] tmat commented on #295
The design of the new sign tool should mostly mitigate that. The tool signs everything in a given set of shipping directories that's not signed yet. The publishing logic would use the same set of directories. So if some artifact is not there it won't get signed but it also won't get published.

[2018-08-07 16:29] markwilkie commented on #14
Next steps here?

[2018-08-07 16:29] markwilkie commented on #298
@maririos - should this issue be closed?

[2018-08-07 16:33] #14 closed

[2018-08-07 16:33] maririos commented on #298
@markwilkie it was closed 5 days ago.

[2018-08-07 16:36] markwilkie commented on #414
@jcagme - sleet does support the gallery yes?  Perhaps we have that turned off for perf?

[2018-08-07 16:36] markwilkie commented on #298
@maririos - now I'm embarrassed....   :)

[2018-08-07 16:38] markwilkie commented on #295
@tmat - agreed that it would mostly be mitigated.  I'm still pretty sure we'll want some sort of "make sure what we're about to release is good" task....

[2018-08-07 16:43] markwilkie commented on #397
Was this ever answered?

[2018-08-07 16:44] jcagme commented on #414
Sleet provides the files so a "gallery" can be built on top of it. Files which would help search and autocomplete for example but that's pretty much it.

We have a file in the store that we could parse and store all the packages currently in the feed. There is no need to turn search/autocomplete on (I think we can live without that)

 The whole UI needs to be built on top of these which should not

[2018-08-07 16:47] markwilkie commented on #393
My personal preference is to use the most widely adopted platform (in this case 4.6.1)

Is there a reason we should move to 472, other than it's the latest?

[2018-08-07 17:03] tmat commented on #393
Yes, it's the first version of .NET FX where netstandard 2.0 support is not buggy.

[2018-08-07 17:35] #294 closed

[2018-08-07 17:54] JohnTortugo commented on #272
This is already being covered by the new changes in the SignTool #410.

[2018-08-07 17:56] JohnTortugo commented on #58
Closing this issue since the changes are now being tracked on this issue #396 and this PR #410 .

[2018-08-07 17:56] #58 closed

[2018-08-07 17:58] #217 closed

[2018-08-07 17:58] #399 closed

[2018-08-07 18:28] alexperovich commented on #414
The biggest problem with a gallery on top of a sleet feed is that the search url returns every package in the feed in all cases. So any gallery that wants to support search on sleet needs to filter the package list locally. That gets slower and slower the more packages that are in the feed. The dotnet-core feed is massive currently and would probably not be fast at all.

[2018-08-07 18:31] jcagme commented on #414
yeah I was thinking there would be an indexer service which makes the searching for packages faster -> UI talking to an indexed storage thing

[2018-08-07 18:42] alexperovich commented on #414
If we are going to write any kind of service to index the packages then we should just make a full nuget server. Managing a blob feed and a separate index server alongside it is probably too much.

I explored creating an angular app and packaging it into a single index.html we could deploy to the feeds alongside index.json that would provide a ui. This was promising but will probably only work if

[2018-08-07 23:05] jaredpar commented on #393
It also simplifies deployment considerably. There are essentially no facades + massive binding redirects to carry around with every single tool that we own.

[2018-08-08 15:28] markwilkie commented on #393
@jaredpar - thoughts on #59 which is related?

[2018-08-08 15:39] jaredpar commented on #393
@markwilkie forgot we had that issue. I'm not sure why we have both #59 and #393. We should be picking the same TF for both.

[2018-08-08 16:41] chcosta opened #440 "Add overview to Maestro Readme.md"
I navigate to https://github.com/dotnet/arcade/tree/master/src/Maestro, and there's a Readme.md file, but the only info it provides is how to run "Maestro and the BAR" locally.  I'd expect the Readme to have some sort of overview  information and links to additional guidance / documentation.  I'd expect "Running locally" to be a separate document.  I suggest either adding some jumping off points t

[2018-08-08 16:44] chcosta opened #441 "Arcade should update the versions repo with published versions"
If I want to know what the current guidance for how to update the versions repo is, I'd expect to go to Arcade and Arcade official builds, but I don't think Arcade is updating the versions repo.

If the guidance is to update BAR instead, it feels like there's a gap since that's not currently being used and teams still need to flow version dependencies via dotnet/versions.

[2018-08-08 17:07] maririos commented on #441
Correct.

Why do you want to know how to update the versions repo? From my understanding, all repos are using the "old" flow where Maestro is in charge of updating its dependencies. Developers shouldn't worry about it, and the versions repo has documentation on how Maestro works.

Once Maestro++ is ready, we'll stop having a dependency on the versions repo (at least for .Net Core 3.0). I will expe

[2018-08-08 17:14] chcosta commented on #441
CLI / Sdk did some refactoring and the new core-sdk repo doesn't have a clean way to update the versions repo - https://github.com/dotnet/core-eng/issues/3974.

[2018-08-08 17:17] maririos commented on #441
I guess the confusing part here, is, should the guidance for Maestro (not Maestro++) and versions repo should be in Arcade, knowing that the code is not here, and is something we are not currently supporting in Arcade?

FYI @jcagme

[2018-08-08 17:26] jcagme commented on #441
Maestro's code just got merged in the past couple of days and soon will be integrated with Darc to do versions flow. For this to work fine, repositories have to be Arcade repos and need to have the required version files. Is this the case for CLI?

[2018-08-08 17:33] chcosta commented on #441
I'm not plugged into the Darc work, but my presumption is that no repos are currently using Darc and that they're all still using some ad-hoc thing to update the versions repo, then Maestro to flow dependency changes when dotnet/versions is updated.

If the Darc / BAR / Maestro stuff is imminent, we can table this issue for Arcade, it just surprised me that Arcade wasn't updating dotnet/versions t

[2018-08-08 17:33] #441 closed

[2018-08-08 17:45] jcagme commented on #441
What would you suggest to make this less confusing? At the end, Maestro++ will absorbe and replace Maestro but we are not there yet to shut down Maestro.

/:cc @alexperovich

[2018-08-08 17:51] dagood commented on #441
I don't see the need to force the branding for Maestro++ to be Maestro. Why don't we consistently refer to it as Maestro++?

[2018-08-08 22:21] maririos opened #445 "[Signing] Make the sample repo adopt the sign tool"

[2018-08-08 22:30] JohnTortugo opened #447 "Discuss about a our logging approach"
So far we have about 11 packages in Arcade and we’re using about 6 different mechanisms for logging. Shouldn’t we have a plan or a guideline to standardize this?

I was thinking that maybe a new Arcade package could be created to provide a base implementation so people don’t have to re-implement it.

The data I collected:

- Microsoft.DotNet.Build.Tasks.Feed
--	Uses its own implementation: /SleetL

[2018-08-08 22:31] JohnTortugo commented on #447
From @dagood :

From @tmat :

From @alexperovich :

[2018-08-08 22:35] #418 closed

[2018-08-08 22:35] #424 closed

[2018-08-08 22:36] jonfortescue opened #448 "Create MVP for CoreCLR CI build in VSTS"

[2018-08-08 23:49] JohnTortugo commented on #396
It seems there are some files in our current SignToolData.json that aren't contained in of our Arcade packages. What's the idea for handling that?

[code]

[2018-08-09 00:45] tmat commented on #396
We don't want to sign or package test assemblies.

[2018-08-09 15:53] #296 closed

[2018-08-09 18:06] #404 closed

[2018-08-09 18:26] maririos commented on #445
Sample Repo: https://github.com/dotnet/arcade-minimalci-sample

[2018-08-09 19:50] natemcmaster commented on #423
I'm not sure why this issue got moved to Arcade. @markwilkie @chcosta can you help route this? While we're waiting for VSTS improvements, I'm okay if we use devdiv.visualstudio instead for win7/win8 testing.

[2018-08-09 20:35] markwilkie opened #454 "Enable repro tool for AzDO tests (instead of Helix)"
Repro tool should work with both CI and official builds in VSTS.  This epic is considered complete when:

- [ ] The current repro functionality in Jenkins CI is available in VSTS CI

[2018-08-09 22:06] maririos commented on #19
FYI @jcagme

[2018-08-09 22:07] maririos commented on #11
FYI @jcagme

[2018-08-09 22:07] maririos commented on #5
FYI @jcagme

[2018-08-10 00:03] natemcmaster commented on #88
I've opened some issues on aspnet/BuildTools for things we can do to start moving the needle on this.

* https://github.com/aspnet/BuildTools/issues/727 - change repo layout to match Arcade conventions
* https://github.com/aspnet/BuildTools/issues/399 - Use netfx ref assemblies as a package
* https://github.com/aspnet/BuildTools/issues/728 - use resx string generation from Arcade
* https://github.

[2018-08-10 17:35] markwilkie commented on #88
Thanks @natemcmaster

[2018-08-10 23:16] jaredpar opened #458 "Ubuntu environment conflicts with arcade"
Discovered this issue when I recently updated my Ubuntu box and started working on Roslyn. My build failed with lots of errors because the C# language version was 7.0 instead of 7.3 as is specified in our properties file. The problem appears to be a conflict with the properties used in RepoToolse / Arcade and environment variables defined in Ubuntu.

Ubuntu now defines `%LANGUAGE%` for all termina

[2018-08-10 23:16] jaredpar commented on #458
CC @tmat

[2018-08-10 23:27] nguerrera commented on #458
`$(Language)` is a real thing in core msbuild  targetsand can't be en_US

Here we seem to be trying to set it earlier than the language targets, which would just overwrite it.
https://github.com/Microsoft/msbuild/blob/0591c15d6c638cad38091fbe625dde968f86748d/src/Tasks/Microsoft.CSharp.CurrentVersion.targets#L40

So I think for this specific issue it is a reasonable fix to remove the condition.

Ot

[2018-08-11 00:10] tmat commented on #458
Yes, the purpose is to set it early so that we can use language-specific conditions in props files.

I think we could remove the condition `Condition="'$(Language)' == ''"` on the property group above.

[2018-08-13 03:08] maririos opened #460 "Enforce signed packages on upload"
Free for NuGet.org and IIRC it’s an option for VSTS feeds (which we’re all moving two).

[2018-08-13 03:11] maririos opened #461 "Configure NuGet to verify signatures on download for the arcade feeds."

[2018-08-13 16:33] #458 closed

[2018-08-13 17:12] chcosta commented on #423
I'll leave this here for now so we can remember to address it when BYOC becomes available in dotnet.visualstudio.com.

[2018-08-13 17:36] chcosta commented on #231
@jonfortescue is working to provide an example of one leg of the CoreClr official build building the product and tests, then sending tests to Helix.

[2018-08-13 17:58] JohnTortugo opened #462 "Add a new step to build definition(s) that check signed packages are compliant"
We need a way to check that all packages that we publish are signed.

This is a follow up issue from @tmat comment here: https://github.com/dotnet/arcade/issues/295#issuecomment-410909839

[2018-08-13 17:59] JohnTortugo commented on #295
I created a new issue to track implementation of the idea proposed by @tmat: https://github.com/dotnet/arcade/issues/462

[2018-08-13 17:59] #295 closed

[2018-08-13 18:00] JohnTortugo commented on #311
This is already done.

[2018-08-13 18:00] #311 closed

[2018-08-13 18:03] JohnTortugo opened #463 "Which T1 repo should be the first to use the new SignTool?"
CC @maririos @tmat @jaredpar @weshaggard @markwilkie

[2018-08-13 18:04] maririos commented on #462
More than packages being signed, we also need to validate that all assets are compliant, that they got published, etc.
Maybe change the title to reflect that?

[2018-08-13 18:09] maririos commented on #311
Although it is already happening, once the PR you have open #410  gets merged, and we publish a new SignTool package, we need to update the Arcade SDK to consume it.
You could either re-open this issue and track that, or create a new one. Either way, I want to make sure we don't forget to do that.

[2018-08-13 18:27] JohnTortugo opened #464 "Make Arcade use the new SignToolTask that accept a list of containers"
Once this PR #410 is merged we need to patch Arcade to invoke the SignToolTask passing a list of containers (instead of the path to SignToolData.json) to be "signed".

Cc: @maririos @tmat @weshaggard @jaredpar

[2018-08-13 18:27] JohnTortugo commented on #311
Created this issue #464 to track that. Thank you. Sorry for the confusion.

[2018-08-13 19:53] #320 closed

[2018-08-13 22:01] JohnTortugo commented on #462
Updated the title. Can you please post here what exactly should we check to gurantee the asset is compliant?

[2018-08-13 22:53] JohnTortugo commented on #464
How should we create the list of packages that will be passed by to the SignTool to sign?

I see that the current publishing logic get's the package directly [from a directory](https://github.com/dotnet/arcade/blob/d3a73e5629eced2995d0b805397953bdc6874b48/src/Microsoft.DotNet.Arcade.Sdk/tools/Publish.proj#L45). Can/should we just implement the same?

[2018-08-13 23:06] tmat commented on #464
`Include="$(ArtifactsPackagesDir)**\*.nupkg"`
`Include="$(VisualStudioSetupOutputPath)**\*.vsix"`

[2018-08-14 16:44] jcagme opened #465 "[Darc] check for existence of version files"
We should check that global.json, eng\Version.props and eng\Version.Details.xml files exist since these are mandatory for the dependency flow process.

These are core part of an Arcade repo and should exist at all times.

Probably a CI check would suffice.

[2018-08-14 16:46] jcagme opened #466 "[Darc] Check dependencies in version files match"
We have to check that dependencies in `eng\Version.Details.xml` are either included in `global.json` or in `eng\Version.props`. If this is not the case we should err

[2018-08-14 17:47] maririos opened #467 "Publishing and Packaging Roadmap"
- [ ] Publishing
- [ ] Packaging

[2018-08-14 23:57] natemcmaster opened #468 "Add support for running binskim"
Today, aspnet runs [binskim](https://github.com/Microsoft/binskim), a static analysis tool for security isseus. It would be good to add this to the Arcade SDK.

https://github.com/Microsoft/binskim
https://www.nuget.org/packages/Microsoft.CodeAnalysis.BinSkim/

[2018-08-15 00:00] maririos commented on #397
Closing this as per Tomas point

[2018-08-15 00:00] #397 closed

[2018-08-15 00:01] maririos commented on #463
@tmat is going to test the SignTool in Symreader and a repo that produces VSIX as the first repos to onboard the SignTool.
Thanks Tomas!

[2018-08-15 18:35] jcagme commented on #225
All details about the SDK have been described in https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md. This includes the packages and the scripts as well

[2018-08-15 18:35] #225 closed

[2018-08-15 21:29] chcosta opened #469 "Publish logging too terse"
When a package is published using the Arcade SDK, the logging is too terse to provide confidence that desired packages have been published.  Here's an example of the current logging.

[code]

I am occasionally pinged to determine what packages were actually published (names and versions).

[2018-08-16 17:32] chcosta opened #473 "Enable telemetry for VSTS CI / PR Builds"
@chcosta commented on [Tue May 29 2018](https://github.com/dotnet/core-eng/issues/3552)

VSTS CI / PR builds are public, so we can't provide secrets which are currently required for VSTS builds to send telemetry.

VSTS guidance: https://docs.microsoft.com/en-us/vsts/pipelines/build/ci-build-github?view=vsts#security-considerations

Telemetry for official builds: https://github.com/dotnet/arcade/bl