[2019-03-07 01:23] tmat commented on #2182
You wouldn't need to synthesize any TestRun items that way. Just set the trait in additional arguments based on what leg you are running on.

[2019-03-07 02:10] anurse commented on #2182
That does sound cleaner! I'll investigate further and re-open if something different is needed. Thanks!

[2019-03-07 02:10] #2182 closed

[2019-03-07 17:57] jcagme opened #2188 "Make the graph generation on builds available for everyone"
Currently this is only enabled in the core-sdk repo and is defined in their .vsts-ci file. We should create new templates and flags so repos just define a variable in their main yml file in case they want to opt-in this feature.

[2019-03-07 18:06] anurse commented on #2038
AzP's own task "SDK" has PowerShell functions for this already: https://github.com/Microsoft/azure-pipelines-task-lib/tree/master/powershell/Docs/FullHelp.

I don't know how feasible it is, but just giving Arcade scripts access to that library would probably be the best solution, since it would mean we could rely on the same code-base.

[2019-03-07 18:06] anurse commented on #2036
We're looking at this in aspnet/Extensions, fyi: https://github.com/aspnet/Extensions/pull/1226

[2019-03-07 18:14] chcosta commented on #2038
We'll need a cross-plat solution (I don't think we're on Powershell Core anywhere in Arcade).

[2019-03-07 18:38] #2150 closed

[2019-03-07 18:39] #2166 closed

[2019-03-07 18:53] JohnTortugo opened #2190 "Support different packages with same name to be published using release pipelines"
Issue created after this discussion: https://github.com/dotnet/arcade/pull/2186#discussion_r263497077

Due to conflicts with `arcade-validation.sh` script, Tasks.Feed -> PushToAzureDevOpsArtifacts
needs to[ copy artifacts to a temporary location](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Build.Tasks.Feed/src/PushToAzureDevOpsArtifacts.cs#L87); The copying routine needs to b

[2019-03-07 19:51] #2154 closed

[2019-03-08 00:14] #393 closed

[2019-03-08 00:34] JohnTortugo opened #2197 "Refactor eng\validate-sdk.ps1"
We should consider changing the approach used by `[validate-sdk.ps1](https://github.com/dotnet/arcade/blob/65820ecd54acd04013f95f2635c284459ba2c273/eng/validate-sdk.ps1#L86)` where it moves the whole `artifacts\` folder. This is causing a lot of interference with things that run after the script.

@chcosta @riarenas @alexperovich

[2019-03-08 00:40] chcosta commented on #2197
Agreed, there are already some issues tracking this type of change

-https://github.com/dotnet/arcade/blob/master/eng/validate-sdk.ps1#L83
- https://github.com/Microsoft/azure-pipelines-yaml/blob/master/design/container-steps.md

[2019-03-08 03:38] JohnTortugo opened #2201 "Refactor Tasks.Feed validation in light of new build manifest xml"
Refactor [Tasks.Feed input validation](https://github.com/dotnet/arcade/blob/a0d951e12a53401c3da812b581e39feb4a5bb4ab/src/Microsoft.DotNet.Build.Tasks.Feed/src/BuildManifestUtil.cs#L102) considering the added/removed fields of the new publishing using pipelines mechanism.

[2019-03-08 18:25] robertborr opened #2202 "Need retry on Http Client timeouts for Helix Arcade SDK (waiting for jobs to finish)"
@dotnet-mc-bot commented on [Thu Mar 07 2019](https://github.com/dotnet/core-eng/issues/5437)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=118107
  - **Agent:** NetCoreInternal-Int-Pool 2
  - **Error log:** F:\workspace\_work\0\s\src\Microsoft.DotNet.Helix\Sdk\tools\Microsoft.DotNet.Helix.Sdk.MultiQue

[2019-03-08 19:56] hoyosjs opened #2203 "Helix SDK: execute.sh not found on Mac Queue starting Helix SDK 2.0.0-beta.19151.5"
See dotnet/coreclr#22967.

In coreclr we haven't been able to get updates from Arcade. We were seeing some issues with downloading the test payload in Helix and reported it in dotnet/core-eng#5391. After #2147 got merged I tried to manually update the SDK as well as using Darc to consume the fix, but we haven't been able to move off Arcade/Helix SDK `19128.3` as every time we get the same error:

[2019-03-08 21:55] riarenas commented on #2203
Hard to tell at a glance what is going wrong here. I couldn't find binlogs from the helix sdk which would let us take a better look.

I believe the correct site is https://mlskvmui (make sure to use IE, apparently that's the only browser that works)

@mattgal any ideas on what's going on?

[2019-03-08 22:00] MattGal commented on #2203
I'm taking a look at payloads and logs, will update if I find anything useful.

Related Question: Where did the reference to mlskvmweb come from?  @garath changed the only place I know where this was listed a couple weeks back.

[2019-03-08 22:09] MattGal commented on #2203
Something's definitely awry on dci-mac-build-042.  Someone took it offline and removed its heartbeat from the table so I expect it just got thoroughly horked.

I'll try to connect to it and give a better explanation, but it's clearly dead and not taking work so I would expect whatever caused this problem will not repro on subsequent attempts.

[2019-03-08 22:11] #1982 closed

[2019-03-08 22:38] Anipik commented on #1584
The list of partial facade project is
- [ ] System.Collections.ConcurrentSystem.Buffers
- [ ] System.Collections
- [ ] System.Diagnostics.StackTrace
- [ ] System.Diagnostics.Tools
- [ ] System.IO.FileSystem
- [ ] System.Memory
- [ ] System.Numerics.Vectors
- [ ] System.Reflection.TypeExtensions
- [ ] System.Runtime.InteropServices
- [ ] System.Runtime
- [ ] System.Runtime.Extensions
- [ ] System.S

[2019-03-08 22:38] MattGal commented on #2203
I got on the machine for a bit but couldn't find anything useful.  The main Helix log starts @ 3/7/2019 @ 1:43 PM for unknown reasons and from grepping the available logs no mention of the outcome of unzipping 93e4958d-cdc7-4c22-b708-851fff898a47.zip.

@ilyas1974 _might_ be able to look this up if someone created a ticket for it, but otherwise you may as well close this as it's a rogue machine pro

[2019-03-08 22:59] hoyosjs commented on #2203
The main issue is we keep getting the same machine on all our testing for No-tiered, checked OSX testing.

This is for the release 3.0 branch 2: https://github.com/dotnet/coreclr/pull/23110/checks?check_run_id=74602787

I tried manually doing it and I get the same machine as well. Regardless of closing the PR, making a new one, or re-triggering.

[2019-03-08 23:01] hoyosjs commented on #2203
As for the mlskvmweb, it's the instructions I get from the repro tool on mc. Tells me to go to that site to look for the resource.

[2019-03-08 23:05] riarenas commented on #2203
I see some workitems succeeded in the jobs from that build on different machines. As long as the machine was in rotation I would definitely expect some of the workitems to be picked up by the rogue machine and fail with the exact same error, but now that the machine is gone from that queue, I would be really surprised if it took any work. Did you retry the job and saw that dci-mac-build-042 took f

[2019-03-08 23:06] MattGal commented on #2203
Ah I didn't realize it was still taking work but not heartbeating.  Looks like some kind of wacky DNS stuff.  It's directly offline for real now and is clearly a very troubled machine.

The thing about a broken machine is that it does what it does with work items WAY faster than one that actually, you know, does stuff.  Not much we can do about that other than identifying the bad machines and taki

[2019-03-08 23:07] riarenas commented on #2203
Ah, I see Matt found that the machine was still there sporadically. Hopefully subsequent builds won't hit the same problem.

[2019-03-08 23:10] hoyosjs commented on #2203
I'll let it run again and verify. Thanks! I'll close this issue tehn.

[2019-03-09 00:10] #2084 closed

[2019-03-09 01:13] hoyosjs commented on #2203
This issue was moved to dotnet/core-eng#5441

[2019-03-09 01:13] #2203 closed

[2019-03-11 14:07] jaredpar opened #2212 "Testing documentation"
Is there an MD file that explains how testing works in arcade? Essentially one that calls out you can do `dotnet build /t:Test` and the like? Wanted to take a look at it, possibly update it with some scenarios that I've found useful.

[2019-03-11 14:45] jcagme commented on #2212
Perhaps @garath knows if that exists and where is it?

[2019-03-11 16:35] tmat commented on #2212
The build properties applicable to testing are documented here:
https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#skiptests-bool

What scenarios?

[2019-03-11 16:38] jaredpar commented on #2212
Mostly how to run a single class or method.

[2019-03-11 16:39] tmat commented on #2212
I see, that would be via `/p:TestRunnerAdditionalParameters`, right?

[2019-03-11 16:40] jaredpar commented on #2212
Dunno. Haven't tested yet. That's why I was looking for the docs 😄

[2019-03-11 17:36] garath commented on #2212
It's not the first time we've had questions on how Arcade handles tests. Some scenario-based docs would provide clarity.

[2019-03-11 18:02] ericstj commented on #1584
This is a reasonable start: we'll need to be able to handle an explicit list of files as well as #defines since that's how these projects actually build.  That should just be some simple plumbing into the task.  How were you envisioning getting the information from the reference projects?

[2019-03-11 18:03] chcosta opened #2215 ""darc add" should use existing Versions.props propertygroup"
If you add a dependency to a repo using `darc add`...

`> darc add -n Microsoft.DotNet.PlatformAbstractions -t toolset -r https://github.com/dotnet/core-setup`

... it creates an entry in `$(RepositoryEngineeringDir)Versions.props`...

[code]

If the repo already had an entry, there are now two entries, with the latter entry being empty...

[code]

Now, when you run `darc update-dependencies`, you

[2019-03-11 18:04] JohnTortugo commented on #1988
I was able to get the first few fully automated publishing (build from arcade build-def, called maestro-int and publish to my azure feed) using the new infra. I added new test cases to the issue's description; once I finish those I'll consider this tested/validated. @riarenas if you have time please let me know if you can think of more test cases.

[2019-03-11 18:36] MattGal commented on #1965
@johntortugo can you explain why you put this in the FR epic?

[2019-03-11 18:43] JohnTortugo commented on #1965
Not sure @MattGal . Today it looks more like an Arcade issue though.

[2019-03-11 18:53] Anipik commented on #1584
The version that I wrote for arcade takes in just the list of files.

I didn't thought if this subcase. but I will come up with something for this.

I am sticking to the current method to extract the types from reference assembly https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.GenFacades/GenFacades.cs#L59 and reference projects https://github.com/dotnet/arcade/blob/master/src/Mic

[2019-03-11 18:57] ericstj commented on #1584
I see, got it!

There should be a way to get these out of roslyn too.   Test out what happens when someone does this so it isn't something bad like silently allowing duplicate type-forward attributes.

[2019-03-11 19:50] Anipik commented on #1584
So these are treated as attributes by the C# analyser and I was able to parse them accordingly

there is CsharpOptions available in which we can provide the list of constants. By default all constants are treated as false

[2019-03-11 21:30] markwilkie commented on #2212
@jonfortescue - any chance you could shed some light here?  Perhaps some doc upgrades might be in order?

[2019-03-12 00:14] jcagme opened #2219 "[Maestro] When PR description is longer than 4000 PR update/creation fails"
We saw this in an exception in App Insights. Decision was to update the description only with the contents of the last commit.

We should also check the length regardless of the change to make sure it still is not longer than 4000

[2019-03-12 00:27] jaredpar opened #2220 "Quiet restore doesn't respect nodeReuse"
When restoring via `Build.proj` the argument nodeReuse is not respected outside CI. Outside of CI the build defaults to using a quiet restore and hence shells out to MSBuild vs. using the MSBuild task. In doing so the nodeReuse argument originally passed to MSBuild [is lost](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Build.proj#L201).

[code]

This is very p

[2019-03-12 00:43] tmat commented on #2220
We should kill quiet restore. New NuGet doesn't spew that much output anymore.

[2019-03-12 15:45] MattGal commented on #1965
OK with no FR details or followup for us, I am removing the epic tag;  please ping me if you feel this was in error.

[2019-03-12 17:40] JohnTortugo opened #2223 "Automate MAC package signing"
Look how feasible it is, an if possible implement, the automatic triggering of Sign-OSX Packages build after OSX packages are produced.

From @leecow

[2019-03-12 18:55] mmitche opened #2225 "[Maestro/Darc] Add ""

[2019-03-12 18:59] mmitche opened #2226 "[Maestro/Darc] Add "time to flow" metric"
Surface a metric somewhere where we combine the existing subscriptions with build data per repo to project what the minimum time to coherency will be for a given change.

This should take into account downstream time to coherency.  For example, a core-setup change causes incoherency in aspnetcore, extensions, etc. which will need to shake out before we can call the build coherent again.

[2019-03-12 19:35] JohnTortugo opened #2227 "Patch dependency injection mechanism for Maestro DependencyUpdater & ReleasePipelineRunner"
The way BARContext is inserted into DependencyUpdater and ReleasePipelineRunner today is through IoC to [the class constructor](https://github.com/dotnet/arcade-services/blob/1454160d212e1ccb2e00cb2911a1315e6b893938/src/Maestro/DependencyUpdater/DependencyUpdater.cs#L46). The problem here is that the RunAsync methods of these services never return and therefore the BARContext object is never reloa

[2019-03-12 20:41] jcagme commented on #2225
What should we add? :)

[2019-03-12 20:52] #1994 closed

[2019-03-12 22:14] mmitche commented on #2225
What!? there was a complete issue here.

[2019-03-12 22:15] mmitche commented on #2225
Oh, it somehow submitted twice.

[2019-03-12 22:15] #2225 closed

[2019-03-12 22:21] #1988 closed

[2019-03-13 00:01] jcagme opened #2231 "Document the graph generation process"
With https://github.com/dotnet/arcade/commit/6a381e9538a9309261032b401bc475dedb6e6bc9 we provide the ability for every official build to generate graph information in the form of files and put them in the artifacts of the builds.

Since this is an opt-in feature we need to document how to enable it in case repo owners want to include this in their builds.

/cc: @garath

[2019-03-13 01:11] wli3 opened #2233 "Version Prefix number cannot go over 655"
If VersionPrefix is _1.1.2000_ . It will fail with error “The specified version string does not conform to the recommended format - major.minor.build.revision”

Since https://github.com/dotnet/arcade/blob/c663d007ca7e1fcda2da21d807acb59799963f82/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.targets#L31

And file version patch has range of 0-65535

The minimal solution should allow setting custom F

[2019-03-13 01:25] tmat commented on #2233
I do not understand the goal. The CLR stack versioning is documented here: https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Versioning.md You should not be inventing your own versioning scheme.

[2019-03-13 01:30] wli3 commented on #2233
How can i automatic increase release build version number without manual bump in this versioning scheme?

[2019-03-13 01:31] tmat commented on #2233
Why would you want automatic increase?

[2019-03-13 01:31] wli3 commented on #2233
i don't want to bump manually

[2019-03-13 01:32] tmat commented on #2233
Why would you need to bump manually every build?

[2019-03-13 01:59] nguerrera commented on #2233
Separately, we have a hard requirement for revision > 655. We're shipping 2.1.700 soon. (2.1 isn't on arcade, but did repo toolset have the same problem,)

Not everything in the stack has the same versioning scheme. See https://docs.microsoft.com/en-us/dotnet/core/versions/

[2019-03-13 02:00] wli3 opened #2234 "Version scheme that fit small app"
Our current [version scheme](https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Versioning.md) does not fit for small app. [dotnet suggest](https://github.com/dotnet/command-line-api/tree/master/src/System.CommandLine.Suggest) for example and likely many global tools.

The current scheme does not support automatic release version bump for every build. For small repo or repo wi

[2019-03-13 02:00] wli3 commented on #2233
(different thread for version scheme issue https://github.com/dotnet/arcade/issues/2234)

[2019-03-13 02:13] wli3 opened #2235 "Block repacking on global tools"
When PackAsTool=true.

https://github.com/dotnet/arcade/issues/2234 make me realize the current way to support "ship any time" is to use repackage to have "with suffix" and "without suffix" nupkg. And since the embedded then signed shim version need to be the same as the package version, this will produce invalid global tools. We should discuss a long term solution, however, we should block this f

[2019-03-13 02:13] wli3 commented on #2235
cc @livarcocc @KathleenDollard

[2019-03-13 17:04] #2227 closed

[2019-03-13 17:05] JohnTortugo opened #2239 "Make Maestro++ know about the opt-in option of publishing using pipelines"
The publishing using pipelines mechanism for opt-in is based on build definition variables, that works fine for the builds. However, Maestro++ doesn't have access to that information (variable) and will try to run pipelines associated with channels for every build that finishes - independently of the repo from the build having opted in publishing using pipelines or not.

[2019-03-13 17:09] JohnTortugo opened #2240 "Write documentation for new publishing mechanism"
Write some documentation about: how to opt into using it, how it works, etc.

[2019-03-13 17:48] nguerrera commented on #2233
cc @dotnet/dotnet-cli @markwilkie

[2019-03-13 20:09] jcagme opened #2242 "Cleanup AzDo's not normalized URLs"
After the work done in https://github.com/dotnet/arcade-services/pull/204 we need to clean AzDO URLs in the DB and in the source repos.

Currently the only internal repo in this state is "dotnet-optimization" and is only referenced in corefx and coreclr.

PRs:

https://github.com/dotnet/corefx/pull/36020
https://github.com/dotnet/coreclr/pull/23236

[2019-03-13 20:14] jcagme opened #2243 "eng/common files not pushed to AzDO repos as part of dependency flow"
For AzDO repos version files are been updated with new versions correctly but files under `eng/common` are not been updated. This only happens on AzDO repos.

[2019-03-13 20:16] markwilkie commented on #1948
Closing based on no comments.  Feel free to open again @Tratcher if need be.

[2019-03-13 20:16] #1948 closed

[2019-03-13 20:17] markwilkie commented on #1965
@jcagme  - what are the next steps here?

[2019-03-13 20:19] markwilkie commented on #2116
Any suggestions @ViktorHofer ?

[2019-03-13 21:13] jcagme commented on #1965
I don't know what's the latest from @wli3. We could update the version although I don't know why would we take a dependency on a RTM package.

[2019-03-13 21:27] MattGal commented on #2125
Do you have suggestions as to how  one could zip up a folder containing a file that is actively being written to on Windows?  The only thing I can imagine is to move the entire artifacts folder...

[2019-03-13 22:29] jorive commented on #2125
Ideally Helix would support "run commands", where it might be something like `git clone` and `run some command in the repo`. Optionally, can we send the entire repo? Maybe as a zip file? The repo is not your standard dotnet repo.
The performance repository builds in slightly over one minute vs. few hours to build/run all benchmarks. The gain and complexity in trying to split the build/run steps pr

[2019-03-13 22:46] jcagme opened #2244 "[Maestro]Fix batchable PRs title"
Batchable subscription missing spaces on PR title. For example in https://github.com/aspnet/AspNetCore-Tooling/pull/328 the title is "[master] Update dependencies from dotnet/corefxdotnet/core-setup"

[2019-03-13 22:47] jcagme commented on #2244
FYI @mmitche

[2019-03-13 22:53] alexperovich commented on #2125
We could add a configurable set of exclusions for the DirectoryPayload that could be used to ignore the binlog file.
If you want to do 'git clone <perf-repo> && run command' in your helix work items that is also supported. Construct a script file that contains the commands and include that as your payload.

[2019-03-13 23:10] alexperovich opened #2246 "[Helix] AzDev reporter failure doesn't fail the work item."
From this build: https://mc.dot.net/#/user/WinUI/pr~2Fwinui~2Frefs~2Fpull~2F420~2Fmerge~2F/test~2Fproduct~2F/5924.x64.release/workItem/ApiTests.ColorPickerTests/wilogs

The xunit reporter is failing, but the work item isn't reporting that failure.

The failure of xunit reporter needs to cause the work item to fail.

[2019-03-13 23:13] alexperovich opened #2247 "[Helix] AzDev reporter fails sometimes with a missing module"
From this build: https://mc.dot.net/#/user/WinUI/pr~2Fwinui~2Frefs~2Fpull~2F420~2Fmerge~2F/test~2Fproduct~2F/5924.x64.release/workItem/ApiTests.ColorPickerTests/wilogs

the xunit reporter is failing because the 'typing' module is missing.

[2019-03-14 02:35] vatsan-madhavan opened #2248 "Native Bootstrapping stops and aborts further processing when it encounters a tool without an executable"
See [init-tools-native.ps1#L102](https://github.com/dotnet/arcade/blob/decb1a9f14cf07f34e6b42057409ebfd8929a0fc/eng/common/init-tools-native.ps1#L102)

When multipe natve toolsets are specified in global.json, and the first toolset doens't have an executable in it, [eng\common\native\install-tool.ps1](https://github.com/dotnet/arcade/blob/decb1a9f14cf07f34e6b42057409ebfd8929a0fc/eng/common/native/

[2019-03-14 15:38] tmeschter opened #2250 "Split resource assemblies into their own VSIXs automatically"
Several repos, including dotnet/roslyn, ship their resource assemblies by just including them in the main VSIX they insert into the VS build. This works and is reasonably simple but means customers get resource assemblies for languages they don't care about. This incurs some time and disk space cost when downloading and installing the extra assemblies.

It would be very helpful if Arcade could aut

[2019-03-14 15:38] tmeschter commented on #2250
@tmat FYI.

[2019-03-14 15:42] mmitche opened #2251 "[Maestro] FSharp builds not being automatically assigned to channels"
darc get-default-channels shows:

[code]

But builds of this branch are not being automatically assigned:

https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=2493477

This may have something to do with fsharp building directly off of github.

[2019-03-14 15:46] mmitche commented on #2251
/cc @jcagme

[2019-03-14 15:57] mmitche commented on #2251
I'm 90% sure this is the exception thrown on this operation:

https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_OperationsManagementSuite_Workspace/AnalyticsBlade/initiator/AnalyticsShareLinkToQuery/isQueryEditorVisible/true/scope/%7B%22resources%22%3A%5B%7B%22resourceId%22%3A%22%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fmaestro-prod-

[2019-03-14 15:58] mmitche commented on #2251
[code]

/cc @alexperovich

[2019-03-14 16:04] jcagme commented on #2251
This https://github.com/dotnet/arcade-services/pull/237 fixes this issue. When storing the build we are saving async but we are not awaiting so basically there is a race condition

[2019-03-14 16:21] mmitche commented on #2251
@jcagme Thanks. I'm also adding a scenario test case for this

[2019-03-14 16:44] jcagme opened #2252 "[Maestro++] Dependencies not flowing to some target repos"
We've found that there are some repos which are not getting dependencies updated by Maestro. In some cases it seems that the subscriptions are not triggered in others the flow begins but there is no PR created.

Apparently this happens randomly and there is no clear pattern.

So far, the approach we've taken is to add more logging hopping that will shed more light.

Potential fix here: https://git

[2019-03-14 16:47] jcagme opened #2253 "[Maestro] Fix AppInsights exceptions"
After adding more logging we see more exceptions been logged in AppInsights. This was done in the attempt of fixing https://github.com/dotnet/arcade/issues/2252

We need to fix these exceptions so we either fix the original problem or clean things up so the root cause unveils.

[2019-03-14 16:47] jcagme commented on #2253
https://github.com/dotnet/arcade-services/pull/237

[2019-03-14 18:29] #2121 closed

[2019-03-14 18:30] #2188 closed

[2019-03-14 18:30] #2242 closed

[2019-03-14 18:36] #2253 closed

[2019-03-14 20:19] JohnTortugo opened #2254 "Investigate what happened with these PRs"
These two PRs got into a weird state where they seem to have imported only part of the base branch:

https://github.com/dotnet/arcade-services/pull/236
https://github.com/dotnet/arcade-services/pull/237

we need to get a better understanding about what happened here.

/cc @jcagme @ChadNedzlek @alexperovich

[2019-03-14 20:19] tmat commented on #2233
What components don't? The Arcade versioning scheme does not apply to Major, Minor and Patch versions. Those are chosen by each component and not required to be the same across the stack.

@nguerrera Overflowing 655 for Path is an unforeseen issue :(. Currently we calculate
the 3rd component of file version like so: `PATCH` * 100 + `yy`. I think the solution would be to change this to `PATCH` * 10

[2019-03-14 20:48] JohnTortugo opened #2255 "Make builds inform PushMetadataToBuildAssetRegistry about their decision on PublishUsingPipelines"

[2019-03-14 20:56] #16 closed

[2019-03-14 20:56] #1373 closed

[2019-03-14 20:56] #1955 closed

[2019-03-14 21:05] nguerrera commented on #2233
My brain hurts. How much money have we spent on this 16-but limitation.

Does that work for the patch version already being 100 in SDK 3.0.100?

[2019-03-14 21:15] tmat commented on #2233
Yeah, it's terrible :(

Is it already 100?

[2019-03-14 21:16] tmat commented on #2233
If it's already 100 then we need to change +20 to +100

[2019-03-14 21:29] nguerrera commented on #2233
SDK versions are always x.y.100+. The reason is that if we went back to 3.0.0, then as soon as we needed a new VS release, everyone would go back and complain that the versions should all be the same. So we don't reset to 0, we reset to 100.

[2019-03-14 21:31] tmat commented on #2233
I see. Ok. We can do +100.

[2019-03-14 21:34] tmat commented on #2233
Actually, this won't work. Hmm :(

[2019-03-14 21:42] tmat commented on #2233
Better approach:

`FILEPATCH` = `yy` * 2000 + `PATCH`

Can we limit PATCH to < 2000?

[2019-03-14 21:46] nguerrera commented on #2233
I don't know why we said "This situation isn't expected to occur". We'll be at 800 soon. 1000 is definitely possible. 2000 is not far enough for me to say never.

[2019-03-14 21:48] tmat commented on #2233
Hmm, I don't know how to fit this then. Maybe we need to overflow the patch number to the minor version in the file version format.

[2019-03-14 21:49] tmat commented on #2233
`FILEMAJOR` = `MAJOR`
`FILEMINOR` = `MINOR` * 100 + PATCH / 100
`FILEPATCH` = (`PATCH` % 100) * 100 + `yy`

[2019-03-14 21:51] tmat commented on #2233
I think this would actually be best - it's compatible with the current format and easy to reason about.

[2019-03-14 21:51] nguerrera commented on #2233
That works. And we can still see the real version in informational version. File version just has to be increasing in predictable way at the end of the day.

[2019-03-14 22:25] #2255 closed

[2019-03-14 23:11] #2239 closed

[2019-03-14 23:25] JohnTortugo opened #2258 "Let the build specify the target feed for the publishing pipeline"
Let the build/SDK specify the target static feed for the publishing pipeline. The target will be informed as a property of the build manifest.

[2019-03-14 23:58] MattGal opened #2261 "Support something like "ReportedHelixTargetQueue" in Arcade Helix SDK"
https://github.com/dotnet/arcade/blob/a1b24d2591cac827ce893c2a757771f42d24a5d8/src/Microsoft.DotNet.Helix/Sdk/tools/Microsoft.DotNet.Helix.Sdk.MonoQueue.targets#L37

Some places like .NET Mission Control use this operatingsystem property to report the Helix QUeue Id.  Previously users could set this property bag value to whatever they'd like.

I'm thinking of something like:

- Have a new property

[2019-03-15 00:14] jashook opened #2262 "Microsoft.DotNet.Build.Tasks.Packaging throws missing method exception on .Net Core 3.0"
[code]

This will block dotnet/coreclr from updating to a 3.0 sdk. /cc @RussKeldorph @janvorli @sbomer

[2019-03-15 00:15] jashook commented on #2262
/cc @alexperovich this is the issue we discussed.

[2019-03-15 00:17] jcagme commented on #2262
This was fixed by @ericstj with https://github.com/dotnet/arcade/pull/2165. Can you confirm you Arcade version?

[2019-03-15 00:26] jcagme commented on #2262
`1.0.0-beta.19128.2` is kinda old. Latest we have available in Arcade is `1.0.0-beta.19162.7`. I see this hasn't been updated in a while and that there's a coreclr subscription to get updates pushed to the release/3.0 branch but it has no `updateFrequency` set so things won't flow. You could run `darc update-dependencies -c ".NET Tools - Latest"` and that would make your local repo up to date, and

[2019-03-15 01:02] tmat commented on #2234
**Proposal**

Allow projects to opt-in to _release only_ versioning by setting property `RelaseOnlyVersioning` to `true`. If the property is set the assembly, file and package versions are calculated as follows:

- `AssemblyVersion` := `MAJOR`.`MINOR`.`BUILD_NUMBER_HI`.`BUILD_NUMBER_LOW`
- `FileVersion` := `AssemblyVersion`
- `PackageVersion` := `MAJOR`.`MINOR`.`BUILD_NUMBER`

where
- `R` is the n

[2019-03-15 01:10] nguerrera commented on #2234
For build tasks, I want that AssemblyVersion and FileVersion, but I don't necessarily want to make every package build stable. Can we decouple those two requirements/options?

[2019-03-15 02:02] jashook commented on #2262
Thanks will try this when I have the chance

[2019-03-15 02:02] jashook commented on #2262
Closing for now

[2019-03-15 02:02] #2262 closed

[2019-03-15 05:11] dougbu commented on #2234
I'm still getting up to speed here and am wondering:
- How will / should this affect aspnet/AspNetCore, a repo that doesn't use the Arcade SDK?
- Does any of this affect our existing patch branches i.e. `release/2.1` and `release/2.2`?

FYI I think this proposal matches what ASP.NET does in our release/2.x branches e.g. https://github.com/aspnet/Extensions/blob/release/2.1/version.props#L13-L27

[2019-03-15 15:25] #2233 closed

[2019-03-15 15:36] tmat commented on #2234
@dougbu This does not not change the the Core versioning scheme used by default and also implemented in the props file you mention. This is a versioning method of assembly, file and package versions that is only applicable to global tools and build tasks.

I don't think it affects 2.x at all. It's just a new method that will be available for repos that subcribed to the latest Arcade.

[2019-03-15 15:44] tmat commented on #2234
Yes, let's do that.

How about properties:
`AutoGenerateAssemblyVersion` and `ReleaseOnlyPackageVersioning`, both true by default when `PackAsTool` is true.

[2019-03-15 15:48] nguerrera commented on #2234
A default on PackAsTool may break existing tools. Maybe this should just be recommended approach for tools.

[2019-03-15 16:08] tmat commented on #2234
OK, we can start with not defaulting for global tools.

[2019-03-15 16:11] nguerrera commented on #2234
This looks incorrect. The package version should be distinct in this case too and shouldn't have 4 parts.

[2019-03-15 16:12] tmat commented on #2234
Yes. Updated.

[2019-03-15 16:17] nguerrera commented on #2234
I think BASE_DATE should be configurable and default to 190000. This way folks can set it to today's date when they bump major or minor version if they are concerned by the aesthetics of release package versions with many digits.

[2019-03-15 16:43] robertborr opened #2264 "Network build failures in 'official/dotnet/arcade/refs/heads/master' - '20190314.126'"
@dotnet-mc-bot commented on [Thu Mar 14 2019](https://github.com/dotnet/core-eng/issues/5498)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=124948
  - **Agent:** Hosted VS2017 2
  - **Error log:** error: remote unpack failed: error VS403654: The push was rejected because it might contain credentials or

[2019-03-15 16:47] alexperovich commented on #2264
@robertborr this actually looks like a dotnet/corefx source code issue. The code in this commit https://github.com/dotnet/corefx/commit/2e006bb1a471d2b75d1bbae282241d15da388899 triggered AzDev to flag the commit as having credentials.

[2019-03-15 16:54] robertborr commented on #2264
interesting. thanks. I'll ask corefx and move it if they agree.

[2019-03-15 17:08] robertborr commented on #2264
per corefx team
There’s no problem here.  The only “credentials” in that commit are made up “rightusername” and “rightpassword”, that the test is just validating get passed along to itself.  Any flag on this is a false positive.

[2019-03-15 17:26] tmat commented on #2234
Yes, we can make BASE_DATE configurable.

[2019-03-15 17:42] #2168 closed

[2019-03-15 17:43] nguerrera commented on #2234
OK, LGTM :)

[2019-03-15 20:43] JohnTortugo opened #2266 "Make publish pipelines recognize package type for each individual package"
More details are here: https://github.com/dotnet/arcade/pull/2259#issuecomment-473322395

Basically, the build manifest should record the type of each package so that the publishing pipeline will recognize that type as an identifier for the target feed to be used.

/cc @mmitche

[2019-03-15 21:05] markwilkie commented on #1965
@wli3 - thoughts on next steps?

[2019-03-15 21:07] markwilkie commented on #2036
@chcosta  - you mentioned an update by mid-March?

[2019-03-15 21:08] markwilkie commented on #2038
Thoughts @rainersigwald ?

[2019-03-15 21:10] markwilkie commented on #2100
@Chrisboh - do you think this should live in the new telemetry epic?

[2019-03-15 21:11] markwilkie commented on #2112
@mmitche - did this get addressed w/ your latest PR?

[2019-03-15 21:14] markwilkie commented on #2116
@ViktorHofer - I'm going to close this for now given the non response.  However, please don't hesitate to reopen it.  I would ask that if you do reopen, please add the specific scenarios you're trying to address.

thanks

[2019-03-15 21:14] chcosta commented on #2036
Yes, didn't circle back here (there are a few issues around this particular area), but @anurse 's work and my own investigations show that errors do flow back if you use the proper vso annotations for reporting errors.

[2019-03-15 21:17] markwilkie commented on #2118
@mattgal - I'm still not seeing where the original PR was rejected.  I'd like to start there so we can better understand the next step.  For example, what's the downside of simply merging your PR?

[2019-03-15 21:20] tmat commented on #2116
Reopening. This change was checked in without review. @ViktorHofer can you describe the scenario?

[2019-03-15 21:20] markwilkie commented on #2125
@adiaaida - Do you have any insight here?

[2019-03-15 21:20] dagood commented on #1985
VersionTools was added to Arcade by https://github.com/dotnet/arcade/pull/2213. You should be able to move to that now.

[2019-03-15 21:21] mmitche commented on #2112
No.  This has yet to be implemented.

[2019-03-15 21:26] markwilkie commented on #2144
@ChadNedzlek - did this get assigned to FR already in core-eng?

[2019-03-15 21:27] markwilkie commented on #2161
@jonfortescue / @Chrisboh  - you guys aware of this?  Thoughts on next steps?

[2019-03-15 21:28] markwilkie commented on #2167
@mmitche - is this part of your current PR?

[2019-03-15 21:29] markwilkie commented on #2212
@jonfortescue - ping

[2019-03-15 21:29] Chrisboh commented on #2100
Yes and I have added it to the Epic.

[2019-03-15 21:30] ChadNedzlek commented on #2144
I think I already did this, but Matt has some rule that only things in core-eng can be in FR... which is going to get weird when arcade is involved. We might need to revisit.

[2019-03-15 21:30] ericstj opened #2267 "DeployToSymStore failure won't always fail the build"
DeployToSymStore is sequencing itself AfterTargets="Pack".  If Pack is the entry point target this will hit https://github.com/Microsoft/msbuild/issues/3345.  We've been sequencing targets differently to avoid this.

[2019-03-15 21:31] ChadNedzlek commented on #2144
Fixed by #2216

[2019-03-15 21:31] #2144 closed

[2019-03-15 21:31] mmitche commented on #2167
Nope

[2019-03-15 21:36] Chrisboh commented on #2161
We can add support for TRX files into Helix and get that work scheduled.  @pakrym I do wonder though is [this](https://github.com/spekt/xunit.testlogger) something that would meet your needs?  According to @alexperovich you can just drop this with your run and it will produce the xunit output we would need.

[2019-03-15 23:40] safern commented on #2261
What about if people are using multiple helix target queues? How do you specify this property as a build property? I think the Helix SDK rather than adding a property should parse the friendly name.

[2019-03-18 15:43] #2258 closed

[2019-03-18 16:11] MattGal commented on #2118
I don't know of any downside, it was a direct port of the same file from the repo that this code was copy/pasted from after getting fixed.

[2019-03-18 16:24] MattGal commented on #2261
It's easy to tell from the output that actually exists HelixTargetQueue is always a singular property, otherwise you'd see OperatingSystem be a value like "Queue1+Queue2+Queue3...".  on Mission Control for such.  My idea was optional and would probably require parsing at a higher layer anyways, the SDK just needs some way to support setting this property bag value.

[2019-03-18 16:42] safern commented on #2261
Yeah. Just wanted to call that out because at this layer of the SDK we already parsed multiple queues into individual queues in `MultiQueue.targets`, so we will need to do some parsing so that people can do `(FriendlyName1)HelixQueue+(FriendlyName2)HelixQueue2` -- this parsing will need to be done at `MonoQueue.targets` because when you pass down only one Queue using `HelixQueue` property, we don'

[2019-03-18 17:54] markwilkie commented on #2118
Who rejected the PR?  If there's nobody, I'd reopen the PR...

[2019-03-18 18:14] zsd4yr opened #2276 "Arcade should create environment variables for Artifacts and Logging directories"
This should act like `Build.SourcesDirectory` where Arcade produces something like `Build.OutputDirectory` and `Build.LoggingDirectory`

[2019-03-18 18:16] zsd4yr commented on #2276
use case:

[code]

where ` /bl:$(BUILD.SOURCESDIRECTORY)\artifacts\log\$(_BuildConfig)\PackSignPublish.binlog` could be simplified and future-proofed to  /bl:$(BUILD.LOGGINGDIRECTORY)\$(_BuildConfig)\PackSignPublish.binlog

[2019-03-18 20:26] JohnTortugo commented on #2223
@leecow just a quick update: this is moving forward, I might get it working today if other issues allow me :-/

[2019-03-18 20:54] zsd4yr commented on #2276
This is already done in Tools.ps1; they should just be made environment variables instead of just creating powershell variables and directories

[2019-03-18 21:00] zsd4yr commented on #2276
Something like
[code]

here: https://github.com/dotnet/arcade/blob/ecda2c265c89b4ffc6fad9659681b3a172ad9c75/eng/common/tools.ps1#L519

[2019-03-18 21:47] tmat commented on #2276
I don't think we should use env variables. If anything VSO variables would be preferable.

[2019-03-18 22:02] JohnTortugo opened #2279 "Fix publishing pipeline opt-in variables definition"
Fix variables definition to prevent build errors like this: https://dnceng.visualstudio.com/internal/_build/results?buildId=126889

[2019-03-18 22:28] markwilkie commented on #1965
Closing based on lack of responses

[2019-03-18 22:30] markwilkie commented on #2036
@rainersigwald - what do you think about next steps here?  (especially based on @anurse 's work)

[2019-03-18 23:53] JohnTortugo opened #2283 "Make ESRP signing logs part of the build's log / artifacts"
Make ESRP signing logs available on AzDO build log/artifacts. Goal here is to make the logs accessible without the need to connect to an agent.

/cc @MattGal

[2019-03-19 00:08] zsd4yr commented on #2276
You use env vars for other purposes. I am not married to implementation; just making suggestions based on prior work in the repo

[2019-03-19 00:42] tmat commented on #2276
We try not to use env variables if possible. I'm not sure you can actually use env variables for this anyways, since they are scoped to the process that sets them and its children. But VSO variables would do.

[2019-03-19 03:32] dagood commented on #2264
Is the CoreFX team expecting to fix the mirror build (work around the false positive) or is core-eng planning to help?

(Last CoreFX commit mirrored was 4 days ago.)

/cc @jcagme if you're looking at general mirroring stuff (or maybe the arcade-validation investigation was one-off)

[2019-03-19 14:22] rainersigwald commented on #2036
I think next steps are to let the aspnet/Extension stuff bake for a little while (week or two?) and if it continues to work without issue, promote it to everyone.

[2019-03-19 16:06] markwilkie commented on #2108
done

[2019-03-19 16:06] #2108 closed

[2019-03-19 16:14] markwilkie commented on #1202
closed - no longer relevant

[2019-03-19 16:14] #1202 closed

[2019-03-19 16:14] markwilkie commented on #1515
fixed

[2019-03-19 16:14] #1515 closed

[2019-03-19 16:27] dagood commented on #1202
The problem still exists exactly the same in arcade-services. I can understand cutting this due to priority though.

[2019-03-19 16:45] riarenas commented on #2264
Should this be re-opened if we're duping these build failures to this one?

[2019-03-19 16:47] robertborr commented on #2264
sorry - I thought it was. my bad.

[2019-03-19 16:48] robertborr commented on #2264
the problem is really a corefx issue though, and they're trying to decide how to handle it.

[2019-03-19 16:51] markwilkie commented on #1202
@mmitche ?

[2019-03-19 16:52] markwilkie commented on #2276
Do AzDO vars work for you @zsd4yr ?

[2019-03-19 16:53] zsd4yr commented on #2276
@markwilkie are these ready-made? How can I refer to them? It could potentially work 😄

[2019-03-19 16:57] anurse commented on #2036
The main "problem" we're seeing right now is that it seems to sometimes just randomly *not work*. There's no error, it's just that some jobs don't show detailed error information. It's not consistent between job either, so I'm not sure exactly what's going on.

No problems have arisen so far due to this though so I think that as long nothing comes up this week, we should definitely promote this in

[2019-03-19 16:59] markwilkie commented on #2276
There's decen docs here:  https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch.  @chcosta is also a good source if you have questions.

[2019-03-19 17:03] mmitche commented on #1202
@dagood There's really minimal overlap between local and remote operations (basically just get dependencies and update dependencies, both of which have different semantics between local and remote.  There's also only a small handful of places that need to handle both cases.

[2019-03-19 17:51] alexperovich commented on #2276
AzDev variables should work for most cases. They show up as environment variables for every build step after the step they are created in.

[2019-03-19 18:38] adiaaida opened #2286 "EnableAzurePipelinesReporter should support non-XUnit results"
The EnableAzurePipelinesReporter should support results from WorkItemCommands in addition to XUnit results.

[2019-03-19 19:19] mikem8361 opened #2287 "Add option to specific additional xunit parameters in runtest scripts"
The corefx test script generator for runtest.sh/RunTest.cmd needs to use an command line option (like --xunit-arguments) instead of as the 4th parameter so all the parameters are not required.

[2019-03-19 20:21] MattGal commented on #2286
Kicking out of FR unless you have a reason that new feature work should go there.

[2019-03-19 20:46] adiaaida commented on #2286
@Chrisboh asked me to put it in FR.

[2019-03-19 20:50] safern commented on #2287
cc: @ViktorHofer

[2019-03-19 20:57] zsd4yr commented on #2276
@markwilkie thanks for the doc link. I'll explore this option.

Closing the issue for now as by-design with alternative solution :)

@alexperovich @chcosta do either of you know if there are already azure devops variables for the artifacts and logging directories?

[2019-03-19 22:32] #2279 closed

[2019-03-19 22:48] tmat commented on #2276
Arcade build scripts do not set VSO variables for artifact dirs.

We set some variables to control dontet cli here: https://github.com/dotnet/arcade/blob/master/eng/common/tools.ps1#L147

We could set `Artifacts.Bin` and `Artifacts.Log` variables in the same way.

[2019-03-19 22:56] #1227 closed

[2019-03-19 23:23] ericstj opened #2289 "APICompat is skipped on incremental build after failures"
Since APICompat is triggered only when CoreCompile runs it won't rerun even if it fails.

To fix this we can emit a file when APIComat fails and have that be appended to the set of inputs to corecompile.  That way when APICompat fails we'll invalidate CoreCompile's up-to-date check.  On success we can delete that file.

[2019-03-20 15:25] mmitche opened #2292 "[Maestro] Dotnet-Trusted not being assigned a default channel"
DotNet-Trusted builds are not getting assigned default channels.

[2019-03-20 15:25] mmitche commented on #2292
/cc @jcagme @riarenas

[2019-03-20 15:52] jcagme commented on #2243
@adiaaida this is now working https://dnceng.visualstudio.com/internal/_git/dotnet-optimization/pullrequest/658

FYI @markwilkie

[2019-03-20 15:52] #2243 closed

[2019-03-20 16:26] adiaaida commented on #2243
@jcagme Thanks so much!

FYI @brianrob

[2019-03-20 17:03] jcagme commented on #2292
I've normalized the "old" values in the DB and running a validation build right now. We still need to figure out why we were not normalizing or not normalizing correctly the data read from DB and matching it to a normalized input.

[2019-03-20 17:17] riarenas commented on #811
I'm going to follow the same approach we follow in dotnet/toolset. I'll create a fake internal package with a static name and that's the one that will be referenced.

[2019-03-20 17:25] adamsitnik commented on #2125
I agree, it would be nice to have a possibility to exclude some subfolders. Maybe with artifacts folder as the default value?

[code]

[2019-03-20 17:31] jcagme commented on #2292
Build succeeded and it was correctly associated to the default channel.

[2019-03-20 17:31] #2292 closed

[2019-03-20 17:38] jcagme commented on #2252
After a myriad of fixes and changes we have not seen this repro any longer. We think the back end service was getting data from a cache which led it to think not all subscriptions needed to be triggered.

[2019-03-20 17:38] #2252 closed

[2019-03-20 18:11] ryanbrandenburg opened #2294 "Add retries to PushToBlobFeed task"
We ran into what appears to have been a [temporary networking issue](https://github.com/aspnet/AspNetCore-Internal/issues/2021) during our blob upload and it failed the build. It would be nice if we could add some retry logic somewhere along the chain of [PushToBlobFeed](https://github.com/dotnet/arcade/blob/334225fbbdb0aa87f793dab0db6b7a78d01baa3d/src/Microsoft.DotNet.Build.Tasks.Feed/src/PushToB

[2019-03-20 18:15] JohnTortugo commented on #2294
Thanks for reporting @ryanbrandenburg , we already have that in our backlog: https://github.com/dotnet/arcade/issues/563. I'll close the current issue in favor of the linked one.

[2019-03-20 18:15] #2294 closed

[2019-03-20 18:19] ryanbrandenburg commented on #2294
Ah, my search-foo is weak! Thanks @JohnTortugo!

[2019-03-20 18:22] jcagme commented on #1789
What does stable mean in this context?

[2019-03-20 18:27] JohnTortugo commented on #1789
This is related to [phase 3 of Matt's plan](https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/AsyncPublishing.md#phase-3---introduce-additional-pipelines-for-internal-and-stable-releases). I understood this would just be a new release pipeline that can identify if packages are stable (based on their version) and push then to a different location other than dotnetfeed. But I'd

[2019-03-20 18:27] jcagme commented on #1789
Got it!

[2019-03-20 18:29] jcagme commented on #2190
Publishing to different locations, right?

[2019-03-20 18:41] JohnTortugo commented on #2190
I updated the issue's description.

[2019-03-20 18:51] JohnTortugo opened #2295 "Update version of Tasks.Feed / Sleetlib in Core-setup"
Looks like Core-setup is using an older version of Sleetlib. It'd be nice to update the repo to use the latest version so we can have profiling information about core-setup publishing.

/cc @jcagme @dagood

[2019-03-20 19:01] jcagme commented on #2295
And for that we should should update Arcade SDK’s DefaultVersions.props to include the latest Microsoft.DotNet.Task.Feed versión there since core-setup doesn’t define a dependency on it hence is not updated through dependency flow

[2019-03-20 19:52] dagood commented on #2295
Maybe I'm misunderstanding, but I don't think changing `DefaultVersions.props` would update the it either, since Core-Setup doesn't use Arcade SDK.

[2019-03-20 19:53] jcagme commented on #2295
Are you still using things from buildtools?

[2019-03-20 19:53] JohnTortugo commented on #2295
@dagood can you educate me and tell where you declare the version of Tasks.Feed used by core-setup? :-)

[2019-03-20 19:59] dagood commented on #2295
I don't know if this version in particular is from buildtools, but it's defined here: https://github.com/dotnet/core-setup/blob/eeb804262c54e7cb288912fb44a826fd31e7b0f2/dependencies.props#L45

More generally, yes. https://github.com/dotnet/core-setup/issues/4788

[2019-03-20 20:15] mmitche commented on #1789
Right, so basically the primary issues are as follows:
- When we have a stable package (e.g. end of release, we stabilize on Microsoft.NETCore.App 3.0.0) the package identity will not change from build to build, even though contents may be different.
- When we have a package identity that doesn't change, we would need to overwrite the feed's current package in order to publish the new one.
- Overw

[2019-03-20 20:52] ericstj commented on #2289
ApiCompat tries to handle this by touching an input file but it doesn't seem to work consistently.

[2019-03-20 21:03] ericstj opened #2297 "Make APICompat friendlier"
Today I had to do the following to demonstrate API Compat usage.

[code]

Some notes.
- [x] By default we should run normal API compat, and not reverse API compat.  Properties should only be required to turn it off, or to enable reverse compat.
- [x] ~~ResolvedMatchingContract is a terrible name.  We should rename it.~~ I've convinced myself I'm OK with this name: contract is good enough and is mo

[2019-03-20 21:10] jcagme opened #2298 "Use the ported version of Microsoft.DotNet.VersionTools"
@dagood ported the VersionTools bits that we used to consume through the `Microsoft.DotNet.VersionTools` package built in `buildtools`. We should now use the ported project instead.

This would also fix: https://github.com/dotnet/arcade/issues/1985

[2019-03-20 22:31] JohnTortugo opened #2301 "Publish to BAR Fails with 500 error when a repo has the same default channel association for both the github and internal azure devops repo"
Reported by @vatsan-madhavan ; a few of his builds failing when interacting with BAR:

https://dev.azure.com/dnceng/internal/_build/results?buildId=129133
https://dev.azure.com/dnceng/internal/_build/results?buildId=129107

Error:
[code]

cc @jcagme @mmitche @riarenas

[2019-03-20 22:40] #2298 closed

[2019-03-20 22:41] jcagme commented on #1985
Fixed by https://github.com/dotnet/arcade/pull/2299

[2019-03-20 22:41] #1985 closed

[2019-03-20 22:48] riarenas commented on #2301
Looking

[2019-03-20 23:21] riarenas commented on #2301
We were hitting exceptions trying to insert the same build/channel id pair into the Database.

@alexperovich helped me track the problem here: https://github.com/dotnet/arcade-services/blob/master/src/Maestro/Maestro.Data/Models/Build.cs#L27 where we look for both the azure devops and Github repos and insert the BuildChannel for both.

WPF has a default channel entry on the arcade branch for both

[2019-03-20 23:23] riarenas commented on #2301
https://dev.azure.com/dnceng/internal/_build/results?buildId=129199 was the first build after I deleted one of the duplicate default channels, and it succeeded.

[2019-03-20 23:27] vatsan-madhavan commented on #2301
What do we lose by not having a default channel for the Github repo?

[2019-03-20 23:31] riarenas commented on #2301
In theory nothing. Only one of them should be needed. However we should not be crashing if both entries exist. I'll be keeping an eye to make sure the correct things are being assigned while I submit the correct fix.

[2019-03-20 23:34] JohnTortugo commented on #2301
Thanks for looking into this Ricardo

[2019-03-20 23:37] vatsan-madhavan commented on #2301
Thanks for resolving this quickly - appreciate it!!

[2019-03-21 00:12] jcagme opened #2303 "[Publishing] Open GitHub issues when something fails while running the publishing pipelines"
We don't have a good way to notify the user when the pipeline which is publishing the packages built  fails. We could open GH issues on the repo we are processing and that will send an email to those who want to be notified. At the same time we might not want to open the issues on the repo we are processing since most likely it's not a product issue. For this we'd need to keep a list of repo owner

[2019-03-21 02:03] vatsan-madhavan opened #2304 "Package signatures are not timestamped"
When restoring recently published packages from the windowsdesktop feed, I see the following error:

[code]

Is there a potential problem with the related build-pool perhaps (`dotnet-internal-vs2019-preview`) ?

![image](https://user-images.githubusercontent.com/20246435/54729768-961e3e80-4b42-11e9-8df4-5297eb95c0b5.png)

/cc @jcagme @mmitche @JohnTortugo

[2019-03-21 14:56] riarenas commented on #2301
Reopening and changed title to track the real fix for this

[2019-03-21 15:00] mmitche commented on #2301
Oh, nice catch.

[2019-03-21 16:38] alexperovich opened #2307 "Update all repos with latest arcade so they show up in BAR visualization"

[2019-03-21 17:20] MattGal commented on #2202
@markwilkie any reason this is closed with no comment?  @safern  and @tannergooding are hitting this, and it's a simple fix (catch the timeout exception and retry).

[2019-03-21 17:21] MattGal commented on #1861
Same issue as #2202, @markwilkie  same question?

[2019-03-21 17:21] MattGal commented on #2202
Reopening to discuss @ triage today

[2019-03-21 17:28] markwilkie commented on #2202
@MattGal - my bad sorry...

[2019-03-21 17:29] markwilkie commented on #1861
yea, sorry again.  I didn't see any activity and jumped to the wrong conclusion without validation my assumptions.  My bad.

[2019-03-21 17:56] riarenas opened #2308 "ReleasePipelineRunner does not trigger dependency updates when it commits a BuildChannel to the DB."
The DB trigger that fires off the DependencyUpdater is scoped to the API.

This means that other services adding the Build to the channel won't fire off the dependency update.

[2019-03-21 18:45] JohnTortugo commented on #2303
Can't we create the issue in Arcade (because publishing stuff come from there) and CC the last non-bot user that committed in the repo where publishing failed?

[2019-03-21 18:49] JohnTortugo commented on #2083
Two options were discussed for solving this.

Short term: make transparent that publishing failed by [creating an issue in Arcade](#2303 ) and Cc'ing the last committer from the repo that failed publishing.

Long term: Looks like using a new feature from AzDO, called Build stages, would make communication of the publishing failure evident. Still need to be investigated.

[2019-03-21 19:51] vatsan-madhavan commented on #2304
Can someone please take a look at this - this is blocking me and I'm not sure how to work around this in builds that consume packages built with these signatures. NoWarn=NU3027 works mostly, but eventually fails anyway during signing like it happened [in this build](https://dnceng.visualstudio.com/internal/_build/results?buildId=129934)

/cc @markwilkie

[2019-03-21 20:01] mmitche commented on #2304
@tmat @JohnTortugo I'm not sure what to make of this.

[2019-03-21 20:06] JohnTortugo commented on #2304
I'm also not quite sure if this is in the scope of SignTool; looks more like something about the certificate itself. Do you know anything about this @joeloff @RickKra ?

[2019-03-21 20:07] tmat commented on #2304
@vatsan-madhavan What is the URL of the feed?

[2019-03-21 20:08] tmat commented on #2304
Never mind, found it.

[2019-03-21 20:11] vatsan-madhavan commented on #2304
https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json

[2019-03-21 20:13] tmat commented on #2304
OT: Why is "GitHub" in the package name?

[2019-03-21 20:19] vatsan-madhavan commented on #2304
It's part of a prototype for a split build between a github repo and an internal repo. the transport package generated from the github repo has 'github' in the name.

[2019-03-21 20:20] tmat commented on #2304
Where is the package build from? It doesn't have `repository` metadata :( It says ProjectUrl = https://github.com/dotnet/wpf but I can't find any projects in the repo that builds Microsoft.DotNet.Wpf.GitHub

[2019-03-21 20:21] vatsan-madhavan commented on #2304
It builds form the _arcade_ branch

[2019-03-21 21:25] tmat commented on #2304
@rrelyea Have you seen an issue like this?

[2019-03-21 21:32] tmat opened #2309 "IBC data XML output paths collide for some assemblies"
[code]

[2019-03-21 21:32] tmat commented on #2309
@jaredpar FYI

[2019-03-21 21:35] jaredpar commented on #2309
Do you have a build link I can look at here?

Wonder how this could happen. My assumption was this isn't an issue because it would require calling ibcmerge in parallel on the same assembly. Which itself would be a bug.

[2019-03-21 21:35] tmat commented on #2309
I think its a different TFM of the same project.

[2019-03-21 21:37] tmat commented on #2309
We are embedding the same IBC data to all flavors of the assemblies built from the same project.

[2019-03-21 21:40] tmat commented on #2309
A quick fix would be to use a random GUID for the XML file name.

A better fix would be to use MVID of the assembly. I think we need to group the trained assemblies by their MVIDs anyways to be completely correct.

[2019-03-21 21:42] jcagme opened #2310 "[Validation ring] Publish packages to int.nugettest.org"
As recommended in https://docs.microsoft.com/en-us/nuget/faqs/nuget-faq#managing-packages-on-nugetorg uploading packages to the INT environment is a good way that things would work once packages are published to nuget.org.

I think we could make this an opt-in feature and teams decide whether they want to test this or not as it might add time to the overall release pipeline.

[2019-03-21 21:50] jaredpar commented on #2309
MVID sounds good. Could essentially emit `<assembly name>-<target framework>-<mvid>.ngen.txt`. Think the target framework would help a bit in debugging on occasion.

Is there a reliable way to get the MVID without loading the DLL?

[2019-03-21 21:54] jaredpar commented on #2309
Perfect. Already referencing SRM. Will use that for MVID.

[2019-03-21 21:55] tmat commented on #2309
Yes, also you can parse TFM attribute from the assembly. We already do that in signtool. you can copy that code. https://github.com/dotnet/arcade/blob/e30b95ef40d37210739019a571509632c57c9668/src/Microsoft.DotNet.SignTool/src/Configuration.cs#L394

[2019-03-21 21:58] joeloff commented on #2304
Is this an internal test certificate perhaps? Otherwise, it's possible that PRSS has a misconfigured timestamp server, in which case you'll need to open an ICM ticket for them to investigate

[2019-03-21 21:59] tmat commented on #2309
`<assembly name>-<target framework>-<mvid>.ngen.txt` sounds good for the final output file. We can use `Guid.NewGuid()` for the temporary XML file. The name does not matter.

[2019-03-21 22:38] JoeRobich opened #2314 "ExtractNgenMethodList fails when EnableNgenOptimizationLogDetails is false"
With EnableNgenOptimizationLogDetails set to false the following error is encountered during builds - [Build Log](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2518991)

[code]

[2019-03-21 22:41] tmat commented on #2314
:(

[2019-03-21 22:41] tmat commented on #2314
@jaredpar

[2019-03-21 22:44] tmat commented on #2314
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/OptimizationData.targets#L143

is missing `Condition="'$(EnableNgenOptimizationLogDetails)' == 'true'"`

[2019-03-21 23:11] rrelyea commented on #2304
Talked with @dtivel -- he is not aware of a case like this happening. PRSS should be properly timestamping things.
(cc'ing @rido-min)

agree with @joeloff that you should have any problem like this investigated, if you had PRSS sign these packages.

[2019-03-21 23:32] rido-min commented on #2304
The package [microsoft.dotnet.wpf.github.4.8.0-preview4.19170.11.nupkg](https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/flatcontainer/microsoft.dotnet.wpf.github/4.8.0-preview4.19170.11/microsoft.dotnet.wpf.github.4.8.0-preview4.19170.11.nupkg) has not been signed with the *oficial* Microsoft cert. I'm wondering if this was produced by PRSS.

[code]

[2019-03-21 23:46] #2314 closed

[2019-03-21 23:56] vatsan-madhavan commented on #2304
@rido-min, that's a great clue!

I found a bug in my pipeline.yml and fixed it here: [70e72bf6](https://dnceng.visualstudio.com/internal/_git/6c03b454-12c7-4c55-add0-b4ac2ab19c36/commit/70e72bf61135df292780c9f76af929f85477245d/).

I was real-signing everything, but for some inexplicable reason I had publishing set to test-signing. I just fixed this and now the package looks right!

![image](https:

[2019-03-21 23:58] vatsan-madhavan commented on #2304
Thanks everyone for pitching in and helping - looks like my immediate problem is solved - and it turned out to be own error :/, though I don't think I'd been able to figure it out on my own.

Now, shouldn't test-signed packages also have consistent time-stamping per Nuget guidelines? Should that be tracked in this issue or as a separate issue, or is that just by-design and not worth tracking at al

[2019-03-22 00:01] rido-min commented on #2304
I dont see any reason to do not include a timestamps in test-signed packages. But I don't know the details/owners of test-sign tasks.

[2019-03-22 00:12] jcagme commented on #2304
@JohnTortugo @tmat thoughts on @vatsan-madhavan comment?

[2019-03-22 00:17] JohnTortugo commented on #2304
I don't know the answer to that. I'll need to loop that through the Microbuild folks.

[2019-03-22 00:17] tmat commented on #2304
Me neither.

[2019-03-22 04:03] joeloff commented on #2304
Timestamping only helps to validate that a file was signed prior to the certificate's revocation time. Without a timestamp, the signature can only be trusted until the revocation time. After that, regardless of when the file was actually signed, you cannot trust the certificate/signature.

The problem is that the timestamp itself needs to be trusted - the time stamp usually have a counter signatur

[2019-03-22 16:23] riarenas opened #2319 "[Arcade-Services] End to End scenario test for Release Pipeline runner"
Add a scenario test for:

* Build gets associated to channel that has release pipeline associated to it.
* Release gets triggered.
* Channel gets assigned once release is completed.
* Dependency updates are processed for a subscription from builds to the channel.

[2019-03-22 18:03] JohnTortugo commented on #2304
@vatsan-madhavan I'm closing the issue as resolved - feel free to reopen it in case you think it's not resolved. If you want ping me in private and I can share more info about how test sign is performed.

[2019-03-22 18:03] #2304 closed

[2019-03-22 18:30] sbomer opened #2321 "Arcade targets override AssemblyOriginatorKeyFile"
When using arcade to publish a project that sets `AssemblyOriginatorKeyFile`, `StrongName.targets` overrides the key file (because arcade imports set a default value for `StrongNameKeyId`): https://github.com/dotnet/arcade/blob/9800953d3b420fd7f81d88c5332df6d1c38e875e/src/Microsoft.DotNet.Arcade.Sdk/tools/StrongName.targets#L35

I believe `StrongName.targets` should not be setting properties as th

[2019-03-22 18:32] sbomer commented on #2321
By the same reasoning, it seems like `StrongName.targets` also shouldn't be overriding `DelaySign` or `PublicSign` in https://github.com/dotnet/arcade/blob/9800953d3b420fd7f81d88c5332df6d1c38e875e/src/Microsoft.DotNet.Arcade.Sdk/tools/StrongName.targets#L18-L21.

[2019-03-22 18:34] markwilkie commented on #2036
What do you think @anurse ?

[2019-03-22 18:45] markwilkie commented on #2118
I think it would be great to continue working towards merging the related PR. (https://github.com/dotnet/arcade/pull/2060)  I don't equate questions with rejecting and this PR likely results in goodness.

For now, I'm closing this issue due to no activity.  BUT, would be super happy to see it reopened.

[2019-03-22 18:45] #2118 closed

[2019-03-22 18:47] markwilkie commented on #2142
@rynowak - would the linked issues Tomas referenced make things "ok" for you?  Trying to reason about the right disposition for this issue and am searching for the right actionable path forward.

[2019-03-22 18:48] markwilkie commented on #2161
Added to the Helix go-live Epic.  Please move as appropriate as I can appreciate how this might be more urgent.

[2019-03-22 18:51] rynowak commented on #2142
It's not incredibly from the linked issues what user experience is being proposed. Ideally I'd like this page to show a clear error message instead of `bash exited with code '1'`:

- Compiler error message
- Test failure output

Something that indicates the actual cause the build failure

![image](https://user-images.githubusercontent.com/1430011/54846312-c4ae2d80-4c98-11e9-9842-7037f874003c.png)

[2019-03-22 18:56] markwilkie commented on #2231
@jcagme - this is (in theory) quick to do?  If so, any chance you could submit a PR?

[2019-03-22 19:00] markwilkie commented on #2250
@tmeschter - Do you know offhand who else this might help?

[2019-03-22 19:01] rainersigwald commented on #2142
That's the goal of those other bugs--to get Arcade back to parity with the vanilla Pipelines experience for build errors (#2036) and to improve the Arcade-specific script errors to play nicely (#2038).

For example, I just hooked up some tests here: https://github.com/Microsoft/MSBuildSdks/pull/75/checks?check_run_id=83161918

and it has pretty readable indications around the test failures:

![ima

[2019-03-22 19:01] markwilkie commented on #2251
@jcagme - can (or should) this issue be closed?

[2019-03-22 19:02] markwilkie commented on #2254
@mmitche - is this still a thing?

[2019-03-22 19:04] markwilkie commented on #2264
@robertborr - has this been resolved?  (I thought I heard it might have been)

[2019-03-22 19:04] jcagme commented on #2231
Wait I thought @garath was the docs dude... Haha, sure, will have something ready by EOD

[2019-03-22 19:05] markwilkie commented on #2309
Looks like this issue might could be closed?

[2019-03-22 19:05] garath commented on #2231
You are probably the best to have the first go. I'm happy to help wiht edits or revisions.

[2019-03-22 19:06] jcagme commented on #2251
Yup

[2019-03-22 19:06] #2251 closed

[2019-03-22 19:06] robertborr commented on #2264
I have not heard of any fixes on this. otoh - I haven't seen any of these failures today.

[2019-03-22 19:14] jaredpar commented on #2309
No still work to do. There were actually two bugs here:

1. The double writes to same files during build. Most likely due to multi-tf builds.
1. The disable logging code didn't fully disable logging.

@JoeRobich fixed the second issue. This one is still tracking the first issue.

[2019-03-22 19:19] mmitche commented on #2254
No idea.  I'm not even quite what "imported part of base branch" means.

[2019-03-22 19:57] JohnTortugo commented on #2254
I can take a look on this in the next days; if now, I guess it will be OK to close.

[2019-03-22 19:59] tmat commented on #2321
Why do you need to set `AssemblyOriginatorKeyFile` in your project? You should be just setting `StrongNameKeyId` and not to an unknown string but to one of the keys provided by Arcade. Do you need to use a key that's not available in Arcade?

[2019-03-22 20:01] tmat commented on #2321
I see you need to use Cecil's key. Does that snk file have public & private key pair?

[2019-03-22 20:10] tmat commented on #2321
This will break `InternalsVisibleTo` generator if you use it in your project. I'd recommend you actually setting the correct values for these properties to avoid future surprises that something doesn't work. The checks are there for a reason.

[2019-03-22 20:11] markwilkie commented on #2142
Thanks @rainersigwald.  Do you have any specifics regarding your quote?  (also adding @alexperovich who I seem to recall did some plumbing work to get Helix reporting better if that's what you're referring to)

[2019-03-22 20:11] wli3 commented on #1965
Sorry for the delay. CLI and SDK repo workaround this issue with painful product change. However, nuget version past 5.0.0-rtm.5821 has a breaking change of moving types. It might still cause problem like build task failure or cross gen that is similar to CLI and SDK repo. So I suggest Arcade to upgrade ASAP in case the problem appear before final release

[2019-03-22 20:15] tmat commented on #2321
Setting `StrongNameKeyId` to empty value is ok as long as you set `PublicKey`, `PublicKeyToken` and `AssemblyOriginatorKeyFile` yourself. This means you are not choosing to use any of the Arcade provided keys.

[2019-03-22 20:20] alexperovich commented on #2142
Yea, Helix tests all report on the Test Tab in the build. If those failures aren't surfaced to the PR in a nice way we should work with AzDev to fix that.

[2019-03-22 20:25] rainersigwald commented on #2142
Looks like this was fixed at some point. https://github.com/Microsoft/msbuild/pull/4162/checks?check_run_id=62585039, for example, lists test failures semi-nicely:

![image](https://user-images.githubusercontent.com/3347530/54850930-7576f580-4cb6-11e9-8ce4-5659376c9175.png)

These aren't Helix tests, just unit tests run in the Arcade-driven build.

One wrinkle: the test failures are only available

[2019-03-22 20:42] tmeschter commented on #2250
@markwilkie This could be of use to any component that ships binaries in VS. The ones I can think of right now are:

- dotnet/roslyn
- dotnet/project-system
- Microsoft/VisualFSharp
- dotnet/interactive-window

[2019-03-22 20:58] tmat commented on #2250
Probably msbuild as well. Essentially everyone who builds localized VSIXes for VS.

[2019-03-22 21:26] sbomer commented on #2321
Thanks, that's what I was missing when I was trying to figure out what these properties were for. We don't use this, but I'll set the `PublicKey` and `PublicKeyToken` in case we ever do.

[2019-03-22 23:57] anurse commented on #2036
Seems to be working fine! Like I said, I believe it does still randomly not wire-up events properly, but no errors.

[2019-03-24 04:38] vatsan-madhavan opened #2327 "Builds failing due to restore failure of recently published packages"
I'm seeing builds fail ([eg](https://dev.azure.com/dnceng/internal/_build/results?buildId=131967&_a=summary)) due to https://github.com/NuGet/Home/issues/3116.

Does the Arcade tools or the Sdk have configuration option to specify `--no-cache` during restore?
Could this be made the default until this bug is fixed by Nuget?

[2019-03-24 04:57] vatsan-madhavan commented on #2327
Just realized that I could do something like this in `eng\configure-toolset.ps`:

[code]

Given this bug is likely to affect all repos at one time or another, perhaps something like this should be the default anyway?

[2019-03-24 18:26] tmat commented on #2327
It'd be simpler to set `RestoreNoCache` in Directory.Build.props.

If restore fails even with this property set then how does it help setting it?

[2019-03-24 19:30] vatsan-madhavan commented on #2327
We set it in dotnet-trusted a while back and it helped, and @rrelyea suggests that it is the workaround to the above problem. Perhaps it offers an improvement even if only an imperfect one.

If you can think of a more reliable solution, I’d be happy to adopt it.

[2019-03-25 14:15] jmarolf opened #2329 "Use PSScriptAnalyzer on this repo"
We should run [PSScriptAnalyzer](https://github.com/PowerShell/PSScriptAnalyzer) on this repo as a way to get some basic ci for the powershell changes that we are making.

CC: @jaredpar 	@tmat

Running this command
[code]

over the arcade repo produced these results:

**Severity**|**RuleName**|**ScriptName**|**Line**|**Message**
:-----:|:-----:|-----:|:-----:|-----:
Warning|PSAvoidUsingInvokeExpre

[2019-03-25 15:05] riarenas commented on #2308
Testing this using int has proven a little painful. Right now I'm trying to investigate why Azure Devops is returning 400 when trying to clean up the artifact sources for a release pipeline.

That shouldn't be affected by this change, so I think it's just because the Int DB doesn't have all the right asset information the release needs, so I'm trying to push a real arcade build to the int DB (but

[2019-03-25 15:36] jcagme commented on #2308
We always deploy to arcade-services INT after every master build. Is that what you meant for the second part?

[2019-03-25 15:38] riarenas commented on #2308
No, I mean having the build, and all its dependencies in INT BAR

[2019-03-25 15:58] tmat commented on #2327
If it helps then feel free to send a PR adding

`<RestoreNoCache Condition="'$(ContinuousIntegrationBuild)' == 'true'">true</RestoreNoCache>` to

https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/DefaultVersions.props#L28

[2019-03-25 16:19] livarcocc opened #2330 "x64 bits do not have strong name signing"
In MSBuild, we have builds for x86 and x64. Our x64 build is available under a amd64 folder.

Our two executables that are binplaced for both x86 and x64 do not have a strong name signature in the amd64 folder.

One build that can be investigated is here: https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=2479361

The files are properly authenticode signed but are missing strong name signa

[2019-03-25 16:26] tmat commented on #2330
Looks like this might caused be caused by check for crossgen'd assemblies.

https://github.com/dotnet/arcade/blob/2e18c1c82f57a7bc4fe864f04ab11608efc9ad4f/src/Microsoft.DotNet.SignTool/src/ContentUtil.cs#L86

The tool likely confuses 64bit assembly with crossgen'd assembly, which we do not strong name sign.

[2019-03-25 16:27] tmat commented on #2330
@JohnTortugo @markwilkie

[2019-03-25 16:27] livarcocc commented on #2330
Please note that this is a blocker bug for 16.0 right now.

[2019-03-25 16:33] markwilkie commented on #2330
ACKing that it's a blocker.  Let me know @JohnTortugo when you know more.

[2019-03-25 16:40] tmat commented on #2330
The log shows that the second msbuild.exe is indeed not queued for strong signing:

![image](https://user-images.githubusercontent.com/41759/54937619-fcf47c80-4ee1-11e9-843a-3e1324010c39.png)

Not sure now about the crossgen'd hypothesis now. The CorFlags of the .exe are 0x9, which means `StrongNamed | ILOnly`.

Does SignTool fail to remove Public Sign from 64bit assemblies?

[2019-03-25 16:54] rainersigwald commented on #2330
Might be a red herring: these files also don't have their .PDB file properly published in the build. I have assumed that that's not related, but since it's also only the x64 .exe's, figured it's worth mentioning in case it rings any bells.

[2019-03-25 17:03] JohnTortugo commented on #2330
Taking a look into this now.

[2019-03-25 17:08] JohnTortugo commented on #2308
Is this a BadRequest error? If it is, usually the response from the server includes the reason for the error. Ping me on teams if you want to talk more about it.

[2019-03-25 17:37] #2231 closed

[2019-03-25 17:43] jcagme opened #2331 "[Publish to BAR] CoreFx official builds failing to publish to BAR"
CoreFx builds are continuously failing to publish to BAR. We think the reason is that somewhere in the step the working folder is changed and is not a Git repo any longer. https://dnceng.visualstudio.com/internal/_build/results?buildId=132574

This is tracked in corefx with: https://github.com/dotnet/corefx/issues/36248

For this to be complete it is needed to:
- [x] Use the `RepoRoot` if provided

[2019-03-25 17:43] jcagme commented on #2331
First check mark: https://github.com/dotnet/arcade-services/pull/274

[2019-03-25 17:52] riarenas commented on #2308
The error message is:

[code]
I was able to unblock this by manually removing the primary artifact source from the release pipeline and then the call (and every subsequent calls) are successful. It looks like this can be an inconsistent state that the release pipeline can get into, but I don't know yet. I'll open a new issue so we can understand this better and safeguard against it, but it's out o

[2019-03-25 18:00] zsd4yr commented on #2276
I would like to have either of these

[2019-03-25 18:13] tmat commented on #2276
@zsd4yr Feel free to send a PR that sets this variables at https://github.com/dotnet/arcade/blob/master/eng/common/tools.ps1#L522

[2019-03-25 19:44] JohnTortugo commented on #2330
Update:

Not able to repro the problem locally yet. I was able to build the repo and get some packages to test locally. In my local setup I see MSBuild being signed with:

[code]

[2019-03-25 19:48] #2327 closed

[2019-03-25 20:05] riarenas commented on #2308
I'm satisfied with the validation of this issue now:
* Added build 209 to BAR-INT
* Default channel 131 got assigned to the build
* [This release](https://dev.azure.com/dnceng/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=3861) was triggered
* Once the release finished, https://github.com/dotnet/arcade-validation/pull/216 was opened, triggered by an everyBuild dependency update.

[2019-03-25 20:30] riarenas opened #2334 "[Arcade-Services] Azure Devops Client RemoveAllArtifactSourcesAsync fails with 400 (Bad Request) response for some release pipelines"
It seems like Release pipelines can get into a state where this call will fail 100% of the time with error:
[code]

As a workaround, deleting the primary artifact from the UI unblocks this call, and it will keep working for subsequent attempts.

I'm unsure what causes the pipeline to get in this state, as I saw it in both an old pipeline I kept for testing, and a pipeline I directly cloned from on

[2019-03-25 21:20] riarenas commented on #811
Focusing on this one again now that the urgent dependency update bug was taken care of.

[2019-03-25 21:20] jonfortescue commented on #2161
Issue moved to [dotnet/core-eng #5655](https://github.com/dotnet/core-eng/issues/5655) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-25 21:20] #2161 closed

[2019-03-25 21:29] jonfortescue commented on #331
@mmitche has recommended making a GitHub app to accomplish this. I think that's the route I'm going to go.

[2019-03-25 22:05] #2331 closed

[2019-03-25 22:09] jcagme opened #2336 "TESTTESTTEST"
Simple test

[2019-03-25 22:09] #2336 closed

[2019-03-25 22:14] jcagme opened #2337 "Release 'Publishing for build 20190325.7 of arcade-official-ci' failed"
Something failed while trying to publish assets in BAR build 1234 to feed 'feed.com'. Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=3867) to check the error logs.
/fyi: @jcagme

[2019-03-25 22:15] #2337 closed

[2019-03-25 22:18] JohnTortugo commented on #2337
Something failed while trying to publish artifacts for [Build 1234670.89](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=3867).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=3867) to check the error logs.

/FYI: @jcagme @JohnTortugo @lastauthor-commit-author

[2019-03-25 22:54] jcagme opened #2338 "Release 'Publishing for build 20190325.7 of arcade-official-ci' failed"
Something failed while trying to publish artifacts for build 'https://dnceng.visualstudio.com/internal/_build/results?buildId=133120'.

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=3867) to check the error logs.

/Last commit by: @jcagme

/fyi: @JohnTortugo @jcagme

[2019-03-25 22:54] #2338 closed

[2019-03-26 04:47] wli3 commented on #2235
Ping. Do you mind if I send a PR to block it?

[2019-03-26 15:06] riarenas commented on #2308
This has been rolled out, and this PR was opened by the everyBuild dependency update flow: https://github.com/dotnet/arcade-validation/pull/220

[2019-03-26 15:06] #2308 closed

[2019-03-26 15:18] riarenas opened #2340 "Automated scenario testing for Maestro++/Darc"
This epic tracks adding automated validation to Arcade-Services

Stage 1: Set up infrastructure and P0 tests (4/12)

* [x] The scenario tests run as part of every Arcade-Services deployment to prevent unexpected breaking changes reaching production.
* [x] Channel management tests
* [x] Adding builds to channels (including default channels) without a release pipeline
* [x] Adding builds to channels

[2019-03-26 16:23] riarenas commented on #811
I see this issue as having two pieces:

1. Allowing repos to subscribe to the newest version of the SDK produced by core-sdk to enable different testing flows whenever a dependency subscription gets triggered. The only blocker for this is that right now core-sdk does not produce a stable asset name that repos can add to their dependencies. Should be unblocked with something like https://github.com

[2019-03-26 16:25] markwilkie commented on #2235
No of course not.  Thanks @wli3

[2019-03-26 16:28] ericstj opened #2341 "Helix submission failing with ArgumentException: Provided Job List Uri is not accessible"
[code]

Hitting this on multiple PRs in CoreFx:
https://github.com/dotnet/corefx/pull/36358#issuecomment-476578520
https://dev.azure.com/dnceng/public/_build/results?buildId=133711&view=logs&jobId=29e7c093-c33b-5b8e-a00b-0e954875c839&taskId=f1035801-25f3-595c-4079-a03464e8f0ad&lineStart=18&lineEnd=31&colStart=1&colEnd=187

Appears to be a server side regression?

/cc @alexperovich @safern @MattGal

[2019-03-26 16:31] MattGal commented on #2341
We're having a separate problem from this right now, but I don't think this is a server-side regression (the code that checks this hasn't changed in years) rather  this is likely caused by mis-generation of the job list URI to have an excessively short timeout.

[2019-03-26 17:06] ericstj commented on #2341
I see.  My assumption about server side was that things started failing with us unrelated to any update to client package, so really just a guess.

[2019-03-26 17:16] MattGal commented on #2341
It's very curious too, since the job list for your builds are actually publicly accessible too (so mis-generated SAS is not likely).  I think it makes the most sense to get the other issue resolved (https://github.com/dotnet/core-eng/issues/5662) before going deeper on this though.  That's rolling out shortly.

[2019-03-26 17:18] #2240 closed

[2019-03-26 18:13] MattGal commented on #2341
that issue is resolved, if you see this going forward we're going to need to dig deeper since the binlogs from the builds you sent do show valid parse-able job lists.

[2019-03-26 18:26] rynowak opened #2345 "ref assembly generation is wrong when inheriting from manually implemented class"
See example here: https://github.com/aspnet/AspNetCore/pull/8811#discussion_r269242361

Moving a type to have it's ref assembly type generated manually caused it to be omitted from the inheritance hierarchy of other types.

Ex:
[code]

Moving `InputBase<T>` to be manual caused the declaration for `InputText` to be generated as `class InputBase : ComponentBase { }`

[2019-03-26 23:07] riarenas opened #2349 "[darc/maestro++] Dependency updates will apply builds in the order they finish, even if an older build finishes last"
This happened today:

[Build 1](https://dev.azure.com/dnceng/internal/_build/results?buildId=133984) started at 12:41:12 PM
[Build 2](https://dev.azure.com/dnceng/internal/_build/results?buildId=134057) started at 1:13:12 PM

Build 1 had a slow signing leg, and finished after Build 2.

Build 2 had already opened a PR to update Arcade-Validation https://github.com/dotnet/arcade-validation/pull/221

[2019-03-27 17:46] sharwell opened #2351 "NUGET_PACKAGES path does not match Visual Studio"
The following line does not end with a trailing `\`:

https://github.com/dotnet/arcade/blob/d37430d5f902154260b1d924d385b16c0929c290/eng/common/tools.ps1#L380

As a result, the `packageFolders` entry in **project.assets.json** changes depending on whether you run a restore operation inside Visual Studio, or via the arcade command line tools.

[2019-03-27 17:49] sharwell opened #2352 "project.restore.configFilePaths differs between Visual Studio and command line"
The following appears when running restore on the command line:

[code]

The following appears when running restore within Visual Studio 2019 RC 3:

[code]

[2019-03-27 19:14] dotnet-mc-bot opened #2353 "TEST TITLE"
DELETE ME

[2019-03-27 19:14] #2353 closed

[2019-03-27 20:49] GasparAcevedoZainSouthworks opened #2354 "[ApiCompat] 'DelegatesMustMatch' does not contemplate different param count"
## Describe the bug
When comparing binaries whose delegates do not match the parameters count, it will throw a `System.IndexOutOfRangeException` in [this line](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.ApiCompat/Rules/Compat/DelegatesMustMatch.cs#L71) while iterating when it compares their names.

## To Reproduce
1. Compare two binaries whose one of their delegates have a d

[2019-03-27 21:16] #2307 closed

[2019-03-27 21:42] tmat commented on #2351
Sounds like a bug in NuGet. I'd expect NuGet normalize the path and trim the ending backslash.

[2019-03-27 21:59] jaredpar commented on #2036
Source for the logger is here https://dev.azure.com/mseng/AzureDevOps/_git/AzureDevOps?path=%2FDistributedTask%2FAgent%2FMSBuild.Logger%2FLoggerHelpers.cs&version=GBmaster

[2019-03-27 22:22] jcagme opened #2357 "[darc/maestro++] Add a new step to validate generate-graph-files.ps1"
In the past week we've been breaking this process by updating the script with a `darc` version that errors for different repos. The same version might work fine for a repo like `arcade` but might fail for `core-sdk`. It could even for the same repo but different commits.

While it would be hard to test all permutations I think that using `core-sdk` is a safe bet since its graph includes all sort o

[2019-03-27 22:41] echesakovMSFT commented on #1613
@josalem @ViktorHofer Can you please tell how far we are from getting this fork published to NuGet?

I have a fix https://github.com/xunit/xunit/pull/1846 that I would like port to the fork and consume the fork version of xunit.console.dll in coreclr when publishing jobs to Helix.

[2019-03-27 22:41] echesakovMSFT commented on #1613
/cc @RussKeldorph

[2019-03-27 22:47] josalem commented on #1613
As far as I'm aware, this should already be available as a pacakge on the NuGet feed that Arcade puts its build outputs in (based on [this doc](https://github.com/dotnet/arcade/blob/master/Documentation/HowToCreatePackages.md)).  It should be in the dotnet-feed NuGet feed.

[2019-03-27 22:48] swaroop-sridhar opened #2359 "Documentation: Fix references to Versioning.md"
There are several references in the documentation to `Versioning.md`, which no longer exists.
We need to fix references to this with appropriate documentation.

[2019-03-27 22:51] billwert commented on #2286
hi @mjanecke any idea on an ETA for this fix?

[2019-03-27 22:52] mjanecke commented on #2286
@billwert I haven't started this yet.

[2019-03-27 22:58] echesakovMSFT commented on #1613
@josalem Thanks!

[2019-03-27 23:09] chcosta commented on #2036
Azure DevOps says they're ok if we want to move the code for the MSBuild Logger to an open source repo or publish / consume a NuGet package of it.

[2019-03-28 14:38] riarenas commented on #811
Part 1 of this issue should be ready. We'll need to wait for a clean build of Core-SDK for the new Microsoft.Dotnet.Sdk.Internal package to be produced so that repos can add a dependency to it.

Still working on updating the global.json sdk versions if they are older than what Arcade is flowing.

[2019-03-28 15:53] jaredpar opened #2366 "Pack can have errors but still pass CI"
Consider the roslyn repository as an example. Clone master, run `Build.cmd -restore -pack` and you will get the following error:

Even so `$lastExitCode` is still `0` and the build passes. This should be failing our build.

[2019-03-28 16:26] #2085 closed

[2019-03-28 16:26] #2330 closed

[2019-03-28 16:30] mjanecke commented on #2286
Hi @billwert, I'm planning on starting this work today. Since this area of our codebase is new to me, I am hoping to have a better understanding of an ETA by tomorrow. Thanks!

[2019-03-28 16:50] JohnTortugo commented on #1881
I'm wondering if we still need `nuget verify` if we run SignCheck. AFAIU SignCheck already perform .nupkg signing validation and much more. What do you think @joeloff @tmat

[2019-03-28 16:51] tmat commented on #2330
@JohnTortugo  What was the issue?

[2019-03-28 16:53] joeloff commented on #1881
Probably not. SignCheck calls into the NuGet APIs to verify the package signature and it will also check the contents inside the nupkg (assuming you're running with -r). Right now for nupkgs it specifically checks that it was signed by PRSS, which it should be if it's something we're producing.

[2019-03-28 17:07] JohnTortugo commented on #2330
Just updating to latest version of SN fixed the problem.

[2019-03-28 17:48] robertborr opened #2368 "Target InitializeStandardNuspecProperties failing due to missing 'RepositoryCommit' property build failures in 'official/dotnet/core-sdk/refs/heads/master' - '20190327.2'"
@dotnet-mc-bot commented on [Wed Mar 27 2019](https://github.com/dotnet/core-eng/issues/5714)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=135987
  - **Agent:** a0000T6
  - **Error log:** F:\vsagent\100\s\.packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.19171.6\tools\Workarounds.targets(0,0): error :

[2019-03-28 17:49] robertborr commented on #2368
ref: https://github.com/dotnet/core-sdk/pull/1134  - same issue happened in that PR

[2019-03-28 17:50] wfurt opened #2369 "corefx build does not work on Alpine (3.9)"
I tried to build corefx on Alpine3.9 to investigate some test failures but it fails on tools:
[code]

The problem is that ilasm does exist but it is not executable:
[code]

when compared to
[code]

The build seems to restore linux-x64 glibc based package instead if linux-musl-x64.

[2019-03-28 18:12] safern commented on #2369
This is because you're not passing the RuntimeOS down on your commands. Try passing down `/p:RuntimeOS=linux-musl`

https://github.com/dotnet/corefx/blob/master/Directory.Build.props#L179
https://github.com/dotnet/corefx/blob/master/Directory.Build.props#L189

Closing as this should be part of corefx since the ilasm tooling is not part of arcade. If you need to reopen, please do so in corefx, but

[2019-03-28 18:12] #2369 closed

[2019-03-28 18:15] wfurt commented on #2369
I check building instructions and I did not find anything about it.
Why build cannot select correct rid?

[2019-03-28 18:20] safern commented on #2369
I don't think we have a good way we're running on a musl platform, do we?

[2019-03-28 18:22] wfurt commented on #2369
why not? I did coreclr build in same docker image and it picked correct rid automatically.
Also note that we pick correct .dotnet/dotnet to restore.

cc: @janvorli

[2019-03-28 18:24] JohnTortugo opened #2370 "Make Maestro++ pass user defined parameters to the release pipeline"
In combination with https://github.com/dotnet/arcade/issues/2417 Maestro++ should pass down to the release pipeline, at the instant of release creation, the set of parameters+values configured for a Channel+ReleasePipeline association.

- Might be interesting to consider how to extend this to support passing custom parameters also based on the build's repository. For instance, to register a handle

[2019-03-28 18:25] JohnTortugo opened #2371 "Consider reorganizing publishing pipelines project files under Arcade SDK"
Consider reorganizing publishing pipelines project files to meet these requirements / topics:

- Enable people not using Arcade SDK to use the pipelines
- Move files under Arcade SDK? Move to a different project?
- Add new configuration file to store package versions
- Add new configuration file(s) to support customization of release stages.
  - One configuration file for the whole pipeline?
  - N

[2019-03-28 18:41] JohnTortugo opened #2373 "Warn if a build is using a package with a bug"
I have seen more than once a repo/branch using an old version of Arcade SDK, SignTool, other packages that have bugs that we have already fixed. This have happened for a few reasons: people hardcode versions in Versions.props, we had some values hardcoded in DefaultVersion.props, etc.

I think it would be great if we had a way to warn (fail) during a build that a package is being restored with a v

[2019-03-28 19:20] jaredpar commented on #2036
@chcosta if that's the case then my vote is move code here. Reason being it's just saner to manage. I'd rather add functionality to arcade, especially when it's this straight forward, than yet another NuPkg (that will invetiably just cause me to swear a lot later).

[2019-03-28 20:30] chcosta opened #2376 "Move Pipelines MSBuild Logger code to Arcade"
https://github.com/dotnet/arcade/issues/2036#issuecomment-477736091

[2019-03-28 20:39] Anipik commented on #1584
Will close it after i have verified the sourceLink stuff

[2019-03-28 21:12] #2276 closed

[2019-03-28 23:17] sharwell opened #2377 "BaseIntermediateOutputPath should be set in eng/common"
Currently, the first time dotnet/winforms@1b97068dd812c6c98495cde99b6fdf765bdcd6f1 is opened in Visual Studio without ensuring the NuGet cache contains Microsoft.DotNet.Arcade.Sdk, a bunch of obj folders are created underneath source folders. Visual Studio needs to be able to locate the intermediate output path prior to the first NuGet restore operation in order to correctly place the NuGet assets

[2019-03-28 23:34] tmat commented on #2377
Seems like bug in VS since it works when building from command line.

[2019-03-28 23:39] tmat commented on #2377
The property is set in the Arcade SDK package. Restoring SDK packages shouldn't require `obj` directories to be created. So the `obj` directory should be created after the SDK packages are restored and imported, at which point the `BaseIntermediateOutputPath` is set.

[2019-03-28 23:41] tmat commented on #2377
@davkean Is the Project System creating `obj` directories?

@rainersigwald @nguerrera Having this feature built in would be useful (https://github.com/dotnet/sdk/issues/867).

[2019-03-28 23:46] nguerrera commented on #2377
I'm not sure how this happens as the package gets downloaded synchronously during evaluation. Which is a perf issue, but should not in itself cause obj to be created. Let me try to repro.

[2019-03-29 16:10] mmitche commented on #1677
ParentCoherentDependency is rolled out and working.  i'm going to close this in favor of a common child dependency work item, if and when it is necessary.

[2019-03-29 16:10] #1677 closed

[2019-03-29 16:20] mmitche opened #2382 "Improve coherency update performance"
Coherency updates today build the full graph for each unique node with a "ParentCoherentDependecy" attribute.  They then go and find the asset they want to be coherent on in that graph.  This does an unnecessary amount of traversal, though it does help with caching.

The algorithm chooses the minimum depth asset, so we may just be able to stop the graph build at that point.  This would invalidate

[2019-03-29 16:30] mmitche opened #2383 "BYOC provider should track in-progress work and update status"
BYOC should track in progress helix jobs and report status to Azure DevOps. Informational updates will not yet be shown to the user, but fail/warning messages will.  Should update every so often.

[2019-03-29 18:05] merriemcgaw opened #2384 "Build fails due to missing RoslynTools.MSBuild 16.0.0-alpha"
@ArrowCase commented on [Sun Mar 24 2019](https://github.com/dotnet/winforms/issues/628)

I wasn't sure whether this issue belongs here or in [dotnet/arcade](https://github.com/dotnet/arcade). Please feel free to move it.

Steps to reproduce: Clone repository, run build.cmd.

Results:

[code]

Version 16.0.0-alpha of the package indeed [does not appear to exist](https://dotnet.myget.org/F/roslyn-t

[2019-03-29 18:16] zsd4yr commented on #2384
@MattGal this is what we discovered related to Roslyn.MSBuild changing their URLs and that it was hardcoded in tools.ps1

[2019-03-29 18:16] JohnTortugo commented on #1881
I'm closing this issue as SignCheck already perform such validation and we're going to use it in our builds.

[2019-03-29 18:16] #1881 closed

[2019-03-29 18:18] zsd4yr commented on #2384
I am going to work around by including `xcopy-msbuild` in my global json but for anyone else using Arcade with vs.version = 16.0, this will fail
[code]

[2019-03-29 19:32] danmosemsft commented on #1881
Thanks!

[2019-03-29 19:53] MattGal commented on #2384
Yup.  Seems like explicitly specifying values is the way to go anyways, but perhaps the workaround for users not specifying would be to just append * instead of the other stuff.

[2019-03-29 20:12] tmat commented on #2384
We can't just append `*` - that would make the build non-deterministic.

The reason why the build is failing is that you are building on a machine that does not have VS2019 yet you require VS2019 to be present. The build falls back to a default version of `xcopy-msbuild` package because none was specified explicitly. This is by design. It would indeed be better if the package was named `16.0.0-alp

[2019-03-29 20:29] markwilkie commented on #2036
Closing this in favor of #2376  Let me know if there's a gap that didn't get sorted.

[2019-03-29 20:29] #2036 closed

[2019-03-29 20:37] markwilkie commented on #2142
@mjanecke is working on https://github.com/dotnet/arcade/pull/2374 which should also help.  @rainersigwald - do you think that between #2036 and https://github.com/dotnet/arcade/pull/2374 we're at a better place?

[2019-03-29 20:37] markwilkie commented on #2202
Next steps @MattGal ?

[2019-03-29 20:38] markwilkie commented on #2212
In talking offline, it looks like this has rolled all the way back around to @tmat.  Any insight @tmat ?

[2019-03-29 20:39] markwilkie commented on #2234
@wli3 - is this something you're expecting my team to submit a PR for or were you planning to?

[2019-03-29 20:41] tmat commented on #2234
@markwilkie We need an approval to use this package versioning first.

[2019-03-29 20:42] markwilkie commented on #2250
Makes sense.  Moving to post //build  (yell if that's not ok)

[2019-03-29 20:42] markwilkie commented on #2254
Closing per @JohnTortugo comment

[2019-03-29 20:42] #2254 closed

[2019-03-29 20:43] markwilkie commented on #2264
@MattGal - should we keep this open or close it?

[2019-03-29 20:44] markwilkie commented on #2321
@sbomer - anything more to do here?

[2019-03-29 20:45] MattGal commented on #2264
Yes, let's close this issue as this specific one has been worked around, but allow me to add you to an ongoing thread about this problem and perhaps we can use your skillset to drive to some kind of non-awful solution

[2019-03-29 20:45] #2264 closed

[2019-03-29 20:47] markwilkie commented on #2329
@jmarolf - this seems like general goodness.  Could you explain a bit more who would look at the results?  Is this the kind of thing where Arcade folks should run the tool as a way to keep things clean?

[2019-03-29 20:47] markwilkie commented on #2341
Closing per @MattGal comment

[2019-03-29 20:47] #2341 closed

[2019-03-29 20:48] MattGal commented on #2202
I was hoping filing issues here was just the backlog for Arcade work. It's not biting us very often, but this sort of problem is very common.

[2019-03-29 20:49] markwilkie commented on #2351
@sharwell - Am I understanding this correctly that the restore works fine from the command line, but not from within VS?

[2019-03-29 20:52] sharwell commented on #2351
@markwilkie The restore works fine in both places for the build, but any difference between the two will force the restore process to rewrite the asset file on disk to apply the change.

[2019-03-29 20:53] tmat commented on #2351
@rrelyea @nkolev92

[2019-03-29 21:16] nkolev92 commented on #2351
@tmat
That's something that NuGet can fix.

NuGet normalizes the path, but doesn't trim/append trailing slashes
If fact the trailing slashes is explicitly added in https://github.com/NuGet/NuGet.Client/blob/27af96bdb7ba8d6d7ea9ad53fc76cd1d1aa80703/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L20

[2019-03-29 21:19] markwilkie commented on #2352
Isn't this a VS feature?  https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore

[2019-03-29 21:21] markwilkie commented on #2359
Do you remember offhand @garath if this got caught up in our refactor?

[2019-03-29 21:25] #1444 closed

[2019-03-29 21:39] markwilkie commented on #331
@Eilon - how important is it to run policheck on every PR?  (Sadly, I missed the part that this is for every PR...yes, I know it's in the freaking title...grin)   Not only are there performance implications, but there are others issues too around disclosure.  So...I'm hoping to get a bit better sense of the business case for PR vs. official builds.

[2019-03-29 21:40] Eilon commented on #331
It's not the most critical thing. But it's of course nice to have errors found as early as possible. But there's clearly a trade-off in this case in terms of cost vs. benefit.

[2019-03-29 21:45] markwilkie commented on #2202
ACK

[2019-03-29 21:50] anurse commented on #2036
Is #2376 expected to include the necessary Arcade changes to wire up the logger and ensure build errors flow to GitHub checks? If so, I'm fine with that.

[2019-03-29 21:50] garath commented on #2359
I don't think it was the refactor. It looks like this file was moved in commit 19f315f for other reasons.

I will update the references.

[2019-03-29 21:53] markwilkie commented on #2234
I thought we got one already?  (there was an email a while ago from Andrew Hall)  @KathleenDollard - can you confirm (or not?)

[2019-03-29 21:57] rainersigwald commented on #2036
Agreed; there's two phases:

* build and distribute the code
* wire it into builds

My interpretation is #2376 does the former, and this does the latter. But they could be done together, presumably.

[2019-03-29 21:59] rainersigwald commented on #2142
I think #2038 is needed too, for things outside the MSBuild invocation.

[2019-03-29 22:05] markwilkie commented on #2376
Once the code is moved over - it should be wired up as well in Arcade of course.

[2019-03-29 22:06] markwilkie commented on #2036
ACK - I made an explicit note that #2376 includes hooking it up at least to Arcade.  Then others can do the same as they'd like following the model.

[2019-03-29 22:07] markwilkie commented on #2142
ACK

[2019-03-29 22:11] jonfortescue commented on #331
@Eilon Per policy we will not be able to implement this. Will ping you offline to explain.

[2019-03-29 22:11] #331 closed

[2019-03-29 22:12] garath commented on #2359
@swaroop-sridhar, I see one incorrect mention in file [Versions.targets](https://github.com/dotnet/arcade/blob/3423ee8/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.targets) file. Is this the spot you found? Please let me know of any I missed.

[2019-03-29 22:19] mjanecke commented on #2286
PR merged.

[2019-03-29 22:29] rainersigwald commented on #2038
The meat of the logging isn't that much:

https://github.com/Microsoft/azure-pipelines-task-lib/blob/11c9439d4af17e6475d9fe058e6b2e03914d17e6/powershell/VstsTaskSdk/LoggingCommandFunctions.ps1#L529-L570

https://github.com/Microsoft/azure-pipelines-task-lib/blob/11c9439d4af17e6475d9fe058e6b2e03914d17e6/powershell/VstsTaskSdk/LoggingCommandFunctions.ps1#L464-L499

I think it could be ported to bash

[2019-03-29 22:35] sbomer commented on #2321
@markwilkie, updated the original issue to remove my comment about `PublicKey`/`PublicKeyToken`. The rest of it still applies - I believe arcade should be setting these properties in a `.props` file so that they don't override project files.

[2019-03-29 22:44] #2309 closed

[2019-03-29 23:52] tmat commented on #2321
The intent here *is* to override the project settings if the projects sets `StrongNameKeyId`. Perhaps we could report an error that the project sets both `AssemblyOriginatorKeyFile` and `StrongNameKeyId`.

[2019-03-29 23:53] swaroop-sridhar commented on #2359
A few more references are in these files:
https://github.com/dotnet/arcade/blob/f0f1cf8780383532fb756429b0e012a7913c29bd/Documentation/CorePackages/PackagesRoadmap.md

https://github.com/dotnet/arcade/blob/55ea9259ee16ed82190fecb95c8f230a49cf2334/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.targets

Should these references be to `CorePackages/Versioning.md` ?

[2019-03-30 00:00] garath commented on #2359
Yes, those should reference the same Versioning.md. The error in "PackagesRoadmap.md" looked correct at first glance, but I see now that GitHub is parsing the URL in an unxepected way. I've now fixed it.

[2019-03-31 15:16] sharwell commented on #2352
@markwilkie this appears to be an arcade configuration which is being applied in only one of two contexts where it needs to be applied:

https://github.com/dotnet/arcade/blob/002cce7e8e3e043c50acae673741ee3962411e10/src/Microsoft.DotNet.Arcade.Sdk/tools/DefaultVersions.props#L20-L29

[2019-04-01 04:15] jmarolf commented on #2329
@markwilkie 	the idea would be that we install this analyzer in the dotnet/arcade repo and work to clean up all warnings.  At some point I think we should fail the build if a PR introduces new issues.

[2019-04-01 15:03] mmitche opened #2389 "[darc/maestro++] Handle package version downgrades"
When a version is about to be downgraded by Maestro (determined by parsing the existing version numbers like NuGet does), we should provide a warning in the Maestro PR (and in local darc output).

We should probably also not auto-merge in this case.

[2019-04-01 15:26] riarenas opened #2390 "[Maestro/Darc] Automate running of Maestro Scenario tests"
We have a set of powershell scripts under https://github.com/dotnet/arcade-services/tree/master/src/Maestro/tests/Scenarios that test some end to end flows for Maestro, and can be configured to run on the Int or Prod service provided the right authentication.

These should be configured to run on automatically as part of the validation process for Maestro deployments.

[2019-04-01 15:30] riarenas opened #2391 "Validate new versions of Microsoft.Dotnet.Maestro.Tasks"
Add validation of new versions of this package similar to how we validate other arcade-produced packages.

* [ ] Arcade-Validation publishes to "validation" channel instead of "latest"
* [ ] Add subscription from Arcade-Validation to Arcade-Services
* [ ] Add test leg in Arcade-Validation that uses the incoming package version.
* [ ] If testing succeeds, Arcade-Validation adds the package to the "

[2019-04-01 16:01] markwilkie commented on #2038
Thanks @rainersigwald !

[2019-04-01 16:02] riarenas commented on #2319
Getting started with this one. Will let me get a handle for how the scenario tests work and how much work it is to add to them.

[2019-04-01 16:45] tmat commented on #2352
AFAIK there is no way how to force NuGet to only use the specified NuGet.config file for design time build :(.   I wonder why the paths need to be stored in assets file. @nkolev92

[2019-04-01 17:07] sharwell opened #2392 "GenFacades file header is missing the required auto-generated comment"
The code generated by `SourceGenerator` is required to start with a comment containing the text `<auto-generated`. However, this comment is missing:

https://github.com/dotnet/arcade/blob/45da2f54994d46dfc08958cf4e84671fa3a359b7/src/Microsoft.DotNet.GenFacades/SourceGenerator.cs#L50-L51

All arcade updates to dotnet/winforms are blocked until this issue is resolved (https://github.com/dotnet/winfo

[2019-04-01 17:07] JohnTortugo commented on #1786
@mmitche - as you know phase 2 of the publishing plan is to move the publishing of symbols to MSDL/SymWeb into the release pipeline. Looks like today publishing to msdl/symweb only happens when [not publishing to Azure blob feed](https://github.com/dotnet/arcade/blob/1121b186b4770369f771e86c691603ffb0926501/src/Microsoft.DotNet.Arcade.Sdk/tools/Publish.proj#L26). Is the plan to change this behavio

[2019-04-01 17:08] mmitche commented on #1786
Yes, that's correct.

[2019-04-01 17:31] nkolev92 commented on #2352
@tmat They need to be stored in the assets file for no-op purposes.
A config change dirties the assets file, as the config data can affect the resolution/policies.

[2019-04-01 18:30] tmat commented on #2352
I see. Then we need to be able to specify that only the config file in `RestoreConfigFile` property should be considered during design time build restore. Can we do that?

[2019-04-01 18:33] tmat commented on #2352
Also, including additional config files seems generally wrong - it makes the build non-deterministic, depending on what the user who builds has configured in the other config files. We want the build to work the same for all developers who clone the repository.

[2019-04-01 19:35] nkolev92 commented on #2352
We could consider that. We already pretty much everything else.
Related:
https://github.com/NuGet/Home/issues/7533
https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild
https://github.com/NuGet/Home/issues/6746

The problem with all these approaches is that it's difficult to provide a UI. The project level config story is very long and confusing.
//cc @anangaur

Unfortunately the

[2019-04-01 20:00] markwilkie opened #2395 "Jenkins is needed by VS"
We need to understand better what the needs are from VS and ensure those workloads are taken care of.

@ManishJayaswal

[2019-04-01 20:07] chcosta commented on #2395
FYI @mmitche

[2019-04-01 20:16] #2392 closed

[2019-04-01 20:18] mjanecke commented on #1450
Not doing this. Closing. (AzDO is implementing their own thing).

[2019-04-01 20:18] #1450 closed

[2019-04-01 20:22] chcosta opened #2396 "[darc/maestro++] Support publish to Bar without dependencies"
NuGet would like to publish a build manifest to BAR, but doesn't have an `eng/version.details.xml` file because they're not on Arcade and not fully on dependency flow.  Instead, they want to make a direct call to the https://github.com/dotnet/arcade-services/blob/master/src/Maestro/Microsoft.DotNet.Maestro.Tasks/src/PushMetadataToBuildAssetRegistry.cs task to publish to BAR.

Today, that task requ

[2019-04-01 20:24] mmitche commented on #2396
Agreed. @ChadNedzlek @alexperovich This was added recently for the viz work, right?  In that case, we should just treat a missing eng/Version.Details as no inputs.

[2019-04-01 20:38] MattGal commented on #2384
@jaredpar when helping @zsd4yr , I noticed that if the package version wasn't specified, there are powershell scripts that just determine the VS version, and concatenate this with ".0-alpha"  for the version of this package.  Somewhere between when that script was written and now, he packages started being versioned in such a way that this assumption would need to be changed to add ".0-rc1-alpha"

[2019-04-01 20:39] alexperovich commented on #2396
Yea the dependencies are needed for the bar visualization to work. We shouldn't just blindly ignore errors from the call to get dependencies. When this was first deployed corefx was failing because they weren't in the repo for some reason, If we had ignored the failure they would be reporting incorrectly without anyone knowing.

I would prefer if we required repos to be very explicit about wanting

[2019-04-01 20:58] dtivel commented on #2396
At least allow publishers to override the default, hard-coded path for eng/Version.Details.xml.

[2019-04-01 21:02] tmat commented on #2384
Exactly, because the script doesn't know to append "rc1". It only knows what VS version the repo needs (e.g. "15.9", "16.0").

I don't think we need to change anything. The default will work once we create "16.0.0-alpha" package and if anyone needs anything else they can specify it explicitly. I'll update [doc](https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#globaljson-nuge

[2019-04-01 22:03] chcosta commented on #2396
I'm not sure I follow.  Isn't `eng/Version.Details.xml` about the dependencies that a repo consumes and is used via Darc?  ie, if a repo is using dependency flow for consuming dependencies, then it requires `eng/version.details.xml`, otherwise it isn't going to work and I'd expect some sort of error to surface.  If a repo is only publishing assets and not representing any dependencies which it con

[2019-04-01 22:24] mmitche commented on #2396
@alexperovich We could just also allow a specific parameter to the task indicating the missing version details file.

[2019-04-01 23:14] dagood commented on #167
Adding some more specific info on what makes a "complete" symbol package.

For every `<id>.nupkg` file a build produces, look for these files and make sure the associated files are in the `<id>.symbols.nupkg` symbol package:

* Managed `<name>.dll` or `<name>.exe`
  * The file itself
  * Portable PDB file `<name>.pdb`

* Crossgen'd `<name>.dll` or `<name>.exe`
  * The file itself
  * NGEN PDB file

[2019-04-01 23:16] markwilkie commented on #167
Thanks @dagood !

[2019-04-01 23:39] tmat commented on #167
Note that for managed code we will switch to the new `.snupkg` packages for symbols, once we have sufficient support in infrastructure. https://github.com/dotnet/arcade/issues/1959

[2019-04-01 23:45] dagood commented on #167
It looks like the `nupkg` and `snupkg` will need to be merged to create complete Msft-spec symbol packages, based on https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg#symbol-package-structure:

Symbol packages must have both the DLL/EXE and PDB.

[2019-04-02 00:10] tmat commented on #167
That was true for .symbols.nuget, but those are pretty much obsolete for managed PDBs.
The future is snupkgs. No merging.

[2019-04-02 01:39] MattGal opened #2411 "Move arcade-validation builds to BYOC"
https://github.com/dotnet/arcade-validation/commits/master/azure-pipelines.yml needs to use BYOC agent pools.  Ping me if you need guidance, or see emails to DNC Partners

[2019-04-02 04:51] JohnTortugo opened #2398 "[darc/maestro++] Add new artifact type(s) to VersionTools manifest model"
Would it make sense to add some new artifact types to the [manifest model](https://github.com/dotnet/arcade/blob/505e38906e1ee2d032c41bb297de0958307db946/src/Microsoft.DotNet.VersionTools/lib/src/BuildManifest/Model/ArtifactSet.cs#L12)? Or perhaps change this to make the artifact type as an attribute of the artifact.

Reason of the change is to make more clear what kind of artifact is being descri

[2019-04-02 15:05] rainersigwald commented on #2395
The MSBuild repo used Jenkins for dev14 and dev15 CI. We can lose it for dev14 with no real problem since for us our "real" build was out of VS at that time. For 15, our official build definition is in devdiv, but CI and cross-platform testing is definitely desired for servicing fixes.

[2019-04-02 15:26] dagood commented on #167
Is there any plan for how that's compatible with Microsoft symbol servers and various requirements?

Will repos that produce native bits and managed bits need to produce both symbol packages and `snupkg`s?

I'm likely out of the loop, but I want to make sure this doesn't fall through the cracks.

[2019-04-02 16:35] jaredpar commented on #2384
Note: I just uploaded the 16.0 RTM package with name 16.0.0-alpha. Here is the PR in Roslyn where I'm verifying it: https://github.com/dotnet/roslyn/pull/34676

[2019-04-02 17:07] tmat commented on #2384
Added a doc: https://github.com/dotnet/arcade/pull/2401

[2019-04-02 18:04] #2286 closed

[2019-04-02 18:05] #2295 closed

[2019-04-02 18:31] safern commented on #1450
But the SDK will need to support publishing the results correctly so that they show in AzDO own thing, right? So there is actually work needed here?

[2019-04-02 18:32] alexperovich commented on #1450
The SDK already supports publishing the results correctly.

[2019-04-02 19:32] jaredpar commented on #2036
Still not clear why we closed this. #2376 just adds the powershell / bash functionality. This is about adding an MSBuild logger implementation.

[2019-04-02 19:34] jaredpar commented on #2036
Ignore me. I'm mixing up issues in my head.

[2019-04-02 21:14] mmitche opened #2406 "Add prod deployment of the pool providers"
Add a prod deployment

[2019-04-02 21:47] #2303 closed

[2019-04-02 22:06] jcagme opened #2408 "Create plan to on-board repos to the async release pipelines process"
As we make progress supporting basic actions (signing, symbol validation, publishing) in the release pipelines we should plan which repos should move first to this new approach. There are repos which have their own custom way of publishing and others than do more things that the common publishing (VS insertion) so we could leave these at the end once we figure out what's the best way to serve all.

[2019-04-03 00:57] danmosemsft commented on #1873
Note that @Anipik is about to merge his change to fix sourcelink for the facades coming out of CoreFX (which was the original problem that spurred this conversation). So if we wanted to add a validation step, it need not wait on that.

[2019-04-03 15:16] mmitche commented on #2406
This is complete.

[2019-04-03 15:16] #2406 closed

[2019-04-03 15:20] mmitche opened #2412 "Move BYOC provider to new repo"
The BYOC provider needs a full int/prod automated rollout and it makes sense to move it to a separate repo.  Reasoning:
- Arcade isn't meant for services (which is why arcade-services exists)
- Arcade-services is exclusively focused on Maestro/Darc. By overloading it, we end up having to either have separate branches for each prod, or rolling out both prods at the same time, which may not be desir

[2019-04-03 15:31] mmitche opened #2413 "[darc/maestro++] Refactor dependency graph build functionality for readability"
Today the algorithm has a lot of internal state, a lot of it for performance reasons.  Refactor the algorithm for ease of readability.  Some options:
- Move state into class and make build method non-static
- Refactor into an event based model.

Ensure perf (e.g. coherency update) does not get slower.

[2019-04-03 15:43] markwilkie commented on #2412
@mmitche - how closely is the provider tied to Helix?

[2019-04-03 15:44] mmitche commented on #2412
It's not really, it only lightly uses the JobSubmitter package.

[2019-04-03 15:45] #2411 closed

[2019-04-03 16:20] riarenas commented on #2389
Considering moving some processes to asynchronous release pipelines is likely to cause an uptick of #2349. Bumping the priority of this one to P5 epic.

[2019-04-03 17:26] dagood opened #2415 "How do I extend retention period of existing symbol indices (without symbol packages)?"
At release time, expiration date needs to be [extended from 180 days to 10950 days (30 years)](https://github.com/dotnet/core-eng/issues/3382). In earlier infra, this was done by publishing the same symbol packages again with the longer expiration date.

How is this done when some bits aren't in the symbol packages?

I imagine you *could* by downloading all the bits and pushing them back up, but h

[2019-04-03 18:30] ViktorHofer opened #2416 "Add local internal tools restore target"
With https://github.com/dotnet/corefx/pull/3656 we added a target which restore internal tools locally. This is needed for tools like TestILC. We download/install the nuget credentials provider and invoke dotnet restore --interactive on eng/internal/Tools.csproj.

We should bring that functionality upstream into arcade.

[2019-04-03 18:39] tmat commented on #2416
See https://github.com/dotnet/corefx/pull/36560#discussion_r271861263 for discussion on what Arcade version of this should look like.

[2019-04-03 19:11] JohnTortugo opened #2417 "Make Maestro++ API/BAR accept/store custom parameters to the release pipeline"
Make Maestro++ API accept parameters+values that should be passed down to the release pipeline when a release for said pipeline should be created.

The parameters+values should be related to a Channel+ReleasePipeline association so that we can have different parameters+values combinations for different Channel+ReleasePipeline combinations.

- Might be interesting to consider how to extend this to

[2019-04-03 20:43] jcagme commented on #2415
FYI @JohnTortugo

[2019-04-03 21:33] mmitche opened #2419 "Automate some release tasks/sanity checks for Servicing"
@wtgodbe commented on [Wed Apr 03 2019](https://github.com/dotnet/corefx/issues/36582)

We should attempt to automate the following things (or at least, automate validation for the following things):

- Branding updates
- Packaging changes for CoreFx PRs that touch libraries with OOB packages
- Release tags

Related: https://github.com/dotnet/corefx/issues/36570

CC @mmitche

---

@wtgodbe comment

[2019-04-03 21:33] mmitche opened #2420 "Automate some release tasks/sanity checks for Servicing"
@wtgodbe commented on [Wed Apr 03 2019](https://github.com/dotnet/corefx/issues/36582)

We should attempt to automate the following things (or at least, automate validation for the following things):

- Branding updates
- Packaging changes for CoreFx PRs that touch libraries with OOB packages
- Release tags

Related: https://github.com/dotnet/corefx/issues/36570

CC @mmitche

---

@wtgodbe comment

[2019-04-03 22:29] jcagme opened #2422 "Release 'FOO' with id 123456 failed"
Something failed while trying to publish artifacts for build [321](123).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=123456) to check the error logs.

Last commit by: @MichalStrehovsky

/fyi: @JohnTortugo, @jcagme

[2019-04-03 22:30] jcagme commented on #2422
This was created as a test

[2019-04-03 22:30] #2422 closed

[2019-04-03 23:06] tmat commented on #2415
I believe we should set the expiration data to the required value right away for all builds, so that we do not need to ever extend it.

[2019-04-04 01:07] #1485 closed

[2019-04-04 15:06] riarenas opened #2426 "Have core-sdk publish a dummy package with a stable asset name for dependency uptake."
Splitting this up from #811

https://github.com/dotnet/core-sdk/pull/1072 had to be reverted due to a build break.

Working with core-sdk folks to figure out best way to unblock this flow.

[2019-04-04 15:11] riarenas opened #2427 "[darc/maestro++] Display update to sdk versions as part of Dependency update PR description"
We should inform the repo that we're updating their sdk versions in the global.json in the PR description for dependency updates.

[2019-04-04 15:16] riarenas commented on #811
The automatic flowing of the sdk version via Arcade dependency updates when the repo is using an older version of the sdk than what arcade uses has been rolled out, and today's dependency update PRs already include that. For example https://github.com/dotnet/coreclr/pull/23718

The change to core-sdk publishing a stable package had to be reverted. And I filed #2426 to track re-enabling that flow.

[2019-04-04 15:16] #811 closed

[2019-04-04 15:37] zsd4yr commented on #2377
Where are we on this thread?

[2019-04-04 15:41] riarenas opened #2428 "[Arcade-Services] Tests for Arcade dependency updates"
We do enough special logic with arcade dependency updates that we should have some testing in place to verify that Arcade updates:

* Flow the eng/common folder
* Flow the version of dotnet for the repo to buil if it's older than what Arcade is using
* Updates assets produced by Arcade (Can just be part of the general dependency flow testing)

[2019-04-04 15:53] jcagme commented on #2428
Ia the special logic around determining if we are working on Arcade updates?

[2019-04-04 15:55] riarenas commented on #2428
The special logic are the first two things on the list. We don't perform similar operations whenever any other repo is flowing dependencies, so we should have a case where we specifically test arcade dependency updates and verify that they do these extra steps that we want them to do.

[2019-04-04 17:18] JohnTortugo commented on #2223
Automated builds are working fine now: https://dnceng.visualstudio.com/internal/_build?definitionId=254

[2019-04-04 17:18] #2223 closed

[2019-04-04 17:22] JohnTortugo opened #2432 "Need to adjust OSX package signing build definition publishing path"
Here are the latest drops as an example:

Latest SDK - https://dotnetcli.blob.core.windows.net/dotnet/ **Sdk/3.0.100-preview4-011034/**
Latest macsign sdk - https://dotnetcli.blob.core.windows.net/dotnet-private/macsign/ **DotNet%20Core%20SDK%20(Official)/20190403.3/**

Latest Runtime - https://dotnetcli.blob.core.windows.net/dotnet/ **Runtime/3.0.0-preview4-27603-11/**
Latest macsign runtime - ht

[2019-04-04 17:31] jcagme opened #2433 "Update TargetStaticFeed list"
There is a list of repos which are already publishing to their own feeds to avoid hitting the shared lock. In order to keep things this way we need to add these feeds with the corresponding artifact category.

We should include all the known feeds regardless of the batch order defined in https://github.com/dotnet/arcade/pull/2429

[2019-04-04 17:32] ViktorHofer opened #2434 "Expose ToolsDir script variable in msbuild"
Consumers should be able to access the ToolsDir property. We are currently hardcoding the path in corefx as `$(RepoRoot)\.tools`.

[2019-04-04 18:03] #2301 closed

[2019-04-04 18:21] #2433 closed

[2019-04-04 18:23] jonfortescue opened #2436 "Builds occasionally fail with licenseUrl complaint"
There are builds failing with licenseUrl complaints intermittently. We should investigate and figure out why.

Example: https://dev.azure.com/dnceng/public/_build/results?buildId=159659

cc / @alexperovich

[2019-04-04 18:39] tmat commented on #2436
Where is it still set? It has been removed in https://github.com/dotnet/arcade/pull/2003.

[2019-04-04 18:49] #1786 closed

[2019-04-04 18:53] dagood opened #2437 "Update recommended pools in AzureDevOpsOnboarding.md"
https://github.com/dotnet/arcade/blob/dd7a71fd30b8514c74465a812721c39f497d0e57/Documentation/AzureDevOps/AzureDevOpsOnboarding.md#L55-L69

Would be nice to be able to point to a doc, I think I've only seen the BYOC info in email.

/cc @MattGal @mmitche

[2019-04-04 19:05] JohnTortugo commented on #1499
Closing this issue as its a duplicate of #173 and #1874

[2019-04-04 19:05] #1499 closed

[2019-04-04 20:01] jkotalik opened #2438 "Add graph flow view to dependencies in maestro++"
It would be nice to have a graph view in maestro++, showing the dependencies and direct dependents for a repository. Here is a mock up:

![image](https://user-images.githubusercontent.com/8302101/55584662-989f9d00-56d9-11e9-80e7-3efcad6cad06.png)

[2019-04-04 20:23] jcagme commented on #2438
Hey @jkotas yes, this would be great, also, we have the ability of enabling that on each official build. See ["Generating Graph Files"](https://github.com/dotnet/arcade/blob/master/Documentation/AzureDevOps/GeneratingGraphFiles.md) for reference.

Currently CoreSDK and Arcade builds have this feature enabled. Ping me and I can show you the generated files.

[2019-04-04 20:23] markwilkie commented on #2376
Thanks for working on this @jaredpar

[2019-04-04 20:25] markwilkie commented on #2438
For example, to access the graph picture in core-sdk, go to:
1)	Dnceng internal project
2)	Open the ‘DotNet Core SDK (Official)’ build pipeline
3)	Choose the build you’re interested in
4)	Click on ‘Artifacts’ on the top right and choose ‘GraphFiles’

E.g. https://dev.azure.com/dnceng/internal/_build/results?buildId=141003

[2019-04-04 20:45] jkotalik commented on #2438
That's cool! For starters, I will start by trying to add that to aspnetcore repos.

However, I do believe that https://maestro-prod.westus2.cloudapp.azure.com/3/https:%2F%2Fgithub.com%2Faspnet%2FAspNetCore/6860 is a significantly better view. The thing we care about with this view is "How many days has it been since we last updated our downstream dependencies" With the current graph view, the data

[2019-04-04 21:28] MattGal commented on #2437
Good point.  I'll take this one on.

[2019-04-04 21:58] #2359 closed

[2019-04-04 22:17] markwilkie commented on #2438
@alexperovich - Could you point @jkotalik to the maestro website and help get him permissions please?

[2019-04-04 22:20] alexperovich commented on #2438
@jkotalik is a member of the team. He should be able to access https://maestro-prod.westus2.cloudapp.azure.com.

[2019-04-05 00:53] JohnTortugo opened #2442 "Onboard Batch 1 of repos in Async Publishing"
- [x] Standard
- [x] SymReader
- [x] SymReader-Portable
- [x] Test-Templates
- [x] Templating
- [ ] Toolset
- [ ] CoreFx

[2019-04-05 00:54] JohnTortugo opened #2443 "Onboard Batch 2 of repos in Async Publishing"
- [ ] CoreClr
- [x] WebSDK
- [x] WinForms
- [x] WPF
- [x] AspNetCore-EntityFrameworkCore
- [x] AspNetCore-Extensions
- [x] AspNetCore-Tooling

[2019-04-05 00:54] JohnTortugo opened #2444 "Onboard Batch 3 of repos in Async Publishing"
- [x] CLI
- [x] CLI-Migrate
- [x] CLICommandLineParser

[2019-04-05 16:45] markwilkie commented on #2116
@ViktorHofer  - would you mind adding a quick description of the scenario you were solving for please?  After that, feel free to close this issue.

[2019-04-05 16:49] markwilkie commented on #2212
@jaredpar - What are you thinking you'd like to see that's not covered in https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#skiptests-bool ?

[2019-04-05 16:49] markwilkie commented on #2234
Pinging @KathleenDollard in email.

[2019-04-05 16:51] markwilkie commented on #2321
Thoughts @sbomer ?

(also cc'ing @JohnTortugo )

[2019-04-05 16:52] markwilkie commented on #2329
Makes sense.  Adding to our post //build backlog.

[2019-04-05 16:54] markwilkie commented on #2351
Suggestions on next steps @nkolev92 or @rrelyea ?

[2019-04-05 16:55] markwilkie commented on #2352
Thanks again @nkolev92.  Closing this issue in favor of NuGet/Home#7944

[2019-04-05 16:58] markwilkie commented on #2373
Maybe put this behind a config of some sort so repo owners can choose to fail or not....

[2019-04-05 17:00] markwilkie commented on #2383
@Chrisboh - thoughts on where this should live?  Is it part of the visualization??

[2019-04-05 17:05] mmitche commented on #2383
@markwilkie Unrelated to visualization, and the work here will not immediately have benefits for the user until AzDO completes their UX work.  No idea where it lives but we need to do it.

[2019-04-05 17:07] nkolev92 commented on #2351
I'd suggest fixing your build infra so that you don't get the extra design time builds anymore.
I have created an issue on our end to address it throughout.
https://github.com/NuGet/Home/issues/7968

[2019-04-05 17:11] JohnTortugo commented on #2373
What I think is: using a buggy package might lead to the build failing (best case) or the build succeed but nobody notice that behind the scenes something wrong happened.

[2019-04-05 17:18] wli3 commented on #2235
closed via https://github.com/dotnet/roslyn-tools/pull/480

[2019-04-05 17:18] #2235 closed

[2019-04-05 17:56] jaredpar commented on #2212
@markwilkie how do I run a single test from the command line?

[2019-04-05 20:00] dotnet-maestro[bot] opened #2447 "Release 'Release 83 - Publishing for build 20190405.1 of arcade-official-ci' with id 4233 failed"
Something failed while trying to publish artifacts for build [20190405.1](https://dnceng.visualstudio.com/internal/_build/results?buildId=144124).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4233) to check the error logs.

Last commit by: @ulisesh

/fyi: @JohnTortugo, @jcagme

[2019-04-05 21:42] rrelyea commented on #2352
I'd recommend that you consider doing the following.
Put nuget.config in the root of your repo (or other similar place).
At the topmost one, use <clear /> in packageSources, disabledPackageSources, etc...

This gives you the ability to:
1) work in VS
2) work in command line
3) not have to configure a pointer to one config.
4) avoid having machine wide state affect your repos.

This works now, and

[2019-04-05 22:43] vatsan-madhavan commented on #1715
I would like to get auto-merge for DARC PR's to work in https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int. Since this is now one of WPF's main repo's, not having auto-merge is creating a bunch of extra work.

@riarenas, @mmitche suggested that perhaps you'd be able to investigate and help with this.

/cc @dotnet/wpf-developers

[2019-04-05 23:00] tmat commented on #2352
I guess we could remove setting the `RestoreConfigFile` and instead add a target that validates that the `NuGet.config` file in the repository root includes all the `<clear/>` elements it should to make the restore deterministic.

[2019-04-06 00:10] Chrisboh commented on #2383
It sounds like nothing is critical for this right at this moment.  Lets talk more about this in Triage as I would like more context about how to think about the interface between AzDo and us.

[2019-04-06 16:28] tannergooding opened #2453 "GenAPI should support the 'readonly members' feature"
GenFacades should be updated to support the new `readonly members` feature and appropriately update the reference assemblies to include the `readonly` keyword rather than preserving the `[IsReadOnly]` attribute (which results in a compilation error).

[2019-04-06 16:28] tannergooding commented on #2453
CC. @ericstj

[2019-04-06 16:29] tannergooding commented on #2453
(this is similar to the `readonly struct` feature, but for individual members of a non-readonly struct).

[2019-04-06 16:29] ericstj commented on #2453
Can you elaborate? GenFacades doesn't do anything with members it just generates type forwards.  /cc @Anipik

[2019-04-06 16:31] Anipik commented on #2453
I think he may be refering to GenApi tool

[2019-04-06 16:34] tannergooding commented on #2453
Probably, I can never keep which tool does what straight in my head 😄

I'm specifically referring to whichever of the tools can be used to generate and validate the various `ref assemblies` we have in CoreFX.

[2019-04-06 17:48] ericstj commented on #2453
Generate source is GenAPI.  Validate refs is API Compat.  Please feel free to submit a PR for this if you're blocked.

[2019-04-08 06:49] JohnTortugo opened #2457 "LibGit2Sharp uses native binaries that don't have BuildID"
Some of our [arcade-services libraries](https://github.com/dotnet/arcade-services/search?q=Include%3D%22LibGit2Sharp%22&unscoped_q=Include%3D%22LibGit2Sharp%22) use LibGit2Sharp which in turn uses a package called `LibGit2Sharp.NativeBinaries` which contains some `*.so` files that don't have a BuildID note ([see example here](url)) in them. This causes our [symbol uploader to fail](https://dnceng.

[2019-04-08 06:49] JohnTortugo commented on #2447
Closing in favor of this one: https://github.com/dotnet/arcade/issues/2457

[2019-04-08 06:49] #2447 closed

[2019-04-08 14:12] mmitche opened #2461 "[Darc] Can't add/edit subscriptions in the UI"
The UI is hitting an issue related to YAML deserialization again:

[code]

@alexperovich This looks similar to an issue a bit back.

/cc @dougbu

[2019-04-08 14:31] dagood commented on #2457
Best approach IMO is adding a way to baseline this file, since it's not built by Microsoft. Maybe there's a way to automatically hook it up based on existing classification as external (?) but a simple baseline is MVP.

Simply ignoring the failure isn't good, because we could silently be ignoring something that makes our Microsoft-built Linux binaries/symbols unindexable.

[2019-04-08 14:40] mmitche opened #2462 "[darc/maestro++] Some coherent updates listed multiple times"
When coherent parent is used in a chain, some updates are listed multiple times in the PR description:

https://github.com/aspnet/EntityFrameworkCore/pull/15272

Should list each dependency only once. This symptom means that the returned dependency updates from GetRequiredCoherencyUpdates contains multiple of the same dependency. This is what should be fixed.

[2019-04-08 14:40] mmitche commented on #2462
/cc @dougbu

[2019-04-08 15:40] dougbu commented on #2462
This issue also adds noise when using `darc update-dependencies` on the command line

[2019-04-08 16:07] jcagme commented on #2457
I agree with @dagood that we shouldn't just ignore it. I don't know the tool enough to recommend an actual fix, but probably we have the tool do something similar as signing where we white list 3rd party known libraries so the tool know these are special.

[2019-04-08 16:07] riarenas commented on #1715
I can start investigating in what the correct APIs to call are. We are currently doing a push to get better validation for Maestro scenarios, and I'll start working on getting this working afterwards.

[2019-04-08 16:13] tmat commented on #2457
If the project built `.symbols.nupkg` that doesn't include the native files we wouldn't run into this issue. The symbol publishing logic uses the symbols package the project produces and falls back to using the main package, if the symbols package is not found. The default fallback here does not work since it contains the native libraries.

[2019-04-08 18:00] dotnet-maestro[bot] opened #2463 "Release 'Release 97 - Publishing for build 20190329.3 of dotnet-arcade-validation-official' with id 4014 failed"
Something failed while running an async release pipeline for build s[20190329.3](https://dnceng.visualstudio.com/internal/_build/results?buildId=137860).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4014) to check the error logs.

Last commit by: @JohnTortugo

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2464 "Release 'Release 98 - Publishing for build 20190329.6 of arcade-official-ci' with id 4016 failed"
Something failed while running an async release pipeline for build s[20190329.6](https://dnceng.visualstudio.com/internal/_build/results?buildId=137900).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4016) to check the error logs.

Last commit by: @ViktorHofer

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2465 "Release 'Release 103 - Publishing for build 20190329.5 of arcade-official-ci' with id 4021 failed"
Something failed while running an async release pipeline for build s[20190329.5](https://dnceng.visualstudio.com/internal/_build/results?buildId=137872).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4021) to check the error logs.

Last commit by: @echesakovMSFT

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2466 "Release 'Release 102 - Publishing for build 20190329.5 of arcade-official-ci' with id 4020 failed"
Something failed while running an async release pipeline for build s[20190329.5](https://dnceng.visualstudio.com/internal/_build/results?buildId=137872).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4020) to check the error logs.

Last commit by: @echesakovMSFT

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2467 "Release 'Release 101 - Publishing for build 20190329.5 of arcade-official-ci' with id 4019 failed"
Something failed while running an async release pipeline for build s[20190329.5](https://dnceng.visualstudio.com/internal/_build/results?buildId=137872).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4019) to check the error logs.

Last commit by: @echesakovMSFT

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2468 "Release 'Release 100 - Publishing for build 20190329.5 of arcade-official-ci' with id 4018 failed"
Something failed while running an async release pipeline for build s[20190329.5](https://dnceng.visualstudio.com/internal/_build/results?buildId=137872).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4018) to check the error logs.

Last commit by: @echesakovMSFT

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2469 "Release 'Release 99 - Publishing for build 20190329.5 of arcade-official-ci' with id 4017 failed"
Something failed while running an async release pipeline for build s[20190329.5](https://dnceng.visualstudio.com/internal/_build/results?buildId=137872).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4017) to check the error logs.

Last commit by: @echesakovMSFT

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2470 "Release 'Release 159 - Publishing for build 20190404.14 of arcade-official-ci' with id 4221 failed"
Something failed while running an async release pipeline for build s[20190404.14](https://dnceng.visualstudio.com/internal/_build/results?buildId=143830).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4221) to check the error logs.

Last commit by: @ulisesh

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2471 "Release 'Release 160 - Publishing for build 20190404.15 of arcade-official-ci' with id 4222 failed"
Something failed while running an async release pipeline for build s[20190404.15](https://dnceng.visualstudio.com/internal/_build/results?buildId=143865).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4222) to check the error logs.

Last commit by: @ulisesh

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2472 "Release 'Release 88 - Publishing for build 20190405.2 of arcade-services-internal-ci' with id 4243 failed"
Something failed while running an async release pipeline for build s[20190405.2](https://dnceng.visualstudio.com/internal/_build/results?buildId=144533).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4243) to check the error logs.

Last commit by: @alexperovich

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2473 "Release 'Release 90 - Publishing for build 20190405.3 of arcade-services-internal-ci' with id 4246 failed"
Something failed while running an async release pipeline for build s[20190405.3](https://dnceng.visualstudio.com/internal/_build/results?buildId=144555).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4246) to check the error logs.

Last commit by: @mmitche

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:00] dotnet-maestro[bot] opened #2474 "Release 'Release 92 - Publishing for build 20190405.5 of arcade-official-ci' with id 4250 failed"
Something failed while running an async release pipeline for build s[20190405.5](https://dnceng.visualstudio.com/internal/_build/results?buildId=144618).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4250) to check the error logs.

Last commit by: @alexperovich

/fyi: @JohnTortugo, @jcagme

[2019-04-08 18:17] JohnTortugo commented on #2474
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:17] #2474 closed

[2019-04-08 18:17] JohnTortugo commented on #2473
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:17] #2473 closed

[2019-04-08 18:17] JohnTortugo commented on #2472
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:17] #2472 closed

[2019-04-08 18:17] JohnTortugo commented on #2470
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:17] #2470 closed

[2019-04-08 18:18] JohnTortugo commented on #2471
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2471 closed

[2019-04-08 18:18] JohnTortugo commented on #2464
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2464 closed

[2019-04-08 18:18] JohnTortugo commented on #2465
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2465 closed

[2019-04-08 18:18] JohnTortugo commented on #2466
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2466 closed

[2019-04-08 18:18] JohnTortugo commented on #2468
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2468 closed

[2019-04-08 18:18] JohnTortugo commented on #2463
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2463 closed

[2019-04-08 18:18] JohnTortugo commented on #2467
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2467 closed

[2019-04-08 18:18] JohnTortugo commented on #2469
Not an issue anymore. The pipeline was fixed.

[2019-04-08 18:18] #2469 closed

[2019-04-08 18:43] MattGal commented on #2368
The error seems to be a legitimate one that they've worked past (appear to no longer be using the workaround task at all).  Regardless, Core-SDK's master and PR builds are green now, the error was a legitimate "noone provided this property" error, so I'd recommend closing.

@robertborr please attempt to make titles of new issues created on your behalf describe the problem.  For instance "Target In

[2019-04-08 18:56] #2368 closed

[2019-04-08 20:07] markwilkie commented on #2234
I got confirmation on another thread with @KathleenDollard that the PM org is fine with this proposal going forward.

[2019-04-08 21:17] ViktorHofer commented on #2116
Of course, let me get back to this till end of week. I'll put it on my list.

[2019-04-08 21:35] mmitche opened #2477 "[darc/maestro++] Add flow issue detection tools"
Add tooling to detect the following:
- When a graph has a hard cycle, which is cycle that is not broken by a toolset dependency
- When multiple channels map to the same branch (this can potentially be valid, but should be warned on)
- Heuristically detect when graph is likely to cycle forever:
  - Graphs with non-hard cycles (broken by toolset dependency) where all subscriptions enabled and update

[2019-04-08 21:35] mmitche commented on #2477
/cc @shawnro

[2019-04-08 23:02] #1584 closed

[2019-04-08 23:13] MattGal commented on #2437
@dagood  - I did a dumb thing trying to edit via the web UI and ended up committing what I was trying to make a PR out of directly to master.  Can you review that and reactivate this issue if you have concerns?

[2019-04-08 23:13] #2437 closed

[2019-04-08 23:19] dagood commented on #2437
Looks good to me, thanks for the update!

[2019-04-08 23:51] mmitche commented on #2477
/fyi @riarenas

[2019-04-09 07:47] ViktorHofer commented on #1584
@Anipik implementation assemblies which are partial facades now contain source link information?

[2019-04-09 15:02] mmitche opened #2482 "Automate push 2.1/2.2 servicing builds into open"
When we do internal builds of 2.1/2.2 for servicing, we need to push their info into the open so that the Maestro automation runs. This should be automated.  Steps are:

1. Modify manifests in assets\orchestration-metadata to look like "open" manifests (e.g. branch names, feed urls)
2. Copy flatcontainer and assets directories from internal build to open build directory.
3. Run appropriate orchest

[2019-04-09 15:56] riarenas commented on #2477
@mmitche think this this is needed by P5?

[2019-04-09 16:16] jaredpar opened #2483 "Powershell Core"
Today in arcade we have quite a bit of infrastructure contained in our scripting layer. Every line of code in that layer we pay double for because we have to write it in Powershell and Bash.

As I'm updating the bash side for the Azure logging change it makes me wonder: why not Powershell Core? It seems to have a number of advantages for us:

1. Cross platform.
1. .NET Core based so it's not a new

[2019-04-09 16:45] mmitche commented on #2477
@riarenas Yeah I think so.  I think some of this can be pretty simple

[2019-04-09 16:50] riarenas opened #2484 "[Maestro/Darc] Refactor scenario test scripts for reusability"
We have a lot of repeated code in our scenario test scripts that deal with test setup and cleanup. Spend some time refactoring the scripts so that adding a new test doesn't result in repeating a lot of code.

[2019-04-09 16:54] riarenas commented on #2390
Current plan is to run these tests as part of the release pipeline that deploys Maestro++ and Darc.

* Run against INT Maestro at the end of an INT deployment to validate it
* Run against INT as a gate to the PROD deployment to avoid promoting a bad state of master
* Run against PROD at the end of a PROD deployment to validate the build

Also checking feasibility of rolling back the deployments if

[2019-04-09 16:56] #2382 closed

[2019-04-09 17:33] tmat commented on #2483
I don't think we can use PowerShell Core since that requires .NET Core, whose acquisition is the only thing that the bash scripts (tools.sh, build.sh) are needed for in the first place. We should have more bash scripts beyond what's necessary to locate/install dotnet. Everything else should be done in msbuild.

The only bash scripts I can think of that could be converted to PowerShell Core/msbuild

[2019-04-09 20:10] jcagme commented on #2390
Have you measured the added time? Interested in know how much it'd take to deploy a change all the way to PROD

[2019-04-09 20:34] JohnTortugo commented on #2408
I think this got close by https://github.com/dotnet/arcade/pull/2429

[2019-04-09 20:34] #2408 closed

[2019-04-09 20:38] riarenas commented on #2390
The whole set of tests take about 6 minutes to run on average (the release pipeline runner only checks for completed pipelines every 5 minutes, so it depends on where in the 5 minute cycle you started running the tests)

[2019-04-09 21:05] mmitche opened #2487 "[Maestro/Darc] Proposal for repository health metrics"
Come up with a proposal on how to handle/add repository health metrics.

<add goals>

[2019-04-09 21:10] Anipik commented on #1584
yes @ViktorHofer they do contain sourcelink for all the files except the autogenerated files. (which are SR.cs and *.notSupported.cs). I have verified this by enabling the sourcelink for the local pdbs. I will verify with the official pdbs as well once they are build with my change

[2019-04-09 21:13] ViktorHofer commented on #1584
Sourcelink isn't enabled locally by default, I assume you changed that locally?

[2019-04-09 21:17] Anipik commented on #1584
You need to pass ```/p:EnableSourceLink=true``` in order to have pdbs with urls.
do we want to enable it by default ? i was not aware of that. I can put up the pr if that's the case.

[2019-04-09 21:18] ViktorHofer commented on #1584
https://github.com/dotnet/corefx/pull/34900 😂 please not.

[2019-04-09 21:19] Anipik commented on #1584
hahahah okay :P

[2019-04-09 22:48] brettfo opened #2491 "Add support for mimicking source-build locally and in CI."
F# currently has source-build scenarios enabled for CI via the following tweaks:

- [yaml definition](https://github.com/Microsoft/visualfsharp/blob/08daf6d5a0abb62c01a475ea442c2996b0e79335/.vsts-pr.yaml#L159-L172)
- [properties workaround](https://github.com/Microsoft/visualfsharp/blob/08daf6d5a0abb62c01a475ea442c2996b0e79335/FSharpBuild.Directory.Build.props#L72-L85) by setting:
  - `$(Determini

[2019-04-09 22:54] tmat commented on #2491
FWIW - i'm working on making SourceLink buildable from source, which should help address some of these.

[2019-04-10 15:32] dougbu commented on #2443
Can aspnet-AspNetCore-Tooling also be transitioned?

[2019-04-10 15:34] jcagme commented on #2443
Yes, I forgot to include it in the plan. I'll add it soon. @JohnTortugo please add it to your check marks above

[2019-04-10 15:39] jcagme commented on #2443
https://github.com/dotnet/arcade/pull/2495

[2019-04-10 16:57] riarenas opened #2496 "[Maestro/Darc] Add tests for interactive Darc commands"
Add some validation to commands such as darc create-subscription.

[2019-04-10 19:41] dagood commented on #2398
`Blob` is intentionally vague, it just means it's a file rather than something that exists by accessing a NuGet v3 package feed.

`Blob`s (and `Package`s) support custom metadata, no need to invent `Artifact` for this. You can also stay within XML by using `IsPackage="true"`, `IsInstaller="true"` etc. rather than coding your own delimiter.

Conventions for 2.1/2.2 are documented here: https://gith

[2019-04-10 19:46] dagood commented on #2398
Reason I'm here, by the way, is I'm wondering if this could be used to declare whether a specific package should go to the main feed or an AzDO feed (https://github.com/dotnet/arcade/issues/1788) or both.

Specifically, a CoreXT package will need to go to a VS feed but other packages the build produces still go to the main feed.

[2019-04-10 20:03] tmat commented on #2398
We'll need to have a uniform output location for CoreXT packages in Arcade SDK. Currently each repo places them in different directories, which makes it hard for the publishing logic to distinguish between CoreXT packages and regular nuget packages.

We should make CoreXT a first class concept and put them to `artifacts/packages/{config}/CoreXT`.

[2019-04-10 20:22] dagood commented on #2398
FYI @dleeapho @nguerrera, sounds like there are already some thoughts about CoreXT stuff.

[2019-04-10 22:29] cshung opened #2497 "Test the argument parsing scripts against special characters"
With @jorive help, we found this page with a good repository of special characters
https://www.robvanderwoude.com/escapechars.php

It would be nice to test our scripts against these special characters.

[2019-04-10 22:37] cshung opened #2498 "Refactor the batch parsing script to use call"
Batch argument parsing script could be refactored to use this pattern, considerably cleaner.

[code]

[2019-04-10 23:43] JohnTortugo commented on #2371
From @natemcmaster about [importing Signing.props in the pipeline](https://github.com/aspnet/AspNetCore-Tooling/pull/412#discussion_r274211933):

[2019-04-11 01:41] JohnTortugo opened #2499 "Patch `dotnet symbol-tool` to check completeness & availability of symbols"
After some review / discussions about these issues: #167, #173, #1874 it was clear that issue #1874 encompasses both #167 and #173. Moreover, it was decided that we would use [symbol-tool](https://github.com/dotnet/symstore/tree/master/src/dotnet-symbol) to perform validation and availability check of symbols.

A temporary solution for both of these problems was provided in this PR: https://github

[2019-04-11 14:38] mmitche opened #2503 "[BARviz] Sometimes view doesn't show all repos"
![image](https://user-images.githubusercontent.com/8725170/55966095-a51d7b80-5c2c-11e9-831b-b3a07a9d2c91.png)

Occasionally I don't see all repos (e.g. core-setup is missing here, from .NET Core 3 Release"

@dougbu I think this was what you were seeing.
@mjanecke @alexperovich Any ideas?

[2019-04-11 16:13] sbomer commented on #2321
@markwilkie Sorry for the delayed response. My angle is that it should be easy as possible for an existing SDK project to start using arcade (and it definitely shouldn't require digging through arcade targets to come up with a workaround). Maybe that's not really a design goal, in which case feel free to close this.

In my mind `StrongNameKeyId` is an arcade replacement for `AssemblyOriginatorKeyF

[2019-04-11 17:01] tmat commented on #2321
You can set `StrongNameKeyId` to `custom` already to opt-out. The one thing that's missing is the error reporting that will tell you to do so.

[2019-04-11 17:02] tmat commented on #2321
That is the goal. :)

[2019-04-11 17:02] JohnTortugo opened #2505 "Onboard Batch 3.5 of repos in Async Publishing"
These repos make direct use of `PublishToBlobFeed` task from Tasks.Feed. The release pipeline mechanism currently requires that repos uses Arcade.SDK -> Publish.proj -> Publish target. Once we make the release pipeline mechanism functional for non Arcady repos these should be onboarded:

- [ ] CoreFX
- [ ] CoreCLR
- [ ] Toolset

[2019-04-11 17:03] JohnTortugo commented on #2442
Closing and moving remaining repos to https://github.com/dotnet/arcade/issues/2505

[2019-04-11 17:03] #2442 closed

[2019-04-11 19:10] mjanecke commented on #2503
@alexperovich noticed that there were five channels that were deleted in the last 24 hours (we don't know which ones, however).

[2019-04-11 22:36] JohnTortugo commented on #2310
@jcagme I think @markwilkie said we had to come up with a plan describing a scheme for how frequently / for which builds this should happen. Do I recall that right?

[2019-04-11 22:42] jcagme commented on #2310
Yes. I sent the overall plan to @leecow to get it approved so I work on the sub-plans for each of the stages. I think Lee is still working on that but once I get a response I'll work on INT nuget and also the rest of the validation steps. I will also CC you in the thread so you know what's going on

[2019-04-12 00:01] JohnTortugo commented on #2443
Closing and moving remaining repos to #2505

[2019-04-12 00:01] #2443 closed

[2019-04-12 00:16] Anipik commented on #1885
@tmat Setting this property  ```EmbedUntrackedSources``` to true solves our problem and doesnot slow down significantly.
I was wondering if there is a way to embed untracked files in specific directory ? eg untracked files in only the artifacts folder.
I am just worried that people may be able to use it to add non-generated files as well and we wont be able to detect the sourcelink failure

cc @er

[2019-04-12 11:40] danmosemsft commented on #1885
@anipik do the PDBs get significantly bigger? I guess we don't care too much about their size (we care a lot about implementation size)

[2019-04-12 13:55] dotnet-maestro[bot] opened #2507 "Release 'Release 220 - Publishing for build 20190412.1 of dotnet-arcade-validation-official' with id 4554 failed"
Something failed while running an async release pipeline for build s[20190412.1](https://dnceng.visualstudio.com/internal/_build/results?buildId=153107).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4554) to check the error logs.

Last commit by: @riarenas

/fyi: @JohnTortugo, @jcagme

[2019-04-12 14:42] riarenas commented on #2507
@JohnTortugo any ideas?

Also, is it expected for the issue creation code to think this was my commit even though it was a dependency update commit?

[2019-04-12 14:57] JohnTortugo commented on #2507
I'll look into it in a few min
________________________________
From: Ricardo Arenas <notifications@github.com>
Sent: Friday, April 12, 2019 7:42:51 AM
To: dotnet/arcade
Cc: Cesar Soares Lucas; Mention
Subject: Re: [dotnet/arcade] Release 'Release 220 - Publishing for build 20190412.1 of dotnet-arcade-validation-official' with id 4554 failed (#2507)

@JohnTortugo<https://nam06.safelinks.protection

[2019-04-12 15:41] JohnTortugo commented on #1873
AFAIU right now [sourcelink cli tool](https://github.com/ctaggart/SourceLink) can only handle Portable PDBs and the PDBs that we have during publish/release are Windows PDBs. I'm still investigating.

[2019-04-12 16:28] jcagme commented on #2507
Yes, that is the current design, although we might introduce the concept of repo owners so we tag the same people for failures in a repo, which for arcade-validation, it might end up been you anyway :)

[2019-04-12 16:40] riarenas commented on #2507
In this case it doesn't really matter, because yeah, all roads would end up leading to me having to be notified, but thinking of one of the product repos.

* I make a change to my feature.
* No other change comes in for the entire day, everything is looking stable.
* Subscription update PRs come in, some step in release pipeline is now broken.

I get notified, even though I have no idea what these

[2019-04-12 16:47] leecow commented on #2310
To make sure I understand, we would use int.nugettest.org at some level of frequency for nupkg metadata validation?

[2019-04-12 16:49] tmat commented on #1885
`EmbedUntrackedSources` instructs SourceLink to add source files that are passed to the compiler as inputs and that match an entry in `.gitignore`. These files are added to `EmbeddedFiles` item group that is passed to the compiler.

I don't understand what do you mean by "may be able to use it to add non-generated files". How do those files end up in the repository?

[2019-04-12 16:55] jcagme commented on #2310
That is the plan. It is included in the "Final Validation" stage of the email I sent you last week.

[2019-04-12 16:59] Anipik commented on #1885
eg the sourcelink is broken for a random.cs file which is in the repo.
I use  ```<EmbedFiles Include="Random.cs" />``` to fix the sourcelink for this file.
I am just wondering if there is a way to restrict me from doing that. Maybe a check on embeded items before passing them to the compiler

[2019-04-12 17:05] jcagme opened #2508 "[Release pipelines] When opening an issue related to a failed release tag known repo owners instead of last committers"
We've gotten several requests to use known "static" users on release failures per repo. This make sense since tagging the last committer might lead to confusion and to the start of long threads explaining the logic behind it.

We'd need to create a map of repo <=> owners so we get the owners keyed by repo. I'd persist this out from the runner code, either on DB or on a file part of the repo so we

[2019-04-12 17:06] jcagme commented on #2507
Yeah the idea is just to get someone in the repo to know that something failed. At the end, we own the first look and followup. I do see people getting all weirded out since they might not even know what is going on. Filed https://github.com/dotnet/arcade/issues/2508 to track this change

[2019-04-12 17:15] Anipik commented on #1885
talked with @ericstj  offline. Your comment addresses most of his concerns. Thanks I will put up the PR to address it

[2019-04-12 17:35] JohnTortugo commented on #2507
The current mechanism was intended as a temporary solution. An issue for investigating a better mechanism already exist: https://github.com/dotnet/arcade/issues/2083#issuecomment-475358184

[2019-04-12 17:36] JohnTortugo commented on #2508
My plan was to investigate supporting these customizations in the scope of these issues: https://github.com/dotnet/arcade/issues/2417 and #2370

[2019-04-12 17:39] jcagme commented on #2508
Yeah that is also an option. Still we'd need to persist the mapping somewhere as we currently do for artifact categories, but yeah this is a good option.

[2019-04-12 17:48] riarenas commented on #2507
I think as long as we're on top of investigating these as they happen, and considering it's just a temporary measure, it's fine. The person who gets flagged also sees that we're getting informed and they will know who to ask for help.

[2019-04-12 18:08] tmat commented on #1873
You could update the cli tool to support Windows PDBs.

I don't think we should be building Windows PDBs directly though. We should always build Portable PDBs and convert them to Windows PDBs. The converter preserves SourceLink, so validating the Portable PDBs is sufficient.

[2019-04-12 18:13] JohnTortugo commented on #1873
Thanks @tmat . One question, the symbol uploader supports converting portable pdbs to windows pdbs, can't we disable the pdb conversion during build and only do the conversion during publishing?

[2019-04-12 18:17] tmat commented on #1873
We can't since it doesn't support embedded PDBs yet. Even if it did, I don't think that's the right place to convert actually. We should be converting during build.

[2019-04-12 18:59] JohnTortugo commented on #1873
@tmat so do you think doing this validation during the build is the way to go? I.e., do the validation during the build (before conversion to win pdb) instead of during publishing ?

[2019-04-12 19:07] #1885 closed

[2019-04-12 19:30] tmat commented on #1873
No, we should do the validation on Portable PDBs during publishing. We should also check during publishing that all managed binaries that are being published have Portable or Embedded PDBs.

[2019-04-12 20:07] chcosta opened #2509 "Permit defining multiple sdks"
We are working to enable defining multiple .NET runtimes in Arcade which can be used for testing.  We should also consider if there is a way to extend the model to support defining multiple sdk's.

https://github.com/chcosta/arcade/commit/737e29378f2a8596f6ceec1f378beea2a7b0ba0b#r33153182

[2019-04-12 20:10] chcosta opened #2510 "Use jq for bash json parsing"
We have places in Arcade where we have to parse Json before an sdk is acquired.  Powershell makes this easy on Windows.  On Bash, the parsing is fragile and error prone.  We should consider adopting a dependency on a more robust parsing tool in Arcade.

Something like [jq](https://stedolan.github.io/jq/)

From https://github.com/chcosta/arcade/commit/737e29378f2a8596f6ceec1f378beea2a7b0ba0b#r33161

[2019-04-12 20:15] alexperovich commented on #2510
We could probably use python for json parsing we need. All helix machines are guaranteed to have it because helix requires it, and most linuxes have it. I don't think the same is true of jq.

[2019-04-12 20:30] danmosemsft commented on #1873
@anipik were you going to check whether they do - for the native binaries from core repos at least? Wondering whether more work is needed for them.

[2019-04-12 20:57] tmat commented on #2510
The fact that it is on helix machines is irrelevant. We would need to make this work for **all** OSS contributors. Adding any dependency doesn't seem worth the effort to me.

[2019-04-12 21:01] tmat commented on #1873
Yes, we should definitely do that. I guess we won't get around reading native PDBs in SourceLink validation.

[2019-04-12 21:08] alexperovich commented on #2510
Porting coreclr to a new platform will require python, because all the builds run through helix. Even worse really, the azure devops agent is written in C# and runs on .NET Core, so a new platform would require a complex bootstrapping thing or cross-compilation.

Every linux operating system we have brought up for helix has had python. They didn't all agree on the version, but JSON parsing is easy

[2019-04-12 21:09] tmat commented on #1873
Now that I'm thinking about it more I don't think we have the necessary APIs in Microsoft.DiaSymReader/Native to read native source link data (they are stored in a different stream within the PDB than managed ones). No problem adding those APIs it's just work.

So I suggest we separate validation of Source Link Portable PDBs and native (C++ generated) PDBs. Let's make sure our Portable PDBs are go

[2019-04-12 21:14] Anipik commented on #1873
I checked sourcelink for the native dlls that we produce in corefx and it was giving me an error as "Invalid Header"

[2019-04-12 21:15] tmat commented on #2510
Well, yes, eventually it will. But not when you're starting and want just to run build locally.

I'm fine with Python if we have solid data on it's availability on all Linux distros we support.

[2019-04-12 21:16] tmat commented on #1873
@Anipik How did you check?

[2019-04-12 21:18] Anipik commented on #1873
so one of the native pdbs that we ship is ```clrcompression.pdb``` so I just ran
[code]

[2019-04-12 21:46] tmat commented on #1873
it's not portable pdb so it's not gonna work

[2019-04-12 21:46] mjanecke opened #2511 "[BARViz] Build pages displaying incorrect data"
The dotnet/core-sdk latest build shows incoherency with the AspNetCore-Tooling dependency:
(https://dev.azure.com/dnceng/internal/_git/dotnet-core-sdk?_a=history&version=GC954b9f705da159a21e3a0c167b1805056f5e70e2)

* The immediate dependency uses build with SHA: 0de7258eb317fb048954e5e5507fe0686ba51aa4
https://dev.azure.com/dnceng/internal/_git/aspnet-AspNetCore-Tooling?version=GC0de7258eb317fb048

[2019-04-12 21:47] #1162 closed

[2019-04-12 21:48] JohnTortugo opened #2512 "Validate of Source Link of Portable PDBs"
For more context see the discussion here: https://github.com/dotnet/arcade/issues/1873

Builds of Arcade onboarded repos convert Portable PDBs to Windows PDBs during the build itself. We should validate that Source Link information of PDBs. It's easier to do that on Portable PDBs, since we can rely on [source link cli](https://github.com/ctaggart/SourceLink). This issue is to perform this validati

[2019-04-12 21:49] dougbu commented on #2508
As mentioned in a recent conversation, the sooner we can _disable_ notifying the last committer the better. The current state is in some ways worse than nobody getting notified.

/cc @JunTaoLuo @natemcmaster

[2019-04-12 21:50] mmitche commented on #1162
Automated for int/prod is in place, with automatic triggers on prod

[2019-04-12 21:51] JohnTortugo commented on #2508
I'll work on it today.

[2019-04-12 21:53] JohnTortugo commented on #1873
Created this issue to track the work on Portable PDBs: https://github.com/dotnet/arcade/issues/2512

[2019-04-12 21:56] JohnTortugo commented on #2512
@tmat - so you mean I should make the Portable PDBs and the windows PDBs available for the publishing step and then perform validation on Portable PDB but publish the Windows PDBs? I'm OK with that, I'm just confused if I should make the two sets of PDBs available for the release pipeline.

[2019-04-12 22:00] tmat commented on #2512
We should be always publishing both Portable PDBs and the converted Windows PDBs.
we can validate SourceLink in Portable PDBs now and in Windows PDBs later.

[2019-04-12 22:08] JohnTortugo commented on #2508
PR for disabling notifying the committer: https://github.com/dotnet/arcade-services/pull/337

[2019-04-14 16:44] mikem8361 commented on #2457
I agree that creating a .symbols.nupkg without this 3rd party module would be the best way to handle this instead of a white list or ignoring this error (I especially don't want to ignore this kind of error).

[2019-04-15 03:23] mmitche opened #2518 "[darc/maestro++] Advanced flow control"
With the increased rate that dependencies can now flow through our systems via Maestro/Darc, we have some new challenges that have arisen:
- When coherency is desired, the coherency QB (CQB) must analyze sources of potential incoherency and carefully adjust default channels, subscriptions, etc. or risk inadvertent introduction of new changes into the graph late in release cycles.
- Potential sourc

[2019-04-15 05:06] JohnTortugo opened #2519 "Need API to read SourceLink information from Windows PDBs"
Issue originated after discussion on this other issue: https://github.com/dotnet/arcade/issues/1873

It's what the title say. We need a tool that can read SourceLink information from Windows PDBs. See messages from @tmat below for better context.

From @JohnTortugo [here](https://github.com/dotnet/arcade/issues/1873#issuecomment-482622319):

From @tmat [here](https://github.com/dotnet/arcade/issue

[2019-04-15 06:36] JohnTortugo commented on #2512
Thanks Tomas. Two more questions:

- From @danmosemsft message on the other issue I got the impression that the only validation necessary is for the links to be pointing to _a_ GitHub repo. Is that all I've to check?
- What if a 3rd party DLL in the package have source link information pointing to some non-public servers (i.e., not GitHub)? How can I decide which DLL I should validate?

[2019-04-15 14:03] danmosemsft commented on #2512
You should check the links resolve..

[2019-04-15 14:20] mmitche opened #2521 "[Maestro] Maestro publishing APIs/manifest dropping asset location information"
The location information for assets appears missing as of late.

@JohnTortugo Any ideas on this?

/cc @riarenas This is something that we need to validate. I think it should be done in two places:
- In the new E2E testing scripts, ensure that location info is preserved on BAR publish
- In arcade-validation, we could use darc to run "gather-drop" on the input arcade build, then validate that the ou

[2019-04-15 14:36] mmitche opened #2522 "Switch partners to prod pool providers"
The prod pool providers are now live.  Users can switch to them by changing:

- **NetCoreInternal-Int-Pool** to **NetCoreInternal-Pool**
- **NetCorePublic-Int-Pool** to **NetCorePublic-Pool**

arcade-validation should remain on Int.

[2019-04-15 14:36] mmitche commented on #2522
/cc @MattGal

[2019-04-15 15:40] riarenas opened #2524 "[darc/maestro++] Validate asset location is populated after publishing happens"
Based off of #2521

* In the new E2E testing scripts, ensure that location info is preserved on BAR publish
* In arcade-validation, we could use darc to run "gather-drop" on the input arcade build, then validate that the output drop contains all of the correct bits.

[2019-04-15 16:15] MattGal commented on #2522
@mmitche seems reasonable, were you thinking as an FR activity?

[2019-04-15 17:03] mmitche commented on #2522
@MattGal Wasn't quite sure.  Maybe a combo of a partners mail and an FR mop up?

We should be able to tell using the new telemetry jobs that have not switched.

[2019-04-15 17:30] zsd4yr commented on #2377
@nguerrera @tmat @sharwell any update here?

[2019-04-15 17:31] JohnTortugo commented on #2521
I'll look into it today

[2019-04-15 17:53] mjanecke commented on #2511
BARViz link for reference: https://maestro-prod.westus2.cloudapp.azure.com/19/https:%2F%2Fgithub.com%2Fdotnet%2Fcore-sdk/7908

[2019-04-15 18:19] #1874 closed

[2019-04-15 19:29] ericstj commented on #1574
This is fixed by @Anipik's change to generate facade sources.  Given we want to move away from assembly rewiting I reccomend we "won't fix" this in the old GenFacades codebase.

[2019-04-15 19:29] #1574 closed

[2019-04-15 20:56] #1488 closed

[2019-04-15 21:05] vatsan-madhavan commented on #1715
@riarenas, has there been any progress on this?

[2019-04-15 21:07] riarenas commented on #1715
@vatsan-madhavan Still working on our automated validation and testing. I will start looking into this one early next week.

[2019-04-15 21:11] vatsan-madhavan commented on #1715
That would mean that we will still be doing manual-merges when updates are coming in for Preview 5 (//build). I'm hoping that we can get this fix this week, so that when _//build_/preview 5 builds start being snapped next week, we don't have human-in-the loop delays.

[2019-04-15 21:13] JohnTortugo commented on #2432
@leecow I made the changes to the build definition. I'll keep the issue open for sometime so I can confirm things are working smoothly.

[2019-04-15 21:22] riarenas commented on #1715
Discussed with @mmitche and we reshuffled things a bit. I'll start taking a look at this one.

[2019-04-15 21:27] mjanecke commented on #2511
This issue appears to have been due to an incorrect version being checked out during the Release build. @alexperovich added a script that will checkout the Build.SourceVersion version during the Release build.

(See the "Checkout build Version" tab on https://dev.azure.com/dnceng/internal/_releaseProgress?releaseId=4699&environmentId=10832&_a=release-task-editor)

Closing this issue.  @mmitche, fy

[2019-04-15 21:27] #2511 closed

[2019-04-15 21:30] #2287 closed

[2019-04-15 22:09] leecow commented on #2432
Thanks - I'll have a look at the build output tomorrow.

[2019-04-15 22:54] riarenas opened #2529 "[Maestro] ReleasePipelineRunner ProcessFinishedReleasesAsync crashes if any of the channels that it is trying to insert builds into has been deleted"
Found this one while automating the scenario tests:

It is possible for a channel to be deleted while a release is running. Then, once the release finishes, and the `ProcessFinishedReleasesAsync` scheduled task tries to insert a build into the now deleted channel, the whole task crashes, meaning that no builds will be added to any channel via a release pipeline, and dependency updates won't trigge

[2019-04-15 23:04] #2453 closed

[2019-04-15 23:29] jcagme commented on #2529
https://github.com/dotnet/arcade-services/pull/342

[2019-04-16 00:35] #2529 closed

[2019-04-16 01:52] riarenas commented on #2529
Thanks! this unblocked my validation as soon as it made it to int :)

[2019-04-16 08:36] ViktorHofer commented on #2498
What is the action item here?

[2019-04-16 08:37] ViktorHofer commented on #2497
Also test with spaces in a path.

[2019-04-16 08:44] ViktorHofer commented on #2483
Additionally, the test scripts that run on helix machines shouldn't use powershell scripts either. We want to support flavors that don't have a powershell variant yet.

[2019-04-16 08:51] ViktorHofer commented on #2396
We also need this for ProjectN in DevDiv to publish to BAR. Any update?

[2019-04-16 15:57] mjanecke commented on #2503
Determined that the "missing" repos are not available in the Default Channels list. Created #6002 to handle expanding the list of repos in BARViz to beyond just Default Channels.

[2019-04-16 15:57] #2503 closed

[2019-04-16 16:27] rainersigwald opened #2531 "Publish symbols for full-framework amd64 binaries"
MSBuild produces `MSBuild.exe` and `MSBuildTaskHost.exe` as both 32-bit and 64-bit applications. Currently, Arcade does not publish symbols for the 64-bit copies.

I haven't fully dug into the problem here. The build produces valid `.pdb` files for both (portable for `MSBuild.exe` and legacy for `MSBuildTaskHost.exe` which targets `net35`), but they don't get published.

We manually published the

[2019-04-16 17:02] #2319 closed

[2019-04-16 21:07] crummel opened #2532 "Restore mechanism for overriding package versions"
In https://github.com/dotnet/arcade/pull/537 / https://github.com/dotnet/arcade/pull/537/commits/ac4c48cce4bbb1f626d6b160ef8978e126ab8d45, `DotNetPackageVersionPropsPath` was removed as a way to override package versions.  While this is correct in the long-term after we solve the coherency problems, in the short-term source-build still needs a mechanism to override these package versions (especial

[2019-04-16 21:07] crummel commented on #2532
cc @tmat

[2019-04-16 21:14] tmat commented on #2532
We already import `DotNetRestoreSourcePropsPath` here: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/DefaultVersions.props#L103

Since this is supposed to be a temporary workaround, could source build overwrite the versions in that file (or import another .props file in that file)?

[2019-04-16 21:14] tmat commented on #2532
Accidentally closed.

[2019-04-16 21:16] crummel commented on #2532
That should probably work, I will give it a try.

[2019-04-16 22:12] ViktorHofer opened #2533 "Native tools bootstrapping disabled by default"
With https://github.com/dotnet/arcade/pull/280/files#diff-b76a3f23fd33241b618730c7f6b05b92L94 the native bootstrapping was disabled by default. What were the concerns with it?

CoreFx wants to use the native tool boostrapping feature for both local development and in CI. It would be great if we could re-enable the native bootstrapping feature by default.

cc @cchosta @alexperovich

[2019-04-16 22:32] riarenas commented on #1715
It looks like the [Policy Evaluations API](https://docs.microsoft.com/en-us/rest/api/azure/devops/policy/evaluations/list?view=azure-devops-rest-5.0) is what we want to be using for this.

[2019-04-17 01:40] JunTaoLuo commented on #1605
Is there any update on this?

[2019-04-17 06:54] #2444 closed

[2019-04-17 15:51] #1487 closed

[2019-04-17 15:58] tannergooding opened #2540 "GenerateReferenceSource should follow type forwards so we can update based on changes to S.P.Corelib"
It appears as though running `/t:GenerateReferenceSource` does not currently pick up that the actual sources live in `S.P.Corelib` (or another assembly) but are exposed as part of a given projects `ref` assembly.

We should likely follow the `TypeForward` and use `System.Private.Corelib` to validate the exposed surface is up to date.

[2019-04-17 16:00] tannergooding commented on #2540
I imagine this might require some logic to dictate which types are meant to be exposed by a given reference assembly and it might require some logic to indicate when individual members are explicitly not exposed.

However, I think having this explicitness might help automate `GenerateReferenceSource` in the future.

[2019-04-17 16:00] tannergooding commented on #2540
CC. @ericstj, @ahsonkhan

[2019-04-17 17:14] natemcmaster commented on #1999
@markwilkie @mmitche can we give this issue consideration? Now that aspnet is enabling automerge, we'd still like a way to tell the bot to hold off merging.

[2019-04-17 17:14] natemcmaster commented on #1999
cc @JunTaoLuo @dougbu

[2019-04-17 17:17] mmitche commented on #1999
Ya, will see whether this is a quick fix.

[2019-04-17 17:23] safern commented on #1205
We would like to use this in corefx and coreclr... we need a faster dependency flow in between this repositories, because coreclr consumption is slow now, if there is a regression we have to wait till next day or update it manually ourselves. However we can't do per build, since we have rolling builds which will probably beat CI system in coreclr. So we would like to have a frequency of every 5 ho

[2019-04-17 17:27] safern commented on #1205
@markwilkie can we give this guy a higher priority? I think it is important for productivity... right now to close an issue where code lives in coreclr, sometimes it takes us around 72 hours to get it in.

[2019-04-17 17:28] mmitche opened #2541 "[darc/maestro++] Enable pinging of users on failed PR checks"
When a PR check fails on an update PR, we should have the ability to ping a set of users to take a look (and not ping otherwise).

/cc @natemcmaster

[2019-04-17 17:30] mmitche commented on #1205
@safern I don't think so, we have a ton of work to do by P7 and I don't see this as higher priority than say internal servicing workflows and publishing.

[2019-04-17 17:31] mmitche commented on #2426
@riarenas Did this get done?

[2019-04-17 17:31] safern commented on #1205
cc: @danmosemsft

[2019-04-17 17:32] tannergooding commented on #1205
Right, currently in the normal case:
* Check in a PR against CoreCLR
* Wait till the next morning for changes to flow into CoreFX
* Check in ref assembly fixes against CoreFX
* Wait till the next morning for changes to flow into CoreCLR
* Check in remaining changes
* Wait till the next morning for changes to flow into core-setup
* Wait till the next morning for changes to flow into core-sdk (for a

[2019-04-17 17:32] mmitche commented on #2058
This got fixed recently (and there are test cases for it)

[2019-04-17 17:32] #2058 closed

[2019-04-17 17:32] riarenas commented on #2426
No. I expect to have a definitive answer from CLI team on how they want this implemented this week.

[2019-04-17 17:34] tannergooding commented on #1205
CoreCLR/CoreFX are in a torn state in the interim for these types of changes as one or the other could be exposing APIs that haven't been properly supported by the JIT or that have been removed from S.P.Corelib.

This will also heavily impact cases like the experimental work on the ARM HWIntrinsics (which we have some external partners that will be assisting on this).

[2019-04-17 17:34] mmitche commented on #2059
Fixed already

[2019-04-17 17:34] #2059 closed

[2019-04-17 17:39] mmitche opened #2542 "[Maestro, Darc] Create repository subscription flow graph"
Create a repository subscription flow graph to visualize what the current state of flow looks like, as well as for use to determine "time to coherency"

[2019-04-17 17:41] ericstj commented on #2540
That's already defined by the typeforwards in the src assembly that GenerateReferenceSource operates on.

GenAPI supports exclusions. https://github.com/dotnet/arcade/blob/5c40ffc8d160681c1ff39f69ec8fd893795bd520/src/Microsoft.DotNet.GenAPI/Program.cs#L42

[2019-04-17 17:43] mmitche opened #2543 "[Maestro, Darc] Repository health metrics proposal"
Create a proposal around repository health metrics such that shiproom, repository owners, and the Coherency QB can understand what steps need to be taken to:
- Ensure fixes are flowing through the system cleanly
- Get to a coherent build quickly.

[2019-04-17 17:44] mmitche opened #2544 "Dependency Flow is sufficient to ship P6"
Dependency flow is sufficient to ship preview 6

[2019-04-17 17:51] mmitche commented on #2426
Thanks

[2019-04-17 17:52] mmitche opened #2545 "[darc/maestro++] Add tests for flowing internal/stable build feeds"
1. Come up with a proposal for how feed urls and blob storage urls are updated in repositories as we flow dependency versions. The requirements are:
  - Feed urls are 'trimmed' to remove urls no longer interesting
  - Blob storage urls (e.g. dotnetcli.blob.core.windows.net/dotnet) are flowed also
  - Flowed based on the location of assets.

2. Implement and roll out plan.

[2019-04-17 17:53] mmitche commented on #2545
/cc @jcagme

[2019-04-17 17:54] mmitche commented on #1205
FYI you don't actually need to wait.  Using `darc trigger-subscriptions` you can fire off the subscription without doing a local manual update.

[2019-04-17 18:03] tannergooding commented on #1205
I believe this also requires the authentication tokens/etc to be setup, correct?

Would it be much work to setup a job someone can explicitly trigger in AzDO to do the same?

[2019-04-17 18:08] jcagme commented on #1205
No, it shouldn't be a lot of work. An example for that would be https://github.com/dotnet/arcade/blob/master/eng/common/generate-graph-files.ps1. Which installs darc (on a pinned version) and executes a command using the tokens passed in. For trigger-subscriptions I think you only need barToken. To pass in the toke you need to do https://github.com/dotnet/arcade/blob/master/eng/common/templates/jo

[2019-04-17 18:27] markwilkie commented on #2234
@wli3 - is this something you're expecting my team to submit a PR for or were you planning to?

[2019-04-17 18:28] markwilkie commented on #2321
@sbomer - should I assume you're waiting for error reporting before closing this bug?

[2019-04-17 18:29] markwilkie commented on #2351
Looks like this is tracking, so am closing the issue.  Feel free to reopen of course if needed.

[2019-04-17 18:29] #2351 closed

[2019-04-17 18:30] markwilkie commented on #2352
Added to post preview 7

[2019-04-17 18:31] markwilkie commented on #2366
Added to post preview 7

[2019-04-17 18:36] markwilkie commented on #2377
Not sure there's anything to do specifically in Arcade.  It seems the work is tracked between VS behavior (perhaps bug??) and a dotnet sdk feature request (https://github.com/dotnet/sdk/issues/867)

[2019-04-17 18:39] markwilkie commented on #2383
@Chrisboh - which business priority should this live under do you think?

[2019-04-17 18:41] sharwell commented on #2377
@markwilkie Since it's easy to roll out arcade changes as source files in the individual repositories, why not implement this as a workaround in **eng\common** until such time as the IDE supports it being defined exclusively in a package?

[2019-04-17 18:41] markwilkie commented on #2396
I moved this to P7.  @mmitche - feel free to move again as appropriate.

[2019-04-17 18:42] markwilkie commented on #2398
Moving to P7.

[2019-04-17 18:43] markwilkie commented on #2412
@mmitche - I seem to remember this got done?

[2019-04-17 18:44] markwilkie commented on #2413
@mmitche - Which business priority (epic) would you like this to live under?

[2019-04-17 18:45] markwilkie commented on #2415
Moving to P7

[2019-04-17 18:47] markwilkie commented on #2416
@ViktorHofer - is the plan still to move that work you did in corefx back into Arcade?

[2019-04-17 18:47] JohnTortugo commented on #2415
Anyone see an issue with just extending the expiration data from the start? Who can confirm that the expiration period should be?

[2019-04-17 18:47] markwilkie commented on #2420
@jcagme and @JohnTortugo  - could you guys make sure this is captured already?

[2019-04-17 18:49] markwilkie commented on #2434
Moved to post P7

[2019-04-17 18:49] markwilkie commented on #2436
@jonfortescue ?

[2019-04-17 18:50] markwilkie commented on #2438
Looks like there's nothing more to do here

[2019-04-17 18:50] #2438 closed

[2019-04-17 18:51] dagood commented on #2415
@mikem8361 might have thoughts here. I don't know who would specifically care about overusing symbol indexing/storage space. Maybe until we get a bill, nobody cares. 😄

[2019-04-17 18:52] jonfortescue commented on #2436
When I filed this, I was seeing consistent failures due to this in arcade-minimalci-sample. I am no longer seeing those, so it is likely this has been fixed.

[2019-04-17 19:04] mmitche commented on #2412
Yep, done.

[2019-04-17 19:04] #2412 closed

[2019-04-17 19:42] jcagme commented on #2420
Ack'ed. I'll sync with folks to get the full picture.

[2019-04-17 19:58] jcagme commented on #2420
Hey @wtgodbe:

* How often are these steps done?
* Are all these currently manual? For example, how do one check "All servicing-approved PRs are merged"
* Is the idea to have a tool that one runs or could we have some (or all) of these be part of specific release definition?
* Probably more questions to come...

[2019-04-17 20:03] markwilkie commented on #1293
@dsplaisted - given the guidance in https://github.com/dotnet/arcade/blob/master/Documentation/DefaultsGuidance.md what do you think the right next steps are?

[2019-04-17 20:05] wtgodbe commented on #2420
- These steps are done at every release, which is about once per month for 2.x & 3.0, and once every ~3 months for 1.x. The releases don't always sync up, so we might have more than 1 release in the same month.
- Everything is currently manual
- The idea is to have a tool that one runs to validate that everything has been done. I could see some of the tasks being done by the tool (rather than manu

[2019-04-17 20:08] markwilkie commented on #1558
Given the upcoming support for multiple shared frameworks (https://github.com/dotnet/arcade/issues/1441) - does this provide a path forward without resorting to pinning @natemcmaster ?

[2019-04-17 20:09] markwilkie commented on #1741
@riarenas - do you think this is now covered elsewhere?

[2019-04-17 20:11] markwilkie commented on #1910
Given the guidance now articulated in https://github.com/dotnet/arcade/blob/master/Documentation/DefaultsGuidance.md, @natemcmaster, what's your recommend for next steps?

[2019-04-17 20:11] markwilkie commented on #1912
Closing given the published doc:  https://github.com/dotnet/arcade/blob/master/Documentation/DefaultsGuidance.md

[2019-04-17 20:11] #1912 closed

[2019-04-17 20:18] dsplaisted commented on #1293
@markwilkie This isn't really about preference for a different folder, which seems to be what the guidance is about.  This is about making it easier to develop for multiple operating systems.

I had sent [a PR](https://github.com/dotnet/arcade/pull/1471) to allow this, but Tomas had some feedback about it that we never resolved, mainly because this is only a priority for me sporadically, when I ha

[2019-04-17 20:26] jcagme commented on #2420
Sure, I'll find some time either in the coming days or early next week.

Is this something which is only done in corefx of the same functionality could be used in other repos as well?

[2019-04-17 20:27] wtgodbe commented on #2420
`Packaging changes for CoreFx PRs that touch libraries with OOB packages` only applies to CoreFx, but everything else applies to all of the Core* repos. We could probably extend this to cover other repos as well, but I only have area expertise on Core*.

[2019-04-17 20:32] riarenas opened #2547 "[Maestro/Darc] Maestro doesn't recognize the merge policy created by darc add-subscription --require-checks"
See: https://dev.azure.com/dnceng/internal/_git/maestro-test2/pullrequest/980?_a=overview

The subscription was created with the `require-checks` option, but Maestro doesn't understand what that merge policy means.

[2019-04-17 20:37] riarenas commented on #1741
I don't think it is.

The Arcade templates still install the latest version of the MicroBuild plugin, so even if Arcade-validation signing tests succeed, any repo could break at any given time if a bad version of the plugin gets released.

[2019-04-17 20:44] markwilkie commented on #1293
I see - makes sense.  Thoughts on next steps for this issue?

[2019-04-17 20:48] markwilkie commented on #2377
Sorry @sharwell - when you say "implement this", what are you referring to more specifically?

(As an aside, easy rollouts isn't really a good rationale for doing something....grin)

[2019-04-17 20:51] tmat commented on #2377
Right, I'd rather not add complexity or duplication. This doesn't seem like a critical issue.

Also, I don't think the root cause is understood yet.

[2019-04-17 20:51] natemcmaster commented on #1558
Not really. I think the path forward is to accept this a peculiar quirk of Arcade. Since I seem to be the only one requesting a change, closing.

[2019-04-17 20:51] #1558 closed

[2019-04-17 20:53] tmat commented on #2377
@markwilkie let's keep this open until the issue is understood and file in a more appropriate place. Having the feature request dotnet/sdk#867 implemented would fix the experience but the current implementation should work and there is a bug somewhere.

[2019-04-17 20:56] natemcmaster commented on #1910
I recommend we accept this as a well-entrenched behavior of Arcade which can be overridden. At this point, so many repos have been changed to fit this convention that there is little value in altering course on this as a default behavior. It is not the default behavior I would have chosen in the beginning, but it's probably too late to change directions on this one, especially when there is still

[2019-04-17 20:56] #1910 closed

[2019-04-17 20:58] tmat commented on #1558
The pinning will be addressed by https://github.com/dotnet/designs-microsoft/pull/44. Once implemented this will allow us to remove Arcade's `tools.dotnet` and use `sdk.version`.

[2019-04-17 21:08] chcosta opened #2548 "[darc/maestro++] Update darc to support sdk.version"
Darc updates the version of the sdk used in a repo based on the version specified by global.json in Arcade.  It is likely that we are going to move from specifying the sdk version as

[code]

to the CLI supported format of

[code]

if this is not fixed, then the update feature will be regressed

See discussion [here](https://github.com/dotnet/arcade/pull/2343#discussion_r275938922) and the CLI pro

[2019-04-17 21:15] mmitche commented on #2521
@JohnTortugo Did you have a fix for this?  I don't to cause Preview 5 issues because of this.

[2019-04-17 22:23] sbomer commented on #2321
I'm personally hoping for an improved error and the `custom` opt-out not requiring `PublicKey` and `PublicKeyToken` to be set. However it's not blocking anything nor am I actively waiting on it. Triage/close as you see fit. :)

[2019-04-17 22:36] tmat commented on #2548
I'd just want to emphasize that this change can only be made in our repos once the CLI proposal is implemented and all our repos update to a dotnet version that has it implemented.

[2019-04-17 22:43] mikem8361 commented on #2415
If we are talking about extending the expiration date to 30 years for every daily build that might add up and actually cost some storage space. I'm not basing that on any data I have, just a feeling :).

If we can extend only for the potential release builds, then that shouldn't be a problem at all. The old prodcon final publish job had a build variable that could be set to 10950 days.  Not sure h

[2019-04-18 00:07] jonfortescue commented on #2436
Reopening bc I found this happening again. It's intermittent and I'm not sure what the cause is so renaming accordingly.

[2019-04-18 00:37] #2521 closed

[2019-04-18 00:48] natemcmaster commented on #2518
Sounds like a good problem to solve. If we can make GitHub PR approvals integrate well with dependency flow, awesome. On principle, I like the idea of having GitHub reflect our actual process for approving changes. I think that should be true for all pull requests, regardless of whether the PR author is a bot or human.

[2019-04-18 01:55] dagood commented on #1933
For example, preview4 could have been handled by this if gather-drop were working and everything were categorized correctly:

[code]

(For `preview4`, I did combine the aspnet repos into a single zip. This is *possible* to do in the json by passing multiple shipping dirs to one product with the `fileshares` property, but since you'd have to keep track of which repos are part of the aspnet "product

[2019-04-18 05:38] Chrisboh commented on #2383
Is there anything that we can do about this right now?  I am only guessing but doesn't AzDo need to do work before we can make this work in any meaningful way?

[2019-04-18 09:05] dotnet-maestro[bot] opened #2550 "Release 'Release 344 - Publishing for build 20190418.2 of Extensions-ci-official' with id 4953 failed"
Something failed while running an async release pipeline for build s[20190418.2](https://dnceng.visualstudio.com/internal/_build/results?buildId=160036).

Please click [here](https://dnceng.visualstudio.com/internal/_releaseProgress?_a=release-pipeline-progress&releaseId=4953) to check the error logs.

Last commit by: @natemcmaster

/fyi: @JohnTortugo, @jcagme