[2020-09-14 20:35] safern commented on #6166
The thing is that there is no Alpine queue. We do it via the docker feature.

[2020-09-14 20:39] ChadNedzlek commented on #6166
Hrm... presumably when we added the alpine queue, we could have passed some sort of metadata along denoting it as special?

[2020-09-14 21:00] MattGal commented on #6141
Adam has gotten the DLLs publishing with the PDBs, so now we wait for their next official build and see if indexing worked!

[2020-09-14 21:04] AdamYoblick commented on #6141
Yeah I didn't PR into our github repo yet, this is still internal testing. Basically I saw the dll's show up in the PdbArtifacts build artifact, but nothing published because I added the branch to the channel too late. I'm rerunning it to make sure that symbols publish. Once they do, I'll run symchk.exe against the dll's in the published vsix to make sure they have matching symbols. If they do, th

[2020-09-14 22:21] AdamYoblick commented on #6141
Ok things are looking good 😄

Here's what I did to verify:

1. Get latest arcade sdk, modify winforms-designer build scripts to include the our VSIX dll's in the artifacts to publish, and run an internal build at https://dnceng.visualstudio.com/internal/_build/results?buildId=814695&view=logs&j=65907e9e-dc2e-508d-4ed4-c5ec62867dbe&t=64d9e60c-b051-596f-8314-f9b1945f4e19
2. Verified that dll's are p

[2020-09-14 23:25] wli3 opened #6173 "Do not include packagereference of XliffTasks, Microsoft.SourceLink.GitHub, Microsoft.SourceLink.AzureRepos.Git for C++/CLI projects"
C++/CLI does not support packagereference. This breaks the build of C++/CLI projects when arcade is used.

[2020-09-15 04:37] meganaquinn commented on #5968
This can't be done until the new yaml is in, but when we get to that point I know what to do. :)
The info will be here once it's checked in (soon, relevant section is Step Outputs):
https://dev.azure.com/dnceng/internal/_git/dotnet-release?path=%2Fdocumentation%2Frelease-contracts.md&version=GBmain&_a=preview

[2020-09-15 14:38] adiaaida opened #6176 "[QCR] [Tech debt] Make operations public"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Currently all of the operations in ReleaseCli are marked internal, which makes testing the verbs very challenging, as we have to have a public "TestLauncher" inside the CLI assembly that can be called by the tests, rather than just calling the operations directly. We should mark the operations as public, and then call them

[2020-09-15 15:44] riarenas commented on #5487
We finally unblocked #5935, so I'm updating this task again to a version with the restrictions removed in https://github.com/dotnet/arcade/pull/6178

[2020-09-15 16:59] chcosta commented on #5939
@missymessa , can we close this?

[2020-09-15 17:30] missymessa commented on #5939
I don't think it should be in our epic. It should be in a tech debt epic for Arcade (I don't think one exists yet). Alternatively, this may be a moot issue once no one is using the signing functionality in this way.

[2020-09-15 17:56] #6100 closed

[2020-09-15 17:59] #5930 closed

[2020-09-15 18:18] riarenas commented on #6041
This is fixed in publishing v3 thanks to https://github.com/dotnet/arcade/issues/6100. I don't think it's that important to fix it for v2 publishing, as the build promotion pipeline isn't used as much.

[2020-09-15 18:18] #6041 closed

[2020-09-15 20:45] AdamYoblick commented on #6141
@MattGal , thank you for your help on this. Our latest build from master is at https://dnceng.visualstudio.com/internal/_build/results?buildId=816181&view=results. I've downloaded the vsix and run symchk against the dll's within, and I got no errors back.

So we should be good. Fell free to close out this issue. 😄

[2020-09-15 20:46] MattGal commented on #6141
Thanks Adam!

[2020-09-15 20:46] #6141 closed

[2020-09-15 21:29] adiaaida commented on #5033
Alex has checked this in, so closing.

[2020-09-15 21:29] #5033 closed

[2020-09-15 22:35] davidwrighton opened #6183 "Helix SDK should support artifact directories with unix permissions"
- [x] This issue is causing unreasonable pain

The Helix sdk uses Zip files to package up contents when passing a directory into Helix. Unfortunately on Unix platforms this causes issues when there are native executables in the payload. In particular, the permissions on the various files are lost when packaged as a zip file. The helix runtime supports handling a tarball, which would be more suitab

[2020-09-15 22:40] MattGal commented on #6183
Thanks.  Does using tar still solve this problem if the .tar / .tar.gz files are made on a Windows box?

[2020-09-15 22:45] davidwrighton commented on #6183
Well, the tar file would need to have the appropriate permissions in it, which aren't likely to happen on a Windows box. I don't think we should remove the current logic which magically puts +x permissions on scripts in the root of the payload, but for problematic scenarios which aren't script based, it is unlikely that helix would be launched from a Windows box in any case. For instance, I would

[2020-09-15 22:46] davidwrighton commented on #6183
It also seems like it would be worth documenting in the Helix SDK, the PayloadArchive feature, as well as the detail about how permissions are handled, as I was surprised by some of this.

[2020-09-15 22:51] alexperovich commented on #6183
I believe we can do this easily. Base .net doesn't have tar support, but we could just use sharpziplib or something. I doubt it would ever work when sending work from windows to linux though.

[2020-09-15 22:59] davidwrighton commented on #6183
Another thought is to just shell out to tar, which is available on recent builds of Windows as well as Linux. Feel free to take a quick look at my PR, and in particular the change to src/coreclr/tests/helixpublishwitharcade.proj

Note, I marked this issue as unreasonable pain, not because it was all that painful to solve, just because it was an speedbump I really didn't need, that really didn't ne

[2020-09-16 04:44] epananth commented on #6082
Publishing version had to be hard coded for Sdk and Installer repos too

[2020-09-16 13:47] mmitche opened #6186 "Signing validation job doesn't work with RC1"
- [x] This issue is blocking arcade promotion
- [ ] This issue is causing unreasonable pain

With the update to the RC 1 SDK, MSBuild 16.8 is required. This breaks the signing validation job of the arcade official build (and presumably other places where this stage is run): https://dev.azure.com/dnceng/internal/_build/results?buildId=816756&view=logs&j=0a6c679f-72be-5867-422e-acb741a068a3&t=d8e44d

[2020-09-16 14:55] mmitche opened #6187 "wixpdb files should be generated to the obj dirs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The wixpdbs get generated alongside the msis/exes in the shipping/nonshipping package folders. This means they tend to get swept up and published, potentially get stuck into signing manifests, etc. These should be generated with light.exe to the obj folders.

[2020-09-16 16:09] Tohron commented on #5887
Finally completed
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/9550

[2020-09-16 17:12] adiaaida commented on #5903
Moving to the signing epic, as it is related to the changes made to signing.

[2020-09-16 17:15] adiaaida commented on #5910
Is this just creating the feed, or also publishing to the feeds? Can you give an example of what CQB does now?

[2020-09-16 17:34] mmitche commented on #5910
Pushing packages as well as creating the feed. Right  the CQB now will create a feed based on the installer build name (e.g. 5.0.100-rc.1-1234.5) and push the packages from the shipping dir there.

Given that we are moving signing into post build, there is probably overlap with another issue. We can cover both issues with this one. I think we want to:
- Create a feed for the non-shipping packages

[2020-09-16 17:47] mmitche commented on #5910
/fyi @jcagme

[2020-09-16 21:29] mmitche opened #6192 "SignTool should allow .symbols.nupkg files to be unsigned"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

While .symbols.nupkg files are nupkgs, they do not need to be signed. We will never push them to endpoints requiring that signing (they are just containers, really). The contents can be signed, but we do not need to sign the actual nupkg itself.

[2020-09-16 21:35] #4669 closed

[2020-09-16 21:35] #5511 closed

[2020-09-16 21:35] #5570 closed

[2020-09-16 21:35] #5569 closed

[2020-09-16 21:35] #5568 closed

[2020-09-16 21:35] #5513 closed

[2020-09-16 21:35] #5567 closed

[2020-09-16 21:35] #5566 closed

[2020-09-16 21:35] #5564 closed

[2020-09-16 21:35] #5565 closed

[2020-09-16 21:35] #5562 closed

[2020-09-16 21:35] #5563 closed

[2020-09-16 21:37] ChadNedzlek commented on #1945
Epic epic complete!

[2020-09-16 21:37] #1945 closed

[2020-09-16 21:49] markwilkie commented on #1945
Hooray!!!!!

[2020-09-17 08:17] ViktorHofer commented on #6186
@mmitche is this still happening?

[2020-09-17 08:20] ViktorHofer commented on #4539
This is now fixed and available in the SDK that Arcade consumes. Hence reopening. I believe we should make VSTest the default (and by that protect it in CI) and remove xunit.console support (as it is deprecated).

[2020-09-17 13:23] mmitche commented on #6186
Fixed.

[2020-09-17 13:23] #6186 closed

[2020-09-17 13:56] #5487 closed

[2020-09-17 17:12] dougbu commented on #5866
dotnet/aspnetcore has been configured this way from the get-go i.e. when Nate converted the repo to use Arcade, probably because the commit SHA in `[AssemblyInformationalVersion(...)]` is redundant for us (due to the `[AssemblyMetadata(CommitHash, ...)]` attribute) and to match the previous configuration. Code hasn't changed since dotnet/aspnetcore@41ce223c1cf4. See https://github.com/dotnet/aspne

[2020-09-17 17:21] Pilchie commented on #5866
I'm in favor of having the same metadata in the same format, but don't have strong opinions on what that format is.

For the URL, that probably comes from how the build checks out the repo, no?

[2020-09-17 18:36] MattGal commented on #6047
Rolled out and used for a while, closing

[2020-09-17 18:36] #6047 closed

[2020-09-17 18:36] riarenas commented on #6048
This was rolled out.

[2020-09-17 18:36] #6048 closed

[2020-09-17 18:37] #6060 closed

[2020-09-17 18:38] MattGal commented on #4906
Rolled out, closing.

[2020-09-17 18:38] #4906 closed

[2020-09-17 18:59] adiaaida commented on #5538
Just to confirm: do we want this to happen as part of the staging ring (available early, potentially pre-validation) or as part of publishing (only available when we've decided this is a release we are releasing)?

[2020-09-17 19:00] adiaaida commented on #5910
Ok, thanks. Also to confirm: we want to do this early, for every potential release candidate, correct? Ie, not in the publishing phase?

[2020-09-17 19:36] mmitche commented on #5910
Yes that's right.

[2020-09-17 19:38] mmitche commented on #5538
This would be part of staging. I think we need @leecow's input on final location. I think it should be private.

[2020-09-17 20:20] garath commented on #6154
Triage: Happens rarely but would be good to move errors earlier / closer to users.

[2020-09-17 20:33] garath commented on #6167
Triage: @dougbu, are there specific proj files you're having problems with? This was meant to be a work-around, and would like to avoid spreading it.

[2020-09-17 20:36] garath commented on #6168
Triage: We've updated everywhere possible, unfortunately this is not possible with signcheck because it is a framework app.

[2020-09-17 20:36] #6168 closed

[2020-09-17 20:38] garath commented on #6173
Triage: @wil3, can you provide a bit more information? Is there a broken build we can look at?

[2020-09-17 20:49] chcosta opened #6199 "Add test coverage for signtool msi engine extraction / signing / reattaching"

[2020-09-17 22:17] leecow commented on #5538
If we're talking blob storage then `https://dotnetcli.blob.core.windows.net/dotnet-private/5.0.X` would be good. I've been putting together what's needed for internal early access at this location.

@mmitche - I envision this perhaps becoming the non-file share stage location rather than a mirror of CORE_BUILDS. What's your thinking on copying everything?

[2020-09-17 22:37] mmitche opened #6201 "Support non-flat layouts in BlobArtifacts"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Right now we only allow for a flat layout in BlobArtifacts when PushToAzureDevOpsArtifacts runs. This is normally fine because all repos in .NET create uniquely named artifacts. These can then be uploaded to arbitrary locations (like subpaths on dotnetcli). This works because basically all the artifacts we publish are cont

[2020-09-17 22:38] mmitche commented on #6201
/cc @hoyosjs @riarenas @epananth

[2020-09-17 23:01] wli3 commented on #6173
@wtgodbe is working on this issue. What is the process? And @ryalanms is there a branch with the RestoreProjectStyle set?

[2020-09-18 07:54] lwintjen commented on #5836
I'm closing this issue since a [PR](https://github.com/dotnet/arcade-services/pull/1326) has been merged to solve this.

[2020-09-18 07:54] #5836 closed

[2020-09-18 16:17] wtgodbe commented on #6173
I was just helping @ryalanms diagnose his issues locally, but I believe he was planning on following up with folks from the Arcade team for a long-term fix

[2020-09-18 17:09] rainersigwald commented on #6120
@garath Yes. Arcade makes a bunch of assumptions in its Visual Studio component authoring process that aren't valid in all circumstances--specifically, it assumes that every VS component is a VSIX container, but that's not always true. We had to spackle over a bunch of stuff to get the correct package build. It would be preferable if it was just supported by Arcade.

[2020-09-18 17:41] riarenas commented on #6120
I'm still trying to understand what this issue is asking for. The link for what the workaround doesn't seem to be working.

It mentions publishing, do you mean publishing to the dotnetcli container for later consumption?

[2020-09-18 18:05] rainersigwald commented on #6120
No, this is entirely about _building_ non-VSIX packages. Publishing worked fine.

Current workarounds are

https://github.com/dotnet/msbuild/blob/e89501e67e07fe474a70153e5df3766d27db0085/src/Package/Microsoft.Build.UnGAC/Microsoft.Build.UnGAC.csproj#L7-L8

https://github.com/dotnet/msbuild/blob/e89501e67e07fe474a70153e5df3766d27db0085/src/Package/Microsoft.Build.UnGAC/Microsoft.Build.UnGAC.csproj#

[2020-09-18 18:07] riarenas commented on #6120
Thanks! That makes sense. I'm showing my bias when I see publishing mentioned 😄

[2020-09-18 18:34] mmitche opened #6205 "Enable PostBuildSign=true flow in Arcade SDK"
Originally we had planned to simply enable post build signing by turning off Signing in repos by setting everything to DryRun=true or something along those lines. The downside of this is approach is that some repos may have files that must be signed out of the build. Runtime has one of these cases (mscordbi and mscordac*), because the packages containing those files flow to other places (diagnosti

[2020-09-18 18:47] ryalanms commented on #6173
This branch has the first workaround applied (RestoreProjectStyle=Unknown) and will expose the missing Arcade task:

https://github.com/dotnet/wpf/pull/3444

/cc @dotnet/wpf-developers

[2020-09-18 19:52] missymessa opened #6208 "Tests for changes to Signing and Publishing process"
https://github.com/dotnet/arcade/pull/6206 will be introducing a change in logic for Signing and Publishing. We need to ensure we get tests around this.

[2020-09-18 22:01] adiaaida opened #6210 "Longest build path not going to base of the graph"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

So, I just noticed a weird occurrence in the longest build path graph on BarViz. It appears that for, at least, .Net 6 Dev and .Net 5 RC 2, the longest build path calculation isn't starting at the correct roots:

![Screen Shot 2020-09-18 at 2 58 59 PM](https://user-images.githubusercontent.com/9666644/93648375-7e39ac00-f9b

[2020-09-18 22:18] mmitche commented on #6210
Yeah it was good prior to the last rollout at least. Thanks for the heads up.

[2020-09-18 22:27] mmitche commented on #6173
@wli3 @wtgodbe @garath @ryalanms What changed here? The references to SourceLink and such have been there forever.

[2020-09-18 23:50] riarenas commented on #6173
I have prepared a test build version of arcade that conditions the inclusion of sourcelink + xliff packagereferences in this test build: https://dnceng.visualstudio.com/internal/_build/results?buildId=821771&view=results. If that ends up being needed by wpf I will make a PR so that it goes into official arcade.

[2020-09-19 01:32] Tohron commented on #5814
Merged
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/953

[2020-09-19 01:32] #5814 closed

[2020-09-19 06:08] lpatalas commented on #6210
I just checked and the graphs look ok again. There were no changes related to graph generation in last rollout so I have suspicion that we may be picking some "work-in-progress" state sometimes. Maybe the builds are running at the moment when the graph is generated and not all dependencies are written to the BAR yet? Unfortunately I'm out of office until 25th so won't be able to investigate it nex

[2020-09-21 07:54] #6137 closed

[2020-09-21 07:54] lwintjen commented on #6150
The PR has been merged into the staging, waiting to be in the next rollout.

[2020-09-21 07:54] lwintjen commented on #6138
The PR has been merged into the staging, waiting to be in the next rollout.

[2020-09-21 12:57] rokonec opened #6212 "[Resilience] Gather inputs from Customers"
Goal of this issue is to gather information from our Customers in order to:
- identify and understand main problems
- understand level-of-pain particular problems are causing
- gather ideas and recommendations

[2020-09-21 14:45] adiaaida commented on #6210
I think investigation can wait until you're back, but I just wanted to note that I'm seeing it in RC2 again (the sdk->installer dependency), but not .NET 6. Very strange. It definitely knows there's a dependency (though I guess that's on the subscription, so that make sense). I assume what you're suggesting is that, if the deps for the most recent build haven't been written to the BuildDependencie

[2020-09-21 15:05] adiaaida opened #6213 "[QCR] [Testing] All tests in Microsoft.DotNet.ReleaseCLI should use FluentAssertions"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Right now we have a mix because the change to use FluentAssertions came in after the initial tests came in. Our policy is to use FluentAssertions everywhere, so we need to update those tests. In particular, the tests found in https://dev.azure.com/dnceng/internal/_git/dotnet-release?path=%2Fsrc%2FMicrosoft.DotNet.Release%2

[2020-09-21 15:46] adiaaida opened #6214 "[QCR] Reorganize Staging pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

* Rename Create File Drop
* Split Validation Ring into required and less... required (Signing validation, checksums validation are required, everything else is not)
* Rename CTI to Test Team
* Move CIT to rely on VS insertion
* Move VS insertion to rely on required validation
* Have regular validation run in parallel with

[2020-09-21 17:36] tkapin commented on #3326
Repoening as this issue represents our summer internship project, which hasn't ended yet.

[2020-09-21 17:45] tkapin commented on #6046
Moving to the summer internship project epic as it's not related to telemetry improvements, but rather to Maestro++ improvements.

[2020-09-21 17:45] tkapin commented on #6150
Moving to the summer internship project epic as it's not related to telemetry improvements, but rather to Maestro++ improvements.

[2020-09-21 18:25] dougbu commented on #5866
My leaning is toward leaving the `[assembly: AssemblyMetadata("CommitHash", "380a5679bbc5cef03471ab68bd9b2d14085ead91")]` bit alone but switch `$(IncludeSourceRevisionInInformationalVersion)` to `true` or remove that setting entirely.

dotnet/efcore has this problem too. It sets the property to `false` and does not provide `[AssemblyMetadata("CommitHash", ...)]`. Should remove the setting there to

[2020-09-21 18:33] smitpatel opened #6215 "Test project not running tests for command line build"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In https://github.com/dotnet/efcore
We have EFCore.Analyzers.Test project. When invoking `build.cmd -test` (or cibuild.cmd in AzDo for ci build), the test project is not running tests. Same project runs test fine when running in Visual studio or dotnet test on the assembly directly.

The test project is compiled when runni

[2020-09-21 22:35] chcosta commented on #5918
@missymessa can we close this?

[2020-09-21 22:36] chcosta commented on #5927
https://github.com/dotnet/core-eng/issues/10167#issuecomment-696414508.  I *think* we can close this.  TBD based on feedback in the linked issue

[2020-09-21 22:39] chcosta commented on #5939
I'm not sure what the issue is here.  Given that we now handle signing metadata which allows collision resolution based on bar build id, can we close this?

[2020-09-21 22:40] chcosta commented on #5962
can we close this?

[2020-09-21 22:42] chcosta commented on #6069
Can we close this?

[2020-09-21 22:49] missymessa commented on #5939
This isn't an issue with Post Build Signing. This is an issue with having to set up Signing.props to handle collisions for the original usage of Sign.proj. As I mentioned, this should be in an epic to deal with Arcade Tech Debt.

[2020-09-21 22:50] missymessa commented on #5918
If we get rid of signproxy.proj in Arcade, yes. But if we're going to keep it, then this issue stands and it needs to be tested.

[2020-09-21 22:51] missymessa commented on #5962
Once we pull the usage of SignProxy out of the pipeline, we can close it. We haven't finished the work to consolidate it, yet.

[2020-09-21 22:51] missymessa commented on #6069
Was this work done? Is yes, then close it.

[2020-09-21 22:51] chcosta commented on #5918
Is anything else using it?  I thought that was just created for the post-build signing and that post-build signing isn't using it anymore

[2020-09-21 22:52] chcosta commented on #5918
oh, it's still in progress.  k

[2020-09-22 00:03] dougbu commented on #5866
PRs are now out to ensure all 3.1 and 5.0 assemblies from aspnetcore, aspnetcore-tooling, efcore, and extensions include the commit SHA in their `[AssemblyInformationalVersion]` values. aspnetcore-tooling and extensions didn't need to change. The aspnetcore and efcore fixes should be included in 3.1.10 and 5.0.rc2.

Left the extra `[AssemblyMetadata("CommitHash", ...)]` attribute in dotnet/aspnetc

[2020-09-22 07:29] lwintjen commented on #6046
Each edge in the graph represents a subscription. We want to annotate every edge with a channel (the source channel of the subscription). So we would have something like this:

SOURCE ------ SOURCE CHANNEL OF THE SUB. ------> TARGET
![image](https://user-images.githubusercontent.com/43049559/93854335-d6212d00-fcb5-11ea-84a2-681147b9c608.png)

[2020-09-22 08:58] rokonec commented on #6158
PR: https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service/pullrequest/10440

[2020-09-22 14:37] adiaaida opened #6219 "[QCR] Move release config creation to prep ring"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Currently the release config creation is generated in the staging ring at the same time as when we create the publish layout. This config file is needed earlier in the pipeline, so we need to split its creation out into its own operation and add it to the prep ring

[2020-09-22 15:15] rokonec commented on #6212
## Jared Parson

Most of Jared thought in this matter are captured in his [document](https://microsoft-my.sharepoint.com/:w:/r/personal/jaredpar_microsoft_com/_layouts/15/guestaccess.aspx?e=0nRQWy&share=EfdbxSdPRKdKnYTd84gxdeUBYuB5AYiKVcbTQcXP2SdzdQ)

- although PR tests kin runtime are greenish, we would still prefer if PR has less tests to make PR gate faster
- he also recommends that test RUNs

[2020-09-22 15:26] mmitche opened #6220 "BARViz build id should be the BAR build id, rather than the Azure DevOps build id"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

![image](https://user-images.githubusercontent.com/8725170/93903183-32cc1a00-fcad-11ea-8241-cfbea0b995ff.png)

This is currently displaying the ID of the azure devops build. This should be the BAR build id instead (which is what is typically copy/pasted into other places).

[2020-09-22 15:31] riarenas opened #6221 "Staging Barviz showing "Unable to load content" due to 500 responses from the new commit API"
- [X] This issue is blocking
I'm not sure we should deploy this change to production if this is going to manifest there

- [ ] This issue is causing unreasonable pain

See this link:

https://maestro-int.westus2.cloudapp.azure.com/9/https:%2F%2Fdev.azure.com%2Fdnceng%2Finternal%2F_git%2Fdotnet-wpf-int/latest/graph

I added a build from wpf-int that is currently in the prod DB to the staging databa

[2020-09-22 15:47] lwintjen commented on #6221
Hmmm. I never had a 500 before. I tried on the staging by running a scenario test and leaving it open. It worked fine :
![image](https://user-images.githubusercontent.com/43049559/93904801-8153d580-fcfa-11ea-8571-d53c4ca47cf0.png)

Maybe it's due to the way we get the commit from AzDevOpsClient  (as I mainly tried with the test repos on github, there might be an issue in AzDev)?

![image](https://

[2020-09-22 15:48] riarenas commented on #6221
Yeah, my fear is that this scenario might be broken for azure devops repos like wpf-int.

[2020-09-22 16:01] safern opened #6222 "[API Compat]: Attribute compat should understand meaning of attributes to apply diff policy"
Some attributes like `ReadOnlyAttribute` should be diffed differently by understanding the meaning of the attribute. It's differences not only rely on a 1:1 diff on the member attributes, but the containing type could be marked as readonly and that means the member is readonly even though it doesn't contain the attribute directly. This could apply to other attributes:

https://github.com/Azure/azu

[2020-09-22 16:41] chcosta opened #6224 "Move VS package publishing out of signing ring"
It looks like VS.* package publishing is happening (with post build signing), in the signing ring, https://dnceng.visualstudio.com/internal/_git/dotnet-release?path=%2Feng%2Fpipeline%2Ftemplates%2Fsteps%2Fsigning.yml&version=GBmain&line=210&lineEnd=217&lineStartColumn=1&lineEndColumn=38&lineStyle=plain

This seems like an unexpected consequence of promoting something to the signing ring and we sho

[2020-09-22 16:45] dagood opened #6225 "SourceLink validation step emits confusing error with automatically generated source-build intermediate nupkg symbol package"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In dotnet/source-build-reference-packages, we started getting confusing errors like this--a pass that is a failure:
https://dev.azure.com/dnceng/internal/_build/results?buildId=824139

![image](https://user-images.githubusercontent.com/12819531/93910348-96af0c80-fcc6-11ea-87d4-d5b17add8672.png)

That shows up as a warning

[2020-09-22 17:06] adiaaida commented on #6225
Looking at the code in sourcelink-validation.ps1, we don't even account for this kind of output:

[code]

which does not have an else case (and probably should). Also:

[code]

Also no else case. I'm wondering if, at least the first case should report failure.

[2020-09-22 18:23] MattGal opened #6228 "Remove azdo Send Helix Start/End Telemetry tasks from dnceng, and eng\common YAML templates (Release/3.x)"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

See this build:
https://dev.azure.com/dnceng/public/_build/results?buildId=824043&view=logs&j=efda9e5f-cf98-536e-4181-9b6c13ac35b3&t=ec9e8c58-cea6-5839-9ee0-81311176b279

... I believe this task:
[code]
... is actually installed somehow on our AzDO server, and is causing thousands of weird warnings.

Additionally, per vari

[2020-09-22 18:28] bricelam commented on #5866
Note, both EF6 and EF Core copy the AssemblyInformationalVersion value into a column with a max length of 32 preventing them from including the commit hash.

[2020-09-22 18:29] MattGal commented on #6228
From chatting with @chcosta the source for this task lives in https://github.com/dotnet/arcade-extensions and we can likely delete this entire repo, after updating the server to not inject this task.

[2020-09-22 18:43] MattGal commented on #6228
First PR: https://github.com/dotnet/arcade/pull/6229/files

[2020-09-22 19:03] riarenas commented on #6228
isn't that where the test results extension also lives?

[2020-09-22 19:32] MattGal commented on #6228
Updated title.  It seems this may not meet the servicing bar for Arcade 3.x, especially given users can explicitly override the value for enableTelemetry.  We'll discuss Thursday at triage with @mmitche  / @markwilkie and make the decision then.

[2020-09-22 21:55] mmitche opened #6231 "Verify symbol indexing story with post-build signing"
Verify symbol indexing story with post-build signing. After removing signing from the build, the following needs to work:

- [x] Symbols still need to work for crash dump analysis prior to shipping. For example, if aspnetcore gets a new runtime and it crashes, symbols should work. This means that the symbols of the unsigned binaries must be indexed, as well as the unsigned binaries.
- [x] The DACs

[2020-09-22 21:59] mmitche commented on #6231
@hoyosjs

[2020-09-22 22:14] hoyosjs commented on #6231
@dotnet/dotnet-diag fyi

[2020-09-22 22:18] mmitche opened #6233 "Symbols should be published to MSDL based on channel"
V3 publishing removed MSDL publishing of symbols https://github.com/dotnet/arcade/blob/master/eng/publishing/v3/publish-symbols.yml#L57. In v2 this was implemented per channel, so we chose to publish to MSDL (which is public) for public channels, and only symweb for internal channels.

I have enabled global v3 MSDL publishing for now to ensure we have these archived for ongoing RC2 builds. https:/

[2020-09-22 22:32] mmitche commented on #6233
This needs to be resovled for .NET 5.

[2020-09-23 07:42] lwintjen commented on #6221
Fixed in https://github.com/dotnet/arcade-services/pull/1418

[2020-09-23 07:42] #6221 closed

[2020-09-23 07:43] lwintjen commented on #6220
Fixed in https://github.com/dotnet/arcade-services/pull/1418

[2020-09-23 07:43] #6220 closed

[2020-09-23 14:37] mmitche opened #6236 "Occasional restore failures"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

I'm seeing restore failures in some cases, across a number of build pipelines. The failures usually succeed on retry. Example (I've retained this build):

https://dev.azure.com/dnceng/public/_build/results?buildId=826657&view=results

The packages in question are in dotnet5 and dotnet5-transport and were pushed prior to th

[2020-09-23 14:53] mmitche commented on #6231
@hoyosjs Verified that both MSDL and Symweb will transparently update the index if a new binary/pdb is indexed with the same client key.

So our current process should work.

[2020-09-23 14:54] riarenas commented on #6236
Hmm, as a workaround for when the credential provider used to crash all the time, we were clearing all the nuget caches on every single invocation of msbuild. I wonder if we're seeing that now as I removed that, and we should now add a single http cache clear at the start of a build?

[2020-09-23 14:57] riarenas commented on #6236
https://github.com/dotnet/arcade/pull/5952 is where I removed this. I don't think it should be reintroduced as we were clearing it multiple times per build, but maybe a single clear is still required?

[2020-09-23 15:03] riarenas commented on #6236
https://github.com/NuGet/Home/issues/3116 seems relevant?

[2020-09-23 15:52] riarenas commented on #6236
The nuget issue provides a workaround of using a `restoreNoCache` environment variable in the build machines. I'm testing setting that when we're in CI mode now.

[2020-09-23 17:00] mmitche commented on #6192
@jonfortescue

[2020-09-23 17:00] mmitche commented on #6173
This has been worked around in the wpf repo

[2020-09-23 17:00] #6173 closed

[2020-09-23 17:01] #6205 closed

[2020-09-23 19:08] riarenas commented on #6236
Merged a change that sets the environment variable in the build machines. Will keep an eye out to see if it resolves the issue completely, or if we need to go back to clearing the http cache multiple times per job.

[2020-09-23 22:41] missymessa commented on #5918
No one else should be using it. But once we get the consolidated version of post build signing done, we can most likely remove it.

[2020-09-24 00:02] adiaaida opened #6238 "[QCR] Create a PR with an empty release config when one does not exist for a particular channel"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In GenerateReleaseConfigOperation, we check to see if a <channel-version>-release.json file exists. When we don't find one, we report an error. We should also have that code creates a PR in dotnet-release with the correctly named file, but blank, for someone to fill out as part of the release process.

[2020-09-24 08:18] #6132 closed

[2020-09-24 08:18] rokonec commented on #6132
I am no longer working on this epic.

[2020-09-24 08:19] rokonec commented on #6158
I am no longer working on this epic.

[2020-09-24 08:19] #6158 closed

[2020-09-24 11:44] jakubch1 opened #6239 "Issues when signing VSIX"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

When signing VSIX I have issue that spaces/%20 are incorrectly handled by signing process. 2 examples below:
1)
Extracting file 'Microsoft.VisualStudio.CodeCoverage.Shim.dll' from 'C:\A\1\14\s\artifacts\VSSetup\Release\Insertion\Microsoft.VisualStudio.TestTools.DynamicCodeCoverage.vsix' to 'C:\A\1\14\s\artifacts\tmp\Releas

[2020-09-24 13:32] #6212 closed

[2020-09-24 14:03] rokonec commented on #6212
All mentioned people in ^, feel free to modify above.

Also feel free to contact me If anyone would like to know more details on my opinions and recommendations.

[2020-09-24 14:46] #5613 closed

[2020-09-24 17:31] markwilkie opened #6241 "Consider adding tests for file naming and/or branding"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

Everytime we get into the end game, it seems that file naming and/or branding problem arise.  We should consider putting checks/validation in for this as part of our validation ring.

[2020-09-24 19:24] MattGal opened #6242 "Signtool needs to understand spaces in paths inside VSIX extensions"
It seems while unpacking, caching, and checking for existing signing Signtool has problems if the paths inside the zip contain spaces:

Original failed run: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4093525&view=logs&j=4032467e-dc57-5727-0bde-0b3f32a19231&t=23a0f72a-24d0-5b93-813a-ea29ad9f7217

Deleted spaces: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=409406

[2020-09-24 19:28] ChadNedzlek commented on #6242
It seems like whatever is storing them with the "%20" isn't correct here.  I'm not familiar with what parts that are though. :-)  Treating a URL blindly as a filename without dealing with escaping is bound to cause issues.

[2020-09-24 19:43] MattGal commented on #6242
Sure, but given it's inside our code, if we determine that this VSIX was malformed, erroring out instead of trying to do stuff with a path that is likely just the path up til the first space.

[2020-09-24 19:58] ChadNedzlek commented on #6242
Indeed. I feel like whatever put the file on disk is the "wrong" piece of code here, but it's probably a nasty 50/50 split, where half the code is URL escaping it, and the rest isn't.  So if we had to pick a direction to prefer, it seems like having the file on disk not have "%20" would be best, since that accurately represents the actual file.

[2020-09-24 20:12] riarenas commented on #6167
Triage: It's been a week. Feel free to reopen if there's an actual proj file presenting an issue.

[2020-09-24 20:12] #6167 closed

[2020-09-24 20:27] riarenas commented on #6225
triage: @tmat any thoughts?

[2020-09-24 20:35] riarenas commented on #6228
Triage: We will create an epic for reducing technical debt in our yaml templates.

[2020-09-24 20:44] riarenas commented on #6239
Triage: @jakubch1 are you still blocked on this?

[2020-09-24 21:00] #6214 closed

[2020-09-24 21:00] #6219 closed

[2020-09-24 21:01] riarenas commented on #6242
This is a duplicate of https://github.com/dotnet/arcade/issues/6239. We'll see if the customer is still blocked and see how we should deal with this.

[2020-09-24 21:01] #6242 closed

[2020-09-24 21:29] jakubch1 commented on #6239
Yes. We are still blocked on this.

[2020-09-24 21:34] jakubch1 commented on #6242
We are still blocked on this. We want to replace existing Dynamic Code Coverage components and build them outside of VS repo. We want to keep existing files in same locations (Team Tools/Dynamic Code Coverage) as it contains tool CodeCoverage.exe that is used by external users. Signing is failing in both cases whatever folder I will specify in swr file:
folder "InstallDir:\Team Tools\Dynamic Code

[2020-09-24 21:48] MattGal commented on #6239
@chcosta is this something you can address in your current epic?

[2020-09-24 21:51] 333fred opened #6244 "Support passing `--blame` flags to `dotnet test`"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The .NET 5 SDK adds a few new [flags](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test#options) to `dotnet test` that would be useful to allow setting through some project property. These are the `--blame-*` flags, which allow for collecting crash dumps when the test host crashes or when tests hang and exceed

[2020-09-24 21:52] chcosta commented on #6239
Probably, but that wouldn't provide the urgency needed to unblock someone.

[2020-09-24 21:54] riarenas commented on #6239
Talked to @markwilkie.  We should investigate the issue as part of FR and see what it would take to fix this in signtool.

CC @ilyas1974

[2020-09-24 21:55] markwilkie commented on #6239
@ilyas1974 - could you at least look at this as part of FR please to see what's involved?

@jakubch1 - given that this isn't part of the dotnet stack proper, our ability to support this in an urgent fashion is limited.  However, we'll take a peek and with any luck it's a quick and easy fix.  Also, if you find the issue, we're happy to take a PR to arcade (which is where signtool lives)

[2020-09-24 21:55] dougbu commented on #6245
@SIkebe I transferred this because I'm not familiar w/ using eng/common/tools.ps1 when a proxy is necessary. This repo is the owner of that file.

[2020-09-24 22:13] alexperovich commented on #6215
Your project isn't getting recognized as a test project by arcade sdk. It needs to end in `.Tests` for it to be picked up.

[2020-09-24 23:50] Anipik opened #6247 "Add net6.0 to the list of DefaultValidateFramework"
We need to add net6.0 to list of frameworks  for package validation.
The change should be made here https://github.com/dotnet/arcade/blob/b1754cc4a2d37d522946792f50887eb716220f6a/src/Microsoft.DotNet.Build.Tasks.Packaging/src/build/Packaging.targets#L906

cc @ericstj @ViktorHofer @safern

[2020-09-25 04:05] smitpatel commented on #6215
@alexperovich - Thank you. That did the trick!

[2020-09-25 04:05] #6215 closed

[2020-09-25 17:13] chcosta opened #6249 "Don't re-sign containers in SignTool"
SignTool doesn't have detection logic to determine if a container (zip, nupkg, msi, etc...) is already signed (it only checks pe files).  This leads to signing mismatches because of oversigning.

"make a rule that says that if you have an already signed container, and all the files inside it that would get signed are already signed (no change in the contained files) then you should not even resign

[2020-09-28 03:36] epananth opened #6254 "V3 should not check for channel consistency"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Issue -> https://dev.azure.com/dnceng/internal/_build/results?buildId=831952&view=logs&j=a13e9384-d6d3-5a14-7a96-79282fc11262&t=62b78796-390e-5a19-0957-0b46593907e3&l=13

[2020-09-28 03:37] epananth commented on #6254
Work around for this is adding a check in the post-build.yml

  - ${{ if and(le(parameters.publishingInfraVersion, 2), eq(parameters.inline, 'true')) }}:

[2020-09-28 17:37] MattGal commented on #5786
@lukas-lansky any update?

[2020-09-28 18:46] MattGal opened #6256 "AttachResultFileToTestResultAsync() in CreateFailedTestsForFailedWorkItems needs to preserve URL formatting"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

As seen here: https://dev.azure.com/dnceng/public/_apis/test/Runs/26569808/Results/177642/Attachments/1671158401, reported by @jaredpar

https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/CreateFailedTestsForFailedWorkItems.cs#L43

[2020-09-28 19:27] AlitzelMendez commented on #5783
yes, it is already merged. closing the issue

[2020-09-28 19:27] #5783 closed

[2020-09-28 19:39] MattGal commented on #6256
Played around with this for a bit, it seems the problem is in https://github.com/dotnet/arcade/blob/0c43909d20dc55ed494b4fa6a8b6da2978054fa6/src/Microsoft.DotNet.Helix/Sdk/GetFailedWorkItems.cs#L70 , specifically when certain %-escaped chars in MSbuild ITaskItem metadata are used, they get un-escaped as they move through the system.

[2020-09-28 19:57] missymessa opened #6259 "Re-examine design of SignTool dependencies"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In order to call SignToolTask today, the caller is responsible for setting up and providing the paths to the various dependencies that SignTool requires (e.g. sn.exe, MSBuild.exe, WixToolset, Microbuild Core). This kind of design violates OOP principles, such as encapsulation and abstraction, and forces the caller to be ti

[2020-09-28 20:05] MattGal commented on #6256
https://github.com/dotnet/arcade/pull/6260/files should fix this.

[2020-09-28 20:17] garath opened #6261 "Do minimum validation of result of GetBuildManifest"
BuildManifestOperations.GetBuildManifest(string) returns null if given a path to an extant but invalid file. This is default deserialization behavior. It is Good and Reasonable to at least check the top level for null after deserialization and throw an exception if so.

FYI @missymessa

[2020-09-28 22:35] dougbu commented on #5866
Late-ish status update: Attributes in aspnetcore assemblies now contain the commit SHA in `[AssemblyInformationalVersion]` and overall look something like
[code]

Due to the efcore database restriction on `[AssemblyInformationalVersion]` value length, I couldn't change that value but did add `CommitHash` information. Attributes in its assemblies now look something like
[code]

@bricelam do you hav

[2020-09-28 22:47] dougbu commented on #5866
@jkotas back in https://github.com/dotnet/arcade/issues/5866#issuecomment-694374405 I mentioned

Are there plans / separate issues about using the HTTPS in the dotnet/runtime `RepositoryUrl` assembly metadata❔

FYI the problem isn't what @Pilchie suggested [above](https://github.com/dotnet/arcade/issues/5866#issuecomment-694379306):

At least in the 'release/5.0' branch, the Checkout job e.g. http

[2020-09-28 22:48] dougbu commented on #5866
@sebastienros up to you when we close this issue. I left it open primarily because the 3.1.10 changes aren't in and I'm not sure if follow-up issues are needed.

[2020-09-28 22:50] #5866 closed

[2020-09-29 01:32] hoyosjs opened #6263 "SourceLink validation errors with no diagnostic messaging"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We started seeing SourceLink validation failures in diagnostics. I've tried this locally, and something seems inconsistent. Sometimes I get 2 packages, and sometimes I get 5. We never get a result of which packages have source-link issues.

Failed build example: https://dev.azure.com/dnceng/internal/_build/results?buildId=

[2020-09-29 07:48] ViktorHofer commented on #6247
This should be a trivial change, why not just do it?

[2020-09-29 08:12] ViktorHofer opened #6265 "TargetFramework.Sdk filtering doesn't work with graphBuild msbuild option enabled"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Our TargetFramework.Sdk filtering on the P2P level doesn't work, probably because P2P are determined during evaluation. Ie when I do `dotnet msbuild -graphBuild:true Build.proj /p:Subset=libs.ref` in dotnet/runtime, all target frameworks are built.

[2020-09-29 09:31] lpatalas commented on #6210
I'm taking a look at it.

[2020-09-29 14:52] lukas-lansky commented on #5786
@MattGal I will open the PR today.

[2020-09-29 15:43] chcosta opened #6267 "Disable SigningValidation if PostBuildSign is true"
A few repositories are still doing signing validation in their official builds.  When we run those repos with PostBuildSign=true and signing doesn't happen, this causes the build to fail.  We should disable signing validation if postbuildsign is true.  This would be a central update to the Arcade templates

Examples:
- Extensions: https://dnceng.visualstudio.com/internal/_build/results?buildId=834

[2020-09-29 15:44] chcosta commented on #6267
ZenHub isn't working for me.   I'll try to put this in the post build signing epic when I can. :/

[2020-09-29 15:54] riarenas opened #6268 "[Barviz] Graph API is returning HTTP 500s."
- [x] This issue is blocking
Depending on what is causing this, this could be blocking deployment of maestro to production.
- [ ] This issue is causing unreasonable pain

Try this URL: https://maestro-int.westus2.cloudapp.azure.com/9/graph

![image](https://user-images.githubusercontent.com/23242101/94582625-4e956a00-0231-11eb-8f12-cda440407851.png)

[2020-09-29 16:07] riarenas commented on #6268
The staging logs show the following exception when trying to access the `/api/channels/9/graph` route:

[code]

Maybe it's just fallout from the recent secret rotation.

[2020-09-29 16:08] garath commented on #5631
The first half of this issue, the previous Arcade post-build step, is now in PR.

[2020-09-29 16:18] #6087 closed

[2020-09-29 16:19] jcagme opened #6270 "Fix SigningValidation"
As seen in https://dev.azure.com/dnceng/internal/_build/results?buildId=833816&view=logs&s=2f4b62b5-8d35-5570-0513-04a0c5199809, there are errors during Signing Validation not directly related to the validation action. We need to make sure these don't happen so we can actually know whether things were signed correctly or not.

[2020-09-29 16:36] riarenas commented on #6268
We have duplicate secrets in the maestrointservice keyvault that weren't updated as of the last refresh of the kusto credentials. I updated the secrets and this is now working.

![image](https://user-images.githubusercontent.com/23242101/94587294-3aed0200-0237-11eb-821a-528af7529664.png)

[2020-09-29 16:36] #6268 closed

[2020-09-29 17:21] bricelam commented on #5866
@ajcvickers is this something we want to invest in?

[2020-09-29 17:24] ajcvickers commented on #5866
@bricelam Do you think it has enough value to do?

[2020-09-29 17:29] bricelam commented on #5866
Personally? No. All the information is now available. Having a standard format is only valuable if it becomes ubiquitous across the entire .NET ecosystem.

[2020-09-29 17:30] ajcvickers commented on #5866
@bricelam Agreed.

[2020-09-29 17:30] bricelam commented on #5866
Also, using three attributes is more normalized. 🤓

[2020-09-29 17:41] ericstj commented on #6247
Right, I wanted the issue to track removing it on dotnet/runtime side when Arcade was merged.

[2020-09-29 17:54] chcosta opened #6272 "Build unsigned builds"
In progress

![image.png](https://images.zenhubusercontent.com/583dda0eb9dc3c622022afd2/bcfe79c4-3276-4158-b3f5-bf111fed5290)

[2020-09-29 18:19] MattGal commented on #3326
is this issue supposed to be an epic too?

[2020-09-29 18:25] #6247 closed

[2020-09-29 18:47] riarenas opened #6275 "Add option to skip safety checks when publishing assets with unsupported versioning schemes to non-isolated feeds."
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The PublishArtifactsInManifest task performs some safety checks so that we don't publish stable versioned assets to the regular feeds. Some repos are not using semver2 versioning for these packages, and are tripping this safeguard. The tasks themselves support a skipSafetyChecks parameter, but it needs to be plumbed throug

[2020-09-29 18:49] mmitche opened #6276 "Package version safety checks should be able to be skipped if desired"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

**Blocking arcade updates for some repos that produce global tools.**

symstore uses release package versioning on every build. The package patch is based on the build number, so it always changes. This is functionality introduced here: https://github.com/dotnet/arcade/pull/2615.

See https://github.com/dotnet/symstore/blo

[2020-09-29 18:50] mmitche commented on #6276
@epananth

[2020-09-29 18:50] riarenas commented on #6275
duplicate of https://github.com/dotnet/arcade/issues/6276

[2020-09-29 18:50] #6275 closed

[2020-09-29 18:55] riarenas commented on #6276
The Publishing task already has a property to skip this validation: https://github.com/dotnet/arcade/blob/f56c8fdc9fc149d135f121b21f7d93a384f26c6f/src/Microsoft.DotNet.Build.Tasks.Feed/src/PublishArtifactsInManifestBase.cs#L89

https://github.com/dotnet/arcade/blob/f56c8fdc9fc149d135f121b21f7d93a384f26c6f/src/Microsoft.DotNet.Build.Tasks.Feed/src/PublishArtifactsInManifestBase.cs#L267-L272

Fixing

[2020-09-29 18:59] mmitche commented on #6276
@riarenas That's a generic safety check option. It also checks some other things (like internal builds on public feeds, etc.). So maybe we'd need to split it out.

Also remember the promotion pipeline is involved here. So feeding it through that way would involve new parameters to darc, etc. IMO when dealing with this kind of versioning, we know that the versions we'll get will always be major.min

[2020-09-29 20:18] epananth commented on #6035
Most of the created PRs are merged. For the ones that are not, no need to manually merge the PRs created, it will get merged in the next servicing cycle. (Coherency QB will handle this)

[2020-09-29 22:15] MattGal opened #6278 "InstallDotNetSdk needs to have a way to prevent reinstall / failure when productVersion.txt remaps the folder name"
- [x] This issue is blocking

Makes users have to come up with workarounds for productVersion.txt installed SDKs/Runtimes

- [ ] This issue is causing unreasonable pain

See this code:
https://github.com/dotnet/arcade/blob/master/eng/common/tools.ps1#L153

[code]

With the recent changes to the install scripts to support installing "stable-version" type builds, we need to have a way to check this

[2020-09-29 22:21] dougbu commented on #6278
- This problem does not occur with preview SDKs or released SDKs e.g. dotnet-sdk-3.1.100-linux-x64.tar.gz is fine because the `3.1.100` version appears as the (expected) folder name under `$dotnetRoot\sdk\`
- I saved an `arcade-6278` branch in https://dev.azure.com/dnceng/internal/_git/dotnet-aspnetcore if you need an example branch where the current `tools.*` files aren't working for us

[2020-09-29 23:02] kunalspathak opened #6279 "Ability to ignore the helix work item download failure"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

I have a use case where I spawn multiple helix work items to do gather some data, then put it inside `uploadResult` so I can download it on AzDo machine. Sometimes, the data gathering part might fail on one of the helix machine and in that case, I want to ignore that failure, but still gather data from other helix work ite

[2020-09-30 00:34] garath commented on #6213
Done and merged, PR 10432

[2020-09-30 00:34] #6213 closed

[2020-09-30 13:48] #6236 closed

[2020-09-30 14:52] markwilkie opened #6281 "Implement GitHub Actions"
While GH actions won't be ready for prime time for 18+ months, here are the current requirements we sent over.

==================

Hi Chris –

As a follow up to our last discussion, here are the (high level) requirements as we understand them today for gh actions. I very much doubt you’ll see many surprises…. 😊

One of the assumptions on the frame of this is that we again will have a great work r

[2020-09-30 14:52] markwilkie commented on #6281
From @jaredpar:

"Believe we're missing the Azure Timeline API from the Blockers section. This is how CI council gets all of it's data as well as the bedrock for much of our automation in Azure DevOps."

[2020-09-30 16:11] chcosta opened #6283 "Make doStrongNameCheck usable"
SignTool contains an option for validating strong name signing.  Today, in all the .NET Core produce repos, that flag `doStrongNameCheck` is "false".  It's never true.  If we set it to "true", then the verification will fail for *some* (not all) repos.  Primarily, runtime repo has some assemblies that are "authenticode" signed, but not "strongname" signed.

A couple of things:

- If the parameter

[2020-09-30 16:18] mmitche commented on #6283
@hoyosjs Do you know why the crossgen2 tool and associated assemblies aren't strong named?

It definitely can be true, but we need to enable the exclusion list.

The primary thing that happens in runtime is the following:
- The crossgen2 assemblies aren't delay signed, so they don't get a strong name key through ESRP or locally
- The **check** for the crossgen2 assemblies is not based on whether t

[2020-09-30 16:33] missymessa opened #6284 "Remove signproxy.proj"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

This file was originally created for the Post Build Signing epic to access SignTool, however, we ended up going a different route. Time to clean up dead code.

[2020-09-30 16:58] missymessa commented on #6069
We're no longer using the SignProxy task in post build signing process. Closing this issue.

[2020-09-30 16:58] #6069 closed

[2020-09-30 17:00] missymessa commented on #5918
We can close this once https://github.com/dotnet/arcade/pull/6285 is completed.

[2020-09-30 17:01] hoyosjs commented on #6283
I'd have to take a look. That package is created in a very... particular way. However in a post .net framework world where we don't have the GAC, I'm not sure how necessary SN is. Makes sense for netstandard assemblies. I'll take a look and let you know know in a bit.

[2020-09-30 17:04] missymessa commented on #5962
No longer using SignProxy for post build signing. Closing this issue.

[2020-09-30 17:04] #5962 closed

[2020-09-30 18:27] riarenas opened #6287 "[Darc/Maestro+] Barviz should limit how much of a commit message is displayed in the repo build."
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

See https://maestro-prod.westus2.cloudapp.azure.com/1157/https:%2F%2Fgithub.com%2Fdotnet%2Fruntime/63845/graph

A long commit message makes the button take up most of the available space and doesn't convey a lot of interesting information.
![image](https://user-images.githubusercontent.com/23242101/94724836-b7ebaa80-030f-1

[2020-09-30 20:36] lpatalas commented on #6210
I tried to investigate it but it's pretty hard to find out what causes the issue. Most of the time the graph looks ok. The issue manifests from time to time but after a while the longest build path goes back to normal. It will be tricky to reproduce it.

My semi-blind guess is that it may be caused by `!e.IsToolingOnly` condition in: https://github.com/dotnet/arcade-services/blob/737108990a317c591

[2020-09-30 21:58] clairernovotny commented on #6281
I would add that displaying test results should include code coverage in the "Really should have" category. Not a hard block like being able to filter/sort/see test results, but really important in some scenarios.

[2020-09-30 22:13] Tohron commented on #6096
Merged:
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/10517?path=%2Fsrc%2FMicrosoft.DotNet.Release%2FMicrosoft.DotNet.ReleaseLib.Tests%2FAssetHelpersTests.cs

[2020-09-30 22:13] #6096 closed

[2020-09-30 22:42] sunandabalu commented on #6281
We also will need support for project-scoped custom extensions / or its equivalent to be able to add SDL tasks or its equivalent to internal project only. https://github.com/dotnet/core-eng/issues/10186#issuecomment-657691401

[2020-09-30 23:29] ChadNedzlek opened #6290 "None of the ReleaseCLI tests validate the exit code, which is critical for operation in AzDO"

[2020-09-30 23:31] ChadNedzlek commented on #6290
I was refactoring to do some DI, and realized that the "TestLauncher" stuff doesn't actuall return the exit code, which means the tests can't validate it.

My new DI returns it, but all the tests still ignore it (I don't have time to figure out the right answer for every test)

[2020-09-30 23:36] MattGal opened #6292 "GetFailedWorkItemsAsync() makes all its Helix API calls simultaneously"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

See this line;
https://github.com/dotnet/arcade/blob/dc949d8b3e4ac7ea50025fb39d8a161744089824/src/Microsoft.DotNet.Helix/Sdk/GetFailedWorkItems.cs#L60

As invoked by https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/tools/Microsoft.DotNet.Helix.Sdk.MultiQueue.targets#L60

GetFailedWorkItemsAsync()

[2020-09-30 23:59] ChadNedzlek opened #6293 "ReleaseCLI tests have required secrets to run, if they aren't set, the failure should say that"
Right now if you don't have a bunch of user secrets/environment variable set, a bunch of random asserts just say "True, Expected: false" or the like, which is really hard to debug.

If a test needs a secret, and that value isn't set, it should throw a very clear message with the name of the secret and what it's value should be, so that people can get tests running.

[2020-10-01 00:17] MattGal commented on #6292
@ilyas1974 moved to top of the stack, but maybe critical, since people sending 400 failing work items on their pipeline could cause others in nearby machines to fail?

[2020-10-01 04:41] #6272 closed

[2020-10-01 04:45] chcosta commented on #6259
Arcade already manages versions for many of these dependencies.  I think we should examine if that management could be moved closer to the implementation and signtool can define its own dependencies while allowing a consumer (like Arcade) to override those versions.

[2020-10-01 13:18] marek-safar opened #6300 "VSTest target hardcodes trx logger format for dotnet test"
- [x] This issue is blocking

VSTest target hardcodes trx logger format for dotnet test at
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/VSTest.targets#L22 which causes the output to be incompatible with the default PublishTestResults publishing step https://github.com/dotnet/arcade/blob/master/eng/common/templates/job/job.yml#L209

This issue is blocking publi

[2020-10-01 13:29] airbreather opened #6301 "ApiCompat: Inaccurate failures after upgrading to newer package versions"
- [ ] ~~This issue is blocking~~ (older package version seems to work for now)
- [ ] ~~This issue is causing unreasonable pain~~ (it's reasonable to expect pain from a prerelease package)

We've been using `Microsoft.DotNet.ApiCompat` in NetTopologySuite for a while now.  When trying to update this dependency to the latest version, it starts flagging a **ton** of concerning failures.

While this w

[2020-10-01 13:40] ViktorHofer commented on #6300
cc @alexperovich @MattGal

[2020-10-01 17:25] missymessa commented on #6050
Since this functionality has moved out of dotnet-release and into SignTool, these tests will be covered by https://github.com/dotnet/core-eng/issues/10813

[2020-10-01 17:25] #6050 closed

[2020-10-01 18:32] ChadNedzlek opened #6302 "Get dependency injection set up for ReleaseCLI"

[2020-10-01 18:32] ChadNedzlek commented on #6302
PR https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/10609

[2020-10-01 18:34] garath commented on #6302
That's not the right PR link I think.

[2020-10-01 18:34] riarenas commented on #6138
This has been rolled out

[2020-10-01 18:34] riarenas commented on #6150
This was rolled out.

[2020-10-01 18:34] #6150 closed

[2020-10-01 18:35] riarenas commented on #6046
This was rolled out.

[2020-10-01 18:35] MattGal commented on #6256
Rolled out, seems good.

[2020-10-01 18:40] ChadNedzlek commented on #6302
I only did the logger, because it's usually a good place to start, even if it's not the most useful one (and was usually already sort of broken out).

After that is HttpClient and GitClient and such. Those are harder, because they are intertwined into the operations... they just create new ones, so it involves a lot more functional changes.

[2020-10-01 18:42] akoeplinger commented on #5315
Awesome, thank you!

[2020-10-01 19:07] alexperovich commented on #6300
There isn't any "official" supported way to output xunit from vstest. We should just change the reporting to be okay with both.

[2020-10-01 19:09] ViktorHofer commented on #6300
Sounds great.

[2020-10-01 19:16] missymessa commented on #6284
Removal completed! Closing.

[2020-10-01 19:16] #6284 closed

[2020-10-01 19:17] missymessa commented on #5918
Signproxy.proj is gone, so closing this issue.

[2020-10-01 19:17] #5918 closed

[2020-10-01 20:38] garath commented on #6278
Triage: @mattgal to investigate

[2020-10-01 20:46] garath commented on #6287
Triage: @tkapin Do you think this should go into the telemetry epic?

[2020-10-01 20:48] garath commented on #6300
Triage: This scenario isn't yet supported but is in the direction we want to go.

[2020-10-01 20:49] ViktorHofer commented on #6300
@garath this is currently blocking dotnet/linker to identify their test failures. They are basically blocked.

[2020-10-01 21:15] ericstj commented on #2570
We should look more closely at the override behavior in general.  Contact can have more overrides than implementation.  If the implementation has an override not in the contract we may want to flag that as well for the same reason @terrajobst mentioned.

[2020-10-01 21:38] marek-safar commented on #6300
Could we enhance enablePublishTestResults to accept instead of `true` also `VSTest` or something like to avoid us recreating the pipeline?

[2020-10-01 22:15] davidwrighton opened #6304 "Workitems created with env/common/templates/steps/send-to-helix.yml always have the same name "WorkItem""
While building up some CI infrastructure I found myself with multiple jobs being sent to helix through this yml file which all used the same queue. The end result was that it is difficult to identify in the test tab of AzDo which tests failed as there are multiple jobs sent to the same queue, and without the ability to specify the workitem name they aren't distinguished. I've worked around the pro

[2020-10-01 22:26] markwilkie commented on #6300
Yes, to your point @marek-safar, perhaps it's worth the linker team adding the support?  We certainly do want to support vstest as a first class citizen, but it's not yet something we can actively address ourselves yet.

[2020-10-01 22:33] markwilkie commented on #6300
Also, this might help a little....  https://github.com/dotnet/arcade/pull/6253

[2020-10-01 22:42] ericstj opened #6305 "Make PkgProj permit no VersionSuffix being set"
We should fix the dotnet/runtime packaging infra to not require VersionSuffix.  See https://github.com/dotnet/runtime/pull/42872/files#r497644103

We ought to permit an unset VersionSuffix and error any place where we would have needed one to be set (EG: a stable package referencing non-stable package).

[2020-10-01 22:53] ericstj commented on #6305
cc @ViktorHofer @Anipik

[2020-10-01 23:47] Tohron commented on #6176
PR created:
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/10621

[2020-10-02 00:28] MattGal commented on #6278
@dougbu : Let's chat when you can tomorrow please.  I tried to get a repro using the supplied branch running eng\common\cibuild.cmd out of this but saw two behaviors.  (Also strange that this build doesn't seem to care about xcopy-msbuild...)

### When running with msbuild 16.8 on the path:

  The lines you point out do indeed cause some extra checking, about 10-15s of wasted time on subsequent bu

[2020-10-02 00:49] dougbu commented on #6278
I disagree w/ "nothing blocking" @MattGal because the "Build fails with" error breaks us w/ the productVersions.txt redirects. In any case, I was typing up the following as you added your comment&hellip;

----

dotnet/aspnetcore mainly hit problems  errors from the `else` part of `if ($install)` because not all of our build steps pass `-restore` and that controls `$install`. I hacked the eng/commo

[2020-10-02 00:52] dougbu commented on #6278
@dsplaisted any thoughts on adding something more to the BundledVersions properties❔ I'm working on hacking around this but am not excited about writing an `msbuild` task just to parse our global.json file.

[2020-10-02 01:06] MattGal commented on #6278
@dougbu I'm not trying to say there's nothing blocking, only that the errors I did get didn't seem to be even related.  Can you provide further repro steps for your branch?

[2020-10-02 01:28] dougbu commented on #6278
Re "didn't seem to be even related", our most common issue with these almost-stable SDKs is exactly something you mentioned.

To get that
1. Update global.json to use `tools.dotnet == 5.0.100-rtm.20471.12`
2. Run any `build.*` script with `-restore`
3. Run any `build.*` script **without** `-restore`

----

To mimic the ci-source-build.sh problem we hit, run the same `build.* -restore` command twic

[2020-10-02 03:26] ChadNedzlek opened #6306 "Release repository tests need to fail PR builds if they fail"
There are test failures in master, and PR's don't validate that new failures aren't being introduced.

[2020-10-02 04:30] ChadNedzlek commented on #6306
I tried to take a stab at this, but the tests are run in some crazy powershell file that does all sorts of weird things... it's not just a simple call to "dotnet test dotnet-release.sln" with arguments, so I have no idea how to make it work.

[2020-10-02 10:01] ViktorHofer opened #6307 "DotNetRoot isn't set when a globally installed SDK is used"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

There are several customers (including dotnet/runtime) that expect `DotNetRoot` to be set. The current logic doesn't assign a value to the property when a globally installed SDK is used.

https://github.com/dotnet/arcade/blob/b6d0e8c2a27c94adc20bd97cf248d6522d20bf08/src/Microsoft.DotNet.Arcade.Sdk/tools/RepoLayout.props#L2

[2020-10-02 15:05] mmitche opened #6309 "BARViz should trim commit titles"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

BARViz appears to be taking maybe more than the first line of a commit for display? Or if it's not more than that, then it needs to be truncated anyway. In the bit below, I would expect to only see "Update dependencies from https://github.com/dotnet/wpf build 202010014 (#1137)" (at most)

![image](https://user-images.githu

[2020-10-02 15:37] riarenas commented on #6309
Yeah I opened https://github.com/dotnet/arcade/issues/6287 as soon as I saw this after Wednesday's deployment

[2020-10-02 18:49] chcosta opened #6313 "Arcade-validation shouldn't depend on github"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain
- [x] This issue is annoying

https://github.com/dotnet/arcade-validation/blame/master/eng/validation/test-publishing.ps1#L47

The internal Arcade-validation repo assumes that the change you're verifying is in the github (public) repo.  This is annoying, and not always correct.

https://dnceng.visualstudio.com/internal/_bui

[2020-10-02 20:21] ChadNedzlek commented on #6228
It's not clear in this issue that it's not actually the warnings people are upset about, but rather the 15 minutes of pointless retries that's can't ever succeed.

[2020-10-02 20:26] wtgodbe commented on #6228
@ChadNedzlek I was specifically concerned about the warnings - on builds that succeed, it's very annoying to have to scroll past 1000+ warnings to get to the build results

[2020-10-02 20:48] Tohron commented on #6176
I'm taking the opportunity to fix the Asset Validation tests here, and I'm wondering whether
success = await (await curClient.GetBlobReferenceFromServerAsync(curSourceUri)).ExistsAsync();
is the right way to validate assets in feeds.

Currently, when validating https://dotnetcli.blob.core.windows.net/dotnet-testing/TestFiles/testinvalidasset.txt, it throws a StorageException saying "The specified

[2020-10-02 22:24] MattGal opened #6318 "Consider removal of Helix API usage in GetFailedWorkItems task"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

As noted in https://github.com/dotnet/core-eng/issues/11037, we don't really need a text file with all the URLs of the files from a helix work item any more, since we have an Extension that presents this data in nicer,  HTML-formated formats.

That said, the reason I am filing this issue to discuss in triage is that I am c

[2020-10-02 23:01] missymessa opened #6320 "Signing Tests in Arcade"
Areas that need testing in Arcade:

Related PRs:
•	https://github.com/dotnet/arcade/pull/5442
•	https://github.com/dotnet/arcade/pull/5473
•	https://github.com/dotnet/arcade/pull/5517
•	https://github.com/dotnet/arcade/pull/5768
•	https://github.com/dotnet/arcade/pull/5210

- SignCheck - This is a larger chunk, so it's been broken out into the following issues:
    - Part I (Post Build Signing cha

[2020-10-02 23:15] akoeplinger commented on #6318
I'm pretty sure @jaredpar's runfo tool is using the UploadFileResults.txt for some analytics.

[2020-10-02 23:17] MattGal commented on #6318
Yup that's the " I am certain there are folks taking dependencies" part :)

[2020-10-03 00:07] MattGal commented on #6278
Closing this issue:
- After working with @mmitche  @dougbu  is unblocked and does not need further change at this moment
- This led to having a good chat with @richlander who suggested I create https://github.com/dotnet/install-scripts/issues/85 before merging the PR that brings this change along to the real scripts (also I would never merge such a PR on a Friday).

[2020-10-03 00:07] #6278 closed

[2020-10-04 18:32] dougbu opened #6322 "[Helix] Display jobs URI for all Helix submissions"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When Helix work items fail, the Helix SDK displays useful messages such as
[code]

Nothing similar is displayed when all work items _succeed_. This makes it annoying to check whether test infrastructure changes work as expected (versus disabling all tests for example 😺). Need to copy and paste the job GUID to craft the job

[2020-10-04 18:38] dougbu commented on #6322
Happy to send a PR if I get guidance whether to add a new property controlling the message and which of the jobs and work item URI or both is preferred.

[2020-10-04 18:41] dougbu commented on #6322
Also is https://helix.dot.net/api/2019-06-17/jobs/779101d3-cecd-4b6d-befa-40d463ae65a4/workitems preferred over https://helix.dot.net/api/jobs/779101d3-cecd-4b6d-befa-40d463ae65a4/workitems?api-version=2019-06-17❔

[2020-10-05 11:15] rokonec commented on #6292
Reworked by #6315

[2020-10-05 15:16] markwilkie commented on #6322
Without thinking through this fully, this seems like reasonable thing for you to submit a PR for @dougbu.  Thoughts @ChadNedzlek, @AlexGhiondea, and @MattGal ?

Also, we're going to be investing in the telemetry side of test results in the very near future.  In other words, the hope is that you'll be able to super easily query your results without killing things due to the gigantic db size.  Don't

[2020-10-05 15:55] MattGal commented on #6292
The fix is in Helix SDK version 20502.7 and greater.  I'm leaving this in rollout until I can update it explicitly in runtime.

[2020-10-05 17:28] tkapin commented on #6287
@riarenas - this was done as part of the summer internship project, so it belongs to #3326 which tracked that work. I'm closing this one as duplicate of #6309.

[2020-10-05 17:28] #6287 closed

[2020-10-05 17:37] alexperovich commented on #6322
The latter is preferred, but the former will work for the foreseeable future.

[2020-10-05 18:30] alexperovich commented on #6300
PR: https://github.com/dotnet/arcade/pull/6325

[2020-10-05 18:34] jaredpar commented on #6318
Yeah I definitely depend on this file. If there is a better way to navigate from failed "Work Item" nodes ot Helix URIs I'd be happy to switch to that. For now though this is the only approach I know of.

[2020-10-05 20:17] hoyosjs commented on #6283
@mmitche checked and we explicitly don't sign them. In a world of .NET Core we don't see any value to stron-name sign them, I've confirmed with JanK that there's no reason to.

[2020-10-05 21:17] missymessa opened #6326 "Need tests for SignCheck - part I (Post Build Signing changes)"
This is a legacy project, however, we have made some changes to it for the Post Build Signing epic so we should have tests added to cover these changes (per this PR https://github.com/dotnet/arcade/pull/5210/files).

- [ ] Create a unit test project for SignCheck in Arcade
- [ ] GetInputFilesFromOptions function in SignCheck.cs (as this is currently a private method, we may need to use Reflection

[2020-10-05 22:13] epananth commented on #6035
Closing this one cos all the PRs created will be closed during servicing.

[2020-10-05 22:13] #6035 closed

[2020-10-05 22:37] missymessa opened #6327 "Need tests for SignCheck - part II (legacy code)"
Part I here: https://github.com/dotnet/arcade/issues/6326

The rest of the SignCheck and SignCheckLibrary projects in Arcade are without unit tests. Anything not covered by https://github.com/dotnet/arcade/issues/6326 should be covered with unit tests and scenario tests.

[2020-10-05 22:50] dougbu commented on #6322
Thanks @alexperovich and @markwilkie❕

Any thoughts on

[2020-10-05 22:59] ChadNedzlek commented on #6322
I wouldn't make it customizable.  Just write the stuff to the logs.  If people don't want it, they can ignore it. :-)

[2020-10-05 23:02] alexperovich commented on #6322
Too much logging would be bad, but we can probably log at least the work item list uri always.

[2020-10-05 23:06] ChadNedzlek commented on #6322
Who looks at the logs for a successful run anyway?  If it's some weird property in the MSBuild, that's a pain to manage, document, support. Bleh.

Aren't the values already available in the "Helix Attachments" tab? Is the problem that it's hard to find one for a particular workitem?  I'm not 100% what the use case is here... Is the concern that a workitem "succeeded", but didn't actually run any t

[2020-10-05 23:08] alexperovich commented on #6322
they should be available on failed tests, I believe they are also there for passed tests.

[2020-10-05 23:11] ChadNedzlek commented on #6322
It feels like we need some better way to handle people trying to change the test infrastructere... the "helix" part is so buried deep in the build that it's difficult to make these changes and get at the information people want without a crazy amount of digging.

But maybe these changes are rare enough that it's ok for it to be a bit messy?  Like if we only do this stuff once in a blue moon, we sh

[2020-10-05 23:13] dougbu commented on #6322
My concern is double-checking changes made to Helix-related configuration in a repo e.g. dotnet/aspnetcore. In some cases, everything goes just fine but we _still_ need to confirm what we changed did what we expected e.g. expanded an archive and used it correctly.

The logs exist but are not currently a click away, especially when submitting Helix jobs from a local clone. dotnet/aspnetcore has a s

[2020-10-05 23:15] dougbu commented on #6322
BTW w/ JSON Viewer, JSON Formatter, or another browser extensions (I think Firefox provides something by default), the work items JSON is a great place to start.

[2020-10-05 23:19] ChadNedzlek commented on #6322
I'm just worried that bringing them "a click away" for a rare scenario negatively impacts mainline scenarios by filling them with noise.  Or making or code harder to maintain by adding a bunch of little switches that we need to support (and will probably get broken all the time since they are flipped rarely).

Something that is rarely done being a bit more complicated than the thing that is often

[2020-10-05 23:35] dougbu commented on #6322
This doesn't have to mean an additional message @ChadNedzlek e.g.
[code]
or, perhaps (because it's another short message where the jobID isn't even displayed)
[code]

BTW at least for dotnet/aspnetcore, the Helix submission, wait, and report messages come after ~700 lines of build logging and fit into ~90 lines even for our "full matrix" (13 queues). The Helix noise level is _very_ low.

[2020-10-05 23:39] dougbu commented on #6322
If you wish, I could make changes conditional on a successful run to avoid redundancy w/ the console log links for failed work items. Obviously that works only for my second option [above](https://github.com/dotnet/arcade/issues/6322#issuecomment-703944686)

[2020-10-05 23:41] ChadNedzlek commented on #6322
The single log sounds totally fine.  It's almost zero noise to just do all the time, so wouldn't impact anyone that wasn't looking for it.  Dumping _every_ log might be a bit much. :-)

[2020-10-05 23:43] dougbu commented on #6322
Thought avoiding new switches was the point of [your](https://github.com/dotnet/arcade/issues/6322#issuecomment-703933401) "I wouldn't make it customizable" comment.

Absolutely❕ That's why I suggested logging either the jobs URI or the (per job) work items URI or both but nothing at a finer granularity

[2020-10-05 23:43] MattGal commented on #6322
Could do this plus log everything else we can think of (that doesn't involve hitting the API a bunch of times) as diagnostic-level logging, so folks who turn on greater logging or are willing to crack open the binlog could have it handy.

[2020-10-05 23:55] dougbu commented on #6322
@MattGal the `SendHelixJob` task and so on have a bunch 'o logging at `MessageImportance.Low` but how would anyone turn the tasks' knob up to 11 without increasing the logging for everything that comes before it in that `msbuild` execution❔ In any case, I'd rather not deal with the Helix internals in almost all cases.

[2020-10-06 00:00] dougbu commented on #6322
Backing up,

What do people prefer between the following❔
1. `Sent Helix job; see work items at https://helix.dot.net/api/jobs/6e587b6e-b135-413a-881f-6e56d7984d2f/workitems?api-version=2019-06-17` i.e. a bit more logging near the start
2. `Stopping Azure Pipelines Test Run Ubuntu.1604.Amd64.Open; work items at https://helix.dot.net/api/jobs/6fe3fa24-9a2c-409a-be68-785b00f33a48/workitems?api-versi

[2020-10-06 00:02] MattGal commented on #6322
I'd vote for the 2nd here.

In some repos the Helix part is basically "fetch artifacts and send them off"... this would be what I was imagining so turning the whole thing verbose wouldn't be the worst.   There are hacky ways to only build a specific project with diag level but none I'd suggest, so let's not be concerned about that one (other than they're always in every binlog)

In either case suc

[2020-10-06 12:26] riarenas commented on #6313
The new checkbox describes this perfectly. Spent a good amount of time trying to get this to work with a private arcade version yesterday with @jonfortescue without much luck.

I think this stage should only run when the build is not running from a private branch.

[2020-10-06 13:44] adiaaida commented on #6283
Is this the right epic for this? Seems like a signing epic issue?

[2020-10-06 13:45] adiaaida commented on #6261
This seems like a dup of https://github.com/dotnet/core-eng/issues/10983

[2020-10-06 13:47] adiaaida commented on #6241
@markwilkie How does this manifest/how do we discover that the file names/branding are incorrect? I imagine that for branding validation we may be able to hook into @Tohron's UpdateBranding functionality and just do the check without creating the PR sort of thing.

[2020-10-06 13:52] adiaaida commented on #6224
VS insertion ring is meant for creating the VS insertion PRs, and runs post-signing validation/in parallel with other validation. If the VS.* package publishing should happen post signing validation, and is independent of the rest of the validation we do, then I think that would be a reasonable place to put it (perhaps renaming the Ring to something more general), but if it needs to happen pre-oth

[2020-10-06 13:57] adiaaida commented on #6224
Seems like we have a lot of requests for publishing various packages post-signing. We may want to add an early publishing ring for all of those tasks. For example, https://github.com/dotnet/arcade/issues/5538 (lots might be overstating it)

[2020-10-06 14:17] mmitche commented on #6283
Yeah I think this is signing epic.

[2020-10-06 14:52] akoeplinger commented on #6322
Option 1 since I sometimes watch builds in real-time and getting the Helix URL at the start of the job rather than when every single work item finished is much better.

[2020-10-06 15:47] missymessa opened #6330 "Need tests for GenerateAzureDevOpsBuildManifest"
This file was created for the Post-Build Signing project, so it should be tested in it's entirety in relation to that project.

Related PRs:
- https://github.com/dotnet/arcade/pull/5442
- https://github.com/dotnet/arcade/pull/5210

Code that needs unit testing:
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/src/GenerateAzureDevOpsBuildManifest.cs

[2020-10-06 16:11] adiaaida commented on #6306
I did not know this was a thing... example?

[2020-10-06 17:05] missymessa opened #6334 "Need tests for Microsoft.DotNet.Build.Tasks.Installers"
The files in this project were created for the Post-Build Signing project, so they should be tested in their entirety in relation to that project.

Related PRs:
- https://github.com/dotnet/arcade/pull/6191/
- https://github.com/dotnet/arcade/pull/6180/
- https://github.com/dotnet/arcade/pull/6170/
- https://github.com/dotnet/arcade/pull/6052/
- https://github.com/dotnet/arcade/pull/6029/
- https:/

[2020-10-06 17:27] missymessa commented on #6306
https://dnceng.visualstudio.com/internal/_build/results?buildId=840109&view=ms.vss-test-web.build-test-results-tab&runId=26750402&resultId=100017&paneView=debug

Here's one of the builds from Chad's PRs. Looking at the test tab, there are failing tests, but the build is green when it really should've failed.

[2020-10-06 18:16] #6270 closed

[2020-10-06 18:21] missymessa opened #6336 "Exercise GenerateAzureDevOpsBuildManifest MSBuild task in Arcade Validation"
The GenerateAzureDevOpsBuildManifest task was added to Publish.proj MSBuild project. We need to exercise this code path in Arcade Validation.

Related PRs
- https://github.com/dotnet/arcade/pull/5442
- https://github.com/dotnet/arcade/pull/5517/
- https://github.com/dotnet/arcade/pull/5210/

Reference to code that needs testing
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Ar

[2020-10-06 18:22] jcagme opened #6337 "Publish signed assets to feeds and blobs"
After the assets have been signed we need to publish that packages to a feed of signed packages and the rest of the assets to a blob. We need to have a public feed for public packages and and an internal feed for internal.

Blob should be `https://dotnetcli.blob.core.windows.net/dotnet-private/Internal/${release_version}`. More details in https://dev.azure.com/dnceng/internal/_git/dotnet-release?p

[2020-10-06 18:30] ChadNedzlek commented on #6306
EVERY PR is failing, because there are 4 failing tests in main. :-) (Which also isn't red)

[2020-10-06 19:04] adiaaida commented on #6306
OMG.

[2020-10-06 19:10] adiaaida commented on #6306
This.... has been changed recently? We used to do:

[code]

and now we do

[code]

which is a thing @chcosta changed. Chris, do you know why tests that are failing are being marked as passed with runtests.ps1? I have definitely seen testing fail before this change. For example: https://dnceng.visualstudio.com/internal/_build/results?buildId=821694&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t

[2020-10-06 19:18] chcosta commented on #6306
Probably powershell being weird and not exiting with the test run exit code

[2020-10-06 19:38] missymessa opened #6338 "Exercise CreateLightCommandPackageDrop MSBuild task in Arcade Validation"
CreateLightCommandPackageDrop was introduced into the code base during the Post Build Signing project. It's functionality should be exercised in Arcade Valdiation

Related PRs:
- https://github.com/dotnet/arcade/pull/5473/
- https://github.com/dotnet/arcade/pull/5442/
- https://github.com/dotnet/arcade/pull/6170/

Code that needs testing:
- https://github.com/dotnet/arcade/blob/master/src/Microsof

[2020-10-06 19:39] adiaaida commented on #6306
Can you look into it then since you created the runtests.ps1? Either that or we need to back this change (partially) out and fix the tests that are broken at the same time.

[2020-10-06 19:45] missymessa opened #6339 "Exercise ExecWithRetries MSBuild task in Arcade Validation"
ExecWithRetries was modified during the Post Build Signing feature. It's functionality should be exercised using Arcade Validation.

Related PRs:
- https://github.com/dotnet/arcade/pull/5442/

Code that needs testing:
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Build.Tasks.SharedFramework.Sdk/targets/windows/wix.targets

[2020-10-06 19:58] chcosta commented on #6306
Sure, I can look into it, but along with some other changes I'm making.  I don't think that partially backing out my changes is going to make things easier on you.  Also, the other changes I'm making are equally widesweeping.  I'd suggest that you spend some cycles looking into it (it's just figuring out powershell-isms), but if you don't want to, then my changes will probably be ready by EOD or t

[2020-10-06 20:02] chcosta commented on #6306
Well crap for me, but not for you, I'm blocked on validating my other changes because of service degradations in DevDiv.  So, I'll look at the powershell stuff.

[2020-10-06 20:09] chcosta commented on #6306
https://dnceng.visualstudio.com/internal/_git/dotnet-release/pullrequest/10660

[2020-10-06 20:16] missymessa opened #6341 "Exercise PushToAzureDevOpsArtifacts MSBuild Task in Arcade Validation"
The PushToAzureDevOpsArtifacts was changed to support functionality for the Post Build Signing project. This code path needs to be exercised in Arcade Validation.

Related PRs:
- https://github.com/dotnet/arcade/pull/5517/

Code that needs testing coverage:
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Publish.proj

[2020-10-06 20:24] mmitche opened #6342 "Branch arcade for .NET 5"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Branch arcade for .NET 5.

[2020-10-06 20:32] adiaaida commented on #6306
All of the tests that are failing are from @Tohron's change to validate assets because they only pass the manifest path and do not include the various account keys that the operation now requires.

[2020-10-06 21:22] #6231 closed

[2020-10-06 21:22] chcosta commented on #5791
Triage: I'll schedule a meeting to discuss this wrt Post-Build signing

[2020-10-06 21:23] chcosta commented on #5803
Triage: no longer applicable

[2020-10-06 21:23] #5803 closed

[2020-10-06 21:24] chcosta commented on #5927
Triage: not applicable

[2020-10-06 21:24] #5927 closed

[2020-10-06 21:27] chcosta commented on #6128
Triage: let's prototype some things. maybe robocopy?

[2020-10-06 21:31] #6187 closed

[2020-10-06 21:50] adiaaida commented on #6261
Checked, these are different issues. Converting to using System.Text.Json gets us the desired behavior (throwing a JsonException if the manifest file is empty)

[2020-10-06 21:52] missymessa opened #6343 "Need tests for BuildManifestUtil"
BuildManifestUtil was modified during the Post Build Signing project. It needs to have unit tests to validate the changes that were made.

Specifically, these methods need testing:
- [x] CreateModelFromItems
- [x] CreateSigningInformationModelFromItems
- [x] CreateModel
- [x] ManifestBuildDataHasLocationInformation
- [x] All of SigningInformationModel
- [x] All of BuildModel (may be tested as a re

[2020-10-06 21:57] missymessa opened #6344 "Need tests for PushToAzureDevOpsArtifacts"
Changes were made to PushToAzureDevOpsArtifacts during the Post Build Signing project. We need to ensure the additional functionality is tested.

Specifically, this method needs to be tested:
- [ ] Execute

Related PR:
- https://github.com/dotnet/arcade/pull/5517/

Code that needs to be unit tested:
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Build.Tasks.Feed/src/PushToAzur

[2020-10-06 22:27] #6192 closed

[2020-10-06 23:27] Tohron commented on #6176
Created a new PR:
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/10670

[2020-10-06 23:35] missymessa opened #6346 "Exercise UseBuildManifest pipeline variable in Arcade Validation"
In the Post Build Signing feature, we introduced a new variable in our pipeline. We need to exercise the use of that variable, validating that all the expected functionality works.

Related PRs:
- https://github.com/dotnet/arcade/pull/5210/

Code that needs to be tested:
- https://github.com/dotnet/arcade/blob/master/azure-pipelines.yml
- https://github.com/dotnet/arcade/blob/master/eng/common-var

[2020-10-06 23:36] missymessa opened #6347 "Exercise UseBuildManifest pipeline variable"
In the Post Build Signing feature, we introduced a new variable in our pipeline. We need to exercise the use of that variable, validating that all the expected functionality works.

Related PRs:
- https://github.com/dotnet/arcade/pull/5210/

Code that needs to be tested:
- https://github.com/dotnet/arcade/blob/master/azure-pipelines.yml
- https://github.com/dotnet/arcade/blob/master/eng/common-var

[2020-10-06 23:40] lpatalas commented on #6210
I tested changes mentioned in previous comment but it does not seem like a good idea to change that part of the code.

The problems with this issue are that: it's not happening too often from what I see, I can't reproduce it locally and I'm not completely sure why it's happening other than my guesses from comment above. I'm also wondering how critical it is because it seems that I could spend a lo

[2020-10-06 23:48] jonfortescue opened #6348 "Validate signing validation allows unsigned symbols.nupkgs in arcade-validation"
First articulated by @chcosta [here](https://github.com/dotnet/arcade/pull/6291#pullrequestreview-503216946):

We should add a test to arcade validation that covers this scenario.

[2020-10-06 23:49] jonfortescue commented on #6348
@missymessa did i use "validat(e|ion)" enough in this issue

[2020-10-07 07:54] lukas-lansky commented on #6342
We should merge https://github.com/dotnet/arcade/pull/6274 before proceeding. Also, @epananth, do you happen to know whether the channel creation docs as discussed in the e-mail are up-to-date? Thanks!

[2020-10-07 15:25] adiaaida opened #6349 "[QCR] DI for AssetHandler broken"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

When we added the base DI stuff for the ReleaseCli, we added AssetHandler. Now, when we run ValidateAssets, we are getting the following error:

[code]

See: https://dev.azure.com/dnceng/internal/_build/results?buildId=843709&view=logs&j=2fd2e48f-cc4e-5ae0-257c-a7bb19ebb427&t=612f6457-7b2d-5308-9d49-035325370812

[2020-10-07 15:26] adiaaida commented on #6349
@ChadNedzlek can you help me understand what this error means? I don't have a lot of experience with DI.

[2020-10-07 16:12] #6261 closed

[2020-10-07 19:37] ChadNedzlek commented on #6349
It means someone needs to call "AddSingleton<AssetHanlder>" (Or one of the other Add________ methods).  Probably in the block in Program.cs where we register the other stuff.

I should have figured out how to import the DependencyInjectionValidation stuff from arcade services to make sure everything that needed to be registered was, but the weird "options" pattern makes that hard... since it needs

[2020-10-07 19:54] adiaaida commented on #6349
Thanks Chad. Seems to be it.

[2020-10-07 22:54] missymessa opened #6351 "Test to ensure we're doing certificate collision detection on files with the same name not just the same content"
Scenario to test: It is possible for two files to have the same contentHash in SignTool, but not be the same file. (For example, two empty files may exist but have different names). For us to more accurately detect collisions when it comes to SignInfo data, we need to not only use the contentHash or stringHash for comparison, but also use the name of the file to compare.

Related code: https://git

[2020-10-07 23:28] missymessa opened #6352 "Need tests for BatchSignUtil"
Changes were made to BatchSignUtil in SignTool for the Post Build Sign feature.

- [ ] This code should be removed as it's not used: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/BatchSignUtil.cs#L18
- [ ] Negative cases need tests in VerifyCertificates (specifically for the IsWixContainer) https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/

[2020-10-08 01:30] epananth commented on #6342
This is the channel creation doc-> https://github.com/dotnet/arcade/blob/master/Documentation/Darc.md#add-channel

@mmitche - should I add a link to this from Publishing.md? Or is there something else that I need to add here?

[2020-10-08 02:00] dougbu commented on #6322
I'm fine either way but work item lists appear empty these days e.g. https://helix.dot.net/api/jobs/5c5680b1-e39a-4e08-881a-df976726f0bc/workitems?api-version=2019-06-17 What gives❔

[2020-10-08 02:05] dougbu commented on #6322
That was an internal PR. https://helix.dot.net/api/jobs/4bccfce0-9570-44bd-a171-afd6973b6def/workitems?api-version=2019-06-17 was for a public PR and has listed work items. Oddly, the jobs URI works in both&hellip;

[2020-10-08 02:27] ChadNedzlek commented on #6322
You don't have access to the internal PR without authenticating, so you can't list it's workitems.

[2020-10-08 04:49] dougbu commented on #6322
I'm authenticated in AzDO and on https://helix.dot.net. The details URI e.g. https://helix.dot.net/api/jobs/5c5680b1-e39a-4e08-881a-df976726f0bc/details?api-version=2019-06-17 shows information but the work items list URI (matching my comment [above](https://github.com/dotnet/arcade/issues/6322#issuecomment-705285432)) remains empty.

In any case, how would I or any user get to a useful location f

[2020-10-08 13:00] lukas-lansky commented on #6342
I will start now.

[2020-10-08 13:33] mmitche commented on #6342
@epananth We should make sure we have details on how to add new channels into the publishing infrastructure too

[2020-10-08 13:55] adiaaida opened #6357 "[QCR] Summarize state of Stage-Dotnet"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Until each ring can complete successfully (or reach their override stage):
- [x] Run the pipeline on a known good set of bar builds
- [x] Note each passing ring and failing ring
- [x] For each failing ring, note failing jobs
- [x] For each failing job, find the owner (product owners, signing epic, release epic, Alex S) and

[2020-10-08 14:35] adiaaida opened #6359 "[QCR] [Signing] Fix Signing Validation for the Validation pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Various changes that the Signing epic has made modified sign-validation.yml to require the drop on vsufile to still exist for signing validation. However, the nightly validation pipeline deletes that directory after push-to-drop, meaning that signing validation fails in that case.

We either need to not delete that directo

[2020-10-08 14:35] adiaaida commented on #6359
@jcagme @chcosta @missymessa

[2020-10-08 15:01] lukas-lansky commented on #6342
@mmitche Should [this file](https://github.com/dotnet/arcade/blob/master/eng/common/templates/post-build/common-variables.yml) be updated with the new channel names (`.NET 5 Eng[...]`) and IDs given it already contains `.NET 3 Eng[...]`?

[2020-10-08 15:13] mmitche commented on #6342
@lukas-lansky Nope. That's for v2 publishing, which arcade doesn't need any longer. But we do need to add entries for publishing .NET 5 in PublishingConstants.cs, as seen for .NET Eng - Latest here:

https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Build.Tasks.Feed/src/model/PublishingConstants.cs#L240-L260

I think you'll want:
- The Feed* parameters can be the same,
- Publishing

[2020-10-08 15:19] lukas-lansky commented on #6342
@mmitche Thanks! (For documentation reasons:) Is it something that should be done before branching so both `master` and `release/5.0` contains the definition?

[2020-10-08 15:22] mmitche commented on #6342
Just master needs it (master is the branch publishing is run off of right now)

[2020-10-08 15:33] MattGal commented on #6322
Logging in just gives you the ability to get an access token; it does not cache this identity for all navigation to URIs.

As Chad points out, you would take this URI and append an access_token value like so:
`https://helix.dot.net/api/jobs/5c5680b1-e39a-4e08-881a-df976726f0bc/details?api-version=2019-06-17&access_token=<some token>`

At which point you get the data with filled-in values.  Using t

[2020-10-08 16:15] adiaaida opened #6362 "[QCR] Testing pipeline should not open SDL Issues"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

The test pipeline uses older builds that may have SDL failures in them, but have been fixed in later builds. The testing pipeline would then open issues for those bugs, which causes the product teams to scramble, thinking that they have something they need to fix, only to not find the issue in question.

The sdl scripts ha

[2020-10-08 16:23] lukas-lansky commented on #6342
"Reset arcade Maestro++ subscriptions targeting .NET release branches to source from .NET Eng."

This is about sourcing from `.NET Eng 5` instead of `.NET Eng` for .NET 5 branches, right? @mmitche

[2020-10-08 16:36] mmitche commented on #6342
Yep!

[2020-10-08 17:05] missymessa commented on #6347
Dupe of #6346

[2020-10-08 17:05] #6347 closed

[2020-10-08 17:17] missymessa opened #6363 "Ensure SignCheckTask in SigningValidation is being exercised in Arcade Validation"
SigningValidation is enabled in Arcade Validation, we should be sure that the SignCheckTask within it is being exercised.

Related PRs:
- https://github.com/dotnet/arcade/pull/5210/

Code that needs testing:
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/SdkTasks/SigningValidation.proj

[2020-10-08 17:19] lukas-lansky commented on #6342
So, I updated subscriptions targeting `release/5.0`/`release/5.0.1xx` to channel `.NET 5 Eng`. According to the list, this should be done. Please let me know @mmitche how to verify or whether you see something I should fix.

[2020-10-08 17:55] missymessa opened #6364 "Need tests for SigntToolTask in SignTool"
Changes were made to SignToolTask in SignTool during the Post Build Signing project. We need to ensure that the changes that were made have sufficient test coverage.

- [ ] Validate bad path to WixToolset: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/SignToolTask.cs#L204-L207

Related PRs:
- https://github.com/dotnet/arcade/pull/6180

Code that needs to be unit te

[2020-10-08 17:55] missymessa opened #6365 "Need tests for SignToolTask in SignTool"
Changes were made to SignToolTask in SignTool during the Post Build Signing project. We need to ensure that the changes that were made have sufficient test coverage.

- [ ] Validate bad path to WixToolset: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/SignToolTask.cs#L204-L207
- [ ] ItemsToSign with OrderBy logic: https://github.com/dotnet/arcade/blob/master/src/Mi

[2020-10-08 17:56] missymessa commented on #6364
dupe of #6365

[2020-10-08 17:56] #6364 closed

[2020-10-08 17:58] missymessa opened #6366 "Need tests for ZipData in SignTool"
Changes were made to ZipData in SignTool during the Post Build Signing project. We need to ensure that the changes that were made have sufficient test coverage.

- [ ] Validate bad path to WixToolset: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/ZipData.cs#L144-L148
- [ ] Validate non-zero exit code from BatchSignUtil.RunWixTool: https://github.com/dotnet/arcade/b

[2020-10-08 18:07] missymessa opened #6367 "Ensure AllowEmptySignList logic in Sign.proj is exercised in Arcade Validation"
There is (existing) error logic surrounding the AllowEmptySignList parameter in Sign.proj. We should ensure that Arcade Validation exercises this logic.

Related PRs:
- https://github.com/dotnet/arcade/pull/5210/

Code that needs testing:
- https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Sign.proj

[2020-10-08 18:14] missymessa commented on #6320
Broke down the needed test coverage into smaller issues. Closing this issue.

[2020-10-08 18:14] #6320 closed

[2020-10-08 18:20] riarenas opened #6368 "[Release/3.x] Arcade-validation official build break due to manifest changes"
- [X] This issue is blocking
This is blocking flow of arcade for the repos subscribed to the .net 3 eng channel

- [ ] This issue is causing unreasonable pain

Arcade-validation's official build started failing after taking the changes from https://github.com/dotnet/arcade/pull/6340

Failed build: https://dev.azure.com/dnceng/internal/_build/results?buildId=845495&view=results

[code]

I think we

[2020-10-08 18:34] Tohron commented on #6349
Fixed in https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/10702

[2020-10-08 18:34] epananth commented on #6368
yeah you are right :) Have to update the MicrosoftDotNetVersionToolsVersion version. I have test build running for this https://dev.azure.com/dnceng/internal/_build/results?buildId=845588&view=results

[2020-10-08 19:45] missymessa commented on #6045
Dupe of dotnet/arcade#6334

[2020-10-08 19:45] #6045 closed

[2020-10-08 19:49] missymessa commented on #5903
@meganaquinn can you link your test doc/plan for this issue in the description of this issue? Thanks

[2020-10-08 19:49] dougbu commented on #6322
Ah, then I'll work through how the C# and `msbuild` code calculates the correct URIs to avoid this with the console.log (error) links; those are displayed w/ the `access_token` query string when it's needed.

[2020-10-08 20:02] MattGal commented on #6322
Ideally, follow the links you get and only write those down; they're specific to the container they come from, whereas the token has other uses and thus if you can avoid logging it do (if you use binlogs, the cat's out of the bag, just don't log to console)

[2020-10-08 20:05] JimBobSquarePants opened #6371 "RemoteExecutor Swallows Errors and Throws Invalid Exceptions"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

I could be holding it wrong but it does not seem to be working as expected.

Microsoft.DotNet.RemoteExecutor Version 6.0.0-beta.20508.3 (_Are there non beta version available?_)

Installed via https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json

The following method runs without any assertati

[2020-10-08 20:06] dougbu commented on #6322
Is that a bug in the existing error messages displayed when Helix jobs fail @MattGal❔ I was pretty sure they included the access token.

[2020-10-08 20:08] MattGal commented on #6322
possibly?   I'd have to see an example, but i've seen code that looks suspiciously like that.  As long as it's known to AzDO as a secret though, console logging will auto-mask it.

[2020-10-08 21:58] JimBobSquarePants commented on #6371
[ExecutorTest.zip](https://github.com/dotnet/arcade/files/5351455/ExecutorTest.zip)

Ok... So I created a separate unit test project to confirm this. I couldn't get the second error to replicate in this instance.

However both these invocations appear to be skipped. They should both fails but the parent method passes.

[code]

[2020-10-08 21:59] mmitche opened #6373 "Publish to BAR should validate ItemsToSign in manifests"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

When the merged manifest is created, it's possible to create a manifest with an ItemsToSign element that doesn't exist in the blob or packages. This causes signing to fail. We should validate this.

[2020-10-09 05:19] epananth commented on #6368
Have a PR out for this -> https://github.com/dotnet/arcade-services/pull/1434

[2020-10-09 07:11] lukas-lansky commented on #6342
Everything seems fine to me. I obviously don't want to trigger the flow and rebuild all the .NET 5 release branches to verify completely. So still not completely sure.

@riarenas @ChadNedzlek Please let me know if you notice a problem that might be connected to this effort. Thanks!

[2020-10-09 09:18] JimBobSquarePants commented on #6371
Pulling the source and running the tests leads to 3 out of 5 tests failing with the 2 passing false positives due to the symptoms described above.

![image](https://user-images.githubusercontent.com/385879/95565835-a80f4d00-0a18-11eb-82ad-eb7e1675c233.png)

[2020-10-09 13:44] riarenas commented on #6368
That PR mentions that the change that caused this break should be reverted? So it doesn't fix this?

[2020-10-09 13:44] riarenas commented on #6342
I took a look yesterday and thinks looked right. The default channels and subscriptions looked correct to me, but we'll know for sure the first time this needs to run.

Thanks @lukas-lansky

[2020-10-09 14:08] mmitche opened #6377 "SignTool logging tweaks"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When signtool is logging info about what it thinks each file's cert needs to be, it should log the hash collision ID so that we can easily determine what build it thinks a particular asset comes from.

[2020-10-09 14:10] mmitche opened #6378 "Publishing should print useful errors when a channel is not available"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When a channel is not available for publishing, v3 publishing throws a nullref:

[code]

Instead, it should print an error that makes it more identifiable that:
- The channel should be added to the PublishingConstants.cs collection
- If it's there, ensure that the branch of arcade that is running is updated to a version of

[2020-10-09 14:11] mmitche commented on #6378
@riarenas

[2020-10-09 16:47] riarenas commented on #6342
Looks like we missed the subscription from arcade to arcade-validation for the new branch. I just created it

[2020-10-09 16:54] JimBobSquarePants commented on #6371
Confirmed to not be isolated on my machine.

Linux Pass
Windows Fail

https://github.com/JimBobSquarePants/RemoteExecutorTests/runs/1232480114

[2020-10-09 17:06] #2704 closed

[2020-10-09 17:17] danmosemsft commented on #6371
-2147450749
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/installer/corehost/error_codes.h#L18

• CoreHostLibMissingFailure (-2147450749 0x80008083) - One of the dependent libraries is missing. Typically when the hostfxr, hostpolicy or coreclr dynamic libraries are not present in the expected locations. Probably means corrupted or incomplete installation.

[2020-10-09 17:20] danmosemsft commented on #6371
https://github.com/dotnet/runtime/search?q=CoreHostLibMissingFailure

Enabling host tracing might help? COREHOST_TRACE=1 COREHOST_TRACE_VERBOSITY=4
I think this goes goes to stderr so should be captured?
https://github.com/dotnet/runtime/blob/d14b50ae2186af77ad9b68370978182584b43e65/docs/design/features/host-tracing.md

[2020-10-09 17:24] JimBobSquarePants commented on #6371
Thanks @danmosemsft .

I thought it was something like that and have been attempting to determine whether there is a specific SDKs missing that should be there. It's very odd that the GitHub Ubuntu image works but Windows doesn't.

Is `COREHOST_TRACE=1` something I pass to `dotnet test`?

[2020-10-09 17:30] danmosemsft commented on #6371
It's an environment variable read by the host - hostfxr.dll, I think (this isn't my area). So you should be able to set it anywhere eg before launching dotnet test, or in your test just before launching the remote executor.

[2020-10-09 17:49] ericstj commented on #5346
Just pinging in this issue as it was hit again and worked-around in https://github.com/dotnet/runtime/pull/42533

[2020-10-09 17:55] ericstj commented on #5346
It appears that in that case, the files were initially checked in with the executable bit and it wasn't mirrored.   Perhaps Maestro++ is catching chmod changes but not the initial modifiers?

[2020-10-09 18:10] epananth commented on #6368
I initially thought that updating the 3.x branch will create the VersionTools that should be used in the arcade-services will fix this. But I used the arcade update 5.0.0-beta.20506.7 to .NET Eng - Latest that worked, so I feel the change I made to arcade 3.x branch is not that useful. So I think we should revert this change.

The confusion was because arcade-services takes partial arcade update a

[2020-10-09 18:13] epananth commented on #6368
Also I noticed that https://github.com/dotnet/arcade/blob/7fd6d67e17610df7d4d3eb179c7ad75be7611bfd/global.json#L6 this cannot be changed for release/3.x so my change cannot work for 3.x

[2020-10-09 18:14] riarenas commented on #6368
Let's revert the change please.

[2020-10-09 18:19] garath commented on #6279
After discussing in the triage meeting, this seems outside the expected use of helix and arcade. These sorts of failures are meant to be breaking as they indicate a real workitem problem. Closing, but please feel free to reopen if you want to continue the conversation.

[2020-10-09 18:19] #6279 closed

[2020-10-09 18:23] garath commented on #6183
After looking at this in the Triage meeting, the general feeling is that the value isn't there for the additional complexity and new dependencies that this would require. Improvements in documentation around how to handle this situation would certainly help, and we can look at that.

[2020-10-09 18:23] #6183 closed

[2020-10-09 18:49] epananth commented on #6368
https://github.com/dotnet/arcade/pull/6380 reverted the change. Closing this issue

[2020-10-09 18:49] #6368 closed

[2020-10-09 18:51] JimBobSquarePants commented on #6371
Thanks. I’ll have a crack and report back

[2020-10-09 18:56] epananth commented on #6276
Part 1 - arcade change -> https://github.com/dotnet/arcade/pull/6319
Part 2 - arcade-services change -> https://github.com/dotnet/arcade-services/pull/1434
Part 3 - arcade change -> Will update when I get the latest MaestroTask version

[2020-10-09 19:45] #6263 closed

[2020-10-09 19:56] JimBobSquarePants commented on #6371
No further info I could uncover with that variable. Just lots of build noise.

[2020-10-09 20:04] danmosemsft commented on #6371
Does the logging not end with an error? Hmm. @vitek-karas I believe owns the host and can help advise from here.

[2020-10-09 20:07] JimBobSquarePants commented on #6371
https://github.com/JimBobSquarePants/RemoteExecutorTests/runs/1233024008?check_suite_focus=true#step:5:25756

[code]

[2020-10-09 20:09] garath commented on #6228
@wtgodbe Will the `enableTelemetry` flag work for you for the 3.x builds?

[2020-10-09 20:10] danmosemsft commented on #6371
Ah, I don't see the host logging there. Either it's not enabled, or not captured. Does host-tracing.md above help?

[2020-10-09 20:15] wtgodbe commented on #6228
I don't know, what does the flag control? If it turns off the task that causes the warnings, then yes

[2020-10-09 20:18] JimBobSquarePants commented on #6371
There's definitely a lot of extra logging 100s of extra lines, just nothing relevant. Here's a previous run.

https://github.com/JimBobSquarePants/RemoteExecutorTests/runs/1232480114?check_suite_focus=true#step:5:1

[2020-10-09 20:20] garath commented on #6307
@ViktorHofer What is the use case? What would be a good default setting?

[2020-10-09 20:28] JimBobSquarePants commented on #6371
No improvement
https://github.com/JimBobSquarePants/RemoteExecutorTests/runs/1233287574?check_suite_focus=true#step:5:25736

[2020-10-09 21:16] ChadNedzlek commented on #5963
Changed title to give "build" it's own epic.  Tests and builds are very different beasts when it comes to tackling them, because the quantity and quality of data is vastly different.

[2020-10-09 21:20] ChadNedzlek opened #6382 "Improve Dev WF by increasing build resiliency"
Spun off form #5963

[2020-10-09 21:23] alexperovich commented on #6304
The send-to-helix template is designed for small repos with simple scenarios, and it isn't intended to be used more than once. If you have multiple kinds of work you need to send, you can create a project and construct the work items directly. Arcade uses this method here https://github.com/dotnet/arcade/blob/master/tests/UnitTests.proj

[2020-10-09 22:00] vitek-karas commented on #6371
The host trace only got all of the "dotnet test" stuff (starts 4 processes internally) + the powershell (which is I guess what runs the whole thing).
But the remote execution is not visible there.
So either the stderr output of the remote executor is not forwarded to the output of the test, or the environment was not set (COREHOST_TRACE).
You can also set `COREHOST_TRACE=1` and `COREHOST_TRACEFILE

[2020-10-09 22:10] vitek-karas commented on #6371
As far as I can tell the remove executor has no way to capture stdout or stderr of the child process it spawns - so normal `CORHOST_TRACE=1` won't work.
I would try:
* Just in the test before running the remote executor, set `COREHOST_TRACE=1` and `COREHOST_TRACEFILE=tempfilepath`.
* Run the remote executor
* Once it's done, open the "tempfilepath" and write it all to the output of the test (I don

[2020-10-09 23:39] JimBobSquarePants commented on #6371
Thanks @vitek-karas

Here's the result of running the test locally with the following code (_I'm assuming that's what you meant?_). I haven't checked the output via CI yet. (I've had two people independently check and confirm on their Windows machines in addition to my local device and CI.)

[code]

Output is the same in Debug and Release modes. (Differs only in bin subpath)
[code]

[2020-10-10 01:02] vitek-karas commented on #6371
Thanks - I was able to repro it locally.

The command line it executes doesn't seem to make sense to me:
[code]

This would work if it were running "dotnet.exe exec ...", but I doubt testhost recognizes "exec" (I could be wrong though).

In any case the command line won't work because the special host parameters must be first on the command line: `--runtimeconfig` and so on. Since `testhost.exe` i

[2020-10-10 01:05] danmosemsft commented on #6371
@ViktorHofer  might have context

[2020-10-10 09:28] JimBobSquarePants commented on #6371
Thanks for the help so far. Thought I was going mad!

[2020-10-10 16:17] ViktorHofer commented on #6371
cc @stephentoub and @jkotas as well

[2020-10-10 16:35] ViktorHofer commented on #6371
Thanks for reporting @JimBobSquarePants and @vitek-karas for the analysis. Vitek is right that RemoteExecutor [doesn't set `HostRunner`](https://github.com/dotnet/arcade/blob/f2f45f7a856fe4949735e574f7a0350bda48264f/src/Microsoft.DotNet.RemoteExecutor/src/RemoteExecutor.cs#L59) (the path to the host to invoke) to the right value in cases where VSTest's apphost is used. This didn't show up for us i

[2020-10-10 16:42] ViktorHofer commented on #6307
My use case was that I wanted to copy some of the currently used SDK's content into another location for CI submission.

I don't really understand the question. If there isn't a way to find that information out when setting the `DotNetRoot` property we might want to consider making it private `_DotNetRoot` instead so that people don't depend on it.

[2020-10-10 23:19] dougbu commented on #6322
@MattGal @ChadNedzlek my memory was wrong. The token isn't logged as I thought it was. See e.g. https://dev.azure.com/dnceng/internal/_build/results?buildId=846274&view=logs&j=3f6d4e0f-1b71-56b5-361e-d95b6e6da15a&t=d5bf30bc-9e5a-596c-d1c8-39e2dfa42d49&l=726
[code]

I may have been confused by some JSON files e.g. https://helix.dot.net/api/jobs/c63e5227-39dd-4f89-8454-5871800a85ee/workitems/Microso

[2020-10-12 13:59] lpatalas commented on #6210
This issue appeared once again for `.NET 6 Dev` so I was able to do some more investigation today.

![net6dev-graph](https://user-images.githubusercontent.com/1406063/95751682-3e54a480-0c9f-11eb-852f-574a8e8f0148.png)

On the graph we can see that longest path does not follow from `dotnet/aspnetcore` to `dotnet/sdk` as it should. I checked that subscription and I get following data:

[code]

That

[2020-10-12 15:02] mmitche opened #6387 "Validate that merged manifests have no conflicting signing info entries"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

If there are conflicting signing info entries, for example:
[code]

The first entry takes precedence. This is confusing because the first entry may come from the less-visible Arcade defaults while the second comes from eng/Signing.props. We should throw an error on these cases. I think the valdiation should be in 3 places:

[2020-10-12 15:08] mmitche opened #6388 "Certificate validation should take into account already signed items"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The nunit nupkgs are already signed with Nuget.org certs and should not be resigned. Because they are containers, they end up in the "filesToSign" set. When "None" is specified for the cert (don't replace the existing cert), we throw an error in `VerifyCertificates` becuase SignTool thinks all nupkgs should have a cert.

[

[2020-10-12 15:13] vitek-karas commented on #6371
Regarding testing: I was wondering why the RemoteExecuter tests are passing: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.RemoteExecutor/tests/RemoteExecutorTests.cs
I guess it's because they target `netcoreapp2.1`. Maybe we should multi-target these to get better coverage. The RemoteExecutor is supposed to run on pretty much anything (it will use the parent test's TFM), so it

[2020-10-12 15:18] adiaaida commented on #6210
Looking at the official build history for sdk, I think I have a theory of what's going on:

1. aspnetcore creates a new build.
2. The subscription to sdk gets triggered in github. Builds run. It gets checked in. The subscription gets updated.
3. The change is mirrored over to the internal repo.
4. A build is eventually triggered (but as of right now, has not been: https://dev.azure.com/dnceng/inte

[2020-10-12 18:16] riarenas opened #6390 "Arcade-validation should promote arcade builds from the release/5.0 branch automatically to the ".net 5 eng" channel"
- [ ] This issue is blocking

- [x] This issue is causing unreasonable pain
This means that we have to manually promote every build of arcade from the release/5.0 branch manually.

Right now once an arcade-validation build succeeds in the release/5.0 branch, that build won't ever make it to the ".net 5 eng" channel unless someone moves the build around manually.

This should handle the promotion o

[2020-10-12 21:36] riarenas opened #6391 "[darc/maestro++] darc update-dependencies fails if a repository has a .config folder, but no dotnet-tools.json"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

To repro:

1. Add a folder named .config to a repository
1. run `darc update-dependencies --channel ".net eng - validation"`

You will see an error about a missing file:

[code]

[2020-10-12 21:37] riarenas commented on #6391
CC @MattGal

[2020-10-12 23:28] adiaaida commented on #6357
Pipeline is now stable.

[2020-10-12 23:28] #6357 closed

[2020-10-12 23:32] MattGal commented on #6391
Addressed and regression coverage added via https://github.com/dotnet/arcade-services/pull/1437

[2020-10-13 06:12] chcosta opened #6392 "Signandpackageoperation should use file logger"
Console loggers are slow and not the best for after the fact investigations.

FYI @missymessa @mmitche

 ps, I'll move this to our epic when I get to my desktop

[2020-10-13 11:29] JimBobSquarePants opened #6393 "RemoteExecutor crashes on NET Framework 4.7.2 with Microsoft.Net.Compilers.Toolset > 3.3.1"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

I haven't managed to create an isolated example yet but the following exception is thrown for all implementations of RemoteExecutor for methods containing a generic parameter if I use Microsoft.Net.Compilers.Toolset > 3.3.1 in a unit test targeting NET 4.7.2

- No exceptions are thrown with NET Core in all tested Microsoft

[2020-10-13 13:03] missymessa commented on #6392
Pointing out that the logger used for Signing.Extensions is wired up through dependency injection. Either you'll need to change it for all the operations we have (I'm assuming this is the route you'll want to go), or you'll need to wired up different loggers per operation.

[2020-10-13 13:17] missymessa commented on #6392
To set up dependency injection to use the FileLogger, we'll have to create a new type of LoggingProvider to inject into the service collection, similar to how Chad set it up the RecordingLogger in the ReleaseCli tests: https://dnceng.visualstudio.com/internal/_git/dotnet-release?path=%2Fsrc%2FMicrosoft.DotNet.Release%2FMicrosoft.DotNet.ReleaseCli%2Ftests%2FReleaseCliTests%2FTestLauncher.cs&version

[2020-10-13 13:27] missymessa commented on #6392
I kind of accidentally did most of this: https://dnceng.visualstudio.com/internal/_git/dotnet-release/pullrequest/10788

You'll just need to fill in the stub with the behavior you want from the FileLogger.

[2020-10-13 16:30] adiaaida commented on #6225
This turned out to be a different error, and should be fixed by https://github.com/dotnet/arcade/pull/6264.

[2020-10-13 16:31] adiaaida commented on #6306
This has been fixed.

[2020-10-13 16:31] #6306 closed

[2020-10-13 16:41] MSLukeWest opened #6394 "Trying to build against headers/libs coming from a Nuget package in CMake"
[ x] This issue is causing unreasonable pain

I'm working in the dotnet deployment-tools repo that uses the Arcade toolset.  I'm working on a change that uses headers and libs from this WiX nuget package: https://www.nuget.org/packages/WiX/3.11.2.  Am I supposed to just copy the necessary headers and libs into the repo or is there a more elegant way to reference the Nuget package?  If so, can you

[2020-10-13 16:47] adiaaida opened #6395 "[QCR] Add additional validation for releases.json file"
Right now, we validate the releases.json file by comparing against a schema file, which does a mostly good job but can miss some things.

For example, we currently do not validate that if a release is a security release, that there are CVEs listed. We should work with @leecow to identify all of the missing pieces, and add those bits of validation.

[2020-10-13 16:49] markwilkie commented on #6394
Any chance you can help out @alexperovich ?

[2020-10-13 18:09] alexperovich commented on #6394
I believe this (https://stackoverflow.com/a/56093754) would be the correct way to do this. As of version 3.15 cmake has built-in support for emitting package references into the vcxproj.

[2020-10-13 18:40] chcosta commented on #6313
This is resolved with Ricardo's changes

[2020-10-13 18:40] #6313 closed

[2020-10-13 19:02] riarenas commented on #6313
Thanks. Forgot to close this.

[2020-10-13 19:03] riarenas commented on #6390
This is now working.

[2020-10-13 19:03] #6390 closed

[2020-10-14 00:30] MSLukeWest commented on #6394
@alexperovich  Thanks for the reply.  This gets me a PackageReference element in the vcxproj, but it's not used in any way.  Any idea how to make the package actually get downloaded so it can be used by the build?

[2020-10-14 01:07] alexperovich commented on #6394
The discussion here https://developercommunity.visualstudio.com/idea/351636/use-packagereference-in-vcxproj.html suggests that just sticking the property `<_NuGetTargetFallbackMoniker>$(_NuGetTargetFallbackMoniker);native,Version=v0.0</_NuGetTargetFallbackMoniker>` in a Directory.Build.props that the vcxprojs share will make `msbuild <project> /t:Restore` work, because the nuget stuff is already t

[2020-10-14 04:15] tlmii opened #6399 "Add a way to disable publishing TRX files?"
Since we took the weekly update this weekend, our builds have started all showing a warning:

##[warning]No test result files matching *.trx were found.

See https://dev.azure.com/dnceng/public/_build/results?buildId=848879&view=results for an example.

As far as I can tell, this is caused by https://github.com/dotnet/arcade/pull/6325. It looks like the condition for the task is set to `always()`

[2020-10-14 16:06] MattGal commented on #6292
This is rolled out all over, as well as fixed in another way, closing.

[2020-10-14 16:06] #6292 closed

[2020-10-14 19:57] epananth opened #6403 "Publish using darc stage is not detecting failed promotion build"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Publish using darc queues a build in Maestro promotion pipeline but it fails to detect if the promotion failed.

Eg : https://dnceng.visualstudio.com/internal/_build/results?buildId=851119&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073

Failed promotion pipeline : https://dnceng.vis

[2020-10-14 19:58] epananth commented on #6403
cc : @mmitche @riarenas @MattGal

[2020-10-14 20:09] riarenas commented on #6403
This already exists right? there's a --no-wait parameter

[2020-10-14 20:15] mmitche commented on #6403
Yeah, the existing way builds are promoted is desirable. add-build-to-channel should not do the promotion itself unless --skip-assets-publishing is passed.

[2020-10-14 21:39] epananth commented on #6403
Yes the work around exists but we are not using it, so I was planning to add that for time being till I fix this the correct way ..

[2020-10-14 21:40] riarenas commented on #6403
Builds shouldn't pass --no-wait. It's correct behavior that they wait for the promotion build, it's just not correct that the step is saying it was successful.

[2020-10-14 22:04] epananth commented on #6403
If we are okay to show that build passed even when it failed for time being then we don't have to add the work around. I was thinking it will reduce the confusion if maestro promotion was successful or not cos then one will be forced to check the status of the build in the maestro pipeline and not rely on the msg in the logs..

I will edit the description.

[2020-10-14 22:26] mmitche commented on #6403
I think what we do today is wait for the promotion build to complete, then check that the build got assigned to the desired target channels. If it didn't, we say something went wrong and error out.

What we could do in the interim is detect the result of the promotion build. Then it would say: "the promotion build failed, but the build was still assigned to the target channels". Technically it mig

[2020-10-15 15:21] missymessa commented on #5903
@meganaquinn and @Chrisboh: would it make sense to close this issue and create granular issues based on the items in the test plan doc Megan wrote? The dates JC noted in the original issue are probably not accurate anymore, and the test plan revealed that the amount of work needed for this is probably more than one issue should track.

[2020-10-15 16:06] MattGal commented on #5629
Rolled out yesterday.

[2020-10-15 16:06] #5629 closed

[2020-10-15 16:06] MattGal commented on #6391
Rolled out yesterday.

[2020-10-15 16:06] #6391 closed

[2020-10-15 17:10] Chrisboh commented on #5903
The dates in this issue are currently the same as my expectations of when this issue will be completed.  I don't have an opinion either way on how best your V-Team wants to track the work.

[2020-10-15 19:11] MSLukeWest commented on #6394
Thanks @alexperovich for the replies and ideas.  I still wasn't exactly sure how to hook this all up and eventually switched strategies after realizing that what I needed from these libraries could be very easily re-implemented in my code, so I went that route.

Feel free to close this issue, or leave it open until there's a working example.

[2020-10-15 20:02] Tohron commented on #6362
Merged: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/10796
Today I learned about YAML parameters :)

[2020-10-15 20:02] #6362 closed

[2020-10-15 20:04] adiaaida commented on #6362
You and me both :)

[2020-10-15 20:59] epananth opened #6404 "Add support to Github url - V3 publishing"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

This is the asset manifest for Nuget when I tried to onboard to V3

![image](https://user-images.githubusercontent.com/47157394/96184659-a3053e80-0eed-11eb-8574-313165f5c1ca.png)

Nuget has no mirrored Azdo repo like all the repos in dotnet.

It fails here -> https://github.com/dotnet/arcade-services/blob/6336f5b25961711f4

[2020-10-15 21:17] riarenas commented on #6404
The function where this is failing was added as part of the post-build signing effort: https://github.com/dotnet/arcade-services/pull/1275. Looks like we can just try and get the GitHub URI in there as well, but I think someone from that workstream should chime in on what the expectation here is.

CC @chcosta

[2020-10-15 23:03] meganaquinn opened #6407 "Maestro.Tasks Scenario Tests"
Positive cases, validate that the BAR database has been updated with the correct information and that the new build exists-
- [ ] All values and input are valid throughout the pipeline

Negative cases, a user friendly error message is returned
- [ ] RepoRoot is null or empty
- [ ]  AssetVersion is null or empty

[2020-10-15 23:05] meganaquinn opened #6408 "Maestro.Tasks Unit Tests - GetBuildDefaultChannelAsync"
Positive cases, validate that the correct subset of channels is returned
- [ ] Given all valid data (known good data set from a repo)
- [ ] Given GitHub source data
- [ ] Given AzDo source data
- [ ] Given both GitHub & AzDo source data

Negative cases, validate that the returned data is empty or a meaningful exception is thrown
- [ ] Given that both GitHub & AzDo are empty
- [ ] Given empty/null

[2020-10-16 14:42] rainersigwald opened #6409 "Link to where the branch relationships are defined in automated merge PRs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

@dotnet-maestro-bot is sending nice PRs (like https://github.com/dotnet/msbuild/pull/5806). They have a great link to [the script that makes the PR](https://github.com/dotnet/arcade/blob/master/scripts/GitHubMergeBranches.ps1) (thanks!) but sometimes I'd like to know why a PR is happening. I remember that there's a repo so

[2020-10-16 17:49] dagood commented on #6409
You're looking for https://github.com/dotnet/versions/blob/master/Maestro/subscriptions.json, and yeah, should be easy enough to add the static URL.

Adding dynamic stuff gets more involved... would be a feature to add to https://github.com/dotnet/versions/tree/master/Maestro, working through it something like this:

1. Have the service figure out/store which lines of JSON defined the subscription

[2020-10-16 18:44] rainersigwald commented on #6409
Yeah, the static URL should be fine. Doing it with detail sounds like more trouble than it's worth.

[2020-10-16 19:21] alexperovich commented on #6245
What do you mean by "under a proxy environment"? There are multiple ways to do that.

[2020-10-16 20:02] SIkebe commented on #6245
Authentication requirement against corporate proxy to access the Internet.

[2020-10-16 20:09] alexperovich commented on #6245
How did you set up the proxy settings? You have to tell powershell about them somehow. I think it might read the settings configured in windows. As of powershell 7.0 it will also read proxy settings from environment variables

[2020-10-17 13:02] akoeplinger commented on #5315
@MattGal is this supposed to work for the automated darc PRs now, or just when using `update-dependencies` manually?

I don't see dotnet-tools.json getting updated with new xharness versions in dotnet/runtime.

[2020-10-17 16:10] mmitche commented on #5315
@akoeplinger Runtime has no dependency in version.details.xml on microsoft.dotnet.xharness.cli

[2020-10-19 12:00] akoeplinger commented on #5315
@mmitche it does:

https://github.com/dotnet/runtime/blob/c0669313dd36189c6d3bf5c7d5e866284f98263c/eng/Version.Details.xml#L197-L201

[2020-10-19 15:03] lpatalas commented on #6210
I'm working on implementing the changes described above.

[2020-10-19 15:54] adiaaida opened #6417 "[QCR] Move Core* queue time variables to yaml"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The following variables are defined by queue time variables in Stage-Dotnet: CoreReleaseConfigFile, CoreLinuxFilesToSignInputFile, CoreManifestFileName, CoreIndexFileName, and CoreChecksumFileName. They are necessary and required to exist for the pipeline to run correctly, but because they are set as queue time variables,

[2020-10-19 15:55] MattGal commented on #5315
Interesting, I will take a look later today.

[2020-10-19 16:38] MattGal commented on #5315
Still seems to work locally in the `update-dependencies` scenario, so I am working with @riarenas to figure out a local repro for the automated PR version.

[2020-10-19 17:51] adiaaida opened #6418 "Release Team can ship the product with confidence"
# Release team can ship the product with confidence

The goal of this effort is to provide the release team with a reliable automated process for releasing the .NET product to our customers. Currently, we have two pipelines--the [Stage-DotNet pipeline](https://dev.azure.com/dnceng/internal/_build?definitionId=792) and an [RM pipeline](https://dev.azure.com/dnceng/internal/_release?_a=releases&view

[2020-10-19 18:44] MattGal commented on #5315
@akoeplinger should be fixed via https://github.com/dotnet/arcade-services/pull/1445, which with luck will roll out Wednesday.

[2020-10-19 19:12] safern opened #6419 "When using VSTest runner, arcade produces `trx` results but test file has `.xml` extension."
This is wrong as `TRX` results file should have a `.trx` extension. This also causes an issue with the `yml` test result publishing in arcade, since the `TRX` publisher looks for `trx` files, so it won't find them ever and will treat them as `XUnit` results, since that task searches for `.xml`, but it doesn't do anything since when it parses the files it finds, it doesn't see the `XUnit` format an

[2020-10-19 20:25] adiaaida commented on #6224
I think this is currently in PR. Is that correct @jcagme?

[2020-10-19 20:27] adiaaida commented on #6395
Looks like Alex is looking into this.

[2020-10-19 20:51] epananth commented on #6233
Symstore build : https://dnceng.visualstudio.com/internal/_build/results?buildId=858950&view=results
                           https://dev.azure.com/dnceng/internal/_build/results?buildId=859016&view=results

I am going to trigger the subscription for Sysmstore to get the latest arcade update and they should not be blocked anymore.

[2020-10-19 20:53] #6225 closed

[2020-10-19 20:54] jcagme commented on #6224
Yes

[2020-10-19 21:58] epananth commented on #6233
I triggered an arcade update in symstore and that got merged. closing this one.

[2020-10-19 22:03] epananth commented on #6233
Sorry , my bad this was related to other issue. I had both of them opened.

[2020-10-19 22:10] epananth commented on #6276
Thanks @riarenas for catching me close another issue instead of this one..

symstore test -> https://dnceng.visualstudio.com/internal/_build/results?buildId=858950&view=results
https://dev.azure.com/dnceng/internal/_build/results?buildId=859016&view=results

Symstore got the latest arcade update and it was merged https://github.com/dotnet/symstore/pull/228, closing this one,

[2020-10-19 22:10] #6276 closed

[2020-10-19 22:14] epananth commented on #6233
thank you @riarenas for catching this.. I closed the wrong issue, I had both this one and https://github.com/dotnet/arcade/issues/6276 opened.

[2020-10-19 22:40] #6419 closed

[2020-10-20 15:03] riarenas commented on #5877
This has been happening every day since 10/15 so I think it has gotten to the point where I deem this blocking. I'll work on this query today.

[App insights query](https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fmaestro-prod-cluster%2Fproviders%2F

[2020-10-20 15:18] mmitche commented on #6373
This is something we need to validate during manifest merging, and should includes tests for the positive and negative cases.
/cc @meganaquinn

[2020-10-20 15:18] mmitche commented on #6387
This is something we need to validate during manifest merging, and should includes tests for the positive and negative cases.
/cc @meganaquinn

[2020-10-20 15:26] mmitche opened #6425 "Validate that the signing extensions code works with the following cases:"
The signing extensions code reads the merged manifests and passes those properties off to signtool. The signing extensions code should handle the following cases:
- [x] Merged manifests are missing signing info (any type, e.g. ItemsToSign, CertificateSignInfo, SigningInformation overall etc.) - This is valid, treated as empty collections
- [x] A merged manifest is invalid. These should be the same

[2020-10-20 18:33] #6302 closed

[2020-10-20 20:41] adiaaida opened #6428 "[QCR] Packages.props should get versions from versions.props"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Right now, we use a Packages.props file to determine versions for various packages. We also have a versions.props that is updated by dependency update. Packages.props should reference version.props versions for packages that are updated by dependency updater (SignTool, BuildTools, etc).

This is currently done in arcade-se

[2020-10-20 20:49] jonfortescue commented on #6341
I think that this code path will also be covered in #6208.

[2020-10-20 21:45] #6395 closed

[2020-10-20 22:11] ChadNedzlek commented on #6023
I'm not sure what the work is here. The database exists, is super useful... but what work is there?

[2020-10-20 22:16] #6318 closed

[2020-10-20 22:17] ChadNedzlek commented on #6318
It doesn't sound like making changes here really helps.

[2020-10-20 23:54] #6249 closed

[2020-10-21 00:13] MattGal commented on #6318
The problem seems to have almost entirely been the connection string not having a decorator that allowed more connections; fixing that basically ended this problem, so now that we did that and the function is serial, it has been well behaved.

[2020-10-21 14:54] markwilkie commented on #5963
After our v-team discussion yesterday where it proved difficult to make forward progress, I'll give a hand to see if the discussion can be "jump started".  What I'll present should be thought of as a "starter fluid", not the actual "fuel".  Meaning.....the right approach is probably still "out there" - at least to a degree.

Perhaps this proposed approach can be applied the the data we have to see

[2020-10-21 15:00] lpatalas commented on #6210
It was closed automatically by GitHub because of link inside PR. I will reopen it so that we can track it. I will close it after confirming that everything works correctly on production instance.

[2020-10-21 16:18] adiaaida commented on #5977
I have identified the following places as the most important places to focus our DI efforts on for now. We can go back and do others in the future:

* Everything related to GithubClient/LibGit2Sharp
  - GitHubClient
  - LibGit2Sharp
  - Repository
  - Remote
  - Commands
  - Tag
  - Network
  - GitHttpClient
  - PolictyHttpClient
* Things related to CloudBlobs
  - CloudBlobContainer
  - CloudBlock

[2020-10-21 19:07] mmitche opened #6431 "Attempt strict coherency before using legacy coherency"
There is an issue to enable strict coherency as the default (and only) mode in #6093. This requires #5940. This difficulty in finishing off this issue is that it's bound by the check-in windows of servicing and there is a tendency for cpd-strict compatibility in other branches to degrade outside those windows.

While we should still complete #6093, I think as a stop-gap we should attempt CPD stric

[2020-10-21 19:57] mmitche commented on #6239
@jakubch1 There's a problem with this fix: #6248

The problem is that most of the paths inside of our containers are not URLs, but Url decode will incorrectly morph some valid paths in some cases. We will then make decisions based on those new file names. Example: Any file containing + (which UrlDecode changes to a space).

Right now we hit an assert where we incorrectly assume a file will not be

[2020-10-21 20:10] #5801 closed

[2020-10-21 20:23] riarenas opened #6432 "[Darc/Maestro++] Arcade SDKUpdate scenario test currently failing"
- [X] This issue is blocking
We can't roll out Maestro changes until this is understood / fixed, as it's a potential regression of updating Arcade dependencies on repos

- [ ] This issue is causing unreasonable pain

The Maestro.ScenarioTests.ScenarioTests_SdkUpdate.ArcadeSdkUpdate test is currently consistently failing in Arcade-services. It looks like it started happening as of this change: http

[2020-10-21 21:26] dougbu commented on #6322
Done in 67035ca98fc8

[2020-10-21 21:26] #6322 closed

[2020-10-21 23:37] ChadNedzlek commented on #5963
There are some interesting investigations we can take that can help distill this starter fluid. :-).  Like what does it look like to run a test on the same machine... a different machine... how can we report that in a useful way to Azure Pipelines/something else so that we have the data we need to "do the right thing".

I have a feeling that maybe for non-PR builds, we run enough of them that mayb

[2020-10-22 00:49] markwilkie commented on #5963
I like the thinking Chad.  :)  Let's chat again and see what the right next steps are.

Cheers

[2020-10-22 10:29] jakubch1 commented on #6239
@mmitche do you have more examples? The issue is only for '+'? Is it part of the filename or path? We could add all such examples to tests.

In our case we have to change:
Team%20Tools/Dynamic%20Code%20Coverage/netstandard2.0/ProjectOne.dll -> Team Tools/Dynamic Code Coverage/netstandard2.0/ProjectOne.dll

without this it fails. I see 2 possible solutions:

1) replace WebUtility.UrlDecode with .Re

[2020-10-22 14:01] mmitche commented on #6239
The only place I saw this was with a +. But Url  The problem is that if the file name gets changed, the rest of signtool starts to fail or could do the wrong thing. When processing the nested file,  https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/Configuration.cs#L697 might indicate that a file with a + in it hasn't been processed yet. But then we do UrlDecode on tha

[2020-10-22 15:50] MattGal commented on #5315
Rolled out to prod yesterday, @akoeplinger please let me know if this doesn't fix the issue.

[2020-10-22 15:52] riarenas commented on #5315
Reopening. We did not roll out Maestro yesterday.

[2020-10-22 16:46] sunandabalu commented on #5963
Makes sense for non-PR builds, to compare against previous builds in the same branch. For PR builds, the mechanism to identify whether a test is chronically failing  or is it flaky would require some sort of retry and bubbling up that info for reporting. We need to ensure the reporting structure can accomodate both, or way to demarcate the PR vs Non-PR if that is more convenient.

[2020-10-22 16:48] sunandabalu commented on #5963
For tests that are consistently failing need to be looked at and either turn the test off or mark it as flaky so we can skip it. Just blindly skipping a chronically failing test would mean sweeping it under the rug :)

[2020-10-22 18:18] chcosta commented on #6404
I *think* that's fine.  @mmitche should chime in as I'm less familiar with this aspect of the manifest or how it's used.

[2020-10-22 18:21] meganaquinn opened #6433 "Maestro.Tasks Unit Tests - Round 1"
AddAsset

 Positive cases, validate that the asset has been added to to the asset list
- [x]  Given golden path with a combo of shipping and non-shipping assets
- [x]  Given empty string parameters

 Negative cases, expect a meaningful exception is thrown
- [x]  Given null parameters (if allowed by caller)

GetBuildManifestsMetadata

 Positive cases, validate contents of returned values (buildsMan

[2020-10-22 18:27] #6145 closed

[2020-10-22 18:56] riarenas commented on #6432
Fixed by @missymessa in https://github.com/dotnet/arcade-services/pull/1454

[2020-10-22 18:56] #6432 closed

[2020-10-22 19:03] riarenas opened #6434 "[Darc/Maestro++] Remove powershell scenario tests now that there are c# tests with the same coverage"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The tests under https://github.com/dotnet/arcade-services/tree/master/src/Maestro/tests/Scenarios are not needed anymore. The remaining tests are adding 8 minutes to the post-deployment stage so we should remove all references to them.

[2020-10-22 20:20] missymessa opened #6435 "Nuget errors after SDK update in ASPNETCore Tooling"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

ASPNETCore Tooling took in an updated Arcade in this PR: https://github.com/dotnet/aspnetcore-tooling/pull/2658/files
That same PR indicates an SDK update, as well (RC1 to RC2).

They are now seeing errors with Nuget packages:
[code]

Discussion on Teams: https://teams.microsoft.com/l/message/19:afba3d1545dd45d7b79f34c1821

[2020-10-22 20:27] adiaaida opened #6436 "[QCR] Split SourceLink Validation into multiple jobs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Currently, SourceLink Validation can take up to 6 hours to run to completion. This is not in line with our goal of "quick" releases. Also, because of the number of symbol.nupkgs we are validating, we don't have much confidence in knowing if the failures are important or not, or which repo the failures belong in.

For sever

[2020-10-22 20:29] adiaaida opened #6437 "[QCR] Split Symbols Validation into multiple jobs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Like SourceLink validation, Symbols validation is a long pole operation in the release pipeline. Currently it takes 2.5+ hours to run. We should split up the symbol.nupkgs at a per-repo level to add greater parallelism to the process and speed up this validation.

Also only validate shipping packages

[2020-10-22 20:30] adiaaida opened #6438 "[QCR] Package dependency validation should only validate shipping packages"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Currently, we validate all packages that are in the packages directory in the drop. We should first check the manifest, and only validate those packages that are marked as shipping.

[2020-10-22 20:31] adiaaida opened #6439 "[QCR] Package Icon Validation should only validate shipping packages"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Currently, we validate all packages that are in the packages directory in the drop. We should first check the manifest, and only validate those packages that are marked as shipping.

[2020-10-22 20:55] alexperovich commented on #6394
TLDR: cmake can emit PackageReference items into the vcxproj files. It is up to the package author and/or consumer to wire up libs and headers.

[2020-10-22 20:55] #6394 closed

[2020-10-22 21:31] dougbu commented on #6435
The most recent Arcade update in dotnet/aspnetcore-tooling#2658 only hit known and likely unrelated CS1029 errors. It's certainly possible those relate to the .NET SDK update but the fix is relatively straightforward (hint, hint @JunTaoLuo 😺) and within the dotnet/aspnetcore-tooling repo. See https://dev.azure.com/dnceng/public/_build/results?buildId=861677

The more interesting differences may be

[2020-10-22 22:17] garath commented on #6434
Spoke with @meganaquinn, she has agreed to take this

[2020-10-22 22:27] dougbu commented on #6435
If I'm on the right track, the differences between the dotnet/aspnetcore state at 20201021.3 and 20201021.5 are https://github.com/dotnet/aspnetcore/compare/6a82a84b10a8073f262ea53d7f8e01fa6cbfca08...8f508e70842e67839cdedbd8208aba46ebf55f32 That includes a dependency PR that updated Arcade bits from 5.0.0-beta.20506.7 to 6.0.0-beta.20520.8, bringing us back to looking hard at Arcade.

[2020-10-22 22:55] dougbu commented on #6435
BTW the NU3008 error also shows up in dotnet/sdk#14268 as @dsplaisted reported (https://github.com/dotnet/sdk/pull/14268#issuecomment-714710429). I'm about to look at the history of that PR to see which dotnet/aspnetcore build introduced that specific issue&hellip;

[2020-10-23 00:14] dougbu commented on #6435
The dotnet/sdk#14268 PR built just once without the NU3008 errors. That error (two test failures) looks unrelated to this issue. So, again the dotnet/aspnetcore build 20201021.3 seems fine but builds 20201021.5 and later from that repo aren't providing a Microsoft.NET.Sdk.Razor package that passes the integrity checks.

[2020-10-23 00:34] dougbu commented on #6435
Going elsewhere after one last update: The Arcade-specific differences between those two dotnet/aspnetcore builds are shown in https://github.com/dotnet/arcade/compare/ee39cd1573dbb8011f343e1037af51d4fc00a747..7fbf2a7703498067569d07a21776b91e599028e2 or (just the commit descriptions) https://github.com/dotnet/arcade/compare/ee39cd1573dbb8011f343e1037af51d4fc00a747...7fbf2a7703498067569d07a21776b91

[2020-10-23 00:36] missymessa commented on #6435
@chcosta @mmitche ^ The commits Doug is referencing are related to the Post Build Signing work.

[2020-10-23 03:11] chcosta commented on #6435
Could be. I'll take a look in the morning

[2020-10-23 05:48] chcosta commented on #6435
It does appear that this is related to the Arcade update.  https://github.com/dotnet/arcade/commit/7fbf2a7703498067569d07a21776b91e599028e2 is the most likely culprit, but it could be any change between 10/6 and 10/20 and I can't get a repro.  Trying to sign locally, it seems to be doing the right things.  I'll dig in more in the morning. :/

[2020-10-23 09:29] chcosta commented on #6435
One of the changes to signtool modified it such that it would not sign packages if they were already signed (and the contents of the package were already signed) . I wonder, what is happening between the "build" step of aspnetcore and the "build installers" step. It appears that aspnetcore is now signing far fewer files in the latter step than it was previously. Seems plausible that this package w

[2020-10-23 09:38] chcosta commented on #6435
Side note:we could probably also run the nuget integrity checks in signtool and re-sign the package if they fail. I'd like to get more insight into the aspnetcore build first though and make sure we understand this failure.

[2020-10-23 13:33] jakubch1 commented on #6239
I've rerun failing scenario with arcade version before this fix.

Let's describe whole thing:
1) In swr file we specify all paths with spaces, not %20
2) In VSIX file paths are changed to contain %20 (is this default in zip files?) but inside manifest.json the file is specified without %20: {"fileName":"/Contents/Team Tools/Dynamic Code Coverage Tools/amd64/CodeCoverage.exe","sha256":"B7BE597B9557

[2020-10-23 16:27] chcosta commented on #6435
Not having bin logs for most of the steps in the aspnetcore repo, slows things down a bit.  I need to get builds with binlogs to confirm my theory here and understand what the "Build installers" step is doing.  I've confirmed that this is definitely, the commit previously mentioned.

@dougbu , perhaps you have some insight into what is causing the signing to become invalid?  Can you merge [these s

[2020-10-23 16:44] missymessa opened #6444 "Publishing failure during aka.ms link creation"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Publishing with darc job will yield the following error:
[code]

Links to builds:
- https://dev.azure.com/dnceng/internal/_build/results?buildId=863359&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073&l=34
- https://dev.azure.com/dnceng/internal/_build/results?buildId=863471&view=logs

[2020-10-23 17:49] missymessa commented on #6435
Going to move this into the Post-Build Signing epic.

[2020-10-23 18:15] dougbu commented on #6435
1. I do not know what is causing the signing to become invalid
    - All we know is that the problems point very strongly at a problem in the Arcade infrastructure
2. We cannot merge steps because of how WiX handles signing as well as the need to use desktop `msbuild` when we run Wix.
    - We run the majority of our build using `dotnet msbuild`
    - @mmitche looked at this recently and didn't re

[2020-10-23 18:16] JunTaoLuo commented on #6435
This should be prioritized given that sdk and aspnetcore-tooling currently cannot ingest builds from aspnetcore.

[2020-10-23 18:19] dougbu commented on #6435
@JunTaoLuo or @Tratcher unless can we get a fixed Arcade version or a suggestion to work around the issue in dotnet/aspnetcore _today_, I strongly suggest we got back to the previous Arcade versions.

[2020-10-23 19:22] chcosta commented on #6435
This could be argued either way, but it's not really relevant.  Yes, as I mentioned above, Arcade changes have surfaced an issue (longstanding) in the aspnetcore repo which is related to signing a package multiple times, and I'm working to resolve it.

Not sure I follow, you are running desktop msbuild in the "build installers" step already

Nothing, it's just a tracking thing.  This is still gett

[2020-10-23 19:59] ChadNedzlek commented on #5963
I'm not sure where the epic about getting everyone on a shared testing infrastructure... but any "retry" logic we write won't help anyone until that epic is complete.  Right now, everyone has implemented their own test execution framework, so any work would have to be hand written into every single repository, which isn't a good use of our time (since it would all get deleted when that other epic

[2020-10-23 20:02] ChadNedzlek commented on #5963
Found it. It was epic #5132. But that lost the "centralize the testing infrastructure" part of it in the title, and I'm not sure if it's focused on that or if we need another epic? Or to do that here?

[2020-10-23 20:28] ChadNedzlek opened #6445 "Compare pass rates and other test characteristics between CI and PR builds"
Azure DevOps has this page: https://dev.azure.com/dnceng/public/_test/analytics?definitionId=686&contextType=build, that shows test rates for "CI" builds.  There isn't anything similar for PR's.  But we have the XML files, so we can build this data.

Let's use the data to compare if there is something different between PR's and CI, or if tests have similar pass rates, so that we can "trust" the CI

[2020-10-23 20:32] missymessa commented on #6444
Looks like in the last 100 runs on this pipeline there have been three instances of this failure, all yesterday between 6 to 10pm (PST). Maybe there was an outage with aka.ms during that time?

https://dev.azure.com/dnceng/internal/_build/results?buildId=863536
https://dev.azure.com/dnceng/internal/_build/results?buildId=863462
https://dev.azure.com/dnceng/internal/_build/results?buildId=863384

[2020-10-23 21:01] missymessa commented on #6444
Next steps:
- [ ] Validate that the retry functionality in this code works as expected. (See code here: https://github.com/dotnet/arcade/blob/0c74bcb7cdaa8b224b8d5d37220b645a94c85ad4/src/Microsoft.DotNet.Deployment.Tasks.Links/src/AkaMSLinksManager.cs#L175)
- [ ] Determine if https://github.com/dotnet/arcade/blob/0c74bcb7cdaa8b224b8d5d37220b645a94c85ad4/src/Microsoft.DotNet.Deployment.Tasks.Links/

[2020-10-23 22:11] riarenas opened #6446 "Errors during "publish using darc" stage are not self-diagnosable"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

When something goes wrong during the "publish using darc" stage, we only provide the following message:

[code]

It's been evident customers aren't looking at the promotion builds associated with those jobs. A first start would be to add the link to the promotion build that failed in the error summary so that azdo lets cus

[2020-10-23 23:13] chcosta commented on #6435
I have a fix for this, https://github.com/dotnet/arcade/pull/6448.  I'm still working on validating aspnetcore official builds.

Just to set expectations:  Given the time of day / week, I don't expect that validation will complete until Monday and the PR will likely not merge before then either.  So, this will not be promoted and flow to aspnetcore until mid / late next week (assuming nothing wayl

[2020-10-23 23:27] missymessa opened #6449 "Maestro Build Promotion 403 when calling Blob storage for Winforms-Designer builds"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

For Winforms-Designer builds, Publish Using Darc is throwing errors: https://dev.azure.com/dnceng/internal/_build/results?buildId=864547&view=results

The cause is a 403 when Maestro Build Promotion pipeline reaches out to Blob storage. https://dnceng.visualstudio.com/internal/_build/results?buildId=864601&view=results

[c

[2020-10-24 00:07] epananth commented on #6449
I promoted this build to General testing and that was successful

https://dnceng.visualstudio.com/internal/_build/results?buildId=864700&view=logs&j=43d2a893-8a64-53c8-f353-9d032c280600

[2020-10-24 00:57] epananth commented on #6404
@mmitche I have a cheap fix for this.  So previously we did not get repository name in the manifest so we used to parse the AzdoUri. Since recently we have added the repo name to the manifest, we have access to it and we do not actually have to parse any uri to get the repo name.

So instead of adding a new param as the manifest( I can still do it, also have a branch ready with that change, but wa

[2020-10-24 00:59] epananth commented on #6404
Also I tested this fix in Nuget -> https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=4173101&view=logs&j=2ea8c801-c4c3-578e-0ff0-bcf4c12d9404&t=84cb75a5-b2cd-5cd5-8f62-f083ac53f4fb and it worked :)

[2020-10-24 15:26] adiaaida opened #6451 "[QCR] [Signing] Push-to-drop does not publish signed files"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In the signing ring/step, we copy the newly signed files to {{ outputDir }}/signed/{{ path }}, but push-to-drop pushes files that are just in the {{ outputDir }}\shipping and {{ outputDir }}\nonshipping directories (ie, not the ones that have been copied to the signed directory). Either signing should copy files back to th

[2020-10-24 15:26] adiaaida commented on #6451
/cc: @missymessa @chcosta

[2020-10-24 21:52] chcosta commented on #6451
I thought @jcagme was working on this or had an open issue tracking it

[2020-10-26 06:56] jakubch1 commented on #6239
Thanks @mmitche  for help on this. I've prepared fix which is escaping paths when generating csproj for signing: #6441
The issue here is that msbuild is unescaping paths when reading csproj.

[2020-10-26 12:58] premun opened #6455 "Android XHarness tests failing in Arcade CI"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

### Context
- Both Windows test legs in the [arcade-ci pipeline](https://dev.azure.com/dnceng/public/_build?definitionId=208&_a=summary) that runs for PRs in Arcade have a step called **XHarness Android Helix Testing**.
- This step downloads a an Android apk application from our storage account and runs it using the Helix

[2020-10-26 13:03] premun commented on #6455
Also discussed here https://github.com/dotnet/arcade/pull/6032

[2020-10-26 14:39] mmitche commented on #6404
I think the fix is okay, but needs a tweak. For github repos, it's going to compute an odd path for the merged manifest blob. Note that unlike windows, // actually generated `NuGet.client/<empty-folder>/MergedManifest`:

  `<Blob Id="assets/manifests/NuGet/NuGet.Client//MergedManifest.xml" NonShipping="true" />`

Should be

  `<Blob Id="assets/manifests/NuGet-NuGet.Client/MergedManifest.xml" NonSh

[2020-10-26 16:52] adiaaida commented on #6451
If there's already an issue for this, feel free to close this as dupe.

[2020-10-26 17:09] chcosta commented on #6451
I can't find a specific issue.  I'll work on this after I get the checksums PR up later today (hopefully)

[2020-10-26 17:22] Tratcher commented on #6444
Similar failures from Friday:
https://dev.azure.com/dnceng/internal/_build/results?buildId=864419&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073
https://dev.azure.com/dnceng/internal/_build/results?buildId=864547&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073

[2020-10-26 17:23] MattGal opened #6459 "Remove custom dotnet-install.* scripts from Arcade"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

`https://dot.net/v1/dotnet-install.sh` and `https://dot.net/v1/dotnet-install.ps1` now contain these changes.  I will get a PR stood up today that  brings back using these versions of the scripts to do installs, as a custom in-repo copy should no longer be needed.

[2020-10-26 17:42] missymessa commented on #6444
These failures are due to 403 response from the Azure Blob Storage, not failures during aka.ms link creation, which is being tracked with this issue: https://github.com/dotnet/arcade/issues/6449

P.S. For future reference, the Publish to Darc step includes a link to the Maestro Build Promotion pipeline:

![image](https://user-images.githubusercontent.com/47990216/97208036-ebd3b780-1777-11eb-8fd8-3

[2020-10-26 20:21] tkapin commented on #6309
@rokonec Please move this to closed if there isn't anything left to verify, thanks.

[2020-10-26 20:28] MattGal commented on #6459
Reverted via https://github.com/dotnet/arcade/pull/6460

[2020-10-26 21:14] #6309 closed

[2020-10-26 21:16] #6435 closed

[2020-10-26 22:13] MattGal commented on #6459
PR merged; will wait a week or so and make the parallel change in 5.0, assuming this meets the bar to be ported there.

[2020-10-27 01:09] missymessa opened #6464 "Invalid ELF BuildID '<null>' for runtime in Maestro Build Promotion"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain
- [x] This issue gives the appearance of a failure

Link to failing pipeline: https://dnceng.visualstudio.com/internal/_build/results?buildId=866684&view=logs&j=43d2a893-8a64-53c8-f353-9d032c280600&t=567cfe83-9037-5882-498b-95841a0c95da

[code]

Runtime pipeline that kicked off this build: https://dev.azure.com/dnceng/inter

[2020-10-27 14:23] ilyas1974 commented on #6464
@epananth is this related to issue arcade #6449?

[2020-10-27 14:26] ilyas1974 commented on #5786
@lukas-lansky is there any information you can add to this issue regarding the PR you created? Is this issue still a problem?

[2020-10-27 15:25] mmitche opened #6468 "Publishing should not be able to overwrite blobs"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Publishing should not overwrite blob artifacts (it can't overwrite packages today). But, simply changing to not overwrite is not good enough as it means that you can't rerun a failed publish. Instead, if there is a conflict, the existing blob's content should be compared to the new blob's content.

[2020-10-27 15:26] mmitche commented on #6468
@epananth @riarenas

The motivator here is that MergedManifests are getting uploaded to the stable locations for stable builds. This only affects post build signing right now, but it means that two subsequent stable builds of runtime will overwrite the same MergedManifest.xml

[2020-10-27 15:28] mmitche opened #6469 "MergedManifest.xml uploaded to stable locations for stable builds"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

The merged manifest is being uploaded to a stable location in a stable build. This should never be the case. Related to #6468

[2020-10-27 15:48] riarenas commented on #6464
@ilyas1974 I don't think they are related. These are failures seen when using the symbolUploader task, not during the publishing of blobs to storage accounts.

[2020-10-27 15:51] riarenas commented on #6449
@mmitche provided this via email:

[2020-10-27 16:11] tlmii commented on #6399
It looks like this was fixed by #6420 (and further refined by #6450). So I'll close this.

[2020-10-27 16:11] #6399 closed

[2020-10-27 16:55] #6359 closed

[2020-10-27 16:58] #6210 closed

[2020-10-27 17:01] dougbu commented on #6435
@chcosta was your fix included in the most recent Arcade update❔ I noticed that included one of those recursive version updates and the previous promotion was huge&hellip;

[2020-10-27 17:05] chcosta commented on #6435
Doesn't look like it was included.  Looks like the Arcade update included everything through 10/25, my change went in 10/26.

FYI @missymessa

[2020-10-27 17:13] JimBobSquarePants commented on #6371
Is there anything useful I can do to expediate a fix here?

[2020-10-27 17:31] dougbu commented on #6435
@chcosta thanks for saving me from an incorrect Arcade update in dotnet/aspnetcore😺 I'll keep an 👁️ out for a promotion that includes f56644c6b0fe.

Will the right promotion need an Arcade dependency update too❔

[2020-10-27 18:24] ChadNedzlek opened #6472 "Analyze last 14 days merged with failed PR's to catagorize failure reason"
Right now runtime keeps merging broken stuff into master. We need to look at the PR failures to figure out why that is happening.

Because master is so broken, we can't do anything really useful with the data there... which means people need to stop merging on red validation builds... but to do that we need to figure out why they are doing it in the first place.  (And to see if it's failures look

[2020-10-27 18:30] meganaquinn opened #6473 "Maestro.Tasks Unit Tests - GetManifestAsAsset"
Positive cases, validate the contents of the AssetData and that it has been added to blobSet
- [x]  Given a list of AssetData with a location string and a manifest file that exists
- [x]  Given a list of AssetData with a location string and a manifest file that does not exist
- [x]  Given a golden path where the AssetVersion is set
- [x]  Given a golden path where the AssetVersion is not set, but

[2020-10-27 20:15] mmitche commented on #6469
https://github.com/dotnet/arcade/pull/6474

[2020-10-27 20:28] chcosta commented on #6435
@dougbu You should be able to update your dependencies and get the new version of Arcade with the fix now.  Otherwise, I think your repo will update its dependencies tomorrow morning.

[2020-10-27 20:28] ChadNedzlek opened #6475 "Need to not log "warnings" in arcade tasks (unless they are error worthy)"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Right now, we log "warnings" from some of our tasks, like this https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/src/DownloadFile.cs#L168.

However, many (if not most/all) repositories run with "warn as error", so these warnings actually fail the build.  At least this warning isn't something that

[2020-10-27 20:29] ChadNedzlek commented on #6475
FYI @chcosta @alexperovich

[2020-10-27 21:53] #6475 closed

[2020-10-27 22:06] #6239 closed

[2020-10-27 22:22] SirBuckinghamVI opened #6477 "All Types Marked as Missing"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

All types in my project are marked as missing from the implementation with a TypesMustExist error. I am using version 5.0.0-beta.20224.2. This is a new setup; I just set the ResolvedMatchingContract to a dll I built just before installing the package. This is a library targeting .NET Standard 2.0. The project does referenc

[2020-10-28 00:38] MattGal commented on #6468
PUtting back to the backlog as I'll be working on other stuff.  Some notes:

HandlePackagePublishingAsync
Calls:
  - PublishPackagesToAzDoNugetFeedAsync
  Calls:
    - PushNugetPackageAsync (already has identical-ness-check)
  - PublishPackagesToAzureStorageNugetFeedAsync
  Calls:
    - BlobFeedAction.PushToFeedAsync, which ends up in
             return await PushCommand.RunAsync(

[2020-10-28 05:41] safern opened #6480 "[Helix SDK] Support correlation payloads that are not downloaded to the agent"
We're currently driving an effort of making debugging helix crash dumps simpler across dotnet org. There are some caveats here:

1. Some tests don't include debug symbols in the correlation payload or work item payload to save time when downloading assets into the workitem agent. This makes it harder to find matching symbols for the actual binaries as going back to the azure devops build and findi

[2020-10-28 14:09] mmitche commented on #6468
I think when the flat container push is specified, then it doesn't use sleet.
If it does, you could also replace the flat container pushes with azure storage APIs

[2020-10-28 14:30] markwilkie commented on #6480
Adding this to our diagnostic epic (which is part of WF) - which....is a high priority for us.  This doesn't necessarily mean we'll get to this for sure, but it does mean it'll be under serious consideration as we plan for .NET 6.

Also, if this turns out to be an area where other want to partner with us, that is always an option.

[2020-10-28 15:14] adiaaida commented on #6444
When we get a timeout from HttpClient, it throws a TaskCancelledException. We only catch on HttpRequestException. To harden against this, we should also catch the TaskCancelledException, so that we can retry.

[2020-10-28 15:21] adiaaida commented on #6444
I have not been able to find evidence of an aka.ms outage, so I think this was just transient.

[2020-10-28 15:39] MattGal commented on #6480
I just want to say that we've had times where the Helix client got deeply entangled in corefx/runtime specific functionality, and it bears the vestigial scars of this time yet no longer uses any of that functionality.  This sounds a lot like one of those times.
 Changes like this need to be made very carefully at the right layer (most likely the Arcade Helix SDK level) if they are to avoid being c

[2020-10-28 15:42] markwilkie commented on #6480
Agreed - I suspect this would be part of a larger effort to add another layer above what we currently have where we could put common test functionality.  This also implies that to use this, the repos need to test in a similar fashion....

[2020-10-28 15:50] safern commented on #6480
The only piece here that is runtime specific is the cross DAC. We could leave without that last part to include support payloads. However the PDBs/symbols pieces, is not specific to us, I know ASP.NET doesn't include PDBs in their payloads and have to go to the build to get the matching symbols to debug a dump.

cc: @dougbu

Also I'd like to add, that all the repos would benefit from this as if we

[2020-10-28 15:52] markwilkie commented on #6480
Yes!  Also....there are a number of ways teams are currently using (or not using) Helix so some sort of normalizing would be in order.  But getting to more of a shared place seems like only goodness to me.

[2020-10-28 16:10] adiaaida opened #6485 "Update handling of HttpClient timeout exceptions when we upgrade to .NET 5+"
In a lot of places where we retry on HttpClient timeouts, we catch TaskCanceledException as that is what HttpClient throws when it times out. See: https://github.com/dotnet/runtime/issues/21965.

As of .NET 5, this behavior has been modified to have the TaskCanceledException contain an inner exception of TimeoutException when the task was canceled due to a timeout: https://github.com/dotnet/runtim

[2020-10-28 16:54] adiaaida commented on #6464
Looking into 3 aspects of this:

- [ ] Why do those files have an Invalid ELF BuildID
- [ ] Do we care that the symbols were not published?
- [ ] Should darc at least warn in the build that kicks off the promotion build that not all jobs completed successfully? Something like "The build was successfully added to the target channel, but there were errors in the promotion build"

[2020-10-28 16:56] riarenas commented on #6464
For your third point, we have https://github.com/dotnet/arcade/issues/6403 already filed and being looked at.

[2020-10-28 16:57] adiaaida commented on #6464
Awesome, thanks Ricardo. I think that covers both 2 & 3. I'll look into the first bullet point.

[2020-10-28 17:01] adiaaida commented on #6464
This is the first build where we start seeing these failures: https://dnceng.visualstudio.com/internal/_build/results?buildId=863910&view=results.

Its related runtime build: https://dev.azure.com/dnceng/internal/_build/results?buildId=863757&view=results

Based simply on the name of the files that have errors and the fact that the related commit touches mono files, I have a strong suspicion that

[2020-10-28 17:32] dougbu commented on #6480
This sounds complicated to me and I'm not sure it would be a move in the direction @davidfowl is hoping to take our test diagnostic work.
- Why not a _single_ correlation symbol container per queue / job pair❔ Or, perhaps, publish symbols to a unique container directly from the build agent to reduce network hops❔
- What about symbols for test applications built on Helix agents e.g. in ASP.NET's te

[2020-10-28 17:37] adiaaida commented on #6464
Ok, THIS is the first time we saw it for runtime: https://dnceng.visualstudio.com/internal/_build/results?buildId=850796&view=results

Associated runtime build: https://dev.azure.com/dnceng/internal/_build/results?buildId=850462&view=results

[2020-10-28 17:49] adiaaida commented on #6464
And this is the first time we saw it for more than just mono files: https://dnceng.visualstudio.com/internal/_build/results?buildId=860848&view=results

Which corresponds to this runtime build: https://dev.azure.com/dnceng/internal/_build/results?buildId=860691&view=results

[2020-10-28 17:51] mmitche opened #6486 "BARViz should show the number of commits behind for a given dependency"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

If a build of an older commit successfully finishes **after** a newer commit is created and maybe built (or for instance, the newer commit was never built, or a retry caused the older build to appear to finish after), the older build will be "latest". This is intentional and correct, and really there's no other way to hand

[2020-10-28 17:56] mmitche commented on #6486
I'd suggest showing this as perhaps a suffix in the "Build Staleness" column. Maybe change that to "Staleness" and list each entry as: `N Builds, M commits`

Since it's always either "latest" or "behind" the behind text can probably be remvoed.

[2020-10-28 18:25] MattGal commented on #6468
That's the UploadAssetAsync case (which already has identical-ness checks).  I'm fairly sure that the only place that this codepath lacks "identical thing already there" checks is the one path where it actually calls into Sleet directly.

[2020-10-28 18:27] mmitche commented on #6468
I don't think we need the support in sleet. We don't push to blob feeds any longer.

[2020-10-28 18:34] mmitche commented on #6468
In fact, what you might do is:
- Verifying in PublishingConstants.cs that there are no sleet feeds (v3 publishing)
- Verify in v2 publishing (post-build.yml) there is no sleet publishing.

If the first two are true, remove sleet from arcade master and then backport that change to 5.0

[2020-10-28 19:08] adiaaida commented on #6464
@mikem8361 I'm having a hard time understanding runtime's build process. Do you know what adds the BuildId to ELF/symbol files? In particular, this is only failing for libmonosgen-2.0.so on various architectures and libcoreclr.so on linux-x64 and linux-musl-x64.

Any details on this process that you have would be super helpful!

[2020-10-28 19:09] epananth opened #6487 "Merged manifest test to support both Azdo and Github Uri"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Need test to make sure, merged manifest can accept both azdo uri and github uri.
This will helpful especially when we roll out a maestro task update, cos right now we are not able to see it the change to maestro will break any repo unless we spin a build with that update. Eg: Nuget - This is one of the repo that uses githu

[2020-10-28 19:12] epananth opened #6488 "Merged Manifest path tests"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Test merged manifest path for various cases. It will make it easier to iterate over the changes.

cc: @meganaquinn @mmitche

[2020-10-28 19:52] mikem8361 commented on #6464
There linker options to enable the build id. All the coreclr binaries should have this enabled (libcoreclr.so on any architecture/platform) so I don’t know why you are getting that message for those.  The libmonogen-2.0.so (and other mono binaries) need this option too.  I know nothing about the mono build to help.

@janvorli might know of the top of his head what the linker option is.

[2020-10-28 20:43] #236 closed

[2020-10-28 20:58] #5877 closed

[2020-10-28 20:58] #6446 closed

[2020-10-28 20:58] #5315 closed

[2020-10-28 20:58] #6431 closed

[2020-10-28 22:38] akoeplinger commented on #6464
I think all of these are actually Mono runtime files, it's just that for Desktop builds we need to rename libmonosgen-2.0.so to libcoreclr.so (fixing that is tracked with https://github.com/dotnet/runtime/issues/34202).

I know the reason for the issue, will fix it.

[2020-10-28 22:48] akoeplinger commented on #6464
I opened a PR with a fix.

@adiaaida can we log the name of the .nupkg that caused the error in PublishToSymbolServers.proj? That'd have made it easier to figure out.

[2020-10-29 00:05] ChadNedzlek opened #6490 "When helix logs URL's, they should be encoded"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Example logs:
[code]

In these logs, the URL contains spaces, but they are written out un-encoded, producing invalid (and therefore unnavigable) URL's.

[2020-10-29 12:15] akoeplinger commented on #6464
This recent promotion for dotnet/runtime passed so we should be good: https://dnceng.visualstudio.com/internal/_build/results?buildId=869933&view=results

[2020-10-29 12:47] adiaaida commented on #6464
Thanks @akoeplinger! I will look into logging the nupkg when we fail

[2020-10-29 14:19] adiaaida commented on #6464
It looks like the only place to add additional logging is in dotnet-symuploader.

@mikem8361 is the best way to go about testing this to pass in the --dry-run flag and using the symuploader command line tool?

[2020-10-29 14:26] riarenas commented on #5877
Verified that today's dependency update PRs were opened without manual intervention, there's a small followup to fix how we log things in https://github.com/dotnet/arcade-services/pull/1461

[2020-10-29 16:08] MattGal commented on #6459
This has been spread broadly in master branches.  I'm checking on release branch changes.

[2020-10-29 16:23] mikem8361 commented on #6464
Yes, that would be a good way to do it.  The “-vd” option enable verbose logging.

From: Michelle McDaniel <notifications@github.com>
Sent: Thursday, October 29, 2020 7:20 AM
To: dotnet/arcade <arcade@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/arcade] Invalid ELF BuildID '<null>' for runtime in Maestro Build Promotion (#

[2020-10-29 16:29] MattGal commented on #6459
https://github.com/dotnet/arcade/pull/6492 ports the change to release/5.0.

[2020-10-29 18:29] MattGal commented on #6459
changed merged, closing.

[2020-10-29 18:29] #6459 closed

[2020-10-29 18:33] #4836 closed

[2020-10-29 19:12] garath commented on #6228
Sorry for the delay. I believe that flag does control what you want. @MattGal can help you leverage it.

Matt sorted this in the main branch already. It isn't likely to meet the bar for servicing branches, especially with the flag to help.  Closing this issue.

[2020-10-29 19:12] #6228 closed

[2020-10-29 19:13] mmitche opened #6493 "Investigate slow publishing"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

A long while back, publishing was changed to push packages and blobs in parallel. Looking at recent publishing, it seems pretty clear that this is no longer happening. I **think** it may still be happening for blobs, but it is almost certainly not happening for packages. It may have happened as part of the v3 publishing re

[2020-10-29 19:14] garath commented on #6304
Closing this issue. @davidwrighton feel free to reopen if you'd like to continue the conversation.

[2020-10-29 19:14] #6304 closed

[2020-10-29 20:28] garath commented on #6477
@ericstj Can you help with this?

[2020-10-29 20:34] garath commented on #6485
Triage: This work would come out when Arcade properly implements cancellation.

[2020-10-29 20:34] #6485 closed

[2020-10-29 22:29] ericstj commented on #6477
@SirBuckinghamVI it sounds like you're trying to use APICompat.  Can you share more information about how you are using it?  If possible point to a repro project?

[2020-10-30 01:32] #6404 closed

[2020-10-30 12:34] lpatalas commented on #6210
I checked it on production and looks ok now.

[2020-10-30 13:45] lukas-lansky commented on #5786
@ilyas1974 The PR should solve the issue. Let me find someone who will help me review that and maybe provide additional context. (Also, I'm on FR next week luckily.)

[2020-10-30 13:45] mmitche commented on #6404
@epananth Can you open issues to add tests to PushMetadataToBuildAssetRegistry's tests for these cases (github URI and the merged manifest blob id is as shown above)

[2020-10-30 16:39] akoeplinger commented on #4836
@alexperovich was this done? if not I'd be up for contributing the change :)

[2020-10-30 18:07] epananth commented on #6404
I did

    https://github.com/dotnet/arcade/issues/6487
    https://github.com/dotnet/arcade/issues/6488

[2020-10-30 18:07] adiaaida commented on #6464
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-symuploader/pullrequest/11080

[2020-10-30 18:13] ViktorHofer opened #6496 "Make "Publishing Using Darc" job's timeout configurable"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=871170&view=results failed because the publishing step took longer than 60 minutes. Looking at the post-build.yml I don't see an extensibility point yet to configure the publishing timeout: https://github.com/dotnet/arcade/blob/ba32978d76e590e1a5cde6b754eb4e9b8d2

[2020-10-30 18:15] safern commented on #6496
Wow it took 55 mins to publish. Did we get throttled? Are the package being published in parallel?

https://dnceng.visualstudio.com/internal/_build/results?buildId=871272&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

cc: @mmitche

[2020-10-30 18:20] mmitche commented on #6496
I think somewhere recently the parallel package publishing got turned off...I filed an issue for this yesterday https://github.com/dotnet/arcade/issues/6493

[2020-10-30 18:20] mmitche commented on #6496
Note that stable publsihing will always be slower becuase the symbol packages have to be pushed to a nuget feed (because they have stable versions)

[2020-10-30 18:27] ChadNedzlek commented on #4836
Yup. It was, and checked into arcade. The next arcade promotion + update should get you this behavior for free.

We mostly did it because the history reporting on Azure DevOps isn't great if you don't report the passes. :-)

[2020-10-30 18:55] adiaaida commented on #6464
This change has been checked in. As the rest of the work mentioned in this issue already has its own issue, closing.

[2020-10-30 19:32] mikem8361 commented on #6464
Arcade will need it's version of type symbol uploader build task updated to 1.1.153002.

[2020-10-30 19:42] riarenas commented on #6464
We would be getting this update automatically on Monday, but I triggered the subscription manually to expedite this a little: https://github.com/dotnet/arcade/pull/6498

[2020-10-30 19:50] ViktorHofer opened #6499 ""Prepare artifacts and upload to build" step runs nearly two hours and times out"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=871307&view=logs&j=4d50a8bf-a143-51c7-5cc8-defff437e23b&t=d6d13245-d57d-5d5b-1534-614c370d18c6 shows that signing took about two hours and then timed out. I'm unsure how signing of 2690 files can take two hours.

cc @mmitche

[2020-10-30 20:04] mmitche commented on #6499
It can if ESRP has a slowdown or if it holds a file for scanning, The signing logs may have more info.

[2020-10-30 20:53] adiaaida commented on #6464
Looks like there were unintended consequences to the error I introduced. I'll look into it.

[2020-10-30 20:59] mikem8361 commented on #6464
I should have catch this. Tracer.Error will fail the build and CreateFileInfo does return null for valid cases that are not errors.

[2020-10-30 21:05] adiaaida commented on #6464
Yeah. I also don't want to inundate the user with warnings, but when there ARE errors, we want to let the user know which package the error came from.

Let's back out this change for now, as there's no reason to have broken code checked in.

[2020-10-30 21:05] adiaaida commented on #6464
Revert PR: https://dev.azure.com/dnceng/internal/_git/dotnet-symuploader/pullrequest/11082

[2020-10-30 22:52] mmitche commented on #6496
No need for a timeout. Publishing should be that long. Fixed by https://github.com/dotnet/arcade/pull/6500

[2020-10-30 22:52] #6496 closed

[2020-10-30 22:52] mmitche commented on #6496
Dupe of #6493

[2020-10-31 01:25] akoeplinger commented on #4836
Awesome, thank you! Linking the PR here for completeness: https://github.com/dotnet/arcade/pull/6440

[2020-11-02 14:02] vitek-karas commented on #6371
@JimBobSquarePants  We need to agree on the approach. If you want to spend some time on this, I think prototyping one of the proposed solutions above would be a good start - to see if it really works and how hard/complex of a solution it is.

Ideally we would pick a solution which we can extend going forward to as many scenarios as possible, but that can be long term. Short term we could go with a

[2020-11-02 15:18] premun commented on #6455
@MattGal feel free to close this ^^

I wasn't sure if you left the other opened to keep an eye out for few more builds or it was closed already too

[2020-11-02 16:17] MattGal commented on #6455
Sure, I was tracking via https://github.com/dotnet/core-eng/issues/11268 but it's been long enough to close that one too.

[2020-11-02 16:17] #6455 closed

[2020-11-02 16:22] JimBobSquarePants commented on #6371
I very much doubt I have the domain knowledge required to implement a fix tbh. Was thinking more test scenarios.

[2020-11-02 23:08] adiaaida commented on #6490
Strangely, we actually save the consoleUri encoded. It's very strange to me that it's coming back unencoded:

https://github.com/dotnet/arcade/blob/72b28b7e023d4c3fffa0a0b9748a7d4e8cc799be/src/Microsoft.DotNet.Helix/Sdk/GetHelixWorkItems.cs#L57

but when we get it from the metadata here, it isn't encoded anymore:

https://github.com/dotnet/arcade/blob/72b28b7e023d4c3fffa0a0b9748a7d4e8cc799be/src/M

[2020-11-03 06:17] ChadNedzlek commented on #6490
An extension method on IHelixApi isn't bad, since that gets you the Options that you need. :-)  api.GetConsoleUri(string workitemName)

[2020-11-03 13:41] ViktorHofer commented on #6499
Your call whether we should follow-up on this.

[2020-11-03 13:44] adiaaida commented on #6490
Even smarter!

[2020-11-03 15:04] mmitche commented on #6499
Not too much to follow up on here, and seems to have resolved itself.

[2020-11-03 15:44] missymessa commented on #6337
Moving this to the Release epic per discussion with @adiaaida

[2020-11-03 16:31] adiaaida commented on #6163
Just a note: GetFaildWorkItems.cs is now https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/GetHelixWorkItems.cs

@MattGal that build is gone now. Do you know if this is still an issue and can you remember how it manifested?

[2020-11-03 16:48] MattGal commented on #6163
Yes, I think that's the error.  I'm confused, did I not post the exact same path you did?

[2020-11-03 16:52] adiaaida commented on #6163
In the last 2 months,  https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/GetFailedWorkItems.cs was renamed to https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/GetHelixWorkItems.cs.

I got the error message from Kusto

[2020-11-03 16:59] MattGal commented on #6163
Totally missed that :) yes.  The idea here is simple to make sure that all the item metadata that the secondary task reads is created in some viable form (i.e. empty, if actually empty, but valid) by the first task.

[2020-11-03 17:05] adiaaida commented on #6163
Yeah, from my understanding and reading of various help threads, this might be a case of not doing enough escaping of escape characters. I think the reason is similar to what's happening with the consoleOutputUri in https://github.com/dotnet/arcade/issues/6490: We encode them, but when we read the metadata back in, it are read back in as the unencoded strings.

Similarly, when we read back in the

[2020-11-03 17:16] MattGal commented on #6163
Easiest way to test it out is to rig up something that calls the two build tasks locally and have a test .proj that invokes one and feeds it the other's output.  Then, you can try out all sorts of special characters and make sure they emerge as something we can use.  Ping me for more details.

[2020-11-03 17:34] missymessa commented on #5968
@adiaaida says we need to handle the BuildLogs folder for signing as a part of this issue.

[2020-11-03 19:00] adiaaida commented on #6464
Triage: The main things in this issue are either already fixed (the error in runtime) or already are being tracked by the publishing epic (making sure we warn/error the starting build when the symbols upload fails). I think the logging change is going to require a much more complicated change to how we handle CreateFileInfo that I think is out of scope of FR.

[2020-11-03 19:01] #6433 closed

[2020-11-03 21:15] mmitche commented on #6330
@jonfortescue https://github.com/dotnet/core-eng/issues/9658 should be covered too. Folding that into this.

[2020-11-03 21:25] adiaaida commented on #6490
So I thought of another option while looking into #6163 and what we do there (call `Replace("%", "%25")` on the serialized json object), and I wonder if we could just a) EscapeDataString twice when building the console uri, or do the same `Replace("%", "%25")` on consoleUri before handing it off to the metadata. It's pretty clear that this is MsBuild doing weird escape logic (ie, unescaping things

[2020-11-03 21:26] mmitche commented on #6330
@jonfortescue What is the status of this? Trying to figure out where I can help out on testing.

[2020-11-03 21:35] ViktorHofer opened #6509 "GenFacades fails to generate not supported assembly for reference source that contains throw null lambda."
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

GenFacades not supported assembly fails for reference source files that use the `=> throw null;` syntax instead of a full method body.

[code]

cc @Anipik @ericstj

[2020-11-03 21:37] alexperovich commented on #6490
At this point I would rather we just base64 encode the thing, then decode it when we go to use it. Any amount of crazy escaping we do will never be good enough.

[2020-11-03 21:39] ericstj commented on #6509
We should fix this, but it doesn't seem blocking.

Why do we have `=> throw null;` syntax in the ref source?  I don't think GenAPI produces that.

[2020-11-03 21:40] Anipik commented on #6509
We can use https://apisof.net/catalog/Microsoft.CodeAnalysis.CSharp.Syntax.MethodDeclarationSyntax.ExpressionBody
to differentiate between the 2 cases and fix the error.

[2020-11-03 21:50] ViktorHofer commented on #6509
It block developers who want to generate a PNSE assembly from reference sources which contain these lambdas. We have at least one hit in System.Net.Quic.cs. I ticked the "blocking" checkbox as my stance on this is that it blocks a developer who doesn't know anything about PNSE generation in GenFacades.

[2020-11-03 21:52] ChadNedzlek commented on #6490
Is MsBuild really messing with the string? That's... super weird.  Since most of MSBuild isn't handling URL's, it's so odd for them to URL escape things.

[2020-11-03 22:03] adiaaida commented on #6490
msbuild is interpreting %20 as a space. So it goes from this escaped string to an unescaped string. Just like it interprets %25 as %.

[2020-11-03 22:13] alexperovich commented on #6307
Chatted with viktor. He doesn't need this property set anymore. There isn't any good way for us to set this property in all cases, so we should just document that it may be unset.

[2020-11-03 22:15] ericstj commented on #6509
I understand, I was just pointing out that we have an overriding desire to make our checked in ref-source be a clean diff when running GenAPI so it's probably "the right fix" to make that match what GenAPI emits.  Now I wouldn't be opposed to also having GenAPI emit the terser syntax but that's another feature altogether /cc @safern.

[2020-11-03 22:22] ViktorHofer commented on #6509
Which style does RefOut emit?

[2020-11-03 22:39] ChadNedzlek commented on #6490
I found it!

You need to cast the thing to a "ITaskItem2", and then call "SetMetadataLiteralValue". Otherwise MSBuild escaping will bite us.

[2020-11-03 22:45] ViktorHofer commented on #6509
The right fix if developers use GenAPI to generate/update the reference source. As we can see by the System.Net.Quic example, developers tend to not follow that workflow.

[2020-11-03 22:49] ChadNedzlek commented on #6490
Apparently "SetMetadata" is just evil and we shouldn't ever use it. Yay msbuild.

[2020-11-03 22:54] ChadNedzlek commented on #6490
Apparently also the constructor that task IDictionary does the same thing, in that it doesn't deal with escaping well.

[2020-11-03 22:54] adiaaida commented on #6490
Thanks Chad! I will work on making this change.

[2020-11-03 23:32] Tohron commented on #6176
Merged

[2020-11-03 23:32] #6176 closed

[2020-11-03 23:48] ericstj commented on #6509
Sure but I would accept a PR to the repo that made all ref source a clean diff with output of GenAPI.  That tells me we have a preference.

[2020-11-03 23:52] safern commented on #6509
I believe `RefOut` doesn't emit any C# code, it just emits an assembly right?

[2020-11-03 23:55] ViktorHofer commented on #6509
Yeah I missed that the IL produced from an expression or method body is identical.

[2020-11-03 23:57] ericstj commented on #6509
Correct, once switching to refout we will still use GenAPI to emit the cs file. That can be an input to the PublicApiAnalyzer (and the PNSE source task).

[2020-11-03 23:59] ViktorHofer commented on #6509
I know this is completely off-topic now but did we ask the roslyn team for a GenAPI equivalent?

[2020-11-04 16:21] ericstj commented on #6509
@safern is currently investigating. We have discussed with folks from Roslyn in the past and no tool existed but the closest one was the functionality that backed go-to definition.  We indeed want Roslyn APIs to back as much of the GenAPI stack as possible so we get new language features automatically.  We also desire to publicly ship the tool and there is likely a better place for it to live than

[2020-11-04 17:16] ViktorHofer commented on #6509
What would it take to make that a NET6 deliverable for roslyn? IMO this is similar to our ongoing talk with the NuGet team to support restoring duplicate tfm/tpm tuples for net6.

[2020-11-04 21:07] riarenas commented on #6493
@mmitche do you think there's more to do here?

[2020-11-04 21:32] mmitche commented on #6493
Nope, this appears to be resolved.

[2020-11-04 21:32] #6493 closed

[2020-11-04 23:10] hoyosjs commented on #6403
@epananth @mmitche do you know if there's any timeline for this?

It bit us pretty silently as we weren't publishing symbols:
- [Build](https://dev.azure.com/dnceng/internal/_build/results?buildId=871813&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073)
- [Failed Promotion](https://dnceng.visualstudio.com/internal/_build/results?buildId=872929&view=results)

[2020-11-04 23:30] mmitche commented on #6403
@epananth Is working on this right now and she'll have an ETA.

[2020-11-04 23:56] epananth commented on #6403
@hoyosis working on integrating symbol publishing with asset publishing, I am going to be testing my changes this week. So next week I should have this ready for you. I will keep you posted on my PR.

[2020-11-04 23:58] hoyosjs commented on #6403
Thanks @epananth

[2020-11-04 23:58] hoyosjs opened #6514 "Publishing v3 doesn't pass addintional parameters"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

`symbolPublishingAdditionalParameters` are not getting passed to the the PS1 scripts so darc won't add the build appropriately. This caused a failure that got swallowed silently because of #6403

[2020-11-05 00:05] riarenas commented on #6514
Which parameters do you need to pass through that? Mostly wondering if we can generalize the case so you don't need to pass anything extra, or if this is definitely something where we need an exception. Special cases make it harder to write shared tooling,

[2020-11-05 01:32] ChadNedzlek commented on #6445
We completed this.  The data wasn't particularly illuminating for the general PR flow, as it generally indicated failures that also occured in main, but the data is messy because of legitimate PR breaks.