[2021-05-20 23:52] ChadNedzlek commented on #7424
@alexperovich, does this seem like a reasonable thought? I know you have a lot of context on this area of code.

[2021-05-20 23:55] alexperovich commented on #7424
The Alpine.312.Amd64.Open part is the "friendly name" for that docker format, so it makes sense to use it instead of the whole string. The "net6.0-Linux-Debug...." thing is just the Job Name IIRC, I don't know how much of that is valuable to the runtime team.

[2021-05-21 00:22] ChadNedzlek commented on #7424
It's a little helpful, so you can know if it's debug/release.  Though I think PR's only ever do one of the two of them, so maybe less so?

[2021-05-21 00:23] ChadNedzlek commented on #7424
I might try whipping up a fix to clean it up a bit (It's making the dev WF PR's look really ugly, because this enormous sting wastes so much screen space)

[2021-05-21 02:48] RussKie commented on #6371
We're hitting the same issue in dotnet/winforms... And this is kind of blocking us too.

There is nothing in our configs (test or otherwise) that sets "self contained" flag, so "Failed to run as a self-contained app" is kind of puzzling.
[code]

`invokerHandle.Options.StartInfo.FileName`
[code]

`invokerHandle.Options.StartInfo.Arguments`
[code]

[2021-05-21 07:51] vitek-karas commented on #6371
I think this nicely describes what happened and why it was trying to run the app as self-contained.

As for the solutions mentioned above - I actually like the startup hook idea even more now. It would get us the exact same environment as the original test, and I don't feel like this is too hacky anymore.

[2021-05-21 09:44] premun commented on #7377
It would be super cool to have .NET Helix client but how are we addressing the fact we need to bootstrap new platforms where there is no .NET available?

[2021-05-21 09:46] antonfirsov commented on #6371
I just started to work on a minimalistic fix before @RussKie commented. There are more and more PR-s in ImageSharp with out-of-process tests, and our coverage became very unreliable. We need a fix ASAP. I don't have the time and the knowledge to invest time into a full-scale solution dealing with startup hooks.

I believe the most urgent thing is to get this fixed for the common Windows cases as s

[2021-05-21 12:06] premun commented on #7339
I haven't had time to work on this so putting back to backlog.

[2021-05-21 12:14] tkapin commented on #7377
I support rewriting the Helix client in C#, primarily because of difficulties with deployment of Python solutions  (venvs, pip dependency in runtime, etc.). As for supporting platforms where .NET Core is not running yet, I'm not that much worried about *Nix systems as mono covers really broad range of platforms and architectures already (see https://www.mono-project.com/docs/about-mono/supported-p

[2021-05-21 12:29] vitek-karas commented on #6371
I don't have any problem with a partial fix.

I'm curious: In your comment you mention that it makes your coverage unreliable. Does it mean that it fails only sometimes, or that you have to avoid running certain configurations entirely because of this?

[2021-05-21 12:52] antonfirsov commented on #6371
We keep running all configurations (hoping in an eventual fix), it's just that the Windows ones are always passing, regardless of the actual outcome of the body function. IMO it's matter of time until it leads to false positives because of a platform-specific issue, and I'm afraid we will be rolling out buggy packages to NuGet because of this, thus the use of the term "unreliable coverage". (@JimB

[2021-05-21 13:47] JimBobSquarePants commented on #6371
Yep. That's what is happening. We were passing buggy code before we noticed. It's a growing elephant as we introduce more and more performance features.

[2021-05-21 15:48] chcosta commented on #7343
I'm going to move this to the backlog so that it can be addressed by someone in next week's FR shift.  @ChadNedzlek , please remove this from FR if you think it's not appropriate there (but I think it makes sense there unless you are touching this stuff in your epic, or another epic).

[2021-05-21 21:42] hoyosjs opened #7430 "Channel '.NET Internal Tooling' publishes to internal feed but publishes public symbols"
https://github.com/dotnet/arcade/blob/da05407f9a21c9a3092b19dc4068432dd1b2445d/src/Microsoft.DotNet.Build.Tasks.Feed/src/model/PublishingConstants.cs#L577

Is this expected of this channel? Otherwise, is there a private channel to use for internal symbols and publishing for out of band tooling?

[2021-05-21 23:11] epananth opened #7431 "Backporting publishing v3 to Arcade 3.x"
The 3.x version version of arcade should move to using the v3 publishing. This will allow the addition of new channels without rolling out new arcade versions, as well as unifying publishing. When complete:

Backporting work:
- [ ] Remove legacy publishing code from arcade main
- [ ] Arcade 3.x will produce and use v3 publishing by default.
- [ ]  Remove legacy publishing code from arcade release/

[2021-05-21 23:32] #6487 closed

[2021-05-21 23:34] epananth commented on #6846
MSbuild started building with azdo build and this is no longer a problem and Msbuild is onboarded to V3. So closing this one

[2021-05-21 23:34] #6846 closed

[2021-05-21 23:58] epananth commented on #7420
I made some initial changes in this branch https://dnceng.visualstudio.com/internal/_git/dotnet-arcade?version=GBexcludeSymbols

We have to make sure that the files in that SymbolPublishingExclusionsFile.txt does not get uploaded to Symbol server

Eg: where runtime keeps the file
    runtime/SymbolPublishingExclusionsFile.txt at main · dotnet/runtime (github.com)
dotnet/runtime.NET is a cross-plat

[2021-05-22 00:11] epananth commented on #7420
cc: @garath

[2021-05-22 01:00] epananth commented on #7420
This test uses runtimes excludeSymbols file https://dnceng.visualstudio.com/internal/_build/results?buildId=1151136&view=results

[2021-05-22 01:08] epananth commented on #7430
this should not publish to public and internal

PR -> https://github.com/dotnet/arcade/pull/7432/files

[2021-05-22 01:45] epananth commented on #7420
PR : https://github.com/dotnet/arcade/pull/7433

[2021-05-22 01:54] epananth commented on #7420
@joeloff  we need a test build where we can test this changes against. This will help us verify the change. Can you please help with the test build? ( need the barid from the test build)

[2021-05-22 15:27] joeloff commented on #7420
We don't have a BARID. The issue is failing my PR build.

[2021-05-22 19:26] antonfirsov opened #7435 "Consider reverting to/multitargeting netcoreapp2.1 in RemoteExecutor"
- [x] This issue is blocking -- adaption of #7426 in ImageSharp
- [ ] This issue is causing unreasonable pain

Although 2.1 will reach EOL soon, the (1) time has not come yet (2) OSS libraries may decide to keep deploying/testing 2.1 packages. RemoteExecutor is a standalone project, including it in #6891 was probably unnecessary.

Changing the `.csproj`, I can build against 2.1 locally, if it does

[2021-05-23 09:34] RussKie commented on #6371
Haha, if only I read the test log :)
But to be fair, this is a developer-centric error message, which is to a user (in this instance me or @JimBobSquarePants) carries little value, because there's nothing the user can do to address the issue besides coming here and raise an issue.

This approach shifts the onus of bootstrapping to the consumer of the RE. Whilst this may fair to suggest this direct

[2021-05-23 11:21] YairHalberstadt commented on #7379
I'm getting a similar issue trying to build Roslyn: https://github.com/dotnet/roslyn/issues/53629

[2021-05-23 16:27] ViktorHofer commented on #7435
I'm fine with targeting the lower version if sourcebuild does work with that, but as soon as 2.1 is out of support we are going to revert this change.

[2021-05-23 17:18] ViktorHofer commented on #7435
Feel free to submit a PR to downgrade the version and I'll approve it :)

[2021-05-24 06:00] agocke commented on #6371
My understanding is that this is Arcade-only functionality, so the experience is not polished like a shipping product.

At the same time, I don't really understand what this runner is supposed to do. Try to replicate the currently loaded assembly as best as possible in a new process, then call it? @vitek-karas's right that this won't work for Native AOT-like scenarios, but I think that's because t

[2021-05-24 06:13] RussKie commented on #6371
I'm afraid it is hard to agree with this statement - https://github.com/dotnet/runtime/search?q=RemoteExecutor yields 187 results. The RE is also explained in the [.NET runtime docs](https://github.com/dotnet/runtime/blob/main/docs/project/writing-tests.md#remoteexecutor). In winforms we have started using it in late 2019, and at no point it was called out as "arcade specific, don't use".

IMO the

[2021-05-24 06:16] danmoseley commented on #6371
This tool originated in dotnet/runtime before it was generalized here. It's used throughout the unit tests to isolate tests that affect process wide state, or need to have special process state, and also in some special cases eg a test for fail fast.

[2021-05-24 06:37] jkotas commented on #6371
Right, the remote executor is not polished like a shipping product. It is built on shaky principles, but that is ok since it is only meant to be good enough for limited .NET team own needs, like everything else in the Arcade repo.

As of right now, the remove executor does not work and it is automatically disable for single file deployment (NativeAOT is just one particular type of single file depl

[2021-05-24 07:41] agocke commented on #6371
Given the current project status, the patch that Vitek suggested to work-around issues in .NET core projects seems reasonable. In short, I wouldn't put in much more work than necessary to achieve the immediate needs.

[2021-05-24 07:43] RussKie commented on #6371
Which one?

[2021-05-24 07:47] agocke commented on #6371
Looking around for a `dotnet` host as implemented in https://github.com/dotnet/runtime/pull/53125

[2021-05-24 07:49] RussKie commented on #6371
Ah, you mean https://github.com/dotnet/arcade/pull/7426 :)
👍

[2021-05-24 09:21] vitek-karas commented on #6371
I don't understand this to be honest. The proposal using startup hooks would be that RE implements its "client" as a startup hook assembly (as oppose to entry point assembly the way it's now). When it runs the client process it would setup the environment to load the client component as a startup hook (it already sets up other environment so this is not a big change). The startup hook would then p

[2021-05-24 09:47] RussKie commented on #6371
I guess I misinterpreted your comment, as it wasn't particular obvious if the hook should be a part of the Arcade/RemoteExecutor, or something a consumer should do.

[2021-05-24 10:30] Haplois opened #7436 "`darc-init.ps1` fails when no $GlobalJson.tools.dotnet specified"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

`darc-init.ps1` script fails if dotnet runtime is not specified in the `global.json` file. I want to fix this, we don't seem to have dotnet version anywhere else than `global.json`, can we just fallback to the latest version to install `darc`?

Error:
[code]

Example `global.json`:
[code]

[2021-05-24 12:20] ViktorHofer commented on #6371
100% agreed. Even though it's an open source project, there is no support policy attached to it. When I ported this library over from CoreFx couple years ago, I only did so to share the implementation with ML.NET, aspnetcore and later winforms. We try our best to resolve reported issues but RemoteExecutor was never intended to support every possible variant like single file applications, mobile, e

[2021-05-24 14:19] tkapin commented on #5018
This is still a problem for Roslyn (and perhaps other teams) not sufficiently solved by introduction of scouting queues as pointed out by recent comment by @sharwell on CI Council:

[2021-05-24 15:14] markwilkie commented on #7379
@YairHalberstadt  - this is actually a closed issue.  But, if you're still having issues, be sure and reach out to dnceng and we'll do our best to help.

[2021-05-24 19:19] garath commented on #7389
Data is once again flowing into the Timeline tables.

[2021-05-24 19:19] #7389 closed

[2021-05-24 20:32] MattGal commented on #7333
This is merged and as it is only for dependency-flowed yaml publishing, I tested the approach in a manual 3.1 build.  Closing.

[2021-05-24 20:32] #7333 closed

[2021-05-24 21:43] 333fred commented on #7379
@markwilkie Yair is external, internal aliases don't work :0

[2021-05-24 21:46] carlossanlop opened #7439 "ConditionalClassAttribute throws in cases where ConditionalFact/ConditionalTheory do not throw"
Last week, @Jozkee and I I worked on [this PR](https://github.com/dotnet/runtime/pull/52749) and [this PR](https://github.com/dotnet/runtime/pull/52679) in which we added unit tests that had to create symbolic links.

Some operating systems are unable to create symlinks: iOS, Android, tvOS and Browser. This is why I had to add a `Conditional*` attribute that would call the method `CanCreateSymboli

[2021-05-25 16:32] Haplois commented on #7436
darc required a dotnet runtime. Closing.

[2021-05-25 16:32] #7436 closed

[2021-05-25 17:10] chcosta opened #7444 "Arcade support for XCopy-able MSBuild"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Arcade uses an [xcopy version](https://github.com/dotnet/arcade/blob/main/eng/common/tools.ps1#L286-L378) of MSBuild (package name is RoslynTools.MSBuild).  The current version available on dotnet-eng feed is 16.8.0-preview3.  We should consider what our support agreement for this package is and if / when we should add new

[2021-05-25 17:27] markwilkie commented on #7444
This seems relevant to the harmonization effort

@tkapin @riarenas @lukas-lansky

[2021-05-25 18:05] riarenas opened #7445 "[darc/maestro++] Exceptions in maestro cluster due to Dependency update notification feature"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We are throwing a lot of exceptions of the form:

[code]

If this is benign, we should catch it and just log a trace, and if it's actually unexpected, we should probably handle it? The exception seems to be happening every couple of minutes when synchronizing existing Pull Requests:
[app insights query](https://ms.portal.a

[2021-05-25 18:28] MattGal commented on #7445
oh noes, taking into FR and taking a look.

[2021-05-25 22:16] mmitche commented on #7423
I'm thinking the latter, unless we have precedent for pulling repo contents during publishing today.

[2021-05-25 22:17] mmitche commented on #7423
You could also integrate it into the manifest.

[2021-05-25 22:20] hoyosjs commented on #7423
How does the new workflow honor the check for [signing exclusions](https://github.com/dotnet/runtime/blob/main/eng/SignCheckExclusionsFile.txt)? The container or the manifest both sound good and were the original suggestions. I just didn't know how arcade v3 honors those type of files we used to have (or if they are even honored anymore.

[2021-05-26 12:53] #7435 closed

[2021-05-26 15:12] riarenas opened #7449 "Add publishing configuration for 5.0.4xx channels"
- [ ] This issue is blocking

- [ ] This issue is causing unreasonable pain

We're missing publishing for the 5.0.4xx channels, dotnet/SDK already has a branch with a default channel.

[2021-05-26 15:13] adiaaida commented on #5482
This has been checked in, and is waiting for rollout

[2021-05-26 16:08] riarenas commented on #7449
Change was merged. I'll trigger the arcade subscription as soon as the build is available so that publishing is now enabled for the branch.

[2021-05-26 17:30] adiaaida commented on #5483
PR for this: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/15263

[2021-05-26 19:41] riarenas commented on #7430
This has been fixed as far as I can tell.

[2021-05-26 19:41] #7430 closed

[2021-05-26 19:52] riarenas commented on #7449
All done.

[2021-05-26 19:52] #7449 closed

[2021-05-26 20:44] MattGal commented on #7445
Verified that the fix worked, though I will tweak the logging change I made with another change when I can (pr.ContainedSubscriptions is really "contained **builds**"; could log it thusly and we don't need to log the list).

[2021-05-26 20:44] #7445 closed

[2021-05-27 08:51] jakubstilec commented on #6731
[Async Triage]: How much work is it? Does it require creation of a new tool or do we need to configure some existing tool?

[2021-05-27 09:04] jakubstilec commented on #7363
[Async Triage]: Created a teams chat: https://teams.microsoft.com/l/message/19:f9bc826d88fe4e52a0c84c0a4bc8577f@thread.skype/1622106153059?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=147df318-61de-4f04-8f7b-ecd328c256bb&parentMessageId=1622106153059&teamName=.NET%20Eng%20Services&channelName=Triage&createdTime=1622106153059

[2021-05-27 09:10] jakubstilec commented on #7373
[Async Triage]: Created [teams chat](https://teams.microsoft.com/l/message/19:f9bc826d88fe4e52a0c84c0a4bc8577f@thread.skype/1622106518790?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=147df318-61de-4f04-8f7b-ecd328c256bb&parentMessageId=1622106518790&teamName=.NET%20Eng%20Services&channelName=Triage&createdTime=1622106518790)

[2021-05-27 14:18] mmitche commented on #7363
It might be FR. It should be pretty simple to fix (just update the initial clone step to use credentials, like the mirror pipelines do)

[2021-05-27 18:07] adiaaida commented on #5482
Moving this back to PR column because I missed the sdk requirement, which is now in PR: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/15282

[2021-05-27 19:35] MattGal commented on #7371
Added 65 unique test run instances to the IcM, since they seem to be unable to find them.

[2021-05-27 19:42] MattGal commented on #7371
THere's not much to do here and the mitigations seem to be helping so putting in Tracking/blocked.

[2021-05-27 21:03] MattGal commented on #6731
[Async Triage]: Seems like more trouble than its worth, and once actually localized a "dead" string has minimal ongoing cost and (speaking historically) occasionally becomes useful when a component needs to log something related to the "dead" string near the end of a release.

[2021-05-27 21:06] MattGal commented on #7363
[Async Triage]: Doesn't meet the charter for FR but I agree it's pretty straightforward, so I'd be OK handling it there.  @ilyas1974 ?

[2021-05-27 21:07] MattGal commented on #7373
[Async Triage]: commented in chat.

[2021-05-27 21:07] MattGal commented on #7386
[Async Triage]: nothing new to add, needs executive decision.

[2021-05-27 21:08] MattGal commented on #7413
[Async Triage]: No update since my last comment.

[2021-05-27 21:10] MattGal commented on #7423
[Async Triage]: Looks like #6108

[2021-05-27 21:11] MattGal commented on #7424
[Async Triage]: Yes, if we can make this just display the Display name that'd be great.  Docker tags from that repo aren't getting shorter ever.

[2021-05-27 21:12] MattGal commented on #7439
[Async Triage]: Not FR as it has a workaround, perhaps some arcade technical debt epic.

[2021-05-27 21:12] MattGal commented on #7444
[Async Triage]: Would be great to automate this, lots of repos depend on it.

[2021-05-27 21:31] danmoseley commented on #6731
It's correct it has minimal cost - mostly it's on-disk bloat.- and possibly the linker removes unused resources (@eerhardt )?

I disagree with the second part -- "it might be useful later" is never a reason we use to retain dead code. We just delete it.

I am neutral about whether it is worth investing in this analyzer though. I do know that dead strings are surprisingly common, even though we hav

[2021-05-27 22:01] #7219 closed, assigned to michellemcdaniel

[2021-05-27 22:32] ilyas1974 commented on #7363
We should have bandwidth in FR to handle this request.

[2021-05-28 12:42] tkapin commented on #7444
Agreed, adding it to the epic.

[2021-05-28 15:02] eerhardt commented on #6731
It doesn't today. It is pretty hard to safely do this. Take this code for example:

https://github.com/dotnet/runtime/blob/5f15498d937653986821d636c04cd03c58d4bb4c/src/libraries/System.ComponentModel.Primitives/src/System/ComponentModel/CategoryAttribute.cs#L168-L192

https://github.com/dotnet/runtime/blob/5f15498d937653986821d636c04cd03c58d4bb4c/src/libraries/System.ComponentModel.Primitives/src/

[2021-05-28 17:30] mmitche opened #7456 "SignTool should support cancellation"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We saw an issue where a specific file type was rejected by the ESRP signing service. The tool decided that was a transient error and retried the signing. This caused problems for ESRP. However, when I tried to cancel the build (https://dev.azure.com/dnceng/internal/_build/results?buildId=1160272&view=logs&j=9ff0e0af-24e7-5

[2021-05-28 18:51] MattGal commented on #7371
new PR up, we can easily avoid the race condition by eliminating the race entirely.

[2021-05-28 23:25] MattGal commented on #7371
I accidentally made what I intended to be a 2s sleep 33 minutes, and oddly pushing an  updated version didn't seem to fix this; will pick this back up on Tuesday.

[2021-05-29 07:25] JunTaoLuo commented on #7413
FYI @ViktorHofer how should this issue be triaged?

[2021-05-29 07:36] ViktorHofer commented on #7413
Without fixing this, source building dotnet/runtime and other repos that depend on affected tools will be broken so we should prioritize it correctly.

[2021-05-29 08:44] kant2002 opened #7458 "Configure dotnet-install timeout for downloading .NET"
By some reasons my internet connection is relatively slow. So default timeout of 20 minutes in dotnet-install.ps1 for downloading .NET does not work for me.
It would be nice if that timeout can be configured.

Right now timeout in that script is hardcoded like that:
[code]

And since that script is downloaded, each time I do `git clean -xdf` my timeout modifications reset to 20 minutes.

[2021-06-01 13:07] Sanan07 opened #7461 "Arcade 6.0.0 error"
- [x] This issue is blocking

After updating arcade by this [PR](https://github.com/microsoft/vstest/pull/2913/files), our signed pipeline started to fail with this error ` Required folder 'C:\A\1\86\s\artifacts\release\packages\manifest' does not exist`. Pipeline : [link](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4796169&view=results)

How can we fix it? Previously we did not

[2021-06-01 14:45] riarenas commented on #7461
It's not going to be a straightforward upgrade so I'm not surprised that you're seeing breaking changes. Arcade has changed a lot of things between what is produced by the 3.x (1.0.x) branch and what is produced by main (6.0.x).

I suggest reverting that change and staying in the 3.x channel until you have some time to go through all the errors that will surface in your official build. This error

[2021-06-01 14:51] Sanan07 commented on #7461
@riarenas thank you
@Haplois please look, as you are currently working on arcade

[2021-06-01 18:07] #7246 closed

[2021-06-01 22:29] missymessa commented on #7196
PR: https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service/pullrequest/15361

[2021-06-01 22:33] Haplois commented on #7461
@riarenas,

We depend on `GenerateBuildManifest` task to generate our build manifest. It's removed [recently][2], so we need to follow the new documentation [here][1]. @Sanan07, it's known and I'll be fixing this on Friday.

[1]: https://github.com/dotnet/arcade/blob/main/Documentation/DependencyFlowOnboardingWithoutArcade.md
[2]: https://github.com/dotnet/arcade/pull/6729

[2021-06-02 14:07] adiaaida commented on #5631
@garath What conclusions did you come to on the second half of this issue?

[2021-06-02 14:11] adiaaida commented on #5910
We are publishing to isolated feeds already for each run of stage-dotnet, so closing this issue.

[2021-06-02 14:11] #5910 closed

[2021-06-02 16:52] mmitche opened #7463 "SourceLink URI translation broken for msbuild"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=1166651&view=logs&j=28bdc2c7-156f-51fb-6444-d4b8da3693ac&t=db80a514-da0d-59b3-7d70-a8c1f2a0491a&l=1121

The URI should point to the public repo. I can't remember whether there is a way to explicitly specify the public URI to the SourceLink targets, but it could e

[2021-06-02 16:52] mmitche commented on #7463
@rainersigwald @alexperovich @tmat

[2021-06-02 17:26] MattGal commented on #7371
Merged the PR with attempted workaround, will leave this in Validate til it makes it to Runtime.

[2021-06-02 17:35] hoyosjs commented on #7371
Couple more instances just to track them for CI council:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-f5fbb294940e4bc1be/System.Net.Http.Functional.Tests/console.b785c3d1.log?sv=2019-07-07&se=2021-06-22T05%3A46%3A10Z&sr=c&sp=rl&sig=D6AaihkkUI602TYpBT79V6J3IeBLGUmT39zzC0I7yMU%3D

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-head

[2021-06-02 23:14] adiaaida commented on #4841
I've got the basic version of this working, and am now puzzling over the instances where we expect the drop to be a little incoherent. Namely, when we are doing a release that consists of multiple sdks, there are certain assets that we would expect for there to be assets with multiple versions.

[2021-06-03 09:36] #7265 closed

[2021-06-03 15:03] dagood commented on #4841
I would expect that even if you treat all SDK feature bands as one product graph, there should still never be *conflicting* incoherence: an attempt to publish e.g. `Foo/5.0.0` from build 10000.01 and `Foo/5.0.0` from build 12345.01. It's impossible to publish both to the gallery so it should be detected ASAP. If all versions are unique (5.0.0 vs. 5.1.0), that would be ok from a publishing perspect

[2021-06-03 15:09] mmitche commented on #4841
@dagood That's just a small subset of incoherence though. And for instance it wouldn't detect multiple wpf/winforms bits in the same drop (they only produce non-shipping packages). That would of course be incorrect.

The problem is that .NET Core has product specific rules about what is right and wrong. We expect the runtime to not be incoherent, but if you have more than one SDK those overlaps ar

[2021-06-03 15:12] dagood commented on #4841
What about when dotnet/runtime produced a targeting pack at 5.0.0, but now we're building 5.0.8, so dotnet/installer needs to depend on both versions? I've been out of the loop a bit, is this scenario more constrained now?

[2021-06-03 15:15] adiaaida commented on #4841
So what I'm seeing is incoherencies in test-templates, templating, dotnet-sdk, fsharp, vstest, roslyn, msbuild, nuget.client in my test manifest, all due to the fact that the manifest has a 5.0.2xx sdk and an 5.0.3xx sdk.

The targeting pack will be a different asset than the rest of the assets, so what I have done wouldn't consider that an incoherency. I'm mostly looking to make sure that there a

[2021-06-03 15:23] adiaaida commented on #4841
This makes sense to me. Well, `major.minor.patch`, I think, makes the most sense, in particular when we're talking about sdk/installer assets.

[2021-06-03 15:35] dagood commented on #4841
I suppose because of my history with source-build, I'm still having trouble thinking of incoherency as being related to package IDs rather than repos. 😄 I can see how essentially keying incoherency as `{reponame}{packageid}` makes it reasonable to do something more strict.

[2021-06-03 15:37] mmitche commented on #4841
The targeting pack might be a bad example since it's not produced in every build. But let's say you have Microsoft.Windows.Compatibility. The 5.0.0 runtime contains a 5.0.0 version, and then we don't build it again for a while, until 5.0.8. 5.0.8 comes long and we build 5.0.1. A full (**including** released) drop would contain both versions of Microsoft.Windows.Compatibility, most likely because t

[2021-06-03 17:12] MattGal commented on #7463
[Async Triage]:  Maybe fits into https://github.com/dotnet/arcade/issues/6811 ?   We don't exactly own sourcelink but we expose and configure it via Arcade, so it does sound like something we should do even if it also results in generating and waiting on a feature request for another team.

[2021-06-03 17:15] MattGal commented on #7458
[Async Triage]: Small work item, consistent customer pain, good candidate for FR so putting it there.

[2021-06-03 17:26] MattGal commented on #7456
[Async Triage]: We'd need to make sure you can derive from AppDomainIsolatedTask and implement ICancelableTask at the same time (trying this out in a project now)  but if it's that easy and it causes problems in daily signed builds, I think this should go into FR, @ilyas1974 do you agree?

[2021-06-03 17:33] riarenas opened #7466 "Build analysis checks should be ignored as part of the standard Maestro merge policy"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain
Maestro is unable to merge PRs where the build analysis check has not run.

We should add this check to the list of automatically ignored checks in the standard merge policy: https://github.com/dotnet/arcade-services/blob/5c68775870d6587644972afe6f48d411996cd8e4/src/Maestro/Maestro.MergePolicies/StandardMergePolicy.cs#L25

[2021-06-03 17:46] riarenas commented on #7466
I think this is either FR, or should be part of the dev WF epic since that's where the check was added.

[2021-06-03 17:47] MattGal commented on #7456
Aww.  Nothing stops you from making an AppDomainIsolatedTask implement ICancelable Task, but it doesn't cancel either:

[code]

[2021-06-03 17:52] MattGal commented on #7456
Ignore previous comment, yes this works as I'd expect in an local experiment for a task that is ` : AppDomainIsolatedTask, ICancelableTask`

[2021-06-03 19:15] riarenas commented on #7466
@ChadNedzlek points out it might be better to just change Maestro's policy evaluation logic so that neutral checks are also considered successful.

[2021-06-03 19:19] ChadNedzlek commented on #7466
It seems a bit easier than having to hard code our particular check as ignored/special.  Unless there are other situations where "neutral" not blocking would cause trouble.  But GitHub doesn't consider it blocking (the "All Checks Successful" green checkmark is there with a neutral build), so matching that behavior should be ok, I think.

[2021-06-03 19:26] MattGal commented on #7466
[Async Triage]:  Can this go in the Dev WF epic?  I think that's where it belongs, otherwise I'd say let's just put it in FR, as either approach (ignoring this check or ignoring all neutral checks) are  cheap fixes to make.

I strongly favor Maestro ignoring just this check as clearly when something is failing it can present as neutral; this issue exists because failures can present as such.

[2021-06-03 19:27] ChadNedzlek commented on #7466
When does a failure present as neutral?

[2021-06-03 19:29] ChadNedzlek commented on #7466
This is blocking people, so FR seems appropriate... otherwise it's going to keep blocking people until someone in that epic grabs this.

[2021-06-03 19:29] MattGal commented on #7439
[Async Triage]: No change, pinged the team to see if I should stop doing this.

[2021-06-03 19:29] MattGal commented on #7424
[Async Triage]: No change, pinged the team to see if I should stop doing this.

[2021-06-03 19:29] MattGal commented on #7423
[Async Triage]: No change, pinged the team to see if I should stop doing this.

[2021-06-03 19:31] MattGal commented on #7413
[Async Triage]: @dagood can you comment on who currently owns this / what the priorities are in this situation?

[2021-06-03 19:32] ChadNedzlek commented on #7439
I think this is one of those things that got dumped in arcade, but no one in dnceng really owns. Sort of like RemoteExecutor.  I'm not sure what the current policy is for things there arcade is the dumping ground for.

[2021-06-03 19:32] MattGal commented on #7386
[Async Triage]: No change, pinged the team to see if I should stop doing this.

[2021-06-03 19:35] MattGal commented on #7466
This morning, before your hotfix rolled out, build result analysis failed to do its thing, and presented a neutral check.   That's how I noticed this but lots of others did too.

It was blocking people but it wouldn't have been if we just rolled back the changes your epic rolled out yesterday, and the epic is still open.  I was under the impression that until an epic is closed the folks on that te

[2021-06-03 19:37] ChadNedzlek commented on #7466
That's not a failure though.  It was very intentionally "not a failure". We choose the neutral status specifically so as not to block merges.

[2021-06-03 19:39] ChadNedzlek commented on #7466
It is true that it was cause by the epic, but the epic is likely to be open for the better part of a year, and one issue in the sea of issues in that epic is likely to get missed/take a while to resolve.

[2021-06-03 19:40] MattGal commented on #7466
Fair enough.  "The other players in the system shouldn't have configured themselves the way they were such that I could break them" is a recurring theme in all build and test infrastructure.  I'm fine with FR btw, just needs to happen soon since such a break could happen again.

[2021-06-03 19:41] ChadNedzlek commented on #7466
Yeah, I'm going to see if I can figure out how to fix it... but I'm SUPER unfamiliar with the maestro code, so it's going to take me a while.

[2021-06-03 19:58] riarenas commented on #7423
@epananth aren't you already looking at this as part of an FR issue? how is this different from the one you're looking at?

[2021-06-03 20:00] riarenas commented on #7439
Added to dotnet/arcade#363 @ViktorHofer @safern FYI in case you have something to chime in in this area.

[2021-06-03 20:04] riarenas commented on #7463
Feels like something that we track as part of #363. Even though arcade is involved in running sourcelink, we historically haven't owned it.

[2021-06-03 20:12] ChadNedzlek commented on #7466
I believe https://github.com/dotnet/arcade-services/pull/1632 should address this situation?

[2021-06-03 20:13] mmitche commented on #7463
I wasn't sure whether arcade implemented the translation (since the repo pattern is .NET specific), or whether it was in SL itself.

[2021-06-03 20:18] riarenas commented on #7463
Hmm, is it here? https://github.com/dotnet/arcade/blob/67737ae294375c867bea72de19a66149785881e5/src/Microsoft.DotNet.Arcade.Sdk/tools/RepositoryInfo.targets#L62-L79

[2021-06-03 20:19] ViktorHofer commented on #7439
We own this library an do not expect core-eng to follow up on issues. Should we add a code owners entry for so that we at least get notified of prs targeting the code?

Regarding the issue, will take a look. cc @akoeplinger

[2021-06-03 20:25] riarenas commented on #7423
https://github.com/dotnet/arcade/issues/7420 is the issue I was referring to.

[2021-06-03 20:30] #7466 closed

[2021-06-03 20:38] mmitche commented on #7463
Yep. I wonder whether that was because they weren't on a new enough version of arcade in p5. Main is now on mainline arcade.

[2021-06-03 20:40] rainersigwald commented on #7463
Our latest `main` build does show that running:
![image](https://user-images.githubusercontent.com/3347530/120709063-02668d80-c482-11eb-8dcc-4e34e1e1c815.png)

[2021-06-03 21:36] mmitche commented on #7463
Awesome. I will close this.

[2021-06-03 21:36] #7463 closed

[2021-06-03 21:54] epananth commented on #7423
ah.. Idk why I created 2 issues. ;/ going to close the other one and use this

[2021-06-03 21:55] epananth commented on #7420
closing this cos its a duplicate https://github.com/dotnet/arcade/issues/7423

[2021-06-03 21:55] #7420 closed

[2021-06-03 22:10] markwilkie commented on #7386
It seems the 'angle' here is validation?  (giving ourselves confidence we can change stuff)  If so, I'd be in favor of putting this into a validation epic.

[2021-06-03 22:17] alexperovich commented on #7386
I think this might be able to fit into validation with a bit of spackle around the edges, but it feels more metric-ey to me. We need to be able to confirm that nobody uses a feature before we can remove it, and arcade has a lot of old code we would like to remove.

[2021-06-03 22:19] markwilkie commented on #7386
Yea, it's definitely metrics.  The question is though, why the metrics?  That's the business objective that the epic is hopefully driving at.  In this case, is the "why the metrics" because we want better confidence we're not going to break something?

[2021-06-03 22:27] riarenas commented on #7386
I like thinking about this as validation. We want to remove old code, and we want to make sure we can remove it without breaking obscure scenarios.

[2021-06-03 22:29] alexperovich commented on #7386
The actual work done isn't really validation though. Writing code to collect usage data about something doesn't even smell like validation to me. We can use the collected metrics to know what we can delete from arcade, but that feels more tech-debt driven than validation driven. We don't have new features we wrote that we need metrics to know if they worked, rather, we have old, hard-to-test code

[2021-06-03 22:37] mmitche commented on #7285
Alright I'll have this be EOD tomorrow.

[2021-06-03 22:57] ChadNedzlek commented on #7386
Yeah, it's rough because we can't _fund_ validation until we have the metrics to show if it's useful or not.  It's a weird chicken and egg problem.  This is what will give us the data to prioritize epics correctly... but if it gets shoved into one of those epics, how will we get the data to fund the epic it's inside of?

[2021-06-04 09:17] jakubstilec commented on #6731
[Async Triage]: +1 for more trouble than its worth, given that we can possibly remove keys which are still in use.

[2021-06-04 15:33] danmoseley commented on #6731
Agreed, given that point. It's unfortunate even we build resource strings dynamically.

[2021-06-04 15:33] #6731 closed

[2021-06-04 16:37] adiaaida commented on #4841
PR is here: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/15466

[2021-06-07 15:02] jakubstilec commented on #7339
The issue is in GitHub link references. Inside PR's description we have multiple references like:
[code]

Then once you use this reference in a link, everything uses the first definition. The fix should be straightforward.

[2021-06-07 15:16] ViktorHofer opened #7474 "Consider moving VerifyClosure task into the PackageTesting package"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The `VerifyClosure` task is implemented in the `Microsoft.DotNet.Build.Tasks.Packaging` project which will be marked as deprecated or deleted later this year. Both dotnet/runtime's package testing system and the Shared Framework SDK depends on the task so it should be considered to be moved into `Microsoft.DotNet.PackageTe

[2021-06-07 16:33] adiaaida commented on #5538
@mmitche @leecow Can we push the mac files to the same dotnetstage blob storage, like we do the others? Is dotnet-private necessary? Today we are still pushing unsigned mac/linux files there, but I've got a change that would instead push the signed files as well. Will that work for the VS4Mac scenario?

[2021-06-07 16:47] adiaaida commented on #4841
@mmitche can you take a look at https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/15466 to make sure it does what you expect? I have tested it on a multiple sdk manifest.json (pass), a coherent 6.0 preview manifest (pass) and an incoherent 6.0 preview manifest (fail), and it all works, but I want to make sure that you're happy with what it does to determine coherency.

[2021-06-07 17:01] mmitche opened #7475 "Build Analysis UX tweaks"
BA UX Modifications proposal:

There is not broad consensus on what the UX should look like, and so I think we should take a measured approach with the expectation that we will have to make future tweaks based on user feedback or requirements changes. The feedback for the UX study (https://github.com/dotnet/arcade/issues/7285) has been somewhat mixed.

I think we should use option ['C'](https://gi

[2021-06-07 18:08] mmitche commented on #5538
I don't see anything wrong with that approach.

[2021-06-07 18:27] missymessa commented on #7461
Hi @Sanan07 and @Haplois, checking in to see if you need any more assistance from the .NET Core Engineering Services team on this issue. Thanks!

[2021-06-07 19:47] Haplois commented on #7461
Thank you @missymessa, I just started working on this. I'll ping you if I need help, thanks!

[2021-06-07 20:59] missymessa commented on #7461
@Haplois I'm going to close this issue then. If you have any other problems, feel free to re-open it.

[2021-06-07 20:59] #7461 closed

[2021-06-07 21:58] missymessa commented on #7195
Closing this. Mitchell created https://github.com/dotnet/arcade/issues/7475 based on feedback from folks using mock-up he created.

[2021-06-07 21:58] #7195 closed

[2021-06-07 22:13] adiaaida commented on #5538
PR for this: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/15567

[2021-06-07 22:57] missymessa opened #7477 "test fabric bot"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2021-06-07 22:57] #7477 closed

[2021-06-07 23:02] missymessa opened #7478 "test fabric bot again"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2021-06-07 23:02] #7478 closed

[2021-06-07 23:47] utpilla opened #7480 "ApiCompat not showing all breaking changes for --respect-internals option"
I have a scenario where the contract has an `abstract` class with an `internal` ctor. For example:
[code]

In the implementation, I have marked the ctor as `protected` and also added a new `abstract` method.
[code]

When I run ApiCompat, I provide the `--respect-internals` option.

**Expectation:**
ApiCompat fails with the error `CannotAddAbstractMembers` as I have added a new abstract method

**A

[2021-06-07 23:47] utpilla commented on #7480
@Anipik to add more context

[2021-06-08 14:41] adiaaida opened #7483 "Fix Component Governance warnings in dotnet-release"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2021-06-08 14:45] adiaaida opened #7484 "Stage-DotNet should be marked as "SucceededWithIssues" if overrides are approved"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When running Stage-DotNet, if any stage has errors in it, even if those stages have overrides that are approved, the entire pipeline will be marked as failed. We want to see the errors, but we also want a fully completed pipeline (ie one that drops the final bits) to be marked as succeeded or succeeded with issues. We need

[2021-06-08 18:28] adiaaida commented on #5482
Looks like there was a slight issue with multiple sdk scenarios for toolset. Need to make that fix.

[2021-06-08 19:26] Anipik commented on #7480
The reason behind this error is that https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.ApiCompat/src/Rules/Compat/CannotAddAbstractMembers.cs#L25

CannotAddAbstractMethods rule does not check for internal flag and always assumes thats its fine to add new types.

cc @safern @ericstj @ViktorHofer

[2021-06-08 19:32] ViktorHofer commented on #7480
What do you mean by internal flag? The visibility?

[2021-06-08 19:36] Anipik commented on #7480
we pass ```--respect-internals``` as apicompat option to catch breaking changes in internaltypes as well https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.ApiCompat/src/ApiCompatRunner.cs#L80

[2021-06-08 20:37] #7372 closed

[2021-06-08 21:51] epananth opened #7485 "Github translation for Publish to BAR for an internal repo should not translate the repo name"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

For internal repo

Eg: 'https://dev.azure.com/dnceng/internal/_git/dotnet-winforms' should not translate to https://github.com/dotnet/winforms when publishing to BAR.

It should just use internal repo url instead.

[2021-06-08 21:57] riarenas commented on #7485
I don't think this is quite the issue. The problem that winforms was facing was:

* They were testing a change in an experimental branch only available in azure devops
* They created a default channel using the dnceng mirror URL + the branch
* During the publish to BAR task, the build said that it found a default channel for the branch: https://dev.azure.com/dnceng/internal/_build/results?buildId=

[2021-06-08 22:52] ericstj commented on #7480
As @Anipik mentions it's treating internal constructors as "effectively sealed"
https://github.com/dotnet/arcade/blob/cde36344adbc1c9808b1c3e7419f0ce3c3e5cd04/src/Microsoft.Cci.Extensions/Extensions/CSharp/CSharpCciExtensions.cs#L669-L686

So perhaps that needs to change to catch this specific case.  It's not effectively sealed if we're considering internal API as part of the compatibility contrac

[2021-06-09 09:51] akoeplinger opened #7486 "xharness-runner.apple.sh tries to kill Simulator for MacCatalyst apps"
Noticed this in https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-a53da9e2eeaa40ab8d/System.Text.Json.Tests/console.154e4433.log?sv=2019-07-07&se=2021-06-29T09%3A27%3A48Z&sr=c&sp=rl&sig=Dc2pTofbpAFUgBnUunVgv90C135UIuydjMZkCNEtn6Y%3D

[code]

It shouldn't try killing the simulator in this case since there is none with MacCatalyst.

/cc @premun

[2021-06-09 11:16] #7486 closed

[2021-06-09 13:40] ViktorHofer commented on #6786
I re-enabled the subscription and the PR was created to update symuploader: https://github.com/dotnet/arcade/pull/7489. Let's see what breaks.

cc @hoyosjs @adiaaida

[2021-06-09 14:40] jakubstilec commented on #7339
Prepared a PR https://github.com/dotnet/arcade-services/pull/1637, but still looking how to verify this change properly.

[2021-06-09 14:58] ViktorHofer commented on #6786
WOHOO, PR is through. Closing.

[2021-06-09 14:58] #6786 closed

[2021-06-09 16:21] riarenas opened #7493 "Normalize Azure devops URIs during asset manifest creation"
- [X] This issue is blocking
We have at least one instance of build breaks due to discrepancies in the format of the azure URIs: https://dnceng.visualstudio.com/internal/_build/results?buildId=1179028&view=results
- [ ] This issue is causing unreasonable pain

At some point it looks like Azure devops decided to change the format of their URIs, as an example, the format of the repository URI build

[2021-06-09 16:25] riarenas commented on #7493
We've only seen this once ever, but it seems like the kind of thing that can bite us unexpectedly if the Azure devops folks decide they want a new format for the URIs again, so I think this should go into FR.

[2021-06-09 16:38] riarenas opened #7494 "Arcade flow into arcade-validation is failing PR validation"
- [X] This issue is blocking
This blocks arcade promotion
- [ ] This issue is causing unreasonable pain

Dependency update PR https://github.com/dotnet/arcade-validation/pull/2360 is failing its helix validation leg with the following errors:

[code]

This is more than likely caused by the upgrade to the preview 4 sdk: https://github.com/dotnet/arcade/commit/130a085011ed5d5ef0fd30e07fa16ce88c2df28

[2021-06-09 16:39] riarenas commented on #7494
Adding to FR as critical, as this blocks Arcade changes from flowing to repos

[2021-06-09 16:56] adiaaida commented on #7484
@jonfortescue Do you think this fits in the scope of the Staging environment work you are doing? It'll also be a nice win for the release team.

[2021-06-09 16:58] jonfortescue commented on #7484
@adiaaida I can pull this into my work!

[2021-06-09 17:44] jonfortescue opened #7495 "Build a staging environment for dotnet/release"
We have to have a pipeline to test the pipeline and that pipeline needs a staging environment so it can stage stuff safely in staging.

| Goal | Issue(s) | ETC | Completed | Notes |
|:-:|:-:|:-:|-|:-:|
| Create a static build drop to be used only by the staging environment | #7515 | 07/13/2021 | 07/12/2021 |  |
| Have pipeline "succeed with issues" | #7484 | 06/18/2021 | 06/17/2021 |  |
| Stage-Do

[2021-06-09 20:50] JunTaoLuo commented on #204
Reopening, @dougbu we want this in 3.1 and 5.0 as well right?

[2021-06-09 21:20] dougbu commented on #204
It would be amazing to remove our last aspnet/BuildTools dependency in those branches😀 But, back-porting is up to @markwilkie

[2021-06-09 21:35] markwilkie commented on #204
Seems like a good thing to do to backport.  Thoughts @mmitche ?

[2021-06-09 21:48] mmitche commented on #204
Fine by me if it helps get rid of some legacy infra.

[2021-06-09 23:17] MattGal commented on #7371
Current workaround is in Runtime, and seems to be holding, closing (somehow I thought I already had)

[2021-06-09 23:17] #7371 closed

[2021-06-10 02:16] adiaaida opened #7497 "BuildMonitor should allow monitors to update existing issues"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Instead of opening a new issue for every build failure, we'd like for BuildMonitor to just update the most recently opened issue when it finds a matching definition/branch/tags combo in certain scenarios, particularly in the Validate-DotNet scenario.

[2021-06-10 08:39] ViktorHofer commented on #7413
Why does source build not work with the current LTS which is `netcoreapp3.1`? Aside from that, shouldn't Arcade just upgrade all dependencies to net6.0 so that we have a consistent story across the stackd?

[2021-06-10 08:56] jakubstilec commented on #7386
[Async Triage]: Can't we create a mini epic for this, even if we don't have metrics showing that it's useful?

[2021-06-10 09:07] tkapin commented on #7423
[Async Triage]: @epananth - moving this to tech debt publishing #6108, feel free to throw it away from that if you feel it doesn't belong there.

[2021-06-10 14:34] riarenas opened #7500 "[darc/maestro++] Maestro staging is currently broken"
- [x] This issue is blocking
Maestro staging is totally broken.

- [ ] This issue is causing unreasonable pain

as of https://github.com/dotnet/arcade-services/commit/dec31bcfda19c5941d4a6edb7a1ba52d92812801 the staging website is returning a 500 error when trying to log in:

https://maestro-int.westus2.cloudapp.azure.com/

This manifested itself in breaking all scenario tests due to the maestro t

[2021-06-10 14:36] riarenas commented on #7494
@ilyas1974 we'll want to look at this one soon as there's a big list of changes waiting to be promoted.

[2021-06-10 14:47] ilyas1974 commented on #7494
@missymessa, can you please take a look at this?

[2021-06-10 14:59] riarenas commented on #7500
I put this in FR just because it's a build break, but could also just go into the secret management epic as it looks like it was a change in that area that caused this.

[2021-06-10 15:42] MichaelSimons commented on #7413
Source build always builds with the current sdk to avoid prebuilts.

Yes that seems to be a source-build friendly solution.  It's the only amenable solution that comes to my mind.

[2021-06-10 15:45] MichaelSimons commented on #7413
Eng Services should own this.

It is a blocker for source build.  The goal is to be able to have a source-build tarball available for preview 6.

[2021-06-10 15:59] adiaaida commented on #5482
The reason this didn't work for toolset is because we can only connect the release day pipeline to 1 single Servicing pipeline (where we get the manifest json). However, since we have the sdk versions, and therefore can construct the core-builds directory, I think we can just get the manifests from the core-builds directories directly.

[2021-06-10 16:11] MattGal commented on #7386
[Async Triage]: I recognize this might be a radical position, but given all our other areas we need to invest in, plus the cost and how much "touching old stuff that we could break doing so" of this, I think I still prefer using human consensus over data when deciding to delete the old crusty stuff from Arcade.

Personally, it feels like we may over-weigh how much debt we actually incur keeping wo

[2021-06-10 16:28] missymessa commented on #7494
@ilyas1974, looks like @jakubstilec is looking into it?

[2021-06-10 16:32] jakubstilec commented on #7494
@missymessa I'm looking into it. I think it's because of reference to preview.3 and we need to update it manually to preview.4. I'm not sure why it wasn't done automatically.

[2021-06-10 16:43] riarenas commented on #7494
The failing PR is updating to preview 4: https://github.com/dotnet/arcade-validation/pull/2360/files#diff-8df3cd354bc584349d04ad5675b33c042d8b99b741b8b95af394c55e0f5001bfR3

[2021-06-10 16:47] ilyas1974 commented on #7494
I asked @jakubstilec to take a look at this as you were working on https://github.com/dotnet/core-eng/issues/13301

[2021-06-10 16:51] jakubstilec commented on #7494
@riarenas - I tried to update it to 6.0.0-preview.4.21253.7 in https://github.com/dotnet/arcade-validation/pull/2362. However it can't install it:
[code]

[2021-06-10 16:56] riarenas commented on #7494
That seems to be the wrong version. The released preview 4 sdk is `6.0.100-preview.4`: https://dotnet.microsoft.com/download/dotnet/6.0.

If I may, I would suggest you work directly on the dependency update PR as it has everything that Arcade updates automatically, and if you get that building and merged it should unblock the first part of validation. (I'm also expecting something else to break du

[2021-06-10 17:16] MattGal commented on #7474
[Async Triage]: Sounds like general work to be done whenever Tasks.Packaging is deprecated.  Seems like "Work tracking by/for other teams" epic as AFAIK Package Testing is entirely a runtime feature

[2021-06-10 17:18] jakubstilec commented on #7494
There is a missing change of preview 4 in azure-pipelines.yml. I added it to https://github.com/dotnet/arcade-validation/pull/2360.

[2021-06-10 17:48] jakubstilec commented on #7494
PR build passed, it should be fixed now.

[2021-06-10 17:51] riarenas commented on #7494
Yup, now we need to wait for the official build: https://dnceng.visualstudio.com/internal/_build?definitionId=282. I expect things to break there as well in some other way 😶

[2021-06-10 17:53] jakubstilec commented on #7494
Lets be optimistic :).

[2021-06-10 18:39] mconnew opened #7504 "GenPartialFacadeSource task broken for WCF"
- [x] This issue is blocking
We can't update to the latest versions, including automatically picking up the latest .net 6.0 builds to test for regressions.
- [x] This issue is causing unreasonable pain

A recent change in the Arcade tooling broke the GenPartialFacadeSource tool for the WCF repo. This is blocking us taking updates to the latest versions as the PR dotnet/wcf#4633 to do so is failing

[2021-06-10 18:41] alexperovich commented on #7500
Yea, I think this is caused by some secret changes... I have no idea why the sql stuff would be yelling about. Reverting the change wouldn't help though, the "break" is caused by changed secrets.

[2021-06-10 18:43] alexperovich commented on #7500
interestingly, the new connection string (created with SqlConnectionStringBuilder), has "Multiple Active Result Sets", the old functional secret has "MultipleActiveResultSets" with no spaces. Thats.... unfortunate that the connection string builder creates a connection string that doesn't work. I can fix it, but its not great.

[2021-06-10 18:49] alexperovich commented on #7500
ahah, its this issue https://github.com/dotnet/SqlClient/issues/811

[2021-06-10 18:49] ViktorHofer commented on #7474
@MattGal would it be possible to exclude issues that are specific to tools that core-eng doesn't own from the async triage? Of course the question stands how to filter them out.

[2021-06-10 18:53] alexperovich commented on #7500
Yep, I have to remove all the spaces from the connection string fields to make them work with the old sql client. :/

[2021-06-10 19:13] MattGal commented on #7474
@ViktorHofer sorry I'm trying to follow some rules :) If you have zenhub, sticking them in that catch-all epic I mentioned would keep them off triage radar.  Failing that, I think someone has added the "I think this is triaged" label that might do the same, or finally if neither works, just saying that in the initial writeup will cause ME to do the first thing when I run into your issues.

Apologi

[2021-06-10 19:26] ChadNedzlek commented on #7386
The problem is we don't have data to drive our human concensus.  Right now it's just "a hunch", which has led us astray many times.  The thing that drove this was the part where we upload all the artifacts/bin files.  It was adding a TON of cost to my PR's, so I wanted to save a bunch of time by making it more selective, but no one knows who uses it or how or why, so I can't safely make changes so

[2021-06-10 20:32] riarenas opened #7506 "Arcade official build and maestro publishing pipeline broken"
- [x] This issue is blocking
This is causing the maestro promotion pipeline to fail for every repository

- [ ] This issue is causing unreasonable pain

https://github.com/dotnet/arcade/commit/a4191734058802ac065b0f3270b76d2f0f3a60cd caused the official build to fail: https://dev.azure.com/dnceng/internal/_build/results?buildId=1181292&view=results

and as a side effect it also broke the publishin

[2021-06-10 21:14] riarenas opened #7509 "sdk-task.ps1 script does not have PR validation"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain
This gap caused a major outage for the publishing infrastructure

The [sdk-task.ps1](https://github.com/dotnet/arcade/blob/main/eng/common/sdk-task.ps1) script is used in many places, including the publish to Build asset registry and the maestro publishing pipeline. A recent change inadvertently broke the execution of this

[2021-06-10 21:14] riarenas commented on #7506
@ViktorHofer submitted a fix, and https://github.com/dotnet/arcade/issues/7509 covers adding this important script to our PR coverage.

[2021-06-10 21:14] #7506 closed

[2021-06-10 21:57] ViktorHofer commented on #7474
I'm super happy that your team prioritizes triaging incoming issues higher than before. Thanks a lot for doing that.

In this case it was me who opened the issue but in other cases it will be someone different who doesn't know much about how Arcade triages their issues. Would it help to add a codeowners file or an [area-owners file](https://github.com/dotnet/runtime/blob/main/docs/area-owners.md)

[2021-06-11 00:25] utpilla opened #7511 "ApiCompat incorrectly erroring out with ParameterModifiersCannotChange"
ApiCompat tool is erroring out with the error `ParameterModifiersCannotChange`

`Error ParameterModifiersCannotChange : Custom modifiers on parameter 'batch' on method 'OpenTelemetry.BaseExporter<T>.Export(OpenTelemetry.Batch<T>)' are 'System.Runtime.InteropServices.InAttribute' in the implementation but 'System.Runtime.InteropServices.InAttribute' in the contract.`

I tried to debug this issue an

[2021-06-11 00:25] utpilla commented on #7511
[dlls.zip](https://github.com/dotnet/arcade/files/6635015/dlls.zip)

[2021-06-11 14:25] jakubstilec commented on #7494
PR with fix https://github.com/dotnet/arcade-validation/pull/2365/files

[2021-06-11 15:52] jakubstilec commented on #7494
This issue is fixed, build is passing now https://dev.azure.com/dnceng/internal/_build/results?buildId=1183151&view=results.

[2021-06-11 16:46] riarenas commented on #7494
@jakubstilec I left a comment in the Arcade-validation PR, but the changes you made there need to be made in arcade instead as they were changes to the scripts in the eng/common folder. We left things in a pretty dangerous state as if the current arcade build makes it to consumers, they will be broken by the errors you fixed directly in arcade-validation. Reopening this. If no one sees this I can

[2021-06-11 17:25] riarenas commented on #7494
opened https://github.com/dotnet/arcade/pull/7513 to bring these changes to arcade

[2021-06-11 18:24] #7494 closed

[2021-06-11 21:37] missymessa opened #7514 "darc's get-latest-build --output-format json doesn't work"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

darc's `get-build --output-format json` result correctly returns a value as a json string, whereas `get-latest-build --output-format json` doesn't.

[2021-06-11 21:40] jonfortescue opened #7515 "Create a build drop to be used by the Stage-DotNet pipeline in staging environment"
Likely this will be a modified version of a build that can be marked as released and unreleased as needed in the staging environment but will never be touched by anything else.

[2021-06-11 21:42] jonfortescue opened #7516 "Mock out source code validation in staging"
This will make it so we don't depend on repos having their code in good shape for the staging pipeline.

[2021-06-11 22:26] jonfortescue opened #7517 "Staging pipeline preps for release pipeline in staging environment"

[2021-06-14 08:30] jakubstilec commented on #7494
@riarenas thank you a lot for catching this!

[2021-06-14 11:49] lukas-lansky commented on #7444
@chcosta @riarenas Do you happen to know why we just don't use the public version https://www.nuget.org/packages/Microsoft.Build.Runtime/ ?

[2021-06-14 15:48] chcosta commented on #7444
That could be perfect!  It's quite possible that we're not using it simply because it didn't exist when the need was there (xcopy-msbuild is 4-ish years old).  I'm not sure what the delta is between the two, and there would have to be some script modification to support it, but it seems like a good path to investigate.

[2021-06-14 16:43] lpatalas commented on #7339
@jakubstilec handed it over to me. The only thing remaining here is to review the PR and add some tests for it. I'm working on it.

[2021-06-14 17:10] adiaaida commented on #7493
Looks like we could just take the NormalizeUrl function from the AzureDevOpsClient in DarcLib and port it to arcade. I assume we don't want any dependencies in arcade on darclib, correct?

[2021-06-14 17:14] riarenas commented on #7493
I'm not sure any changes would need to be made in Arcade. The failing task lives in Arcade-services: https://github.com/dotnet/arcade-services/blob/main/src/Maestro/Microsoft.DotNet.Maestro.Tasks/src/PushMetadataToBuildAssetRegistry.cs

[2021-06-14 17:20] adiaaida commented on #7493
Oh, I thought the issue was with the actual creation of the individual manifests? Do we not care if they're normalized there?

[2021-06-14 17:25] riarenas commented on #7493
I personally don't see a problem with the individual manifests using different versions of the URI as long as the task understands that they are the same. Nothing should be processing them individually anyways. Not sure if there's any pushback in that regard.

If we want to normalize ASAP (when the Build object gets created) then yeah, the code should go into arcade, and it should probably not int

[2021-06-14 18:04] tkapin commented on #7444
Let's bring this to the next Harmonization meeting with the CLR folks - I'd be curious to learn if the version suggested by @lukas-lansky would be sufficient or if there are any other requirements.

[2021-06-14 18:50] alexperovich commented on #7500
This is fixed

[2021-06-14 18:50] #7500 closed

[2021-06-14 21:14] epananth opened #7523 "Files from SymbolsExclusionFile.txt must also be excluded from symbol validation"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

After this change is merged -> https://github.com/dotnet/arcade/issues/6804
We need to exclude the files which we are not publishing in symbol validations as well

cc: @adiaaida

[2021-06-15 00:58] ChadNedzlek commented on #7343
A system semaphore could work. They don't have "async" methods, so we'd need to be careful how we use them (mixing thread blocking constructs into async code can lead to weird deadlocks)

[2021-06-15 14:20] adiaaida commented on #7458
@MattGal I agree that this is a small work item, but we do not own the install scripts, @vlada-shubina's team (and I believe @bekir-ozturk in particular) owns them and their rollout schedule. This seems like an issue for https://github.com/dotnet/install-scripts?

[2021-06-15 14:34] mmitche opened #7527 "BARViz showing username/password popup when accessing AzDO"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

As of the morning of 6/15, a username and password popup is shown when accessing BARViz. I believe this is happening when it's attempting to access AzDO build and/or code info.

[2021-06-15 14:59] riarenas commented on #7527
THis is most likely due to https://github.com/dotnet/core-eng/issues/13351

[2021-06-15 16:42] MattGal commented on #7458
@adiaaida oh sorry you're right I was thinking somehow this was in https://github.com/dotnet/arcade/blob/main/eng/common/dotnet-install.ps1.  Let's move this issue there.

[2021-06-15 16:42] #7458 closed

[2021-06-15 16:44] MattGal commented on #7458
Created https://github.com/dotnet/install-scripts/issues/195 and tagged @kant2002 .

[2021-06-15 16:52] mmitche opened #7530 "darc delete-default-channel should allow for mass deletion"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

delete-subscriptions and a few other commands have 'mass' modes, where they match inputs on a subset of parameters, confirm the deletion, and then mass delete. delete-default-channel is missing this functionality. This is somewhat annoying because deleting an entire set of default channels is reasonably common (cleaning up

[2021-06-15 17:36] #7493 closed

[2021-06-16 00:48] epananth opened #7532 "Publishing to symbol server is failing in runtime"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Publishing to symbol server we are experiencing some problem

![image](https://user-images.githubusercontent.com/47157394/122141206-adbbfe80-ce01-11eb-8b46-cb4971e69973.png)

So I did a check if the symbol actually got uploaded

https://microsoft.artifacts.visualstudio.com/defaultcollection/_apis/symbol/symsrv/mscordaccore

[2021-06-16 00:54] epananth commented on #7532
Note: Most recent change was
1) Changed the symUploader build task from 1.1.152002 to 1.1.230702
2) For out of memory issue we changed the number of maxclients from 20 to 16

[2021-06-16 00:55] epananth commented on #7532
I am going to do a test with the older version of symuploader task to see if that will fix this..

[2021-06-16 02:14] epananth commented on #7532
reverting the symbolUploaderVersion seemed to have worked

https://dev.azure.com/dnceng/internal/_build/results?buildId=1189499&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=ba23343f-f710-5af9-782d-5bd26b102304

[2021-06-16 03:17] epananth commented on #7532
tried another failed runtime build https://dev.azure.com/dnceng/internal/_build/results?buildId=1189556&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=ba23343f-f710-5af9-782d-5bd26b102304, seems like something with the SymUploader version

[2021-06-16 07:14] ViktorHofer commented on #7532
cc @hoyosjs @mangod9 @safern as we discussed this in the team's channel

[2021-06-16 07:16] ViktorHofer commented on #7532
Note that this is blocking the snapped P6 bits from flowing. cc @Anipik @mmitche

[2021-06-16 16:45] epananth commented on #7532
I don't think so either.. The one we saw in runtime was the only publishing failure we have seen after the change.

[2021-06-16 16:54] lpatalas commented on #7339
Due to other FR issues I didn't have time to move it forward. So the status did not change from what I wrote above. Hopefully I will be able to get back to it before end of the week.

[2021-06-16 18:00] hoyosjs commented on #7532
Sorry I didn't see this. Revert got handled in #7534 and we just discussed the fix.

[2021-06-16 18:00] #7532 closed

[2021-06-16 18:03] ViktorHofer commented on #7532
In which issue are we tracking the fix for symuploader?

[2021-06-16 19:38] hoyosjs commented on #7532
All source in that case is internal. We don't have a public facing issue or PR right now.

[2021-06-16 21:45] jonfortescue commented on #7484
PR in [here](https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/15959).

[2021-06-16 21:47] monstro805 commented on #7484
fix??
Sent from Yahoo Mail on Android

  On Wed, Jun 16, 2021 at 2:46 PM, Jon ***@***.***> wrote:

PR in here.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-17 09:50] ViktorHofer commented on #7413
As some repos already snapped for Preview 6 doesn't that mean that we need to tackle this asap?

Right, so currently source build arcade builds for net5.0 and non source build arcade builds for netcoreapp3.1. We should consolidate towards net6.0 and make this a priority.

[2021-06-17 14:20] adiaaida commented on #7485
@epananth where is this? Should we put it back in the backlog?

[2021-06-17 22:01] epananth commented on #7485
I did not find time to create this PR. I am going to put this back :(

[2021-06-17 22:24] mmitche opened #7538 "Update 5.0 builds to use 5.0.300+ SDK, .NET 6 P7 to use P5"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

For reproducible builds, 5.0.X builds should use a 5.0.300+ SDK. For .NET 6, preview 7 should be built with Preview 5.

[2021-06-17 22:24] mmitche commented on #7538
/cc @clairernovotny

[2021-06-18 14:41] markwilkie commented on #7373
Thoughts on next steps @akoeplinger ?  This issue is languishing a bit...

[2021-06-18 14:43] markwilkie commented on #7386
I'm adding this to our validation epic  with the rationale that we need data to know what we should be validating.  I know it's not perfect, but getting into a habit of using data to help us decide if the right things are happening is something that at least worth continuing to discuss.

[2021-06-18 14:44] markwilkie commented on #7413
This seems to be blocking source build, so am assigning to FR where it can be triaged.

[2021-06-18 14:46] markwilkie commented on #7509
@riarenas - do you feel this meets the bar to fix as part of FR or does it better belong in tech debt?  How often does this bite us?

[2021-06-18 14:47] markwilkie commented on #7514
@missymessa - could you expand a bit on what the unreasonable pain (checkbox) is that this is causing please?  For example, how many folks depend on this and how often are they affected?

[2021-06-18 14:48] markwilkie commented on #7523
@epananth - is this part of the release pipeline work?  If so, feel free to add it to your epic.

[2021-06-18 14:49] markwilkie commented on #7527
@ilyas1974 - has this been sorted already? (I seem to recall it has)

[2021-06-18 14:49] markwilkie commented on #7530
Added to the dependency flow epic.

[2021-06-18 14:51] riarenas commented on #7509
I don't think changes to this script have bitten us before. The script hasn't seen many changes.

I think I'd like to see this addressed in FR mostly due to how impactful a bug in this script can be. A change that didn't affect this script directly, but instead changed an assumption the script had in it caused us to bring down publishing, so every official build for every repo was failing.

[2021-06-18 14:52] ilyas1974 commented on #7527
I believe so - let me have someone in FR confirm.

[2021-06-18 15:12] markwilkie commented on #7509
Thoughts @ilyas1974 ?

[2021-06-18 15:22] ilyas1974 commented on #7509
We can evaluate the work involved here in FR and make a determination. As we discovered in https://github.com/dotnet/arcade/issues/7339 the work involved to fix the issue "correctly" (add tests) took the issue beyond what could be accomplished in the FR time frame.

[2021-06-18 15:32] missymessa commented on #7527
This issue isn't reproducing for me. So I'll close it. I'll direct the RCA to the other one that Michelle filled out.

[2021-06-18 15:32] #7527 closed

[2021-06-18 15:57] missymessa commented on #7509
@riarenas what are some examples of how this script is used so I can get a better idea of where in a PR pipeline this would be appropriate to run? Otherwise, I'm thinking it might not be a bad idea to make sure it gets exercised in the Arcade Validation like other parts of Arcade are validated.

[2021-06-18 16:08] riarenas commented on #7509
@missymessa It's used as the entrypoint to run any msbuild tasks. You can find some examples by searching for usage in the repo.

https://github.com/dotnet/arcade/blob/e7ede87875f41a9b3df898ae08da5ebc96e24f56/eng/publishing/v3/signing-validation.yml#L47 and https://github.com/dotnet/arcade/blob/fce95f2bb1a748e65ec6f8f0606c76e0c0d62c27/eng/common/templates/post-build/channels/generic-public-channel

[2021-06-18 16:57] lpatalas commented on #7339
We had discussion with @ilyas1974 and @jakubstilec about this issue because it is stuck in FR for quite some time due to other more urgent issues. Jakub did first part of the work in the [PR](https://github.com/dotnet/arcade-services/pull/1637). The part that remains is writing tests for the functionality. Unfortunately it's not as straightforward as it should be. Some problems are:
- The implemen

[2021-06-18 17:02] adiaaida commented on #7523
Yes, this should be part of the release pipeline work. Adding to our epic.

[2021-06-18 17:04] missymessa commented on #7509
Ahh, okay, thanks for the explanation on that. So either we find a MSBuild task to call that is quick and doesn't affect anything, or create one we can use for testing. Do you have any in mind that might be good for calling during the PR build?

[2021-06-18 17:07] riarenas commented on #7509
I do not.

[2021-06-18 17:08] epananth commented on #7523
thanks @adiaaida

[2021-06-18 17:13] adiaaida commented on #7484
moving to rollout

[2021-06-18 17:13] jonfortescue commented on #7484
whoops right i'm in a repo that does rollouts now

[2021-06-18 17:21] missymessa commented on #7509
Okay, no worries. We'll figure something out :)

[2021-06-18 17:50] jonfortescue commented on #7515
PR into to runtime: https://github.com/dotnet/runtime/pull/54423

[2021-06-18 21:04] missymessa commented on #7509
Okay, after thinking about this, I think the correct thing here is to create a specific MSBuild project for testing this script, and then run that in the PR yaml. I'm hesitant to use an existing MSBuild project in case there's a bug in the project itself, or if the project gets removed or whatever. The test project doesn't need to do anything special, just needs to do something we can assert on to

[2021-06-18 21:47] missymessa commented on #7196
Looks like this is fixed. Closing.

![image](https://user-images.githubusercontent.com/47990216/122618893-0c70ba80-d044-11eb-9324-a53c72c7961b.png)

[2021-06-18 21:47] #7196 closed

[2021-06-21 03:59] RussKie commented on #7324
This change doesn't appear to work. I have now reinstalled VS 17.0.0 Preview 2.0 [31418.319.main]:
![image](https://user-images.githubusercontent.com/4403806/122704814-c6ac3000-d297-11eb-966d-134831fc5bea.png)
![image](https://user-images.githubusercontent.com/4403806/122704830-d3c91f00-d297-11eb-87ff-22b648df0781.png)

[code]

Looks like it may be a bug in vswhere, but right now I can't build dot

[2021-06-21 04:13] RussKie commented on #7324
I also tried VSWhere 2.8.4, and the results are the same.

[2021-06-21 04:31] RussKie commented on #7324
Raised https://github.com/microsoft/vswhere/issues/238

[2021-06-21 04:46] RussKie commented on #7324
This seems to work - note the lower boundary is set:
[code]

Not sure what the lowest version we want to support though.

[2021-06-21 16:12] missymessa opened #7545 "Build failures due to PublishBuildArtifacts"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Errors with the PublishBuildArtifacts were reported to the team twice in the last week.

See this issue: https://github.com/dotnet/installer/pull/10920#issuecomment-864303995

Actions:
- [x] Determine how often this error is occurring so that we can get metrics on the frequency.
- [ ] Open an IcM on Azure DevOps regarding

[2021-06-22 00:58] #7324 closed

[2021-06-22 17:54] mmitche commented on #7348
Donezo

[2021-06-22 17:54] #7348 closed

[2021-06-22 20:21] missymessa commented on #7514
It's misleading that this function takes in this parameter, but it doesn't work. We should either remove it (as Ricardo suggests) or make it work.

[2021-06-23 01:07] radical opened #7550 "`GenerateNuSpec` writes out the file even if the contents are same"
I tried this with a local build of `dotnet/runtime` on macOS, with:

`$ ./build.sh mono+libs -os Browser -c Release`

In the beginning of the build you will see a line:

`Microsoft.NET.Runtime.wasm.Sample.Mono -> /Users/radical/dev/r3/artifacts/packages/Release/Shipping/Microsoft.NET.Runtime.wasm.Sample.Mono.6.0.0-dev.nupkg`

The nuspec this used: `artifacts/packages/Release/specs/Microsoft.NET.Ru

[2021-06-23 18:30] jonfortescue opened #7551 "Make the Stage-DotNet pipeline's continueOnErrors more granular"
Currently we're continuing on error for every step in every stage with an override. We could be more granular by using vso logging to fail / continue on error in very specific cases.

cc/ @adiaaida

[2021-06-23 19:24] ericstj commented on #7511
I believe this is a duplicate of https://github.com/dotnet/arcade/issues/2136

[2021-06-23 19:57] ericstj commented on #2136
This appears to have been fixed by @dougbu in https://github.com/dotnet/arcade/pull/4585/files#diff-ab264297f1e0d7296c8d69384a224e589d95ced59d203663d968dcc20f7d1e13R68

Note that the error may still appear if ApiCompat is not able to see that the types on both sides are equivalent, so in my repro above it will still fail *unless* I pass `--contract-depends`

[code]

[2021-06-23 19:57] #2136 closed

[2021-06-23 22:23] rbhanda opened #7554 "Tagging script not able to create tags for 5.0.301 SDK"
There was an issue with "\\vsufile\patches\sign\NET\NET_CORE\5.0.7\configs\manifests\manifest-204.json" which is used by the tagging script. Although, the manifest.json has both the 204 and 301 SDKs, the script created tags only for 204.

As a workaround, I copied "\\vsufile\patches\sign\NET\NET_CORE\5.0.7\configs\manifests\manifest.json" from the 5.0.301 SDK build and re-ran the tag creation

[2021-06-23 22:38] rbhanda opened #7555 "checksum mismatch between blob storage checksum files and files on blob after repo propogation"
"\\vsufile\patches\sign\NET\NET_CORE\6.0.0-preview.5\publish_files\vs_pipeline_json\6.0.0-preview.5-sha.txt" the checksum file did not match the files hosted on \\vsufile\patches\sign\NET\NET_CORE\6.0.0-preview.5\publish_files\files_to_publish or on the blob storage after repo propagation stage.

[2021-06-23 23:01] adiaaida commented on #7554
These are the locations where this is happening:

https://dev.azure.com/dnceng/internal/_git/dotnet-release?path=%2Fsrc%2Fscripts%2Frepo-tagging%2Frepo-tagging.ps1&version=GBmacos-signing-changes&line=233&lineEnd=234&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents

Basically, we assume that if we've found more than one entry for a particular repo, we only consider the first, which ma

[2021-06-23 23:04] adiaaida opened #7556 "Automatically tag Stage-DotNet builds"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When we run Stage-DotNet, it is still difficult to find the builds when we want to connect it to Release-DotNet. We believe tagging the builds with release versions and final builds with some sort of final tag will greatly improve the user experience for releases.

Using the azdo logging commands for tags, we should:

1. T

[2021-06-23 23:33] ericstj commented on #7511
Reactivating as this is specific to the scenario of no dependencies provided.

[2021-06-23 23:34] ericstj commented on #7511
Actually this is specific to no contract dependencies provided.

[2021-06-24 08:48] jakubstilec commented on #7514
[Aync Triage]: +1 that json everywhere would be very helpful. When I worked on a tool for m2m renaming I had to parse plain text output, which added a lot of additional work.

[2021-06-24 13:39] vlada-shubina opened #7560 "Generating templates localization files during the build"
dotnet/templating recently introduced support for .NET core templates localizing, and tool to simplify localization process.

We need to introduce run of template localizer as part of the build process so templatestrings.json files are automatically generated when building the project that contains the templates (if enabled). It would be extremely helpful to add it as arcade feature: it is needed

[2021-06-24 16:34] missymessa commented on #7514
To add, I was hoping to use this functionality to write a script that would allow me to know the earliest promoted version of Arcade a change showed up in, but because this command doesn't support JSON format, it's a pain to parse through the text results that are returned.

[2021-06-24 18:12] #2102 closed

[2021-06-24 19:37] peterwald opened #7562 "Unable to build a .NET Core project targeting Microsoft.NETCore.App"
A project is included in a mixed solution that targets Microsoft.NETCore.App. When built using arcade, the .NETCore app's build generates an Assembly.runtimeconfig.json file like the below:

[code]

There is nothing in the project that references windows desktop components and it is intended to be built as a portable .NET app.

My current workaround is to overwrite the Assembly.runtimeconfig.json

[2021-06-24 23:31] ericstj commented on #7504
Closing as I worked with @mconnew to resolve the break

[2021-06-24 23:31] #7504 closed

[2021-06-25 15:19] missymessa commented on #7377
Following up on this, while adding functionality to allow retries of tests, @ChadNedzlek attempted to refactor the existing Python scripts to have dependency injection support. Unfortunately, the attempt was scrapped as it was becoming unwieldly (among other issues). Based on that, I've also been in favor of rewriting these scripts using .NET Core.

[2021-06-25 22:45] adiaaida commented on #7456
Didn't manage to make much progress on this. Whoever works on this needs to reach out to @chcosta, who is the SignTool SME about how far the cancellation token should be plumbed through. The work, after that, should be relatively straightforward.

[2021-06-28 22:29] riarenas opened #7567 "Ensure msbuild from vs usage is validated in arcade or arcade-validation"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

We had a bug that went through the entire validation and promotion process without being caught because it only surfaces when using the desktop msbuild from vs (not the xcopyable one)

See: https://github.com/dotnet/arcade/pull/7558 and https://github.com/dotnet/arcade/pull/7563 for context.

We should make sure we have so

[2021-06-29 16:21] chcosta commented on #7456
This isn't quite straight-forward because signtool is just a wrapper around MicroBuild.  SignTool generates some MSBuild projects that include signing information, and MicroBuild target imports; but MicroBuild handles the actual signing.

[2021-06-29 18:16] epananth opened #7570 "Hook validation 3x plus tags to the release pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2021-06-29 22:14] LittleLittleCloud opened #7574 "Get build error "The property 'Prefer64bit' cannot be found on this object. Verify that the property exists." in the latest update"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

- build ID: 20210624.3
- commit: a68ec1edf328e737b31a09cb49e1929c28e91d0c
- link to insertion PR: https://github.com/dotnet/machinelearning-tools/pull/1116

[2021-06-29 22:50] riarenas commented on #7574
Fixed by: https://github.com/dotnet/arcade/pull/7564

MachineLearningTools has a weekly update cadence, so I had to trigger the subscription manually. I suggest moving to a daily update cadence so you don't get stuck with bad updates for an entire week.

[2021-06-29 22:50] #7574 closed

[2021-06-30 17:52] #7484 closed

[2021-06-30 20:48] radical commented on #7550
cc @lewing @akoeplinger @steveisok

[2021-07-01 18:59] safern opened #7585 "[API Compat] AttributeDifference is reported when same attribute appears multiple times with different ctor args"
Take the following values:

Left:
[code]

Right:
[code]

We would get an error:
[code]

There should be no error here.

The problem seems to be as we group attributes by constructor documentation ID, and then when comparing the groups, we noticed the right group has 2 entries and the left 1, and thus it is marked as changed:
https://github.com/dotnet/arcade/blob/7f52af24016a4b749a2c1f219105c0f5a71

[2021-07-06 16:00] dagood opened #7592 "Make SDL automation support broader: tar.gz/zip artifacts, extensible Guardian tool configurations"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

I worked on SDL requirements for a new repo, and had to make some changes to the Arcade SDL automation to make it fit. Main changes:
* Support tar.gz and zip artifacts, not just NuGet. (My repo only produces archives.)
* Make Guardian tool configuration more directly settable by the caller.
  * The set of tools to run, wha

[2021-07-06 16:07] markwilkie commented on #7592
My initial reaction is that this indeed sounds very reasonable at a high level.   And...thanks Davis for helping out.

Including @adiaaida (who's on vacation right this minute) as she might have input.  Also, it'd probably be wise to reach out to the Guardian folks as perhaps they have something in their pipeline as well.

[2021-07-06 23:44] crsuzukimsft opened #7593 "[Localization] Assistance with translation"
Could you please clarify the use of this string and the placeholder: "# API List of {0}"

Likewise, the string "# API Difference {0} vs {1}"  would need clarification about the placeholders and where it is used.

Is # translatable or does it represent some number or perhaps commenting?
Provide some examples.

[2021-07-08 09:14] cocowalla commented on #7348
Are details of this new certificate available? I can't find the thumbprint or subject name, or those of the issuing certificate, either here or over on https://github.com/dotnet/announcements/issues/184

[2021-07-08 13:47] adiaaida commented on #7592
This all sounds pretty reasonable to me, but I'd want to run it in the test staging pipeline to make sure it works well with our existing functionality.

[2021-07-08 16:05] riarenas commented on #7593
@ericstj these are about asmdiff https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.AsmDiff/xlf/Resources.es.xlf. Can you help @crsuzukimsft?

[2021-07-08 16:08] riarenas commented on #7514
I'm adding this to the dependency flow completeness epic. I don't think even removing the support meets the bar for FR.

[2021-07-08 16:29] riarenas commented on #7567
I would like this done as part of FR. These validation holes end up being really noisy when they manage to get to consumer repos. Not only do they end up blocking a dev's entire day while they follow the fix around and make sure it gets to repos, but it erodes the confidence in arcade updates. @ilyas1974 feel free to take it out if you think this is out of scope.

[2021-07-08 16:32] riarenas commented on #7554
@adiaaida does this make sense as part of your epic?

[2021-07-08 16:32] riarenas commented on #7555
@adiaaida is this something that happens in the release pipeline and should be part of the release epic?

[2021-07-08 16:34] adiaaida commented on #7554
Yes, it should be

[2021-07-08 16:35] adiaaida commented on #7555
Adding to the release epic

[2021-07-09 02:18] RussKie commented on #7574
This also blocks dotnet/winforms release/3.1 branch: https://github.com/dotnet/winforms/pull/5211/checks?check_run_id=3015332988

[2021-07-09 03:53] riarenas commented on #7574
@RussKie that's not the latest arcade build for the 3.x channel so its missing the latest fixes.

[2021-07-09 03:55] RussKie commented on #7574
So what are our options? Give it a bit more time?

[2021-07-09 05:28] RussKie commented on #7574
Here's another one: https://github.com/dotnet/wpf/pull/4813/checks?check_run_id=3011268415

/cc: @dreddy-work @ryalanms

[2021-07-09 08:38] lukas-lansky commented on #7574
@RussKie Looking into your subscription:

[code]

I can see you don't update Arcade automatically (`Update Frequency: None`). Therefore, I will trigger it manually like this:

[code]

This updated this already existing PR from two days ago: https://github.com/dotnet/winforms/pull/5211 . We just need to merge it now.

[2021-07-09 08:41] lukas-lansky commented on #7574
I did the same for WPF: https://github.com/dotnet/wpf/pull/4813

[2021-07-09 08:54] lukas-lansky commented on #7574
Interesting, the fix isn't present in Arcade's 3.x servicing branch. Let's fix it here: https://github.com/dotnet/arcade/pull/7604 . As soon as that's merged, I will trigger the subscriptions again.

[2021-07-09 19:04] michaelgsharp opened #7607 "eng/common/cross/toolchain.cmake incorrect default compiler options."
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When cross-targeting for arm `eng/common/cross/toolchain.cmake` adds the `-mthumb` flag. If the `-mthumb` flag is added but the `-fPIC -march=armv7-a` flags are not added then it compiles for armv6 or v5 and uses thumb instead of thumb2, which is quite different. One of the differences with thumb is that its 16 bits, which

[2021-07-09 20:05] markwilkie commented on #7607
@jeffschwMSFT - who are the right people to talk to about the ramifications of removing the flags for x-compile?

[2021-07-09 20:26] markwilkie commented on #9
closing as it's super old and I *think* is covered sufficiently elsewhere.  Feel free to reopen if that's not the case.

[2021-07-09 20:26] #9 closed

[2021-07-09 20:28] #151 closed

[2021-07-09 20:32] markwilkie commented on #419
I haven't heard much about this still being a thing, so am closing.  (but feel free to reopen of course)

[2021-07-09 20:32] #419 closed

[2021-07-09 20:33] markwilkie commented on #440
throwing out for triage

[2021-07-09 20:33] #863 closed

[2021-07-09 20:34] #889 closed

[2021-07-09 20:34] #923 closed

[2021-07-09 20:35] markwilkie commented on #1103
thoughts on this @tmat ?

[2021-07-09 20:35] #1110 closed

[2021-07-09 20:35] #1151 closed

[2021-07-09 20:36] #1213 closed

[2021-07-09 20:36] #1248 closed

[2021-07-09 20:37] #1253 closed

[2021-07-09 20:38] #1276 closed

[2021-07-09 20:39] #1464 closed

[2021-07-09 20:39] #1481 closed

[2021-07-09 20:39] #1482 closed

[2021-07-09 20:39] #1534 closed

[2021-07-09 20:40] #1539 closed

[2021-07-09 21:17] jeffschwMSFT commented on #7607
Adding @janvorli and @jkoritzinsky who have a lot of knowledge about compiler flags.

[2021-07-09 21:27] janvorli commented on #7607
The thing is that we set some compiler flags in the eng/common/cross/toolchain.cmake that comes from arcade, but the dotnet/runtime build then sets them in its local eng/native/configurecompiler.cmake. The toolchain.cmake is used only for cross compilation, but not for native compilation. But both cross and native compilation use eng/native/configurecompiler.cmake.
E.g. for Linux arm, one can buil

[2021-07-09 21:28] janvorli commented on #7607
(@michaelgsharp has created this issue after our discussion on the problems he was having due to this discrepancy)

[2021-07-12 20:27] #7515 closed

[2021-07-12 21:08] #7483 closed

[2021-07-12 21:08] #5538 closed

[2021-07-12 21:08] #7270 closed

[2021-07-12 21:08] #6777 closed

[2021-07-12 21:22] adiaaida commented on #5977
While this isn't completely done, I believe it is done as well as it will be for now. Closing.

[2021-07-12 21:22] #5977 closed

[2021-07-12 21:23] adiaaida commented on #5494
@vseanreesermsft implemented the internal branch merge and it was run on the release last month. Closing.

[2021-07-12 21:23] #5494 closed

[2021-07-12 21:24] #5631 closed

[2021-07-12 21:24] adiaaida commented on #6436
This seems no longer necessary. Closing.

[2021-07-12 21:24] #6436 closed

[2021-07-12 21:24] adiaaida commented on #6437
This seems no longer necessary. Closing.

[2021-07-12 21:24] #6437 closed

[2021-07-12 21:28] adiaaida commented on #7200
@mmitche I think I am going to close this issue as I don't actually think it's feasible to use add-build-to-channel in the way you've suggested. I am more in favor of simply updating the .net version dotnet-release uses so that it can get arcade updates automatically instead of on demand. Thoughts?

[2021-07-12 21:30] adiaaida commented on #7210
@jonfortescue This seems like it may be something we want to explore as part of the staging environment work (though it also seem unrelated at the same time).

[2021-07-12 21:31] adiaaida commented on #7280
I added some retries to SourceLink. Closing.

[2021-07-12 21:31] #7280 closed

[2021-07-12 21:31] adiaaida commented on #6819
@vseanreesermsft implemented the internal branch merge and it was run on the release last month. Closing.

[2021-07-12 21:31] #6819 closed

[2021-07-12 21:35] missymessa commented on #6580
I did this already! :)

https://github.com/dotnet/arcade/blob/main/src/Common/Microsoft.Arcade.Common/MSBuildTaskBase.cs

[2021-07-12 21:35] #6580 closed

[2021-07-12 21:37] missymessa commented on #5546
Closing this as validation-for-promotion no longer runs as a part of the regular Arcade Validation process.

[2021-07-12 21:37] #5546 closed

[2021-07-12 21:37] missymessa commented on #5232
No longer manually promoting Arcade, so folks can use darc/BARViz/Maestro++ to look up the status of Arcade.

[2021-07-12 21:37] #5232 closed

[2021-07-12 21:38] adiaaida commented on #5482
I have checked in the *hopefully* final change for this work. After the next 3.1 release (ie, not the one currently in the pipeline as I believe it was started before I checked in my changes, but the one following), hopefully we can close this out.

[2021-07-12 22:32] dagood commented on #6520
I ran into this when I got a TSA email that didn't include any branch info. (This could have been alarming, but luckily for me I only have my dev branch hooked up to TSA so far. 😄)

I investigated a little and started a thread with Guardian support to get to the bottom of it. It turns out the Arcade scripts pass the branch name to an arg that doesn't do anything, `--branch-name {x}`. Instead, you

[2021-07-13 16:58] jonfortescue commented on #7516
With succeeds-with-error, I'm not sure this is a priority after all. Closing for now.

[2021-07-13 16:58] #7516 closed

[2021-07-13 17:35] #7190 closed

[2021-07-13 17:35] #7570 closed

[2021-07-13 18:27] jonfortescue opened #7613 "Stage-DotNet should test publishing packages in a real sort of way"

[2021-07-13 19:56] #7592 closed

[2021-07-13 20:33] epananth opened #7615 "Dependency Error Updater should create issues in Core-eng for infra errors and in customer repos for repo related errors"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Currently dependency error updater opens issues in core-eng if the dependency update fails.

We need a way to differentiate between infra error vs repo error, so that we can open issues in customer repos if they are repo specific errors. This will reduce triage noise.

cc: @riarenas  @ChadNedzlek

[2021-07-13 21:39] riarenas commented on #7615
I think adding the ability to bucketize the errors into categories that we could assign to repos or ourselves would be useful, but I think it's a fairly substancial rework of how the error processor works right now.

[2021-07-13 22:24] riarenas opened #7616 "Investigate SDL errors in arcade's release/3.x and release/5.x branch"
- [X] This issue is blocking
We might not be reporting SDL issues correctly.

Arcade's official build in the release branch is failing with SDL errors. The errors say they are blocking, but the step still succeeds. We should understand:

* [ ] is this a real sdl issue? if so, fix it.
* [ ] Is it expected for these errors to fail the sdl step, and if so, why aren't we failing?

Example build: https

[2021-07-13 22:25] riarenas commented on #7616
I'm... not sure how I made this an epic.

[2021-07-14 01:16] MattGal opened #7617 "Consider running restore first & separately in eng/common build scripts when -restore flag set"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

This comes as a suggestion from the Azure DevOPs team for dealing with when their public package feeds get overwhelmed.  We directly call Msbuild with all the flags today in build.sh / build.ps1, this would simply be to run a separate restore first when the -restore flag is set.

I don't think so, nor do I have data that t

[2021-07-14 16:29] chcosta opened #7620 "Modernize Windows insertion tool"
There is a desire to improve the Windows insertion tool and leave this space better than we found it.  I have some ideas for how this could be done and need to discuss with area experts.

[2021-07-14 18:22] epananth opened #7621 "Signtool telemetry fails for Linux files in release pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Signtool telemetry errors after signing linux files in release pipeline.

This is the error

[code]

this is sample build -> https://dev.azure.com/dnceng/internal/_build/results?buildId=1227813&view=logs&j=d7f318d2-3658-5f56-29df-16b211ec56a6&t=7851342b-b7f6-561e-0dbe-e63708dfa83e

Versions :

SignToolVersion : 6.0.0-beta.

[2021-07-14 18:39] riarenas commented on #7621
This looks like a potential error in how the job is configured as part of the release pipeline. Is this just tracking ongoing work or does it really need triage and an RCA?

[2021-07-14 18:40] chcosta commented on #7621
Is this the issue we already discussed or is this a different issue?if it's the same issue, you should probably include some of the info discovered during previous investigations. Thank you!

[2021-07-14 21:07] alexperovich commented on #7413
How is source-build re-targeting the projects? Is it just modifying the project to have a different TFM?

Changing the build targets in the packages to work when the TFM is changed is a very non-trivial change. We would need to make the targets files essentially be templates that have the TFM part filled in as part of the build before packing. Considering we have no usable templating task or targe

[2021-07-14 21:19] epananth commented on #7621
I could not find what was causing this error, the same versions for signToolTask works for other files signing in release pipeline.

I did a bunch of test around this. I put signing of linux in the same stage as signing of other files

For example : this is where we sign all the non-linux files

https://dev.azure.com/dnceng/internal/_build/results?buildId=1233701&view=logs&j=9ff0e0af-24e7-5b0f-fa7

[2021-07-14 21:23] riarenas commented on #7621
I think this issue should be dealt with by the work that is trying to adapt signtool for new usage. So if this is happening as part of the release epic, it should go into the current release epic that is doing that work.

I'm also still unsure on why this has the RCA requested label.

[2021-07-14 21:24] epananth commented on #7621
So for now I am disabling telemetry in linux files to continue with my epic, but we need to understand why this is happening only linux files. So I added RCA tag to this. But I am not sure where this issue should go.

[2021-07-14 21:25] riarenas commented on #7621
Does the same error happen when the tool runs as part of the old linux signing pipeline?

[2021-07-14 21:27] epananth commented on #7621
No it does not error in old signing pipeline.

Old linux signing uses old versions of signtool

SignToolVersion : 1.0.0-beta.18576.5
FeedTaskVersion : 2.2.0-beta.19280.3

I don't think these even captured telemetry at any point

[2021-07-14 21:28] alexperovich commented on #7343
We shouldn't need cross-process mutexing. The LocalGit thing is a singleton, thus one-instance-per-service-instance, and we use the service isolated storage, so it shouldn't collide with anything.

[2021-07-14 21:28] adiaaida commented on #7621
The old linux signing pipeline used an extremely old version of sign tool.

Epsi has spent quite a bit of time trying to figure out why this isn't working properly, and we don't have signing experience. *Something* is going wrong, but we don't know what it is. @markwilkie asked her to open an RCA issue for someone to figure out what's going on here (ie, what is different between what the linux stu

[2021-07-14 21:29] adiaaida commented on #7621
For the record, this isn't actually a problem with signing itself, but the telemetry stuff after signing. There's probably something we are missing, but we can't see what it is.

[2021-07-14 21:29] riarenas commented on #7621
I think the issue itself is an RCA then. The RCA label makes it so that once this issue is closed it will create another issue asking what happened. I don't think this is what we want in this case, and this issue instead is trying to understand what's going on.

[2021-07-14 21:30] adiaaida commented on #7621
Yes, that's correct.

[2021-07-14 21:33] riarenas commented on #7621
For triage, I still think this should be handled by the epic that is trying to adapt the tool to their new scenario, as there aren't any plans for ongoing work on the signtool.

Alternatively, if the workaround is something we can ship with, it can go into the [signtool is complete epic](https://github.com/dotnet/arcade/issues/1270) to be dealt with when it's funded.

[2021-07-14 21:45] alexperovich commented on #7343
I also can't see any evidence of this happening at all anymore. It happened for a single 90 second period on the 30th. The code all does the right thing, so this very much feels like something else was running on the machine and messing with our files. Like defender or just windows things.

[2021-07-14 21:51] riarenas commented on #7343
I'm fine with closing until it comes back. The 30th was a rollout day, so there might have been Service fabric-y things going on besides just the normal operations.

[2021-07-14 21:51] riarenas commented on #7343
Didn't mean to actually close it.

[2021-07-14 21:52] alexperovich commented on #7343
I did.

[2021-07-15 02:02] adiaaida commented on #7621
This appears to be the same issue: https://github.com/microsoft/ApplicationInsights-dotnet/issues/2058

[2021-07-15 15:37] chcosta commented on #7621
Agreed. I mentioned that in previous discussions, and also that it's unclear when / if it will be fixed.  The quirk being that the appinsights issue is specifically related to core, but sign tool runs on framework.  Here was my comment around that...

I think you're hitting a bug in appinsights.  TypeInitializationException thrown for trimmed applications (worked in beta2 and prior) · Issue #2058

[2021-07-15 16:01] ryalanms opened #7630 "Undo workaround for inboxed analyzers after updating to Preview 7"
Undo workaround for inboxed analyzers after updating to Preview 7

WPF, WinForms, and WindowsDesktop required this Arcade change.  After updating to Preview 7, remove Exclude inboxed analyzers from VerifyClosure task #7624

[2021-07-15 17:42] adiaaida opened #7631 "Point aka.ms links for preview and GA to CDN location"
Currently, they are pointed to dotnetcli.blob.core.windows.net. They need to point to the CDN location

[2021-07-15 17:52] riarenas opened #7632 "Delete Darc_GitHubFlow_NonBatched_AllChecksSuccessful scenario test from arcade-services"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain
This test is flaky and causes several builds a week to fail. It currently has a 65% pass rate (over 30 days) in staging.

This particular test has caused a lot of CI builds to fail in staging, and it's also unnecessary. The `Darc_GitHubFlow_AutoMerge_GithubChecks_AllChecksSuccessful` test covers the exact same scenario, exc

[2021-07-15 17:59] epananth commented on #7621
Yes I followed up and created an issue in application insights -https://github.com/microsoft/ApplicationInsights-dotnet/issues/2323 no response yet.

[2021-07-15 18:37] #2134 closed

[2021-07-15 20:08] adiaaida commented on #7631
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/16748

[2021-07-15 20:09] adiaaida commented on #5484
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/16705

[2021-07-15 20:09] adiaaida commented on #7556
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/16626

[2021-07-16 02:34] AlitzelMendez commented on #7617
This is the PR in which I was trying to do this: https://github.com/dotnet/runtime/pull/55788/checks?check_run_id=3082091301

I will be OOF tomorrow so probably @ChadNedzlek can continue to look at this.

[2021-07-16 03:00] JunTaoLuo opened #7636 "Publish task PublishArtifactsInManifest failing in AspLabs pipeline"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

I see that the publishing step of the AspLabs hasn't passed in a long time: https://dnceng.visualstudio.com/internal/_build?definitionId=249&_a=summary and the error suggests something is wrong in the task `PublishArtifactsInManifest` in arcade. It looks like my attempt didn't fix it so I'm hoping someone can help from Arc

[2021-07-16 03:17] JunTaoLuo commented on #7636
BTW the Arcade version in the repo is 6.0.0-beta.21357.3 which is relatively new.

[2021-07-16 05:53] epananth commented on #7636
Since you are using latest arcade version, its better to move to V3 publishing, that error should go away after that

https://github.com/dotnet/arcade/blob/main/Documentation/CorePackages/Publishing.md#how-to-upgrade-from-v2-to-v3

[2021-07-16 06:01] epananth commented on #7636
We made sure we still support older publishing version when I added parallelism to the publishing infra 3. But that being said, its best to get on boarded with V3 publishing since its the latest and makes publishing lot more cleaner.

V3 publishing -> https://github.com/dotnet/arcade/blob/main/Documentation/CorePackages/Publishing.md#what-is-v3-publishing-how-is-it-different-from-v2

[2021-07-16 11:24] markwilkie commented on #7632
I agree with removing the test.  Thanks Ricardo.

[2021-07-16 12:50] markwilkie commented on #7373
closing due to diminished interest.

[2021-07-16 12:50] #7373 closed

[2021-07-16 12:54] markwilkie commented on #7562
Hi @peterwald - did you get this sorted?  I don't think this is quite the right team to help, although we'd be happy to try and find someone.

Closing for now, but as I said, we're happy to help.

[2021-07-16 12:54] #7562 closed

[2021-07-16 12:59] markwilkie commented on #7607
Sounds like this is sorted so am closing.  @michaelgsharp - feel free to reopen if you need more of course.

[2021-07-16 13:02] markwilkie commented on #7615
This one seems to be getting out of control a bit.  @mmitche - thoughts on what to do with all of these dependency update errors?

I think the challenge here is to differentiate the noise from the real errors.

[2021-07-16 13:03] markwilkie commented on #7621
Moving to signtool is complete

[2021-07-16 15:16] MattGal commented on #7617
@ChadNedzlek please keep this moving, but I think Ali's experiment shows what we wanted to see:

- An explicit extra build that (at least tries to be) purely a restore before the normal build does cause the behavior that Azure Devops claims could make package feed access more reliable (could probably skip the first one's binlog)
- "Build Mono LLVM AOT cross compiler" pipeline needs to be investiga

[2021-07-16 19:56] MattGal opened #7639 "DarcCoherencyException is not serializable, breaks logging for non-coherent dependency update"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

As automatedly reported by https://github.com/dotnet/core-eng/issues/13727, we need to make Microsoft.DotNet.DarcLib.DarcCoherencyException  de-serializeable (Writing a simple ctor overload should solve this).

Users have the mitigation step (after education) of just running `darc update-dependencies` locally and seeing th

[2021-07-16 21:59] riarenas opened #7640 "Remove name mangling workaround from gather-drop operation"
- [X] This issue is blocking
Blocking gathering the drop for 3.1 build
- [ ] This issue is causing unreasonable pain

During the 3.0 timeframe, some blobs were being published with an incorrect version if the asset contained an architecture identifier. Assets such as `assets/symbols/VS.Redist.Common.NetCore.Templates.x64.<version>.symbols.nupkg` would record a version identifier of `64.<version>`.

[2021-07-16 21:59] riarenas commented on #7640
https://github.com/dotnet/arcade-services/pull/1678 fixes this

[2021-07-16 23:35] epananth commented on #7636
@JunTaoLuo can we close this issue?

[2021-07-17 21:43] JunTaoLuo commented on #7636
I'm still having trouble. It passed on an internal build but the [official build](https://dnceng.visualstudio.com/internal/_build/results?buildId=1243394&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073) fails with

[code]

Is there some darc configuration that I need to update for this to work?

[2021-07-19 04:37] #7640 closed

[2021-07-19 04:38] #7632 closed

[2021-07-19 17:54] MattGal commented on #7456
This is much more complex than we thought and does not have much ROI, closing.

[2021-07-19 17:54] #7456 closed

[2021-07-19 19:53] michaelgsharp commented on #7607
@markwilkie I have the issue sorted in my repo, but as far as I know the discrepancy that @janvorli pointed out still exists in Arcade itself.

I think it would be good to re-open this issue to track the resolution of this in Arcade so that anyone else who onboards to arcade doesn't run into this same issue. Otherwise if the new repo doesn't have the right flags set, every new onboarding experienc

[2021-07-19 20:04] peterwald commented on #7562
@markwilkie It looks like it's been fixed after updating our repo to the 6.0 dotnet SDK.

[2021-07-19 20:16] AlitzelMendez commented on #7617
I am currently working into: `"Build Mono LLVM AOT cross compiler" pipeline needs to be investigated as it may have found a case where this doesn't work`
I am running a new build with small changes.

[2021-07-19 20:20] MattGal commented on #7617
Given the FR backlog, I don't think this is worth too much more of your time; the fact that we hit weird problems trying to do this on the first repo tried, I think it's a strong indicator for "avoid doing this".

[2021-07-19 22:33] ChadNedzlek commented on #7545
I'm going to grab the data here. It should be pretty trivial to see how many "PublishBuildArtifacts" tasks failed in a time period, since this is recorded in the timeline data.

[2021-07-19 22:38] ChadNedzlek commented on #7545
Data!
![image.png](https://images.zenhubusercontent.com/58584e04b9dc3c622023c43a/92e4b6df-d656-4e6c-8cd6-ea9ca82e340b)

I'm not sure what we want to do with this, so I'm putting it back on the backlog. :-)

[2021-07-19 22:42] ChadNedzlek commented on #7485
I'm not sure what the ask is here for this one.  It sounds like it's just guidance of "this scenario isn't designed to work"? @riarenas

[2021-07-19 22:44] ChadNedzlek commented on #7413
Based on what Alex says, this sounds like it's not really of a size FR can tackle... we essentially have to build a totally new language/build construct to make source buildable tasks?  That's... a lot... it sounds like it needs a design and review and testing and deployment plans...

[2021-07-19 22:45] ChadNedzlek commented on #7413
It also sounds like source-build should validate as part of arcade... like it shouldn't be possible for PR's to break source build randomly, and it doesn't sound like there is any sort of validation around that, which is _also_ a ton of work.  This sounds like a whole epic...

[2021-07-19 22:46] ChadNedzlek commented on #7363
@ilyas1974  Since it's been months, I don't think FR has the bandwidth to do this. And since it doesn't fit that charter, that means it probably needs to go.  I'm punting it out.

[2021-07-19 22:47] ChadNedzlek commented on #7262
@ilyas1974 This is just sitting on the backlog, and isn't blocking anything.  I'm going to bounce out for triage.

[2021-07-19 22:48] riarenas commented on #7485
Yeah, the issue is not very clear in what it asks for, and the build is already gone, so I can't check if my summary is correct at the top.

I don't think it's correct to not translate.

[2021-07-19 22:52] riarenas commented on #7485
Ugh, ended up hitting the wrong key and it closed the issue with half finished thoughts.

I think this is a somewhat unsupported scenario, but it also seems like there's a bug in the publish build assets job, where we say that we found a default channel that should trigger the publishing, but at the same time we don't actually publish so users end up confused. Since I'm in FR this week I'll take a

[2021-07-20 00:04] AlitzelMendez opened #7647 "Running restore first & separately in eng/common build scripts"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Per Azure DevOPs team suggestion a build was ran having a separate restore first in build.sh/build.ps1, right before another restore. This means having two restore (when the restore flag is set)

Sharing the pr in which this was tested: https://github.com/dotnet/runtime/pull/55788

Our findings were:

* An explicit extra b

[2021-07-20 13:08] lpatalas commented on #7616
I think the step is not failing because of the same issue that we solved on `main` some time ago: https://github.com/dotnet/core-eng/issues/13247. We use `$LASTEXITCODE = 0` at the top of the file which shadows global `$LASTEXITCODE` variable and then we only check this local one which is always 0. I'm currently testing a fix.

[2021-07-20 15:49] mmitche commented on #7200
Fine by me.

[2021-07-20 15:49] #7200 closed

[2021-07-20 15:50] mmitche commented on #6819
Woo!

[2021-07-20 16:00] lpatalas commented on #7616
The certificate that SDL is complaining about is for UWP test runner. It was used to sign the installation package. It's expired since 2019 and I'm pretty sure it's basically useless at this point. I think the easiest solution would be to remove the certificate because the runner is built manually and if anyone wants to build it then they will need to generate a fresh certificate anyway. I'm not s

[2021-07-20 16:09] riarenas commented on #7616
I think I remember @alexperovich knows something about this cert so he might have more context. It sounds like removing it is safe, especially since we deleted it in main.

[2021-07-20 16:10] riarenas commented on #7616
we removed everything about that here: https://github.com/dotnet/arcade/pull/4110. Maybe @ViktorHofer can confirm that we can remove it just the same in the release branch.

[2021-07-20 16:45] ilyas1974 commented on #7545
@ChadNedzlek

- can sure a link on where you pulled this data from so we can add that to our knowledge base.
- The data you linked above shows Failures (I'm assuming). Do you have data on how those failures numbers compare to the overall?

@missymessa
- have you heard of any additional instances of this more recently than a month ago?

[2021-07-20 16:47] ilyas1974 commented on #7567
I think we can handle this in FR. As this does not have direct customer impact at this time, it will be something we address as time allows.

[2021-07-20 16:48] ilyas1974 commented on #7647
@AlitzelMendez, what is the action here for us?

[2021-07-20 16:49] missymessa commented on #7545
I don't know of any other instances of this, but it's likely to occur again if no changes are made.

[2021-07-20 16:54] ilyas1974 commented on #7485
Putting this issue in breakdown and assigning to @riarenas to gather some more data for this issue.

[2021-07-20 17:03] ilyas1974 commented on #7413
Based on the comments above, the immediate need that put this into FR has been mitigated (this issue has been open since May and has not been "hot" since then. Based on @ChadNedzlek comments, this is much bigger than FR - sending back to triage.

[2021-07-20 17:20] riarenas commented on #7647
What's the difference between this one and https://github.com/dotnet/arcade/issues/7617?

[2021-07-20 18:21] AlitzelMendez commented on #7647
As a result of this test we realize that doing this change it's not as straightforward as it should be as "Build Mono LLVM AOT cross compiler" failed what showed us that could be bad repercussions in doing this change that could impact more repos that rely on this.

Closing this issue.

[2021-07-20 18:21] #7647 closed

[2021-07-20 18:21] AlitzelMendez commented on #7617
As a result of this test we realize that doing this change it's not as straightforward as it should be as "Build Mono LLVM AOT cross compiler" failed what showed us that could be bad repercussions in doing this change that could impact more repos that rely on this.

Closing this issue.

[2021-07-20 18:21] #7617 closed

[2021-07-20 19:47] ChadNedzlek commented on #7545
It's the same place we pull all of our data from: Kusto.

[2021-07-20 19:50] ChadNedzlek commented on #7545
The number of builds is enormous.  This task ran 600,000 times. we failed 418 times. So 0.7%, I think.

[2021-07-20 20:55] epananth commented on #7636
I checked the repo, you are using the latest version of arcade sdk but all other version like maestro task is using old version
Please update this to the latest version and that should be help.

Right now, you are (since you are using the older task versions for maestro task https://dev.azure.com/dnceng/internal/_git/dotnet-arcade?path=%2Feng%2FVersions.props&version=GBmain&line=82&lineEnd=83&line

[2021-07-20 20:57] ChadNedzlek commented on #7545
Percentage per day version:
![image](https://user-images.githubusercontent.com/11790765/126394470-bb41bdcc-d9df-4716-ae70-92add861b816.png)

[2021-07-20 21:31] epananth commented on #7636
I looked at the version.props for your repo

https://dnceng.visualstudio.com/internal/_git/aspnet-AspLabs?version=GBmain&path=%2Feng%2FVersions.props, it has to have dependency on MicrosoftDotNetBuildTasksFeed task.

@riarenas  please correct me if I am wrong here.

[2021-07-20 21:32] missymessa commented on #7545
I know the last time this happened, DanM wanted an IcM ticket for this.

[2021-07-20 21:32] riarenas commented on #7636
It's actually not expected that a repo would have a reference to the maestro build tasks. That should come with Arcade.

[2021-07-20 21:33] ChadNedzlek commented on #7545
1% is pretty high for failures.

[2021-07-20 21:50] riarenas commented on #7636
I think I see the problem, and it's silly.

https://github.com/aspnet/AspLabs/blob/main/eng/Publish.props needs to be renamed to Publishing.props so that the Arcade SDK will try to read from it.

[2021-07-20 21:51] alexperovich commented on #7545
If there are 100 attempts in a build, and each attempt fails 1% of the time, thats a 63% failure rate for that build.

[2021-07-20 21:53] JunTaoLuo commented on #7636
Oh, duh... oops.

[2021-07-20 21:56] riarenas commented on #7636
Hopefully that's all it takes, but since this is blocking, moving this to FR to keep assisting if needed.

[2021-07-20 21:57] epananth commented on #7636
thanks @riarenas !

[2021-07-20 21:58] ChadNedzlek commented on #7545
*nods* Indeed, failures are multiplicatively bad, and our builds are _huge_.  I'll try an tweak this to "number of builds that had a failure"

[2021-07-20 22:04] ChadNedzlek commented on #7545
![image](https://user-images.githubusercontent.com/11790765/126401309-89f93e0a-1f9d-44f9-ba74-92b4ecc2a6c2.png)

[2021-07-20 22:05] ChadNedzlek commented on #7545
Apparently if we categorize it by "Builds that had one of these failures" it spiked almost to 10%, which is really bad.

[2021-07-20 22:08] riarenas commented on #7545
Does this overlap with https://github.com/dotnet/core-eng/issues/13786 at all? If so there's a bunch of those that are entirely on us and not on azure devops.

[2021-07-20 22:10] ChadNedzlek commented on #7545
I don't think we have any code inside the PublishBuildArtifacts task. That's just a task in AzDO.  It's possible we are giving it bad inputs, it's hard to differentiate those with the data I have available unless someone can tell me how to differentiate them or what to look for. :-)

[2021-07-20 22:13] riarenas commented on #7545
There are two ways in which we upload to azure artifacts:

* using a logging command (like all the failures in the above issue, they are trying to upload the same artifact from multiple legs at the same time, which makes azdo just not know what's going on)
* using the publishBuildArtifacts@1 task

Mainly wondering if how we're looking at these includes both types, or only when we call the task dir

[2021-07-20 22:17] ChadNedzlek commented on #7545
The graphs I added ONLY take into account the "PublishBuildArtifact" task failures.  Not any of the logging commands.

[2021-07-20 22:18] riarenas commented on #7545
Awesome, that way we can tell them we're not conflating both things.

[2021-07-20 22:36] JunTaoLuo commented on #7636
Looks like that fixed it. Thanks all @riarenas @epananth

[2021-07-20 22:36] #7636 closed

[2021-07-21 12:57] ilyas1974 commented on #7545
Now that we have data, what are the next steps here?

[2021-07-21 14:48] riarenas commented on #7485
The issue is too vague and we lost the builds that had the logs. I'm not able to reproduce this behavior.

[2021-07-21 14:48] #7485 closed

[2021-07-21 14:51] lpatalas commented on #7616
We have the same issue related to the usage of `$LASTEXITCODE = 0` on `release/5.0`. I think it makes sense to also fix it there because it can bite us sooner or later.

[2021-07-21 17:42] lpatalas commented on #7616
I've created PR with the `release/3.x` changes: https://github.com/dotnet/arcade/pull/7654. I also have the same fixes prepared for `release/5.0` branch but I will wait with them until we merge 3.x so that I don't have to do the same fixes twice.

[2021-07-21 21:49] epananth commented on #7243
Optimization repo is using arcade to publish, closing this epic :)

[2021-07-21 21:49] #7243 closed

[2021-07-22 00:29] MichaelSimons commented on #7413
Yes it builds for a different TFM.  As mentioned earlier, it seem like Arcade should just upgrade all dependencies to net6.0 so that we have a consistent story across the stack.

[2021-07-22 00:33] alexperovich commented on #7413
I'm asking about the actual mechanics of "build for a different TFM"

what does it actually do to the projects to make this happen?

[2021-07-22 06:07] ViktorHofer commented on #7413
We don't have a blocking label, right? Wanted to add one as even though this issue is open since May, it's still blocking sourcebuild to produce 6.0 bits.

Exactly that. Arcade should use `net6.0` instead of `netcoreapp3.1` everywhere to avoid differences in TFMs between a normal and a sourcebuild. The original change that created the divergence wasn't right IMHO. Who owns doing that? Last time th

[2021-07-22 06:18] ViktorHofer commented on #7616
Feel free to remove it entirely. We don't test for Uap in the release branches anymore.

[2021-07-22 13:05] dseefeld commented on #7413
In source-build, we add patches to build for the current TFM when building from source.

[code]

[2021-07-22 16:00] #7556 closed

[2021-07-22 16:00] #7631 closed

[2021-07-22 16:03] #7497 closed

[2021-07-22 16:22] MattGal opened #7658 "Extend existing mac signing / notarization pipeline to handle .tar.gz"
Details to come.  After two aborted prototypes, for both perf and expediency I will be updating the existing pipelines to use python 3 and understand .tar.gz in the same workflow, as it seems direct usage of the ESRP task is massively faster than the Microbuild version.

[2021-07-22 16:59] ViktorHofer commented on #1534
@markwilkie afaik this is still an issue.

[2021-07-22 17:39] ChadNedzlek commented on #7545
The data shows that it's fairly low now. And given the current problems with AzDO, opening an IcM saying it was a problem 2 weeks ago probably won't get a lot of traction.

This feels like a good place to use @AlitzelMendez new feature: if PublishBuildArtifacts fail, maybe trigger a retry?

[2021-07-22 19:03] alexperovich commented on #7413
If you are already adding patches then I would suggest just patching the targets files too. Making this work in general is a very large sized work item. This basically requires hooking up build steps that can run a template to produce the targets file output, rather than just including the targets file directly.

[2021-07-22 19:12] AlitzelMendez commented on #7545
dotnet/installer is already using the Build Retry since Monday/Tuesday.

[2021-07-22 20:55] ChadNedzlek commented on #7545
Yup, but this would let us pave over it in other repos too.  It's unfortunate that you need to basically do the whole build part again because the very last leg failed, but it's better than failing the whole build

[2021-07-23 14:06] ilyas1974 commented on #7616
Once the changes have been merged in the 3.x branch, we need to perform the same changes to our 5.x branch.

[2021-07-23 14:12] lpatalas commented on #7616
I have the changes prepared for `release/5.0` on the separate branch: https://github.com/dotnet/arcade/tree/lupatala/fix-sdl-5.0.

[2021-07-23 15:20] mmitche opened #7660 "Arcade publishing failing for files over 2GB"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Blocking the installer build promotion in main right now. The source tarball is > 2GB. https://dev.azure.com/dnceng/internal/_build/results?buildId=1255098&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

[2021-07-23 15:28] riarenas commented on #7660
I think this is https://stackoverflow.com/questions/18720435/httpclient-buffer-size-limit-exceeded, when making the request, httpclient tries to allocate a buffer for the response contents, but it exceeds [MaxResponseContentBufferSize](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.maxresponsecontentbuffersize?view=net-5.0) and fails. We might be able to just set the httpco

[2021-07-23 18:46] hoyosjs opened #7663 "NugetAuth task should run on internal PRs by default (Port to release branches)"
After #7580, an internal feed is automatically added but the [job template](https://github.com/dotnet/arcade/blob/c5d8214ed77ba3abc86337e870e8568deb14a93a/eng/common/templates/job/job.yml#L117) only does nuget auth if not in the public. This is not friendly with internal PRs - say for MSRC ones. NugetAuth should happen automatically if not running in the public project.

cc: @mmitche

[2021-07-23 18:51] mmitche commented on #7663
@hoyosjs Do you have a link to a failing build? I've seen a bunch of places where it is working.

[2021-07-23 18:55] hoyosjs commented on #7663
https://dev.azure.com/dnceng/internal/_git/dotnet-diagnostics-internal-components/pullrequest/16604

https://dev.azure.com/dnceng/internal/_git/dotnet-diagnostics-internal-components/pullrequest/16871

[2021-07-23 19:04] ChadNedzlek commented on #7545
Given that it looks like the incidence right now is really low, I'm going to close this.

[2021-07-23 19:04] #7545 closed

[2021-07-23 21:42] riarenas commented on #7660
Still requires updating arcade's main branch: https://github.com/dotnet/arcade/pull/7664

[2021-07-24 00:10] riarenas commented on #7660
Installer build https://dev.azure.com/dnceng/internal/_build/results?buildId=1256225 was able to publish using the new sdk.

[2021-07-24 00:10] #7660 closed

[2021-07-24 00:27] MattGal commented on #7658
Getting pretty close on this:  https://dev.azure.com/dnceng/internal/_build/results?buildId=1256471&view=logs&j=f15ff3dd-0bdf-5389-2bfc-e693179a3ead&t=029505b8-d43a-5fa8-b67b-c8e390111169

I expect to be able to clean this up and make a PR next week.

[2021-07-26 17:29] adiaaida opened #7668 "Darc gather-drop failing to download files larger than 2GB"
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain

Installer now publishes files that are larger than 2GB. A fix was made in arcade to allow the publishing of these files, but this fix now needs to be applied to gather-drop for downloading the files as well. The error message looks like this:

[code]

Full log: https://dev.azure.com/dnceng/internal/_build/results?buildId=1

[2021-07-26 17:34] riarenas commented on #7668
Yep makes sense. I'll find where we do the download and set the option there.

[2021-07-26 18:03] #7517 closed

[2021-07-26 18:33] riarenas commented on #7668
Now I'm facing an issue where even if we don't allocate the response buffer, the connection ends up being closed before the file is fully downloaded. Probably due to all the parallel downloads.

[2021-07-26 18:33] adiaaida commented on #7668
:(

[2021-07-26 19:42] riarenas commented on #7668
I think it's just because the file is too large to be downloaded in the default timeout of 180 seconds. If I pass a longer timeout to the gather-drop invocation, I'm able to gather it. Once the buffer problem is fixed we will need to include a --download-timeout parameter to the gather-drop command in the release pipeline.

[2021-07-26 19:49] riarenas commented on #7668
Arcade-services piece of this is https://github.com/dotnet/arcade-services/pull/1685

[2021-07-26 23:07] riarenas commented on #7668
The fix is available in darc version `1.1.0-beta.21376.2`.

[2021-07-27 02:27] epananth opened #7672 "Signing RPM files using Mariner certs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Related issue (dotnet/core-eng/issues/13072)

We need to sign RPM files using Mariner certs.

Related doc=>
cc: @adiaaida @jonfortescue

[2021-07-27 02:57] epananth commented on #7672
I was under the impression that we need to use Signtool and a different cert to sign to sign RPMs files. But after looking at the doc I am not sure that is the case. I found 4 cases in the doc

1)  Mariner Team Builds on Behalf-Of  - in this owning team does not want to create/ publish the packages.
2)  Owning Team Publishes Content on Mariner’s Behalf - owning team will created, validate and publ

[2021-07-27 16:09] lukas-lansky commented on #7509
After a discussion with Ricardo, I will try to use `DryRun` mode of `PublishToSymbolServers` project to do the test instead of artificial testing proj.

[2021-07-27 16:45] adiaaida opened #7675 "Add doc describing validation process"
We need a doc that we can point customers to that describes our post-build validation process, what it includes, how it works, and why we need it.

[2021-07-27 16:45] adiaaida commented on #7675
PR is here: https://github.com/dotnet/arcade/pull/7669

[2021-07-27 16:52] mmitche opened #7677 "PushToAzureDevOpsArtifacts should check for rooted paths for Blobs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

For blob artifacts published, the RelativeBlobPath specifies where a blob gets published in the output storage container. If this path is rooted, for example /wixpack/foobarbaz.zip, publishing still works. you end up with an empty virtual folder at the root of the container, then one called wixpack, etc. However, signing w

[2021-07-27 17:11] epananth commented on #7672
closing this issue

[2021-07-27 17:11] #7672 closed

[2021-07-27 20:22] ViktorHofer commented on #7413
Correct me if I'm wrong but source build doesn't use patches anymore, at least not in dotnet/runtime and other repos that I'm following.

I don't think anyone wants to see a templated approach happening. Instead as already mentioned, we would like to generally bump the TFM used in arcade to net6.0.

[2021-07-27 22:06] riarenas opened #7680 "Maestro opened an Azure devops Dependency update PR with no commits"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Maestro opened https://dnceng.visualstudio.com/internal/_git/dotnet-optimization/pullrequest/16832 with no commits, so there wasn't anything to merge or run CI against.

The PR was opened on July 20th, and blocked any other updates to the PR for an entire week until the PR was abandoned and the subscription was triggered a

[2021-07-28 10:09] premun commented on #7616
We decided to close this and in case of new SDL alerts, re-open

[2021-07-28 10:09] #7616 closed

[2021-07-28 17:07] mmitche opened #7683 "Staging - Publish Assets to Staging Location failing in release/5.0"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=1262932&view=logs&j=06e47235-ea4e-5696-bf7a-60141ec0f646&t=47670f0e-00d8-5b02-83e7-3c31b24a0034

I think what is happening here is that the copy in the first loop is critical to the publishing process (otherwise files don't end up in the right directories), but t

[2021-07-28 20:50] MattGal commented on #7658
Currently waiting on approval for https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/16912.

[2021-07-29 14:49] riarenas opened #7687 "http client timeouts when uploading blobs to storage account during publishing"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

We're seeing some failed publishing jobs where we fail to upload a blob because we hit the default 100 second HttpClient timeout. We should see if we can increase the timeout in the Azure libraries, and whether that helps or not.

Some example failures:

* https://dev.azure.com/dnceng/internal/_build/results?buildId=126552

[2021-07-29 15:24] mmitche opened #7688 "Investigate tweaking algorithm to determine whether the staging feed should be public or internal"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In .NET 6 Preview 7, I had the default channels set up to assign the same dotnet-wpf-int branch to internal and public (they are the same branch, so this made some sense). When gather-drop ran, it downloaded packages from the wpf-int build from the internal feed first. That meant that the feed was created as internal becau

[2021-07-29 15:41] mmitche commented on #7688
/cc @adiaaida

[2021-07-29 16:49] adiaaida commented on #7683
This was definitely a bug that came in with a recent change. The fix has been checked in.

[2021-07-29 17:07] jonfortescue commented on #7613
https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/16997

[2021-07-29 17:12] adiaaida commented on #7554
I believe @vseanreesermsft fixed this. Closing.

[2021-07-29 17:12] #7554 closed

[2021-07-29 17:14] adiaaida commented on #7191
We have not seen this in a while, so I am going to close this issue. If it comes back, we can reopen.

[2021-07-29 17:14] #7191 closed

[2021-07-29 17:17] riarenas commented on #7668
This is now available in the default version of darc that the scripts obtain. @adiaaida have you been able to test whether the change fixes things?

[2021-07-29 17:40] adiaaida commented on #7668
I will run a test pipeline on the build that previously failed

[2021-07-29 17:41] adiaaida commented on #7668
Testing this here: https://dev.azure.com/dnceng/internal/_build/results?buildId=1266498&view=results

[2021-07-29 18:46] adiaaida commented on #7688
Do we have any easy translation between an internal feed and a public feed? For 6.0, it looks as simple as:

1. Remove -internal
2. Replace internal/ with public/.

I'm thinking maybe, if we find a feel link that we think is internal, convert it to what the public version would be, and if that is successful, we can say it exists on both feeds, and can be deemed public.

[2021-07-29 18:50] riarenas commented on #7607
Should this go into the arcade SDK epic? doesn't seem like anyone is blocked right now, but also sounds like this is the right thing to do.

[2021-07-29 18:55] mmitche commented on #7688
There's not, since sometimes the internal feeds are project scoped and sometimes they are org scoped. I think the real way to do it would be to have gather-drop record all possible source locations that work. Basically attempt to download from all source locations by doing a HEAD request, use one of those to actually download, but record all of the source locations in the manifest.

Anyways, I thi

[2021-07-29 18:57] riarenas commented on #7639
Since this ends up hiding actual failures, I think this should be done as part of FR.

[2021-07-29 19:05] riarenas commented on #7663
It seems like a reasonable ask. @mmitche Is there somewhere you're tracking these kinds of issues for the work that you and Lukas do during releases?

[2021-07-29 19:07] riarenas commented on #7677
Is this blocking release of the next preview? If so this is probably FR, if not I can see this as part of the current release epic, or as part of the "dependency flow is complete" epic.

[2021-07-29 19:11] riarenas commented on #7680
I couldn't find anything more actionable for investigation here. Since we've only seen it once in an azure devops PR, I think we should close, and if it becomes an ongoing problem we should see if it's something FR can take a look at or something for the dependency flow is complete epic.

[2021-07-29 19:11] #7680 closed

[2021-07-29 19:14] riarenas commented on #7688
I'm adding this to the current release epic. Let me know if you feel like that's not the right place for this.

[2021-07-29 19:22] adiaaida commented on #7688
@mmitche my other thought was also changing gather-drop, but I agree that that might not be worth it, and could be quite risky if we don't do it right. Your second suggestion (global override switch) is really straight forward an easy.

[2021-07-29 19:24] adiaaida commented on #7668
all seems well.

[2021-07-29 19:25] riarenas commented on #7668
Thanks for verifying! closing as fixed.

[2021-07-29 19:25] #7668 closed

[2021-07-29 19:25] MattGal opened #7689 "init-tools-native.sh does not currently work ("must use subscript when assigning associative array")"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Seems to have been introduced in https://github.com/dotnet/arcade/pull/6726.  Not sure how this hasn't been noticed for 7 months; it may just be something the defaults tend to be 'good enough' in the build machines for.

When running linux-based arcade-ified builds, I consistently see this line:

[code]

Since I noticed th

[2021-07-29 19:42] mmitche commented on #7677
No, not blocking.

[2021-07-29 23:40] #7675 closed

[2021-07-30 16:55] adiaaida commented on #7688
That's good.

[2021-07-31 00:33] JunTaoLuo commented on #7413
Any progress on this issue?

Coincidentally, I found this issue while adding the templating task: https://github.com/dotnet/arcade/tree/main/src/Microsoft.DotNet.Build.Tasks.Templating. I understand it's not trivial to use this for all projects which requires a two staged build, this task and then the rest of Arcade, but I'd like to state it as an option.

I like the TFM update to net6.0 but is th

[2021-08-02 10:35] #7474 closed

[2021-08-02 23:15] ChadNedzlek opened #7696 "Temporarily disabled iOS.Device queue"
Temporarily disabled the iOS.Device queue in arcade because it's failing with the new helix reporting, and we were unable to fix it.

We need to reenable it once we figure out why it can't report to helix like other queues.

It seems to be some sort of permission issue writing a sdk cache file:
PermissionError: [Errno 13] Permission denied: '/Users/helix-runner/.azure-devops/python-sdk/cache/optio

[2021-08-03 06:57] crummel opened #7698 "Darc clone fails on App Insights"
Recently tried to upgrade source-build's version of Darc from 1.1.0-beta.19568.2 to 1.1.0-beta.21378.3 and I'm getting this issue:
[code]

It looks like missing the `eng` directory is confusing it, and also the error message is trying to use an interpolated string but missing the `$`.

[2021-08-03 09:33] premun commented on #7696
Can you link where you disabled those? I cannot find the commit

[2021-08-03 13:45] greenEkatherine opened #7699 "Remove hack in NuGet feed package"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

There was hack added in Nuget feed package https://github.com/dotnet/arcade/commit/841c83d to unblock issue https://github.com/dotnet/arcade/issues/1965 It should be resolved now after MSBuild update https://github.com/dotnet/msbuild/issues/5073

We need to remove it and validate that sdk /runtime repos are not broken.

[2021-08-03 18:15] jonfortescue opened #7701 "Allow specifying AzDO org in CreateAzureDevOpsFeed"
Needed to be able to test publishing in dnceng-stage.

[2021-08-03 19:33] ChadNedzlek commented on #7696
It's this commit: https://github.com/dotnet/arcade/pull/7646/commits/2fd06326dbb94740897765b918242bd88d61809b

[2021-08-03 21:13] adiaaida commented on #7688
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/17127

[2021-08-04 00:56] epananth opened #7705 "Write up on how to use symbolexclusion file"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Add details on how to exclude symbols from getting published to sym server

[2021-08-04 17:21] mmitche opened #7709 "SetupNuGetSources.sh not marked as executable in target repos"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The executable bit for SetupNuGetSources.sh appears to be set properly in arcade, but isn't in downstream repos. I thought those bits are corrected whenever we update the common files, but perhaps this only happens when there are actual changes to the script files?

Anyways, worth an investigation.

[2021-08-04 17:29] adiaaida opened #7710 "Investigate Component Governance warnings in Validate-DotNet"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We don't always see these warnings, but we sometimes do, and they are annoying. Investigate why we get these warnings so product teams don't see them when BuildMonitor opens issues in their repos for pipeline failures.

[2021-08-04 17:40] ViktorHofer commented on #7710
cc @dougbu FYI this is about this warning: https://github.com/dotnet/runtime/issues/56516#issuecomment-892832588

[2021-08-04 20:01] riarenas commented on #7343
We saw another surge of this exact same errors during today's rollout: [app insights query](https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fmaestro-prod-cluster%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2Fmaestro-prod/source/LogsBlade.Analytics

[2021-08-04 22:25] riarenas opened #7714 "Tag runs of the maestro build promotion pipeline with the BAR ID that is being published"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In official builds that publish to the BAR, we add a helpful tag to the build that allows to easily find what ID the build got in the BAR.

![image](https://user-images.githubusercontent.com/23242101/128263271-ef6634f1-bce2-49d2-9814-592a725ada9f.png)

We should add the same tagging mechanism to the Maestro build promotion

[2021-08-04 22:26] riarenas commented on #7714
CC @AlitzelMendez since you were regretting not having this for an investigation earlier this week.

[2021-08-05 05:12] DaZombieKiller opened #7715 "GenAPI does not handle fixed buffers"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

When using GenAPI on an assembly that contains fixed buffers, it will output the generated fixed buffer structures with unspeakable names, rather than `fixed` fields.

Given the following type:
[code]

GenAPI will produce this output:
[code]

[2021-08-05 13:39] adiaaida commented on #7710
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/17225

[2021-08-05 16:24] adiaaida commented on #7555
We had two builds that ran for this release, and both had some of the same files (for example, windowsdesktop was the same between the two versions). The first build signed and uploaded the files to dotnetstage. But then we decided we wanted a different version of the sdk, so we ran another build, which signed and attempted to upload the new files. Because signing isn’t deterministic (it uses the

[2021-08-05 16:24] #7555 closed

[2021-08-05 16:48] mmitche opened #7720 "Investigate odd coherency update"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In this PR, https://github.com/dotnet/installer/pull/11414 the system downgraded the roslyn build from 4.0.0-4.21404.8 to 4.0.0-4.21404.3. This is odd because strict coherency says that the version should have stayed at .8. A manual attempt to update based on coherency substitutes the right version.

[2021-08-05 16:48] mmitche commented on #7720
/cc @riarenas

[2021-08-05 17:12] adiaaida opened #7721 "Gather telemetry for staging pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We have a metric that we would like to hit where < 5% of stage dotnet failures are from infrastructure. We need to properly gather telemetry so we can track this.

[2021-08-05 19:26] epananth commented on #7423
Merged this changes. So closing this https://github.com/dotnet/arcade/commit/7e675d42ae78b36a02fbb2b9ef8cdf6f3917391b

[2021-08-05 19:26] #7423 closed

[2021-08-05 20:38] riarenas commented on #7720
I see three points where we updated this asset in that PR
[code]
This corresponds to PR: https://github.com/dotnet/installer/pull/11412 which updated to sdk build 20210804.24

[code]
This corresponds to PR: https://github.com/dotnet/installer/pull/11413 which updated to sdk build **20210804.26**

[code]
This is the one that corresponds to commit https://github.com/dotnet/installer/pull/11414/commi

[2021-08-05 22:33] ChadNedzlek commented on #7413
@markwilkie @mmitche . We have some sort of plan for how we update the required TFM in arcade, correct?  It sounds like this needs to be part of that plan?

[2021-08-05 22:40] ChadNedzlek commented on #7677
Sounds like tech debt to me!

[2021-08-05 22:43] ChadNedzlek commented on #7689
If this hasn't worked for 7 months, it sounds like no one is using it and we should probably delete it?

[2021-08-05 22:43] markwilkie commented on #7413
@tkapin - should this be included as part of https://github.com/dotnet/core-eng/issues/13997?

[2021-08-05 22:44] ChadNedzlek commented on #7696
Found the problem, didn't do this. Closing.

[2021-08-05 22:44] #7696 closed

[2021-08-05 22:54] ChadNedzlek commented on #7698
Isn't having an "eng" directory part of using darc?

[2021-08-05 23:00] alexperovich commented on #7698
darc is useless without an eng directory. We use the eng/Version.Details.xml to drive everything darc does. What are you trying to do?

[2021-08-06 18:37] adiaaida commented on #7710
The change to disable CG in the validate and staging pipelines has been checked in. Validate will get this immediately. Stage will have to wait for rollout.

[2021-08-06 18:43] adiaaida commented on #7721
The PR to change cli errors to prepend NETCORE_ENGINEERING_TELEMETRY categories is into main, and needs to be rolled out to prod, at which point we can start gathering actual data about our failures and can say with certainty how much is coming from infra vs the product.

[2021-08-06 21:19] AlitzelMendez commented on #7687
This has been merged. The timeout has been increased to 300 seconds and the expectation is that this fix the issue but as Ricardo said this can't be the case, so feel free to reopen if needed.

[2021-08-06 21:19] #7687 closed

[2021-08-08 11:02] ViktorHofer commented on #7715
cc @safern @ericstj

[2021-08-09 15:10] jakubstilec commented on #7509
Katya created a PR https://github.com/dotnet/arcade/pull/7708, but there are issues which have to be investigated. It's handed over to me.

[2021-08-09 15:42] mmitche opened #7729 "Darc incorrectly constructing download url for internal manifest symbols package"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=1282580&view=logs&j=40e1e683-ea82-5be9-b25e-899b65e1c0cb&t=94a692ec-20f2-55dd-1884-cf0cad1763a4&l=7141

This is an internal build, so the symbol package was uploaded to a nuget feed. The format of the package name appears to be confusing darc's gather-drop, becau

[2021-08-09 18:14] safern commented on #7715
The reason why this is happening is because we don't have support to understand the `fixed` buffer metadata. It seems like we have never exposed a `fixed` buffer API in dotnet/runtime.

It seems like the compiler generates this into the `IL`

[code]

and that is just what we preserve, rather than ignoring the `CompilerGenerated` struct and reading the `FixedBuffer` attribute to get the underlying

[2021-08-09 19:46] MattGal opened #7732 "Revisit how entitlement / signing works for MacOS Signing"
As part of the PR comments on https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/16912, there was some questions about how we make lists of what to entitle and sign.

For this issue, I will:

- [x] Take notes and document here how we actually decide what to do (it's file-name matching currently) and where
- [x] Meet with @leecow and riff on any ideas for improving this
- [ ] Mak

[2021-08-10 01:07] epananth commented on #5789
Backporting work is moved to a different epic -> https://github.com/dotnet/arcade/issues/7431

So closing this epic.

[2021-08-10 01:07] #5789 closed

[2021-08-10 17:25] MattGal commented on #7658
This is  merged and rolled out.  I will be checking out some outputs from a build made with this today, and if they look good I will close the issue.

[2021-08-10 17:26] MattGal commented on #7732
I have a meeting today with lee cow to discuss, will add notes after that.

[2021-08-11 00:03] MattGal commented on #7343
I've got some changes locally that refactor and implement a very simplistic cross-process semaphore for LocalGit.cs:

### Strategy:
- Internal FileSemaphore class that spins and waits for exclusive access to a file path
- Acquires this lock before any downloading
- Simplify check by always calculating the path to git.exe and checking for its existence, since _gitExecutable doesn't actually change

[2021-08-11 00:07] ChadNedzlek commented on #7343
Didn't want to use a named Mutex?  That's a bit simpler than having to mess with the file system.

[2021-08-11 00:07] MattGal commented on #7732
For follow up:

Lee would like to see us dynamically check files for needing notarization (anything which is an entry point).  If this is possible, I will make a check in the existing .py scripts that all files that can be notarized get this; otherwise we'll persist the status quo along with a one-time check of the contents of our tar.gz / pkgs.

Notes:
- We labeled things "internal" for composing

[2021-08-11 14:15] softwaretirol opened #7741 "Unable to use GenerateResxSource"
I am trying to use the "GenerateResxSource" and "GenerateResxSourceEmitFormatMethods" property.
Just defined a default console application, throwed a Resources.resx in there and activated the flags.

But there is no class generated? Do i miss anything? Tryed to explicitly set the GenerateSource Attribute an all resx in addition - also not working.

Thanks for any hint.

[code]

[2021-08-11 16:20] MattGal commented on #7343
Created https://github.com/dotnet/arcade-services/pull/1701, after applying Chad's precog PR feedback

[2021-08-12 05:05] davidfowl opened #7742 "Add commit stateless to maestro++ UI"
Today we can see the build stateless but it would also be good to look at commit staleness. It would give you a nice way to see at glance how far behind a particular dependency is in terms of commits (especially if builds are failing);

![image](https://user-images.githubusercontent.com/95136/129140988-52f9f5a0-4f60-41a2-8b6f-743511414267.png)

cc @mmitche

[2021-08-12 09:29] jakubstilec commented on #7284
[Async Triage]: @epananth  why it was removed from #5789, do we another epic for this?

[2021-08-12 09:34] jakubstilec commented on #440
[Async Triage]: It's arcade services, but can't it fit into https://github.com/dotnet/arcade/issues/5449 "Docs are a jungle"?

[2021-08-12 14:28] adiaaida opened #7744 "SourceLink Validation needs to wait between retry attempts"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

When retrying sourcelink requests, GitHub may throttle attempts because of too many requests. We need to do some sort of backoff when we are being throttled.

See: https://github.com/dotnet/runtime/issues/57251

[2021-08-12 14:37] mmitche commented on #7742
@Pilchie pointed us at this code which uses the GitHub API to compute the commit distance (without the repo) https://github.com/Pilchie/DependencyFlow/blob/master/Pages/Incoming.cshtml.cs#L186-L229

I believe that AzDO has similar fields in its comparison APIs

[2021-08-12 14:38] adiaaida commented on #7744
This if block could use an else where if totalRetries is < maxRetries, we wait, instead of immediately trying again: https://github.com/dotnet/arcade/blob/main/eng/common/post-build/sourcelink-validation.ps1#L128

[2021-08-12 15:19] MattGal commented on #7343
[Scenario test run was clean](https://dnceng.visualstudio.com/internal/_build/results?buildId=1289292&view=results) and logs indicate that the update process has occurred on all staging nodes, moving to rollout.

[2021-08-12 18:43] jonfortescue opened #7746 "Set up secret manager in dotnet-release"
We've added secret manager to dotnet-release but we need to set up a weekly build to rotate secrets and add validation steps to our existing builds.

[2021-08-12 23:06] adiaaida commented on #7744
@ilyas1974 I think this is FR, but I didn't want to just dump it in there without triage taking a look

[2021-08-13 07:05] ViktorHofer opened #7747 "SourceIndexStage1 is broken with the SDK upgrade"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

**Official builds in at least dotnet/runtime are currently broken** because the [source index pipeline relies on the `UseDotNet@2` task](https://github.com/dotnet/runtime/blob/daeb85b4abb4008f5202185f4a4e958edd7a80b9/eng/common/templates/job/source-index-stage1.yml#L38-L41) which only respects released versions listed in h

[2021-08-13 08:51] jakubstilec commented on #7747
cc @alexperovich

[2021-08-13 09:25] ViktorHofer commented on #7747
One more thought on this. The SDK version used by the repo must either be the same or higher than the one used to compile the global tools used. As Arcade flows SDK version updates to their consuming repositories, that should be fine.

As that contract between matching SDK versions already exist, the mitigation that I applied in dotnet/runtime https://github.com/dotnet/runtime/commit/c842beb5a9464

[2021-08-15 08:53] ViktorHofer commented on #7747
Update: The fix that I applied in eng/common/ in dotnet/runtime was expectedly overwritten by the latest Arcade update. I again temporarily fixed this to unblock broken builds but we need to find a permanent solution asap: https://github.com/dotnet/runtime/commit/0a1ff5b63071909b18115aac151d415ff007b63c.

[2021-08-16 17:07] adiaaida commented on #7744
@ilyas1974 I have put this in FR, as it does directly impact customers, though infrequently. Feel free to boot it if you disagree

[2021-08-16 17:22] adiaaida commented on #7699
Just for clarity, does this mean just removing the code that Chris added and then testing it against the repos that were broken?

[2021-08-16 21:26] adiaaida opened #7754 "V2 publishing failing with "The maximumCount argument must be a positive number.""
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain

V2 publishing is failing with "The maximumCount argument must be a positive number. If a maximum is not required, use the constructor without a maxCount parameter. (Parameter 'maxCount')" when creating the SemaphoreSlim.

Build: https://dev.azure.com/dnceng/internal/_build/results?buildId=1296334&view=logs&j=51c75269-d108-

[2021-08-16 21:28] adiaaida commented on #7754
The maxCount parameter passed through the PublishArtifactsInManifestV2 constructor via the "NonStreamingPublishingMaxClients" or "StreamingPublishingMaxClients" member parameters, which are not being passed in through the v2 constructor. I think we just need to copy a few things over from the v3 publishing constructor and it will fix the issue.

[2021-08-17 14:06] adiaaida commented on #7754
Instead, we just moved sourcelink to v3 publishing, so for the customer, this is fixed. However, I think we should still not allow v2 publishing to be completely broken, so I'd like to get this PR in: https://github.com/dotnet/arcade/pull/7755

[2021-08-17 14:10] adiaaida commented on #7744
Testing in the validation pipeline now on aspnetcore, as it is the only repo that currently has known sourcelink failures. Also testing on efcore, as it is fast and has no known sourcelink failures.

[2021-08-17 15:50] #7754 closed

[2021-08-17 17:06] jonfortescue opened #7759 "Stage-DotNet rollout 17 Aug 2021"
Rolling out Stage-DotNet to production.

[2021-08-17 17:22] #5482 closed

[2021-08-17 17:52] #7688 closed

[2021-08-17 18:22] jonfortescue commented on #7701
It works!

[2021-08-17 18:22] #7701 closed

[2021-08-17 18:31] ViktorHofer commented on #6863
Reopening as the last compiler update happened more than a month ago. We need to depend on a newer version in dotnet/runtime than the stale one offered by Arcade.

Presumably having repositories with different roslyn toolset versions breaks source build.

@RikkiGibson @jaredpar can we please make sure bits are flowing asap again?

[2021-08-17 18:32] ViktorHofer commented on #6863
cc @stephentoub

[2021-08-17 18:40] stephentoub commented on #6863
related: https://github.com/dotnet/runtime/issues/57583

[2021-08-17 20:55] am11 commented on #6863
SDK repo is kept up-to-date with latest version of compiler by @dotnet-maestro (e.g. latest one https://github.com/dotnet/sdk/commit/96756710ad5f78402ffc66151aa62cf9931c4b0d), perhaps arcade could use the same automation process? Current main branch of arcade repo itself is building fine with latest version of Roslyn at the moment.

[2021-08-17 21:05] JoeRobich commented on #6863
Arcades Roslyn subscription was set to the VS 16.10 channel. I've updated it to track VS 17.0. It would be nice if there was a maestro channel for "Latest Build" that we could publish to, since our latest build channel changes so often.

[code]

[2021-08-17 21:38] riarenas commented on #7747
@chcosta this is the issue that goes along with the email and the teams thread in case you haven't seen Viktor's workarounds yet.

[2021-08-17 22:49] am11 commented on #6863
Thanks, meastro bot has opened PR #7760. 💪🤖👍

[2021-08-17 22:55] MattGal commented on #1468
Reopening as we should at least remove the mentions that are still in the scripts so I stop coming here.

[2021-08-18 06:05] ViktorHofer commented on #6863
Thanks Joe.

Can you introduce such a channel for the roslyn repo that points to the master branch?

[2021-08-18 16:41] MattGal commented on #7742
[Triage] : looks reasonably straightforward to add as data we track, but not sure what epic it'd go in nor if it's worth the effort as build number / staleness is at likely to be strongly correlated.  Definitely not an FR issue.

[2021-08-18 16:54] MattGal commented on #7741
[Triage]: Should investigate in FR to determine if this is a bug or incorrect usage, then kick back to triage.

[2021-08-18 17:01] MattGal commented on #7729
[Triage] :  Seems like a need-to-fix issue and no obvious epic for it, @ilyas1974 FR?

[2021-08-18 17:01] adiaaida commented on #7567
Unfortunately, just passing in -msbuildEngine vs on an arcade build as an extra leg did not work. It complains that there is no vs object on the tools object in the global.json. So I grabbed a thing from aspnetcore (who does have the vs object) and tried adding that to arcade's global.json, which caused all of the windows builds to break, saying that it can't find the sdk.

[code]

Going to try a

[2021-08-18 17:02] riarenas commented on #7567
We do not build any other repos anymore as part of promotion.

[2021-08-18 17:02] adiaaida commented on #7567
Oh.

[2021-08-18 17:47] MattGal commented on #7658
Examined https://dev.azure.com/dnceng/internal/_build/results?buildId=1283661&view=artifacts&pathAsName=false&type=publishedArtifacts

- Tried running apphost and dotnet from /shipping/assets/Sdk/6.0.100-preview.7.21406.16/dotnet-sdk-6.0.100-preview.7.21406.16-osx-x64.tar.gz  on AMD64 OSX 10.15 machine, no issues noted nor notarization prompts on dci-mac-build-096
- Tried running apphost and dotne

[2021-08-18 17:47] #7658 closed

[2021-08-18 17:48] adiaaida commented on #7567
Throwing this back to triage

[2021-08-18 17:48] davidfowl commented on #7742
Except its not. When there are failing builds this shows nothing that indicates how long builds have been failing

[2021-08-18 18:03] ilyas1974 commented on #7729
I think we can take a "first pass" at this in FR.

[2021-08-18 18:04] mmitche commented on #7729
Yeah I think this will turn out to be a simple fix in gather-drop's code.

[2021-08-18 18:22] chcosta commented on #7567
We've encountered this, or a variant of this, a couple of times where Arcade's support for framework msbuild is not on par with its support for core MSBuild and Arcade doesn't have support for mix /matching either scenario.  Arcade assumes you're all in on either scenario.

Here's a summary from previous work to unblock a partner...

ie, because we haven't fixed any of this, we don't have a good w

[2021-08-18 20:05] #7744 closed

[2021-08-18 21:27] #7759 closed

[2021-08-18 21:55] #7747 closed

[2021-08-18 22:22] chcosta commented on #7567
Any objection to me making the administrator [dncengvars](https://idweb/IdentityManagement/aspx/common/GlobalSearchResult.aspx?searchtype=e0c132db-08d8-4258-8bce-561687a8a51e&content=dncengvars) instead.  That group was created because of https://github.com/dotnet/core-eng/issues/2937

[2021-08-18 22:44] adiaaida commented on #7567
Is this comment meant for your other issue?

[2021-08-18 22:51] chcosta commented on #7567
Yes!

[2021-08-18 23:23] adiaaida commented on #7729
I can take this issue, as I've got context on gather-drop.

[2021-08-18 23:42] jmarolf opened #7765 "OneLoc process has no way to notify loc team if things are succeeding"
In the old loc system the loc team would submit PRs and work with the team to merge them in. In OneLoc PRs are fire-and-forget via and automated system with no notifications to the Loc team of whether their PRs are mergeable (or even buildable).

Would be nice to have an automated system to notify the loc team is the build fails on a loc PR.

[2021-08-18 23:45] adiaaida commented on #7729
Matt, in your sample, where it has the version correctly, I think you looked up the wrong package. The one with the malformed version is `Microsoft.NET.Workload.Mono.ToolChain.Manifest-6.0.100.Msi.x64.6.0.0-preview.7.21377.20` and you looked up `Microsoft.NET.Workload.Mono.ToolChain.Manifest-6.0.100.6.0.0-preview.7.21377.20` (note the missing .Msi). When I looked up the Msi package in BAR, I found

[2021-08-18 23:48] adiaaida commented on #7729
Does anyone know where this package comes from?

[2021-08-18 23:49] MattGal commented on #7732
### Some updates

- It's pretty straightforward to use XCode's 'otool' utility to determine if a file has an entry point. It makes sense to check everything we're going to sign, and if it can be notarized it should be on a list (even if we're choosing not to)
- While prototyping script changes to do this against the signed bits of a .tar.gz'ed .NET SDK, I realized we never signed a fille named sin

[2021-08-18 23:52] MattGal commented on #7729
https://github.com/dotnet/runtime/blob/main/src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/Microsoft.NET.Workload.Mono.Toolchain.Manifest.pkgproj I think

[2021-08-18 23:53] adiaaida commented on #7729
Thanks Matt. I'm search for the azdo build to see if I can find anything obvious there.

[2021-08-18 23:57] MattGal opened #7767 "Add .Tar.Gz support to validate macOS signing stages"
- [ ] Review the "Validate macOS signing" stages to see if there are any obvious gaps
- [ ] Add functionality to unpack and validate tar.gz contents to existing workflow.

[2021-08-19 00:03] MattGal commented on #7343
This is rolled out and [the problem only reproduced with last week's version today](https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fmaestro-prod-cluster%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2Fmaestro-prod/source/LogsBlade.AnalyticsShareLin

[2021-08-19 00:12] adiaaida commented on #7729
Yeah, the problem is definitely somewhere in our algorithm for determining versions https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.VersionTools/lib/src/BuildManifest/VersionIdentifier.cs#L82

[2021-08-19 00:16] adiaaida commented on #7729
Specifically

[code]

That's what's happening in this case: we are getting 6.0.100, the next delimiter is a . and the next segment is Msi, so we stop looking for the version. I'm not 100% sure what the fix should be here: either we ask the mono folks to remove the SdkBandVersion from the name of their packages (that's where the 6.0.100 is coming from -- https://github.com/dotnet/runtime/blob/main/

[2021-08-19 00:30] MattGal commented on #7732
Prototype run looks good on first try (wow):

[code]

so I need to answer the same question for crossgen2, will add that to my existing thread.

[2021-08-19 14:32] adiaaida commented on #7729
Ok, I think I have a change that might fix the version parser. I will put up a PR and we can discuss.

[2021-08-19 14:36] mmitche commented on #7729
The sdk band version has to be in the package name, since there will eventually be multiple of them. I think we either need to change the version identifier (with a new test of course, since this stuff can be fragile) or change the way the package name is constructed so that it still contains 6.0.100, but perhaps with different delimiters. That may require reaction on the VS or installer side.

/c

[2021-08-19 14:49] adiaaida commented on #7729
PR: https://github.com/dotnet/arcade/pull/7769

[2021-08-19 15:34] adiaaida commented on #7729
For the "change the delimiter" idea, the algorithm treats all of our accepted delimiters (`-`, `.`, `_`) the same, so changing the delimiter doesn't fix the algorithm's problem.

[2021-08-19 16:55] MattGal commented on #7765
[Triage]: Sounds cool, but given the name "OneLoc" may not be something we control.  @jonfortescue can you comment?

[2021-08-19 16:59] MattGal commented on #7720
[Triage]: If this is a one-off, it may not be worth investigating until a similar issue crops up post-Ricardo's-extra-logging change

[2021-08-19 17:00] MattGal commented on #7715
[Triage]: Tossing into "Work tracking by/for other teams" epic ; GenAPI is primarily a runtime tool and the right folks are on the issue.

[2021-08-19 17:03] jonfortescue commented on #7765
We own the last mile infrastructure of running the OneLocBuild task, so it does fall under our purview. The specific scenario described is:

1. OneLocBuild runs, creates a PR
2. That PR fails due to something OneLocBuild did

The OneLocBuild task isn't actually running in step 2, so I'd imagine we could potentially build infrastructure that:

1. Detects an xliff-tasks failure
2. Detects that the b

[2021-08-19 17:04] MattGal commented on #7689
[Triage]: @ilyas1974  I'm just putting this into FR.  Even if it's unneeded, we can clean it up so it doesn't cause confusion for other users.

[2021-08-19 18:22] MattGal commented on #7732
https://dnceng.visualstudio.com/internal/_git/dotnet-release/pullrequest/17569 updates the plist file used and adds the check discussed above.

[2021-08-19 19:43] riarenas commented on #7720
Yep, I think the root cause for this is clear, an older build was processed days after it had actually completed. IF we see this again, we can try to tweak when we determine a build should open a PR. I'm closing it for now. @mmitche feel free to reopen if you see again or if you think we should dig deeper on this now.

[2021-08-19 19:43] #7720 closed

[2021-08-19 19:48] riarenas commented on #7742
Looks like a reasonable ask. Since we don't have a workstream for for dependency flow features right now, I think we should assign it to https://github.com/dotnet/arcade/issues/1476 when it's funded.

[2021-08-19 19:50] riarenas commented on #7262
Closing for now, will reopen if I see another burst of dependency flow errors due to this problem

[2021-08-19 19:50] #7262 closed

[2021-08-19 19:51] riarenas commented on #440
Added it to the docs epic.

[2021-08-19 19:54] riarenas commented on #5103
I'm not sure where to triage this after it was punted out of the secret management epic. Maybe FR? or the publishing debt epic?

[2021-08-19 19:57] riarenas commented on #6863
@mmitche do you think it makes sense to create a channel for "VS tools - latest" or something to that regard that we could point roslyn's main branch to? right now I see it's going to general testing.

[2021-08-19 19:58] riarenas commented on #7538
@mmitche since preview 7 was released was this done, or not needed anymore?

[2021-08-19 19:59] riarenas commented on #7639
No more input, putting it in FR for now. FYI @ilyas1974

[2021-08-19 20:04] riarenas commented on #7698
From what I understand, darc clone is a command that, given a build, will clone all repos involved in dependencies at the specific SHA. App insights doesn't publish to dependency flow from what I can tell, and I think it's just a leaf so we don't really need to see if they have dependencies.

Can we even ask App insights to onboard onto dependency flow? Or maybe we should change the remote class a

[2021-08-19 20:05] riarenas commented on #7709
Oh no, possibly more issues with how we cache file modes during dependency updates? I think if we want to investigate it should go through FR first, as we don't have a current epic for Maestro work.

[2021-08-19 20:06] riarenas commented on #7714
I think this would help with investigations, but I don't see it fitting FR.

[2021-08-19 20:07] riarenas commented on #7765
This seems like a broken model from the get go. The system shouldn't be opening broken PRs with no way to interact with the team other than manually creating a PR. Is this something we can push on the loc team to add notifications for?

[2021-08-19 20:10] MattGal commented on #7639
@ilyas1974 I'm back on FR next week and am pretty sure this is super easy, I'll take it then

[2021-08-19 21:04] mmitche commented on #6863
We could use `.NET Tools - Dev` for this. I question whether this is actually what we want though or whether it will have unintended side-effects. Will the `main` branch of roslyn always be compatible with the SDK in main arcade for .NET and the corresponding .NET repos? IIRC those schedules aren't always aligned. Furthermore, if this had been subscribing to VS 17.0, it would have basically been e

[2021-08-19 21:05] mmitche commented on #7538
Not needed for .NET 6. I think we're past p7 there anyway.

[2021-08-19 21:08] alexperovich commented on #5103
This feels very much like publishing debt to me.

[2021-08-19 21:08] MattGal commented on #7732
Fix is merged, but I'll leave this in validate to remind myself to continue the conversation about entitlement with the runtime and possibly other teams, since dotnet-release stomps all entitlement with its own lists.

[2021-08-19 21:09] MattGal commented on #7767
Validate MacOS signing only checks pkgs today, I'm starting to update this for tar.gz.

[2021-08-19 22:18] riarenas commented on #5103
Sending it there for now.

[2021-08-19 23:06] chcosta commented on #7699
I think the hack is fine, and the "fix" doesn't appear to be working, so closing this.

[2021-08-19 23:06] #7699 closed

[2021-08-20 14:03] DaZombieKiller commented on #7715
I should note that the `[FixedBuffer]` attribute doesn't seem to be preserved in the current output, oddly. At least, it didn't seem to be in the few cases I tested with (all of which were similar to the example in the OP.)

[2021-08-20 17:08] jonfortescue commented on #7765
@riarenas We could absolutely push on the loc team to monitor the PRs they open and alert themselves if those PRs break.

[2021-08-20 21:34] #7689 closed

[2021-08-20 23:52] adiaaida opened #7774 "Ignore sourcelink failures when the path is a submodule"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

There is a bug in sourcelink where we don't properly link to files that were brought in by submodules. When we get to sourcelink validation, validation complains that the link doesn't exist (because it doesn't). This produces quite a bit of noise. Until the issue in sourcelink is fixed, we should warn, but not error, on th

[2021-08-20 23:52] adiaaida commented on #7774
[Triage]: I think this could either fit into the Release epic, or could be done as part of FR.

[2021-08-20 23:55] adiaaida opened #7775 "Update validate-dotnet scheduler to set postBuildSigning to true for .NET 7"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We hard-coded postBuildSigning to be enabled for .NET 6, but now the channel name is .NET 7, and we need to enable post build signing for everything .NET 6 and later. We need to come up with a solution for which channels should not get post build signing vs which should. Anything .NET 5 and older is not post-build signed.

[2021-08-21 04:55] dougbu commented on #7567
This is expected because the `$MSBuildEngine` will default to `vs` when the `tools.vs` exists in global.json. Could use `-msbuildEngine dotnet` in existing Windows builds.

[2021-08-23 08:27] ViktorHofer opened #7776 "Azure Package feed telemetry markers are logged on non CI builds"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[code]

Apparently https://github.com/dotnet/arcade/commit/cd4a811405114fab93ff2a1939195339113a1af6 causes the IP to be logged regardless of the `-ci` flag. This is observable in dotnet/runtime local builds (for every invocation) as our dotnet.cmd/sh script calls into the changed code paths.

cc @MattGal

[2021-08-23 12:44] MichaelSimons opened #7778 "TryLogClientIpAddress fails during source-build"
Source build has a requirement to build offline.  The TryLogClientIpAddress logic which was [recently added](https://github.com/dotnet/arcade/pull/7761) appears to be [causing the offline source-builds to fail](https://dev.azure.com/dnceng/public/_build/results?buildId=1310141&view=logs&jobId=d38d06a6-3157-59e6-1a2b-006f83a0b824&j=d38d06a6-3157-59e6-1a2b-006f83a0b824&t=69d8436a-48cf-5c59-0e4a-b09e

[2021-08-23 12:44] MichaelSimons commented on #7778
cc @dseefeld, @crummel

[2021-08-23 14:21] vitek-karas opened #7779 "Try-LogClientIpAddress pops up a powershell progress bar"
For example running `dotnet.cmd` in repo root (dotnet/runtime has this, but quite a few other repos as well) will very quickly popup a powershell progress bar. This is because the `Try-LogClientIpAddress` runs `Invoke-WebRequest` which does this (and as far as I can tell doesn't have an option not to do it on the cmdlet itself). This is pretty distracting and was really confusing before I was able

[2021-08-23 14:22] vitek-karas commented on #7779
I prepared a PR https://github.com/dotnet/arcade/pull/7780 with a fix (simply disable progress bars for the duration of the cmdlet).

[2021-08-23 15:11] MattGal commented on #7778
@ilyas1974 I'll take this as I caused it.

[2021-08-23 15:20] adiaaida commented on #7775
Checked in a temporary fix on Friday, real fix is here: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/17615

[2021-08-23 16:50] adiaaida opened #7782 "Create dashboard for Release failures"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Now that we have telemetry we can sort on, put together a dashboard where we can monitor the failure rates.

[2021-08-23 17:11] adiaaida commented on #5363
This has been implemented for installer, sdk, runtime and aspnetcore. Closing.

[2021-08-23 17:11] #5363 closed

[2021-08-23 17:33] MattGal commented on #7776
@ViktorHofer that was as requested by @Chrisboh, is that a problem?  It shouldn't be hard to make conditional

[2021-08-23 17:38] ViktorHofer commented on #7776
Yes, we should make it only run on CI as otherwise it will be logged locally as well an just creates noise.

[2021-08-23 17:52] MattGal commented on #7776
OK, since I already have a PR touching it may as well

[2021-08-23 18:07] MattGal commented on #7776
tacked on to https://github.com/dotnet/arcade/pull/7781

[2021-08-23 18:14] MattGal commented on #7767
Am distracted by nuget.client work for now, putting into tracking.

[2021-08-24 09:59] ViktorHofer opened #7783 "Deprecate and delete Microsoft.DotNet.Build.Tasks.Packaging from NET7 Arcade"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

dotnet/runtime is steadily working towards using NuGet's Pack task to produce nupkgs (and the corresponding symbol packages). As the Microsoft.DotNet.Build.Tasks.Packaging package won't be maintained by dotnet/runtime any longer, we should get the remaining consumers off it in favor of using the shipping tools (NuGet) inst

[2021-08-24 11:30] ViktorHofer commented on #7776
Fixed by https://github.com/dotnet/arcade/pull/7781

[2021-08-24 11:30] #7776 closed

[2021-08-24 11:35] vitek-karas commented on #7779
Should be also fixed with https://github.com/dotnet/arcade/pull/7781.

[2021-08-24 11:35] #7779 closed

[2021-08-24 15:51] MattGal commented on #7778
Merged and unblocked, closing

[2021-08-24 15:51] #7778 closed

[2021-08-24 18:24] #7775 closed

[2021-08-24 18:35] #6804 closed

[2021-08-24 20:42] #7746 closed

[2021-08-25 01:32] ChadNedzlek opened #7786 "SourceBuild/SourceIndex jobs using hosted pool, adding hours to all builds"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

This pool is extremely high contention (possibly because of this very issue). My most recent build was 600th in the queue waiting for a machine. This adds _hours_ to a build that should take a few minutes, basically crippling my ability to be productive.

I tried using "sourceBuildParameters" to move it to one of our pools

[2021-08-25 13:39] premun opened #7787 "Use `aspnetcore runtime` only instead of full SDK to run XHarness"
### Context
To run XHarness through Helix SDK, we need ASP.NET runtime. However, in .NET 6 RC 1 the versions of the bundled NETCore.App runtime are somehow lower and the NETCore.App that is bundled with ASP.NET runtime cannot run XHarness CLI.

The version and type of .NET is set here:
https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/XHarnessRunner.ta

[2021-08-25 13:43] premun commented on #7787
### 1) Installing aspnetcore runtime only

[code]

[code]

### 2) Installing dotnet runtime only

[code]

[code]

### 3) Installing both dotnet+aspnetcore runtimes

Finally worked

[2021-08-25 13:54] riarenas commented on #7787
I think this is another side effect of using an unreleased version of the sdk. I'm not sure there's a good way to see which runtimes are supposed to go with nightly unreleased versions. Once RC1 actually releases we need to move all repos to use the released version instead of the one we took to unblock nuget restores.

[2021-08-25 14:26] premun commented on #7787
Cool, so let's do it then. Should I put this todo next to the `AspNetCoreRuntimeVersion` that needs to be bumped together with the SDK so that people who do the bump notice?

[2021-08-25 15:27] premun opened #7789 "Attach MacOS system logs when XHarness exits badly"
When XHarness exits with `APP_CRASH` or `PACKAGE_INSTALLATION_FAILURE` or some other non-happy path, we can include MacOS system logs in the files uploaded back to Helix.

We can get the logs for the last hour like this:
[code]

We can tweak the size/length and make Helix SDK get it in case of troubles.

[2021-08-25 18:35] jonfortescue opened #7791 "Documentation on branching dotnet-release"
The staging pipeline needs to be branched with arcade. We should document how that is done.

[2021-08-25 18:37] jonfortescue opened #7792 "Documentation on validating changes to the staging pipeline (dotnet-release)"
When people need to make changes to the staging pipeline, we should have documentation on how to validate those changes.

[2021-08-25 18:38] jonfortescue opened #7793 "Documentation on running the staging pipeline (dotnet-release)"
Write some prose on how to run the staging pipeline.

[2021-08-25 21:35] sebastienros opened #7794 "Force-mirroring a branch"
I made the mistake to edit a pipeline from the AzDo site, and it pushed a change on main of a mirrored repository. Now the changes I do on GH are not mirrored anymore:

[code]

Is there a way to reset the mirror's main branch to the one from the source?

[2021-08-25 21:49] #7794 closed, assigned to nobody

[2021-08-25 22:27] dseefeld opened #7795 "Some build targets run when ExcludeFromSourceBuild is set"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In some cases, when a project is marked with `ExcludeFromSourceBuild=true`, the build is still running some targets that may lead to unexpected consequences.  This was discovered by RedHat when building using a new RID.

Even though a project was marked with `ExcludeFromSourceBuild`, it was still calling the `ProcessFramew

[2021-08-26 16:48] adiaaida opened #7798 "Fix cloning errors in Stage-DotNet"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When we moved to .NET 6, we had to upgrade the LibGit2Sharp version because the version we were on couldn't properly checkout a commit. The version we are on, and all newer versions, fail to clone azure devops repos. See https://github.com/libgit2/libgit2sharp/issues/1871 for more details why.

Because of this, we can no l

[2021-08-26 20:29] missymessa opened #7799 "403 with Microbuild job"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

On the `Install Microbuild plugin for Signing` job in Arcade, customers are running into this error: `##[error]The remote server returned an error: (403) Forbidden.`

It sounds like this a known issue and the suggestion is to update to v3 of this task so that throttling is respected.

https://devdiv.visualstudio.com/Defaul

[2021-08-27 19:14] fanyang-mono opened #7808 "Accept zip files as input for XHarnessApkToTest"
This feature is needed for leveraging `XHarnessApkToTest` for runtime tests running on mobile targets. Because for current runtime test infrastructure, there could be more than just one apk file needed to be send to the helix machine, such as test dll's and other supporting assemblies and sometimes there are multiple apk files per work item.

cc @premun

[2021-08-27 20:02] #7799 closed, assigned to missymessa

[2021-08-30 13:44] premun commented on #7808
This was previously added as a feature for Apple workloads only - https://github.com/dotnet/arcade/pull/7740

[2021-08-30 15:43] jakubstilec commented on #7509
was deployed into production

[2021-08-30 15:43] #7509 closed

[2021-08-30 15:49] greenEkatherine commented on #7808
@premun you assigned this task to me and didn't notify that you are working on it

[2021-08-30 15:53] premun commented on #7808
@greenEkatherine ah sorry, I thought you will ping me once you're ready and I can hand it over. I had some changes from Friday and FR was calm so I just finished them.

[2021-08-30 23:10] #7791 closed

[2021-08-30 23:10] #7792 closed

[2021-08-30 23:10] #7793 closed

[2021-08-31 10:10] #7808 closed

[2021-08-31 10:46] premun opened #7815 "XHarness Helix SDK doesn't support Apple devices when zipped app provided"
### Problem

When we prepare Helix payloads in Helix SDK ([CreateXHarnessAppleWorkItems.cs](https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Helix/Sdk/CreateXHarnessAppleWorkItems.cs)) and we are targeting iOS or tvOS devices, we inject the provisioning profile in every app bundle's folder.

The SDK also supports providing an already packaged .zip with the app bundle in which it onl

[2021-08-31 10:48] premun commented on #7815
@akoeplinger @steveisok I found this issue yesterday when copying the zipped input feature into Android and it is probably a blocker for your device tests.

I am on FR this week so won't be able to work on this, not sure if you're already blocked.

[2021-08-31 11:20] #7789 closed

[2021-08-31 11:20] premun commented on #7789
Issue moved to [dotnet/xharness #702](https://github.com/dotnet/xharness/issues/702) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-31 13:15] dseefeld commented on #7786
@MattGal I'm sorry, I'm not sure what builds you're talking about here.  Can you elaborate which builds and which pool?  Thanks!

/cc @crummel @MichaelSimons

[2021-08-31 13:27] MichaelSimons commented on #7786
I'm guessing this is what @MattGal is referring to:  https://github.com/dotnet/arcade/blob/main/eng/common/templates/job/source-build.yml#L36.  I have noticed this problem and had thought about using the Helix queues but after reading https://github.com/dotnet/arcade/blob/main/Documentation/AzureDevOps/AzureDevOpsOnboarding.md#agent-queues specifically the following:

I thought we should stick to

[2021-08-31 14:29] adiaaida opened #7817 "Clean up signing validation errors in Stage-DotNet"
There are several repos that have files that are not intended to be signed, but we are still validating the signing on them. In particular, the sdk doesn't sign their test packages, and all non-post-build signed repost don't sign their SourceBuild.Intermediate packages. We should not attempt to validate these unsigned packages, and should ignore them.

[2021-08-31 15:10] adiaaida commented on #7817
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/17756

[2021-08-31 16:44] MattGal commented on #7786
You're not wrong, but I would point out that was just written at a time when we weren't routinely going 200+ builds past the 200 build parellism-limit, which cannot be changed.  We know some repos do more builds than others and it tends to eat up capacity; this is definitely something the teams doing this are aware of and will eventually be trying to curb.

If you don't need to do authenticode sig

[2021-08-31 17:20] mmitche opened #7818 "Branch dotnet/arcade for .NET 6 servicing"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Need to do the branching exercise for net6 servicing. This is our previous info on how to do this: https://github.com/dotnet/arcade/blob/fa7990b1fa5aded5d355b46d8da47c8d8ece7c8f/Documentation/Policy/ArcadeServicing.md#mechanics-of-branching-arcade-and-services but it may be somewhat out of date since we haven't done it sin

[2021-08-31 17:21] mmitche commented on #7818
I think we can branch at any time now. There are no critical changes that are imminent for .NET 6 at this point, so porting changes into main will be sparse.

[2021-08-31 17:41] markwilkie commented on #7818
Agreed that we can branch anytime - @ilyas1974 is this something you see fitting into FR or should I find another way?

also including @adiaaida as we'll be branching the staging pipeline at the same time.

[2021-08-31 17:51] ilyas1974 commented on #7818
What is the time frame for this work item? We can do this work, but it may be a few days before we can get to this.

[2021-08-31 17:55] markwilkie commented on #7818
I don't think it's urgent....

[2021-08-31 17:57] adiaaida commented on #7818
And ask on the staging pipeline came in from @joeloff. They want to be able to publish bits for vs insertions to vsdrop as part of the currently existing infra for insert-into-vs. He is going to be working on it, and we can probably just backport the change to the release/6.0 branch once it exists.

I know that product repos have already branched, so main is now .NET 7, and arcade may want to go s

[2021-08-31 18:03] markwilkie commented on #7818
Thanks @adiaaida and makes sense - we just need to make sure it happens within a reasonable time period.

[2021-08-31 18:07] joeloff commented on #7818
yup, I hope to have it done during RC2 timeframe. Right now I can publish manually, but once we hit multiple SDK bands, it's going to get worse and increase the chance of making mistakes.

[2021-08-31 18:13] ilyas1974 commented on #7818
I will make sure when this issue is assigned, the IC working on it coordinates with @adiaaida. @joeloff, i anticipate we should have this completed within the next few days.

[2021-08-31 18:19] mmitche opened #7819 "Remove publish-installers-and-checksums darc option"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Remove publish-installer-and-checksums from darc add-build-to-channel. It's ignored. There may be places in templates that need to be updated.

[2021-08-31 18:19] jonfortescue commented on #7495
This is now essentially done.

[2021-08-31 18:19] #7495 closed

[2021-08-31 18:37] ChadNedzlek commented on #7786
We should DEFINITELY change that recommendation. The hosted pools are just insufficient for our current usage, so we shouldn't be encouraging people so strong (or at all) to use them.

[2021-08-31 22:41] mmitche opened #7820 "Investigate use of mirror service or other method to better surface inter-branch issues"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We've missed commits in servicing releases a few times now. The tough part is that during mirroring to internal/* branches, there are frequent, real conflicts that occur around when we merge into the open after a security release. It is important to note that these issues almost always require human intervention to determi

[2021-09-01 01:15] epananth opened #7822 "Arcadify Dotnet-Optimization Repo"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Optimization repo uses arcade to Publish to BAR and feeds. We need to take another look at that repo to completely arcadify this repo. I think it's mainly template changes for various jobs, that we need to add. But there could be more, so need help arcade experts suggestion.

NOTE: optimization repo does not publish any of

[2021-09-01 16:16] wtgodbe commented on #7820
Typically for 3.1 @vseanreesermsft and I do this manually by looking at the mirror job, which is a bit of a pain and certainly prone to human error. I agree that it would be great to have this be part of BarVIZ or something similar.

[2021-09-01 19:47] dougbu commented on #7820
The other part here is that AzDO notifications include the ability to subscribe to internal-code-merge failures. I do that but also tend to expect CQBs are looking at the same information and don't need to hear from me. Wouldn't have mattered in this most recent case; I was on vacation.
That said, part of this is about expectations for the type of checks @wtgodbe describes.

[2021-09-02 14:58] mmitche opened #7827 "Intermittent gather-drop failures on very large files"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=1336807&view=logs&j=40e1e683-ea82-5be9-b25e-899b65e1c0cb&t=6e491791-6ce2-572a-3132-c49a3995e637&l=2010

I think what is happening here is that the file in question is really large and we are hitting the http client timeout. But for some reason we aren't retrying

[2021-09-02 15:06] #7798 closed

[2021-09-02 15:07] #7721 closed

[2021-09-02 15:07] #7710 closed

[2021-09-02 15:07] #7683 closed

[2021-09-02 15:11] ViktorHofer commented on #7413
This would have helped source build but presumably no one wants to do it. @dseefeld is there a mitigation process in place to avoid the mentioned issue?

[2021-09-02 15:30] dseefeld commented on #7413
There is no mitigation for this.  In source-build, we need to patch to solve this issue.  As Viktor mentions above patching is a temporary solution and we don't want to carry patches over releases, so a fix is needed.  Updating to net6.0 would be a good solution for source-build if it is feasible.

[2021-09-02 16:51] MattGal commented on #7827
[Async Triage]: @ilyas1974 probably FR? but from the logs it doesn't seem like a timeout rather a malformed SAS token being appended (the *** is a secret being shaved off)

`.tar.gz***: Response status code does not indicate success: 403`

[2021-09-02 16:52] mmitche commented on #7827
That's a red herring, it's not a private blob. So it tries the anon (non SAS) form first, which times out on this line: https://dev.azure.com/dnceng/internal/_build/results?buildId=1336807&view=logs&j=40e1e683-ea82-5be9-b25e-899b65e1c0cb&t=6e491791-6ce2-572a-3132-c49a3995e637&l=2010, which then causes it to try the SAS forms, which fail because they are non SAS's for that storage account.

[2021-09-02 16:55] ilyas1974 commented on #7827
I think this is something we should can address in FR. While I don't think it is directly affecting the customer currently, I would rather address it now before it because a problem for them.

[2021-09-02 17:01] MattGal commented on #7827
@mmitche thanks for the reminder, at some point I knew that.  Put into FR backlog.  I think we should both reexamine whatever retry logic exists there in gather-drop as well as consider increasing the default HTTP client timeout.

[2021-09-02 17:26] adiaaida commented on #7817
Reopening because there are still installer failures for 5.0 related to non-post-build signed stuff

[2021-09-02 17:54] MattGal opened #7828 "DarcLib GItHubClient needs to understand Octokit.ForbiddenException"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Filed after looking at https://github.com/dotnet/core-eng/issues/14238.

We already try to understand and respect when GitHub is considering our API usage excessive, with a 60s backoff on top of the existing exponential backoff, as seen here:
https://github.com/dotnet/arcade-services/blob/dd1f7ff2d64251fcd67d973ac27872c50a

[2021-09-02 19:31] epananth commented on #7818
created https://github.com/dotnet/arcade/tree/release/6.0

[2021-09-02 19:39] joeloff commented on #7818
LOL, I just asked Matt about this a few seconds ago when I noticed it :)

[2021-09-02 19:49] joeloff commented on #7818
What's the preferred way for making fixes in 6.0 at this point? Are there automatic merges back from 6 to main or do we just pick commits from 6.0 that we want into main?

[2021-09-02 19:59] mmitche commented on #7818
We haven;t been too successful with the inter-branch merges in this repo. I suggest backporting to 6, or forward porting to main.

[2021-09-02 20:00] joeloff commented on #7818
ok, I'll make the fix in 6.0 first since this is causing pain for runtime and maui and then pick it into main

[2021-09-02 21:25] epananth commented on #7818
Update version -> PR -> https://github.com/dotnet/arcade/pull/7829

create Channel ->
![image](https://user-images.githubusercontent.com/47157394/131914999-1b343e54-3299-454b-8a81-199b622ffbf4.png)

create default channel ->(3861) https://github.com/dotnet/arcade @ release/6.0 -> .NET 6 Eng - Validation

create Subscription ->
![image](https://user-images.githubusercontent.com/47157394/131915173-c

[2021-09-02 23:34] adiaaida commented on #7827
It is directly affecting the release process (which counts as a customer?). I'm fine with it being in FR, but I might take a look at it tomorrow anyway

[2021-09-02 23:35] adiaaida commented on #7827
We are definitely retrying. I think we just need to up the timeout

[2021-09-02 23:42] MattGal commented on #7827
FR should never block someone with area knowledge from making or guiding the quick fixes.  Thanks!

[2021-09-02 23:43] mmitche commented on #7827
It's not blocking at the moment. The particular file isn't needed for signing or anything, so it's just a failure that requires manual approval after the prep stage.

[2021-09-03 15:23] adiaaida opened #7835 "Produce patch-agnostic aka.ms links for latest sdk bands for each major/minor version"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

See discussion here: https://github.com/dotnet/installer/issues/11040

[2021-09-03 15:23] adiaaida commented on #7835
[Triage]: This is related to the aka.ms link epic that was closed back in April/May timeline. Not sure where to put this right now.

[2021-09-03 17:55] MattGal commented on #7343
@epananth has volunteered to venture once more into this issue.

[2021-09-03 18:55] MattGal opened #7836 "Add understanding of productVersion.txt to Helix SDK .NET SDK feature"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Helix SDK does not use dotnet-install.* scripts, which now understand a special "productVersion.txt" to allow a mismatch between the file names inside the container and out.  Adding support for this makes those "special" .NET Core SDKs usable by Helix work items.

[2021-09-03 19:11] dougbu commented on #7836
This issue _will_ block dotnet/aspnetcore's Helix use once we stabilize for 6.0.0. Workarounds I'm doing in the 6.0.x servicing exercise cannot be carried forward.

[2021-09-03 23:07] MattGal commented on #7836
Created https://github.com/dotnet/arcade/pull/7837

[2021-09-04 06:17] terrajobst opened #7838 "Make dependency-related tasks/targets work as an alternative to raising actual PackageDependency items from an SDK project. Folks have expressed an interest in using this package infrastructure in non PKGProjs and we can enable that."

[2021-09-04 06:18] #7838 closed

[2021-09-07 15:16] #7817 closed

[2021-09-07 18:20] #7818 closed

[2021-09-08 09:27] premun commented on #7815
@akoeplinger @steveisok I will need to account for these scenarios:
- The zip you give to the SDK has multiple app bundles inside (runtime tests are run this way)
- There will not be an app bundle at all (iOS arm64 app is built on the Helix machine)

So I want to make it work this way:
- Look for all `*.app` directories in the root of the archive - put the `embedded.mobileprovision` file in each
-

[2021-09-08 15:28] MattGal opened #7850 "Regression in SourceLink Url generation when metadata is missing"
@adiaaida FYI if you want to handle it, otherwise I think Eric's suggestion will work (setting up a thing to test that)

https://github.com/dotnet/arcade/pull/7844 introduced the change, but it's evidently possible for https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Arcade.Sdk/tools/RepositoryInfo.targets#L76 a missing ScmRepositoryUrl metadata item on SourceRoot.

[2021-09-08 16:17] missymessa opened #7851 "Events from Azure DevOps delivered using unrecognizable organization name in URL"
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain

As discussed in the Dev WF v-team channel, events for when pipelines have started or a being re-ran are being received containing URLs that reference the name `x-pipes` instead of `dnceng` as the organization. This is causing functionality in the Build Result Analysis check to not work on PRs that are linked to builds that