[2021-09-08 16:24] MattGal commented on #7850
I set up a quick repro, and thanks to some quick help from the Rainer on the MSBuild team was able to get this PR created:
https://github.com/dotnet/arcade/pull/7852/files

[2021-09-08 16:46] adiaaida commented on #7850
MSBuild is so hard! Sorry about the mess up. Matt, can you also port this to release/6.0 once it goes into main?

[2021-09-08 17:33] MattGal commented on #7639
I believe this is rolled out, closing

[2021-09-08 17:33] #7639 closed

[2021-09-08 17:35] MattGal commented on #7827
@adiaaida rolled out ?

[2021-09-08 17:36] MattGal commented on #7836
Merged, moving to validate.

[2021-09-08 18:03] adiaaida commented on #7827
As part of today's rollout, yes.

[2021-09-08 18:03] #7827 closed

[2021-09-08 19:30] MattGal commented on #7850
Created https://github.com/dotnet/arcade/pull/7854

[2021-09-08 22:51] ericstj opened #7860 "Runtime bundles / MSIs don't honor user-relocated installation directory"
Discovered by inspection in code review in https://github.com/dotnet/arcade/pull/7855

The existing MSI and bundle authoring for the runtime installers doesn't look at the previous location of a product it is replacing, however the SDK bundle permits relocating these to a user specified location.

The result would be:
1. User installs SDK to user specified location.
2. User installs upgrade runtim

[2021-09-09 00:11] ericstj commented on #7850
No worries, I've hit this exact same bug before.

[2021-09-09 00:24] MattGal commented on #7836
Ported to 6.0 at Doug's request here: https://github.com/dotnet/arcade/pull/7861

[2021-09-09 10:43] weltkante opened #7862 "ConditionalFact does not work from within VS"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

`ConditionalFact` attributes are not working when tests are run inside VS 2022 - instead these tests are simply always run.

This was discovered [here](https://github.com/dotnet/winforms/discussions/5716) on the winforms repo, where tests that shouldn't be running were reported as failing.

Its unclear whether this is a VS

[2021-09-09 13:42] premun opened #7866 "Helix SDK must make all `$HELIX_` env vars available in Apple workloads"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

When we execute XHarness commands, we must do so using the `launchctl` command which spawns the process in a different user session. The env variables are not forwarded and they are lost.
Since the runtime mono tests rely on these, we must make them available in the payload scripts (send them as options and export them aga

[2021-09-09 14:44] rainersigwald opened #7868 "Update darc dependency flow troubleshooting directions"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

This section seems quite stale; it doesn't look like `darc get-subscription-history` exists any more.

https://github.com/dotnet/arcade/blob/7cbe70f57e3ccf97a3604b528fde7ecd6eb79573/Documentation/DependencyFlowOnboarding.md#L179-L218

What's the latest best practice here?

[2021-09-09 15:16] MattGal commented on #7850
This fix worked locally in my "artificial" setup but not in practice.  back to WIP, will handle it as fast as I can.

[2021-09-09 17:01] adiaaida commented on #7850
:(

[2021-09-09 17:11] adiaaida opened #7871 "Investigate additional easy perf improvements for the staging pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

There are plenty of jobs in the staging pipeline that appear to have additional quick/easy perf improvements that could be applied to them, including:

* Reducing overhead of contract validation
* Moving to the server buildpool queues
* Moving to hosted where we can
* Cloning the repo with fetchDepth of 1

[2021-09-09 17:14] MattGal commented on #7850
Sorry I just only fixed on location, the new one fixes both and definitely works on the arcade-validation build.

[2021-09-09 17:57] missymessa commented on #7851
Looks like the IcM was bounced to the AzDO Pipelines team. No resolution yet.

[2021-09-09 19:28] epananth commented on #7284
This has been done. Closing this issue

[2021-09-09 19:28] #7284 closed

[2021-09-09 19:43] MattGal opened #7873 "Move to 1ES pools broke Arcade-Official"
- [x] This issue is blocking blocks official CI
- [ ] This issue is causing unreasonable pain

https://github.com/dotnet/arcade/pull/7856 broke the official CI build.  I'm fine trying to fix it once but otherwise we should roll back

[2021-09-09 20:35] MattGal commented on #7873
Verified fixed (https://dnceng.visualstudio.com/internal/_build/results?buildId=1353217&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=f0cc8877-3c21-4ab8-922b-ac26d69fc8c8) , closing .

[2021-09-09 20:35] #7873 closed

[2021-09-10 00:25] MattGal commented on #7850
I have shepherded the complete fix through on both main and release/6.0  and things look good through publishing on main.  Release/6.0 doesn't seem to be set up to automatically trigger post-merge so I manually kicked it and mentioned that to @epananth

[2021-09-10 00:25] #7850 closed

[2021-09-10 10:27] #7866 closed

[2021-09-10 13:48] MichaelSimons opened #7880 "[release/6.0] update the MicrosoftNetSdkWorkloadManifestReaderVersion used"
Currently MicrosoftNetSdkWorkloadManifestReaderVersion `6.0.100-preview.5.21254.11` is used - https://github.com/dotnet/arcade/blob/release/6.0/eng/Versions.props#L86.  In Preview 7 there were some breaking changes made with - https://github.com/dotnet/sdk/commit/b8ade8ee1c3e2470db732fb934e9c6e1feeb9d1d.  Please update Arcade to build with a newer version and address the resulting build breaks:

[

[2021-09-10 18:19] danmoseley commented on #6768
@akoeplinger I think you made the backport Github Action. do you know of any existing action that would do something like the above?

[2021-09-13 05:23] am11 commented on #6768
In practice, only few people are aware of https://github.com/dotnet/arcade/blob/master/eng/common/README.md, so we end up sending three PRs:
* send PR to dotnet/{downstream repo} modifying something in eng/common. since 99% people don't remember it this arbitrary detail that eng/common is a mirror directory, it gets merged.
  * i personally don't think it's anyone's fault, just the case of incompl

[2021-09-13 15:54] missymessa commented on #7851
Taking this with me as I come off FR and go back to my epic, since this issue directly impacts the functionality of my epic.

[2021-09-13 17:24] missymessa commented on #7851
Dev assigned to IcM verifies that this is a bug and they'll be looking into it this week.

[2021-09-13 18:15] MattGal commented on #7836
Seems good, will merge https://github.com/dotnet/arcade/pull/7889 and then close.

[2021-09-14 00:14] MattGal commented on #7836
feature is now in main and release/6.0, and successfully published (https://dnceng.visualstudio.com/internal/_build/results?buildId=1359695&view=logs&j=7d9eef18-6720-5c1f-4d30-89d7b76728e9&t=f511b583-5060-5810-7549-865816347c8e&l=296), closing

[2021-09-14 00:14] #7836 closed

[2021-09-14 00:15] MattGal commented on #7767
Finally back on this, will start tomorrow AM.

[2021-09-14 14:17] airbreather opened #7896 "ApiCompat: CannotChangeAttribute raised when IteratorStateMachineAttribute's auto-generated type name changed"
- [ ] ~~This issue is blocking~~ (we can re-baseline)
- [ ] ~~This issue is causing unreasonable pain~~ (package is still a prerelease, so pain is reasonable)

The PR validation build for NetTopologySuite/NetTopologySuite#548 initially failed (https://github.com/NetTopologySuite/NetTopologySuite/runs/3599391887) with the following error:

Updating the `PackageReference` version to `7.0.0-beta.2146

[2021-09-14 14:32] adiaaida opened #7897 "Upgrade version of CredScan used by SDL tooling"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We want to upgrade the version of CredScan used by our shared SDL tooling scripts. Tracking https://securitytools.visualstudio.com/SecurityIntegration/_workitems/edit/51126 to get instructions on how to do so.

[2021-09-15 11:12] #7815 closed

[2021-09-15 12:59] premun opened #7899 "Make sure XHarness telemetry is sent even when job times out"
### Context
When we call user commands inside of the Helix SDK, we have to make sure that when they time out, we still send the telemetry at the end of the job (we do it via `HelixPostCommands`).

### To be done
- Investigate behavior of `HelixPostCommands` and whether they get called even when command times out
- Make sure telemetry is sent, i.e. time-constrain user commands and leave buffer to s

[2021-09-15 16:13] mmitche commented on #6931
I'd like to bump this up as something we should do soon. All publishing except for v3 should be removed from main. We've hit a number of bugs recently due to the complexity of default settings, people not updating from v2 to v3, etc. Anything on arcade 5.0 and beyond should be on v3, and so we should remove v1 and v2.

While at it, the `PublishingInfraVersion` enum should be refactored to be a lit

[2021-09-15 18:19] fanyang-mono opened #7900 "Ran into permission error when uploading ios simulator test logs on helix machine"
Ran into this issue qualifying my PR https://github.com/dotnet/runtime/pull/58870

This is the error message:
[code]

[2021-09-15 18:39] adiaaida opened #7901 "Clean up internal repos"
We need to do a little bit of clean up on DotNet-Orchestration-Utilities and CoreFxTools

[2021-09-15 18:40] adiaaida commented on #7901
Issue moved to [dotnet/core-eng #14370](https://github.com/dotnet/core-eng/issues/14370) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-15 18:40] #7901 closed

[2021-09-16 16:23] adiaaida commented on #7897
I have pinged the guardian ticket asking for more information.

[2021-09-17 14:42] mmitche opened #7908 "Make engine signing map during post-build signing a bit smarter"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

This follows up on https://github.com/dotnet/core-eng/issues/14375 and is about making the engine signing map [here](https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.SignTool/src/BatchSignUtil.cs#L156-L170) a bit smarter.

This will fail if we have two files within the same drop that have the same name but d

[2021-09-17 14:44] mmitche opened #7909 "Preference gather-drop to pull from dotnetbuilds after storage account rework"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

After the storage account rework is done, we should preference gather-drop to pull from dotnetbuilds over dotnetcli in the interim while we are publishing to both locations.

[2021-09-17 14:45] mmitche commented on #7909
@alexperovich @adiaaida

[2021-09-17 14:45] mmitche commented on #7909
Followup from https://github.com/dotnet/core-eng/issues/14375

[2021-09-20 14:19] ViktorHofer commented on #7896
cc @joperezr @safern @ericstj

[2021-09-20 14:46] safern commented on #7896
I completely agree that API Compat should be smarter for the way it handles attributes. Currently it is a pretty "simple" implementation of comparing left vs right value of the attribute and its constructor arguments.

It also, doesn't filter compiler generated attributes, however we don't want to filter all of them, i.e `ReadOnlyAttribute` is the way the `readonly` keyword is expressed on metadat

[2021-09-20 22:17] MattGal commented on #7732
The status quo seems OK with the product teams creating entry points, and the release pipeline has relevant comments, so closing.

[2021-09-20 22:17] #7732 closed

[2021-09-20 22:18] MattGal commented on #7767
I don't see the ROI on this and have verified that the .tar.gzs produced continue to be valid, so I am tossing this into the "Improve Release Process" epic for future work.

[2021-09-20 22:18] MattGal commented on #7076
Moved remaining issue to future work, closing this epic.

[2021-09-20 22:18] #7076 closed

[2021-09-21 15:14] SteveSandersonMS opened #7924 "NullReferenceException from PublishArtifactsInManifest in ASP.NET Core build"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The ASP.NET Core build at https://dev.azure.com/dnceng/internal/_build/results?buildId=1373561&view=logs&j=226748d0-f812-5437-d3f0-2dd291f5666e&t=bad11196-972e-5d03-45a8-9db526506073&l=51 failed with the following error:

[code]

This only happened once, so it seems to be an intermittent issue. There are binlogs at https:/

[2021-09-21 15:35] riarenas opened #7925 "[Maestro++] Feed cleaner service failing to connect to nuget.org"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The logs for the feed cleaner service are full of the following exception:

[code]

This is happening from this method: https://github.com/dotnet/arcade-services/blob/722d732c4c202f7f92ed96355c7d5c59b719fbf3/src/Maestro/FeedCleanerService/FeedCleanerService.cs#L323

This is stopping us from verifying whether a package in o

[2021-09-21 15:35] riarenas commented on #7925
@mmitche FYI

[2021-09-21 15:50] riarenas opened #7926 "[Maestro++] Remove unimplemented "NoExtraCommits" merge policy"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain: This causes a lot of confusion.

The merge policy is available in the documentation and you can set it in a subscription via darc. However, that policy is not implemented: https://github.com/dotnet/arcade-services/blob/722d732c4c202f7f92ed96355c7d5c59b719fbf3/src/Maestro/Maestro.MergePolicies/NoExtraCommitsMergePolicy.cs#L

[2021-09-21 16:05] mmitche commented on #7925
Good to know.

[2021-09-22 15:27] #7900 closed

[2021-09-22 15:36] jeffhandley opened #7940 "ApiCompat should verify that `[assembly:RequiresPreviewFeaturesAttribute]` is not added to an assembly"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In .NET 6.0, we've introduced the [`RequiresPreviewFeaturesAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.versioning.requirespreviewfeaturesattribute?view=net-6.0) that allows an API or assembly to be annotated as requiring an opt-in for using preview features. Per the [feature spec](https://github.

[2021-09-22 19:38] adiaaida commented on #4841
Bringing this back to WIP. Matt and I agreed that we should do at least VERY BASIC coherency, which I now have in PR. When that is in, the real work for this will probably go back into the backlog again

[2021-09-23 09:31] jakubstilec commented on #7795
[Async Triage]: @riarenas was it too big for FR, should we convert to small epic?

[2021-09-23 09:50] jakubstilec commented on #1468
[Async triage]: Assigned to #6811.

[2021-09-23 10:08] jakubstilec commented on #7868
[Async Triage]: @riarenas please don't you know about get-subscription-history? It isn't in our code and I also can't find it in history, but it's mentioned in documentation.

[2021-09-23 10:25] premun commented on #7926
[Async triage] If it breaks people's flows because of consufion I'd say **First Responder**, otherwise Arcade technical debt and test gaps (#6811)

[2021-09-23 13:25] fanyang-mono opened #7943 "The test logs supposed to be uploaded helix root were missing"
After https://github.com/dotnet/arcade/issues/7900 was fixed, I noticed that all the test logs were gone for my PR.

- [x] This issue is blocking https://github.com/dotnet/runtime/pull/58870

[2021-09-23 13:34] premun opened #7944 "Allow users to ask for retry/reboot when using XHarness CustomCommands"
### Context
When user is running custom XHarness commands and they spot an infra issue (e.g. app install is timing out), they need to be able to request infra retry+reboot which resolves this issue.

### Goal
Add bash and PowerShell means to request infra retry/reboot which users can call when needed.

[2021-09-23 14:44] riarenas commented on #7868
I'm not familiar with get-subscription-history. I can't find any code references to it, and I'm probably not using the right keywords to search commits where it was added/removed. @mmitche Do you know if it was something we never implemented?

It's definitely a command that doesn't exist right now, so we should update this documentation. We have no current way for customers to look into the subscr

[2021-09-23 14:45] riarenas commented on #7926
I think it's FR as well, and I'm going to put it there. This is small enough and can get branches in a pretty bad state if they start requiring this check.

[2021-09-23 14:58] riarenas commented on #7795
The fact that I moved it to "in PR" was a mistake, I was probably trying to move another issue, and @adiaaida fixed my mistake during a standup. I don't really have any context on this one.

I don't have a sense for how big this is, but given Matt's comment and the issue itself it seems bigger than a regular FR issue, and doesn't quite fit the bill since neither the blocking or unreasonable pain c

[2021-09-23 15:16] mmitche commented on #7729
This appears to be fixed in the arcade tests, but somehow hasn't shown up in the runtime builds yet. We did flow the fix into arcade-services (I think that's required so that the push to BAR task picks it up). But perhaps a new push to bar task needs to make it back into arcade?

https://dev.azure.com/dnceng/internal/_build/results?view=results&buildId=1377024

The binlog for the Publish To Build

[2021-09-23 15:22] mmitche opened #7945 "Reduce verbosity of signing console logging in the staging pipeline"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The signing console logs are enormous. It might actually effect performance (it certainly does in my browser). Anyways, the info presented is useful and should be maintained in file form, but it doesn't need to go to the console.

Ideally the verbosity goes down to maybe just high-level status updates, like "unpacking cont

[2021-09-23 16:01] mmitche opened #7946 "Ensure wix tooling is up to date in staging pipeline"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

After changes to the wix tooling to support some key scenarios, we are using a new version in RC2+. Because we relink after signing in the staging pipeline, we need to update the version of the tooling we use there too, if it hasn't already been done transparently (I can't remember how the version is specified)

Here is th

[2021-09-23 16:02] mmitche commented on #7946
/cc @joeloff @adiaaida

[2021-09-23 16:54] MattGal commented on #7946
[Async Triage]: Small change which is necessary in Arcade which Matt has already self assigned, tossing in FR for tracking.

[2021-09-23 16:56] mmitche opened #7949 "Align Wix tooling acquisition across the stack"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

There are various methods of WiX tooling acquisition right now across the stack:
- NuGet Package
- dotnet/installer custom targets that download blobs
- dotnet/arcade targets that download blobs

These should be unified into no more than two methodologies (packages and blobs), both versioned and/or implemented in arcade. T

[2021-09-23 16:59] adiaaida commented on #7946
@missymessa who may know how we specify/get the wix version

[2021-09-23 17:00] adiaaida commented on #7946
FYI, the release repo is currently blocked on getting the latest arcade version (assuming that is how we get the WiX tools). I will look into it, but I'm hesitant to allow the update to 7.0 arcade for 6.0 releases, since there may be changes that break the pipeline.

[2021-09-23 17:01] MattGal commented on #7940
[Async Triage]: Tossing into https://github.com/dotnet/arcade/issues/363, as previous ApiCompat issues have been (this tool is generally contributed-to by runtime / aspnet teams).  Please remove from this epic if I am incorrect.

[2021-09-23 17:02] adiaaida commented on #7946
This target is how we get the WiX tools: https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/wix.targets

[2021-09-23 17:17] missymessa opened #7950 "Research Statistical Analysis solutions for test result data"
In relation to determining calculations we need to run against our test result data (https://github.com/dotnet/core-eng/issues/14429) we need to have a better understanding of how statistical analysis works so that we can have confidence in the reporting we'll be generating. To do this, we require the expertise of a data scientist (Nikki Haas, @mathaholic, of the IDM Services Eng team) to help us

[2021-09-23 17:27] MattGal commented on #7924
tossing into FR since this is customer pain from code exposed by Arcade that impacts day-to-day operations.

Looking at the call stack:
[code]
... everything except the bottom of the stack is actually in external code (Microsoft.SymbolUploader) so we should consult with @mikem8361 to ask about this, but I think in all cases we could simply retry from PublishSymbolsHelper.PublishAsync.

[2021-09-23 17:34] mmitche commented on #7945
Yes. Today I usually download the log and search through it since the console log load takes a long time (e.g. a typical log might be 120MB)

[2021-09-23 18:05] #7705 closed

[2021-09-23 18:44] jeffhandley commented on #7940
Seems reasonable. Thanks, @MattGal.

[2021-09-23 19:28] #7343 closed

[2021-09-23 19:42] riarenas commented on #4769
I still don't know where this should go. It used to be in the "dependency flow next" epic, but it's come up a few times since then. I can sort of make a case for FR since this causes confusion for customers, but it's not exactly blocking.

[2021-09-23 19:49] riarenas commented on #7862
This is owned by the runtime team, assigning to dotnet/arcade#363
@akoeplinger  FYI

[2021-09-23 19:50] riarenas commented on #7880
This looks like it could be part of the new operational epic, but maybe until that's in place, and since it's impacting source-build, FR?

[2021-09-23 20:02] riarenas commented on #7909
Should this go in the dotnetbuilds epic, or the release epic?

[2021-09-23 20:04] riarenas commented on #7925
I think this should be First Responder work.

[2021-09-23 20:07] riarenas commented on #7945
It does seem most relevant to the release epic. The lack of checkboxes on the issue makes me think it doesn't quite meet the bar for FR?

[2021-09-23 20:08] riarenas commented on #7949
@mmitche are you looking for eng-services to do this work, or is this something that should be part of the Wix work that @joeloff has been doing?

[2021-09-23 20:09] riarenas commented on #7945
@adiaaida FYI

[2021-09-23 20:09] adiaaida commented on #7909
I think the dotnetbuilds epic

[2021-09-23 20:10] adiaaida commented on #7945
This is more SignTool related I think? All of that verbosity is coming from SignTool itself.

[2021-09-23 20:13] adiaaida commented on #4769
Maybe Expanded FR? Because it feels like it's a bit knowledge-dependent, and a bit bigger than a normal FR issue?

[2021-09-23 20:33] adiaaida commented on #7868
It was deleted here: https://github.com/dotnet/arcade-services/commit/b8827fd0b8dd0b9c406777d08fa90cfaab037f72#diff-d7b596f72d2e2bd09844ed34cecb5eb87dfbf11325bbe1f9cdb24222f91a1b08

[2021-09-23 20:51] mmitche commented on #7949
I think we should decide on a path forward but have the teams do the work. This issue woudl be expanded out to track status in various repos once a path forward was decided.

[2021-09-23 20:55] joeloff commented on #7949
I hope to set up the build process internally in dnceng because we know there's at least one update coming for RC2 still. Right now I'm managing that and we should at least get the build/publishing the package to blob/feed automated. To whom should I reach out about that?

[2021-09-23 21:02] riarenas commented on #7949
I think an email to dnceng / a post in the Engineering services partners channel is probably a good way to start this conversation, but in general we should already have all the tooling to support this, by onboarding the repo into dependency flow and arcade-based publishing.

[2021-09-23 21:03] riarenas commented on #7949
@mmitche so it sounds like this issue itself is more like a mini-epic?

[2021-09-23 21:18] dseefeld commented on #7795
Also, see the comment here: https://github.com/dotnet/aspnetcore/pull/35846#issuecomment-910642138  It seems this needs to be coupled with an SDK change.

[2021-09-23 21:35] mmitche commented on #7949
Yeah I think so.

[2021-09-23 23:38] ericstj opened #7954 "GenerateFileFromTemplate doesn't preserve execute permission"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

I noticed when using GenerateFileFromTemplate that it doesn't preserve the execute bit if it was present on the source file.  I understand why it doesn't but it might be worth preserving so that others don't trip on this.

[2021-09-24 00:42] mikem8361 commented on #7924
It looks like it is attempting to retry an http request, logging the error and something in the log formatting is null.  The only thing I can see from inspecting the code that dereferences something is the "activity" parameter.  Which means the static property VssTraceActivity.Current is null.

I could make changes to this logging/tracing code to make it more resilient if needed.

/cc: @hoyosjs

[2021-09-24 10:24] #7899 closed

[2021-09-24 21:02] riarenas commented on #3794
These tests are still disabled. I think we should either do the work to figure out whether we can remove them, or fix them, even if this issue goes to the Arcade SDK epic

[2021-09-24 21:06] riarenas commented on #7924
Another failure that looks like an instance of this: https://dev.azure.com/dnceng/internal/_build/results?buildId=1384845&view=results

[2021-09-26 02:36] RussKie commented on #7862
This is tracked under https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1396904

[2021-09-27 13:12] #7944 closed

[2021-09-27 15:52] MattGal commented on #7924
This would definitely be the preferable fix... it might even end up successfully retrying if so.  If that's not feasible to do soon though, can you comment about whether outer code catching the null ref and retrying would be an acceptable workaround?

[2021-09-27 15:54] mikem8361 commented on #7924
We already have some fixes in PR (and approved)  https://github.com/dotnet/arcade/pull/7964

[2021-09-27 15:55] riarenas commented on #7924
I believe https://github.com/dotnet/arcade/pull/7964 is already out to fix this.

[2021-09-27 17:22] MattGal commented on #7946
This was merged via https://github.com/dotnet/arcade/pull/7947 (main) and https://github.com/dotnet/arcade/pull/7948 (release/6.0), so closing this issue unless we also need this somewhere else (the wix.targets patched wasn't present <= release/5.0)

[2021-09-27 17:22] #7946 closed

[2021-09-27 18:23] MattGal commented on #7729
Put back to the backlog and unassigned so we can get a fresh investigation on this.  With luck it's just a need for dependency updates to flow.

[2021-09-27 18:46] ChadNedzlek commented on #7786
Now that the 1ES pools are available, could we/should we move this there?

[2021-09-27 19:25] alexperovich commented on #7786
yes, we should.

[2021-09-28 23:57] RojaEnnam opened #7977 "Setting RespectInternals option doesn't catch the violation"
I am setting RespectInternals option as below in props file where other options for ApiCompat are also set; when I change the method signature of an internal method whose assembly is a friend assembly to other assemblies it doesn't catch the violation and fail the build.

<AdditionalApiCompatOptions>--respect-internals</AdditionalApiCompatOptions>

Is this the right way to set it?

[2021-09-29 12:11] akoeplinger commented on #7862
hm this is weird, I guess the ConditionalFactDiscoverer which marks the test as skipped is not running for some reason: https://github.com/dotnet/arcade/blob/9a94c6be4c355a4acdec6bc6956fec95ef6da562/src/Microsoft.DotNet.XUnitExtensions/src/Discoverers/ConditionalFactDiscoverer.cs#L18-L23

[2021-09-29 12:33] premun opened #7979 "Arcade PR pipeline is inefficient"

[2021-09-29 12:57] akoeplinger commented on #6768
@danmoseley This should be really easy to do with a GitHub Action that gets triggered by changes to eng/common, we'd just need to no-op for PRs from dotnet-bot i.e. legitimate updates. I'll take a stab at it-

[2021-09-29 14:36] riarenas commented on #7977
@ericstj may be able to provide guidance.

[2021-09-29 15:03] riarenas commented on #7925
I'm going to add it to FR since this is still consistently failing every day.

[2021-09-29 15:40] ericstj commented on #7977
cc @safern @dougbu

@RojaEnnam -- check the build logs to find out if you set things up correctly and your settings are making it to the API compat task.  https://www.msbuildlog.com/ is a great tool for this.

If you feel like you're setting things up correctly, can you share a repro?

[2021-09-29 19:18] safern commented on #7977
Does you assembly have `InternalsVisibleTo`? It seems like that is the correct option for that: https://github.com/dotnet/arcade/blob/6eb4672621de597024a7e287c82e870d03c0ab3f/src/Microsoft.DotNet.ApiCompat/src/ApiCompatRunner.cs#L81

Yeah a repro would be great!

[2021-09-30 14:56] adiaaida commented on #7897
Pinged the guardian team again.

[2021-09-30 23:02] davidwengier commented on #7300
Any news on this? We're just wrapping up another compliance checkpoint for DevDiv and this would have saved a few teams a bunch of effort :)

[2021-10-01 12:56] premun commented on #7954
[async triage] Arcade debt? (https://github.com/dotnet/arcade/issues/6811)

[2021-10-01 20:01] epananth commented on #7729
I checked the MicrosoftDotNetMaestroTasksVersion in arcade and its currently using 1.1.0-beta.21378.2, which was updated on August 3rd. Michelle's changes went in to arcade on August 19th. Maestro task version has no been updated since August 3rd. The latest version of Maestro task is -> 1.1.0-beta.21479.2, https://dev.azure.com/dnceng/internal/_build/results?buildId=1393447&view=logs&j=3f8da9d0-1

[2021-10-01 20:19] riarenas opened #7987 "Arcade-validation scheduled build failing due to pool provider configurations"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain
This means we're not able to run the daily scheduled build that:
1. Tests out the staging pools
2. Attempts to promote arcade even if there haven't been any newer changes

The scheduled arcade-validation build is failing to get machines, and is failing with the following error:

[code]

The pool configuration for the schedu

[2021-10-01 20:19] riarenas commented on #7987
Any ideas @ulisesh @lpatalas @jonfortescue ?

[2021-10-01 20:21] lpatalas commented on #7987
@riarenas We're on it. We are just discussing it on 1ES teams channel

[2021-10-01 20:24] hoyosjs opened #7988 "Publishing v3 doesn't publish converted portable PDBs"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Symuploader used to do PDB conversion, then it was handled by Symstore.targets + PDB2PDB in publishing v2. I don't think there's anything doing this conversion right now.

This issue is blocking insertions. All Portable PDBs need to be converted to Windows PDBs and indexed.

This is also a gap in validation - it verifies a

[2021-10-01 20:30] epananth commented on #7988
In the call to publishSymbolHelper we always default this to false
https://github.com/dotnet/arcade/blob/c6825302a5621905726f2db53cfce992558e0618/src/Microsoft.DotNet.Build.Tasks.Feed/src/PublishArtifactsInManifestBase.cs#L490

We will need to make sure that value can be updated by repo owners...

[2021-10-01 20:36] epananth commented on #7988
One thing I noticed this feature was turned off even in V2 https://github.com/dotnet/arcade/blob/c6825302a5621905726f2db53cfce992558e0618/src/Microsoft.DotNet.Arcade.Sdk/tools/SdkTasks/PublishToSymbolServers.proj#L101

[2021-10-01 20:37] lpatalas commented on #7987
Issue happens because staging CloudTest images have -Int suffix but we forgot to take it into account when migrating the pipeline.

The plan to solve it is to:
1. Revert the changes to unblock promotion (https://github.com/dotnet/arcade-validation/pull/2590)
2. Increase max scale for staging pools to 10
3. Change staging image names or update pipeline yaml to include the suffixes

[2021-10-01 20:41] hoyosjs commented on #7988
That's because in-repo the conversion was done not by the uploader, but in-build: https://github.com/dotnet/arcade/blob/c6825302a5621905726f2db53cfce992558e0618/src/Microsoft.DotNet.Arcade.Sdk/tools/SymStore.targets#L70

[2021-10-01 20:43] hoyosjs commented on #7988
That design had an issue in the mono world too (we can't really do it at build time) - as we now have components that build not on windows but get inserted into VS, so PDB2PDB never ran.  cc: @directhex

[2021-10-01 21:16] hoyosjs commented on #7988
So this is really 3 issues:

- SymStore.targets + Publishing v3 don't allow for publishing the Windows PDBs needed on Watson.
- There's no conversion mechanism for VS insertions that are build on non-Windows OSs.
- Symbol validation is brittle - only verifies one item and not all necessary assets.

[2021-10-04 18:46] lpatalas commented on #7987
I've created PR to increase size for staging pools here: https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/18673

[2021-10-04 21:13] mmitche commented on #7988
@epananth @hoyosjs Can we just flip that switch to always be true? Are there downsides? Publishing v3 always runs on Windows so we have a point at which we can convert all PDBs.

[2021-10-04 21:15] hoyosjs commented on #7988
More CPU + time. You'd need to retune the timeouts of publishing for something like runtime

[2021-10-04 21:33] mmitche commented on #7988
@epananth Can you run some tests on runtime with the proposed changes?

[2021-10-04 21:34] epananth commented on #7988
Yes will do!

[2021-10-05 15:06] adiaaida commented on #7909
Adding to the dotnetbuilds epic

[2021-10-05 15:10] adiaaida opened #7991 "Repackage the wixpack zip files and upload on release day"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

While we do replace files within the wixpack layouts, I don't think we ever actually rezip them and upload them to the signed dir. If we had, then the exe in the hosting bundle wixpack.zip and the dotnet runtime exe would actually have the same hash when initially run through signtool, so we would only try to sign the engi

[2021-10-05 16:26] joeloff opened #7992 "Update Microsoft.Signed.WiX to 1.0.0-v3.14.0.5722"
Updated WiX build that contains changes to better support x64 emulation on arm64. This is needed for 6.0.

[2021-10-05 16:26] joeloff commented on #7992
FYI @mmitche

[2021-10-05 16:35] missymessa commented on #7851
Team claimed they would get this out in a hotfix last week, but the fix is still not in. Poked on the IcM this morning to see where we're at with this.

[2021-10-05 17:56] #7871 closed

[2021-10-05 23:18] epananth commented on #7988
I'm seeing this error in promotion build -> https://dev.azure.com/dnceng/internal/_build/results?buildId=1404592&view=results

@alexperovich is helping fix this one..

[2021-10-06 03:49] ericstj commented on #7992
@joeloff are you planning to put up a PR for this?

[2021-10-06 16:07] #7992 closed

[2021-10-06 20:18] epananth opened #8004 "Maestro promotion failure when publishing existing build to different channel"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Error -> https://dev.azure.com/dnceng/internal/_build/results?buildId=1404086&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

[code]

[2021-10-07 00:11] epananth commented on #7988
was able to test it against runtime -> https://dev.azure.com/dnceng/internal/_build/results?buildId=1407043&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

[2021-10-07 05:41] epananth commented on #7988
Will get this PR out first thing in the morning

[2021-10-07 20:32] deeprobin opened #8010 "[Proposal] Use Bazel for some components"
Bazel is a fast and scalable build tool.
Wouldn't it therefore make sense to replace the PowerShell (for ex. [eng/configure-toolset.ps1](https://github.com/dotnet/arcade/blob/main/eng/configure-toolset.ps1) and and Bash (for ex. [eng/configure-toolset.sh](https://github.com/dotnet/arcade/blob/main/eng/configure-toolset.sh)  scripts with Starlark scripts so that they run platform-independently?

##

[2021-10-08 22:32] dagood opened #8014 "Remove WiX prebuilt from Workloads tooling by removing the PackageReference during source-build"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

---

* For https://github.com/dotnet/source-build/issues/2411

Microsoft.DotNet.Build.Tasks.Workloads.csproj pulls in a WiX NuGet package, which is not currently built from source:

https://github.com/dotnet/arcade/blob/020ac68b5848016459652ebf4ed965b9800fe426/src/Microsoft.DotNet.Build.Tasks.Workloads/src/Microsoft.DotNet

[2021-10-08 22:58] ghost opened #8015 "Investigate missing symbol publishing for all repos and branches using V3"
- [X] This issue is blocking

This is blocking msbuild insertion into VS.
- [ ] This issue is causing unreasonable pain

There seems to have been a regression in symbol publishing that might be related to https://github.com/dotnet/arcade/commit/a661399307c8c72eeff4e0cf6e221a78ae1ea765

The logs for the latest maestro publishing build no longer shows any indication that symbols are actually being p

[2021-10-08 23:48] dagood commented on #8014
I've been out of the loop for a while, but some recent messages in the source-build chat seem to indicate that no workloads are (intentionally) built during source-build, so that won't be a problem. Does that sound right?

Does this affect the acquisition story on Linux, macOS? (What is the finalizer?)

[2021-10-08 23:52] joeloff commented on #8014
The finalizer is for Windows installer only. It's a native C++ EXE we run on Windows when the SDK is removed to clean up any workloads that were acquired through the CLI.

[2021-10-10 19:59] hoyosjs commented on #8015
This is actually affecting all repos - runtime is also having this issue.

[2021-10-11 16:45] ViktorHofer commented on #8015
Official builds targeting both 5.0 and 6.0 are failing for dotnet/runtime presumably because of this. Ie https://dev.azure.com/dnceng/internal/_build/results?buildId=1412894&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

[2021-10-11 18:46] hoyosjs commented on #8015
This one is different - and new...

[2021-10-11 21:11] michellemcdaniel opened #8022 "Fix WiX version in dotnet-release post-build signing"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The version of WiX was updated recently for the product repos, but dotnet-release is still using an old version of Microsoft.DotNet.Build.Tasks.SharedFramework.Sdk, which has since been deleted. We need to update post-build signing to use Microsoft.DotNet.Build.Tasks.Installers instead for acquiring WiX.

[2021-10-12 17:36] ViktorHofer commented on #8015
Could this be the reason for the missing symbols here: https://github.com/dotnet/runtime/issues/57259#issuecomment-940649110?

[2021-10-12 17:39] adiaaida commented on #8015
@alexperovich Is it possible something about the new publishing work you're doing affected symbols publishing?

[2021-10-12 18:48] alexperovich commented on #8015
With my publishing changes we made a specific decision to publish symbols to azure storage instead of the nuget feeds they used to be in. I didn't touch any of the code that uploads to msdl or symweb, but potentially it got disconnected somewhere. I will check.

[2021-10-12 18:52] riarenas commented on #8015
This call seems to be returning empty: https://github.com/dotnet/arcade/blob/8d89c24d4b70c6af8b8cf1d749d748464276ded4/src/Microsoft.DotNet.Build.Tasks.Feed/src/PublishArtifactsInManifestBase.cs#L670-L671 so there's probably some disconnect around the feedConfigsForSymbols

[2021-10-13 14:39] ghost opened #8033 "Publishing pipeline failing with "error : DLL <name> for portable PDB not found"
- [X] This issue is blocking
This error is causing publishing failures across many repositories

- [ ] This issue is causing unreasonable pain

Installer: https://dev.azure.com/dnceng/internal/_build/results?buildId=1417830&view=results
EFcore: https://dev.azure.com/dnceng/internal/_build/results?buildId=1417617&view=results
Runtime: https://dev.azure.com/dnceng/internal/_build/results?buildId=141

[2021-10-13 14:50] riarenas commented on #8015
Newer runs are attempting to publish symbols. There's a new problem I'm seeing during symbol publishing so I opened https://github.com/dotnet/arcade/issues/8033 for that.

[2021-10-13 14:50] #8015 closed, assigned to nobody

[2021-10-13 16:58] riarenas commented on #8033
This is causing another type of failure in aspnetcore's publishing:

https://dev.azure.com/dnceng/internal/_build/results?buildId=1417315&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

[code]

which looks to be the same issue as https://github.com/dotnet/arcade/issues/7388. I'm going to roll back the portable PDB change. Looks like the approach of converti

[2021-10-13 19:10] riarenas commented on #7988
Reopening since the changes for this had to be reverted.

[2021-10-13 19:14] riarenas commented on #7988
Then I guess we need to make fixes to pdb2pdb so that it doesn't result in sourcelink errors in aspnetcore?

[2021-10-13 19:44] #8033 closed, assigned to nobody

[2021-10-14 01:01] ChadNedzlek commented on #4769
Expanded FR is the same as "never", unfortunately, at least practically speaking.  FR keeps getting more and more responsibility, and doesn't really have time for big issues.

[2021-10-14 01:03] ChadNedzlek commented on #6863
Has there been any resolution on this @jaredpar, @mmitche?

[2021-10-14 01:04] ChadNedzlek commented on #7607
Is the arcade SDK epic just a random pile of tiny feature requests? Those can be... hard to prioritize/organize (and the issues tend to just flow right back out of them)

[2021-10-14 01:09] ChadNedzlek commented on #7698
I'm not sure what the actual ask is here. And no one seems to be commenting on it... can this be closed?

[2021-10-14 01:10] ChadNedzlek commented on #7714
Sounds good to me. Moving it.

[2021-10-14 15:19] #8010 closed, assigned to nobody

[2021-10-14 15:24] markwilkie commented on #7954
Moving to our partners tracking epic

[2021-10-14 15:32] markwilkie commented on #7880
@ilyas1974 / @MattGal - thoughts?

[2021-10-14 15:33] markwilkie commented on #7868
Next steps?

[2021-10-14 15:38] ericstj commented on #7860
This is actually the runtime installers.  I talked about this with @joeloff.  We're not entirely sure if we should fix it or not.  He mentioned that the retargeting the runtimes to a different user specified path was never fully completed end-to-end.  IMO we should either complete the experience and officially support it or remove it completely.  @NikolaMilosavljevic

[2021-10-14 15:40] markwilkie commented on #7820
Making this an epic

[2021-10-14 15:54] adiaaida commented on #7835
I am not sure exactly what the urgency is on this one. It sounds like there are some customers who want it, but it's completely related to daily releases, which seems like a use case that isn't really used a lot. Also, and this is just me talking, I don't know how we would decide which sdk band is the "main" band and should be the one that goes to the patch-agnostic link. Like, we currently are re

[2021-10-14 16:04] markwilkie commented on #4769
Closing for now.  Feel free to reopen....

[2021-10-14 16:28] adiaaida opened #8040 "dotnet-release rollout 10/12"

[2021-10-14 16:29] riarenas commented on #4769
Going to reopen this. I think it's a good one to talk about during the triage sync.

[2021-10-14 16:30] markwilkie commented on #4769
(as an aside, here's a good example @adiaaida  of folks telling me that I'm wrong....grin)

[2021-10-14 16:54] #7765 closed

[2021-10-14 17:30] alexperovich commented on #7786
Really anyone can do this. Its just finding the pool specifications and switching it to the right one. I know where the source-index pool is defined in the yaml, I would have to dig a bit to find the source build stuff. This can easily be an FR item.

[2021-10-15 15:59] akoeplinger opened #8045 "Treat TooManySubResults warning from AzDO test reporter as benign"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

We have many thousands of Helix workitems in Kusto with a `Status=Warning`. The Helix API reveals that this is due to:

[code]

I looked at AzDO test explorer and the test splitting just shows as two separate entries which is fine for us:

![image](https://user-images.githubusercontent.com/1376924/137517408-5abc5b06-ebdf-4

[2021-10-15 17:47] donnie-msft opened #8046 "gpu_init.cc Passthrough is not supported, GL is disabled"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

I haven't run `darc` in many months, but today I needed to, so pulled main (6d47939a55dde813), ran `.\eng\common\darc-init.ps1`, followed by `darc authenticate`.

For some reason, I got this error on my physical machine during the `authenticate`:

![image](https://user-images.githubusercontent.com/49205731/137530088-7875ef

[2021-10-18 08:33] #7943 closed

[2021-10-18 18:27] adiaaida commented on #8046
I don't know of anything that would prevent us from using vscode as the editor, and this code hasn't changed in a long time.

Tagging @mmitche who might be able to provide more insight

[2021-10-18 20:55] ilyas1974 commented on #7897
It looks like the Guardian Team replied to the issue. @adiaaida is this something you can complete or shoudl we assign it to someone who is currently on FR?

[2021-10-18 21:07] adiaaida commented on #7897
From their response, I think what we want to do is modify the tools list https://github.com/dotnet/runtime/blob/main/eng/sdl-tsa-vars.config in runtime. I can definitely take a stab at this and try to get it updated.

[2021-10-18 21:09] ilyas1974 commented on #7897
Let me know if there is anything FR can do to help.

[2021-10-18 21:13] MattGal commented on #7880
Both PRs are merged now, and will flow with the regular dependency flow.  Having moved forward to an RTM version of the package I'm optimistically closing this, @MichaelSimons  please reactivate if I've missed something.

[2021-10-18 21:13] #7880 closed, assigned to MattGal

[2021-10-18 21:38] #8046 closed

[2021-10-18 21:42] #8004 closed

[2021-10-18 22:40] epananth commented on #7988
@hoyosjs any update on this?

[2021-10-18 22:44] MattGal opened #8061 "Arcade Helix SDK changes to support new Helix end-of-life queue policy"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Previously, when a Helix queue was decided to be no-longer used, owing to the way runs and reporting worked in those times, we wanted to keep accepting the work from the Helix API so a build pipeline calling it does not fail because one of the several queues work gets sent to no longer exists.

This pattern was fine for a

[2021-10-19 16:00] riarenas opened #8064 "[Maestro++/Darc] Maestro staging swagger broken"
- [X] This issue is blocking
This blocks production deployments

- [ ] This issue is causing unreasonable pain

Going to https://maestro-int.westus2.cloudapp.azure.com/swagger/ui/index.html shows:

![image](https://user-images.githubusercontent.com/23242101/137947424-738edb85-9180-4b09-831c-eacc0a0691db.png)

and has a link to https://validator.swagger.io/validator/debug?url=https%3A%2F%2Fmaestro-

[2021-10-19 16:03] riarenas commented on #8064
Adding this to FR as it's a rollout blocker.

[2021-10-19 16:05] adiaaida commented on #7897
what do you mean "turn the crank"?

[2021-10-19 16:54] riarenas opened #8066 "Arcade-validation official build broken across branches."
- [X] This issue is blocking
This blocks arcade promotions
- [ ] This issue is causing unreasonable pain

https://dev.azure.com/dnceng/internal/_build/results?buildId=1428082&view=results is failing since yesterday due to the disappearance of the ubuntu 1604 hosted pool: https://github.com/actions/virtual-environments/issues/3287 We need to update every branch to use hosted 1804 instead.

It's rea

[2021-10-19 17:28] riarenas commented on #8066
Made PRs for all relevant branches affected by this.

[2021-10-19 19:44] mmitche opened #8067 "wix targets shouldn't use DateTime.Now"
https://github.com/dotnet/arcade/blob/dfb902f38e7c68d8cd83d53f32ea174e8f3a310a/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/wix.targets#L54

Some of these targets could be called multiple times, and if this straddled a date boundary interesting things could happen. This should probably parse out the date from the build ID, since that will be stable.

[2021-10-19 19:48] mmitche opened #8068 "Remove ParseBuildNumber from GenerateMsiVersion"
https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Build.Tasks.Installers/src/GenerateMsiVersion.cs#L69-L81

The ParseBuildNumber is really "GenerateMsiVersion for commit height based versioning"...
1. Commit height versioning shouldn't be in use
2. If the wrong parameters are passed, this can cause rollover in unexpected cases.

[2021-10-19 20:44] #8040 closed

[2021-10-19 20:44] #8022 closed, assigned to mmitche

[2021-10-20 16:38] adiaaida opened #8075 "Upgrade version of Guardian"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

On a periodic basis, we need to intentionally upgrade the version of guardian so that we are getting the latest versions of our sdl tools. Currently we are on 0.53.3. The latest version, as far as I can tell, is 0.100.0. You can run

[code]

From the arcade repo root to determine the latest version of Guardian available.

[2021-10-20 16:39] adiaaida commented on #8075
@MattGal This likely should end up as part of operations work, since it's something we'll need to rev on an occasional basis.

[2021-10-20 17:14] adiaaida commented on #4769
@mmitche you are working on this right?

[2021-10-20 19:56] lewing opened #8076 "Wix _GenerateMsiVersionString should be usable with the signed wix packages for workloads"
https://github.com/dotnet/arcade/blob/dfb902f38e7c68d8cd83d53f32ea174e8f3a310a/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/wix.targets#L46

.NET workload manifests need a way to generate correct msi versions but can't easily use the current _GenerateMsiVersionString wix target so we've had to duplicate the target in:
- https://github.com/dotnet/runtime/pull/60695
- https://github.com/dot

[2021-10-21 15:38] jkoritzinsky commented on #8068
I don’t know enough about all the ways this is used to know if whatever change I make won’t have downstream effects, especially since workloads started reusing some of the same infrastructure.

[2021-10-21 18:06] epananth commented on #7729
The version update has been propagated to main. Closing this one

[2021-10-21 22:20] riarenas commented on #7828
PR https://github.com/dotnet/arcade-services/pull/1752

[2021-10-22 02:30] adiaaida opened #8081 "CreateAzureDevOpsFeed broken for non-dnceng orgs"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

In the Staging pipeline, we create feeds in dnceng-stage in the testing pipeline. This functionality no longer works because GetFeedVisibilityTag throws an exception for this org. The Feed Visibility Tag is only required for when there is no FeedName passed in, so the call to GetFeedVisibilityTag should, at a minimum, only

[2021-10-22 02:30] adiaaida commented on #8081
@mmitche This is blocking the dotnet-release rollout.

[2021-10-22 16:57] premun opened #8085 "Helix SDK badly captures XHarness' exit code for Android runs on Windows"
Example log:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-0d509cf1ca8c425795/Android.Device_Emulator.PInvoke.Test/1/console.835fa31b.log?sv=2019-07-07&se=2021-11-11T07%3A50%3A21Z&sr=c&sp=rl&sig=hWCKzk8j1M2oZXsLefgkuE3x04WE68d42LJ4Wqseah0%3D

[code]

The `User command ended with 0` part should have reported `85` instead

[2021-10-25 13:25] #8085 closed, assigned to premun

[2021-10-25 22:55] mmitche opened #8094 "Add FSharp to package gathering for .NET releases"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

This will allow us to start to untangle the F# SDK + .NET SDK issues around previews and RTM. Right now the F# SDK is identifying a set of potential versions that could be used depending on the .NET SDK's preview/non-preview state. Then the F# packages are pushed separately on release day. Instead, let's add f# to the gath

[2021-10-25 23:22] mmitche opened #8098 "Secret manager should support proxy feed url generation"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The secret manager should support generation of the proxy feed urls.

[2021-10-25 23:31] mmitche opened #8100 "Secret manager should support generation of AzDO PATs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

This does appear to be possible. See @riarenas who found some link on how to do it.

[2021-10-26 17:27] Tratcher opened #8105 "Mirroring tags to Azdo?"
https://github.com/dotnet/arcade/blob/main/Documentation/AzureDevOps/internal-mirror.md covers the process to mirror branches to an azdo repo, but what about git tags? These are an important part of the history we don't want to loose.

I see tags were mirrored for dotnet-aspnetcore until 5.0.0-preview.8.20414.8, but not since then. I'd also like to enable them for microsoft-reverse-proxy.

[2021-10-26 20:20] lbussell opened #8106 "[Darc] Support multiple Azure DevOps PATs"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Some Azure DevOps accounts cannot create PATs that work across multiple orgs in DevOps. When running `darc update-dependencies` in a repo that has dependencies from multiple orgs, darc will throw a 401 unauthorized error because you can't authenticate for multiple orgs with one PAT.

cc @crummel

[2021-10-27 10:47] premun opened #8109 "Create a way to share XHarness Helix SDK functionality"
### Context

When running XHarness workloads, we try to recognize infrastructure issues from XHarness' exit code and in some cases, we retry/reboot.

The logic for this is stored in several ps1/sh scripts here: https://github.com/dotnet/arcade/tree/main/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner

### Problem
The MonoVM team runs tests by starting an xUnit runner which then executes shell

[2021-10-27 17:03] MattGal opened #8112 "When logging work item console log URI for failed work items, log machine name"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The API returns the Machine Name already; we should just log it so users can identify "every failure was on one machine" type scenarios:

https://helix.dot.net/api/jobs/cb310a24-aa78-4571-bc50-c25d05d9bde5/workitems/System.Text.Encoding.Tests?api-version=2019-06-17

[2021-10-27 18:32] #8112 closed, assigned to nobody

[2021-10-28 14:21] michellemcdaniel opened #8115 "Move all shared infra and dnceng-owned repositories off of "Hosted VS2017""
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We are getting notifications from AzDO in our pipelines that the Hosted VS2017 pool (ie the windows-2016 environment) is being deprecated:

We need to follow this advice and either change our code to use windows-latest or windows-2019. These are currently the same image, but windows-latest will move as AzDO moves, and wind

[2021-10-28 14:53] #8115 closed, assigned to nobody

[2021-11-01 08:19] jakubstilec commented on #7786
@premun Lukas missed to mention this item to me during hand over. I'm re-assigning to you.

[2021-11-01 08:21] jakubstilec commented on #7786
PR is here https://github.com/dotnet/arcade/pull/8108/files

[2021-11-01 10:15] premun commented on #6921
Technically it is about merging this PR - https://github.com/dotnet/arcade/pull/8072

[2021-11-01 11:45] premun commented on #7786
Yeah, the PR also didn't respect even OS (swapped Ubuntu for Windows).

I fixed it but there's no 20.04 build machine available currently and I have no idea if that matters for source build (which is run in docker?)

These are the proposed changes:
![image](https://user-images.githubusercontent.com/7013027/139666508-bf96af0f-6139-45ab-81e2-bb2dcc551d57.png)

![image](https://user-images.githubuser

[2021-11-01 15:55] premun commented on #7787
This is waiting for Arcade to switch onto .NET 7 preview 1

[2021-11-01 17:50] #6921 closed

[2021-11-02 15:24] lpatalas commented on #7786
We had to revert the changes because the pools were hardcoded to public ones and this caused the internal build to fail: https://github.com/dotnet/arcade/pull/8127. I will update the yamls to use proper pools.

[2021-11-02 21:26] epananth commented on #7868
https://github.com/dotnet/arcade/blob/main/Documentation/CorePackages/Publishing.md#how-to-add-a-new-channel-to-use-v3-publishing

Need to update this also with the latest params.

[2021-11-04 15:42] #8064 closed

[2021-11-04 16:59] adiaaida commented on #7615
Update: from what we've talked about in triage, we actually want to move this to using grafana/alerts to let us know when there are issues. Is that correct @garath @riarenas? Should we rename this issue to better reflect what we want to do? Close this and create a new issue?

[2021-11-04 17:07] riarenas commented on #7615
Yes, I believe that's what we decided. 'm fine with either of those approaches, but still don't know where we would triage such work to. Dependency flow is complete means this won't be addressed for a while, and these issues seem to be causing annoyance for people. Just not sure if the annoyance warrants urgency?

[2021-11-04 17:12] adiaaida commented on #7615
Updated the title to reflect what we actually want to do, feel free to modify it if it doesn't make sense

[2021-11-04 17:15] garath commented on #7615
Would this fall in Operations work? @ilyas1974

[2021-11-04 17:25] adiaaida commented on #7339
Is this actually in PR? Should we move it back to the backlog?

[2021-11-04 17:34] ilyas1974 commented on #7615
Do we have an open epic in this space? If so, it should be part of that epic. If we have completed work in this space and are looking to change something to make it more sustainable, it can be added to the Operations work.

[2021-11-04 19:32] ChadNedzlek commented on #8106
Does darc _need_ to use a PAT? Why not have an interactive auth mode?  That seems easier than having to plumb multiple PAT's all over the place?

[2021-11-04 19:35] riarenas commented on #8106
All the backing operations in the darclib, which the service also uses currently works with PATs. It sounds like it'd still be significant work to make that work with integrated auth throughout?

[2021-11-04 19:41] lbussell commented on #8106
From a purely end-user standpoint, this could work as long as I can authenticate the tool to be used on a non-domain-joined device. I do all of my work in Linux over SSH. So opening a web browser is out of the question too unless you could remotely authenticate it from a domain-joined device.

[2021-11-04 19:45] ChadNedzlek commented on #8106
It's... rather unlikely it would work interactively on Linux, that's unfortunate.

[2021-11-04 19:49] lbussell commented on #8106
It would be possible to pull the repo on a windows machine solely for running Darc commands, though that is kind of painful.
We use darc for source-build CI on Linux machines as well, but getting all-orgs PATs isn't an issue there.

[2021-11-04 19:50] MattGal commented on #8105
We didn't have this before but it's literally just adding --tags to the git push, so I chatted with @ilyas1974  and did it.

[2021-11-04 19:51] MattGal commented on #8105
https://github.com/dotnet/arcade/pull/8136

[2021-11-04 20:18] danmoseley commented on #6382
Wondering what kind of work does this includes, and what success looks like.

[2021-11-04 20:24] danmoseley commented on #6136
Adding link since I didn't know what Spot VM's are - they are non guaranteed VM's that may not be available or may get reclaimed ('evicted') suddenly, but are 50-80% cheaper
https://docs.microsoft.com/en-us/azure/virtual-machines/spot-vms

[2021-11-04 20:33] danmoseley commented on #6948
This is such a large one that the first step would be to do some investigation of what it would take, and what benefits we might realize. Dumps is just one example -- once we have a common means for collecting dumps, we can innovate in what we do to them, eg., an automated basic analysis.

[2021-11-04 20:35] garath commented on #7615
I think then the "Dependency Flow is Complete" is the right place for now.

[2021-11-04 20:39] ChadNedzlek commented on #6382
This is a whole epic that hasn't really been fleshed out right now.  Looks like @markwilkie moved it onto the Radar. Do you have some thoughts around what this epic is specifically?  It's been a while since we split it out... it's possible we've actually re-merged it.

[2021-11-04 20:43] riarenas commented on #7741
Looks like this has been answered. Thanks @sharwell and @ericstj

[2021-11-04 23:14] markwilkie commented on #6382
@danmoseley - this is our placeholder for our ongoing reliability efforts as it continues to be a priority.  What's currently unclear is that specifics and how this overlaps with the current devwf "merge on red" efforts.  Also, this has the potential of morphing into more of a "it feels like my PRs are taking too long".  The next step is to understand what's still needed reliability wise (which we

[2021-11-04 23:32] MattGal commented on #8105
Merged, [works exactly as expected](https://dnceng.visualstudio.com/internal/_build/results?buildId=1454929&view=logs&j=a3453f18-ed27-56b8-78ee-81a7631275fb&t=1ec614b8-726e-5075-1cd1-dd16c6e99f29).

[code]

Since this change is just live in the yaml, nothing more to do so closing.

[2021-11-04 23:32] #8105 closed

[2021-11-05 14:15] ilyas1974 commented on #7339
[Async-Triage]: In reviewing this with the Prague team, the issue is still not resolved for the customer because we do not have a way (currently) of validating our changes. @dkurepa is going to take a look at this issue again.

[2021-11-05 17:04] epananth commented on #7988
This has been enabled in release pipeline. So going to close this.

[2021-11-05 18:26] #8109 closed

[2021-11-05 19:11] tmat opened #8144 "Remove RestoreSources from Tools.csproj"
Remove https://github.com/dotnet/arcade/blob/main/eng/common/internal/Tools.csproj#L15-L23.
All repos should configure feeds in NuGet.config

[2021-11-05 19:13] markwilkie commented on #8144
cc/ @mmitche and @riarenas

[2021-11-05 19:20] riarenas commented on #8144
Agreed that we should do this. We just need to let partners know they'll need to add these two feeds to their NuGet.config

[2021-11-05 21:21] mattleibow commented on #5454
I just got this now with the `add-subscription`. It works when i authenticate first, otherwise I get:

[code]

[2021-11-05 21:33] riarenas commented on #5454
Ooh, that makes sense. You had a cached token for your dotnet org maestro darc usage, but now that you tried to use darc for the project reunion instance, you hit this corner case.

I'm going to send this back to triage. I think you're the first person to hit this outside of core-eng development work, and it might make it fit the bar for getting solved through First responders since it could be pr

[2021-11-08 16:22] adiaaida opened #8150 "Add razor-tooling to package gathering for .NET releases"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The repo changed names so we need to add razor-tooling to the repos gather-drop does nuget gathering on (https://github.com/dotnet/arcade-services/blob/main/src/Microsoft.DotNet.Darc/src/Darc/Operations/GatherDropOperation.cs#L342). Best guess is to add it to the aspnet section

[2021-11-08 16:24] BrennanConroy commented on #8150
Just to double check, this will apply to all release trains (3.1, 5.0, etc.)?

[2021-11-08 17:38] adiaaida commented on #8150
Yes

[2021-11-09 00:08] MattGal opened #8157 "Unblock ASP.NET Core build for Tasks.Feed desktop (4.7.2) msbuild support removal"
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain
This change: https://github.com/dotnet/arcade/pull/8132

Causes desktop msbuild users to not be able to use Tasks.Feed:
https://dev.azure.com/dnceng/internal/_build/results?buildId=1459928&view=logs&j=1b89928a-2219-5ef9-602f-f95beb3da4dc&t=0ae2e125-c681-5f61-9a7a-794339ba0f15

In a worst-case scenario I could have different

[2021-11-09 00:13] MattGal commented on #8157
@joeloff  / @dougbu FYI.

[2021-11-09 00:36] dougbu commented on #8157
My ideal choice here would be to build our WiX projects w/ `dotnet msbuild`. Is that possible w/ current WiX bits @joeloff❔

If that's not possible, suggest

1. Change Build.proj in Arcade to ignore whether `@(_SolutionBuildTargets)` is empty when deciding whether to import AfterSigning.proj and (therefore) the dotnet/aspnetcore AfterSigning.targets file. This may require a new "hook here" target

[2021-11-09 02:27] MattGal commented on #8157
@dougbu I'm trying my best to not have you do anything more than take a dependency update.  Since the functionality being used her isn't BAR publishing, it should be possible to just have the Tasks.Feed package turn those pieces off for .NET 4.7.2 usage.

I have a draft PR up that should do this and my goal for tomorrow is to try out the bits published by [this build](https://dnceng.visualstudio.c

[2021-11-09 05:36] joeloff commented on #8157
I tried, but there are some things like the tasks that are not resolving properly. I can run `msbuild test.wixproj /p:WixTargetsPath="\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\WiX\v3.x\wix.targets"` and it builds fine, but when I run with dotnet msbuild, I get errors like

`
The "GenerateCompileWithObjectPath" task could not be loaded from the assembly \WixTask

[2021-11-09 11:50] premun commented on #8157
Similar issue is happening here for @jakubch1 where they are interested in publishing, I think:

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5420090&view=logs&j=7e6a3fb7-dbfe-5169-4db8-92b72295ba6c&t=a5f60245-6322-5899-1632-a5d91eac5a8e

It probably started happening after they consumed #8132

From the build, I see their pipeline is executing the VS MSBuild so I guess it then onl

[2021-11-09 19:23] adiaaida commented on #7945
The change didn't work (or at least, not that I can tell), so I'm moving this back to the backlog for now.

[2021-11-09 21:19] jander-msft commented on #6517
This issue either was not fixed or was regressed again. We're trying to move back to using blob storage again due to the fact that stable version packages get published to darc-pub-* feeds that change with each commit, which probably won't work for dotnet-docker as it works today.

See this build: https://dev.azure.com/dnceng/internal/_build/results?buildId=1460262&view=artifacts&pathAsName=false&

[2021-11-09 22:36] MattGal commented on #8157
@jakubch1 I verified my fix unblocks you [sample build](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5427609&view=logs&j=7e6a3fb7-dbfe-5169-4db8-92b72295ba6c), so updating your Arcade subscription should be all that's needed to unblock you.

I'll park this issue in validate til I'm sure no more fallout has occurred.

[2021-11-10 00:05] #8094 closed

[2021-11-10 15:45] mmitche opened #8166 "Channel cleanup for .NET 6 Previews/RCs"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Clean up channels and subscriptions for .NET 6 previews and RCs. Should also include the publishing constants.

[2021-11-10 17:36] epananth commented on #6517
Reopening this issue, going to investigate

[2021-11-10 17:59] mmitche opened #8168 "Maestro should require channel classifications to be a specific set of values"
The channel classification is used to determine whether the nightly validation pipelines run. We should restrict the classifications to a specific set of values, based on what the nightly validation pipeline looks at, additional values for things that should not go into nightly validation.

Perhaps:
- engineering
- tooling
- product
?

[2021-11-10 19:05] mmitche opened #8169 "Introduce channel for .NET 6 Maui"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Add a channel (and publishing) for .NET 6 Maui preview work. Can use the same feeds as normal dotnet6.

[2021-11-10 19:06] MattGal commented on #8157
ASP and vs-code-coverage pipelines are green with the update, so I am optimistically closing this.

[2021-11-10 19:06] #8157 closed

[2021-11-10 23:11] epananth commented on #6517
I could not find the connecting PR, I missed it, I am working on a fix now

[2021-11-11 00:15] AlitzelMendez commented on #8045
Closing because has been rolled out

[2021-11-11 00:15] #8045 closed

[2021-11-11 09:47] tkapin commented on #8169
[AsyncTriage] Adding to [#14577](https://github.com/dotnet/core-eng/issues/14577); @adiaaida please shout if it doesn't belong there.

[2021-11-11 14:40] #7897 closed

[2021-11-11 14:52] adiaaida commented on #8169
That seems like a fine place to triage for now.

[2021-11-11 16:37] mmitche opened #8172 "Support internal/alternate location runtime downloads in Helix correlation payload setup"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Right now the helix correlation payload setup at https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Helix/Sdk/tools/dotnet-cli/DotNetCli.targets#L38-L40 has no knowledge of additional default runtime locations (dotnetbuilds) and also can't pull in the intenral runtime download credentials+location that are pas

[2021-11-11 16:38] mmitche commented on #8172
@alexperovich I think this may need to change for your work
@dougbu This is why the Helix tests are failing for internal release/6.0 builds
/cc @MattGal

[2021-11-11 16:41] mmitche commented on #8172
PR build in question: https://dev.azure.com/dnceng/internal/_build/results?buildId=1464169&view=results

[2021-11-11 16:42] MattGal commented on #8172
no objection here, I think we just need to plumb through support for secret(s) that allow accessing internal builds and make sure this only works in the Helix authenticated scenario to prevent leaking via public API.

[2021-11-11 18:43] safern commented on #7242
@ericstj more instances of this have happened in different ways. If an inbox project specifies TargetFramework it would not be binplaced into the shared framework, so I think we should error when TargetFramework is set but we should do that when we are not in a cross build? I don't know if that could cause people to not be able to build a single TFM using dotnet build, but we should definitely pro

[2021-11-11 20:50] alexperovich commented on #8172
dotnetbuilds support went in with this PR https://github.com/dotnet/arcade/pull/8162 that I am working to get into release branches. It doesn't have private feed support though.

[2021-11-11 21:22] markwilkie commented on #5454
We chatted about this in triage and sadly we need to close due to it's hard to justify given the business priority for our team.  HOWEVER, implementing multiple configs for darc seems like a pretty self-contained feature and we'd of course be more than happy to review PRs and/or help with direction.

[2021-11-11 21:22] #5454 closed

[2021-11-11 21:31] mmitche commented on #8106
Unfortunately device code doesn't work, IIRC. I think it requires that you register an Application with the AAD instance, and that application have user impersonation privileges. This requires a whole additional level of approval on the MSFT side that we are unlikely to get.

[2021-11-11 21:32] mmitche commented on #8106
@lbussell can you try out https://github.com/dotnet/arcade-services/pull/1762? I haven't quite got it completely sorted yet but it does allow for multi-org generation.

[2021-11-12 14:59] Haplois commented on #8157
Can confirm this also fixes https://github.com/microsoft/vstest build.

[2021-11-12 18:32] MattGal commented on #8061
All PRs are merged with Tactics approval 11/11/2021 for release branches, and I have proactively removed currently-used deadletter queues.  Closing.

[2021-11-12 18:32] #8061 closed

[2021-11-12 20:51] mmitche opened #8175 "Write guide for creating a one-off dev feature build of .NET 6/7"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We need a guide to creating a one-off feature build of .NET 6 that could be followed by a dev. Scenario is that a partner needs to try out a fix prior to shiproom approval, and we need to flow the bits through the stack. Caveats include:
- Dev will need to reset the branding in the repos (maybe scriptable?)
- Dev will need

[2021-11-13 18:18] mbfaust19 opened #8178 "masemarket.net"
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain

[2021-11-13 18:19] mbfaust19 commented on #8178
can someone help me get access to my two owned domains:

(1) masemarket.net
         &
(2) masemarket.dev

[2021-11-15 17:37] #7868 closed

[2021-11-15 23:15] riarenas commented on #8178
@mbfaust19 this doesn't seem like an issue relevant to this repository. Feel free to add more details on why you think this belongs here.

[2021-11-15 23:15] #8178 closed

[2021-11-16 19:53] missymessa commented on #7950
Closing this for now. Will re-open if we need to consult with Nikki in more depth in the future.

[2021-11-16 19:53] #7950 closed

[2021-11-16 20:16] Chrisboh commented on #8178
Updated title and comment to remove suspicious links.

[2021-11-17 22:30] #7988 closed

[2021-11-18 03:58] epananth commented on #6517
I have linked both the Prs. I will merge it after I get back from my vacation.

[2021-11-18 18:05] dkurepa commented on #7339
Here's the link for the PR: https://github.com/dotnet/arcade-services/pull/1774

[2021-11-18 19:05] riarenas commented on #8106
The PAT tool has been merged. I'm going to close this as that should be the preferred way to create PATs for multiple orgs, and it's just not feasible for us to plumb multiple per org PATs everywhere where it would be needed.

[2021-11-18 19:05] #8106 closed

[2021-11-18 19:11] ericstj opened #8198 "Dotnet SDK / runtime acquisition doesn't handle file versioning for dotnet shared host"
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain

I'm not 100% sure if this is blocking entirely, there may be a workaround.

A repo may specify more than one runtime as well as an SDK in its global.json.  When these are installed by arcade they are mostly side-by-side, however there is one important file that is not: dotnet(.exe).

As a result, the behavior ends up being

[2021-11-18 19:12] riarenas commented on #8166
@mmitche I think you already did this? I don't see the preview channels anymore and https://github.com/dotnet/arcade/pull/8192 removed them from publishingConstants

[2021-11-18 19:20] #8166 closed

[2021-11-18 19:20] mmitche commented on #8166
Ahh yeah, gone now.

[2021-11-18 19:20] mmitche opened #8199 "Document PAT generator tool"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Document the new secret manager PAT tool.

[2021-11-18 19:29] MattGal commented on #8198
Since the install script we use is the publicly visible one (https://github.com/dotnet/arcade/blob/main/eng/common/tools.sh#L271, https://github.com/dotnet/arcade/blob/main/eng/common/tools.sh#L232), we can certainly explore workarounds and drive the fix but there should probably be an issue in https://github.com/dotnet/install-scripts (@bozturk FYI)

[2021-11-18 19:34] MattGal commented on #8198
(@ericstj apologies you're likely right about the code you linked, but the code we're talking about in the related conversation is in the bash scripts / their PS1 equivalents)

[2021-11-18 19:38] ericstj commented on #8198
That task appears to do the job of ordering and then into this script:
https://github.com/dotnet/arcade/blob/ade4f45b1fdcc2c64ab7d784b64b926475b700cb/eng/common/dotnet-install.sh#L78

Which then does call into the public script, as you mention:
https://github.com/dotnet/arcade/blob/463f440136d4fd91b0b2e7c2dffa42edf089a685/eng/common/tools.sh#L184-L266

So yes, if we can fix the public install scri

[2021-11-19 00:10] MattGal opened #8200 "Add support to allow Helix WorkItem DownloadFilesFromResults behavior to ignore 404"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

As originally added in https://github.com/dotnet/arcade/pull/2103, the DownloadFilesFromResults Metadata Item causes error logging in the 404 (file not found) case.  The specific custom usage done by the SuperPMI pipeline ends up getting error messages when files they want to copy to Azure DevOps artifacts are not present.

[2021-11-19 00:10] MattGal commented on #8200
@BruceForstall FYI.

[2021-11-19 00:18] BruceForstall commented on #8200
A little more context, if it helps:

Our [runtime-coreclr superpmi-asmdiffs](https://dev.azure.com/dnceng/public/_build?definitionId=1064&_a=summary) AzDO pipeline needs to upload some generated files from Helix to the AzDO artifacts for users to then download. Some of these files are only generated in some scenarios, not all the time.

The set of files to download is found [here](https://github.c

[2021-11-19 00:18] BruceForstall commented on #8200
cc @kunalspathak

[2021-11-19 23:29] ericstj commented on #8198
I noticed the script does have:
https://github.com/dotnet/install-scripts/blob/0aa4951a546b42c6a4ff5ed553065ddf0a494098/src/dotnet-install.sh#L1505-L1506

That might be helpful here.

[2021-11-20 07:53] jander-msft commented on #6517
FYI, we'll want this to be fixed in the arcade 6.0.0 versions as well so that way we can use this for our 6.0 servicing releases.

[2021-11-22 16:56] MattGal opened #8205 "Remove CI build IP logging behavior"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Tracks removing changes from https://github.com/dotnet/core-eng/issues/13691 - this was  done when we were hunting down problems with Azure Devops NuGet Package feeds, and while it did help us figure out the issues seen with the Azure Front Door service, it has not been useful and the URL in question is not guaranteed to l

[2021-11-22 20:11] MattGal commented on #8205
https://github.com/dotnet/arcade/pull/8207

[2021-11-22 21:10] alexperovich commented on #8198
https://github.com/dotnet/arcade/pull/8208 should fix this.

[2021-11-22 21:30] MichaelSimons commented on #8205
Will this get backported to 6.0?

[2021-11-22 22:54] MattGal commented on #8205
Sure, it's a slow week :)

[2021-11-22 23:20] ericstj commented on #8198
This might actually be specific to how the SDK was using the install script.  It might not be going through this path (which does appear to default to skip: https://github.com/dotnet/arcade/blob/977c4612a668c06232bee5acf3e9162dda31fe24/eng/common/dotnet-install.sh#L78)

Here's where the SDK calls the script without specifying skip:
https://github.com/dotnet/sdk/blob/aac033b9324f687eda51d9d7291537b

[2021-11-22 23:40] alexperovich commented on #8198
That line in sdk doesn't even use the install script in arcade, it is using the standard one. That can just pass the flag as normal.

[2021-11-22 23:42] ericstj commented on #8198
Agreed.  I opened this issue originally as a result of a problem reported in SDK issue.

[2021-11-23 17:25] MattGal commented on #8205
This is merged everywhere it existed, closing.

[2021-11-23 17:25] #8205 closed

[2021-11-23 21:42] lpatalas commented on #7987
This was already merged and the build runs fine on staging pools: https://dev.azure.com/dnceng/internal/_build/results?buildId=1481861

[2021-11-23 21:42] #7987 closed

[2021-11-25 15:08] #7787 closed

[2021-11-29 16:45] lpatalas commented on #7786
This is completed

[2021-11-29 16:45] #7786 closed

[2021-11-29 17:17] lpatalas commented on #7339
@dkurepa I will move it into rollout column because it's already merged.

[2021-11-29 17:29] adiaaida opened #8225 "Gather-drop broken for dotnetbuilds asset locations"
- [x] This issue is blocking
- [x] This issue is causing unreasonable pain

AssetLocations using dotnetbuilds no longer end with index.json. However, gather-drop's code relies on locations ending with index.json to decide that they are blob storage locations. Otherwise, it determines that the locations are "unknown" and refuses to download the files.

We should either use the AssetLocation's type,

[2021-11-29 17:42] adiaaida opened #8226 "Upgrade Policheck version to 7.0.670"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

We have been informed that by Dec 3, we need to upgrade policheck to version < 7.0.670.

The email about things "not working" mentioned that the Policheck azdo task would stop working, which we do not use, but we should do our best to upgrade Guardian/Policheck to this newest version.

[2021-11-29 18:02] adiaaida commented on #8225
I haven't put this in an epic yet, as I think it could either go in Alex's epic or in FR.

[2021-11-29 20:47] #8226 closed

[2021-11-29 23:38] cristianosuzuki77 commented on #7593
@ericstj Could you please assist?

[2021-11-30 16:56] jander-msft opened #8230 "Support dependency flow of multiple versions of the same dependency"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

The dotnet-monitor tool (https://github.com/dotnet/dotnet-monitor) ships as a tool package with multiple TFMs within the package (the 6.0.X release ships both a netcoreapp3.1 TFM and a net6.0 TFM). There are a few dependencies of the net6.0 TFM that are held back to the netcoreapp3.1 version since that is the least common

[2021-11-30 17:02] riarenas commented on #8230
The way we handle things right now is by branching, but I understand that's not desirable here as the same version of the tool needs both dependencies at the same time?

@mmitche FYI and in case you have any thoughts. We could add something to the dependency xml to indicate on which channel you want to look at for specific dependencies, but it would be a big change.

[2021-11-30 17:07] mmitche commented on #8230
The right answer here is to use packages where the dependency names vary across the releases. The VS.Redist packages, which map to the runtimes, have the major version number of their respect release in them. E.g. `VS.Redist.Common.AspNetCore.SharedFramework.x64.6.0`

[2021-11-30 17:07] jander-msft commented on #8230
Correct, both versions have to be available at the same time since both TFMs are built at the same time and packaged into a single tool package.

[2021-11-30 17:11] mmitche commented on #8230
FYI depending on multiple releases at the same time is a little dicey. Your build ends up bound by whichever release finishes its build "last". We specifically avoid this kind of inter-release dependency in the product because it creates a highly complex build graph. This is less the case here because your graph is small, but it's something to think about.

[2021-11-30 17:12] jander-msft commented on #8230
Aren't the dependency names solely based on the file names (with some mangling e.g. to replace dashes with dots)? Also, I don't think that either runtime or aspentcore are going to create unused packages for the sake of appending `3.1` or `6.0` (or `7.0`) just for our need.

Wouldn't this be solvable in the Version.Details.xml file by adding (1) channel/branch information to a dependency, and (2)

[2021-11-30 17:15] jander-msft commented on #8230
I don't think we can avoid that without splitting the repo into two repos, one for building the dotnet-monitor version for each TFM and then another repo that has a dependency on that one for just packing them together as a tool package. That's very unnatural given that the SDK provides for building multiple TFMs at the same time and packaging them together in one tool package (note that a tool pa

[2021-11-30 17:31] jander-msft commented on #8230
No, we are depending on the actual package themselves. Tool packages pack their dependencies within their own package instead of just adding a reference to the nuspec file (which is what a library package does). Getting the exact version with the exact package and binaries is absolutely necessary.

[2021-11-30 17:34] jander-msft commented on #8230
For what you are suggesting to work, we would need something like `Microsoft.AspNetCore.Authentication.JwtBearer.3.1` with a version of `3.1.21`, not `3.1.21-servicing.#####`.

[2021-11-30 17:41] jander-msft commented on #8230
It's also my understanding that library packages produced from runtime/aspnetcore/etc can rev their patch version independently, so using the ref pack version of the build would not necessarily correspond with the individual library versions.

[2021-11-30 17:59] mmitche commented on #8230
Alright, if these are OOB packages that you depend on (not just the runtime packs), then it's not practical to produce sentinel versions for each one.

How often are the packages that you're depending on revving? Every month? How practical is it to update these manually?

We **cannot** introduce subscription information into the V.D.xml file. So support would look something like:
- The V.D.xml fil

[2021-11-30 18:29] mmitche commented on #8230
This isn't arcade specific (arcade doesn't know about dependency flow). The functionality is purely on the Maestro side.

[2021-11-30 21:28] alexperovich commented on #8198
This is now fixed in arcade. Every usage of the standard install scripts through arcade sets the --skip-non-versioned-files flag.

[2021-11-30 21:28] #8198 closed

[2021-11-30 22:10] ericstj commented on #7593
The `#` is a special character that should not be localized.  It's the markdown specifier for a heading.

The `{0}` and `{1)` are command line arguments which the directory or filename of a comparison.  They are specified here, with `{0}` being `--OldSetName` and `{1}` being `--NewSetName` https://github.com/dotnet/arcade/blob/d80b16b64fe001a99c699262ef65f712aa98d538/src/Microsoft.DotNet.AsmDiff/P

[2021-11-30 22:18] cristianosuzuki77 commented on #7593
Thanks.
Could you give an example for the first placeholder?
"# API List of {0}"

[2021-11-30 23:16] jander-msft commented on #8230
Another scenario where this would be useful is for the repos that add multiple runtime and aspnetcore versions to their global.json file. Everytime there is a servicing release, we have to wait until the bits go out the door before updating the runtime and aspnetcore versions for non-latest versions (e.g. 3.1 and 5.0, and 6.0 once we add 7.0) if we want to test our features on the latest runtimes.

[2021-11-30 23:40] dougbu commented on #7663
In a similar fashion, could we consider centralizing the `SetupNugetSources.*` invocations in the eng/common YAML❔ If there's already an issue for that, please point me that way 😸

[2021-12-01 00:01] mmitche commented on #7663
We could, but we need to be careful, since there are lots of repos that do not need this functionality and whose build pipelines do not (and should not) have access to the credentials required for SetupNugetSources.ps1. So we would need to conditionalize this based on available variables.

I see the benefit here of centralizing this as fairly minimal.

[2021-12-01 07:21] Herrmel commented on #7593
I think the first placeholder is used when only one Version is provided and the tool then returns a simple List of the api or something like that. I think it also uses any of the two parameters when provided to be able to clarify what the api-List is from. Could be an assemblyname for example.
I agree the # should not be localized and it would make sense to move it out of the resourcestrings, that

[2021-12-01 15:58] premun opened #8232 "Verify network connectivity for Android mobile devices"
### Context
We have seen issues where Android devices in Helix lose internet connectivity (e.g. caused by network switch failure, so not an issue with the devices themselves). The problem is that this doesn't manifest right away as most tests don't need internet but when an app that needs it hits the affected device, it fails. This creates random failures which are hard to detect or mitigate.

###

[2021-12-01 16:06] akoeplinger commented on #8232
Doing it all the time before every workitem might be overkill, I'd prefer only doing it when the workitem fails (and we need to make sure to retry on a different machine).

[2021-12-01 16:37] premun commented on #8232
I agree with the overkill. We can totally do it afterwards, however, Helix currently cannot guarantee it will be a different machine.
We can hope that our alerting will notify FR fast enough and they will take the machine offline.

[2021-12-02 01:08] MattGal commented on #7926
This has been chilling in rollout since September, closing. @alexperovich feel free to reopen if I am mistaken.

[2021-12-02 01:08] #7926 closed

[2021-12-02 01:08] MattGal commented on #7828
This has been in rollout for over a month, closing... reopen if I am mistaken pls!

[2021-12-02 01:08] #7828 closed

[2021-12-02 16:24] dkurepa commented on #7339
We used this PR to test the changes, and it looks good.
https://github.com/dotnet/runtime/pull/62279
At first there was only one dependency. Then we had an update which created the second dependency and it had the correct link. Finally, there was another update which affected the second dependency and correctly updated the link, confirming both use cases.

[2021-12-02 16:47] AraHaan commented on #7860
I think the best bet for this case is to remove it completely (on windows), but leave it in for *nix systems to avoid any possible conflicts with .NET. I always specify the default locations anyway.

[2021-12-02 17:02] joeloff commented on #7860
This was started during 3.0 to allow VS installs to place .NET into a shared folder. But since older versions of .NET are unaware of this you could end up with multiple locations, e.g if you installed 3.x and then something like 2.1. VS ended up just always passing the default location to the installers.

[2021-12-02 17:31] jander-msft opened #8235 "Latest aks.ms link generation for blob files not happening"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

In the latest successful dotnet-monitor build, the latest aka.ms links were not generated for the files published to blob storage during the Maestro promotion: https://dev.azure.com/dnceng/internal/_build/results?buildId=1493217&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

The pr

[2021-12-02 17:33] riarenas commented on #8225
This was rolled out.

[2021-12-02 17:33] #8225 closed

[2021-12-02 18:04] riarenas commented on #8235
@adiaaida Could this be related to https://github.com/dotnet/arcade/commit/97463777ee9a8445d4a4c5911ede0f0cd71fa8aa?

[2021-12-02 18:32] adiaaida commented on #8235
Looking. It looks like the short url prefix disappeared, which is probably related

[2021-12-02 18:37] markwilkie commented on #8230
Thoughts on an alternative approach @jander-msft ?  Given the amount of work this feature is, our current commitments, and the added complexity, it's hard to see this work actually getting done.

[2021-12-02 18:41] adiaaida commented on #8235
PR to fix: https://github.com/dotnet/arcade/pull/8236

[2021-12-02 19:39] jander-msft commented on #8230
The only approaches that I understand so far are:
1. Maestro adds support for this (which sounds unlikely). I would personally volunteer time to get this to work but if you say that it's too complex, too hard to maintain, etc, then...
1. We manually do this by hand (good luck to the person who has to manually figure out the darc-pub and darc-int feeds and keep updating them as new version of the d

[2021-12-02 20:18] mmitche commented on #8230
I support adding this feature (though it may be complicated to add) to Maestro as long as it is **NEVER** used for any repo that ships as part of the main product. Keep in mind @jander-msft that you will end up bound by the whims of commits and dependency flow from dozens and dozens of repos.

Most of the concern here is not about whether this kind of flow is technically possible. It's the added c

[2021-12-02 21:18] alexperovich commented on #7413
@dseefeld why exactly is source build changing the tfm? The net6.0 sdk can build netcoreapp3.1 projects.
We would rather not complicate the build unnecessarily. This change is only needed because we are changing the tfm. Can we just.. not change the tfm for at least these task projects?

[2021-12-03 17:27] adiaaida commented on #8235
PR has been merged.

[2021-12-06 14:14] premun commented on #8232
I checked and `xharness.exe android adb -- shell ping 8.8.8.8` returns exit code `2` for failed network. I need to verify for success but this should give us an easy way

[2021-12-06 16:47] adiaaida opened #8243 "SDL validation failing with "Invalid Guardian CLI Location""
In the staging/validation pipeline, our sdl validation is failing with the above error post-guardian upgrade.

[2021-12-06 17:23] adiaaida commented on #8235
I believe this has been fixed based on this build of dotnet-diagnostics: https://dev.azure.com/dnceng/internal/_build/results?buildId=1496668&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a&l=434

Closing. Please let me know if you see any links not being generated in dotnet-monitor

[2021-12-06 17:23] #8235 closed

[2021-12-06 19:38] AraHaan commented on #8175
What about:
- dev wants to build their dev runtime and reference installers and sdk installers for their local clones to test them out.

?

[2021-12-06 19:42] AraHaan commented on #8067
I wonder why all of arcade cant switch to UtcNow?

[2021-12-06 19:45] AraHaan commented on #8076
That is not the only thing I do not like about the mai gen in arcade:

For starts people outside of the .NET Foundation (me) use the arcade to build msi installers for windows and they incorrectly get stamped with:
- Copyright: Microsoft Corporation

by default instead of their own copyright setting.

[2021-12-06 21:53] MattGal commented on #7663
Based off the push back I am not going to port this to release branches.  It's easy for people who need it to "do the right thing" in their own pipeline versus if you make it a default what you predict is likely to happen, so closing.

[2021-12-06 21:53] #7663 closed

[2021-12-07 10:01] premun commented on #7339
This has been fixed, closing

[2021-12-07 10:01] #7339 closed

[2021-12-07 14:58] riarenas commented on #8150
This was rolled out already.

[2021-12-07 14:58] #8150 closed

[2021-12-07 14:58] riarenas commented on #8100
We now have a library that we can integrate with secret manager for this: https://github.com/dotnet/arcade-services/tree/main/src/Microsoft.DncEng.PatGenerator

[2021-12-07 17:30] adiaaida commented on #8243
This will have 3 PRs: the first is https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/20198 (to fix this issue for now).

The last two will be split between an arcade PR: https://github.com/dotnet/arcade/pull/8247 (to move shared steps/variables to their own templates) and a dotnet-release PR, once that change has promoted, to switch to using the new shared templates.

[2021-12-08 17:34] MattGal commented on #6517
@epananth where are we on this?

[2021-12-08 18:04] epananth commented on #6517
I have a PR and I got some feedback from Matt M on this, so I am working on that. I hoping to have that completed by tomorrow.

[2021-12-08 18:05] epananth commented on #6517
this is the PR https://github.com/dotnet/arcade-services/pull/1782, the reason this took some time is the way we generated manifest, that code is pretty confusing..

[2021-12-09 10:23] tkapin commented on #8200
One thought on the proposed implementation. Although ignoring non-existent files would be opt-in, the ambiguity with real 404s worries me. Another solution might be creating list(s) of the files (a.k.a. manifests) in scope of the task as they get created, upload them to results and then use them to determine which files to download. Helix SDK could be then extended by something like <DownloadFiles

[2021-12-09 23:41] ericstj commented on #1033
Much of this has been accomplished in 6.0.  This issue is not really giving us much value in tracking tasks anymore.

[2021-12-09 23:41] #1033 closed

[2021-12-10 00:14] adiaaida opened #8252 "Make XHarness tests run in parallel with other arcade testing"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Today, XHarness tests run after all the regular arcade tests finish. Frequently, the xharness tests timeout, despite the regular tests completing successfully, and you have to rerun the entire job (aka, all of the arcade tests + all the xharness tests). Xharness tests should be broken out into a separate job per configurat

[2021-12-10 00:46] MattGal opened #8253 "XHarness tests broken in release/6.0"
- [x] This issue is blocking (CI validation of release/6.0)
- [ ] This issue is causing unreasonable pain

As seen in https://github.com/dotnet/arcade/runs/4477846178,  we've started to reliably fail the 6.0 branch Xharness tests with signing-related errors:

[code]

This area has undergone massive refactoring since 6.0 and @premun is likely to have context (plus is on FR this week)

For now, I've

[2021-12-10 22:40] #8252 closed

[2021-12-11 01:28] AraHaan opened #8256 "Add Visual Studio 2022 support for loading bundleproj and sfxproj project files."
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Currently there is no Visual Studio extension for loading the ``*.bundleproj`` and the ``*.sfxproj`` files directly from dotnet/runtime. While on command line it will build, people like me would like to be able to load them like we can with Rider inside of Visual Studio to make changes to settings on them as needed much ea

[2021-12-13 09:42] premun commented on #7979
This has now been amplified by #8252 since we upload build artifacts from the test stages (needlessly as there is no more stage after that which would use them) and now we upload them from all the new stages:

![image](https://user-images.githubusercontent.com/7013027/145788371-5c46ffe2-a735-4a73-bdf1-829347010397.png)

Maybe we could do something about this?

[2021-12-13 09:43] premun commented on #8252
Oh, it looks like that when runtime is running the full BCL suite on the 10 iPhones we have and Arcade runs at the same time, they pile up on the few devices. I never noticed because runtime-staging rolling build only runs 2x a day and it's out of my hours.

Thanks for this @adiaaida. Can we now maybe prioritize #7979?

[2021-12-13 11:15] premun commented on #8253
What I'm seeing in that build is this error:
[code]

However this seems to work on main branches (https://dev.azure.com/dnceng/public/_build/results?buildId=1509852&view=logs&j=e9980b50-2569-53d6-c997-045bbff6842b&t=c1c0cb9e-e6a3-5097-f548-5ccbf3adf664&l=44) so might be tied to old Helix SDK even though I didn't expect this to break as nothing much changed around signing itself.

The signing itsel

[2021-12-13 12:09] premun commented on #8253
Linking this to https://github.com/dotnet/core-eng/issues/14888

[2021-12-13 16:17] MattGal commented on #8253
@premun why not tied to the changes you made to the live machines via script right before this happened?  There weren't changes made to the Helix SDK in the 6.0 branch in this time range.  Also, can you share the script (privately pls) you ran in that case?

[2021-12-14 07:21] AraHaan opened #8260 "MSI Bundle generator should honor msbuild ``Authors`` property when setting the authors value of the resulting msi file."
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

For starters, let's say for example an .NET Foundation project uses the arcade to produce Runtime and Reference msi bundles. The resulting bundles incorrectly state ``Authors: Microsoft Corporation`` instead of ``Authors: .NET Foundation`` for example (in case the user set the msbuild property named ``Authors`` to ``.NET F

[2021-12-14 09:11] premun commented on #8253
We discussed this offline. The actual root cause is still unknown to me.

[2021-12-14 16:01] riarenas commented on #8098
Proxy feeds are only used for 2.1 servicing, and we think that is worth the maintenance cost and added complexity to secret-manager. If 2.1 survives longer than we expect we can revisit.

[2021-12-14 16:01] #8098 closed

[2021-12-14 16:46] premun commented on #8253
Fixed in #8258

[2021-12-14 16:46] #8253 closed

[2021-12-14 21:07] adiaaida commented on #8169
Matt did this.

[2021-12-14 21:07] #8169 closed

[2021-12-15 20:17] riarenas opened #8265 "SDL runs for arcade-services are failing"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

We are seeing 401 failures in SDL runs of arcade-services. This is most likely due to how far apart the official arcade templates are with the ones in arcade-validation since we forked them during the upgrade to 3.1.

To unblock the repo I'm going to disable the SDL run, but a proper fix will require some work to bring arc

[2021-12-15 20:56] adiaaida commented on #8243
Final PR: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/20367

[2021-12-15 22:12] adiaaida commented on #8243
PR is complete

[2021-12-15 22:12] #8243 closed

[2021-12-16 16:48] mmitche opened #8267 "Secret manager --force switch should not allow parameter"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

It's pretty easy to accidentally pass `--force=foo` thinking you're rotating foo, and then accidentally rotate all secrets. Suggestion is to:
- Change force to accept an optional argument of a secret name. If that's not passed, then explicitly ask the user for verification that they want all secrets rotated (in addition to

[2021-12-16 16:50] mmitche opened #8268 "Secret manager crash with --force"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

With --force and a parameter that I did not mean to pass (but should make no difference), the secret manager crashed:

[code]

[2021-12-16 17:14] dleeapho commented on #8260
cc @joeloff @NikolaMilosavljevic

[2021-12-16 22:07] AraHaan opened #8269 "When making a bundle project, building fails when InstallerRuntimeIdentifiers is manually set inside."
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

For some reason I been hitting this issue when experimenting with making an installer bundle similar to those found in dotnet/runtime using the arcade package Microsoft.DotNet.Build.Tasks.Installers.

The issue happens on this line:

https://github.com/dotnet/arcade/blob/943d03f62955c771825dfa1f1bdeb8f853a2d7dd/src/Microso

[2021-12-17 05:32] joeloff commented on #8260
The fields are backed by variables, e.g. https://github.com/dotnet/arcade/blob/943d03f62955c771825dfa1f1bdeb8f853a2d7dd/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/product/product.wxs#L12

But the definitions like https://github.com/dotnet/arcade/blob/943d03f62955c771825dfa1f1bdeb8f853a2d7dd/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/variables.wxi#L7

should probably be using

[2021-12-17 06:16] AraHaan commented on #8260
That also depends on what those external developers are making as well. Some people want to make their own .NET Runtimes (and crossgen2 specific things to make them faster) and possibly Integrate them into Visual Studio with an separate integration package.

As such even those developers would get upset if arcade stamps their packages with ``Microsoft Corporation`` instead of ``<insert company nam

[2021-12-17 13:31] riarenas opened #8272 "[Maestro++/Darc] Maestro service not refreshing certain secrets automatically from key vault"
- [ ] This issue is blocking
- [X] This issue is causing unreasonable pain

After cycling of the github application secrets, The maestro service didn't refresh the values it had cached, and a service restart was required to pick up the new values. These secrets are supposed to be refreshed by the service host every 5 minutes:https://github.com/dotnet/arcade-services/blob/722d732c4c202f7f92ed96355c

[2021-12-17 15:53] mmitche commented on #8260
I'm fine with allowing these to be properly overridden.

[2021-12-17 16:37] markwilkie commented on #8260
Sounds good - I'm fine w/ this change too.  Is the idea for you to put up a PR @AraHaan ?  (please note that most of us are about to be out until the new year)

[2021-12-17 17:53] jander-msft commented on #6517
@ilyas1974, @epananth: https://github.com/dotnet/arcade/pull/8197 was referenced earlier in this issue but still remains open. Does it need to be completed for the preservation of the category metadata to be fixed?

[2021-12-17 17:58] riarenas commented on #6517
That PR definitely needs to be updated with the real version of the maestro tasks resulting from https://github.com/dotnet/arcade-services/pull/1782 and then merged before this is usable.

[2021-12-17 18:58] epananth commented on #6517
Yes, you are right. We need to roll out arcade-services change before I can update the maestro task change. I will put this is tracking till we have another rollout..

[2021-12-17 19:02] epananth commented on #6517
ahh you are right no roll out needed.. finishing up the other PR :)

[2021-12-17 19:55] AraHaan commented on #8260
Sure, I can try to open a PR for it (it should be a 1 file change right)?

[2021-12-17 20:19] AraHaan commented on #8260
I made the PR as draft until I can check if there are no tests for the Installers package (As I am unsure about that one).

[2021-12-17 20:51] epananth commented on #6517
changes merged. Closing this one finally ! :)

[2021-12-17 20:51] #6517 closed

[2021-12-17 21:52] epananth opened #8276 "Revert Maestro task update temporarily"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Maestro task update broke maestro build promotion for arcade= https://dev.azure.com/dnceng/internal/_build/results?buildId=1519154&view=results

So the update to feeds task, has to be merged to main. Then arcade will need an arcade update after that we will need to update maestro task.

[2021-12-18 16:12] AraHaan commented on #8260
The change works, just for some reason it seems that when using the msi's from this change to produce an exe bundle, it then still has the issue of setting the copyright on it to ``Microsoft Corporation`` with no way to change it (or even the installer background image). However I came close to getting it set up properly on my end.

[2021-12-20 11:22] AraHaan commented on #6305
Are you refering to this part of the code in arcade?

https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.BeforeCommonTargets.targets#L119-L141

If so, I want to change this to where it won't override what the user sets in their ``eng\Versions.props`` on their repository if they wanted to manually set the version suffix for some reason *after* importing the arc

[2021-12-20 11:33] AraHaan opened #8282 "Allow to manually override VersionSuffix in eng\Versions.props."
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

I noticed when looking in the arcade sdk code in where it sets the VersionSuffix, there is no way to force it to use a specific suffix instead of what it calculates.

As such I feel like a new property ``OverrideVersionSuffix`` for Versions.props is needed to where one can "override" it if they wanted to.

[2021-12-20 16:43] AraHaan commented on #8260
@mmitche, @markwilkie should the PR be good to merge for now and then look into the exe bundle issue later that I posted above when there is more time after the new year?

[2021-12-20 17:07] mmitche commented on #8260
Okay. Let's have @joeloff take a quick look and then it should be good to merge.

[2021-12-20 17:28] markwilkie commented on #8260
Thanks @AraHaan !

[2021-12-20 17:29] markwilkie commented on #8282
Part of the value of Arcade is that things like versions are consistent.  (see https://github.com/dotnet/arcade/blob/main/Documentation/Policy/DefaultsGuidance.md for a bit more context)

Is there a scenario you're thinking of?

[2021-12-20 17:44] epananth commented on #8276
Merged the Feeds task and maestro task.. Closing this issue

[2021-12-20 17:44] #8276 closed

[2021-12-20 18:19] AraHaan commented on #8282
For example one might want this sort of setup as well (me on my CI's) ``preview.$(GITHUB_RUN_NUMBER).$(BUILD_RERUN_COUNT)`` where on github actions I manually set ``BUILD_RERUN_COUNT`` from the ``github`` object that holds the rerun count.

Other people might want to do similar things as well using the CI run numbers as part of the version suffix.

[2021-12-20 21:57] epananth opened #8284 "Backport preserve category info to release 6.0 branch"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

related issue -> https://github.com/dotnet/arcade/pull/8274
https://github.com/dotnet/arcade/issues/8276

[2021-12-20 22:02] epananth commented on #8284
part 1 :  feeds task update
part 2: Feeds task version update + maestro task version update

[2021-12-20 22:55] mmitche opened #8286 "Gather drop incorrectly populates the sympkgs-all.txt"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

In this staging build, the symbol nupkg file was generated improperly by gather-drop. It appears to be missing a number of files (most symbol nupkgs, see \\vsufile\patches\sign\NET\NET_CORE\6.0.1\publish_files\nuget\nupkgs\runtime\packages) https://dev.azure.com/dnceng/internal/_build/results?buildId=1483150&view=artifacts

[2021-12-21 07:06] AraHaan commented on #8260
Welp turns out my changes also magically applies to exe bundle installers so all seems to be good on that part.

My only issue now is with the part where I cannot force it to use a different installer background image on Windows.

[2021-12-21 08:07] joeloff commented on #8260
You'd at least need to override [this](https://github.com/dotnet/arcade/blob/2af5dda2d48417982a6b90bf28e8b9a9b57f5ad4/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/bundle/bundle.wxs#L66), but there's probably more things that need to be customized, e.g. the theme files are very much geared for .NET, as are some messages that have been added in the .wxl files.

[2021-12-21 10:20] premun opened #8288 "XHarness Android device failure telemetry is not sent"
In case we [do not have the `isDevice` key](https://github.com/dotnet/arcade/blob/2af5dda2d48417982a6b90bf28e8b9a9b57f5ad4/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/xharness-event-processor.py#L199), we fail with following:

[code]

Full logs:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-xharness-refs-pull-797-merge-e971a7215d6f4ea29d/System.Buffers.Tests-arm64-v8a/1/co

[2021-12-21 13:03] #8288 closed

[2021-12-21 22:30] AraHaan commented on #8260
Yep, there would need to be quite a bit of changes.

[2021-12-28 10:56] erwinwolff opened #8341 "dotnetcli.blob.core.windows.net not reachable from IPv6 only network"
Hi Team,

More a infrastructure issue than a technical one, but dotnetcli.blob.core.windows.net not reachable from an IPv6 only network.

[2021-12-30 04:24] MichalStrehovsky opened #8301 "DownloadTask should not abort if there's progress"
I've been getting the failures below while trying to build the runtime repo.

After a bit of troubleshooting, I found out the acquire-wix.proj project uses the DownloadFile task from this repo. The download was too slow and DownloadFile task unceremoniously cut it off after 100 seconds (I was getting about 100 kB per second when I tried manually with curl).

I hacked around it locally by increasin

[2022-01-03 23:11] MichaelSimons commented on #7413
@crummel - can you work w/@alexperovich on this?

[2022-01-04 17:58] riarenas commented on #8265
This is broken due to https://github.com/dotnet/core-eng/issues/15253. I will wait until the fixes for that issue are in arcade, and then update arcade-services.

[2022-01-04 18:42] ericstj commented on #6305
No, this was for pkgproj.  I don't think we need this issue any more as we are moving off of pkgproj.

[2022-01-04 18:42] #6305 closed

[2022-01-05 16:19] mmitche opened #8312 ".NET 7 channels not publishing latest links"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

When dotnetcli publishing was turned off for the .NET 7 channels, we lost the aka.ms latest links.

https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Build.Tasks.Feed/src/PublishArtifactsInManifestBase.cs#L1680-L1690

[code]

We should bias towards dotnetcli for aka.ms links, but if dotnetcli is not in use, t

[2022-01-05 16:20] mmitche commented on #8312
@alexperovich

[2022-01-05 18:57] mmitche opened #8313 "Remove obsolete graph file generation functionality"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The graph file generation functionality is basically unused right now. Remove support for it in arcade's template functionality.

Part of this is motivated by needing to move to the 1ES pools for official builds. Rather than changing this template to using a 1ES pool, just remove the functionality altogether.

- [x] main
-

[2022-01-06 16:59] riarenas opened #8318 "Investigate issues with publishing pipeline"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

There are a few ongoing issues occurring during publishing:

* Checksums are sometimes going to the wrong storage account container:
https://dev.azure.com/dnceng/internal/_build/results?buildId=1538636&view=results published its checksums to the `public` container, but https://dev.azure.com/dnceng/internal/_build/results?b

[2022-01-06 18:20] mmitche opened #8319 "Add .NET 7 Preview channels + publishing"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Add channels for .NET 7 previews. Recommend only adding the first 3-4 previews to avoid clutter in the UI.

[2022-01-06 18:47] markwilkie commented on #8256
@marcpopMSFT - is this something best routed to VS or do we have context?

[2022-01-06 18:49] markwilkie commented on #8282
Hi @AraHaan - my sense is that value here does not quite outweigh the increased inconsistency and possible "states" we'd need to keep track of.  I'm closing for now, but I'm happy to revisit.

[2022-01-06 18:49] #8282 closed

[2022-01-06 18:52] alexperovich commented on #8318
I'll take this.

[2022-01-06 19:02] markwilkie commented on #8301
I know this is not your main point, but it is possible to override the timeout w/ TimeoutInSeconds.

Regarding checking if there's progress, I don't see this realistically being prioritized.  However, I'd be open to a PR.

[2022-01-06 19:04] riarenas opened #8321 "Arcade-validation release/3.x pr blocked on 1604 buildpools"
- [X] This issue is blocking
Blocking flow of arcade in 3.x branches
- [ ] This issue is causing unreasonable pain

The release/3.x branch of arcade-validation is still trying to use the ubuntu 1604 buildpools, so https://github.com/dotnet/arcade-validation/pull/2816 is stuck.

I'll make the switch to the same pools we use in main.

[2022-01-06 19:06] markwilkie commented on #8269
@dleeapho,  Is this something someone on your team has any context on?

[2022-01-06 19:08] markwilkie commented on #8230
Closing this for now given that it seems to have lost momentum.  However, don't hesitate to reopen as appropriate.

[2022-01-06 19:08] #8230 closed

[2022-01-06 19:09] markwilkie commented on #8200
Is there a recommend for next steps?

[2022-01-06 19:51] mmitche commented on #8313
6.0: https://github.com/dotnet/arcade/pull/8323/files

[2022-01-06 19:53] adiaaida commented on #8286
@mmitche can this be closed now?

[2022-01-06 20:11] #8286 closed

[2022-01-06 20:12] riarenas commented on #8321
This has been fixed, dotnet/arcade-validation#2816 is merged now.

[2022-01-06 20:12] #8321 closed

[2022-01-06 20:20] #8318 closed

[2022-01-06 22:29] MichalStrehovsky commented on #8301
Yes, I ended up adding the timeout parameter by hacking the project file in my nuget cache (the project in question also comes from this repo). I don't know what was the original reason to add a timeout, but on my devbox I can't think of a scenario where I would want to abort a build because it's taking too long. It's a time sink because I'll need to retry.

[2022-01-06 22:57] riarenas commented on #8265
https://github.com/dotnet/arcade-services/pull/1795

[2022-01-08 00:42] marcpopMSFT commented on #8256
I'm not quite sure what work is required to enable this. @tmeschter , do you know if there is project system work required to enable this or something else?

[2022-01-10 15:44] riarenas commented on #8265
I broke the build in the process, but this is all fixed now.

[2022-01-10 15:44] #8265 closed

[2022-01-10 16:36] AraHaan commented on #8256
I think there is work that needs to be done for this yes, in this case I think it can be done with a project type extension if I remember right that basically allows to set the icon Visual Studio will display for the project type as well as possibly the capabilities that can be done in Visual Studio (I think that is how it works).

[2022-01-10 17:37] tmeschter commented on #8256
Yes, there would need to be some project system work. At a minimum we need to set up the mappings from the .bundleproj and .sfxproj extensions to the correct project system in VS; I believe this is handled by registry keys.

There is likely work beyond that, though. I would need to know more about what .bundleproj and .sfxproj represent and how they differ from .csproj. It may not be as simple as

[2022-01-10 19:16] adiaaida commented on #4769
Removing this from the Release epic. It's not really release related, and we are shutting the epic down.

[2022-01-10 20:19] AraHaan commented on #8256
sfxproj is for making msi installers on windows, or macos pkg installer packages (intermediate ones) which then gets referenced in bundleproj projects to produce the final (shipping) installers.

[2022-01-10 22:29] #6418 closed

[2022-01-11 01:43] epananth opened #8332 "Maestro promotion failure for AspnetCore repo"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

Aspnetcore repo has had 4 builds in a row fail when publishing packages/symbols in the Maestro Build Promotion pipeline.

[code]
Pipelines - https://dev.azure.com/dnceng/internal/_build/results?buildId=1546035&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

[2022-01-11 01:53] epananth commented on #8332
https://github.com/dotnet/arcade/blob/6c3d631ed5aafbb27d8f8d6466ea8d0f31b9a4e3/src/Microsoft.DotNet.Build.Tasks.Feed/src/PublishArtifactsInManifestBase.cs#L254
This should return only single item, not sure why its returning multiple assets ( didnt dig in, I might be wrong)

[2022-01-11 15:55] adiaaida commented on #8332
My guess is that this is related to https://github.com/dotnet/arcade-services/pull/1782/files

[2022-01-11 16:06] adiaaida commented on #8332
Digging a little deeper, aspnetcore-win-arm64.xml and aspnetcore-win-x64-x86.xml in this build https://dev.azure.com/dnceng/internal/_build/results?buildId=1546198&view=artifacts&pathAsName=false&type=publishedArtifacts seem to have artifacts for both x64, x86 and arm64.

[2022-01-11 16:37] #7620 closed

[2022-01-11 16:38] chcosta commented on #7620
We successfully ran the tool for the current insertion.  It ran without issue and created a clean PR.  It's very exciting to have a simplified, repeatable insertion process which follows Windows / DevDiv security requirements.

[2022-01-11 18:01] dougbu commented on #8332
@adiaaida and @mmitche is a Core-Eng change needed here❔ If not, @BrennanConroy's dotnet/aspnetcore#39439 should close this issue, right❔

[2022-01-11 18:12] adiaaida commented on #8332
I think that change should fix it without any changes on our part.

[2022-01-11 18:21] dougbu commented on #8332
@BrennanConroy did you mention this issue when you enabled auto-merge of the PR❔ If not, please manually close this issue after that goes in.

[2022-01-11 19:37] MattGal commented on #8075
I've updated all versions in arcade release branches to latest (0.100+) as part of incidental FR work and made all branches work.  I will get this made more generic and put it in the security management epic.

[2022-01-11 20:05] epananth commented on #8284
This has been completed. So closing this issue.

[2022-01-11 20:05] #8284 closed

[2022-01-11 21:31] #8332 closed

[2022-01-11 22:58] riarenas opened #8336 "Helix SDK AdditionalDotNetPackage should allow download of packages from specified locations"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Mainly for internal build scenarios where an sdk or runtime that isn't yet publicly available needs to be downloaded. This should allow passing additional storage accounts and authentication via a SAS for download.

[2022-01-12 00:14] BrennanConroy commented on #8336
Ideally this would be fixed in the 6.0 branch

[2022-01-12 03:03] dougbu commented on #8336
I suspect src\Microsoft.DotNet.Arcade.Sdk\src\InstallDotNetCore.cs should lend some of its expertise to src\Microsoft.DotNet.Helix\Sdk\FindDotNetCliPackage.cs but am not positive.

In the meantime, I hard-coded the runtime version we test against in Helix jobs for now.

May look more and duplicating parts of src\Microsoft.DotNet.Helix\Sdk\tools\dotnet-cli\DotNetCli.* to enable the other (`@(HelixC

[2022-01-12 23:11] alexperovich commented on #8341
This is because azure blob storage doesn't support IPv6 as far as I can tell. If you use the CDN dotnetcli.azureedge.net that does have an IPv6 address from what I can tell.

[2022-01-13 00:56] #7593 closed

[2022-01-13 16:34] markwilkie commented on #8269
Any insight @NikolaMilosavljevic ?

[2022-01-13 16:35] markwilkie commented on #8256
Thoughts on next steps @tmeschter ?

[2022-01-13 16:39] markwilkie commented on #8260
Is this still something you'd like to continue working on @AraHaan ?

[2022-01-13 17:57] NikolaMilosavljevic commented on #8269
I'm assigning to myself to take a close look as soon as I can.

[2022-01-13 18:05] NikolaMilosavljevic commented on #8269
@AraHaan thank you for your interest in using Arcade infrastructure for your own projects. Current implementation, for building installers, was implemented to best accommodate existing consumers, i.e. .NET repositories, so it's possible that there are opportunities for extending it further, to make it more generic and usable for projects like yours. It would be very helpful to understand your plan

[2022-01-13 18:27] AraHaan commented on #8269
Currently I split mine into multiple bundleproj's (but would love to eventually concatinate it into a single one that bundles in:

- win-x86
- win-x64
  - win-x86
- win-arm64
  - win-x86?
  - win-x64?

Where the bundles contains the assets from those RIDS (sub rids also included in the main one (except the question mark ones are questionable) that is packed from the assets gathered together from t

[2022-01-13 21:40] alexperovich commented on #8200
As this is a warning, we should add warning codes to our warnings. With codes added customers can add /NoWarn:<code> in the msbuild cmd line to ignore this specific warning if they wish.

[2022-01-13 22:58] riarenas commented on #8319
This is done!

[2022-01-13 22:58] #8319 closed

[2022-01-14 17:02] NikolaMilosavljevic commented on #8269
Thanks @AraHaan. We don't support building multiple RIDs at once. We build .NET runtimes for a single RID only. It simplifies deployment as most customers need those individual runtimes., most often a machine native one.

You shared what you'd like to see implemented and how that affects your build system. However, it would be helpful to get a complete picture of your plans. Is this all for a samp

[2022-01-14 17:12] riarenas opened #8347 "Add publishing for VS 17.2 channel"
- [X] This issue is blocking
Repos (F# in particular) are already trying to publish to this channel
- [ ] This issue is causing unreasonable pain

[2022-01-14 18:48] tmeschter commented on #8256
Those sound fundamentally different than C# or VB projects, so trying to support them with the .NET Project System is not the right approach. Really what we're talking about is creating a completely new project system (maybe two?) that understands the specifics of those projects and how to represent them in VS.

There is some documentation about how to create a new project system built on top of C

[2022-01-14 19:20] AraHaan commented on #8269
Yes, it's part of a runtime people can have their programs depend on. And it's located at https://github.com/Elskom/runtime/ It contains useful things that can be used by anyone including MiniDumping, plugin loading, encryption/decryption (blowfish), a packaging command for a gui application so it can package itself (and dependencies that get copied directly to their build output folder) into a zi

[2022-01-14 19:45] BruceForstall commented on #8200
We've worked around this issue (in https://github.com/dotnet/runtime/pull/62368) by simply always creating all files, even if the files are actually empty, so I'm not going to address this in Helix (which is a complex and foreign (to me) dev experience).

[2022-01-14 20:12] #8260 closed

[2022-01-15 04:19] AraHaan opened #8352 "Make it easier to override default exe bundle installer background image by splitting it's value into a settable msbuild property."
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

Currently this https://github.com/dotnet/arcade/blob/7097001cd87357ebc6fb82f3c7a801efeed70e3f/src/Microsoft.DotNet.Build.Tasks.Installers/build/wix/wix.targets#L188 sets the candle variable directly which if a 3rd party is using it to create installers (which sets the Company and Authors value on the installer information

[2022-01-17 13:00] #8200 closed

[2022-01-17 15:23] riarenas commented on #8347
This is fixed.

[2022-01-17 16:46] riarenas commented on #8272
Maybe 5th time's the charm. Going to try and take a look at this.

[2022-01-17 23:05] riarenas commented on #8144
Using an upstream source in the dotnet-core-internal-tooling feed allows us to add a compliant nuget.config to the project directory so that NuGet will use it. The remaining issue is that repos restore this project in different ways. MSBuild and Roslyn have a separate yaml step where they nuget restore the project while specifying the global nuget.config So this change as is would break them. Runt

[2022-01-18 15:43] riarenas commented on #8352
@NikolaMilosavljevic FYI

[2022-01-20 16:01] riarenas opened #8368 "arcade-validation broken due to templates change"
- [X] This issue is blocking
This blocks validation and promotion of arcade
- [ ] This issue is causing unreasonable pain

https://github.com/dotnet/arcade/pull/8344 changed the setup-maestro-vars template from job template to a steps template. This breaks arcade-validation's publishing validation job when it tries to use the template during a stage: https://github.com/dotnet/arcade-validation/blo

[2022-01-20 16:01] riarenas commented on #8368
FYI @mmitche I'll see if I can just change arcade-validation's yaml to use the new steps template here.

[2022-01-20 16:34] mmitche commented on #8368
I did some searching and found a couple places (pool provider) that use the template explicitly, but this should be about it

[2022-01-20 17:05] riarenas commented on #8272
Haven't been able to look at this due to incoming issues. Sending back to backlog for now.

[2022-01-20 17:45] riarenas commented on #8368
PR with the fix: https://github.com/dotnet/arcade-validation/pull/2858

[2022-01-20 21:27] adiaaida commented on #8341
Since this is an issue with blob storage, not arcade scripts, we are closing this.

[2022-01-20 21:27] #8341 closed

[2022-01-21 16:26] riarenas commented on #8368
Finally managed to unblock this: https://dev.azure.com/dnceng/internal/_build/results?buildId=1564021&view=results

[2022-01-21 16:26] #8368 closed

[2022-01-21 16:52] riarenas commented on #8144
First step is merged. Will wait until Arcade is promoted to let people know they need to restore the project using the new nuget.config

[2022-01-21 20:58] elinor-fung opened #8374 "Allow explicitly including symbol files in non-symbol packages"
Both the `NuGetPack` task and `sharedfx.targets` always filter out symbol files from non-symbol packages, so if a project explicitly includes a symbol file as a `File`/`FileToPackage`, it is still excluded from the implementation package
https://github.com/dotnet/arcade/blob/8cd73087e3a24ab17b6b2ae000aef98b9aec3e2f/src/Microsoft.DotNet.Build.Tasks.Packaging/src/NuGetPack.cs#L22-L23
https://github.

[2022-01-24 17:50] ChadNedzlek commented on #8272
Any insight @alexperovich ?

[2022-01-24 19:17] #5865 closed

[2022-01-24 21:23] alexperovich commented on #8272
This is the issue that just won't die. Every thing I have looked at suggests that the refresh should happen correctly. We even did a test locally by triggering the rotation and the values loaded correctly in that case.

[2022-01-24 21:28] ChadNedzlek commented on #8272
@riarenas do you know an example of a secret that didn't rotate? So we can see if there is some difference for that one that's causing a problem?

[2022-01-24 21:30] riarenas commented on #8272
Yes. The latest time it happened was when I rotated the github application secrets: https://github.com/dotnet/arcade-services/blob/d40ac7f8c1509290da13b98134701cf498510504/.vault-config/shared/maestro-secrets.yaml#L1-L6

[2022-01-24 21:38] ChadNedzlek commented on #8272
Apparently that secret is... 5 secrets?  Do you know which specific one in which service didn't refresh?

[2022-01-24 21:40] ChadNedzlek commented on #8272
I guess and what the symptoms were. It's a bit hard to track down without a bit more information.

[2022-01-24 21:45] riarenas commented on #8272
https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F68672ab8-de0c-40f1-8d1b-ffb20bd62c0f%2FresourceGroups%2Fmaestro-prod-cluster%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2Fmaestro-prod/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAAAAAxXLMQ6DQAwEwJ5XrCh5QjraFEkR5QFgr5ITkX3yGUGRxwPtSMNdWLO4Nfyxf

[2022-01-24 21:53] ChadNedzlek commented on #8272
Thanks. Looks like it's the same 'ol IOptions problem (IOptionsMonitor is needed for anything that might change)

[2022-01-24 22:25] ChadNedzlek commented on #8272
Arcade part of the problem: https://github.com/dotnet/arcade-services/pull/1807

Helix incoming...

[2022-01-25 15:58] adiaaida opened #8387 "Test issue for staging board"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-01-25 16:26] #8387 closed

[2022-01-25 17:44] ChadNedzlek commented on #8272
The helix part of this is a lot more intense.  Helix put a lot of bad objects directly into the service providers (like a pre-authed HttpClient or something).  Ripping those out into updatable objects is messy, and I'm hoping I don't break something.  We'll have to keep a eye on helix when we roll this out.

[2022-01-25 17:48] adiaaida opened #8388 "A second test issue for webhook"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-01-25 17:50] #8388 closed

[2022-01-25 19:03] riarenas opened #8390 "Add publishing for .NET 6.0.3xx SDK channels"
- [X] This issue is blocking

Installer repo is trying to publish to this channel
- [ ] This issue is causing unreasonable pain

Add publishing configuration for the .NET 6.0.3xx SDK and internal channels.

[2022-01-25 20:52] adiaaida opened #8392 "Final test issue"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-01-25 21:03] #8392 closed

[2022-01-25 23:10] alexperovich commented on #8312
This is fixed.

[2022-01-25 23:10] #8312 closed

[2022-01-25 23:31] riarenas opened #8393 "Merged manifest reporting incorrect value for IsStableBuild causing publishing errors"
- [X] This issue is blocking
This is blocking publishing for MSBuild, and I suspect other repos that try to do any stable releases
- [ ] This issue is causing unreasonable pain

As seen in https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=5670032&view=results, both the Unix and Windows manifests are reporting `IsStable="true"`, but in the resulting merged manifest, the field is set to fal

[2022-01-25 23:34] riarenas commented on #8393
This code was refactored relatively recently in https://github.com/dotnet/arcade-services/pull/1782 so something must have broken then.

[2022-01-26 12:15] ViktorHofer opened #8394 "Pass in implementation assemblies instead of their directories to ApiCompat"
When invoking ApiCompat directly (without msbuild) and the implementation assemblies aren't located in the same directory I would want to pass in the implementation assemblies directly instead of their directories. I assume that if I would pass in the implementation directories for each assembly, that would cause quite an overhead because of the `Directory.GetFiles` call per folder? Consider feedi

[2022-01-26 15:36] riarenas commented on #8393
Marking as critical as it's blocking MSbuild's insertion into VS. I'm going to prepare a workaround publishing branch they can use while I find what's going on.

[2022-01-26 17:03] riarenas commented on #8393
created https://github.com/dotnet/msbuild/pull/7338 to work around this issue by reverting the version of arcade used by the branch that is having issues. This is still a bad bug since it will probably block release of any repo trying to publish stable bits so I'll need to find where the merging is going wrong.

[2022-01-26 18:02] ericstj commented on #8394
It doesn't actually enumerate the entire implementation directory.  It just probes for the filenames that match the assembly names when loading assemblies.
https://github.com/dotnet/arcade/blob/fd38a2e8191a46ddd6a559dbb52c9624989b2cf4/src/Microsoft.DotNet.ApiCompat/src/ApiCompatRunner.cs#L146-L151
https://github.com/microsoft/cci/blob/659f31f9736a1e8ded870ee2132d91f87505148e/CoreObjectModel/Metada

[2022-01-26 18:07] riarenas commented on #8393
It looks like we don't have any testing that checks for the propagation of the IsStable field throughout. I added some test cases to our current tests and they pass... so we might just be missing a whole lot of coverage for the process of taking individual xml manifests and turning them into the merged manifest.

[2022-01-26 19:07] TanayParikh commented on #8390
@riarenas when would that be / is there a way I can check if it has happened? Just [tried](https://github.com/dotnet/razor-compiler/pull/55) triggering an arcade update to `dotnet/razor-compiler` without much luck.

[2022-01-26 19:08] riarenas commented on #8390
I will update this issue when we have received the correct update.

[2022-01-26 19:10] riarenas commented on #8390
I can probably trigger an update manually in the next few minutes as it looks like we have a good window to promote arcade right now.

[2022-01-26 19:35] riarenas commented on #8390
Once https://github.com/dotnet/arcade/pull/8398 is merged and mirrored to the internal repo this should be unblocked

[2022-01-26 21:47] riarenas commented on #8393
https://github.com/dotnet/arcade-services/pull/1815 for the fix to the manifest task. Once that's merged I'll update the tasks version in main and in release/6.0

[2022-01-26 22:24] riarenas commented on #8390
This should be working now, already verified with the installer build that first saw the issue: https://dev.azure.com/dnceng/internal/_build/results?buildId=1566018&view=results. @TanayParikh you should be able to retry any builds that saw the issue now. You don't need to wait for any arcade updates as the publishing pipeline only depends on the arcade repo itself.

[2022-01-26 22:24] #8390 closed

[2022-01-26 23:36] ViktorHofer commented on #8394
Thanks for the answer. I just benchmarked passing 120 impl dirs in to apicompat instead of just one and the execution time increases from 16s to 27s, more than 50%. I'll happily wait for the new Roslyn based tooling to make it possible to pass implementation assemblies in directly. Hopefully this issue is sufficient to track my ask.

[2022-01-27 02:18] ericstj commented on #8394
More than I'd expect but I can see why this might be the case.  If you wanted to experiment with your scenario adding an option for implementation assemblies you could.  I suspect you'd still need to give CCI the paths for probing dependencies, in which case you still might face perf issues depending on how often it decides to probe.

The issue for a standalone APICompat is here: https://github.co

[2022-01-27 12:55] ViktorHofer commented on #8394
Let me move this issue to dotnet/sdk then.

[2022-01-27 15:37] riarenas commented on #8393
PR for main: https://github.com/dotnet/arcade/pull/8401

[2022-01-27 19:59] riarenas commented on #8393
PR for release/6.0: https://github.com/dotnet/arcade/pull/8405

[2022-01-28 15:21] riarenas commented on #8393
Both PRs were merged and already flowing to repos with the next arcade update.

[2022-01-28 15:21] #8393 closed

[2022-01-28 18:34] riarenas commented on #8144
Made a mistake in the original change. Fixing now and will add some additional validation to arcade-validation to prevent this kind of thing.

[2022-01-28 19:45] ericstj commented on #2289
https://github.com/dotnet/arcade/pull/2672 added a semaphore file that fixed this.

[2022-01-28 19:45] #2289 closed

[2022-01-28 19:49] ericstj commented on #3143
We do want this attribute present and it's currently present.  Related: https://github.com/dotnet/runtime/issues/31428

[2022-01-28 19:49] #3143 closed

[2022-01-28 23:09] RojaEnnam opened #8410 "Microsoft.DotNet.ApiCompat latest version in missing some older features"
Microsoft.DotNet.ApiCompat version 5.0.0-beta.19626.1 detects when a public method is changed to internal but the latest version(7.0.0-beta.22078.2) doesn't.

[2022-01-28 23:17] riarenas commented on #8410
@ericstj @safern wuold you be able to help here? Maybe a change that was made only in the release/5.0 branch?

[2022-01-28 23:23] riarenas commented on #8410
@dougbu mentions this was added in https://github.com/dotnet/arcade/pull/4585, and this is still in main https://github.com/dotnet/arcade/blob/9b22f498e6c8c225251f5a39c35cd9af54dff69e/src/Microsoft.DotNet.ApiCompat/src/ApiCompatRunner.cs#L80-L81

[2022-01-28 23:40] RojaEnnam commented on #8410
@dougbu respectInternals is still in main but a different feature that detects when a public member is changed to internal seems to be removed.

[2022-01-29 00:43] dougbu commented on #8410
My changes mostly focused on filters i.e. when to exclude what from the comparisons. I _think_ @safern did some follow-up work in ApiCompat that got deeper into the comparisons themselves.

I could also see how `--respect-internals` could mess w/ `public` ➡️ `internal` transitions. Both are "visible" when `--respect-internals` is in force. Not sure where the "same visibility" check might be missin

[2022-01-31 17:36] dougbu opened #8415 "Make blob retry policy user-settable"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We have a way users can submit Helix work items from their desktop in the dotnet/aspnetcore repo -- https://github.com/dotnet/aspnetcore/blob/main/eng/scripts/RunHelix.ps1. This script generally works but falls over w/ a long stack trace when the network isn't up to publishing all correlation and work item content. Would b

[2022-01-31 17:42] dougbu commented on #8415
See also https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Helix/JobSender/StorageHelpers/StorageRetryPolicy.cs and note use of that class in all or most cases where `BlobClientOptions` is needed. Nothing seems to intervene and change the settings later.

I'm also unsure the `MaxDelay` value is honoured because that would mean uploading (say) a Helix work item payload should take at

[2022-01-31 17:57] ericstj commented on #8410
This was no-repro for me.  Have a look at https://github.com/ericstj/sample-code/tree/apiCompat8410

If you build that you'll see
[code]

If you're able to repro the bug, please share a repro similar to that shown here.  It makes it much easier for us to see what you're seeing (or spot some other problem causing the symptom).

Some pointers:
1. Replicate the syntax of your change that you'd expect

[2022-02-01 21:51] #4859 closed

[2022-02-03 14:52] premun commented on #8232
We have decided that failures are not that common and that the check is super fast to do so we can afford to do it always

[2022-02-03 17:23] chcosta opened #8431 ".NET Arm64 February RI"

[2022-02-03 23:31] marcpopMSFT opened #8433 "Runtime-only signed builds go to a strange feed"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

See this staging build:
https://dev.azure.com/dnceng/internal/_build/results?buildId=1589078&view=logs&j=270c1d66-4ffe-5c01-4596-5cf1c5d07eaa&t=75548d85-99ba-5770-43d4-c6bdf6d160fb

it ended up pushing the bits to this feed: https://pkgs.dev.azure.com/dnceng/public/_packaging/-shipping-2/nuget/v3/index.json

I think it was

[2022-02-04 14:10] #8232 closed

[2022-02-04 15:23] ericstj commented on #8410
Chatted offline with @RojaEnnam who mentioned that they were using `--respect-internals` on the assembly impacted.  I updated the repro to do this and it does reproduce the issue: https://github.com/ericstj/sample-code/commit/387a600de0d9999f7677bfc17cba6030f961615a

To repro, clone that and `dotnet build lib2\lib.csproj -t:Rebuild /p:Repro=true`

[2022-02-04 17:01] riarenas commented on #8433
FYI @adiaaida

[2022-02-04 17:21] adiaaida commented on #8433
That is indeed weird.

[2022-02-04 17:49] adiaaida commented on #8433
I have created a PR to fix this: https://dev.azure.com/dnceng/internal/_git/dotnet-release/pullrequest/21038

[2022-02-04 19:41] adiaaida commented on #8433
This is fixed in main. Rollout will happen next week

[2022-02-04 20:30] mmitche commented on #8313
Closing this without cutting it from 5.0/3.x due to EO requirement scope

[2022-02-04 20:30] #8313 closed

[2022-02-07 13:14] akoeplinger opened #8440 "Can't override jobs.yml parameters like disableComponentGovernance from job"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Given a .yml like this:

[code]

results in an Azure Pipelines error:
[code]

If I read it correctly this happens because this code passes along parameters from jobs.yml into the job.yml so we end up with one `disableComponentGovernance` from jobs.yml and one from the `job`: https://github.com/dotnet/arcade/blob/3cbeb24309

[2022-02-07 16:36] adiaaida opened #8442 "Gather-drop failing to download dotnet-monitor"
From gathering dotnet-monitor:

[code]

Build: https://dev.azure.com/dnceng/internal/_build/results?buildId=1593636&view=logs&j=0405beeb-c9f5-5d9d-baf9-b8ef4da354d1&t=125c67c1-7a6f-516c-f4f0-1d91ec1d119d

[2022-02-07 16:44] adiaaida commented on #8442
I poked around the build, and it looks like it is using an old version of darc. Upgrading to latest should fix the problem as I'm pretty sure @alexperovich and I fixed this issue in https://github.com/dotnet/arcade-services/commit/5c1bc4f8a993e3f9f4d408f475d137cb179e21b0#diff-66d7e4aa8669364fa4e42010f203f4fa6ddc132b6d237db44b6ed8e2bd813d3b

[2022-02-10 16:08] premun opened #8454 "Use `install`/`just-test`/`uninstall` for default Helix SDK mobile operation"
### Context
When sending test apps to Helix, we invoke the `apple test` or `android test` command of XHarness. This command orchestrates finding a device, installing the app, running the test and removing the app again.

XHarness can also be called in more granular way operation by operation via `install`/`just-test`/`uninstall` commands.
We should consider switching over to these because we colle

[2022-02-10 16:44] markwilkie commented on #8374
Is the end result of this that we're missing symbols?  (trying to understand better the end customer impact)

[2022-02-10 16:45] markwilkie commented on #8256
I'm closing this for now @AraHaan - but am more than happy to re-open if you think we should.

also....thanks a ton for your involvement - we really appreciate it.

[2022-02-10 16:45] #8256 closed

[2022-02-10 18:01] elinor-fung commented on #8374
The end result for the customer is:
- Linker warnings
  - [LNK4099](https://docs.microsoft.com/cpp/error-messages/tool-errors/linker-tools-warning-lnk4099) for every object file in the static library whenever they try to build. They would have to configure their link command to suppress this via `/ignore:4099`. For the static lib mentioned in https://github.com/dotnet/runtime/issues/63602, the war

[2022-02-10 21:16] riarenas commented on #8440
@akoeplinger Is this blocking things? I think for the particular case of `disableComponentGovernance` we might just want to get rid of it from jobs.yml, as I don't think we ever want to be in a world where CG is disabled for an entire set of jobs.

[2022-02-10 22:19] epananth opened #8456 "File execute permissions are not getting transferred when we run darc update-dependencies"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

I created a new bash file link to the branch ->(sbom-task)  https://dev.azure.com/dnceng/internal/_git/dotnet-arcade?version=GBsbom-task
Filename -> eng/common/generate-sbom-prep.sh

File permissions ->
git ls-files -s eng/common/generate-sbom-prep.sh
**100755** d7d132c8d8fd8dfc081c9ea144baf11a621ac0c7 0       eng/common/g

[2022-02-10 22:24] riarenas commented on #8456
Local darc update-dependencies does not commit the files for you, it only stages them for commit. Execute permissions don't exist until the file is committed. I don't think this is actionable unless you start seeing it with dependency updates done by maestro itself.

[2022-02-10 22:29] riarenas commented on #8456
When we were looking at this earlier I thought the command still committed the files, but we changed that behavior a while ago. This was partly my fault for misleading you

[2022-02-10 22:30] epananth commented on #8456
So while we do update-dependencies we should commit with correct permissions !

Closing this after discussion with @riarenas

[2022-02-10 22:30] #8456 closed

[2022-02-11 00:21] epananth opened #8457 "Use template to supply values to Sbom template"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-02-11 15:04] mmitche commented on #8440
Yeah, that makes sense. I think removing it from the top level is the best thing to do. What jobs do you need to disable CG for?

[2022-02-11 15:26] riarenas opened #8461 "Execute bit not set for generate-sbom-prep.sh"
- [ ] This issue is blocking
- [x] This issue is causing unreasonable pain

We're seeing issues with the execute bit not being propagated to repos, causing failures for the generation steps: https://github.com/dotnet/core-eng/issues/15551

It's set correctly in arcade;
[code]

But it didn't get propagated through maestro.

[2022-02-11 16:09] riarenas commented on #8440
I think this is related to the task not working in alpine containers, causing builds to be yellow: https://dev.azure.com/dnceng/internal/_build/results?buildId=1607090&view=results

[2022-02-11 16:49] missymessa commented on #8461
Should we mark this issue as blocking, as Arcade isn't going to pass Arcade Validation until it's fixed?

[2022-02-11 17:07] riarenas commented on #8461
This isn't blocking arcade-validation. The build is already out in the wild and repos will see this.

The steps are purposely marked to continueOnError as to avoid build breaks.

[2022-02-11 17:34] missymessa commented on #8461
I see. Okay, then it's just causing unreasonable pain because I'll keep getting spammed with Arcade Validation failure notifications :)

[2022-02-11 17:42] ilyas1974 commented on #8336
Unfortunately, because of a number of high priority issues, moving this back to the back log.

[2022-02-11 17:46] adiaaida commented on #8442
The problem here was two fold:

1. dotnet-monitor had pinned the darc version, missing a lot of updates for the new location
2. A while back, we introduced the --separated flag to gather-drop, and changed the default behavior so that we did not pull down the files into repo-separated directories. This is a functionality that dotnet-monitor used, so they needed to add the --separated flag to their

[2022-02-11 17:46] #8442 closed

[2022-02-11 18:46] riarenas commented on #8461
Looks like at some point, possibly during our move from using libgit2sharp to git executable commands during dependency updates, we stopped flowing the execute bit for files from Arcade. I prepared a workaround to unblock linux sbom generation in #8463 and will get some testing going for the proper fix in Maestro.

[2022-02-11 19:06] dougbu commented on #8336
/fyi @Pilchie this means a workaround we have in place that's (at best) iffy will remain for the foreseeable future. ☹️ See eng/helix/helix.proj in dotnet/aspnetcore#40073

[2022-02-11 19:08] Pilchie commented on #8336
This will presumably be an issue for Winforms/WPF/Windows Desktop if they start using Helix as well right?  Because they will also want to install runtime packages?

[2022-02-11 19:11] markwilkie commented on #8336
@ilyas1974 - thoughts on how long you anticipate this being on the backlog?  Meaning, once the current "storm" of FR issues subsides, do you anticipate putting this back on?

[2022-02-11 19:13] dougbu commented on #8336
Depends on how those repos choose to get the runtimes. If they use something like our old (worse) hacks and install on each Helix agent i.e. ignore the Helix SDK feature, they'll be 🆗 They'll also be 🆗 if they use the Helix SDK to install only a .NET SDK (that's not an MSRC SDK).

[2022-02-11 22:55] akoeplinger commented on #8440
yes exactly. it's not blocking right now since the task no longer causes an error but the warning is just noise.

Removing the property from jobs.yml sounds like a good solution.

[2022-02-14 02:29] VincentBu opened #8469 "Test failure System.Diagnostics.Tests.ActivitySourceTests.TestAddingMorePropertiesWithActivityCreate"
Run: [runtime-coreclr libraries-jitstressregs 20220213.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1610173&view=ms.vss-test-web.build-test-results-tab&runId=44858726&resultId=146979&paneView=debug)

Failed Test
[code]
**Error message:**
[code]

[2022-02-14 16:43] tarekgh commented on #8469
Moved it to arcade repo as the stack pointing at the remote executor during the dispose operation. This is not related to the actual test using the remote executor.

[2022-02-14 17:01] riarenas opened #8470 "Remove disableComponentGovernance parameter from jobs.yml"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

Related to https://github.com/dotnet/arcade/issues/8440. Remove the property from jobs.yml as it's:

1. interfering with setting the parameter in individual jobs
2. We don't really want repos to be able to disable CG in a whole set of jobs.

[2022-02-14 17:02] riarenas commented on #8440
I'm going to split this issue:

* https://github.com/dotnet/arcade/issues/8470 to remove the disableCompnenetGovernance property from jobs.yml
* This issue for the yaml bug of not being able to set properties we do want to keep in both job and jobs templates.

[2022-02-14 18:13] garath opened #8472 "[release/5.0] SDL: Resolve component governance warnings"
The release/5.0 branch reports some Component Governance warnings that should be resolved.

[Current report](https://dnceng.visualstudio.com/internal/_componentGovernance/dotnet-arcade?_a=alerts&typeId=10725557&alerts-view-option=active)

[2022-02-14 18:16] garath opened #8473 "[release/3.x] SDL: Resolve component governance warnings"
The release/3.x branch reports some Component Governance warnings that should be resolved.

[Current report](https://dev.azure.com/dnceng/internal/_componentGovernance/dotnet-arcade?_a=alerts&typeId=10530823&alerts-view-option=active)

[2022-02-14 20:22] garath commented on #8473
Closing in favor of dotnet/core-eng#15570.

[2022-02-14 20:22] #8473 closed

[2022-02-14 21:56] adiaaida commented on #7295
I apparently fixed this, but never closed the issue.

[2022-02-14 21:56] #7295 closed

[2022-02-14 23:29] ilyas1974 commented on #8336
I have asked @ulisesh to look at this.

[2022-02-16 03:22] epananth opened #8477 "Validate SBOM for .NET Repos using Arcade main"
•	**If your repo is using Arcade from the ‘.NET Eng – latest’ channel and using Arcade’s ([jobs.yml]) template to build**, you should just need the latest arcade update to get SBOM generation automatically added to your pipelines.
•	If your repo is not using Arcade’s templates, or not using Arcade at all, you will need to manually add the SBOM generation task manually to every build job that creat

[2022-02-16 19:11] riarenas commented on #8461
We have a workaround in the templates themselves. Once we're done with the critical SBOM work I'll fix the root cause (bug in maestro)

[2022-02-17 00:20] dougbu commented on #8477
I would appreciate more context here

1. How urgent are the "Needs arcade update" items❔ ASP.NET-related repos tend to take Arcade updates ~weekly.
2. What is the point of creating an SBOM in a repo like aspnet/AspLabs which ships one package on a very irregular basis❔ We're moving that source from AspLabs to aspnetcore in any case.
3. I don't know much about aspnet-AspNetKatana @Tratcher is this

[2022-02-17 00:33] mmitche commented on #8477
1. We'd like to have SBOMs generated in main by end of next week. You probably already got the update in main though (it got checked in froday
2. Microsoft wants SBOMs for all of its supply chain, even for repos that are only providing artifacts for other repos. Since asplabs ships to customers, it should have an SBOM
3. ...
4. This one can be skipped then.
5. Up to you folks there.

[2022-02-17 01:00] dougbu commented on #8477
Agree that's the current state. It however shouldn't ship anything in the future, given the move to dotnet/aspnetcore. Right @dotnet/aspnet-build @JamesNK❔

[2022-02-17 01:11] JamesNK commented on #8477
The gRPC source is moving from asplabs to aspnetcore. It won't ship from there anymore.

However, I think it is valuable to have a place where our product team can have experiments that can be published to NuGet to get feedback.

[2022-02-17 01:21] dougbu commented on #8477
That makes it a very weird case from an SBOM perspective because the pipeline build more than we'd ever release.

[2022-02-17 01:23] mmitche commented on #8477
You could argue that about any of the .NET core repos. There will be thousands of SDK builds that never get released. The SBOM generation itself is pretty cheap, so I don't see a huge issue here

[2022-02-17 01:25] lewing commented on #8477
I have even less context here, what is needed beyond an arcade update?

[2022-02-17 01:32] epananth commented on #8477
@Lewing : If your repo is using Aracade's (job.yml/jobs.yml) to build, SBOM generation is already in place for this scenario. So once you get an arcade update (https://github.com/dotnet/arcade/blob/main/Documentation/SBOMGenerationGuidance.md#repositories-using-arcades-jobsyml-templates)

You should be able to review SBOM (please take a look here on how to verify)(https://github.com/dotnet/arcade/

[2022-02-17 06:29] Y-Sindo commented on #8477
Regarding to repo AzureSignalR-samples, we use it as a place for samples only and there is no pipeline for the repo.

[2022-02-17 11:41] MihaZupan commented on #8477
If the name expected to be `.NET 7.0.0` even for projects that don't ship as part of .NET (microsoft/reverse-proxy)?

[2022-02-17 15:51] sebastienros commented on #8477
__dotnet/crank__ has "Has latest arcade update but still does not have sbom generated" comment.
My response to this is it's using arcade release/6.0 apparently, and I saw the changes with SBOM just got pushed there. So I believe dotnet/crank will get it when there is a new release of that branch?

__aspnet/benchmark__ doesn't have a pipeline. We are not shipping anything from this repository, it's

[2022-02-17 16:21] Tratcher commented on #8477
Yes, that's mine. That repo doesn't use Arcade yet. We might consider switching to Arcade when we move it from TeamCity to Azdo.

[2022-02-17 17:04] vlada-shubina commented on #8477
I checked dotnet/templating and SBOM is generated in internal build from main branch.
The file is very big but I checked that key outputs are present.

[2022-02-17 18:11] epananth commented on #8477
I will update the list. thanks for confirming

[2022-02-17 18:23] dagood commented on #8477
I don't know this repo, so I've changed the owner from myself to ❓

[2022-02-17 18:27] epananth commented on #8477
For now all the repos using arcade main to use package name as .NET 7.0.0

Yes, we want everyone who uses arcade main to use .NET 7.0.0 as package name

[2022-02-17 18:27] BrennanConroy commented on #8477
How do we handle repos that
a. Don't use .NET at all
b. Don't ship a physical package
Specifically talking about aspnet-SignalR-Client-Cpp which is fully C++ and ships as code (i.e. you compile it yourself).

[2022-02-17 19:04] MichaelSimons commented on #8477
@epananth - I am having some troubles with dotnet-source-build-reference-packages and am wondering if you can help out.  I got the [repo updated](https://github.com/dotnet/source-build-reference-packages/pull/337) on the latest arcade version but the build is still not running the SBOM generation leg - https://dev.azure.com/dnceng/internal/_build/results?buildId=1619144&view=logs&s=6884a131-87da-5

[2022-02-17 19:17] epananth commented on #8477
I will have to get back to you on this one.

[2022-02-17 19:18] epananth commented on #8477
Taking a look

[2022-02-17 20:58] epananth commented on #8477
We don't need to produce sboms for dotnet-source-build-reference-packages. Going to update the list.

[2022-02-17 21:09] #2939 closed

[2022-02-17 21:09] #3904 closed

[2022-02-17 21:09] #3906 closed

[2022-02-17 21:09] #4268 closed

[2022-02-17 21:09] #4717 closed

[2022-02-17 21:09] #6486 closed

[2022-02-17 21:28] adiaaida commented on #8374
@mikem8361 Can you weigh in on this?

[2022-02-17 21:42] MiYanni commented on #8477
@epananth `dotnet-project-system` doesn't use Arcade.

[2022-02-17 21:48] epananth commented on #8477
@MiYanni Updated dotnet-project-system, what about dotnet-project-system-tools?

[2022-02-17 21:49] adiaaida commented on #4717
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 21:51] adiaaida commented on #6486
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 21:51] adiaaida commented on #4268
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 21:51] adiaaida commented on #3906
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 21:52] adiaaida commented on #2939
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:04] adiaaida commented on #6480
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:04] adiaaida commented on #6244
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:05] adiaaida commented on #6166
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:05] #6166 closed

[2022-02-17 22:06] adiaaida commented on #4936
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:07] adiaaida commented on #4871
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:07] #4871 closed

[2022-02-17 22:08] adiaaida commented on #4539
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:08] #4539 closed

[2022-02-17 22:08] adiaaida commented on #4153
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:08] #4153 closed

[2022-02-17 22:08] #3386 closed

[2022-02-17 22:08] adiaaida commented on #3070
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:08] #3070 closed

[2022-02-17 22:09] adiaaida commented on #163
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:09] #163 closed

[2022-02-17 22:09] adiaaida commented on #126
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:09] #126 closed, assigned to nobody

[2022-02-17 22:09] adiaaida commented on #100
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:09] #100 closed

[2022-02-17 22:09] adiaaida commented on #47
Closing because the parent Epic was closed. If you believe this issue should still be worked on, please re-open.

[2022-02-17 22:09] #47 closed

[2022-02-17 22:09] #30 closed

[2022-02-17 23:04] mikem8361 commented on #8374
I don't know how creating a PDB for a .lib works.  Most of this issue looks like generating the PDB so the symbol uploader can upload it? Or so the devs that are using libs like libnethost.lib can create a PDB?

[2022-02-17 23:19] elinor-fung commented on #8374
This is for devs consuming static libs like `libnethost.lib`. The linker pulls in the static lib and looks for a corresponding PDB next to that lib, so having the symbols uploaded to a symbol server does not help in this case. They will get a PDB (for their binary that is consumbing the static lib), but that PDB will not have debug information for libnethost. They will also hit the warning [LNK409

[2022-02-18 00:05] zivkan commented on #8477
@epananth NuGet.Client does not use Arcade, so I'm working through trying to get it all working.

MicroBuild/DevDiv requires the sbom to be included in the vsix. Taking a quick look at the docs you linked, it looks like dnceng only requires the sbom to be published as a build artifact. Is that correct?  There's no requirement to embed the sbom in nupkgs promoted to BAR or published to nuget.org?

[2022-02-18 00:09] epananth commented on #8477
Yes it need to be published as a build artifact, no need to publish to BAR

[2022-02-18 01:07] danmoseley opened #8483 "Update CLRMD in RemoteExecutor"
This utility, used by the libraries tests, uses clrmd for creating dumps and logging info out of them when a (child) process hangs:

https://github.com/dotnet/arcade/blob/49750c02e63d0ad3a77d035bba7498a0b1acd218/src/Microsoft.DotNet.RemoteExecutor/src/RemoteInvokeHandle.cs#L178-L211

It's using Microsoft.Diagnostics.Runtime 1.0.5 - I went to update it to the latest but I see a bunch of API has cha

[2022-02-18 05:29] carlossanlop opened #8484 "[AsmDiff] - Does not detect `nint` and`nuint`"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

When the tool generates a diff between two .NET versions, any APIs with `nint` or `nuint` in their signature unexpectedly show `IntPtr` or `UIntPtr` instead, as described here: https://github.com/dotnet/core/pull/7211#discussion_r809652323

[2022-02-18 17:40] Forgind commented on #8477
For dotnet/msbuild:
I tried to follow the steps to verify our generated SBOM is correct. I found one thing I think is a problem and two things I wanted to ask about.
The license information on our packages is "NOASSERTION" instead of MIT license. I think this needs fixing?
The name property of spdxVersion is .NET 6.0.0 rather than .NET 7.0.0 even though this is from main. rainersigwald said that i

[2022-02-18 21:00] BillHiebert commented on #8477
@hoyosjs - that repo is still in use as it is where the hot reload components live.

[2022-02-18 23:29] epananth commented on #8477
1) We are not concerned about overreporting at this point, so we want to include everything for now.
2)  All licenses are NOASSERTION, all download locations are NOASSERTION - we do not have an option to change this for now, I am going to talk to SBOM folks and get back on this.
3) Files section does not have nupkgs - can you point the build to me?

I will update the owners in the issue.

[2022-02-19 01:02] dougbu commented on #8477
Oh, I forgot: The SBOM generation fails on Linux MUSL x64 but produces an empty artifact named after the job. Please either shut it off on that platform or find a way to fix the bug. In the meantime, we can skip CG on that platform; can we skip SBOM generation too❔

[2022-02-19 01:51] dougbu commented on #8477
Most of my comments above were based on aspnetcore-ci-official. In other news, [AspLabs-ci-official](https://dev.azure.com/dnceng/internal/_build?definitionId=249) and [efcore-ci-official ](https://dev.azure.com/dnceng/internal/_build?definitionId=229) seem to produce SBOM files and artifacts in jobs that list mostly test results and obj/ files in the SBOM files. The jobs also produce packages and

[2022-02-20 03:40] dougbu commented on #8477
To get a reasonable comparison between the SBOM files and asset manifests, I adjusted my script to _exclude_ files named `*-ci*` and _include_ non-shipping files from asset manifests. I suggest all but dotnet-aspnetcore should be checked off but leave that decision to you @epananth.

### Results

- aspnet-AspLabs looks fine though there's a **lot** of useless information in the extra SBOM files
-

[2022-02-20 04:43] dougbu commented on #8477
Not sure what to do about aspnet-AspNetWebHooks. We have a pipeline but it doesn't use Arcade and only publishes to the general-testing and general-testing-symbols feeds. The repo contains legacy (desktop) ASP.NET WebHooks and we last published packages from it to NuGet in 2019. We have no plans for another release.

[2022-02-20 05:09] dougbu commented on #8477
Are we supposed to check .NET 6 as well❔

**Note**: aspnet-AspLabs publishes to the `.NET 6` channel but uses Arcade from the `.NET Eng - Latest` channel. This confuses the SBOM files. They use the name `.NET 7.0.0`.

[2022-02-22 15:13] YuliiaKovalova opened #8493 ".NET 7.1 preview package is missed"
Hi @dotnet/dnceng

[The issue](https://github.com/dotnet/core/issues/7213) was created in a different repository, but I suppose it can be related to aka.ms links. Please use this link to the missed package as an example [https://dotnetcli.azureedge.net/dotnet/Sdk/7.0.100-preview.1.22110.4/dotnet-sdk-7.0.100-preview.1.22110.4-linux-x64.tar.gz](https://dotnetcli.azureedge.net/dotnet/Sdk/7.0.100-prev

[2022-02-22 15:27] adiaaida commented on #8493
Taking a look

[2022-02-22 16:03] adiaaida commented on #8493
Actually, I don't think it's a sas token issue, as Runtime and aspnetcore files are on the storage account.

[2022-02-22 17:02] #8493 closed

[2022-02-22 18:34] leculver commented on #8483
ClrMD 2.0 does work on Unix (both linux and os x), and overall it's a much better product.  I think some of those specific apis (IsThreadpool*) are missing, but IIRC that's just an oversight.  If you decide to do an update of the tool I can add those APIs to 2.0 and ship a new build.  There's already an issue for those missing apis...

[2022-02-22 18:49] riarenas commented on #8470
This has been working fine in main, created PRs to servicing branches:

- release/3.x: https://github.com/dotnet/arcade/pull/8497
- release/5.0: https://github.com/dotnet/arcade/pull/8496
- release/6.0: https://github.com/dotnet/arcade/pull/8498

[2022-02-22 19:37] epananth commented on #8477
@dougbu those are great suggestions, I created an issue to look into this in future -> https://github.com/dotnet/core-eng/issues/15671

We unfortunately do not want to to turn off sbom generation for now. We have an issue opened for Sbom folks (https://github.com/microsoft/dropvalidator/issues/368) Once that is fixed that should go away.

Overreporting at this stage is intentional, so we want to k

[2022-02-22 20:05] dougbu commented on #8477
@epananth thanks for your responses.

I don't believe that issue really covers the problems doing SBOM generation on Linux MUSL x64 machines. Is there another issue to track for that❔

[2022-02-22 20:11] epananth commented on #8477
I am going to run another build with better verbosity and look into that further. Will keep you posted..

[2022-02-22 21:58] riarenas commented on #8470
This is now in all branches

[2022-02-22 21:58] #8470 closed

[2022-02-22 22:40] mmitche commented on #8477
@Tratcher We need determine the applicability of the EO to the repo. Can you figure out whether katana is in scope for 3/8 based on the Scope section here? https://eng.ms/docs/initiatives/executive-order/executive-order-requirements/executiveorderoncybersecurity/overview

If it is, then the TeamCity dependency will need to be removed. Is there a timeline on that?

[2022-02-22 23:19] Tratcher commented on #8477
Katana produces the Microsoft.Owin libraries used to build a variety of cloud services so it probably qualifies as a top level dependency? I don't see anything in the list that would disqualify it.

We're planning to move it off TeamCity in the next few months, but don't have a specific schedule yet.

[2022-02-22 23:57] Forgind opened #8499 "GenerateTrainingInputFiles fails on Turkish VM"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

I'm not entirely clear why GenerateTrainingInputFiles needs to run with every build—can it be disabled?

I ask because I tried building msbuild just now on a Turkish VM, and this task failed with:
[code]

I looked for that file manually, and it was indeed present. I would guess that task just isn't hardened against the Tur

[2022-02-23 22:46] garath commented on #8472
Merged!

[2022-02-23 22:46] #8472 closed

[2022-02-24 04:33] joeloff commented on #8477
@mmitche @marcpopMSFT Should we include https://github.com/dotnet/cli-lab? That's where the uninstall tool lives.

[2022-02-24 16:36] mmitche commented on #8477
Yeah, I think so /cc @epananth

[2022-02-24 17:55] epananth commented on #8477
Added to the list.

[2022-02-24 21:07] zivkan commented on #8477
Update on NuGet.Client:

NuGet.Client is a mono-repo that builds both our VS "extension" and the code that gets inserted into the .NET SDK. I imagine that Roslyn is in a similar position. However, NuGet.Client does not use Arcade or Helix or basically any dnceng infrastructure. For testing our VS extension, we use VSEng's DartLab, which requires us to create a "VS bootstrapper". MicroBuild's "Crea

[2022-02-24 21:12] adiaaida commented on #8484
@ericstj Do you have context on this?

[2022-02-24 21:17] adiaaida commented on #8499
@rainersigwald Do you know who owns this?

[2022-02-24 22:08] mmitche commented on #8477
This is a good approach. The tooling will improve over time, and likely will eventually become per-package (this is my educated guess) rather than "gather everything up and mash it into one file". Get something minimal working now, and we'll iterate later.

[2022-02-24 22:19] rainersigwald commented on #8499
@tmat and @chsienki Touched It Last™️.

[2022-02-25 01:02] jander-msft commented on #8477
I cannot edit this issue, so here are the results I'd like to report:
- Repository: dotnet-dotnet-monitor
- Ownership: please change to @jander-msft
- Status: Verified

I'd also like to report that the Linux Musl (Alpine) x64 build leg fails to generate an SBOM and creates an empty artifact. However, we do not ship files out of this build leg. See https://dev.azure.com/dnceng/internal/_build/resul

[2022-02-25 01:13] epananth commented on #8477
Update the issue. Thanks for validating @jander-msft . For follow up on linux-musl, I created https://github.com/microsoft/dropvalidator/issues/368. Waiting to hear from SBOM folks.

[2022-02-25 01:18] ulisesh commented on #8336
I'm leaving FR tomorrow, @jonfortescue can you take this issue?

[2022-02-25 02:00] epananth commented on #8477
@dougbu For AspLabs you should be able to update the version here -> https://github.com/dotnet/arcade/blob/f7136626d0109856df867481219eb7366951985d/eng/common/templates/job/job.yml#L36

Also update on the linux musl leg, I tried to run the build with updated verbosity, that did not work. We are waiting on SBOM folks for that.

[2022-02-25 04:09] RussKie commented on #8477
@epananth @dreddy-work please feel to merge, if these look correct.
* https://github.com/dotnet/winforms/pull/6759 -> https://dev.azure.com/dnceng/internal/_build/results?buildId=1631751&view=results
* https://github.com/dotnet/windowsdesktop/pull/2651 -> https://dev.azure.com/dnceng/internal/_build/results?buildId=1631811&view=results

Release/6.0 branches (neither public nor internal) for both r

[2022-02-25 04:36] epananth commented on #8477
@RussKie  Thank you!
We already have backported this to arcade release/6.0 https://github.com/dotnet/arcade/pull/8479, you should have an arcade update for your repo for that..

[2022-02-25 05:06] joeloff commented on #8477
@mmitche I talked to to @epananth The SDK SBOM is 1.4 million lines. It crashed VS, VSCode. I finally managed to open it in Notepad++, but reducing size of the files should be a priority next if possible.

[2022-02-25 05:08] RussKie commented on #8477
In dotnet/winforms it's a measly 114K lines... There are lot of entries for non-prod artifacts (e.g., tests), which could probably be ignored.

[2022-02-25 17:27] jonfortescue commented on #8336
@ulisesh yep, absolutely.

[2022-02-25 19:33] zivkan commented on #8477
NuGet's PR is merged now, and new builds will generate the sbom file & build artifact. Our next insertion will be next week.

[2022-02-26 01:08] carlossanlop opened #8516 "[AsmDiff] Nullability attributes are not being detected properly"
Found on this comment on the Preview1 api-diff PR: https://github.com/dotnet/core/pull/7211/files#r810072025

Here is how the API looks in Preview1: https://github.com/dotnet/runtime/blob/405337939cf8d793661f6c6c0007c3f519b26f0d/src/libraries/Microsoft.Extensions.FileSystemGlobbing/ref/Microsoft.Extensions.FileSystemGlobbing.cs#L153

AsmDiff generated it like this:

[code]

[2022-02-26 01:14] carlossanlop opened #8517 "[AsmDiff] Unexpectedly adding a destructor"
Running the tool with these arguments:

[code]

The tool was executed to compare the GA version of 6.0 and the 7.0 Preview1 version.

The `System.Threading.PeriodicTimer.~PeriodicTimer()` destructor showed up unexpectedly as newly added in 7.0, even though it already existed in 6.0.

Comment: https://github.com/dotnet/core/pull/7211/files#r810084435

[2022-02-28 01:45] RussKie commented on #8477
https://github.com/dotnet/winforms/pull/6759 is merged.
https://github.com/dotnet/windowsdesktop/pull/2651 is failing to generate SBOM on ["Prepare for publish" leg](https://github.com/dotnet/windowsdesktop/pull/2651#issuecomment-1051005993). See https://dev.azure.com/dnceng/internal/_build/results?buildId=1633615&view=logs&j=5ab303af-16db-5f58-82d4-945dcabe3bb5&t=24962100-60d4-5768-b736-1d1c025eb

[2022-02-28 15:31] Forgind commented on #8499
BenVillalobos hit this on a non-Turkish machine; it seems like it's actually a MAX_PATH problem rather than a Turkish i problem.

[2022-02-28 17:07] ericstj commented on #8484
This is in tooling maintained by @dotnet/area-infrastructure-libraries.   This is due to the way these tools are built off of metadata.  Whenever a language change comes around they need to be updated if we want them to reflect that language feature.

Places of interest to look at are:
https://github.com/microsoft/cci/blob/659f31f9736a1e8ded870ee2132d91f87505148e/SourceEmitters/VB/VBSourceEmitter/

[2022-02-28 17:40] tannergooding commented on #8484
They are contextual keywords, not "proper" keywords.

[2022-02-28 18:39] epananth commented on #8477
@RussKie looking into this

[2022-03-01 22:11] lbussell commented on #8014
I believe that this is fixed in main and release/6.0 by the recent patch backports. See the referenced commits above.

[2022-03-01 22:11] #8014 closed

[2022-03-01 22:32] adiaaida opened #8526 "Migrate issues out of core-eng"
We need a tool (or to just use the github cli) to migrate all issues newer than a year/2 years old to arcade, so long as they are not part of any excluded epics.

[2022-03-01 23:05] mmitche opened #8527 "3.1 and 5.0 staging builds should have correct permissions for staging feeds"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

The 3.1 and 5.0 staging pipelines create feeds for testing. These feeds are getting permissions that only allow contributors to see the contents. I think the issue is that this should be backported to 3.1 and 5.0:

https://github.com/dotnet/arcade/pull/8082

[2022-03-02 18:45] missymessa opened #8533 "Consider cycling secrets prior to services rollouts"
Related: https://github.com/dotnet/core-eng/issues/15618

Cycling secrets prior to rolling out our services may reduce problems that were related to the above issue.

[2022-03-02 18:51] missymessa opened #8534 "Investigate potential bug in secret manager when updating manually updated secret"
Related: https://github.com/dotnet/core-eng/issues/15508

This issue was resolved manually, but we're unsure if it was a bug in the Secret Manager CLI or not. To prevent it from happening again, we should validate if this is a bug in Secret Manager and fix it if it is.

[2022-03-02 18:55] missymessa opened #8535 "Rollout Scorer Not Working?"
Haven't gotten a rollout scorecard since the 2/17 rollouts, what's wrong with Rollout Scorer?

[2022-03-02 21:37] ulisesh opened #8538 "[IGNORE] Issue for knowns issues testing"
Ignore this issue
[code]

[2022-03-02 21:38] missymessa opened #8539 "Investigate and fix crashing scenarios in Helix SF"
Extension of https://github.com/dotnet/core-eng/issues/15691

Helix SF cluster is stable on our staging environment, however, our services are continually crashing, and it needs to be fixed.

[2022-03-02 23:00] ChadNedzlek commented on #8539
I _think_ a step along the way is: https://github.com/dotnet/arcade-services/pull/1839

But that just gets the process to log/exit normally. It doesn't fix the underlying problem.

[2022-03-02 23:17] jonfortescue commented on #8535
Scorer is working fine according to logs. Seems likely that the issue is with dotnet-eng-status.

[2022-03-03 01:04] MattGal opened #8541 "Fix or disable ValidateHelix execution for on-prem OSX validation"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We spend 30+ minutes every main-branch build and lots of azure storage costs to setup a macOS test machine, but only test it in PRs.  We can either nerf this entire testing leg in main (my vote, actually) or fix it (just provide a fake queue name with a custom name, so the temporary machine can validate things)

Instead of

[2022-03-03 05:38] danmoseley commented on #8483
@leculver it is working fine, so low priority, but if and when you do plug those gaps let me know and I'll make the update.

[2022-03-03 11:51] YuliiaKovalova opened #8542 "dotnet-sdk-linux-musl-x64.tar.gz package is missed"
Hi @dotnet/dnceng,

We have an issue in install-scripts repository that is related to a missed package for Apline env : [-Channel 6.0.1xx -Quality daily fails](https://github.com/dotnet/install-scripts/issues/258).
I have tried to run the command without` -Quality `option but it still returns the message `The aka.ms link 'https://aka.ms/dotnet/6.0.1xx/dotnet-sdk-linux-musl-x64.tar.gz' is not valid

[2022-03-03 12:24] dkurepa commented on #8542
Hi Yuliia, we are looking into this issue

[2022-03-03 17:05] missymessa commented on #8535
@jonfortescue do we need to do any manual intervention to get the scorecards for the rollouts from last week?

[2022-03-03 18:43] epananth opened #8549 "SBOM list of repos left for signoff"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

**Repos we need signoff for SBOM generation**

| Repository |  Owner | Status | Does this need sbom? | Notes |
|-------------|---------|---------|------|--------|
| dotnet-project-system |  MiYanni | | | Spl case, inserts to VS |
| SignalR-SignalR | BrennanConroy | ✔️ | |  working on arcade update |
| dotnet-insertions-cli

[2022-03-03 19:32] riarenas opened #8550 "Generate SBOM for arcade-extensions"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

[2022-03-03 19:38] BrennanConroy commented on #8549
aspnet-SignalR-Client-Cpp needs more info https://github.com/dotnet/arcade/issues/8477#issuecomment-1043324121
SignalR-SignalR is [almost working](https://github.com/SignalR/SignalR/pull/4620), has a PR to fix some conditions

[2022-03-03 19:39] jonfortescue commented on #8535
@jonfortescue I'm...not entirely sure that we _can_ get them without the logs in status to tell us what the rollouts are. I can look into it tho

[2022-03-03 19:44] missymessa opened #8551 "Grafana alerts need to be opened in Arcade instead of core-eng"
With migrating from core-eng to Arcade, we need to ensure that alert issues are opened in Arcade instead of core-eng, since core-eng will be archived eventually.

[2022-03-03 19:46] garath commented on #8551
I think Michelle has this in dotnet/core-eng#15737

[2022-03-03 19:53] missymessa opened #8552 "Backport Helix Test Retry functionality to release/5.0"
Per Doug's request here: https://teams.microsoft.com/l/message/19:1dad2081c8634f34915d88dce6220265@thread.skype/1646336812117?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=4d73664c-9f2f-450d-82a5-c2f02756606d&parentMessageId=1646336812117&teamName=.NET%20Core%20Eng%20Services%20Partners&channelName=Arcade&createdTime=1646336812117

[2022-03-03 19:57] missymessa commented on #8552
Conversation noted that 5.0 is out of support in May. Closing this issue.

[2022-03-03 19:57] #8552 closed

[2022-03-03 21:03] adiaaida commented on #8551
closing as dupe

[2022-03-03 21:03] #8551 closed

[2022-03-03 21:06] adiaaida commented on #8542
Closing in favor of https://github.com/dotnet/core-eng/issues/15740

[2022-03-03 21:06] #8542 closed

[2022-03-03 21:32] adiaaida commented on #8533
What we should do for this is move dotnet-helix-machines key vault usage to HelixProdService. And then remove the secrets from HelixProdKV.

[2022-03-03 21:34] epananth commented on #8549
@BrennanConroy which is fully C++ and ships as code - we don't need to create SBOM for this. Sorry I missed this converstation

[2022-03-03 21:46] jonfortescue commented on #8535
Took care of this and got the missing scorecard up.

[2022-03-03 21:47] adiaaida commented on #8534
Steps to take:

* Create a fake secret that is manually updated.
* Update the manual secret to have a different value
* Make sure it is updated correctly in the key vault.

[2022-03-03 22:12] missymessa commented on #8535
Did this happen to go into core-eng or arcade?

[2022-03-03 23:58] missymessa opened #8553 "Networking Issues with AzDO"
Reported to FR by @dougbu

https://teams.microsoft.com/l/message/19:afba3d1545dd45d7b79f34c1821f6055@thread.skype/1646335401653?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=4d73664c-9f2f-450d-82a5-c2f02756606d&parentMessageId=1646335401653&teamName=.NET%20Core%20Eng%20Services%20Partners&channelName=First%20Responders&createdTime=1646335401653

Need to get some telemetry on this issue, an

[2022-03-04 02:28] ChadNedzlek opened #8554 "Users are unable to access internal Helix builds"
We uninstalled Helix from the Microsoft GitHub org. Unfortunately, access to this org was what contolled access to helix.

Now no one can access things in helix unless we happen to have their credentials cached.

This is critical, and we need to do something.  Unfortunateyl, installing it back there will give @adiaaida's projec tool as well as the Build Analysis tool a bunch of webhooks and access

[2022-03-04 02:37] ChadNedzlek commented on #8554
It's possible adding read:org here https://github.com/dotnet/arcade-services/blob/main/src/Shared/Microsoft.DotNet.Web.Authentication/GitHub/GitHubAuthenticationExtensions.cs#L30, with a call to `options.Scopes.Add("read:org")` maybe? That's going to be a pain to get shipped to prod, since it's not even in the helix repo.

[2022-03-04 02:39] ChadNedzlek commented on #8554
That might also not work... it's hard to test this... but I know the tokens we are getting now have _no_ scopes, and if you ask for org membership, it only currently lists the orgs the app is installed on.  It's also possible that oauth scope might not change anything, and we still need to get isntalled.

In that case, we need to split our app in twain... one app with almost no permissions, just f

[2022-03-04 06:44] ChadNedzlek commented on #8554
Scratch the "scope" stuff, looks like that doesn't work with github apps, only OAuth ones.  Looks like the hard path is the only path. Rats.

[2022-03-04 10:04] akoeplinger commented on #8554
I'm a bit confused why it wouldn't be able to retrieve _public_ members? Which endpoint are you using?

According to the [public_members](https://docs.github.com/en/rest/reference/orgs#check-public-organization-membership-for-a-user) docs it should work without the app being part of the org, as opposed to the [members](https://docs.github.com/en/rest/reference/orgs#check-organization-membership-fo

[2022-03-04 16:45] MattGal commented on #8554
Remind me why we don't just put it back until this is sorted?

[2022-03-04 17:00] markwilkie commented on #8554
This is my vote - I'll chime in on the email thread and ask Jeff to put things back for now.

[2022-03-04 20:03] ChadNedzlek commented on #8554
@akoeplinger , unfortunately that doesn't play well with how ASP.NET does identity.  We could hard code a bunch of checks inside I suppose, but right now, we just gather all the orgs/teams and make them claims on the principal.  Then various pages/sites can auth based on those claims.  So at the time we are asking what orgs you are in, we don't know what orgs matter.  We could hard code a list, I

[2022-03-04 21:31] ChadNedzlek commented on #8554
We've reinstalled the app to the "dotnet-features" repo in the MS org, which seems to have given us access to org membership again. That repo hasn't seen a commit in 8 years, so we are probably safe... until someone deletes it and everything is broken again, but we are unblocked for now.

[2022-03-04 21:52] ChadNedzlek opened #8557 "Include "application_version" in AppInsights traces"
This would help debugging rollbacks _immensely_, because we could limit app insights queries to the version that failed to deploy looking for exceptions errors.

[2022-03-04 21:54] ChadNedzlek commented on #8557
OH! It' already there. Thank heavens, it's just "application_version" instad of "app_version"

[2022-03-04 21:54] #8557 closed

[2022-03-05 00:28] MattGal commented on #4179
Looks like this already happened (https://github.com/dotnet/arcade/blob/main/eng/common/tools.ps1#L516) so closing this.

[2022-03-05 00:28] #4179 closed

[2022-03-05 00:32] MattGal opened #8558 "dnceng/internal Task # 2529"
See https://dnceng.visualstudio.com/internal/_workitems/edit/2529 for details.

[2022-03-05 00:39] MattGal opened #8559 "Address accessibility issues with DncEng team owned sites"
We need to do fastpass runs and fix any issues in https://source.dot.net and https://helix.dot.net

From a quick FastPass run we already have some stuff to fix for source.dot.net at least.  See https://ceacc.visualstudio.com/accessibility%20testing/_workitems/edit/110791/  for guidance and details

[2022-03-07 16:20] MattGal commented on #8553
Can you please point out where is the IcM with AzDO for this? Wanted to follow along.

[2022-03-07 17:26] adiaaida commented on #8526
@mmitche @riarenas @garath @jonfortescue @MattGal @epananth @alexperovich: As listed above, as part of this, I have identified all of the security/EO related epics, whose issues we will not be migrating to arcade. The hope is that we will wait until all skipped epics are complete before archiving core-eng. After that, issues will need to be opened as AzDO work items, with a linked issue in arcade

[2022-03-07 17:36] riarenas commented on #8526
What is the date for the shutting down of core-eng? New requirements for EO keep coming up, so it's possible we might not be able to skip all of those epics from migration. If the epics cannot be completed, will the issues be moved to azdo along with the tracking arcade issues as part of this work?

[2022-03-07 17:36] adiaaida opened #8565 "Remove all issues not migrated from projects board"
We only want arcade issues on the board going forward. Also need to update all the code that allows for core-eng and only do arcade (and xharness).

[2022-03-07 17:40] adiaaida commented on #8526
Yes. That would be my plan. We don't have a date yet for archiving core-eng (I need to talk to Chris about it), but we're hoping that at the very least, the first phase of EO can be completed before archiving, and everything new that comes up can be handled in the "open issue in azdo with linking arcade issue" way, rather than opening issues in core-eng. I, of course, can't stop you from opening c

[2022-03-07 17:41] riarenas commented on #8526
More specifically, https://github.com/dotnet/core-eng/issues/15136 and https://github.com/dotnet/core-eng/issues/13551 might be lingering longer than we expected.

[2022-03-07 17:43] adiaaida commented on #8526
The JIT stuff should definitely be moved almost completely to AzDO, I'd say starting now. But having specifics makes it a lot easier to focus in on solutions, thanks.

[2022-03-07 17:45] riarenas commented on #8526
Do we have guidance on which fields need to be filled out when opening the azdo issues? Mainly thinking about how to track an issue back to an epic, or which area path so they don't show up in other people's query tracking, etc...

[2022-03-07 17:52] adiaaida opened #8566 "Add guidance for creating AzDO work items"

[2022-03-07 18:05] adiaaida commented on #8526
That is a really good idea, and shouldn't be too hard to do. Could you open an issue for me for it?

[2022-03-07 18:06] riarenas commented on #8526
In azdo?? (I kid, I'll open one and link back)

[2022-03-07 18:12] riarenas opened #8567 "Automation to create tracking issues back from Azure DevOps"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

With the migration of issue management from core-eng to Arcade, there are certain categories of issues (security infrastructure, internal process, maybe more?) that should not have their implementation details in the open. and should instead be work items in Azure DevOps, along with a tracking link in GitHub for work track

[2022-03-07 18:12] riarenas commented on #8526
https://github.com/dotnet/arcade/issues/8567

[2022-03-07 18:31] MattGal opened #8568 "Improve performance of "purge" operation in Helix.Admin.CommandLine tool"
The tool described [here](https://github.com/dotnet/core-eng/wiki/%5BFR-Operations%5D---Purging-a-Helix-Queue) (Helix Admin command line)  is kind of slow, and as such when purging Helix queues that have been overly backed up, people do incorrect things not wanting to wait.

We should make the tool use batching to increase its throughput, so that people don't use alternate methods that cause troub

[2022-03-07 18:33] adiaaida commented on #8526
Thank you! Added to my epic!

[2022-03-07 21:59] ericstj commented on #2929
Closing since we've eliminated the use of this feature and don't intend to develop it further.

[2022-03-07 21:59] #2929 closed

[2022-03-07 22:03] ericstj commented on #4010
We've eliminated the use of the package index.

[2022-03-07 22:03] #4010 closed

[2022-03-07 22:26] adiaaida commented on #8567
I am going to model the structure of this after the BuildAnalysisProcessor, using the storage queue azdo service hooks, since we don't really need it to be exactly in real time.

[2022-03-08 17:08] #8175 closed

[2022-03-08 18:48] NikolaMilosavljevic commented on #8352
@AraHaan, the change in your PR is straightforward. Have you tried building dotnet/runtime installers to confirm that there are no regressions?

I've added myself as PR reviewer.

[2022-03-08 19:49] AraHaan commented on #8352
I have not yet found out how to use it against dotnet/runtime locally with the local package build of this.

[2022-03-08 21:15] NikolaMilosavljevic commented on #8352
It would be the same way you tested your installers.

If your local Arcade repo is in `d:\git\arcade` you can use the following command to tell the build to use local changes instead of the downloaded package:

`set MicrosoftDotNetBuildTasksInstallersMSBuildDir=d:\git\arcade\src\Microsoft.DotNet.Build.Tasks.Installers\build\`

[2022-03-08 22:42] AraHaan commented on #8352
Ah, thanks

[2022-03-08 23:11] missymessa opened #8572 "Create second check run for Build Analysis Result UX voting"
We got a mock-up of the Build Analysis Result feature from DanM and we should implement it as a second check run in the app and get feedback from users about which they like more.

[2022-03-08 23:48] dagood opened #8573 "CreateAkaMSLinks and DeleteAkaMSLinks MSBuild tasks have incorrect UsingTask elements in the props file"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

https://github.com/dotnet/arcade/blob/d2df2273956741c375bf14053c1ad47f3f27457c/src/Microsoft.DotNet.Deployment.Tasks.Links/src/CreateAkaMSLinks.cs#L16

https://github.com/dotnet/arcade/blob/d2df2273956741c375bf14053c1ad47f3f27457c/src/Microsoft.DotNet.Deployment.Tasks.Links/build/Microsoft.DotNet.Deployment.Tasks.Links.pro

[2022-03-09 01:23] ChadNedzlek opened #8576 "Lock all package versions in *-services repositories"
I just spent several days tracking down a random package upgrade because of dependencies. It happened because a chain of indirect dependencies caused the version of System.Text.Json to float all the way to 6.0.1.

This happens because the "default" version reference in PackageReferences is "lower inclusive, unbounded upper", so "3.0.1" is allowed to "float" all the way to "6.0.1" which broke the b

[2022-03-09 07:27] AraHaan commented on #8352
Building with it now. It *should* work however because I did test it without it being set manually on my codebase, and then after that with it set.

[2022-03-09 10:49] Haplois commented on #8549
For dotnet-test-templates, we updated arcade, and sbom is generated as part of our pipeline.

[2022-03-09 16:33] premun commented on #8549
@epananth `dotnet-xharness` should be handled by our team

[2022-03-09 16:39] riarenas opened #8579 "[Maestro++] Investigate validaton failed errors"
- [ ] This issue is blocking
- [ ] This issue is causing unreasonable pain

We've been getting some errors during dependency updates where the only error we see is "validation failed". We should understand which validation it's talking about, and see if we can improve the error message so they are more actionable.

Some examples:
https://github.com/dotnet/core-eng/issues/15706
https://github.com/d

[2022-03-09 17:37] BrennanConroy commented on #8549
SignalR/SignalR done

[2022-03-09 17:48] AraHaan commented on #8352
Yep, I have verified that dotnet/runtime still works with the changes.

[2022-03-09 17:58] epananth commented on #8549
thank you !

[2022-03-09 17:59] epananth commented on #8549
okay, will change owner. It is validated..

[2022-03-09 18:15] epananth opened #8580 "donet/roslyn-debug is not able to publish to darc"
### Build

Pipelines - Run 20220308.1 logs (azure.com)

### Build leg reported

Publish using darc

### Error message

The engineering services team will fill in the error message using [known issues guidance](https://github.com/dotnet/arcade/blob/main/Documentation/Projects/Build%20Analysis/KnownIssues.md#how-to-fill-out-a-known-issue-error-message-section).

[code]
D:\a\1\s\.dotnet\sdk\6.0.100-r

[2022-03-09 18:16] epananth commented on #8580
cc: @tmat

[2022-03-09 18:27] riarenas commented on #8580
This.... looks like a transient nuget feed failure. Did you try a retry? I queued it again.

[2022-03-09 18:28] riarenas commented on #8580
Actually, this looks like a repo error. https://pkgs.dev.azure.com/_packaging/roslyn-debug/nuget/v3/index.json doesn't seem to ve a valid feed. Why is it trying to access that?

[2022-03-09 18:30] riarenas commented on #8580
Ah, the feed is [https://pkgs.dev.azure.com/dnceng/internal/_packaging/roslyn-debug/nuget/v3/index.json](https://pkgs.dev.azure.com/dnceng/internal/_packaging/roslyn-debug/nuget/v3/index.json.). Still unsure why it's being accessed at all.

[2022-03-09 18:31] riarenas commented on #8580
(also, I don't think this is how these issues are supposed to be used) @AlitzelMendez @ulisesh ?

[2022-03-09 18:48] riarenas commented on #8580
I didn't see you had assigned yourself to this @epananth. I'll let you investigate. I think it's related to the fact that this repo is only using a single private feed in their nuget.config: https://dev.azure.com/dnceng/internal/_git/dotnet-roslyn-debug?version=GBmain&path=/NuGet.Config which is not being authenticated against during the publishing, but darc doesn't need that feed at all.

[2022-03-09 18:56] AlitzelMendez commented on #8580
this is not the way they should be used, and this is the documentation on how they should be used: [KnownIssues](https://github.com/dotnet/arcade/blob/main/Documentation/Projects/Build%20Analysis/KnownIssues.md)

Also, this template is new and it's a great moment to review the information available like title and description because it seems that it was misleading :)

[2022-03-09 19:20] epananth commented on #8580
@riarenas okay will do :)

@AlitzelMendez sorry just picked the first one..

[2022-03-09 22:17] missymessa opened #8584 "Helix Admin: Add command to enable/disable specific machines in a queue"
On FR, we need to enable/disable specific machines in on-prem queues. Having this as a command in the [Helix Admin](https://dnceng.visualstudio.com/internal/_git/dotnet-helix-service?path=/src/helix-admin-cli) tool should make it a lot easier to do.

This command should do the following:
- [ ] Authenticate the user
- [ ] Use the /api/machines/{queueId}/{machineName}/state endpoint to disable/enabl

[2022-03-09 22:18] missymessa commented on #8584
/cc @ChadNedzlek

[2022-03-09 22:36] missymessa opened #8585 "Update helix.dot.net queue names to be consistently cased with what's in the OSOB Inventory table"
Queue names are inconsistently cased on the helix.dot.net site (e.g. Windows.10.Amd64.Pixel.Perf) with what's in the OSOB Inventory table (e.g. windows.10.amd64.pixel.perf), which causes confusion when trying to work with those queues and our APIs reject our commands for unknown reasons.