[2018-10-09 14:50] markwilkie commented on #447
@JohnTortugo - next steps Cesar?

[2018-10-09 14:50] markwilkie commented on #461
don't think there's anything for us to do here.

[2018-10-09 14:50] #461 closed

[2018-10-09 14:51] markwilkie commented on #889
@mikem8361 - anything more to do here do you think?

[2018-10-09 14:53] #72 closed

[2018-10-09 15:02] akoeplinger commented on #487
Nope, 1.0.0-prerelease-63213-02 is still on the feed and considered the latest package.

[2018-10-09 15:08] markwilkie commented on #5
I'm going to let @weshaggard make then call regarding buildtools

[2018-10-09 15:08] #5 closed

[2018-10-09 15:09] markwilkie commented on #32
Looks like the items that should be tracked are being tracked.  Closing

[2018-10-09 15:09] #32 closed

[2018-10-09 15:11] markwilkie commented on #47
@weshaggard - anything more actionable here?

[2018-10-09 15:11] markwilkie commented on #59
tracking with #393

[2018-10-09 15:11] #59 closed

[2018-10-09 15:15] markwilkie commented on #77
closing until there's a scenario

[2018-10-09 15:15] #77 closed

[2018-10-09 15:15] markwilkie commented on #99
@maririos - what would you like done w/ this issue?

[2018-10-09 15:16] markwilkie commented on #105
closing due to low priority

[2018-10-09 15:16] #105 closed

[2018-10-09 15:17] markwilkie commented on #117
Closing until there's more demand

[2018-10-09 15:17] #117 closed

[2018-10-09 15:18] markwilkie commented on #136
@tmat - any update on this?

[2018-10-09 15:19] markwilkie commented on #138
Currently being tracked in its own epic #947

[2018-10-09 15:19] #138 closed

[2018-10-09 15:21] markwilkie commented on #173
Tracked in #167

[2018-10-09 15:28] markwilkie commented on #426
Tracking under #414

[2018-10-09 15:28] #426 closed

[2018-10-09 15:28] markwilkie commented on #460
Handled under the signtool epic

[2018-10-09 15:28] #460 closed

[2018-10-09 15:29] #46 closed

[2018-10-09 15:37] tmat commented on #309
I think so.

[2018-10-09 15:40] tmat commented on #99
@markwilkie Some work is in progress in VS. This will take a while to complete.

[2018-10-09 15:40] weshaggard commented on #337
Let me sit on this until I get corefx actually using the versioning from Arcade and then I'll take action on it or close it.

[2018-10-09 15:41] tmat commented on #136
It's not needed anymore.

[2018-10-09 15:41] #136 closed

[2018-10-09 15:43] chcosta commented on #863
@jonfortescue , can you add some more details to this issue?  Links to where this is needed / how this is used would help.

[2018-10-09 16:00] mikem8361 commented on #889
The "architecture" option hasn't been added yet and the "dependsOn" in the base.yml hasn't been added either.

[2018-10-09 16:34] markwilkie opened #977 "Add ability to be "strict" to SignToolTask"
There should be a way to produce an error when there is a signable file which is not accounted for by the configuration

[2018-10-09 16:50] weshaggard commented on #47
Yes we need to port the AssemblyResolver we currently use in BuildTools to Arcade (https://github.com/dotnet/buildtools/blob/master/src/common/AssemblyResolver.cs) it is general purpose and we are going to need it for all the build tasks we use in arcade.

[2018-10-09 16:53] maririos commented on #99
We actually have the `dotnet/optimization` repo where we have the training scenarios for CoreCLR and CoreFX, but the idea is to keep building on top of that.

@tmat with recent reorg we now have perf champs for .NET. Contacts are @brianrob @billwert

FYI @adiaaida @DrewScoggins @shawnro

[2018-10-09 17:00] #226 closed

[2018-10-09 17:06] livarcocc commented on #647
Issue moved to [dotnet/cli #10129](https://github.com/dotnet/cli/issues/10129) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 17:06] #647 closed

[2018-10-09 17:07] billwert commented on #99
@tmat is this about PGO (C++ compiler) or IBC (managed optimization) or both?

[2018-10-09 17:09] #652 closed

[2018-10-09 17:09] livarcocc commented on #652
Issue moved to [dotnet/cli #10130](https://github.com/dotnet/cli/issues/10130) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 17:12] jonfortescue commented on #863
@chcosta Hopefully that helps!

[2018-10-09 17:15] chcosta commented on #863
That's generally useful.  I'm more interested in where it's actually being used in the ToF infra, who the people that care are, and where else the task is being used so that whoever is doing the port can make an informed design decision if they decide they need / want to change anything.

[2018-10-09 17:20] jonfortescue commented on #863
@trylek can probably add more context on that.

[2018-10-09 17:22] tmat commented on #99
@billwert IBC.

Training for Core CLR and Core FX is not good enough. Roslyn and some CoreFX assemblies (System.Reflection.Metadata and System.Collections.Immutable) need to be trained for Visual Studio scenarios.

The biggest problem right now is that the training data are embedded into the assemblies as resources. That means a single assembly can't use different training data in different scenar

[2018-10-09 17:33] weshaggard commented on #71
I have part of this covered and I will try to write up the strategy as part of closing this issue. We probably still need to decide if we want to unify the parameter parsing between the ps1 and sh scripts however. Currently they are different then what is outlined in the proposal above.

[2018-10-09 17:36] weshaggard commented on #143
As far as I'm aware this scenario isn't covered by anything yet. For corefx we only run our release builds nightly but would like to setup a trigger to run a debug build once a week but to do that we need some way to set a trigger with a custom property getting set. As far as I can tell VSTS doesn't offer that option.

[2018-10-09 17:37] weshaggard commented on #393
@markwilkie the decision was made but I think it is worth documenting and doing a pass over the projects to make sure we are consistent.

[2018-10-09 17:42] brianrob commented on #99
I read two different requests in this issue:

1. An automated workflow for generating data.
2. The ability to use different data for different scenarios.

I believe that both of these can be done with technologies that already exist, but it would be good to make sure I'm not missing any details.

As @maririos points out above, we have the dotnet/optimization repo which implements the training infr

[2018-10-09 17:48] tmat commented on #393
We first need to make sure all Jenkins jobs are running on machine with 4.7.2.

[2018-10-09 17:52] markwilkie commented on #393
@Wes, oops, forgot to add the doc link I filed.  https://github.com/dotnet/arcade/issues/976

@tmat, are you suggesting Jenkins target 4.7.2 before coming over?

[2018-10-09 17:53] markwilkie commented on #933
@jonfortescue - What's next here to get this out of the "breakdown" lane?

[2018-10-09 17:59] markwilkie commented on #61
@Chrisboh - I think this might be accomplished with OS Onboarding plus policy.  Thoughts?

[2018-10-09 18:00] markwilkie commented on #62
We now have a standard "feed" (blob storage) for all of our bootstrapped tools

[2018-10-09 18:00] #62 closed

[2018-10-09 18:00] jonfortescue commented on #933
Sorry, this is broken down now! Closing.

[2018-10-09 18:00] #933 closed

[2018-10-09 18:02] markwilkie commented on #100
Sorted as part of the bootstrapping work with standardized blob "feed" locations

[2018-10-09 18:02] markwilkie commented on #112
Completed as part of the bootstrapping work

[2018-10-09 18:02] #112 closed

[2018-10-09 18:04] markwilkie commented on #140
@Chrisboh - What do you think about telemetry stuff?

[2018-10-09 18:05] markwilkie commented on #149
Handled as part of the bootstrapping work

[2018-10-09 18:05] #149 closed

[2018-10-09 18:08] tmat commented on #393
Yes, we still need to be able to run all Arcade build tasks on Jenkins.

[2018-10-09 18:08] markwilkie commented on #151
@weshaggard, @tmat, @livarcocc, and @natemcmaster - thoughts on what's left for CLI bootstrapping?

[2018-10-09 18:08] jkotas commented on #99
Desktop CLR does not support this. (This support can be enabled by undocumented unsupported environment variable. The environment does not kick in when the compilation happens in the background, so it is not really usable for this.)

[2018-10-09 18:10] natemcmaster commented on #151
I haven't looked at what's currently being done.

[2018-10-09 18:11] tmat commented on #99
@jkotas Thanks for checking. Then we need to go with option [2].

[2018-10-09 18:29] #900 closed

[2018-10-09 18:32] livarcocc commented on #653
Issue moved to [dotnet/cli #10132](https://github.com/dotnet/cli/issues/10132) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:32] #653 closed

[2018-10-09 18:32] #654 closed

[2018-10-09 18:32] livarcocc commented on #654
Issue moved to [dotnet/cli #10133](https://github.com/dotnet/cli/issues/10133) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:32] livarcocc commented on #655
Issue moved to [dotnet/cli #10134](https://github.com/dotnet/cli/issues/10134) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:32] #655 closed

[2018-10-09 18:35] #693 closed

[2018-10-09 18:35] livarcocc commented on #693
Issue moved to [dotnet/cli #10135](https://github.com/dotnet/cli/issues/10135) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:35] #694 closed

[2018-10-09 18:35] livarcocc commented on #694
Issue moved to [dotnet/cli #10136](https://github.com/dotnet/cli/issues/10136) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:35] #695 closed

[2018-10-09 18:35] livarcocc commented on #695
Issue moved to [dotnet/cli #10137](https://github.com/dotnet/cli/issues/10137) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:35] livarcocc commented on #696
Issue moved to [dotnet/cli #10138](https://github.com/dotnet/cli/issues/10138) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:35] #696 closed

[2018-10-09 18:36] #733 closed

[2018-10-09 18:36] livarcocc commented on #733
Issue moved to [dotnet/cli #10139](https://github.com/dotnet/cli/issues/10139) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:36] #738 closed

[2018-10-09 18:36] livarcocc commented on #738
Issue moved to [dotnet/cli #10140](https://github.com/dotnet/cli/issues/10140) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-09 18:47] livarcocc commented on #151
Is there an ask for the CLI team here? Setting the install script variable to the value of the NETENG variable seems reasonable to me.

[2018-10-09 18:59] JohnTortugo commented on #309
I see that we [still have a few](https://github.com/dotnet/arcade/search?q=OfficialBuild+%3D%3D+true&unscoped_q=OfficialBuild+%3D%3D+true) `OfficialBuild == true` checks.

Also the `CIBuild` parameter is [still there](https://github.com/dotnet/arcade/search?q=CIBuild&unscoped_q=CIBuild).

Do we still want to do these refactorings ?

[2018-10-09 19:05] shawnro commented on #61
I think this was native bootstrapping, wasn't it?

[2018-10-09 19:08] JohnTortugo commented on #377
It's not yet :-/ . I'll see to take a look on it when I've some "spare" time from higher priority issues.

[2018-10-09 19:10] JohnTortugo commented on #447
I'll try and write a proposal and put it here so we can get some tracking (+discuss) if we really need this and how should we approach it.

[2018-10-09 19:13] dleeapho commented on #61
This should be OS Onboarding from the infra side but originally it was conceived to encompass the contributor-dev experience. Not bootstrapping but toolset policy.

[2018-10-09 19:51] tmat commented on #309
We decided to keep using `OfficialBuild` bool for readability.

`/p:CIBuild=$ci` can be removed now.

[2018-10-09 20:11] weshaggard commented on #309
As part of this can we also add some documentation noting that ContinuousIntegrationBuild doesn't imply PR validation but is set for any builds that aren't done locally. This includes both PR validation builds as well as our official builds. OfficialBuildId/OfficialBuild will additionally be set for official builds that can help distinguish them from PR validation.

[2018-10-09 20:20] markwilkie opened #979 "Publishing package functional for preview"
It's a bit unclear what exactly is truly needed for preview 2.  However, I've "seeded" the epic with the leftover open issues from the prior epic.

- [x] All Tier I repos have onboarded the publishing package and it works for them.

[2018-10-09 20:31] JohnTortugo commented on #887
Aborting the work on this.

[2018-10-09 20:31] #887 closed

[2018-10-09 20:37] markwilkie commented on #806
It's probably best to let the dev manage their own environment.  For official builds or CI, I would expect the image management to take care of this.  However, feel free to reopen as appropriate.

[2018-10-09 20:38] markwilkie commented on #841
@alexperovich - wondering if you ended up fixing this already.

[2018-10-09 20:40] markwilkie commented on #908
@chcosta - is there still more to do here?

[2018-10-09 20:42] markwilkie commented on #912
@dleeapho - is this something your team is looking into?

[2018-10-09 20:42] tmat commented on #806
The build script already has logic to locate VS 2017. We should update the logic and make it work for VS 2019 as well. See https://github.com/dotnet/arcade/blob/master/eng/common/init-tools.ps1#L69

[2018-10-09 20:44] markwilkie commented on #61
Yea to @dleeapho point, the bootstrapping stuff currently works, but we don't yet have policy in place to be consistent across the repos.  Adding this to guidance...

[2018-10-09 20:44] JohnTortugo commented on #977
My plan to approach this is:

0. Add new `toggle` parameter to set the strict mode: `StrictSigningInfo`
1. Make the SignTool know what is a "signable file" without depending on configuration. I'll basically create a static list with the known [signable file extensions](https://microsoft.sharepoint.com/teams/codesigninfo/Wiki/Signable%20Files.aspx).
2. If SignTool encounters a file that is signable

[2018-10-09 20:47] markwilkie commented on #151
Ok, moving this to the guidance epic such that we're telling teams the right way to think about this.

[2018-10-09 20:49] markwilkie commented on #161
@Chrisboh - this isn't really Arcade.  Extended FR??  Thoughts on what to do w/ it?

[2018-10-09 20:50] markwilkie commented on #172
Between the stabilized builds, publishing package, and BAR+Darc, I think this is covered.

[2018-10-09 20:50] #172 closed

[2018-10-09 20:50] alexperovich commented on #841
1 should be done with my change.
2 I haven't done but it is trivial, though we would need some way to know what users to tag
3 Is already done IIRC. The merge status should list out the failed legs.
4 Making the branch in a fork is not-trivial. I haven't explored anything in this directory
5 I have updated the commit messages to be good as part of my changes. This is an example PR: https://github.

[2018-10-09 20:50] Chrisboh commented on #161
I dont have a great handle on our mirrors.  Why don't we move this into core-eng and discuss in Triage?

[2018-10-09 20:51] markwilkie commented on #405
Yes, this is the intended at least back to 2.x.  The plan is to let 1.x go to end of life though...

[2018-10-09 20:52] markwilkie commented on #421
Closing in favor of https://github.com/dotnet/core-eng/issues/3594

[2018-10-09 20:52] #421 closed

[2018-10-09 20:53] markwilkie commented on #609
@Chrisboh - Which MC epic should I attach this to?

[2018-10-09 20:53] Chrisboh commented on #61
The comments seem to focus around cmake, which I think we want to bootstrap, is there more to this than that?

[2018-10-09 20:54] markwilkie commented on #806
Thanks @tmat

[2018-10-09 20:56] markwilkie commented on #61
@Chrisboh - yes, this gets to not have multiple versions of the same tool when not necessary.  I've added it to the guidance epic as we need to provide guidance (and maybe even some checks)

[2018-10-09 20:58] markwilkie commented on #161
Moved - thanks.

[2018-10-09 20:58] #161 closed

[2018-10-09 21:00] Chrisboh commented on #609
Give me a bit as I am working on getting the correct epics written up today.

[2018-10-09 21:06] danmosemsft commented on #683
@chcosta are we missing a checkbox here for publishing from corefx?

cc @weshaggard

[2018-10-09 21:11] tmat commented on #977
This is not needed. The tool already reports error if a signable file is not signed.

[2018-10-09 21:15] chcosta commented on #908
This is largely addressed by (2) https://github.com/dotnet/arcade/pull/924,  (3) https://github.com/dotnet/arcade/pull/971, and (3) https://github.com/dotnet/arcade-minimalci-sample/commit/72a13b7f6436129f8a48f774b657a58407aee57e.

(1) still needs to be addressed.  I'll try to get to it this week.

[2018-10-09 21:16] jonfortescue commented on #908
Thanks @chcosta!

[2018-10-09 21:16] markwilkie commented on #977
@natemcmaster - is your scenario addressed?  (I suspect not)

[2018-10-09 21:17] dleeapho commented on #912
I'm not immediately looking at this but it is my intent that we do so at some point. Thoughts @rakeshsinghranchi ?

[2018-10-09 21:19] markwilkie commented on #912
@dleeapho - should this issue stay in Arcade or move to another repo?

[2018-10-09 21:20] JohnTortugo commented on #977
You mean the check on VerifyAfterSign? Right now, that is only for .PE files and I think it might take some work until we get all files covered.

[2018-10-09 21:21] jonfortescue commented on #933
Specifically, this was broken out into #932, #934, and #907.

[2018-10-09 21:31] markwilkie commented on #977
To clarify - my understanding is that if a file is explicitly listed, but somehow does not end up getting signed, the tool will throw an error.  Correct?

Assuming this is the case, @natemcmaster - is this sufficient?

[2018-10-09 21:36] trylek commented on #863
@chcosta I think the problem has two aspects - correctness and performance. The DownloadFile API I found in today Arcade SDK that seems to be a loose equivalent of BuildTools "DownloadFromAzure" constructs a new instance of HttpClient for each file download. AFAIK this is not recommended and we hit issues in our ToF infra where some instances of the DownloadFromAzure task were intermittently faili

[2018-10-09 21:37] rakeshsinghranchi commented on #912
Issue is in core-setup : https://github.com/dotnet/core-setup/issues/3718  . This can be moved and prioritized.

[2018-10-09 21:43] JohnTortugo commented on #977
I was double checking this here. That will happen **only if** 1) the file is a PE file or 2) has its extension configured in the `FileExtensionSignInfo`.

If I try to sign something like `foo.py` (**for instance**) currently the tool will just log that it didn't find signing information for the file. However, we can work around that by:

1. configuring the .py extension on `FileExtensionSignInfo`

[2018-10-09 21:44] tmat commented on #977
@JohnTortugo Let's just focus on PE files for now. We know we need to handle other files. Let's do that separately.

[2018-10-09 21:48] tmat commented on #977
@markwilkie Yes. More precisely, we take the set of all files that are in `ItemsToSign`. All these files and every file these files contain (if they are zip/nuget/vsix files) are expected to be signed. If any of these files are not signed at the end we report an error (unless their certificate is explicitly set to `None` [1]) .

Therefore, if repo clears `FileExtensionSignInfo` then the list in `F

[2018-10-09 21:50] markwilkie commented on #977
@tmat - that sounds right I think.  @natemcmaster - can you confirm please?

[2018-10-09 21:50] JohnTortugo commented on #977
Will the be sufficient for initial onboarding @natemcmaster ?

[2018-10-09 22:12] brianrob commented on #99
Instead of option [2], I think that we should figure out how to ship the binaries out of CoreFX with the proper set of optimization data.  This is an issue for all assemblies that can be used against the desktop framework and against .NET Core, and so if we can solve this at the CoreFX level then it gets solved for all of them, not just the ones that get inserted into VS.

[2018-10-09 22:21] Chrisboh commented on #609
@markwilkie does this need to live in arcade or can i move this issue to core-eng?

[2018-10-09 22:42] tmat commented on #99
@brianrob I don't think that's actually desirable. We need to train these assemblies with VS specific scenarios. We might actually want to optimize these for 2 different sets of scenarios and produce two different binaries - one for compiler server and the other for the IDE. Instead of merging all training data together.

[2018-10-09 22:50] JohnTortugo opened #981 "Review SignTool documentation"
After the many recent changes on the tool some pieces of the documentation got outdated. We need to:

1) fix the outdated information and
2) I'm also planning on adding some more configuration examples.

[2018-10-09 22:51] #916 closed

[2018-10-09 22:54] mikem8361 commented on #916
@JohnTortugo can you let me know what the version of the new signtool package is or what version of the arcade SDK the new signtool will be in.  Thanks.

[2018-10-09 23:06] JohnTortugo commented on #916
Yeap, I'll send it to you.

[2018-10-09 23:13] #886 closed

[2018-10-09 23:16] brianrob commented on #99
Have we shown that this makes a material difference vs. merging the data?  Doing something like this means that you effectively have two binaries and that the test cost for such a thing doubles.

I can see why you'd want to have different data for binaries that target different platforms, but targeting different scenarios on the same platform with different data is effectively building two separat

[2018-10-09 23:17] JohnTortugo commented on #941
Closing this as we now support nested .zip files. Also, postponing the work for other containers to when the need show up - should be straight forward to implement it in the way that we did for .zip.

[2018-10-09 23:17] #941 closed

[2018-10-09 23:20] JohnTortugo commented on #506
Seems like we can cover that scenario with what we currently have. I'll close this issue for now but I've the feeling that we might eventually need to talk about the original issue ..

[2018-10-09 23:48] JohnTortugo opened #983 "Update Arcade SDK with latest SignTool version"
- [x] Add certificate descriptors to Sign.proj
- [ ] Update DefaultVersion.props to use latest SignToolTask

[2018-10-10 00:02] tmat commented on #99
@brianrob Having 2 different training data sets for VS is just an option we might want to explore.

What we definitely need is a process within VS build that automatically produces training data for Core FX binaries we insert into VS. We can't depend on Core FX build to embed IBC data that we produce in VS build. That's too complicated. We also can't take Core FX binaries with IBC data that do not

[2018-10-10 00:06] tmat commented on #99
Re testing cost: I don't think the testing cost doubles. The IL of the binaries is the same, so we can assume that all unit tests will produce the same results, modulo NGEN bugs. The likelyhood of hitting an NGEN bugs is pretty low compared to all other bugs in VS :). And we would still run our integration and manual tests on the real assemblies.

[2018-10-10 00:36] #983 closed

[2018-10-10 15:16] tmat commented on #977
@JohnTortugo
Just realized - once we have the static list of signable extensions we can add a simple check (always, no toggle) [here](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/Configuration.cs#L203) and report an error if certificate is not assigned to a file whose extension is signable. We should also remove the warning for non-signable files. It adds no value

[2018-10-10 15:49] natemcmaster commented on #977
My scenario does not appear to be covered by version 1.0.0-beta.18507.1 of the tool. If I give sign tool task a .nupkg which contains a .dll, but there isn't any certificate info found for that .dll, I would like an error.

Repro:
If I pass in just the .nupkg, I would expect an error in "strict mode" because this package contains "lib/netstandard2.0/Microsoft.Extensions.ObjectPool.dll".
[code]

![

[2018-10-10 16:01] natemcmaster opened #986 "SignTool doesn't find certificate info for .nupkg files"
Sign tool does not appear to find certificate info for .nupkg files.

## Repro

Using Microsoft,DotNet,SignTool 1.0.0-beta.18507.1, pass in parameters like this:
[code]

## Expected

Microsoft.Extensions.ObjectPool.2.2.0-preview3-t000.nupkg should be signed with the "NuGet" certificate

## Actual

The logs show that the .nupkg won't be signed. The task reports success without issuing a warning or

[2018-10-10 16:03] ericstj opened #987 "Arcade fails to build user-wide feeds have same key and are disabled"
1. Create feeds in package manager settings named the same as https://github.com/dotnet/arcade/blob/f72dba1b9b94e1d8f03cbb30fc666ee2b187056c/NuGet.Config#L9-L10
2. Disable one of those feeds in settings.
3. run build.cmd (from a clean repo)

Expect: build succeeds and is isolated from user settings
Actual: build fails to restore

We should probably name the keys for feeds in the nuget.config with

[2018-10-10 16:36] tmat commented on #977
Remove .dll from FileExtensionSignInfo

[2018-10-10 16:41] tmat commented on #986
Try setting `FileExtensionSignInfo` to "".  As it is specified it means all the listed extensions have no certificate. There is still a bug in the tool - this should have been overridden by `FileSignInfo` entry.

[2018-10-10 16:42] tmat commented on #986
@JohnTortugo Turns out we do not look up `FileSignInfo` for non-PE files currently :-|.
This should be done for non-PE files as well: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/Configuration.cs#L175

[2018-10-10 16:47] tmat commented on #987
We only use nuget.config because of https://github.com/Microsoft/msbuild/issues/2982.

The feeds should be specified in https://github.com/dotnet/arcade/blob/master/eng/Versions.props#L55.

It's unclear to me how NuGet is supposed to work at this point. Seems like it is not possible today to isolate repo from NuGet.config settings outside of it :(.

[2018-10-10 16:56] natemcmaster commented on #977
Removing FileExtensionSignInfo doesn't help. I get a warning, but no error or warning about the .dll inside. This might be conflated with https://github.com/dotnet/arcade/issues/986

![image](https://user-images.githubusercontent.com/2696087/46752645-a0264200-cc72-11e8-88c0-be45ce932ad8.png)

[2018-10-10 16:58] natemcmaster commented on #986
Removing `FileExtensionSignInfo` produces a warning, but it doesn't appear signing happens:

![image](https://user-images.githubusercontent.com/2696087/46752843-10cd5e80-cc73-11e8-88da-c15eb0c73b98.png)

[2018-10-10 17:00] tmat commented on #977
Yes, we currently only report a warning. The [proposal](https://github.com/dotnet/arcade/issues/977#issuecomment-428613220) is to report an error instead for all signable files.
You can run with `/warnaserror` for now.

[2018-10-10 17:01] tmat commented on #977
Oh, I see it's not warning for the dll. Hmm...

[2018-10-10 17:03] tmat commented on #977
I can't see from [the source code](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.SignTool/src/Configuration.cs#L143) why this doesn't work.

[2018-10-10 17:05] natemcmaster commented on #506
I'm working around this with an MSBuild transform:

[code]

[2018-10-10 17:07] natemcmaster commented on #977
We can't use `/warnaserror` because we haven't addressed all MSBuild warnings in our build system yet, and this warning doesn't have an error code on it (so we can't scope to `/warnaserror:CODE`.

[2018-10-10 17:13] tmat commented on #977
This should be easy to fix in the sign tool. @JohnTortugo are you working on it now?

[2018-10-10 17:55] JohnTortugo commented on #977
Yeap, I'm on it.

[2018-10-10 18:40] tmat commented on #987
No, the generated project does not use the props file.

The problem is that there is currently no way to specify feed for imported SDK, other than nuget.config.

[2018-10-10 20:12] #986 closed

[2018-10-10 20:13] JohnTortugo commented on #977
I'm working on this now.

[2018-10-10 20:33] brianrob commented on #99
@tmat, before we get too far into the implementation details, I'd like to re-ask one of my questions from above.  Do we have data that shows that we'll see a material difference when separating data for the targeted Roslyn scenarios vs. merging all of the data together and applying to just one copy of the binaries?  Also, assuming that we do see a difference, how much of a difference do we see?  W

[2018-10-10 20:39] JohnTortugo commented on #958
Agree. I think that once we add a validation step to the build and merge [this change](https://github.com/dotnet/arcade/pull/993) we might not need to work on this issue.

@tmat

[2018-10-10 20:40] tmat commented on #99
@brianrob Feel free to s+ a meeting. I think it would be better discussed F2F

[2018-10-10 21:18] weshaggard commented on #506
We could very easily have support for this in the sdk.

[2018-10-10 21:26] JohnTortugo opened #994 "Reach out to Jacques Eloff to sync about Signing Validation"
Talk to Jacques Eloff to see if we can make use in Arcade the signing validation tool that he created.

Cc @markwilkie

[2018-10-10 21:26] #994 closed, assigned to JohnTortugo

[2018-10-10 21:45] mmitche opened #997 "[Darc] Add dependency should fail if dependency already exists."
If a dependency already exists, darc adds it anyway, which doesn't make much sense.

[2018-10-10 22:07] tmat commented on #506
The workaround shouldn't be necessary once we fix a couple of bugs in the current impl

[2018-10-10 22:08] markwilkie commented on #41
looks to no longer be an issue  @chcosta to verify I'm not closing in error

[2018-10-10 22:08] #41 closed

[2018-10-10 22:08] mmitche opened #998 "[Darc] Add validation of Versions.props and Version.Details.xml, global.json, etc."
Add a `validation` command and and utility in DarcLib to ensure that:
- Version.details.xml
- Versions.props
- global.json

Are correct. E.g. anything in version.details.xml should be in Versions.props/global.json, and versions should be synced up.

[2018-10-10 22:10] markwilkie commented on #53
It'd be good to be opportunistic here.  (not blocking though)

[2018-10-10 22:12] markwilkie commented on #64
Moving out beyond preview

[2018-10-10 22:14] markwilkie commented on #67
Has beens sorted

[2018-10-10 22:14] #67 closed

[2018-10-10 22:15] tmat opened #1000 "MicroBuild signing tasks need to be ported to .Net Core"
Even when we can build our repos using .NET Core, we still have a dependency on Visual Studio for signing.

[2018-10-10 22:15] markwilkie commented on #107
Pushing out beyond preview

[2018-10-10 22:16] markwilkie commented on #124
Follow up with Alex as this was being poked on already

[2018-10-10 22:17] tmat commented on #64
Signing: https://github.com/dotnet/arcade/issues/1000

[2018-10-10 22:18] markwilkie commented on #143
@chcosta - please follow up w/ Azure DevOps.  (not required for preview)

[2018-10-10 22:19] markwilkie commented on #191
Pushing out beyond preview

[2018-10-10 22:19] mmitche opened #1001 "[darc/maestro++] Add operation should be able to pull the latest version from the BAR"
Getting repo/sha and version of an item is annoying when adding a dependency.  `add` should be able to find the latest of a specific dependency.

[2018-10-10 22:20] markwilkie commented on #338
@weshaggard will likely end up implementing

[2018-10-10 22:21] markwilkie commented on #389
@wes took a different approach and this issue can be closed.

[2018-10-10 22:21] #389 closed

[2018-10-10 22:27] markwilkie commented on #833
@jonfortescue - perhaps you made some forward progress here because of python?

[2018-10-10 22:32] jonfortescue commented on #833
I didn't stick it in the common library, but just created a generic `install-tool.ps1` that does this. So, yes?

[2018-10-10 22:51] markwilkie opened #1002 "Arcade sufficient to ship GA"
These are the final items required from Arcade to be complete.   Once #975 is complete, we'll know what's needed for this epic.

- [ ] Arcade SDK sufficient to ship for Go Live
- [ ] Arcade SDK is reasonable to use to ship Go Live (no eye rolls from devs)

# Recently Triaged Issues

All issues in this section should be triaged by the v-team into one of their business objectives or features.

- [ ]

[2018-10-10 23:05] chcosta commented on #41
Confirmed, I don't see this anymore.

[2018-10-10 23:07] markwilkie commented on #833
Cool - @riarenas, thoughts on putting this into the common library?

[2018-10-10 23:30] chcosta commented on #143
Ongoing discussion - https://github.com/Microsoft/azure-pipelines-agent/pull/1383/files

[2018-10-11 00:39] weshaggard opened #1003 "eng/common directory not deleting files"
While looking at something in corefx I noticed there are a number of files under eng/common in corefx that aren't in arcade/eng/common. Shouldn't the script update delete these?

See https://github.com/dotnet/corefx/blob/master/eng/common/PushBuildAssets.cmd as an example.

[2018-10-11 00:58] weshaggard commented on #506
Are we tracking those bugs in other issues? What would the code look like once those are fixed?

[2018-10-11 01:04] tmat commented on #506
Yes, they are tracked.

The file would look like so:
[code]

Assuming all packges to sign are under `$(ArtifactsPackagesDir)`. If there are files that are expected to be signed in another directory then also add:
[code]

[2018-10-11 15:43] weshaggard commented on #506
For completeness can you link to the tracking issue? The closest issue I could find is https://github.com/dotnet/arcade/issues/977 which I think is slightly different but I could see supporting this there depending on the implementation we land on.

[2018-10-11 15:46] chcosta commented on #908
Filed https://dnceng.visualstudio.com/7ea9116e-9fac-403d-b258-b31fcf1bb293/_workitems/edit/97 to address pipeline creation experience for a dev branch

[2018-10-11 15:47] #908 closed

[2018-10-11 16:45] tmat commented on #506
Yes, that's the issue.

[2018-10-11 18:18] JohnTortugo opened #1005 "Update signtool version in the SDK"

[2018-10-11 18:33] #403 closed

[2018-10-11 19:16] JohnTortugo commented on #1000
Just wondering: isn't this something that the MicroBuild team would be willing to work on?

cc: @markwilkie

[2018-10-11 20:18] #1005 closed

[2018-10-11 20:39] JohnTortugo opened #1007 "Fix Signtool file lincense headers"
Some changes were mistakenly made to some license header files in the SignTool project. See comment here: https://github.com/dotnet/arcade/commit/495a8e7c319c64d079a6a5287e51d0fb4b96d44b#r30869933

[2018-10-11 20:52] JohnTortugo commented on #506
Looks good to close this issue @weshaggard @natemcmaster ?

[2018-10-11 21:02] natemcmaster commented on #506
It's still my opinion that three items groups is unnecessary when one would do, and that makes for confusing usage. But I have lost interest in battling @tmat on this point. So sure, feel free close.

[2018-10-11 21:12] #1007 closed

[2018-10-11 21:53] natemcmaster commented on #977
I don't think this is resolved. If anything, the behavior seems to have regressed. I just tried with 1.0.0-beta.18511.3

If I specify,

* `<FileExtensionSignInfo Include=".dll" />`
* `<FileSignInfo Include="Internal.AspNetCore.Analyzers.2.2.0-preview3-t000.nupkg" CertificateName="NuGet" />`

there is no error for .dll files which have no cert.

![image](https://user-images.githubusercontent.com/26

[2018-10-11 21:59] JohnTortugo commented on #977
@natemcmaster this should include a `CertificateName` attribute:

`<FileExtensionSignInfo Include=".dll" />`

The tool misses a validation for the certificate name in that case..

[2018-10-11 22:08] natemcmaster commented on #977
@JohnTortugo but wouldn't that mean every "*.dll" file is signed? If so, that's not an okay solution.

To clarify my scenario, I am expecting an error in the following scenario:

File inputs:
[code]

Sign tool inputs:
[code]

With these inputs, it should be an error because there is no certificate configured for `MyLib.dll`.

I believe the relationship between `FileSignInfo`, `ItemsToSign`, `Stron

[2018-10-11 22:19] JohnTortugo commented on #977
@natemcmaster I got your point. I think I missed one change in my latest PR.

The error relates to this. The tool [still checks the signable extension](https://github.com/dotnet/arcade/blob/0f209fc718e920446ac1c85ab8b8d9fab68258d6/src/Microsoft.DotNet.SignTool/src/Configuration.cs#L336) on `FileExtensionsSignInfo` which is wrong.. it should be checking accordingly with MicroBuild supports.

After

[2018-10-11 23:00] markwilkie opened #1009 "Generate SVG badge with version information"
(from @natemcmaster )

Generate an SVG badge on build that contains the package version. This can be uploaded to an Azure blob store and referenced from README.

TODO:
- [ ] Figure out how to get the value of PackageVersion. It's currently always empty when I run build.cmd
- [ ] Upload badge.svg and latest.txt (must be uploaded with `--content-cache-control="no-cache, no-store, must-revalidate")

[2018-10-11 23:01] markwilkie commented on #1009
There is currently an open question about whether to put this in as part of the build, or publish.  For now, I'm adding this issue to the 'publish' epic....

[2018-10-11 23:27] ericstj opened #1010 "GenFacades doesn't support desktop msbuild"
I'm seeing failures when running with desktop msbuild.
[code]

This is due to the targets not selecting the desktop build of the task when running on desktop:
https://github.com/dotnet/arcade/blob/0f209fc718e920446ac1c85ab8b8d9fab68258d6/src/Microsoft.DotNet.GenFacades/build/Microsoft.DotNet.GenFacades.targets#L34

These should be switching on the runtime type similar to
https://github.com/dotnet/

[2018-10-12 21:22] markwilkie commented on #1010
@ericstj - for context on the 472 decision, see #393

[2018-10-12 22:32] wtgodbe commented on #1010
https://github.com/dotnet/arcade/pull/1015 should resolve the issue

[2018-10-12 22:56] #1010 closed

[2018-10-12 22:57] #977 closed

[2018-10-13 00:06] JohnTortugo opened #1017 "SignTool, patch parameter names to be consistent across functions"
After many refactorings the name of some real arguments and actual arguments aren't matching anymore and is causing some confusion.

[2018-10-15 14:14] dagood commented on #173
That's not the case--I described the relationship between these two issues in the description of the other issue:

I'm reopening this--they're very distinct scenarios.

The release team is what needs this tooling to include as a release step to make sure both the symbol publish tooling works and the symbol server accepted the symbols. It's the build infra's responsibility to provide the correct sy

[2018-10-15 14:18] dagood commented on #405
Why was this closed, if it's intended to happen? Is it tracked somewhere else?

[2018-10-15 15:21] dagood commented on #93
The title for this issue isn't great, it goes a lot deeper than building from source:

To expand on that, it would mean building and packaging the Arcade SDK NuGet packages without access to any Arcade SDK features. This isn't necessary to build from source, it would just mean we wouldn't have to bootstrap this repo (by providing some prebuilt or N-1 packages).

Closing.

[2018-10-15 15:21] #93 closed

[2018-10-15 16:19] tmat commented on #100
This is how we solve it in Roslyn: The CI build has extra step in YAML definition that restores internal tools like IBCMerge: https://github.com/dotnet/roslyn/blob/master/.vsts-ci.yml#L29-L32.

[2018-10-15 16:32] markwilkie commented on #100
Doesn't https://github.com/dotnet/arcade/blob/master/Documentation/Projects/NativeDependencies/Design.md cover this?  If not, I'd like to understand the gap better so it can be closed.

[2018-10-15 17:54] #1017 closed

[2018-10-15 18:10] JohnTortugo commented on #506
I'll close the issue and if we find that something is blocking or should be improve we can always reopen it / create another issue. Thanks.

[2018-10-15 18:10] #506 closed

[2018-10-15 18:19] JohnTortugo opened #1022 "Incorporate SignCheck into Arcade repository"
Incorporate WebTools [SignCheck](https://devdiv.visualstudio.com/DevDiv/_git/WebTools-InternalTools?path=%2FSignCheck&version=GBmaster), written by @joeloff , into Arcade repository.

[2018-10-15 20:35] weshaggard commented on #100
We could possibly use the native bootstrapping design to handle this but most of these tools are nuget packages that need to be plugged into specific parts of our builds. Looks like Roslyn is using a particular project to restore these set of packages and BuildTools currently does something similar where we restore a project during initialization if we pass in the credentials for the protected fee

[2018-10-15 22:32] #943 closed

[2018-10-16 07:07] deinok commented on #53
@eerhardt core-rt and source-build also use the cross folder. Just to no notice.

[2018-10-16 16:29] mmitche opened #1026 "[Darc] add/delete default channel associations"
Functionality to enable adding and deleting of default channels in the CLI

[2018-10-16 16:40] mmitche commented on #1026
https://github.com/dotnet/arcade/pull/1027

[2018-10-16 21:02] #1022 closed

[2018-10-16 21:51] mikem8361 commented on #916
@JohnTortugo what version of the Arcade SDK or the signtool did this change go into?

[2018-10-16 22:07] JohnTortugo commented on #916
Hey @mikem8361, I believe it was around `1.0.0-beta.18511.3`, but can you try the latest version - `1.0.0-beta.18516.5`?

[2018-10-16 22:43] #1026 closed

[2018-10-16 23:20] #806 closed

[2018-10-17 04:35] ericstj opened #1033 "PkgProj infrastructure refactoring"
Let this issue serve as a meta-issue to track potential refactoring to be done to PkgProj infrastructure.  I'll open issues to address these when we're ready to do them.

- [ ] Replace NuGetPack with [shipping task](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/PackTask.cs)
- [x] Eliminate PackageDescription file: this is unnecessary seperation of package met

[2018-10-17 15:38] markwilkie commented on #676
@chcosta, are you already clear on which agent requirements are blocking?

[2018-10-17 15:39] markwilkie commented on #916
This discussion indicates a need for a change log.  @JohnTortugo, would you mind filing an issue please to make sure we do this?

[2018-10-17 15:51] natemcmaster commented on #676
Things left:

* JDK: Started work here https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/179?_a=overview, but abandoned to focus on 2.2 work. Was planning to pick it up again when we get back to this.
* Machine support for code signing
* For testing only, we also need Chrome (to facilitate https://github.com/aspnet/KestrelHttpServer/issues/2880 - cc @JunTaoLuo )

[2018-10-17 16:19] chcosta commented on #676
I wasn't aware of the exact list.

Is there a resource from ASP.NET that is available to help make progress on these requirements.  Specifically -

- "JDK" - this looks close.  The iteration loop for getting an artifact is a bit tedious, but about a week of iteration here.
- "For testing only..." - What was the plan for aspnet w.r.t.  Helix?  This could be done as well (about a week), but some of

[2018-10-17 16:20] ericstj commented on #906
Just hit this myself.  I tried deleting artifacts and it wasn't sufficient to clean the repo 😕 .  `git clean -fxd .` worked but that's a pretty big hammer.

[2018-10-17 16:21] markwilkie commented on #676
Yes, let's chat for 1/2 hour or so. @chcosta, you might setting something up w/ @natemcmaster, @Chrisboh, you, and I?

[2018-10-17 16:57] mmitche opened #1038 "[Darc] Add subscription history and retry commands"
For retrying failed actions and viewing history.  Can be fairly simple list for now (no filtering)

[2018-10-17 16:57] mmitche commented on #1038
#1037

[2018-10-17 17:00] mmitche opened #1039 "[Maestro] NullReferenceException when performing subscription update for corefx"
Corefx subscriptions aren't updating, appears to be an exception in DarcLib

[2018-10-17 17:01] mmitche commented on #1039
Stack:

[code]

[2018-10-17 17:01] mmitche commented on #1039
FYI @alexperovich @jcagme I'm taking a look

[2018-10-17 17:06] jcagme commented on #1003
Related to https://github.com/dotnet/arcade/issues/258?

[2018-10-17 17:11] tmat commented on #1033
Thanks!

[2018-10-17 17:15] tmat commented on #906
@ericstj Deleting `artifacts` should be sufficient. Only tools (such as `dotnet`) should be restored outside of `artifacts` and one usually doesn't want to delete and redownload them.

[2018-10-17 17:46] weshaggard commented on #393
I'm going to reopen this again as we still need to do work beyond documenting to move this item forward.

We need to setup move NetFxTfm to net472 and update the machines across the many systems to enable that move. We should also create a NetCoreAppTfm property and set it to netcorepapp2.1 so we can consistently use that as well. We should also think about having a way to pre-process our props/ta

[2018-10-17 18:28] markwilkie commented on #912
closed per @rakeshsinghranchi

[2018-10-17 18:28] #912 closed

[2018-10-17 18:29] markwilkie commented on #1003
Closing in favor of @#258

[2018-10-17 18:29] #1003 closed

[2018-10-17 18:43] #1038 closed

[2018-10-17 19:01] ericstj commented on #906
For some reason with a recent change I was getting an error even after deleting targets around duplicate definitions of Assembly-level attributes for many of the projects.  I know this is bizarre but it was consistently repro-ing.  Unfortunately it is no longer doing it after I did a git clean -fxd so I can't repro any more.  I might have had the sln open in VS at the time, so I imagine that could

[2018-10-17 19:13] mmitche commented on #1039
https://github.com/dotnet/arcade/pull/1043

[2018-10-17 19:59] ericstj opened #1044 "Guidance - Arcade test failures in CI are undiagnosable"
See https://dnceng.visualstudio.com/public/_build/results?buildId=31532&view=logs

I can see that some tests failed on Linux, but I don't know what tests failed or why.

From the console log I have:
[code]

If I download the artifacts zip all I see are the binlogs from the build (which don't contain these HTML files nor do they contain more logging than the console).

[2018-10-17 20:29] chcosta opened #1045 "aspnet/Extensions uses engineering dependency flow"
Documentation for dependency flow is currently being created / updated, here is some starter info

[Dependency flow](https://github.com/dotnet/arcade/blob/master/Documentation/DependenciesFlowPlan.md)

Add Version.Details.xml
- [x] Create [Version.Details.xml](https://github.com/dotnet/arcade/blob/master/Documentation/Darc.md#engversiondetailsxml) file manually in repo

Channel mapping
- [x] Creat

[2018-10-17 20:29] chcosta opened #1046 "aspnet/Extensions builds using shared toolset (Arcade SDK)"
Use Arcade SDK - here are some "getting started" steps, experience / usage may vary.

- [ ] Add a [global.json](https://github.com/dotnet/arcade-minimalci-sample/blob/master/global.json)
- [ ] Add (or copy) [Directory.Build.props](https://github.com/dotnet/arcade-minimalci-sample/blob/master/Directory.Build.props) && [Directory.build.targets](https://github.com/dotnet/arcade-minimalci-sample/blob/

[2018-10-17 20:29] chcosta opened #1047 "aspnet/Extensions official builds from VSTS (dev.azure.com/dnceng/internal)"
Official builds on VSTS - https://github.com/dotnet/arcade/blob/master/Documentation/VSTS/MovingFromDevDivToDncEng.md
- [ ] Official builds are building in VSTS (dnceng)
  - [ ] Using YAML
  - [ ] Referencing [base.yml](https://github.com/dotnet/arcade-minimalci-sample#base-your-builds-on-arcade-for-ease-of-use)

[2018-10-17 20:29] chcosta opened #1048 "Move aspnet/Extensions CI to VSTS (dev.azure.com/dnceng/public)"
VSTS public CI builds
- [ ] public CI builds are building in VSTS (dnceng.visualstudio.com)
  - [ ] Using YAML
  - [ ] Imports [base.yml](https://github.com/dotnet/arcade-minimalci-sample#base-your-builds-on-arcade-for-ease-of-use)

[2018-10-17 20:29] chcosta opened #1049 "Move aspnet/Extensions to .NET Core 3 Engineering Ecosystem"
- [x] Public CI is using VSTS (https://dev.azure.com/dnceng/public)
- [x] Official builds in VSTS (https://dev.azure.com/dnceng/internal)
- [ ] Build using shared toolset (Arcade SDK)
- [x] Dependency flow is enabled

[2018-10-17 20:30] chcosta opened #1050 "aspnet/EntityFrameworkCore uses engineering dependency flow"
Documentation for dependency flow is currently being created / updated, here is some starter info

[Dependency flow](https://github.com/dotnet/arcade/blob/master/Documentation/DependenciesFlowPlan.md)

Add Version.Details.xml
- [ ] Create [Version.Details.xml](https://github.com/dotnet/arcade/blob/master/Documentation/Darc.md#engversiondetailsxml) file manually in repo

Channel mapping
- [ ] Creat

[2018-10-17 20:30] chcosta opened #1051 "aspnet/EntityFrameworkCore builds using shared toolset (Arcade SDK)"
Use Arcade SDK - here are some "getting started" steps, experience / usage may vary.

- [ ] Add a [global.json](https://github.com/dotnet/arcade-minimalci-sample/blob/master/global.json)
- [ ] Add (or copy) [Directory.Build.props](https://github.com/dotnet/arcade-minimalci-sample/blob/master/Directory.Build.props) && [Directory.build.targets](https://github.com/dotnet/arcade-minimalci-sample/blob/

[2018-10-17 20:30] chcosta opened #1052 "aspnet/EntityFrameworkCore official builds from VSTS (dev.azure.com/dnceng/internal)"
Official builds on VSTS - https://github.com/dotnet/arcade/blob/master/Documentation/VSTS/MovingFromDevDivToDncEng.md
- [ ] Official builds are building in VSTS (dnceng)
  - [ ] Using YAML
  - [ ] Referencing [base.yml](https://github.com/dotnet/arcade-minimalci-sample#base-your-builds-on-arcade-for-ease-of-use)

[2018-10-17 20:30] chcosta opened #1053 "Move aspnet/EntityFrameworkCore CI to VSTS (dev.azure.com/dnceng/public)"
VSTS public CI builds
- [ ] public CI builds are building in VSTS (dnceng.visualstudio.com)
  - [ ] Using YAML
  - [ ] Imports [base.yml](https://github.com/dotnet/arcade-minimalci-sample#base-your-builds-on-arcade-for-ease-of-use)

[2018-10-17 20:30] chcosta opened #1054 "Move aspnet/EntityFrameworkCore to .NET Core 3 Engineering Ecosystem"
- [ ] Public CI is using VSTS (https://dev.azure.com/dnceng/public)
- [ ] Official builds in VSTS (https://dev.azure.com/dnceng/internal)
- [ ] Build using shared toolset (Arcade SDK)
- [ ] Dependency flow is enabled

[2018-10-17 20:34] #1039 closed

[2018-10-17 20:34] #968 closed

[2018-10-17 20:35] #997 closed

[2018-10-17 22:10] markwilkie commented on #140
@chcosta - I'm closing this for now as we think we can probably back into this from our feed endpoints.  However, if there are other requirements, please don't hesitate to reopen.

[2018-10-17 22:10] #140 closed

[2018-10-17 22:19] markwilkie commented on #405
Currently the scope of Maestro++ is the automation of Darc for dependency flow.  There are currently workloads in the old Maestro.  It is unclear at this time what the right migration path (if any) for those.

[2018-10-17 22:20] markwilkie commented on #405
The assumed goal here is that we'll shut down Maestro at some point.  However, this does not necessarily imply moving to Maestro++.

[2018-10-17 23:04] ericstj opened #1056 "Rerunning build from VSTS doesn't update the PR"
I noticed this when working on https://github.com/dotnet/arcade/pull/1030.

The PR build failed due to some infrastructure issue::
https://dnceng.visualstudio.com/public/_build/results?buildId=31854&view=logs

I chose to rebuild:
![image](https://user-images.githubusercontent.com/8918108/47121074-105e3600-d226-11e8-861a-7ec9db2f731a.png)

I noticed that while the rebuild was going on the PR badge

[2018-10-17 23:13] safern commented on #1056
Also, I would like to add that it is weird that you have to sign in in order to be able to rebuild the build when the build is under the public domain.

@chcosta is there any reason for that behavior? I would suspect for builds to know who kicked the new build?

[2018-10-17 23:16] chcosta commented on #1056
I'm not sure I understand the scenario you're wanting.

You want an "anonymous" build which knows who you are so that you can safely have a way to rebuild without authenticating?  I suspect that authenticating for rebuild is by design.

[2018-10-17 23:31] chcosta commented on #1056
I'm not certain I can comment on features that don't yet exist.  Regarding build / rebuild, I think there's a strong desire to let authenticated users manage that operation.

@vtbassmatt thoughts?

[2018-10-17 23:56] weshaggard opened #1057 "corefx auto-updates are not flowing"
I followed the instructions to see the latest attempt to push an update and found the following error:

[code]

@alexperovich @jcagme any ideas?

[2018-10-18 00:02] #981 closed

[2018-10-18 00:14] natemcmaster opened #1059 "Don't require storing "locked" files in eng/common/"
Every repo using Arcade is supposed to have a `eng/common/` folder, and is not supposed to touch the files in this repo. There are currently 38 files in this folder, and is expected to grow. This was done for some good reasons that I'd like to acknowledge before pointing out the problems:

* Bootstrapping. You need _something_ in the repo.
* Uniformity. Everyone using Arcade has the same templates

[2018-10-18 00:35] alexperovich commented on #1057
That is #1039.

[2018-10-18 00:41] jonfortescue opened #1060 "Add definitions of YAML keywords to our documentation"
It's okay if we link to documentation that AzDev has, but we need something so that customers completely new to this world get basic explanations of what keywords mean.

cc / @chcosta @markwilkie

[2018-10-18 00:52] sbomer commented on #1060
You do link to the Azure Pipelines "Create your first pipeline" doc, which got me to the YAML syntax docs at the bottom. But nowhere could I find a mention of the "phases" used in the arcade .yml files.

[2018-10-18 15:03] vtbassmatt commented on #1056
Since someone can effectively trigger a build already (by pushing commits), we ought to support this using the comment syntax. Allowing anonymous users to push buttons in our UI is, for better or worse, out of scope right now. @DavidStaheli should also weigh in; he owns the "PR chat-ops" feature.

[2018-10-18 15:43] markwilkie commented on #863
@trylek - sorry, I can't find your PR.  I presume you're looking at https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/src/DownloadFile.cs?  Do you think your proposed changes should be incorporated into the existing DownloadFile.cs?

[2018-10-18 15:44] chcosta commented on #1060
Azure DevOps changed some of their naming around the same time they went from VSTS -> Azure DevOps.  I think the two events are unrelated but...

phase -> job
queue -> pool

We should probably go through our docs and update this

[2018-10-18 15:50] trylek commented on #863
@markwilkie Sorry about the confusion - I was under the impression that the discussion on this task somewhat petered out so that there was no agreement whether porting the DownloadFromAzure task is desirable in general. If you agree this is fine, I can easily prepare the porting PR - I am worried that it would be harder to "fix" DownloadFile as appropriate and it also wouldn't address the parallel

[2018-10-18 16:02] markwilkie commented on #863
@trylek - yes, adding another "downloady" task should be done cautiously as it adds confusion as to which one is supported, or which is best to use.  Do you know of any particular technical reason we shouldn't settle one one implimintation?

[2018-10-18 16:18] trylek commented on #863
@markwilkie That sounds reasonable to me. I tried to explain why I believe DownloadFile in its current form to be insufficient in my above response and in our earlier e-mail exchange:

1) Having each file download construct its own HttpClient instance is a discouraged practice and it is known to cause non-deterministic failures upon download of a large number of files.
2) Having an msbuild task th

[2018-10-18 16:19] weshaggard commented on #841
For 4) I'm noticing that we are starting to build up a number of these branches in the main repo and they aren't getting cleaned up. If you don't plan to do this in a fork what is the plan for ensuring the branches get properly cleaned up?

[2018-10-18 16:42] natemcmaster commented on #863
MSBuild already has a built-in task for downloading files. Seems like we should use that one if possible. It was added in MSBuild 15.8 (.NET Core SDK 2.1.400+)

https://github.com/Microsoft/msbuild/blob/vs15.8/src/Tasks/DownloadFile.cs

[2018-10-18 17:03] tmat commented on #1059
I'm definitely for reducing the amount of files in `eng\common`.

The design has always been to include just enough scripts to bootstrap msbuild (dotnet cli or VS msbuild) and do the rest in msbuild targets in Arcade SDK.

This logic is implemented in the following files:
[code]

I think that's reasonable amount.

Definitely agree that we should think about reducing the amount of YAML files and ot

[2018-10-18 17:11] natemcmaster commented on #1059
This is primarily a proposal for improvement. I'll file a separate issue for anything I find that blocks aspnet from switching toolsets.

[2018-10-18 17:12] trylek commented on #863
@natemcmaster Hmm, according to my review of its source code, the built-in msbuild task has exactly the same two problematic characteristics as the existing Arcade DownloadFile task - it constructs a new HttpClient instance for each individual download and it doesn't support internal parallelization across multiple file downloads.

[2018-10-18 17:14] alexperovich commented on #841
The branches get deleted when the associated PR gets merged. If the PR is manually closed/merged by a human then they need to delete the branch at the same time or it will get lost.

[2018-10-18 17:16] natemcmaster commented on #863
Hey, @jeffkl @AndyGerlicher would take a PR to MSBuild to fix this? ☝️

[2018-10-18 17:29] jeffkl commented on #863
We're definitely open to any PR on DownloadFile.  I implemented it as a pretty basic task expecting more powerful functionality in the future.  Any changes made now won't be available until the next version of Visual Studio is released which is due out next year last year. But don't let that discourage the contribution!

[2018-10-18 17:36] trylek commented on #863
Thanks @jeffkl for your quick and supportive response. I guess that it might be a reasonable compromise to implement the necessary improvements to DownloadFile both in the Arcade SDK and in the msbuild repo for now. Once the new mbuild ships, we should be able to just delete the Arcade SDK version and cleanly switch over to the stock msbuild task.

[2018-10-18 17:42] weshaggard commented on #841
Another reason for a fork in my opinion as that is how all our repos keep the root repo clean of left over branches.

[2018-10-18 17:45] weshaggard commented on #258
@tmat recent change to rename init-tools to tools is a prime example of why we need these auto-PRs to clean-up these old files. Now we have both an init-tools and tools set of scripts in corefx https://github.com/dotnet/corefx/pull/32887/files.

[2018-10-18 18:05] jonfortescue commented on #1060
@chcosta probably should also go through and make sure our azure-pipelines.yml files are using the new keywords then as well

[2018-10-18 18:09] chcosta commented on #1060
yep

[2018-10-18 18:13] safern commented on #1044
We also did something similar in ML.NET: https://github.com/dotnet/machinelearning/blob/master/build/ci/phase-template.yml#L27

[2018-10-18 18:31] jonfortescue opened #1063 "Split .NET Runtime/SDK selection into a separate MSBuild task"

[2018-10-18 18:34] jonfortescue commented on #921
@chcosta -- I think you did something like this already, is that correct?

[2018-10-18 18:38] jonfortescue commented on #907
@alexperovich is scouting this.

[2018-10-18 18:47] chcosta commented on #921
Yes for AzDev.  I haven't gotten to the Helix stuff yet.  I need to get to that today.

[2018-10-18 18:50] jonfortescue commented on #921
Awesome. Just assigning this to you for transparency then.

[2018-10-18 18:59] jcagme commented on #258
I'll start working on this after finishing my current work later today

[2018-10-18 21:36] AdamYoblick opened #1064 "Dead links in documentation"
All the links in https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Signing.md#usage-examples are dead :)

[2018-10-18 22:34] markwilkie commented on #676
After meeting, it turns out that hosted pools work for ASP to build.  Open question whether or not these machines are allowed to be configured to sign.  If this approach works, things get much more simple.

Also, to unblock @natemcmaster, updating the current build/sign pool w/ the JDK and Chrome might be the right thing to do short term.  (cc/ @ulisesh)

@natemcmaster will be looking at this agai

[2018-10-18 23:06] markwilkie commented on #1064
@JohnTortugo - can you make a pass and make sure our signing docs are up to date please?

cc/ @chcosta

[2018-10-18 23:09] chcosta commented on #1064
Looks like the relative paths are wrong and need to be updated

[2018-10-18 23:26] sbomer opened #1067 "Unable to use Hosted Mac Preview agent pool"
I’m having trouble using the “Hosted Mac Preview” agent pool recommended here: https://github.com/dotnet/arcade/blob/master/Documentation/VSTS/VSTSOnboarding.md#github-to-dnceng-internal-mirror.
I get an auth error that points me at https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resources?view=vsts#troubleshooting-authorization-for-a-yaml-pipeline, which recommends resetting the p

[2018-10-18 23:35] markwilkie commented on #1067
@chcosta

[2018-10-18 23:49] JohnTortugo commented on #1064
Definitely. I'm looking into it now.

[2018-10-18 23:57] JohnTortugo commented on #1064
@AdamYoblick I fixed the links. Thanks for reporting. Let me know if you have any issue with signing.

[2018-10-18 23:57] #1064 closed

[2018-10-19 05:17] chcosta opened #1069 "HelixPublish does not use Arcade dotnet cli"
https://github.com/dotnet/arcade/blob/master/eng/common/templates/steps/helix-publish.yml#L16

The helix-publish step appears to be using an AzDev provided cli instead of the Arcade bootstrapped cli.  Helix template jobs should use the Arcade SDK / restored CLI.

FYI @markwilkie

[2018-10-19 05:22] chcosta opened #1070 "HelixPublish does not produce a binlog"
HelixPublish should produce a binlog so that any failures can be investigated.  There's currently no logging that I can see.

https://github.com/dotnet/arcade/blob/master/eng/common/templates/steps/helix-publish.yml#L21

A binlog would help me investigate failures like https://dev.azure.com/dnceng/public/_build/results?buildId=32591&view=logs.  @jonfortescue , can you help me understand what is ca

[2018-10-19 15:28] #987 closed

[2018-10-19 15:45] AdamYoblick commented on #1064
Hi John, I actually do have a signing issue, but maybe I'm doing something wrong. I will open up a separate issue for it since it's not related to docs.

[2018-10-19 17:28] chcosta opened #1075 "darc doesn't use Arcade CLI"
It looks, cursorily, like darc makes use of whatever dotnet is on the machine.

[code]

Arcade is supposed to be fully bootstrappable, and installs a local copy of the cli under the `.\.dotnet\` folder.  Yes, Arcade will actually use the machine wide install of the CLI if available, but I think there's lots of scenarios where a dev might not have / want one of those.  This is useful...

[code]

…

[2018-10-19 17:34] deinok commented on #53
@janvorli About the cross folder.

I'm new to arcade, but I supose that what you need is a Task (https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.utilities.task?view=netframework-4.7.2) that implements all the things from the cross folder, I'm right?

[2018-10-19 18:04] mmitche commented on #1075
@chcosta This is an interesting scenario.  Where does the darc tool get installed in this case?  I'm not sure what the expected behavior is, since this is a dotnet global tool.  Maybe the dotnet toolset needs to make it on the PATH?

[2018-10-19 18:23] mmitche opened #1076 "[Maestro] Subscriptions should be manually triggerable"
We need to be able to trigger a subscription manually. For instance, let's say I make a change in arcade which needs to be immediately pulled into a repo.  The repo already has a subscription, I just want to trigger it based on a new build.  Should:
- Trigger immediately or
- Trigger when next build is available?

[2018-10-19 18:35] riarenas commented on #676
I created dotnet/core-eng#4428 to track finishing up the JDK work.

[2018-10-19 18:41] markwilkie commented on #1059
Meeting notes:
-  @tmat has recently added the notion of "APIs" to our scripts, which should allow repos owners to extend Arcade to suite their needs.  Next step here is to dig in a bit to see if all the requirements are met.
-  There was wide agreement that some sort of verification step is required no matter what.  @mmitche says he'll add the eng/common file verification to 'darc verify'
-  Rega

[2018-10-19 18:42] jonfortescue commented on #1069
Easy fix. I'll get on this.

[2018-10-19 20:16] chcosta commented on #1075
.net cli supports "local" global tools.

[2018-10-19 20:24] JohnTortugo opened #1080 "[Signing OSX Files] Create MSBuild task in MicroBuild to wrap OSX files signing logic"
Original discussion was here: https://github.com/dotnet/arcade/issues/898

[2018-10-19 20:25] JohnTortugo opened #1081 "[Signing OSX Files] Patch SignTool to call the MicroBuild target for signing OSX Files"
Original discussion was here: https://github.com/dotnet/arcade/issues/898

[2018-10-19 20:54] chcosta opened #1082 "Possible regression in Unix build legs"
Hi folks,

In [this PR](https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdotnet%2Fsdk%2Fpull%2F2594&data=02%7C01%7Cchcosta%40microsoft.com%7C19ea77909bb64059c2e408d6359342e8%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636755303930049252&sdata=h9MAfbhEgS38HVb7ZzgoJdED1dhdSLNXuhb%2BkuHuJcs%3D&reserved=0), I had updated the version of Arcade from 1.0.0-beta.18515.2 to 1.

[2018-10-19 21:11] alexperovich commented on #1076
We can fairly easily make an api that triggers an "EveryDay" subscription when called. The "trigger when next build is available" bit is just an "EveryBuild" subscription.

[2018-10-19 21:12] mmitche commented on #1082
Fixed by https://github.com/dotnet/arcade/pull/1074

[2018-10-19 21:20] weshaggard commented on #1057
duplicate of #1039

[2018-10-19 21:20] #1057 closed

[2018-10-19 21:21] weshaggard commented on #337
Excluding all but the commit message. If we find we need more information we an add it later.

[2018-10-19 21:21] #337 closed

[2018-10-19 21:31] markwilkie commented on #578
thanks guys!

[2018-10-19 21:31] #578 closed

[2018-10-19 21:32] #1082 closed

[2018-10-19 21:42] weshaggard commented on #272
Extra corefx strong names added with https://github.com/dotnet/arcade/pull/1066.

[2018-10-19 21:44] markwilkie commented on #1044
This feels like a guidance thing for those who don't use Helix for whatever reason.

[2018-10-19 21:49] markwilkie opened #1084 "Add eng/common to 'darc verify'"
We agreed during the discussion around #1059 that verifying the files in eng/common to be "untampered" with is important.

[2018-10-19 21:52] markwilkie opened #1085 "Create AzDO tasks for parts of our YAML templates"
Based on our discussion around #1059, we agreed that there are portions of our YAML templates that would be better served put into a task.  The first step is to identify which parts should be converted, and then go from there.

[2018-10-19 21:57] markwilkie commented on #1059
Filed two issues for the concrete deliverables.  Let me know @natemcmaster if you want an issue tracking your "gap" analysis.

[2018-10-19 21:57] #1059 closed

[2018-10-19 22:02] alexperovich commented on #841
I did some investigation and there isn't anything actually blocking us using a fork. I thought that "GitHub Applications" couldn't have forks, but it looks like that is possible. Creating and managing the forks will be non-trivial though.

[2018-10-19 22:32] AdamYoblick opened #1087 "PublishBuildAssets.cmd does not work if your .sln does not contain Debug | Any CPU"
Hello,

I'm using the .vsts-ci.yml that arcade is using and the publish-build-assets.yml step is failing because the config used in this MSBuild target is hardcoded to Debug | Any CPU. Adding Debug | Any CPU to our solution is not an option :)

Logs for this failure can be found at https://dnceng.visualstudio.com/internal/_build/results?buildId=32856&_a=summary&view=logs

To repro this, just remov

[2018-10-20 00:02] weshaggard commented on #678
The consumption of dependency flow is working. The publishing side is not yet done.

[2018-10-20 00:04] weshaggard commented on #683
All the consumption steps are finished but we still need to do publishing.

[2018-10-20 00:06] weshaggard commented on #688
The incoming dependency flow has been setup but the publish/outgoing still needs to be done.

[2018-10-20 00:18] natemcmaster commented on #1059
Thanks @markwilkie. I'll hopefully have time to look closer in the next week and attempt to onboard a repo to eng/common/. I'll open issues if I find big gaps that need addressing.

[2018-10-20 02:41] trylek commented on #863
OK, so let's proceed towards an initial design of the DownloadFile change. If the task is about to optionally support multiple file downloads, I believe it would be the easiest to do it as follows:

We add an optional extra parameter to the task,

<code>
public ITaskItem[] Files;
</code>

The semantics will be as follows:

1) When the Files parameter is empty ("legacy" behavior), DownloadFile will

[2018-10-22 10:46] janvorli commented on #73
@deinok I don't know anything about arcade yet, but I don't think it is related to a Task. What I was talking about was that we need to share Linux shell and cmake scripts across distros.

[2018-10-22 15:22] deinok commented on #73
@janvorli Then, the only idea I have is move the `cross` to its own repo and use gitsubmodule.
Anybody has a better idea or suggestion?

[2018-10-22 15:52] markwilkie commented on #73
@janvorli and @deinok - arcade does provide a mechanism to "share" tools/scripts across repos if you guys are interested.  Reach out to @riarenas for more details and whether or not it'll actually work for your specific scenario/s.

[2018-10-22 15:54] markwilkie commented on #863
fyi @ericstj, @weshaggard, and @tmat   (others are already on this issue)

[2018-10-22 15:58] deinok commented on #73
@riarenas If you can guide me to some examples on how to share a folder like `tools/scripts` between repos and how to add that in other repos I could take the issue of move `cross`.

[2018-10-22 15:59] riarenas commented on #73
There's an overview of the process here: https://github.com/dotnet/arcade/blob/master/Documentation/Projects/NativeDependencies/Design.md. I'm not familiar with the ```cross```  folder, but if what is needed is to bring down scripts from a publicly accessible location, you could create an installer that brings them down with init-native-tools.sh.

[2018-10-22 16:01] riarenas commented on #73
There's an example installer for cmake here: https://github.com/dotnet/arcade/blob/master/eng/common/native/install-cmake.sh. The one to just bring a set of scripts should be simpler.

[2018-10-22 16:02] chcosta commented on #1067
Hey @sbomer, sorry for the delayed response.

I'm surprised you're having issues with the "Hosted Mac Preview" pool, unlike the non-hosted pools, Hosted are supposed to auto-authorize (soon they all will).

If you look in our [Onboarding documentation](https://github.com/dotnet/arcade/blob/master/Documentation/VSTS/VSTSOnboarding.md#troubleshooting), there's a similar note about this. That documen

[2018-10-22 16:10] chcosta commented on #1067
https://github.com/dotnet/arcade/pull/1094

[2018-10-22 16:34] mmitche opened #1095 "[Darc] Dependency update + add handling should be consistent"
The update and add dependencies operations on the git file manager use different handling for:
- Adding (uses new updaters, but these can't be used for update)
- Updating (uses special handling for global.json, but not the generic known updater function)

This should be consistent.

[2018-10-22 16:36] mmitche commented on #1095
/cc @jcagme

[2018-10-22 16:39] jcagme opened #1096 "[Publish to BAR] Improve restoring process"
Today we call restore in order to get the `PushMetadataToBuildAssetRegistry` along with other needed libraries all contained in the SDK. `restore` command also restores the SLN in the root of the repo which for publishing is an overhead.

We need to make this process better.

[2018-10-22 18:07] #932 closed

[2018-10-22 19:34] tmat opened #1099 "Pass NoWarn property to SignTool task"

[2018-10-22 21:03] #1063 closed

[2018-10-22 22:15] mmitche opened #1101 "[Darc] Add an update-dependencies command"
This command mimics what Maestro will do for a repo based on a subscription.  Update the local repo based on an input channel. Latest builds are obtained from the repository urls in the Versions.Details.xml

This command is very useful, in that it allows a user to effectively apply a new dependency update without wading through the automation.

[2018-10-22 22:17] mmitche opened #1102 "[Darc] Add verify operation"
The verify operation allows the user (or Maestro) to ensure that repo state is consistent.  Should check:
- Version files can be parsed
- Dependency numbers match
- Dependency casing matches
- No duplicated dependencies
- Warn on unused dependencies.

[2018-10-22 22:18] weshaggard opened #1103 "Enable SourceLink support for VC++ projects"
See https://github.com/dotnet/arcade/pull/1078#discussion_r227122101

The C++ compiler has recently added support for SourceLink so we should go the work to test and enable it for our C++ code on windows.

[2018-10-22 22:18] mmitche commented on #1102
#1065

[2018-10-22 22:18] mmitche commented on #1101
#1100

[2018-10-22 23:37] jcagme commented on #53
What repo should we use to get the file from?

[2018-10-22 23:40] jcagme commented on #124
Is this something you own @alexperovich ?

[2018-10-22 23:53] jcagme commented on #414
Now that we have BAR in place with a REST API on top this is something we could easily build and even something that we could add to the darc CLI. Something like `darc get-assets`

FYI @mmitche

[2018-10-23 00:02] jcagme commented on #309
Just to confirm, this has been removed right?

[2018-10-23 00:10] alexperovich commented on #124
I have things in the pipe for this, its just not super high priority. If we need the current code to get updated I can manually update it.

[2018-10-23 01:07] jcagme commented on #124
Asking more to know who to assign this issue. Can this be assigned to you?

[2018-10-23 07:57] deinok commented on #53
I'm not sure but I think coreclr

[2018-10-23 10:34] janvorli commented on #53
Yes, coreclr is the right source. But it is not just the `build-rootfs.sh`. We need to share the whole cross folder contents except of the tryrun.cmake which is repo specific.

[2018-10-23 13:57] eerhardt commented on #55
The other drawback to that approach is that repos don't get to decide where in the folder hierarchy the file needs to live. So in order for the script to be found, the calling scripts need to know where the `$RepoRoot` is - so they can find `$RepoRoot/eng/common`. There also may be files (like CMake files) that depend on being in a specific location in the folder structure.

IMO - the system shoul

[2018-10-23 14:03] dagood commented on #55
Maybe consider if this fits in with https://github.com/dotnet/arcade/issues/774, dependency expression extensibility. That is, make the scripts a dependency repos can add if they need them, and express anywhere they want.

[2018-10-23 15:51] chcosta opened #1109 "Darc doesn't purge eng/common"
It doesn't appear that darc purges the eng/common folder.

Intentional?

Look at

https://github.com/dotnet/arcade-minimalci-sample/tree/master/eng/common/templates/phases

vs

https://github.com/dotnet/arcade/tree/master/eng/common/templates/phases

The latter is supposed to be the source of truth for the eng/common folder.  It appears that about 2 months ago there was some refactoring, the `publ

[2018-10-23 15:55] weshaggard commented on #55
Yes I agree this should be extensible and repo's should be able to opt-in to particular folders and their locations. I was chatting with @mmitche about something similar for version updates but I think the same should hold true for file updates. Repo's can easily configure this in their Version.details.xml file.

[2018-10-23 16:02] mmitche commented on #1109
https://github.com/dotnet/arcade/pull/1105

[2018-10-23 16:03] jcagme commented on #1109
Will close this as dupe of the above mentioned #1105

[2018-10-23 16:03] #1109 closed

[2018-10-23 16:25] MattGal opened #1110 "Harden usage of curl in .NET CLI bootstrapping scripts to tolerate 'Connection reset by peer', fix backup links"
@dotnet-mc-bot commented on [Tue Oct 23 2018](https://github.com/dotnet/core-eng/issues/4450)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2145382
  - **Agent:** DDVSOLINUXAGE002
  - **Error log:** curl: (22) The requested URL returned error: 404 Not Found...

* https://devdiv.visua

[2018-10-23 16:31] mmitche commented on #55
Yeah that's what I'm thinking.  I think we need more generic dependency expression, let me see what I can come up with.

[2018-10-23 16:43] chcosta commented on #1109
Doh, guess I could have spent a few minutes lurking around before filing this.  Thank you!

[2018-10-23 16:43] alexperovich commented on #124
yes

[2018-10-23 17:27] JohnTortugo opened #1112 "Updated the signing plugin installer"
MicroBuild released a new version of it's plugin. We should update Arcade to use the newest version.

[2018-10-23 17:27] #1112 closed

[2018-10-23 19:54] mmitche opened #1114 "[Darc] Versions.props should use "PackageVersion" as property suffix"
To minimize churn in repos, we should use PackageVersion as the suffix for the Version.props properties.

Update the spec in the process.

[2018-10-23 19:55] mmitche opened #1115 "[Maestro] Automate Maestro rollout"
Automate the Maestro rollout to int as well as prod.

[2018-10-23 19:55] mmitche commented on #1115
/cc @alexperovich

[2018-10-23 19:56] mmitche commented on #1114
/cc @weshaggard

[2018-10-23 20:20] eerhardt commented on #454
@markwilkie - has this been scheduled at all? Any idea when it will be available? ML.NET is using the Dev Ops hosted machines for Windows and Linux (and soon to be macOS), and having repro machins for failures that only occur in CI would be helpful.

/cc @TomFinley

[2018-10-23 20:47] markwilkie commented on #454
Pretty [straight forward](https://github.com/dotnet/arcade/blob/master/Documentation/VSTS/SendingJobsToHelix.md) to get going and [getting even better](https://github.com/dotnet/arcade/issues/947) based on feedback.  (be sure and use zenhub to look at 947 to see the linked issues)

cc/ @jonfortescue

[2018-10-23 21:03] eerhardt commented on #454
Using Helix for tests doesn't eliminate the need for this. There are plenty of cases where the build fails, like dependency issues, version on the machine is different issues, etc.

[2018-10-23 21:40] #1099 closed

[2018-10-23 21:43] tmat commented on #1114
We are not overriding package versions as we did with ProdCon, right? So why does it matter whether we use `-Version` or `-PackageVersion`?

[2018-10-23 21:47] weshaggard commented on #1114
I agree it shouldn't matter what we use although it is good to be consistent. If we use different values then DARC needs to allow for configuration of what properties to use if they don't follow convention, which I also think we should provide.

[2018-10-23 22:12] tmat commented on #1114
I see. Makes sense then.

[2018-10-23 22:37] #1102 closed

[2018-10-23 22:37] #1101 closed

[2018-10-24 11:14] akoeplinger commented on #487
Ping. It's a bit annoying not being able to use the IDE to update my packages.

[2018-10-24 15:42] chcosta commented on #487
@jcagme @markwilkie

[2018-10-24 15:49] mmitche opened #1139 "[Darc] Tests for dependency updates/adds"
In prep for https://github.com/dotnet/arcade/issues/1095, write a bunch of E2E tests for the dependency updater, so that we can be sure we're not breaking things.

Specific things we need to ensure we have tests for:

- [ ] Inconsistent state (e.g. dependency in version.details.xml but missing from global.json
- [ ] Case mismatch updates
- [x] Default xmlns missing or present on Project elements
-

[2018-10-24 16:14] mmitche opened #1141 "[darc/maestro++] GitHub mirroring should be a first class-citizen for Maestro"
For complex branch management, Maestro will need to manage the mirroring of code between branches.  Today this is done via old maestro, (launching build definitions that do mirroring), and the subscriptions.json file.  This has two drawbacks:
- Errors in mirroring are difficult to surface
- More difficult to automate addition/removal of mirrored branches. (i'm wary of parsing, altering the json wi

[2018-10-24 16:14] mmitche commented on #1141
/cc @alexperovich @jcagme @markwilkie

[2018-10-24 16:24] markwilkie commented on #1141
Agreed - @mmitche, would you consider this a requirement for 12/14?

[2018-10-24 16:31] mmitche commented on #1141
Nope

[2018-10-24 16:36] markwilkie commented on #1056
@vtbassmatt - do you know David's GH handle?  (looks like the one above isn't resolving - at least for me)

[2018-10-24 16:36] markwilkie commented on #1067
@sbomer - I'm closing this as I'm assuming based on the PR that things are ok now.  However, please reopen is you need to.

[2018-10-24 16:36] #1067 closed

[2018-10-24 16:39] markwilkie commented on #1110
Good catch @MattGal

[2018-10-24 16:51] vtbassmatt commented on #1056
Hmm, resolves for me.
![image](https://user-images.githubusercontent.com/714283/47447429-7c432000-d78b-11e8-80ec-50bd01ab0bc1.png)

[2018-10-24 18:20] riarenas opened #1144 "Update native bootstrapping documentation"
The windows implementation of bootstrapping deviated from the current documentation.

[2018-10-24 21:41] AdamYoblick opened #1150 "Private github onboarding gotchas"
Hello,

So I ran into a few gotchas with our private github repo that I thought I’d share so you’re aware in case other teams run into the same issues:

1. The VSTS CI build (for the github source) is meant to be public eventually, but it’s internal right now. This causes some issues:
a.     All the steps that are intended to be run on internal projects will incorrectly be running (since the yaml

[2018-10-24 21:54] AdamYoblick commented on #1150
As mentioned in the e-mail, these fixes are hacky and depend on the build definition name. A better permanent fix is probably to check where the repo lives and don't do "internal" things (except the agent pool) if it's github.

There is a variable called Build.Repository.Provider that you can use to check if the repo lives in github. It will equal 'GitHub' if that's the case.

[2018-10-24 22:51] weshaggard opened #1151 "Clashing test properties"
Today corefx uses its own set of testing targets but there isn't any way to opt-out of the Tests.props that comes in with the sdk by default. For the most part it hasn't caused a lot of pain but we have had to work around some things because we also have an IsTestProject property which is defined differently then what https://github.com/dotnet/arcade/blob/518da700456e1766c69bbfeb24ae104b8fe2cd62/s

[2018-10-24 23:06] AdamYoblick opened #1152 "darc authenticate hangs"
Hello,

I'm setting up dependency flow for winforms. I'm at the step when I run darc authenticate and paste in my token. I do that, save the file, and close it, but the command prompt just hangs, so I have no idea if it's successful.

I will try the subsequent steps but I just wanted to let you know :)

@alexperovich
@jcagme
@mmitche

[2018-10-24 23:09] AdamYoblick commented on #1152
Nope, definitely doesn't work. When I try to run darc add-subscription, I get this:

e:\src\repos\github\winforms>darc add-subscription --channel ".NET Tools Latest" --source-repo https://github.com/dotnet/arcade --target-repo https://github.com/dotnet/winforms --target-branch master --update-frequency everyDay --ignore-checks WIP,license/cla --all-checks-passed -q
warn: Microsoft.DotNet.Darc.Oper

[2018-10-24 23:46] mmitche commented on #1152
I want to take a look at the former problem,  but you should be able to pass the token directly to the command.

[2018-10-24 23:47] jcagme commented on #1152
Synced with Adam offline and he uses `code` as an editor. I have not tried that on my end but I don't see why would that be different that any other...

[2018-10-24 23:57] tmat commented on #1151
I disagree. Why not rename the test projects in CoreFX repo to comply with the Arcade [project naming conventions](https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#project-name-conventions)?

[2018-10-24 23:58] alexperovich commented on #1152
The vscode editor for git requires that core.editor be set to `code --wait` so that the code process will wait for the file to be closed.

[2018-10-25 00:27] jcagme opened #1154 "Make sure edge cases are covered when doing `darc add`"
One user reported the following scenarios did not work as expected when running `darc add`:

*  Not specifying correct arguments
*  Had `global.json` with msbuild-sdk, but didn’t have a `Version.Details.xml`
*  `Version.Details.xml` didn’t have the right sections in it (`ProductDependencies` and/or `ToolDependencies`)
*  `global.json` already had Arcade SDK in the `msbuild-sdks` section

We should

[2018-10-25 00:33] #53 closed

[2018-10-25 10:29] ViktorHofer commented on #1151
Right, we could do that as most of the stuff defined in the Tests.props does work for corefx. The fact that we don't resolve our packages in corefx per project but during the bootstrapping of the repository, things like `PackageReference` won't work for us, i.e. https://github.com/dotnet/arcade/blob/518da700456e1766c69bbfeb24ae104b8fe2cd62/src/Microsoft.DotNet.Arcade.Sdk/tools/Tests.props#L36.

Al

[2018-10-25 15:08] AdamYoblick commented on #1152
Ah ok, sounds like this isn't the default setting. I will try both.

@mmitche Can you provide the syntax for passing in the token directly so I can try that as well?

[2018-10-25 15:19] mmitche commented on #1152
Add “--bar-uri <token>”

From: Adam Yoblick <notifications@github.com>
Sent: Thursday, October 25, 2018 8:10 AM
To: dotnet/arcade <arcade@noreply.github.com>
Cc: Matt Mitchell <mmitche@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/arcade] darc authenticate hangs (#1152)
Importance: High

Ah ok, sounds like this isn't the default setting. I will try both.

@mmitche<https

[2018-10-25 15:31] weshaggard commented on #1151
As for naming convention we will try and align with the conventions defined here but for the actual infrastructure we currently cannot align because we have a lot more requirements that what is supported in arcade today.

[2018-10-25 15:36] AdamYoblick commented on #1152
I tried adding --bar-uri to both darc authenticate and darc add-subscription, and neither worked. The first opened the config file for editing again, and the second errored out with the corrupt settings file message.

I will change my vscode settings and try again.

[2018-10-25 15:39] mmitche commented on #1152
It wouldn't mean anything on authenticate.  What did it say when you did it on add-subscription?

[2018-10-25 15:41] AdamYoblick commented on #1152
Same error as before, "failed to load the darc settings file, may be corrupted".

I ran the following command now:

git config --global core.editor "code --wait"

And I was able to get past the darc authenticate (it didn't hang, but there was no success message either).

But now when I run:

darc add-subscription --channel ".NET Tools Latest" --source-repo https://github.com/dotnet/arcade --target

[2018-10-25 16:07] jcagme commented on #937
https://github.com/dotnet/arcade/pull/1153

[2018-10-25 16:11] tmat commented on #1151
Do you mean it breaks something or it just doesn't do anything useful?
Is it possible to run CoreFX tests from VS Test Explorer?

The test runner framework is not forced upon you. It's already optional. Just don't use `Test` target.
Roslyn also has a custom test runner for perf reasons. The developer still have the option to run `msbuild /t:Test foo.csproj` on individual projects if they want to,

[2018-10-25 16:23] #921 closed, assigned to chcosta

[2018-10-25 16:32] mmitche opened #1159 "[Maestro] Repo installations table is not updated on repository rename"
If a repository is renamed, we keep the repo name in the repo installation table.  Maybe we don't get a notification on this?

This may not be a bug worth fixing tbh.

/cc @alexperovich
/fyi @AdamYoblick

[2018-10-25 16:48] AdamYoblick commented on #1152
Spoke with Matt offline and it works now. Here's the fixes:

- Channel name was wrong. It should have been ".NET Tools - Latest". He has updated the doc.
- Our repo had been renamed and this was messing up the maestro logic. He fixed this in the db and now it works.

I will verify the PR happens tomorrow :)

[2018-10-25 16:48] #1152 closed

[2018-10-25 16:51] jcagme commented on #1152
Just curious, what was before and how did this mess the maestro logic?

[2018-10-25 16:52] jcagme commented on #1152
Never mind, just saw #1159

[2018-10-25 17:12] #1087 closed

[2018-10-25 17:28] mmitche opened #1161 "[BYOC] Roll out exploratory pool to dnceng"
@mmitche commented on [Thu Oct 25 2018](https://github.com/dotnet/core-eng/issues/4485)

Now that the feature flag has been turned on, roll out a test pool to dnceng for exploratory on a few queues.

[2018-10-25 17:30] mmitche opened #1162 "[BYOC] Automated rollout for pool provider"
Create int and prod automated rollout for the BYOC pool provider service and ensure it conforms to dnceng's service policies.

[2018-10-25 17:32] JohnTortugo commented on #1080
PR was approved. We are working to test the changes in a "test branch" now.

[2018-10-25 18:21] jcagme commented on #1000
@tmat would you consider this to be a hard requirement for shipping preview (12/14)

[2018-10-25 18:28] riarenas commented on #833
I want to see if I can come up with something to unify linux and windows. The current approach for windows is an improvement in terms of usability, but it's worse for tool discoverability and is much less flexible. I'll move this into breakdown to come up with a plan.

[2018-10-25 18:33] tmat commented on #1000
Nope. What we have today works ok.

[2018-10-25 18:33] joeloff commented on #958
Running SignCheck separately might be a better option. SignCheck can tease apart nested content, so it's simpler to run it on say an MSI as it will find nested files like DLLs inside nupkgs inside MSIs, etc.

Having it as a separate tool would also simplify things for devs if they wanted to run it over an arbitrary set of files I think.

[2018-10-25 18:42] jcagme commented on #889
@mikem8361 when you say "added" in the description of this issue, is that something you added locally? If so, would you mind creating a PR with those changes so these are official?

[2018-10-25 18:46] mikem8361 commented on #889
Yes, I added the "architecture" command line option locally to eng\common\build.ps1 and eng\common\build.sh.  I offered to create a PR to the arcade repo, but @tmat recommended at the time to  just file the issue because @weshaggard was in the middle of some big changes.

[2018-10-25 18:50] jcagme commented on #889
At the time, there might be an overlap on `build.*` scripts but not in `base.yaml`. Also, I think @weshaggard  is done since #845 has been merged. If you still have the changes around please create  PR when you have a cycle. In case other folks are working on something similar I'm pretty sure comments will arise in the PR

[2018-10-25 18:50] tmat commented on #958
There is a difference between validating that a file is _correctly_ signed vs. checking that it's signed.

The SIgnTool only needs the latter. E.g. in case of a PE file it's literally check for one integer in the PE header to be non-zero.

@JohnTortugo Yes, we should add the checks for other file types - at least for the most common ones like nuget, VSIX, ps1. These checks should be trivial. E.g.

[2018-10-25 18:52] JohnTortugo commented on #958
@tmat Yeah, that is what I thought as well.

[2018-10-25 20:11] jcagme commented on #936
@mmitche is there an update on this issue? Is this on track (or required) for 12/14?

[2018-10-25 20:13] jcagme commented on #802
@alexperovich is there any update here? I don't think this is a ship blocker for preview is it?

[2018-10-25 20:15] jcagme commented on #800
@alexperovich probably not but I kinda remember seeing work on this. Is this the case?

[2018-10-25 20:15] weshaggard opened #1167 "GenFacades doesn't work when running on desktop msbuild"
[code]

@wtgodbe looks like we are missing some dependencies with the desktop output in our package.

[2018-10-25 20:16] mmitche opened #1168 "[darc/maestro++] Add "what's old and why" command"
One of the most common tasks done with dependency flow is the "what's out of date here and why" task.  Typically this goes as follows:
1. I can't remember seeing a PR for an update of X recently.
2. Go check and see whether there is a PR.
3. If there is a PR, then why wasn't it merged
4. If there isn't, should there be an update? (was there a new build of X recently)
5. Go find out what happened w

[2018-10-25 20:19] mmitche commented on #936
It's on track for 12/14.  I got about halfway through this and then had to reset my changes back to 0 due to crayz merge conflcits.

[2018-10-25 20:33] jcagme commented on #629
@dagood I know you mentioned that you'll try building Arcade from source in the following two weeks, I assume this includes darc. Would you consider any potential issues in the process to be preview (12/14) blockers?

[2018-10-25 20:34] jcagme commented on #634
Does this mean disabling a subscription?

[2018-10-25 20:37] jcagme commented on #777
@dagood any updates on this? Do we still need this around?

[2018-10-25 20:40] jcagme commented on #821
We now have darc commands to check whether something went wrong. I think this should be enough for now. If this becomes a need once we have more users we'll open a new issue

[2018-10-25 20:40] #821 closed

[2018-10-25 20:43] dagood commented on #777
Up to you. I'm not sure what its presence in this epic means.

[2018-10-25 20:45] jcagme commented on #851
Yeah, just tried this and got a 500.

FYI: @alexperovich

[2018-10-25 20:47] jcagme commented on #881
Kinda remember this was worked on. @mmitche did you fix this? Probably I just remember this issue to be opened

[2018-10-25 21:04] sbomer opened #1169 "Arcade SDK fails on macOS"
Same issue as https://github.com/dotnet/roslyn-tools/issues/172.

[2018-10-25 21:09] jcagme commented on #1169
FYI @tmat

[2018-10-25 21:16] dagood commented on #629
Doing a "proper" build from source (no prebuilts) isn't a blocker for 3.0 preview, so no.

That said, the sooner we can build Darc from source rather than downloading it, the better, to avoid building up debt that ends up delaying the delivery of a fully source-built .NET Core. (And yeah, Darc is part of the required toolset, so it's included.) When I try building Arcade from source I'm planning t

[2018-10-25 21:25] jonfortescue opened #1170 "Provide a link to Mission Control results"
When a job completes (whether with an error or not) we should provide a link to Mission Control results.

[2018-10-25 21:33] sbomer opened #1171 "Microsoft.DotNet.Arcade.SDK does not import publish targets"
Using `<Project Sdk="Microsoft.DotNet.Arcade.Sdk">` does not import any of the targets related to publish.

I'd like to be able to use the logic mentioned in https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Publishing.md, both:
- the "Publish" target from https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Publish.proj#L33, and
- the related ta

[2018-10-25 22:01] markwilkie commented on #1171
It seems reasonable at least to me that we'd import publish as it's a required package.  Thoughts @jcagme @tmat ?

[2018-10-25 22:50] tmat commented on #1171
This is working as designed. Artifact publishing is only performed during CI build, not in inner-loop build.

Why would you need artifact publishing in your project?

Note that `Publish` target from `Publish.proj` is different from .NET Core SDK `Publish` target, which is used to output all binaries to output directory that are necessary to run an app.

[2018-10-25 22:57] wtgodbe commented on #1167
The `ResolvePackageAssets` task is placing the `Microsoft.DiasymReader.Native` .dll's in the `ResolvedRuntimeTargets` ItemGroup, while the others seem to be placed in `RuntimeCopyLocalItems` and `ResourceCopyLocalItems`. Still looking

[2018-10-25 22:59] weshaggard commented on #1167
@ericstj do we need to explicitly flatten the runtime assets when publishing for .NET Framework?

[2018-10-25 23:36] ericstj commented on #1167
I think @tmat owns that package.  I believe the way its supposed to work when restored for desktop is that it copies the DLLs and renames them :
[code]

I bet that the package never was designed to work for an AnyCpu desktop project using packagereference.

That's a bug in `microsoft.diasymreader.native`.  We can workaround it by doing what its targets would have done for packages.config.

[2018-10-25 23:47] sbomer commented on #1171
I'm working on migrating the coreclr official builds to azure pipelines, and would like to reuse arcade targets to upload artifacts to blob storage, etc..

[2018-10-25 23:53] tmat commented on #1171
@markwilkie @weshaggard  We will want to move coreclr repo to Arcade SDK as well, correct?
If so then I'd recommend starting there and then move the CI/official build to Azure, instead of the other way around.

[2018-10-25 23:58] tmat commented on #1167
We consume the package like so:

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj#L26-L35

I have not added this to the DSRN package targets since we don't know what architectures the AnyCPU app wants to actually use.

[2018-10-26 00:00] sbomer commented on #1171
We're trying to do both in parallel. /cc @RussKeldorph

In any case, I think the arcade SDK should make it possible for me to start from an empty project using the "Microsoft.DotNet.Arcade.Sdk", and call the tasks documented in https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Publishing.md.

We're doing the same thing for helix publishing, and that works correctly because th

[2018-10-26 00:01] ericstj commented on #1167
I see, I found it odd the package does this for packages.config without any conditions for architecture but doesn't do it for package-reference-based desktop.  That means folks will see a break when moving from pc to PR.

[2018-10-26 00:04] tmat commented on #1171
No it should not. That's not the intended way of using this stuff.

If you want some temporary workaround then you can copy `Publish.proj` to the repo and remove it later when the repo switches to Arcade SDK.

[2018-10-26 00:07] alexperovich commented on #802
This is actually fixed with my batching changes.

[2018-10-26 00:07] #802 closed

[2018-10-26 00:07] tmat commented on #1167
@ericstj Yes, that was just for backwards compat, since it was initially done that way.

That's ok, the fix is easy and there is not many people who will care about this anyways.

[2018-10-26 00:08] alexperovich commented on #800
I think @mmitche actually fixed this issue.

[2018-10-26 00:15] tmat commented on #1171
You can also reference the package that implements the publishing task directly:

[code]

and then use the task directly like so:
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Publish.proj#L71-L80

[2018-10-26 01:13] jonfortescue commented on #1070
@alexperovich

[2018-10-26 15:03] markwilkie opened #1175 "Fix 'Waiting to obtain an exclusive lock on the feed' in publish"
From: Matt Mitchell
Sent: Friday, October 26, 2018 7:57 AM
To: Shawn Rothlisberger <shawnr@microsoft.com>; Adam Yoblick <Adam.Yoblick@microsoft.com>; Matt Galbraith <Matt.Galbraith@microsoft.com>; Mark Wilkie <mawilkie@microsoft.com>; .NET Core Engineering <dnceng@microsoft.com>
Subject: RE: "Waiting to obtain an exclusive lock on the feed" when publishing package

What needs to happen here is tha

[2018-10-26 15:04] markwilkie commented on #1175
cc/ @MattGal @jcagme @chcosta

[2018-10-26 15:36] markwilkie commented on #1171
@sbomer - thanks for working on this.  Do you have a sense for when the migration plan for CoreCLR will be ready?  (what gets done by when for moving to Arcade and AzDO)  I'd like to start with what you guys (repo experts) think and then go from there.

[2018-10-26 16:18] adiaaida opened #1176 "Arcade does not support /p:OptionalToolSource options"
In the corefx build, we pulled down the OptionalToolSource packages using sync.cmd /p:OptionalToolSource, /p:OptionalToolSourceUser and /p:OptionalToolSourcePassword. With the port to Arcade, these options no longer pull down the optional tools, which are required for ProfileGuidedOptimization in corefx (specifically, applying IBC data to the various assemblies).

[2018-10-26 16:37] jcagme opened #1179 "Move publishing to AzDO release pipelines"
Plan for this epic is here: [Asynchronous Publishing and Releasing in .NET Core 3.
](https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/AsyncPublishing.md)

Priority list:

- #2499 - Patch `dotnet symbol-tool` to check completeness & availability of symbols

[2018-10-26 16:40] maririos commented on #1176
FYI @weshaggard

[2018-10-26 17:46] dagood commented on #1176
Arcade support is tracked in https://github.com/dotnet/arcade/issues/100. It sounds like this issue does more generally track getting the flow working in CoreFX though... I would have thought that the BuildTools code that AFAIK is still in CoreFX would be used to keep support for this.

[2018-10-26 18:02] dagood opened #1180 "NerdBank.GitVersioning causes build failure in centos-7 image"
`/arcade/src/SignCheck/Microsoft.SignCheck/Microsoft.DotNet.SignCheckLibrary.csproj` is the only place NerdBank.GitVersioning is referenced in Arcade... is it really being used?

@JohnTortugo, https://github.com/dotnet/arcade/pull/1023 mentions removing it in a checklist, but it's still there. Any ideas?

---

Some dependency the image doesn't have, looks like:

[code]

Repro:

[code]

Image defin

[2018-10-26 18:05] JohnTortugo commented on #1180
It shouldn't be there. It might also be causing problems with the versioning label.

[2018-10-26 18:11] sbomer commented on #1171
@markwilkie, I don't have a timeline for the end-to-end plan, but onboarding official builds to Azure DevOps is well on its way. We have most of the OS legs building and submitting tests to helix, and am still working on publishing. I think we'll be 80% of the way to having official builds on AzDO by end of next week.
@RussKeldorph @hoyosjs may have more info about the rest of the plan - we can di

[2018-10-26 18:28] #1180 closed

[2018-10-26 19:00] #1167 closed

[2018-10-26 19:12] dagood opened #1183 "Pack fails with DotNetBuildFromSource=true"
These projects have `ExcludeFromSourceBuild` set, so they aren't `Restore`d, but then they try to run some targets during `Pack` which fail:

[code]

I'm guessing there are some new targets that need to be added to:

https://github.com/dotnet/arcade/blob/bcf675d551d7d9fc25277fdb8dc19a19989f462b/src/Microsoft.DotNet.Arcade.Sdk/tools/Empty.targets#L9-L20

Repro:

[code]

(`PackageProjectUrl` is prov

[2018-10-26 19:15] weshaggard commented on #1176
It looks like the BuildTools optional tooling stuff hooked onto the Sync target (https://github.com/dotnet/buildtools/blob/0fa455c550abb4f49f4830a7f2fa78609f373fd0/src/Microsoft.DotNet.Build.Tasks/PackageFiles/OptionalTooling.targets#L12) I deleted that target from corefx recently (https://github.com/dotnet/corefx/commit/66392f577c7852092f668876822b6385bcafbd44#diff-3ad318a39efd856540e8cf813f20ec0

[2018-10-26 20:14] jonfortescue opened #1184 "Add documentation for basic test sending today"
There is a way to send basic tests to Helix today:

- Bootstrap the CLI onto Helix using the JobSender
- Use a command something like `dotnet.exe exec --depsfile "E:\src\repos\github\winforms\artifacts\bin\System.Windows.Forms.Tests\netcoreapp-Windows_NT-Debug\netcoreapp2.0\System.Windows.Forms.Tests.deps.json" --runtimeconfig "E:\src\repos\github\winforms\artifacts\bin\System.Windows.Forms.Tests\

[2018-10-26 20:20] weshaggard commented on #1176
https://github.com/dotnet/corefx/pull/33076 should hook up the optional tooling targets again.

[2018-10-26 20:39] mmitche commented on #1139
#1186

[2018-10-26 20:39] mmitche commented on #1114
#1186

[2018-10-26 20:48] chcosta opened #1187 "Differentiate artifact types in documentation"
We need to define terminology in a way that makes sense and leads to less confusion due to overloaded terms.

Sample:

Side note:  I think "Publish build artifacts" / "Download build artifacts" is not "icky" for the above scenario and is actually the guidance we should be providing, particularly for public projects where blob storage is less of a simple option.  Azure DevOps is looking into suppor

[2018-10-26 20:56] dagood commented on #1183
Workaround is to delete the projects from the sln file. (This is fine for my purposes for now.)

[2018-10-26 20:57] JohnTortugo commented on #1081
Please take a look at my plan below (+some questions) to implement this. It doesn't seem like a big change.

**Question:** Which are the OSX extensions that we need to support? .dylib, .pkg?

- I plan to add a new static variable, [like this one](https://github.com/dotnet/arcade/blob/ba1453c0ef97843aab2d2e1cc63dd876896458e9/src/Microsoft.DotNet.SignTool/src/SignToolConstants.cs#L18), that will old

[2018-10-26 21:00] markwilkie commented on #1081
@leecow - can you confirm which osc extension we need?  .dylib, .pkg?

[2018-10-26 21:01] #942 closed

[2018-10-26 21:29] dagood commented on #629
With Darc in particular, I don't see any source-buildability issues yet beyond the dependency stuff I already mentioned in the issue description, so I just added some more info and more detail on the design suggestion.

[2018-10-26 22:03] weshaggard opened #1188 "Add override to block stable versioning for packages in version.props"
There are a number of packages in corefx that we intentionally do not want to make stable so we have defined a property called BlockStable which will block them from producing stable builds. Now that we are using the arcade versioning scheme we need to add that support here https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.props#L93.

Whenever BlockStable i

[2018-10-28 21:39] leecow commented on #1081
pkg is all that we currently sign.

[2018-10-29 15:24] mmitche opened #1195 "Add test result publishing to arcade templates"
We should have test result publishing added to the arcade templates, probably configurable  via a variable of some sort.

/cc @chcosta

[2018-10-29 15:37] mmitche opened #1196 "[Maestro] Subscription history should be more detailed in some cases"
Subscription history says useful things like "Checking merge policy for XXXXX".  In cases where merge polciies fail, we need more info to be presented in the API.  For example:
- Which checks failed
- Which checks passed

[2018-10-29 16:01] #1188 closed

[2018-10-29 16:09] chcosta commented on #440
I, personally, think this is still needed.  I haven't seen any changes around this...

[2018-10-29 16:20] weshaggard opened #1198 "SignTool not strong name signing or erroring for non-strong name signed binaries"
I'm in the process of switching corefx to using the signtool and I got it all plumbed and the signing succeeded but while verifying the signing I noticed that the binaries in the packages are authenticode signed but they are not strong name signed.

While I might have some configuration incorrectly setup I would have expected the signtool to error for any binary that isn't correctly strong name si

[2018-10-29 16:32] markwilkie opened #1199 "Incorporate (merge) doc from Adam"
@AdamYoblick wrote a nice doc based on his experiences starting from scratch.  This needs to be incorporated into the main docs.

https://teams.microsoft.com/_#/docx/viewer/teams/https%3A~2F~2Fmicrosoft.sharepoint.com~2Fteams~2FNETCoreEngServicesPartners~2FShared%20Documents~2FArcade~2FArcade%20-%20Starting%20From%20Scratch.docx?threadId=19%3A1dad2081c8634f34915d88dce6220265%40thread.skype&message

[2018-10-29 16:34] markwilkie commented on #1169
@sbomer - is this blocking you?

[2018-10-29 16:36] markwilkie commented on #1195
/cc @jonfortescue

[2018-10-29 16:38] markwilkie commented on #1056
@DavidStaheli - any insight?

[2018-10-29 16:50] sbomer commented on #1169
@markwilkie not blocking, I've got a workaround (setting the nuget package path to prevent execution of https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/RepoLayout.props#L33).

[2018-10-29 17:53] jcagme opened #1202 "[Darc] Use interface on top of ILocal and IRemote"
https://github.com/dotnet/arcade/pull/1153#discussion_r228297823

[2018-10-29 18:05] #1139 closed

[2018-10-29 18:05] #1114 closed

[2018-10-29 18:06] mmitche commented on #1161
Initial findings are the that pool does not appear for use in the dnceng instance, and yaml cannot reference it.  Ongoing conversations with Azure DevOps on this.

[2018-10-29 18:07] mmitche opened #1203 "[BYOC] Move BYOC into Arcade"
Move the BYOC pool provider into Arcade.

[2018-10-29 18:08] mmitche commented on #1203
I'll probably not PR and merge this until I have a working pool provider in production.  Currently blocked on getting that to work.  Code has been moved into the arcade repository though.

[2018-10-29 18:10] dagood commented on #1202
I don't understand the name "type manager" in this context.

For something that sits on top of `ILocal` and `IRemote`, I'd expect an interface, not an abstract class. The hierarchy could be reworked, though, to have some abstract class on top and concrete `Local` and `Remote` implementations. (Abstract class would be holding any logic that's indifferent to local/remote, not sure if there is any.)

[2018-10-29 18:28] weshaggard opened #1204 "Add support for resigning binaries in SignTool"
There are a number of times where we need to re-sign a strong named binary. For example for libraries where we have the full public/private key (i.e. open key) that we need to rewrite them after compile which causes any full signing the compiler did to become invalid. CoreFx has a number of cases like the GenFacades tool that has this issue. Another example would be adding optimization data to the

[2018-10-29 20:05] #998 closed

[2018-10-29 20:09] mmitche opened #1205 "[darc/maestro++] Maestro schedule based update cron strings should be configurable"
We can't force everything to go at 5am or so.  It should be configurable on a per-subscription basis, and should take generic cron strings, ideally with `@daily` shortcuts for typical cases.

[2018-10-29 20:09] mmitche commented on #1205
/cc @alexperovich

[2018-10-29 20:32] chcosta commented on #1195
If we're going down this path, then we may want to add artifact publishing as well to the Arcade templates so that, by default, if you're using arcade to build, we ensure your artifacts (logs) get published.

[2018-10-29 21:00] mmitche opened #1206 "[Maestro] Use webhooks for subscription updates"
Rather than polling every 5 minutes or so, we should receive github webhooks to control subscription updates.

[2018-10-29 21:00] mmitche commented on #1206
/fyi @alexperovich

[2018-10-29 22:26] livarcocc opened #1207 "Allow repos to specify a path to the CLI to be used for tests"
This is probably only needed for the CLI.

But in there, in order for us to be able to eventually publish and run tests against random CLIs, we need the ability in arcade to specify a path to the CLI to be used for tests during the test phase of arcade.

This is the case because for the CLI, we want the just build CLI to be tested and not the global.json one and many of our tests are simply end-to

[2018-10-29 22:50] livarcocc commented on #1207
Closing.

@tmat helped me out. We can set DotNetTool for that.

[2018-10-29 23:18] #1207 closed

[2018-10-30 00:14] jonfortescue commented on #1195
@mmitche Is this for tests run on Helix or on the AzDO build machines? Or is it even more generic than that?

[2018-10-30 01:12] jonfortescue opened #1209 "JobSender regression -- HelixWait task no longer breaks the build on work item/test failure"
Need to add logic to break the build when that occurs.

cc / @alexperovich

[2018-10-30 01:29] tmat commented on #1171
No, it does not require going thru build scripts. As I pointed you can use `PushToBlobFeed` task directly by referencing `Microsoft.DotNet.Build.Tasks.Feed`.

The pipeline has extensibility points that should allow you to insert other build steps that you might need. Arcade build pipeline is designed to drive the build process. It's not designed to be consumed by another build project that drives

[2018-10-30 01:34] tmat commented on #1176
This is how we handle IBCMerge in Roslyn and msbuild:

https://github.com/dotnet/roslyn/blob/master/.vsts-ci.yml#L29-L32
https://github.com/dotnet/roslyn/blob/master/build/ToolsetPackages/InternalToolset.csproj

[2018-10-30 01:44] tmat commented on #1204
I needed this for re-signing signed CoreFX binaries after merging IBC data into them.

This task clears the authenticode signature, which causes the sign tool to pass it to the signing service:
https://github.com/dotnet/roslyn-tools/blob/master/src/BuildTasks/Unsign.cs

Does the signing service re-sign already signed binary if its signature doesn't match the content? If so then we should need Unsi

[2018-10-30 04:02] chcosta commented on #1171
@sbomer, let's try to find time to look at this together tomorrow. Referencing the feed package should be sufficient but perhaps we're missing something about your scenario.

[2018-10-30 15:15] mmitche opened #1211 "[Darc] Should use its own fork for GitHub updates"
Darc should not push new branches to the main repo.  It introduces a cleanup issue over time (if branches are not deleted) and increased number of refs.

[2018-10-30 15:16] mmitche commented on #1211
/cc @alexperovich @jcagme

[2018-10-30 15:27] dagood commented on #1211
Also prevents issues like https://github.com/dotnet/standard/issues/948 if Darc somehow manages to make an unfetchable branch again.

[2018-10-30 15:44] tmat commented on #1204
Thinking about this more - I think the approach with `Unsign` task that we now use in Roslyn is actually simpler. Ideally, any tool that rewrites a binary should clear the signature. For tools that do not (like IBCMerge) we just call `Unsign` task on their output and then everything else proceeds as usual. There is no need for special signing configuration, the SignTool detects that the binary is

[2018-10-30 15:44] mmitche opened #1212 "[Darc] Darc created uncloneable repository"
With this pull, https://github.com/dotnet/standard/pull/947, the branch darc created in that repo caused the repository to not be able to be cloned.  Some info:

[code]

We deleted the branch and the error went away.  Looking at the git tree, here are the relative commits:

[code]

No idea how this happened, I'm firing off a GH support request for this.

[2018-10-30 15:45] #1212 closed

[2018-10-30 15:45] mmitche commented on #1212
Issue moved to [dotnet/core-eng #4508](https://github.com/dotnet/core-eng/issues/4508) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-30 16:01] MattGal commented on #1209
Can either of you help me understand how  this is a regression?  I can't seem to find any code in the Helix Arcade SDK that looks at XUnit results of even work item exit codes

[2018-10-30 16:01] weshaggard commented on #1176
@tmat how to you handle the credentials for the feed? Is that hidden away in the feed guid you are using?

[2018-10-30 16:20] tmat opened #1213 "Replace BlockStable with !IsShipping in Version.props"
Update CoreFX to use `IsShipping`.

[2018-10-30 16:22] tmat commented on #1176
Yes, the DevOps build task runs with credentials that can access that guid feed.

[2018-10-30 17:00] weshaggard commented on #1213
cc @ericstj

What other implications does IsShipping have? From a quick look it would appear that things still get signed so that is good.

[2018-10-30 17:50] #1170 closed

[2018-10-30 18:28] markwilkie commented on #1204
I like how @tmat is thinking about this too.

[2018-10-30 19:10] DavidStaheli commented on #1056
Hi @markwilkie .  We finished this feature several weeks ago, but it was hidden behind a feature flag pending additional testing.  We tested it last week and found a bug that we're working to fix.  @madhurig, can you please comment on how soon it will be fixed and potentially available to dotnet/arcade?

[2018-10-30 19:43] weshaggard commented on #1204
I agree we should include this support in SignTool task and avoid needing to create custom targets to workaround this.

[2018-10-30 19:45] weshaggard commented on #1204
For corefx scenarios we wouldn't need to worry about using an "unsign" task for our rewriters we would simply delaysign things with the open key like we do with all the other keys and then the SignTool would sign it. The only reason we had to hack around this in the past is because the signing service doesn't support this custom Open key so we needed to handle it directly.

[2018-10-30 20:15] markwilkie commented on #1056
Thanks @DavidStaheli - that's good news indeed.

[2018-10-30 20:59] tmat commented on #1176
What is the local dev scenario for merging optimization data?

[2018-10-30 21:01] tmat commented on #1176
Do you mean just replicating potential failure locally? If so then yes, it's not hard to get the package from the VS feed.

[2018-10-30 21:11] tmat commented on #1213
It does not disable publishing PDBs in general. Only Windows PDBs. Portable PDBs are still published.

`IsShipping` means it does ship via an official channel, e.g. nuget but not only nuget:

@weshaggard Commented on `BlockStable`:

Which to me sounds like the same thing that `!IsShipping`.

If `BlockStable` is not what the comment means then please define it precisely.

[2018-10-30 21:13] adiaaida commented on #1176
There really isn't much of a local dev scenario for merging optimization data, other than for testing new functionality before checking in (like how @DrewScoggins is working on getting IBC data processed for Linux jobs). The only place that optimization data is consumed for CoreFx is in the official build.

[2018-10-30 22:01] markwilkie commented on #1176
Perhaps yet another opportunity for a AzDO tasks?

cc/ @chcosta

[2018-10-30 22:05] tmat commented on #1176
I don't think we need a special task for this. The NuGet one already handles it just fine.

[2018-10-30 22:08] chcosta commented on #1176
A special task wouldn't address the "local dev scenario" @dagood brings up.  I'm also not sure that a task addresses the fact that most of these packages need to get plugged into the build.  It does seem that Arcade could perhaps provide an extensibility point here though which would provide these packages if certain authentication requirements were met.  That would allow an official build or a lo

[2018-10-30 23:22] tmat commented on #1176
I'm not sure what problem are we trying to solve here. The current solution works well enough. We can probably improve on it in future, once https://github.com/NuGet/Home/issues/6045 is fixed.

[2018-10-31 14:32] dagood commented on #1176
For local dev scenario, I think all I'm asking for is a pointer to a doc.

YAML templating or inclusion in some base template extensibility sounds fine. (Although it doesn't seem like anyone's really asking for that.) A custom-built task doesn't sound very useful though--I don't see what would/could be improved over the four-liner NuGet Restore task tmat's already pointed out in both issues tracki

[2018-10-31 15:39] chcosta commented on #1176
I don't think this would be a YAML template thing, I hadn't seen that proposed or even considered it.

[2018-10-31 15:53] dagood commented on #1176
Ah, sorry, that's what I interpreted `It does seem that Arcade could perhaps provide an extensibility point here though which would provide these packages if certain authentication requirements were met.` to mean--I was thinking too hard about it in context of build steps.

For the Arcade SDK, that would be similar to the BuildTools approach. What I'm thinking @tmat has said is that we shouldn't n

[2018-10-31 16:24] #1144 closed

[2018-10-31 18:05] #937 closed

[2018-10-31 18:07] jcagme commented on #1195
I've just merged a PR which included a change to [publish tes results](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=vsts&tabs=yaml). Results look like [this](https://dnceng.visualstudio.com/public/_build/results?buildId=37836&view=ms.vss-test-web.test-result-details).

To see the actual results, remove the filters where it reads "Outcome: Aborted (+1

[2018-10-31 18:38] tmat commented on #1176
@dagood This is the command to use to restore the internal toolset project:

[code]

[code]

[2018-10-31 18:41] maririos commented on #1176
@tmat is the `internal toolset project` part of Arcade? or something that will be ported to Arcade that everyone needs to know? Or is it something only Roslyn does.

@dagood it looks like the conversation has drifted from the original ask of the issue. Do you mind opening an issue with your request for a doc?

[2018-10-31 18:54] jcagme commented on #1195
Yes and was not my intention to imply that, it was more of a FYI. Sorry if I caused confusion

[2018-10-31 19:01] weshaggard commented on #1176
We should move this conversation to https://github.com/dotnet/arcade/issues/100.

[2018-10-31 20:04] jcagme opened #1226 "970"

[2018-10-31 20:05] jcagme opened #1227 "Improve Helix performance, reliability, and ease-of-use for preview 3"
- [x] Payload upload time is minimized by parallelizing and removing redundancy in the JobSender
**ETC: 8 Feb 2018**
- [x] The JobSender is made more reliable by hardening it against network glitches and payload collisions
**ETC: 22 Feb 2018** (edit: date slipped back a week due to snow and illness)
- [x] Customers can easily use documentation to get started with Helix
**ETC: 8 Mar 2018** (edit: d

[2018-10-31 20:30] jcagme commented on #71
Pinging this issue to know is there is an update also to know if we should fit this in preview (before 12/14) or after.

/cc: @weshaggard

[2018-10-31 20:32] jcagme commented on #143
Is this required for preview (12/14)?

[2018-10-31 20:33] jcagme commented on #309
@JohnTortugo can we close this?

[2018-10-31 20:34] AdamYoblick commented on #1150
Reopening this issue because this fix is needed in arcade and the Build.Repository.Provider variable is not available when the yaml is parsed.

[2018-10-31 20:36] jcagme commented on #906
@ericstj do you want to keep this around or we should open a new one if this resurfaces?

[2018-10-31 20:37] jcagme commented on #1096
This was fixed with https://github.com/dotnet/arcade/pull/1088

[2018-10-31 20:37] #1096 closed

[2018-10-31 20:42] jcagme commented on #833
Are there any updates @riarenas ?

[2018-10-31 20:44] jcagme commented on #338
Can this be closed now?

[2018-10-31 20:46] riarenas commented on #833
I believe the wok to be done here is:

* Windows:
  * Move the current install-tool.ps1 to the common library.
  * Create wrapper scripts for install-python and install-cmake that pass the download location to install-tool

* Linux:
  * Write a linux-y version of install-tool in the common library that helps with things such as getting args.
  * Change the current install-cmake.sh to use the new c

[2018-10-31 20:50] jcagme commented on #833
Thanks @riarenas. Is this something that should still be in your plate?

[2018-10-31 21:04] riarenas commented on #833
Yeah, the changes aren't too big, I can take fixing this up.

[2018-10-31 21:04] mmitche commented on #1154
My recent change to introduce testing here fixed:
- Version.Details.xml didn’t have the right sections in it (ProductDependencies and/or ToolDependencies)

It don't think I fixed:
- Had global.json with msbuild-sdk, but didn’t have a Version.Details.xml and
- global.json already had Arcade SDK in the msbuild-sdks section

This may be one of the skipped tests right now.  The way this was going to h

[2018-10-31 21:59] tmat commented on #906
Let's keep this open. We should add Clean target but it's not a pri for now.

[2018-10-31 22:28] #338 closed, assigned to weshaggard

[2018-11-01 20:23] mmitche opened #1239 "Stabilized product build using "channels""
As we approach RTW, we will need to produce a number of product builds (flow dependencies) that have stabilized bits where needed (e.g. coreclr doesn't need to produce stabilized bits, but corefx does for most packages.

In prodcon v1, we did this by basically producing a build to an isolated drop but not publishing those results to customer-used locations.  Basically, you don't publish these stab

[2018-11-01 20:30] markwilkie commented on #1239
This is probably the better version of https://github.com/dotnet/arcade/issues/435?

[2018-11-01 20:37] mmitche commented on #1239
Damn, I thought I might already have this somewhere.  I'll close the other one.

[2018-11-01 20:37] mmitche commented on #435
Closing in favor of #1239

[2018-11-01 22:04] riarenas opened #1241 "Add parameter to yaml templates that allow running "public" builds in the internal project"
Adding an "isPublic" parameter to the templates would let a dev specify that they want their build to be treated as a public build, even if they run in the internal project.

Related to one of the issues that @AdamYoblick faced when onboarding to Arcade from a private github repo detailed in #1150

[2018-11-01 22:08] AdamYoblick commented on #1241
Please add this to the eng\build.yml template as well. Even though this isn't part of the common folder, many customers will copy this straight from Arcade, so it would be nice to be able to pass it down.

I'm not sure how you're going to add it to vsts-ci.yml though. I tried specifying variables in the past and they do not resolve properly with delayed variable expansion. This is why you have to

[2018-11-01 22:08] chcosta commented on #522
Moved issues to https://github.com/dotnet/arcade/issues/228

[2018-11-01 22:08] #522 closed

[2018-11-01 22:14] riarenas commented on #1241
The way I see this going is that we need to add parameters to the templates under eng/common. Any yaml definition would be able to pass the parameter. Since it's not really a variable, there won't be the same issues that appear with variable evaluation.

There could be some issues if you're trying to decide the value of the "isPublic" parameter through a variable, but that would be strange, as it'

[2018-11-01 22:17] AdamYoblick commented on #1241
Yes, but eng/build.yml isn't under eng/common, and many teams might still use that. So I was just suggesting that you put it on that template as well. :)

There needs to be some sort of solution for the vsts-ci.yml as well, since that expression occurs five times in that file as well.

[2018-11-02 16:25] dagood opened #1298 "Disable commit description auto-linking to dnceng internal issues"
(Moving from https://dnceng.visualstudio.com/internal/_workitems/edit/103 because this isn't AzDO feedback anymore--it's actionable by us.)

Matt Cooper told us this is a per-repo setting, so we have to disable them. (I did what I could and disabled it for the source-build repo.)

@chcosta @markwilkie

[2018-11-02 17:22] mmitche commented on #1203
Still working on this.  The last attempt to use BYOC in prod didn't work in the AzDO side, so I want to verify that everything is okay.

I also want to ensure that the HMAC token validation is in an implemented the right way.

[2018-11-02 18:10] chcosta commented on #1085
This is in progress.

One-pager - https://github.com/dotnet/core-eng/issues/4473

[2018-11-02 18:18] chcosta commented on #849
Not sure if this is really a "move to Azure DevOps" issue, maybe it is... kicking out for triage.

[2018-11-02 18:22] chcosta commented on #1060
@riarenas is working on this along with https://github.com/dotnet/core-eng/issues/4472.  @riarenas , it's up to you whether you want to close this issue and track progress with the other or leave them both open.

[2018-11-02 18:29] chcosta commented on #231
This exists - https://github.com/dotnet/arcade/blob/master/Documentation/MigrationPlan/CoreClrPlan.md

[2018-11-02 18:29] #231 closed

[2018-11-02 18:41] HaoK opened #1245 "HelixJob with multiple workitems with different payloads seem to get last payload"
We are making some progress in the helix conversion for asp.net, we are generating a payload directory for each of our test projects, and submitting a single helix job with a workitem + payload per test we want to run:

For example: https://mc.dot.net/#/user/HaoK/pr~2Fextensions~2Ftests/test~2Fhaok/11.2.1

The issue I'm seeing right now is that it appears each of the work items is getting sent the

[2018-11-02 18:46] HaoK opened #1246 "Helix payloads gets truncated if payload directory ends in a slash"
This happens when WorkItemDirectory ends in a slash

Example of the failure, first character is munged in the unzip

https://mc.dot.net/#/user/dotnet-github-anon-kaonashi-bot/pr~2Fhaok~2Fhelix/type~2Ftests/20181025.12/workItem/WorkItem/wilogs

[code]

cc @natemcmaster

[2018-11-02 19:11] anurse opened #1248 "Packaging build scripts/tools rather than copying them into repos"
Was looking at on-boarding some ASP.NET "labs" repos as a first dip into Arcadifying ASP.NET and saw that we need to [copy a large quantity of files](https://github.com/dotnet/arcade-minimalci-sample/tree/master/eng/common) to build the `eng/common` directory. We've gone through this a number of times with our KoreBuild tools and found it *very* difficult to manage aligning these files cross-repo,

[2018-11-02 20:01] markwilkie commented on #1246
Thanks @HaoK - is this blocking you by any chance?

cc/ @jonfortescue @Chrisboh

[2018-11-02 20:07] markwilkie commented on #1248
Indeed @anurse - there's been plenty of discussion.   <grin>

Check out https://github.com/dotnet/arcade/issues/1059 for the (documented) history here thus far, and the two issues that specify next steps.

[2018-11-02 20:14] jonfortescue commented on #1245
FYI @chcosta @alexperovich

[2018-11-02 20:18] anurse opened #1251 "DOTNET_INSTALL_DIR is corrupted if there are multiple dotnet CLI installs on the path"
If the user has multiple dotnet CLIs on their path, the DOTNET_INSTALL_DIR value gets corrupted because this code doesn't properly select the *first* result:

https://github.com/dotnet/arcade-minimalci-sample/blob/a249ce8e79a9b71d5367d7bc59132121a7490d5b/eng/common/tools.ps1#L36-L38

On my machine, where the PATH search yields multiple results, DOTNET_INSTALL_DIR ends up being set to multiple dire

[2018-11-02 20:21] anurse opened #1253 "DOTNET_INSTALL_DIR is set by build.ps1 which leaks in to other builds"
I noticed this while debugging #1251. The build script sets the `DOTNET_INSTALL_DIR` environment variable in the current shell (because I invoked `./eng/common/build.ps1` from a PowerShell instance) which means that when I go to a different repo in the same shell instance, it will use whatever resolution logic applied to the previous repo. This is particularly bad if the build script ended up usin

[2018-11-02 20:21] riarenas opened #1254 "Explore simplifying vsts-ci.yml by adding an intermediate template"
from https://github.com/dotnet/arcade/pull/1243#issuecomment-435483740

[2018-11-02 20:39] HaoK commented on #1246
No we just trim the slash so its not high priority

[2018-11-02 20:40] anurse opened #1255 "build.ps1 'projects variable reso"
Repro steps:

1. Given a repo with a solution at `./src/Proxy/Proxy.sln` (or some other relative path below the repo root)

2. Run the following command

[code]

Expected behavior: Arcade builds the `./src/Proxy/Proxy.sln` project

Actual behavior: The following error:

[code]

As far as I can tell, this is because nothing actually resolves the relative path before passing it to the `<MSBuild>` ta

[2018-11-02 20:46] anurse opened #1256 "Multi-solution build issues"
FYI: This issue will likely block ASP.NET onboarding (cc @natemcmaster)

Most ASP.NET repositories are multi-solution repositories, or will be by the time Arcade is fully adopted. For example, I'm looking at on-boarding [aspnet/AspLabs](https://github.com/aspnet/AspLabs), which has the following layout (the `eng/common` directory is only present in my [WIP branch `anurse/arcade`](https://github.co

[2018-11-02 20:47] anurse commented on #1248
Yes, @natemcmaster pointed me at that, but I didn't see anything in the linked new issues about actually reducing the content of the `eng/common` directory. Is that off the table? That would be unfortunate given that there's a lot in that directory (native CMake stuff, for example) that doesn't apply to our repos and having to have multiple copies of it seems brittle (since it would require change

[2018-11-02 21:32] chcosta commented on #1245
This seems bad.  @alexperovich , where does this fall on your priority list?

FYI @Chrisboh @markwilkie

[2018-11-02 21:36] markwilkie commented on #1245
@alexperovich is working on this.  @Chrisboh and I need to better fund the effort.  Also, @jonfortescue has cycles starting Monday.

@alexperovich / @jonfortescue - do either of you have suggestions for a workaround or guidance?

[2018-11-02 21:39] weshaggard commented on #1256
Today you can already specify the projects you want via Build.props, see https://github.com/dotnet/corefx/blob/master/eng/Build.props#L4. That should allow you to wildcard all your solutions if you want. Corefx just calls a root build.proj which we have as a traversal project as we don't actually use our solution files for building at the command line. We generally need to phase our builds (i.e. b

[2018-11-02 21:39] alexperovich commented on #1251
That code is a bit odd. Why is it not just `(Get-Command dotnet.exe).Path` on windows and `command -v dotnet` on linux?

[2018-11-02 21:45] alexperovich commented on #1245
@HaoK can you show the project you are running. A link to the binlog would be useful also.

[2018-11-02 21:49] alexperovich commented on #1245
Actually, as a quick test. Are all the payload directories you are sending named `publish`. I think the system may be uploading them all to the same container with the name `publish.zip` because the "folder name" of all the directories is the same. So the last one overwrites the others.

[2018-11-02 21:54] HaoK commented on #1245
Yeah they are all publish because we just using the output of our publish target. I can try copying them to a different folder to see if that will work around this issue.

[2018-11-02 21:55] alexperovich commented on #1245
Its a one line fix if that is the problem. I can have a PR in a few minutes.

[2018-11-02 22:04] #1241 closed

[2018-11-02 22:08] JohnTortugo opened #1257 "Make Arcade sign 3rd party binaries with dual certificate"
As shown in [this build](https://dnceng.visualstudio.com/public/_build/results?buildId=39232&view=logs) we are currently trying to sign some 3rd party binaries with the Microsoft400 certificate. We should change Arcade configuration to sign those files with a dual certificate.

[2018-11-02 22:19] anurse commented on #1256
Excellent, I'll take a look at this.

@natemcmaster would have more context on when we'll be onboarding more repos. I'm onboarding a small side-car (non-shipping) repo of prototype stuff we're considering for 3.0 (and beyond, or never ;)) right now.

[2018-11-02 22:20] MattGal opened #1258 "BUG: Arcade msbuild.sh fails to fail on errors."
See the "publish to azure" part of this build:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=2176622&view=logs

[code]
(But, this build 'passed')

I'd expect this is something funky with exit codes, and generally every time I've tried to convince VSTS that they're not handling them correctly they convince me that I did exit with a 0.  So that's a possibility.

@we

[2018-11-02 22:43] safern commented on #1258
@weshaggard it seems like we are missing to pass `--warnaserror false` to the .sh script directly in corefx. Rather than being an arcade bug, I think it is something we missed in corefx directly?

Should we change the warnaserror behavior to have its default to be false?

[2018-11-02 22:45] weshaggard commented on #1258
While I agree we probably need to disable warnaserror in our build definition that still doesn't explain why msbuild.sh didn't correctly cause the devops step to fail.

[2018-11-02 22:46] MattGal commented on #1258
Correct the bug is about ignoring failure.  Interestingly we don't ignore this failure on FreeBSD:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=2178192&view=logs
... which is how I noticed this.

[2018-11-02 22:50] safern commented on #1258
From looking at the log in the freebsd build it looks like what is causing to have a 127 exit code is actually an incorrect parameter to the build script:

[code]

[2018-11-02 22:53] wfurt commented on #1258
missing -- before that? In either case it seems like it did not publish in either case, right?

[2018-11-02 22:57] MattGal commented on #1258
you're right, I think that my workarounds for Bash and environment stuff got broken by a ;.

[2018-11-02 23:17] HaoK commented on #1245
Yeah that was the issue, copying all the payloads to a unique name fixed the overwriting

[2018-11-02 23:23] wfurt opened #1261 "corefx no longer build on Ubuntu 18."
[code]

It seems like Arcade brings in new dependencies and Native part seems to have issues.
Since this is out of control this may be problematic in future.

cc: @weshaggard @safern

[2018-11-05 15:56] mmitche opened #1263 "Remove higher-precedence older packages from myget"
As repos switch to arcade versioning (lower build numbers) and 3.0 prerelease labels ('preview' vs. 'previewXX') the "newest package" listed on myget will become stale.  We can fix this by unlisting or deleting older packages.

It would be good to do an overall cleanup.  The current feed has ~335k listed packages on it.

- Identify no longer needed prerelease packages from already released .NET Co

[2018-11-05 16:55] hoyosjs commented on #642
The subscriptions are up and running for arcade and helix SDKs, will need to add more subscriptions as needed (CoreFX for tests, optimization, probably a dependency on self to consume ILAsm, etc.)

[2018-11-05 18:16] JohnTortugo commented on #412
@anurse is this blocking to shipping preview on 12/4?

[2018-11-05 18:41] hoyosjs commented on #642
Also, the build definitions are getting polished now. Will update thisissue as we start publishing assets to BAR

[2018-11-05 19:17] jonfortescue commented on #907
@alexperovich do you want to close this and track it with your issue?

[2018-11-05 21:29] weshaggard commented on #684
This work has been completed. CoreFx now consumes arcade sdk.

[2018-11-05 21:29] #684 closed

[2018-11-05 21:30] weshaggard commented on #687
Closed #684 as corefx is now consuming and using arcade sdk.

[2018-11-05 21:35] RussKeldorph commented on #642
@sbomer FYI

[2018-11-05 21:36] RussKeldorph commented on #642
@morganbr FYI

[2018-11-05 22:55] jcagme opened #1270 "SignTool functionality complete"
Last set of Signing issues required in Arcade so we can call Signing to be complete

[2018-11-05 23:41] markwilkie commented on #274
no longer relevant

[2018-11-05 23:41] #274 closed

[2018-11-05 23:43] MattGal commented on #274
because we use the storage APIs and already did the work in the arcade Helix SDK, or ?

[2018-11-05 23:43] markwilkie commented on #611
@jonfortescue  to add links to the specifics issues which describe what this means.

[2018-11-05 23:49] markwilkie commented on #903
@alexperovich  - once there's an issue tracking the work to provide visibility to all logs, link to it here and close the issue please.

@nguerrera - please touch bases with @alexperovich to make sure your scenario is taken care of.  We're pretty sure it is....

[2018-11-05 23:50] markwilkie commented on #903
Found it!  (grin)  #907 is tracking the actual work.

[2018-11-05 23:50] #903 closed

[2018-11-05 23:52] weshaggard opened #1271 "Add check to sign.proj that ensures you have some item to sign"
CoreFx added a target to validate that there were items being passed to the signtool see https://github.com/dotnet/corefx/blob/master/eng/Signing.props#L2. This should probably generalized and added to arcade as an extra validation step. The last thing we want to happen is someone mess-up the output and nothing gets signed or published.

[2018-11-05 23:54] markwilkie commented on #1069
@alexperovich has some ideas about putting the cli on the path using AzDO.  @jonfortescue , please follow up with Alex.

[2018-11-05 23:55] markwilkie commented on #1069
Moving out beyond preview II until (or unless) there's a specific customer ask.  @chcosta - let us know if there's an ask right now.

[2018-11-05 23:57] JohnTortugo commented on #1271
The SignTool has a [check for that condition](https://github.com/dotnet/arcade/blob/7e178f9f6c01d445f5561366e0b6e969dd5b85fe/src/Microsoft.DotNet.SignTool/src/SignToolTask.cs#L121); but I agree that it would be nice to have a separate step to validate things.

[2018-11-06 00:03] markwilkie commented on #1209
The current (longer term) thinking is to let AzDO fail (or not) the build based on the fact that there are failing tests or not.

@AdamYoblick - we're working on getting the Helix test results loaded directly into AzDO under the test tab.  (pretty cool)  However, this won't be ready until a few weeks from now.  Given that any short term fix would be both expensive, and throw away - can you live wi

[2018-11-06 00:06] markwilkie commented on #934
@safern had a good idea to look for a helix project IF no properties are set as part of the Helix YAML entry.

[2018-11-06 00:19] AdamYoblick commented on #1209
That IS pretty cool :)

But I think those are two separate tasks, no? A failed helix job failing the build seems unrelated to getting helix job results in the test tab imo. But in either case, yes, we can live with it, we'll just run our tests on the build machine in the meantime

[2018-11-06 00:46] safern commented on #934
It could be if no properties are set or also if a specific parameter is set in the YAML template, then that is passed to the msbuild project which has an import conditioned to that property and if the file exists. That would give repos extensibility.

[2018-11-06 00:47] AdamYoblick commented on #1209
Ah, then that sounds perfect. Will this work for arbitrary helix jobs as well (functional tests, etc...)?

[2018-11-06 00:50] jonfortescue commented on #1209
Yes. All Helix jobs will work this way.

[2018-11-06 01:09] natemcmaster opened #1272 "Cannot figure out which package causes signtool error"
As the binaries in our packages shift, we occasionally hit this error:

From the error message, I can't figure out which vsix, zip, or nupkg contained "Banana.dll". It would be nice if the error message could also contain the name of container so I can figure out what is pulling this file.

[2018-11-06 01:10] jcagme commented on #1272
/cc: @JohnTortugo

[2018-11-06 02:07] safern opened #1274 "If helix sdk fails when sending job because there was a bad request, error is not diagnosable"
If the job failed to be sent for some reason, I would get:

[code]

So then I have to repro locally, open fiddler and see what the request actually returned in the json.

It would be great if this error could be improved and show the actual error in the request form.

cc: @alexperovich @jonfortescue

[2018-11-06 16:51] weshaggard commented on #1271
That is just a warning and easily missed in a large build log. I added that extra error case to make sure that we fail the build when we didn't sign files.

[2018-11-06 18:10] #1257 closed

[2018-11-06 18:36] mmitche opened #1276 "Non-SDK projects that import arcade targets fail to determine an SDK version"
A project that does not use the NET SDK (e.g. some corefx projects), but use some of the arcade targets tend to eventually import Versions.targets and fail because of https://github.com/dotnet/arcade/pull/1234

@tmat I'm assigning this to you.  We probably can't require the Net sdk be used in each and every project that uses any of arcade.  Maybe this check should be a conditional based on whether

[2018-11-06 18:37] anurse commented on #412
No, we've worked around it. It's a still a very manual process though

[2018-11-06 19:44] markwilkie commented on #1274
Any suggestions @alexperovich ?

[2018-11-06 21:20] jonfortescue commented on #1274
@alexperovich autorest seems to claim this is GIGO https://github.com/Azure/autorest/issues/693

[2018-11-06 21:33] alexperovich commented on #1274
We do this already IIRC. We have a "default" response. That doesn't really fix this issue though because the exception message is still just "The operation failed with 'BadRequest'". The exception just happens to have a Body property that can be inspected, but that data won't be available with the stack trace.

[2018-11-06 21:57] safern commented on #1274
Yes I'm actually expecting something like, `"The operation failed with 'BadRequest' with message: 'unknown QueueID'"`

[2018-11-06 23:09] HaoK opened #1280 "DotNetCliPackageType is case sensitive"
When trying to install the sdk, if SDK is passed instead of "sdk"
[code]

You get an error
[code]

Might be worth normalizing this to lowercase?

cc @natemcmaster

[2018-11-07 00:47] #1080 closed

[2018-11-07 00:47] #1081 closed

[2018-11-07 00:52] JohnTortugo opened #1282 "Make Arcade use the latest version of the MicroBuild Signing Plugin"
MicroBuild folks just deployed a new version of the plugin:

[2018-11-07 00:53] alexperovich commented on #124
This will be solved as part of dotnet/core-eng#3728. For that work we need generated clients for both repro-tool and BAR/Maestro, we will get Helix for free when that is done.

[2018-11-07 00:53] #124 closed

[2018-11-07 00:54] alexperovich commented on #1274
I really want it to return an `ArgumentException` with message `The queue id '<queueid>' does not exist`. That requires a bit more work. I plan to fix this along with the other generated api clients as part of dotnet/core-eng#3728.

[2018-11-07 02:00] safern commented on #1274
I’m wasn’t referring to include the queue id value that doesn’t exist. I’m that was the literal error I was getting in the response body. Had to look at it through fiddler though.

[2018-11-07 11:34] tmat commented on #1276
Sorry about that. Forgot we have projects that do not import .NET Core SDK and only tested it on repos that use the SDK.

yup, that'd be the right fix.

[2018-11-07 15:48] markwilkie commented on #1274
@alexperovich - is there something we can do shorter term to by just grabbing the response body contents so folks don't need fiddler?

[2018-11-07 18:40] JohnTortugo opened #1285 "SignTool failling to sign .py files in test mode"
For instance, this build (Windows -> Debug) failed for that reason: https://dnceng.visualstudio.com/internal/_build/results?buildId=40784&view=logs

[code]

[2018-11-07 18:42] JohnTortugo commented on #1285
I'm checking with MicroBuild folks how to proceed on this.

[2018-11-07 19:02] safern opened #1286 "HelixWait fails after some time with TaskCanceledException even if the build didn't timeout"
I constantly get the following error:
[code]

I think this just happens when multiple HelixTargetQueues, I don't recall seeing this when using only one queue.

See build for more details: https://dnceng.visualstudio.com/public/_build/results?buildId=40713&view=logs

cc: @alexperovich @jonfortescue @markwilkie

[2018-11-07 19:12] markwilkie commented on #1256
@anurse - do you have what you need here so far?

[2018-11-07 19:14] markwilkie commented on #1209
We can close once AzDO is working for us.

[2018-11-07 19:28] JohnTortugo opened #1287 "Build-def for signing OSX files"
Create a build-definition that could act as an interface for Arcade SignTool 'package' to sign OSX files.

[2018-11-07 19:31] markwilkie commented on #1056
@madhurig and @DavidStaheli - Can you guys confirm this is already sorted?

cc/ @chcosta

[2018-11-07 19:32] jonfortescue commented on #1286
ah, right sorry. Yes, adding binlogs would help you debug this for sure.

[2018-11-07 19:32] markwilkie commented on #99
@maririos - any chance you can triage this?

[2018-11-07 19:34] markwilkie commented on #1261
@wfurt - @tmat is OOF, in the meantime is this blocking you?

[2018-11-07 19:36] markwilkie commented on #1258
@safern  - does https://github.com/dotnet/corefx/pull/33229 solve this or is there more to do?

[2018-11-07 19:36] wfurt commented on #1261
no. This popped up on FreeBSD as well and @weshaggard showed me how to disable that.
I primarily opened this to show how this new dependency can limit us to bring new OSes and work on various Linux distros. In past we did not have Native build dependency we do not control.

[2018-11-07 19:37] MattGal commented on #1258
No that PR only changes it so the build gets to run. If it had actual errors it'd still fail to fail.

[2018-11-07 19:38] safern commented on #1258
No it doesn't solve it, we need to figure out why the script is not making the build to fail when there is an error.

[2018-11-07 19:38] markwilkie commented on #1251
@anurse - thoughts on @alexperovich comment?

[2018-11-07 19:40] markwilkie commented on #1198
@JohnTortugo / @jcagme  - looks like this may have fallen through the cracks.  Could you guys take a peek and make sure the right things happen please?

[2018-11-07 19:42] markwilkie commented on #1195
@jonfortescue - can you confirm this is already being tracked elsewhere?

[2018-11-07 19:43] JohnTortugo opened #1288 "Test signing .py files as special case"
MicroBuild test signing for Python files isn't currently supported. We should make that a special case so our Debug builds don't fail.

[2018-11-07 19:43] #1285 closed

[2018-11-07 19:44] jonfortescue commented on #1195
@markwilkie No &ndash; I wasn't tracking this one since it wasn't Helix-related (by my understanding)

[2018-11-07 19:45] markwilkie commented on #1159
Closing until this comes up again

[2018-11-07 19:45] #1159 closed

[2018-11-07 19:47] markwilkie commented on #1150
@chcosta - Does guidance exist here?

[2018-11-07 19:49] markwilkie commented on #849
Closing in favor of https://github.com/dotnet/arcade/issues/863

[2018-11-07 19:49] #849 closed

[2018-11-07 19:50] chcosta commented on #1150
We don't have specific guidance for this scenario, but I'll file an issue.  I think we want both guidance, and to make sure there's a supported path so that teams don't have to fork code or do other craziness to make this work.  There will certainly be some effort on the part of repo owners going down this path but it shouldn't put them in a position where they can't get support (new changes).

[2018-11-07 19:51] chcosta opened #1289 "Provide guidance / support for private GitHub repos"
https://github.com/dotnet/arcade/issues/1150

[2018-11-07 19:51] AdamYoblick commented on #1150
@markwilkie The arcade team added a parameter to all the arcade templates called RunAsPublic which allows you to force this behavior, which eliminates the need for the Build.Repository.Provider check.

Although is the user doesn't know to pass this in, they will still get steps running that shouldn't be when using a private github repo. Unfortunately, there's no good way to enforce this without so

[2018-11-07 19:54] jcagme commented on #1287
Just making sure this is not needed for preview (given the Epic this is under)

[2018-11-07 19:56] JohnTortugo commented on #1287
@markwilkie is looking what is the timing for this.

[2018-11-07 19:56] markwilkie commented on #1258
@chcosta / @MattGal - can you guys take a look at this please?  I'd like to understand better what is happening that AzDO is not respecting the failure.  The fact that is shows as failing on BSD makes me suspicious that there might be a lurking AzDO bug somewhere.  Regardless, we need to understand the "why".

[2018-11-07 19:59] anurse commented on #1251
Sounds fine to me. I just want the script to find dotnet even when I have multiple on the PATH :)

[2018-11-07 19:59] anurse commented on #1256
Yeah, I think @weshaggard 's suggestion is working for us, I can close this.

[2018-11-07 19:59] #1256 closed

[2018-11-07 20:12] weshaggard commented on #1198
As soon as you support this corefx will start failing after uptake as there are a number of binaries that aren't fully strong-name signed currently because of https://github.com/dotnet/arcade/issues/1204 so you might want to tackle that one first.

[2018-11-07 20:43] MattGal commented on #1258
I've investigated this, and variations on it several times.  Every time I looked at the AzDO Agent's diag logs, it was showing that the script it called returned 0;  this would most likely indicate some subtle bash-ish at play causing us to not exit as we'd expect.

[2018-11-07 20:51] JohnTortugo commented on #1204
I'm not quite familiar with the signing service so I don't know if all things considered this would be a good option or not: @weshaggard wouldn't things be simpler if the signing service were able to also sign the binaries with an Open Key? That way, seems to me, we wouldn't even have to change the SignTool.

[2018-11-07 21:01] weshaggard commented on #1204
You can certainly ask the owners of the signing service again but when we asked them in the past they wouldn't do it for any non-protected key. That is why I suggest we add support directly in our SignTool for it.

[2018-11-07 21:08] markwilkie commented on #1204
@weshaggard - Are you currently working around this today like you used to in build tools?

I'm wondering if these two issues should be moved to post Preview 2 as I'd like to stabilize.

Thoughts?

[2018-11-07 21:18] weshaggard commented on #1204
No I'm not working around this as there isn't a great way to workaround it short of changing or stopping our use of SignTool. The issue is that we pass a set of nupkg packages to the SignTool and they it extracts all the binaries and signs them but for those binaries that use the Open key there is nothing in place in that pipeline that could strong name sign the binary. So to even workaround this

[2018-11-07 21:20] weshaggard commented on #1261
To help connect dots I've filed a similar issue in the sourcelink repo for RHEL 6 https://github.com/dotnet/sourcelink/issues/197.

[2018-11-07 21:49] markwilkie commented on #1204
Yup, makes sense @weshaggard.  We'll get this work started.

[2018-11-07 21:49] markwilkie commented on #1204
cc/ @jcagme

[2018-11-07 21:53] alexperovich commented on #1274
We can, it should be already available on the exception. Adding custom handling for that exception is doable.

[2018-11-07 21:57] jcagme commented on #1204
Is this currently breaking corefx? If so this should be fixed prior 12/4 (?)

[2018-11-07 21:57] #1288 closed

[2018-11-07 21:59] weshaggard commented on #1204
It isn't breaking corefx exactly but it is currently breaking core-setup consuming those corefx bits as the signing validation is failing in the core-setup builds. So I do think we should fix this ASAP.

[2018-11-07 22:00] jcagme commented on #1204
Sure. @JohnTortugo is already on it.

[2018-11-07 22:32] maririos commented on #99
@markwilkie sure

[2018-11-07 22:43] markwilkie commented on #1254
For now, the Arcade working group is thinking that we should leave things "inline" for now.  There are features coming (not soon), plus, it's hard when you keep adding more levels of indirection.

In addition, let's not forget that we're moving functionality into AzDO tasks.

@chcosta - could you link to the AzDO proposal for tasks?

[2018-11-07 22:43] #1254 closed

[2018-11-07 22:48] markwilkie commented on #1253
This is definitely something we need to address.  @anurse - I'm not reading this as currently blocking, can you confirm?

[2018-11-07 22:49] markwilkie commented on #1251
The solution to #1253 likely makes this better.

[2018-11-07 22:52] markwilkie commented on #1195
and fixed....:)

[2018-11-07 22:52] markwilkie commented on #1195
@jcagme - please update details on how this was fixed.

[2018-11-07 23:26] mikem8361 opened #1291 "Arcade limits the TestArchitectures to x64 on .NET Core"
In our dotnet-diagnostictests repo conversion to Arcade I’ve been working on, we want to run the xunit tests on Windows as x86, why does Arcade error on it?

In Test.targets line 39 (Arcade version 1.0.0-beta.18516.5) remove the <Error Text=... below:

[code]

[2018-11-07 23:33] markwilkie commented on #1253
Thanks @anurse.  We will do this, but likely after 12/14

[2018-11-07 23:36] jcagme commented on #1195
Mentioned above in https://github.com/dotnet/arcade/issues/1195#issuecomment-434790925. Basically I just added the `PublishTestResults@2` task to arcade's .vsts-ci.yaml so test results are published to the "Test" tab of the build

[2018-11-08 00:01] chcosta commented on #1195
That only fixes this for Arcade.  I believe that this was initially about adding this to the common templates.

[2018-11-08 00:07] brianrob commented on #99
@tmat, apologies for the delay.  I've sent you an S+ for this.

In the meantime, I am going to close this issue as the issue here around how we partition training data across assemblies isn't something that belongs in the arcade repo.

[2018-11-08 00:07] #99 closed

[2018-11-08 00:08] chcosta commented on #1254
https://github.com/dotnet/arcade/blob/master/Documentation/Projects/DevOps/Tasks/OnePager.md

[2018-11-08 14:09] tmat commented on #1272
Agreed. More precisely, the error should list _all_ packages that contain the file since there might be multiple.

[2018-11-08 14:20] tmat commented on #1291
This is because Arcade SDK assumes only a single .NET Core installation, which is 64-bit.
We would need to do some work to support 32-bit and 64-bit.
I'm thinking about removing `TestArchitectures` and instead enabling running 32/64 bit tests by setting the `DotNetTool` path to the corresponding `dotnet.exe`.

[2018-11-08 16:03] riarenas commented on #917
The current thinking for this is roughly:

1. Arcade build runs, generates new version of package in local environment
2. Darc updates the packages to use the new version in the local environment
3. Arcade builds again, if successful means the new version of the packages is good to generate.
4. If build fails, fail the build.

[2018-11-08 16:38] dsplaisted opened #1293 "Allow artifacts and dotnet installation directory to be overridden"
The arcade `tools.ps1` and `tools.sh` scripts currently set the `ArtifactsDir` or `artifacts_dir` unconditionally.  It looks like they respect the DOTNET_INSTALL_DIR environment variable, but if it is set then it needs to be to a location where the .NET SDK is already installed.  There's no way to specify a path to override the location where the scripts will download the .NET SDK to if necessary.

[2018-11-08 17:39] jcagme commented on #917
As a follow up of 3 I would include that if things worked we would move on with the "official build" which actually publishes the packages to the feeds and inserts the assets into BAR

[2018-11-08 17:58] JohnTortugo commented on #1204
Updating with the plan I've implemented.

The issue is:

“For keys like the Open key we cannot have the signing service strong name sign the binary because it is not a protected key with a protected certificate so the normal signing service will not sign it for us. We need to use either sn directly like we did in BuildTools (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Bui

[2018-11-08 18:50] natemcmaster opened #1295 "Make SIGN001 suppressable for specific files"
For example, this repo has this:
[code]

Without this, the build fails with an error:

We _could_ also completely suppress SIGN001, but that would lead us to miss valid instances of SIGN001. It would be good if we could make suppressions more granular.

[2018-11-08 21:48] Chrisboh commented on #1298
Closing from Core-eng as we moved this to arcade

[2018-11-08 21:50] dagood commented on #1298
This is Arcade, I'm guessing some UI wasn't clear?

[2018-11-08 21:54] markwilkie commented on #1298
Closing in favor of https://github.com/dotnet/arcade/issues/1298  (sorry for the confusion)

[2018-11-08 21:56] markwilkie commented on #1298
Oh that's weird....  we used the new gh "transfer" feature and it looks like a file hard link...

[2018-11-08 22:03] dagood commented on #1298
Clicking a link to the old issue like https://github.com/dotnet/core-eng/issues/4540 redirects me to this issue. My guess is you're looking at it through ZenHub, and their iframe is being redirected without being very clear about it. I guess it'll take them a bit to polish in response to the new feature. 🙂

[2018-11-08 22:34] JeremyKuhne opened #1299 "GenApi tool doesn't handle unmanaged constraint"
See https://github.com/dotnet/corefx/pull/33288#discussion_r231990032.

[2018-11-08 22:39] natemcmaster opened #1300 "SignCheck fails with IOException attempting to write to the error log"
I'm attempting to setup SignCheck on https://github.com/aspnet/Extensions, but Microsoft.DotNet.SignCheck.exe always fails while attempting to write an error log file.

**Repro**
Arguments:
[code]

**Result**
Verification partially completes, but then fails with a fatal error:

![image](https://user-images.githubusercontent.com/2696087/48231646-b69fe600-e363-11e8-8550-dd1f9f9ea330.png)

Ironically

[2018-11-08 22:42] joeloff commented on #1300
Is it running multiple instances of the SignCheck?

[2018-11-08 22:45] #1204 closed

[2018-11-08 22:47] natemcmaster commented on #1300
No. It looks like the same process attempts to open the same file multiple times.

![image](https://user-images.githubusercontent.com/2696087/48232033-2662a080-e365-11e8-8257-c635cb66f348.png)

[2018-11-08 22:52] joeloff commented on #1300
What happens if you switch to using the shortform parameters, e.g. -e instead of error-log-file? Also, for the input files, if you're giving it a folder, try something like c:\foo\*.* and pass -t to scan sub-folders.

I need to check, but I can't recall if it will just scan the files in the folder automatically. That might be a bug.

[2018-11-08 22:52] weshaggard commented on #1204
@JohnTortugo I believe only half of this work is done. You still need to plumb it into the sign.proj is that tracked by another issue?

[2018-11-08 22:53] JohnTortugo commented on #1204
Yeah, I still need to plug things. I'll create another issue for that.

[2018-11-08 22:55] JohnTortugo opened #1301 "Setup Arcade SDK to use SignTool to strong name sign files"
The SignTool task now accepts a new parameter to specify sn.exe path and also supports strong name signing files locally. We need to setup Arcade SDK to use the latest version of the tool and inform the new parameters to the task.

[2018-11-08 22:57] joeloff commented on #1300
Ignore my last comment. I tried the internal version I wrote for WebTools and it's happy with just root folders for the input files. I'll take a look at what's going on here

[2018-11-08 22:57] natemcmaster commented on #1300
Same error.

[2018-11-08 23:11] jcagme commented on #1299
FYI @wtgodbe

[2018-11-08 23:18] natemcmaster commented on #1300
I think I understand why. If the log is in the directory being recursively searched, the tool attempts to open the log file to check for signing.

[2018-11-09 01:55] JohnTortugo commented on #1301
I crafted the function below to lookup the path to 'sn.exe' on common directories. Right now what I'm thinking is to change SignTool again to use this function if no path is specified as a parameter. What do you think?

[code]

[2018-11-09 03:05] #1070 closed

[2018-11-09 13:46] tmat commented on #1301
I'd rather avoid dependency on the machine state. Can't we package `sn.exe` into a standalone NuGet package and add a `PackageReference` to Tools.proj in Arcade SDK? Then pass the path to `sn.exe` as a parameter to the SignTool task.

[2018-11-09 13:54] tmat commented on #1295
Sounds like we need to fix the package. Seems like it should be simple to get this binary signed and new package published.

Until the package is fixed, what's wrong with specifying `<FileSignInfo Include="Microsoft.VisualStudio.OLE.Interop.dll" CertificateName="None" />` ?

[2018-11-09 15:22] natemcmaster opened #1306 "SignCheck crashes with StackOverflowException when verifying vsix"
Microsoft.DotNet.SignCheck.exe is crashing while trying to verify a vsix file with this error:

[code]

I've attached the vsix that it's trying to check:
[aspnet_35670.zip](https://github.com/dotnet/arcade/files/2566387/aspnet_35670.zip)

cc @joeloff

[2018-11-09 15:45] joeloff commented on #1306
I'll take a look

[2018-11-09 16:16] #1300 closed

[2018-11-09 16:39] #1306 closed

[2018-11-09 16:41] natemcmaster commented on #1295
That's what we did to unblock getting a build of SignCheck. This would not be acceptable for a product repo, though. We wouldn't want to ship unsigned binaries just because the tool produces an error because its assembly copyright doesn't fit our criteria.

[2018-11-09 17:06] weshaggard commented on #1301
Yeah I think we can do that similar to what we did for vswhere.

[2018-11-09 18:01] JohnTortugo commented on #1301
Sounds good. I'm working on it.

[2018-11-09 19:40] chcosta opened #1312 "Sample repo badge not set up"
The sample repo badge doesn't look like it's wired up correctly - https://github.com/dotnet/arcade-minimalci-sample

FYI @jonfortescue

[2018-11-09 21:45] jonfortescue opened #1313 "[Needs Breakdown] Write tests for Helix JobSender SDK"
Should include unit tests for each individual component and probably some sort of end-to-end test which will send a job to Helix and wait for a response.

[2018-11-09 22:32] JohnTortugo commented on #1301
I'm not sure how to proceed on this. I've a few questions:

- Is this the right feed to use?  https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
- Can I just create the package locally and upload it? I think it would be better to have the "package content" maintained somewhere (not necessarily a repo) for transparency and in case we need to inspect it in the future.

@jcagme @markwilk

[2018-11-09 22:36] jcagme commented on #1301
Yes.

Where did we get the code originally?

I can help uploading the package

[2018-11-09 22:38] JohnTortugo commented on #1301
Thanks @jcagme . AFAIU we are going to upload the executable and it's dependencies (a few libs).

[2018-11-09 23:29] mmitche commented on #1263
Will start delisting tonight.

[2018-11-10 00:24] chcosta opened #1315 "PublishBuildAssets doesn't control its dependencies"
Here's the error:
[code]

It appears that publishBuildAssets just assumes your repo's project is going to restore the dependencies it requires.  Likely because publishBuildAssets is a proj and not a csproj so it just relies on your sln / csproj's for asset restoration.

https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/PublishBuildAssets.proj

PublishBuildAssets sh

[2018-11-10 01:10] chcosta commented on #1315
A viable workaround appears to be to use the "dotnet" msbuild engine instead of relying on the desktop MSBuild.

https://dnceng.visualstudio.com/internal/_git/4b71a4ab-74f7-4d5a-a549-a976dd80cb07/commit/01ace5f8b973a56e252d5cfbc7bbb5294d19cdba/

The scenario is still slightly busted though since there's no reason to  do a full repo restore for a solution only to use this publish project.

[2018-11-10 02:55] tmat commented on #1295
The root problem is that Microsoft.VisualStudio.OLE.Interop.dll is not signed. If this was a product dependency, the fix would be to fix this binary, not to suppress warning in repos that consumes the binary.

That said I'm not against adding an attribute `SuppressWarnings` to `FileSignInfo`. It just seems like that shouldn't be the solution for this particular binary.

[2018-11-12 18:39] mmitche commented on #1263
Deletion in progress for dev/di

[2018-11-12 22:10] jonfortescue opened #1320 "Add the ability to use a helix project if no properties are set as part of the helix entry in the YAML"

[2018-11-12 23:42] JohnTortugo commented on #1198
@weshaggard now that I merged this PR #1317 I'm starting to work on this issue.

Is there a branch of CoreFX that I can test this issue on? My idea is to use this [new] branch to work on this issue and also validate the work from #1317 so that at the end hopefully nothing gets broken.

[2018-11-13 00:18] weshaggard commented on #1198
Just create a branch of master to test your changes. You can push that branch to our internal corefx repo and spin official builds pointing at that branch to test your changes.

[2018-11-13 00:40] safern commented on #1056
It seems like this was fixed. Just worked in a PR of mine.

[2018-11-13 00:40] #1056 closed

[2018-11-13 05:17] #1301 closed

[2018-11-13 19:06] JohnTortugo commented on #1198
My plan for working on this:

1. Get a new SignTool package that can check if all packages are SN signed.
2. Plug the package above on a new branch of CoreFX.
3. Configure the new branch of CoreFX to use SignTool to locally sign the files that aren't SN signed.
4. Test / Iterate until the new CoreFX branch has all files strong name signed.

I estimate 2 or max 3 work days on this.

[2018-11-13 21:49] jonfortescue opened #1327 "Clean up Helix template to use objects rather than parameters"
Per @chcosta's suggestion here: https://github.com/dotnet/arcade/pull/1305#discussion_r233160060

[2018-11-14 00:16] #934 closed

[2018-11-14 00:30] JohnTortugo opened #1329 "Skip deleting temporary signing folder"
As reported by @peterhuene signing is failing due to exception deleting temporary signing directory:

Example build: https://dev.azure.com/dnceng/internal/_build/results?buildId=43515&view=logs

Error: `System.IO.IOException: The process cannot access the file 'Sign.2018.11.13.19.27.09.log' because it is being used by another process.`

Interacting with MicroBuild folks it seems the file isn't bei

[2018-11-14 17:30] mmitche opened #1332 "[Darc] gather-drop command"
/cc @leecow @dagood @natemcmaster @weshaggard @jamshedd

When shipping .NET Core 3 on Prodcon v2 we will need a way to gather all the files needed for shipping.  This comes in two forms:
- Full product release
- Servicing release

gather-drop comes in two primary modes:
- Full drop based on a sha in a repo or set of repos
- Diff drop based on diff of two shas (or tags) in a repo or set of repos.

[2018-11-14 20:58] #954 closed

[2018-11-14 20:58] #1203 closed

[2018-11-14 20:58] #967 closed

[2018-11-14 22:37] jonfortescue opened #1335 "HelixJobSender: unique test-result names per workitem"
Possibly just append a guid. Adjust xunit-reporter accordingly.

[2018-11-14 22:37] JohnTortugo commented on #1198
@weshaggard I was running some check with the Arcade repo and noticed that some 3rd party libraries aren't strong name signed. How should we handle those files? E.g., Octokit.dll, Mono.options.dll , SevenZip.dll (I assume)

@tmat

[2018-11-14 22:41] jonfortescue opened #1336 "Create env variable for xunit runner rather than copying it to payload"

[2018-11-14 22:44] jonfortescue opened #1337 "HelixJobSender: support desktop xUnit"
- [x] xUnit command line options
- [ ] Detect whether to use dotnet exec or xunit.console.exe

[2018-11-14 23:21] weshaggard commented on #1198
We probably need to add them to a list to ignore these.

[2018-11-14 23:43] mmitche commented on #1263
Unlisting in progress, about 30% done

[2018-11-15 00:23] jonfortescue opened #1338 "Add retry logic to Helix Job Sender"
Build tools has this functionality [here](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.CloudTestTasks/SendJobsToHelix.cs#L106-L107). This will harden Helix jobs against network flakiness, etc.

[2018-11-15 01:12] ahsonkhan opened #1341 "The GenerateReferenceSource tool shouldn't expand out default args in the ref"
cc @weshaggard, @joperezr, @stephentoub

From: https://github.com/dotnet/corefx/pull/33512#discussion_r233681128

[2018-11-15 02:48] #1271 closed

[2018-11-15 02:48] #1329 closed

[2018-11-15 15:58] dagood commented on #1298
@chcosta @natemcmaster Do you mind taking a look at this? Always disappointing to get a notification thinking one of my issues have been responded to, then see it's just a commit. (I think it's always been from an aspnet repo so far.)

[2018-11-15 16:37] riarenas commented on #917
I was able to get this to work locally  with the following process:

1. Added a `-restoreSources` option to eng\common\build.ps1 so that additional restore sources can be propagated. (all the  proj files were already expecting this param, there was just no entry point for it to get populated)
1. Added an `-updateSdk` option to eng\build.cmd to signal that we'd like to go through the process.
1. Wh

[2018-11-15 17:15] #1315 closed

[2018-11-15 18:07] chcosta commented on #1298
I don't think it's difficult to write some rest api script to disable this option for all of the internal repos.  The problem is, that seems like a very temporary fix as there's nothing enforcing the setting or applying it to new repos.

[2018-11-15 18:14] dagood commented on #1298
I'd probably end up doing that if I had the permissions. If I'm the only person who cares, I'd be fine rerunning it if I get annoyed again. (As long as someone doesn't end up actually using this feature... they'd have to let me know.)

[2018-11-15 18:18] chcosta commented on #1298
I have no problem with that.  Unless anybody else does, I'll look at getting you permissions

[2018-11-15 18:19] dagood commented on #1298
Awesome, thanks. 🙂

[2018-11-15 18:57] chcosta commented on #1298
I gave @dagood permissions to modify repo options (more specifically I gave Contributors permissions).  @dagood is intending to manage this setting for the repos.  If that proves not to be sustainable we can work with DevOps to find a better solution.

[2018-11-15 21:38] maririos opened #1346 "Investigate Component Governance Detection task for dnceng build definitions"
@riarenas commented on [Thu Nov 08 2018](https://github.com/dotnet/core-eng/issues/4595)

Every time I look at a build for OS onboarding I get the following message in a banner at the top of the screen:

`
This build does not have the required Component Governance Detection task installed. Help us protect and secure Microsoft by adding this build task. Simply follow the instructions at https://aka

[2018-11-16 17:19] MattGal opened #1350 "Arcade breaking change in signing behavior"
@dotnet-mc-bot commented on [Fri Nov 16 2018](https://github.com/dotnet/core-eng/issues/4673)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2215120
  - **Agent:** DDVSOWINAGE084
  - **Error log:** E:\A\_work\0\s\corefx\.packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.18565.8\tools\Si

[2018-11-16 17:20] MattGal commented on #1350
@JohnTortugo  FYI.  May totally be by-design and intentional, but it's worth noting since [an arcade update](https://github.com/dotnet/corefx/commit/4b9db6c88f31d7f0f5f69e693a65a748e82823d1) which made it past CI ended up breaking the official build

[2018-11-16 17:35] MattGal commented on #1350
From Joe's investigation looks like it just needs to honor preexisting values for AllowEmptySignList

https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Sign.proj#L43

[2018-11-16 17:39] joperezr commented on #1350
right, the problem is that this property is not conditioned:

https://github.com/dotnet/arcade/blob/995d5bc5507f25475368368ecd6fef4252e8232d/src/Microsoft.DotNet.Arcade.Sdk/tools/Sign.proj#L41-L44

What we should have is something like: `<AllowEmptySignList Condition="'$(AllowEmptySignList )' == ''">false</AllowEmptySignList>` instead

[2018-11-16 18:20] JohnTortugo commented on #1350
Thanks for looking into that guys. @joperezr the idea is that repos override that property in their `Signing.props` which is included after "declaring" that property: https://github.com/dotnet/arcade/blob/995d5bc5507f25475368368ecd6fef4252e8232d/src/Microsoft.DotNet.Arcade.Sdk/tools/Sign.proj#L47

[2018-11-16 18:36] joperezr opened #1351 "Package Harvest doesn't probe NuGetFallbackFolder"
Now that we use the machine's cache for restoring packages in corefx, restore won't download packages that are part of the CLI's NuGetFallbackFolder. This causes an issue with harvesting, since that logic will only probe into the local cache for getting the assets from stable packages, so if you try to harvest from a package that comes in the fallback folder, harvesting will fail. I believe this w

[2018-11-16 19:03] ericstj commented on #1351
Yep, this broke when I moved us to use the built-in restore target that honors machine wide SDK.

The fix here would be to pass in NuGetPackageFolders and probe them, like we do here: https://github.com/dotnet/arcade/blob/995d5bc5507f25475368368ecd6fef4252e8232d/src/Microsoft.DotNet.Build.Tasks.Packaging/tests/Microsoft.DotNet.Build.Tasks.Packaging.Tests.csproj#L38-L56

[2018-11-16 19:11] ericstj commented on #1351
We need to make this an array and pass in NuGetPackagesFolder:
https://github.com/dotnet/arcade/blob/995d5bc5507f25475368368ecd6fef4252e8232d/src/Microsoft.DotNet.Build.Tasks.Packaging/src/HarvestPackage.cs#L35

[2018-11-16 19:16] wli3 commented on #64
+1 for this issue System.Commandline cannot adapt Arcade since we expect many non Microsoft contributor.

[2018-11-16 19:21] #1350 closed

[2018-11-16 19:23] joperezr commented on #1350
I see that makes sense, I didn't see that we imported the Signing props right after that. I would probably still add a comment on the import or the property mentioning that the order of those two matter a lot, that way if there is some refactoring that happens on these files in the future it won't break repos that define the property staticly.

[2018-11-16 19:45] JohnTortugo commented on #1350
Thanks @joperezr . I'll add that comment.

FYI: I'm also looking to check how we can catch such errors next time before we merge the maestro PRs in the master branch.

[2018-11-16 19:55] joperezr commented on #1350
FWIW, coreclr has a on-demand CI build that will test the ingestion of this coreclr into corefx, and see if that would break corefx. You could potentially have something similar here.

[2018-11-16 19:59] JohnTortugo commented on #1350
From a quick look that I did with @jcagme it seems that at least for corefx builds we don't do test sign on CI builds, which means that signing issues related to repo configuration won't be tested before the merge happens! I'll look more into that.

@chcosta

[2018-11-16 20:54] chcosta commented on #1350
Hmm... I think this falls into the scenario testing bucket which we're starting to explore such that we can provide an Arcade LKG.  I wouldn't expect any signing to be happening (even test signing) in a CI build.

[2018-11-16 22:19] MattGal commented on #1350
Signing wouldn't need to occur to catch this issue.  You could override the Microbuild Sign* targets with nerfed ones that just use the Message task to print out the parameters they received, then "sign" things as usual.  If that were happening, the error (You didn't ask to sign anything) would still have happened

[2018-11-16 23:01] ericstj opened #1355 "ArgumentException when dependency prematurely has a pre-release string"
When packaging tasks are transitioning from string version to Version type we should handle cases where we might have prerelease spec on the string.

EG:
[code]

[2018-11-19 18:21] jcagme commented on #1076
https://github.com/dotnet/arcade/pull/1231 solves this. Assigning to @mmitche so the issue is closed when PR is merged

[2018-11-19 18:22] jcagme commented on #800
@mmitche can you please confirm this is done and close this if this is the case?

[2018-11-19 18:32] markwilkie opened #1361 "Team specific shared properties"
From: Jacques Eloff <joeloff@microsoft.com>
Sent: Monday, November 19, 2018 10:30 AM
To: Mark Wilkie <mawilkie@microsoft.com>; Alex Perovich <Alex.Perovich@microsoft.com>; Arcade Working Group <arcadewg@microsoft.com>
Subject: RE: shared properties for multiple packages

Rummaging through the binlog I found ProjectDefaults.props. This would seem like a good place to have something like <Import Pro

[2018-11-19 18:34] jcagme commented on #601
This will be converted in an Azure DevOps tasks as described here https://github.com/dotnet/arcade/blob/master/Documentation/Projects/DevOps/Tasks/OnePager.md#task-candidates

[2018-11-19 18:36] jcagme commented on #634
I see that a `subscription` object has an `enabled` property. Is this what this issue was meant to track? @alexperovich @mmitche

[2018-11-19 18:37] #1355 closed

[2018-11-19 18:37] ericstj commented on #1355
Fixed with https://github.com/dotnet/arcade/commit/f350a8f8eca62dfd0243dc6fb2fac0a9b124a757

[2018-11-19 19:47] natemcmaster opened #1362 "SignCheck --verify-strongname fails on native .dll/.exe files"
The `--verify-strongname` flag on SignCheck creates a false-positive error on native .dll/.exe files. These don't have a strong name because they are not .NET binaries.

**Repro:**
Download https://www.nuget.org/api/v2/package/dotnet-ef/2.1.4
Run sign check on it:
[code]

**Expected**
Sign check only produces strong-name errors for managed, .NET assemblies that are missing a strong name.

**Actual

[2018-11-19 19:49] joeloff commented on #1362
Yeah, that's wrong. It's supposed to check if it's native code or not. I'll take a look

[2018-11-19 23:54] #1362 closed

[2018-11-20 07:41] jkotas opened #1364 "Arcade tools bootstraping fails on Linux if dotnet sdk is installed globally"
Repro:

[code]

Result:

Build fails with

[code]

[2018-11-20 07:44] jkotas commented on #1364
`init-tools.log` contains the following error:
`
ERROR: Cannot find dotnet.exe at path '/root/corefx/.dotnet/dotnet'. Please pass in the path to dotnet.exe as the 2nd parameter.
`

The problem seems to be on the path where the scripts detect the globally installed dotnet and try to use it instead of downloading local copy. The globally installed dotnet is not wired in correctly.

[2018-11-20 15:33] markwilkie commented on #1364
I think this is a known issue.  @chcosta or @jcagme - do you remember the details?

[2018-11-20 16:06] mmitche commented on #634
Yes, that is correct.

[2018-11-20 16:14] chcosta commented on #1364
AFAIK, this is not a known (or reported) issue.

[2018-11-20 16:52] mmitche opened #1366 "[Maestro] Dependency update failed in corefx"
[code]

@jcagme

[2018-11-20 17:01] jcagme commented on #1364
Yeah I don't think this is known. Epic updated and will prioritize accordingly.

[2018-11-20 17:04] jcagme commented on #634
Closing as this work is done

[2018-11-20 17:04] #634 closed

[2018-11-20 17:19] mmitche opened #1367 "[Maestro] BAR should contain shipping/nonshipping bit"
Shipping vs. nonshipping should show up in the BAR.  This is already tracked in the manifests, just needs to be propagated to the BAR.

[2018-11-20 17:49] alexperovich commented on #1366
this is the github 500 we saw a weekish ago.

[2018-11-20 18:00] safern commented on #1209
Is this planning to be fixed: I see the regression was caused here -- https://github.com/dotnet/arcade/commit/ad4e7d02c4d2a20fbb5d3e79e33d24381412aa94#diff-d4e35e4b8161372d4f3f7dfeac3eafb4

I'm hitting this in CoreFX and this is the only piece missing to enable CI in CoreFX.

[2018-11-20 18:05] AdamYoblick commented on #1209
Santiago, the helix team is working on getting the helix job results into the Test Results tab in Azure Dev Ops, which will give us the same functionality with the added benefit of seeing the logs (as long as your helix jobs spits out xUnit xml).

So unless I'm mistaken, they are opting to not fix this the existing helix code and instead fix it with this new feature.

[2018-11-20 18:08] safern commented on #1209
Thanks! Yes I do know of that work happening, but how long is that going to take? Cause if we want to move out of Jenkins in CoreFX either one or the other is required 😄

So I just want to know if they are planning on fixing this, since I saw it open, just want to know what to expect and if I should just block on this.

[2018-11-20 18:10] alexperovich commented on #1209
This change https://github.com/dotnet/arcade/pull/1356 adds support for pure test results showing up in AzDev. The Console logs will take a bit longer.

[2018-11-20 18:33] #801 closed

[2018-11-20 18:34] #258 closed

[2018-11-20 19:19] #1335 closed

[2018-11-20 19:19] #1336 closed

[2018-11-20 19:19] #1337 closed

[2018-11-20 19:20] jonfortescue commented on #1209
I'm going to close this since #1356 will soon be merged.

[2018-11-20 19:20] #1209 closed

[2018-11-20 19:56] JohnTortugo opened #1370 "Check if SignTool is working properly when we have managed binaries that aren't strong-name signed"
@ericstj mention that it may happen that some repo have managed binaries that don't need to be strong-name signed. The current implementation of signtool assumes that all managed binaries will need to be strong-name signed, we might need to check that assumption in the future.

Worth noting that the current implementation also allow:
- Disabling the validation on strong-name
- Exclude specific fil

[2018-11-20 20:00] #1198 closed

[2018-11-20 20:06] JohnTortugo opened #1371 "Build failure: Standard 20181120.01"
@dotnet-mc-bot commented on [Tue Nov 20 2018](https://github.com/dotnet/core-eng/issues/4689)

Opened on behalf of @v-asdhin

Warnings: 1
Status Message: failed

Build : 3.0 - 20181120.01 (Product Build)
Failing configurations:
- Windows
  - managed-Release
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fstandard~2Fmaster~2F/type/build~2Fproduct~2F/build/2018

[2018-11-20 20:07] JohnTortugo commented on #1371
@danmosemsft did you expect some files to get signed on this build?

[2018-11-20 20:43] AdamYoblick opened #1373 "Error when creating a package using .net core sdk 3.0.100-preview-009764 and arcade sdk 1.0.0-beta.18569.4"
Hello,

I moved winforms up to 3.0.100-preview-009764 of dotnet, and I’m getting an error when running .\build -pack locally:

Successfully created package 'E:\src\repos\github\winforms\artifacts\packages\Debug\Shipping\Microsoft.Private.Winforms.1.0.0-dev.nupkg'.
E:\src\repos\github\winforms\.dotnet\sdk\3.0.100-preview-009764\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(199,5)

[2018-11-20 21:29] ericstj opened #1374 "GenFacades depends on BuildTools target unnecessarily"
See https://github.com/dotnet/arcade/blob/b6b9dfa1778de0f3094c3ae42abd83a23f4cd81a/src/Microsoft.DotNet.GenFacades/build/Microsoft.DotNet.GenFacades.targets#L3-L7

This should be removed.  /cc @wtgodbe

[2018-11-20 21:44] jonfortescue commented on #611
PR in for this! https://github.com/dotnet/arcade-minimalci-sample/pull/201

[2018-11-20 21:48] #1184 closed

[2018-11-20 22:13] wtgodbe commented on #1374
Good call, this can be removed now. https://github.com/dotnet/arcade/pull/1377

[2018-11-20 22:40] JohnTortugo commented on #1371
@wtgodbe is taking care of this as it was related to his recent changes. PR is here: https://github.com/dotnet/standard/pull/978

[2018-11-20 23:21] mmitche commented on #1367
#1378

[2018-11-20 23:36] mmitche commented on #1263
I'm going to run another pass of this

[2018-11-20 23:47] mmitche commented on #938
@jcagme Was working on this.

[2018-11-20 23:56] jcagme commented on #938
This should be fixed by https://github.com/dotnet/arcade/pull/1369

[2018-11-21 00:38] jcagme commented on #1366
This is failing when we try to create the new tree which doesn't include the files which are meant to be removed. My guess at this point is that github has some sort of tree "size" limit given that the tree we create for arcade is around 1,500 compared to that in corefx which is close to 20,000.

I haven't found any place where this number is documented so I've started a couple of threads with the

[2018-11-21 15:11] dagood commented on #422
@mmitche, it looks like you added a condition back in for disabling--skipping MyGet publish looks fine, but if you disable the blob feed push step, it looks like it will fail to `CopyLocal` the packages for the MyGet step. (See above for more info/caveats about fixing this.)

[2018-11-21 15:39] mmitche commented on #422
Okay you can leave it as is then...it will just fail if the upload to myget has no feed but it's not a big deal.

[2018-11-21 15:41] dagood commented on #422
Agreed, I'm fine either way, mostly just want to make sure it's known and status is somewhere.

[2018-11-21 15:56] mmitche commented on #1366
@jcagme Maybe it would be better to not use octokit in these cases (just do a checkout in a temp repo, make changes, then push the branch)

[2018-11-21 15:58] robertborr opened #1380 "Misc build failures in 'official/standard/master/' - '20181121.01'"
@dotnet-mc-bot commented on [Wed Nov 21 2018](https://github.com/dotnet/core-eng/issues/4695)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2227196
  - **Agent:** DDVSOWINAGE100
  - **Error log:** E:\A\_work\0\s\.packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.18570.17\tools\Sign.pro

[2018-11-21 16:31] robertborr commented on #1380
this is an instance of #1371

[2018-11-21 16:31] robertborr commented on #1380
and also dotnet/arcade #1350

[2018-11-21 17:17] jcagme commented on #1366
This is not an Octokit thing but the way the trees api is implemented by GH. At the end Octokit ends up making a request to GitHub. Unless there is some sort of quick and easy thing that we can set in the request to avoid this issue we may actually need to do what you suggest.

[2018-11-22 18:55] #1371 closed

[2018-11-22 18:55] #1380 closed

[2018-11-23 00:14] JohnTortugo commented on #958
Planning on adding verification for the following extensions. Please advise if this plan sounds reasonable to you.

- Nuget : Check if the file .signature.p7s is present at the root level
- VSIX : check the existence of the `\package\services\digital-signature\` folder.
- PS1 / PSD1 / PSM1 : Check for a signature block starting with `# SIG # Begin Signature Block"
- PE files (.exe / .dll): Verific

[2018-11-26 16:41] mmitche opened #1387 "[darc/maestro++] Notify on subscription update failures"
Maestro should notify (open issues) when there are subscription updates that fail to execute properly. This is just for internal infrastructure issues, and not failures in pull requests.

[2018-11-26 16:42] mmitche commented on #1387
/cc @alexperovich @jcagme

[2018-11-26 18:07] jcagme commented on #1366
https://github.com/dotnet/arcade/pull/1388

[2018-11-26 18:46] #938 closed

[2018-11-26 18:59] #1272 closed

[2018-11-26 19:23] JohnTortugo opened #1389 "SignTool: TEST sign Python files"
The MicroBuild team is working to get tools in place to be able to test sign Python files. Until that work is completed the Arcade SignTool is bypassing (i.e., not signing) any Python files.

@markwilkie @tmat @natemcmaster @ericstj

[2018-11-26 19:34] JohnTortugo commented on #915
@chcosta just to confirm, this is not a blocking for building preview, right?

[2018-11-26 19:37] JohnTortugo commented on #878
@markwilkie is this blocking build preview?

Cc'ed @ericstj @tmat @natemcmaster

[2018-11-26 19:40] JohnTortugo commented on #575
@mmitche , I don't think this is a blocking issue for build preview, right?

Cc'ed @markwilkie

[2018-11-26 19:40] mmitche commented on #575
Nope

[2018-11-26 20:15] JohnTortugo commented on #1389
I just had a quick talk with Trevor Short (from Microbuild team) and this are his words: "To be clear, there is no guarantee that I’ll be able to get “test” signing working for python files. "

Cc'ed people, I'm not quite sure if that will be a blocker for you (i.e., for building preview). Is it?

[2018-11-26 20:16] JohnTortugo commented on #563
@alexperovich - all, just to confirm, this is not blocking build preview. Right?

[2018-11-26 20:31] natemcmaster commented on #1295
As long as you use "suppress" (two P's), I'm happy with this plan.

Just my two cents: also consider "NoWarn", which is a naming convention used in other places, like Csc and NuGet. `<FileSignInfo ... NoWarn="SIGN001" />`

[2018-11-26 20:33] JohnTortugo commented on #1295
Well, that seems an even better name!

[2018-11-26 20:35] tmat commented on #1389
No, we don't need test signing for anything as far as I know.

[2018-11-26 20:37] tmat commented on #1295
BTW, there should be no `W` in the diagnostic ID, it's just `SIGNXXX`.

[2018-11-26 20:38] ericstj opened #1390 "Branch hygine"
dotnet/arcade has too many branches that clutter the main fork.  Can we institute fork/branch workflow for pull-requests instead?  @markwilkie

[2018-11-26 20:38] tmat commented on #1295
@natemcmaster Has Microsoft.VisualStudio.OLE.Interop been fixed? As I said I'm not against adding NoWarn attribute, but at this point there seems to be no use case for it since Microsoft.VisualStudio.OLE.Interop package needs to be fixed.

[2018-11-26 20:45] natemcmaster commented on #1295
No. This package hasn't been updated since Sep. 2017. I don't know who owns it.

[2018-11-26 21:21] riarenas commented on #492
Yeah, This seems to not be needed or useful anymore. I'm good with closing it.

[2018-11-26 21:30] HaoK commented on #1274
I also ran into the unhelpful bad request error, root cause of all my helix jobs being rejected was when I accidentally removed the pr/ in front of the source.  Would definitely be ideal if that error was surfaced to the output of the build

[2018-11-26 21:36] jcagme commented on #492
Agree

[2018-11-26 21:49] ericstj commented on #1390
Do you plan to manually delete any branches left behind after a certain date?

[2018-11-26 22:34] akoeplinger opened #1392 "Helix JobSender SDK doesn't provide a way to set IsExternal=true"
E.g. using this Hello World sample:

[code]

The resulting build isn't accessible to users outside of the Microsoft GitHub org on Mission Control, @MattGal says this is because the Helix job has IsExternal=false but there seems to be no way to set this to true with the SDK.

[2018-11-26 22:56] akoeplinger commented on #1392
Btw. this is a pretty important issue for us since right now external contributors can't view their PR test results on MC.

[2018-11-27 00:31] akoeplinger commented on #1392
Thanks.

Re: AzDO, we're not there yet and won't be for some time :)

[2018-11-27 01:42] tmat commented on #1295
So the fix is simply to use 7.10.6071 instead of 7.10.6070: https://github.com/dotnet/arcade/pull/1394

[2018-11-27 16:44] akoeplinger commented on #1392
Ok so according to MattGal the only requirements are to 1) provide a 'Source" value that starts with pr/ or automated/ and 2) not be authenticated when submitting.

The issue in my case is 2) as I'm using the authenticated API instead of anonymous. The problem is that I can't switch over to anonymous since then the SDK will throw a "not authorized" exception when trying to upload the payload to th

[2018-11-27 16:59] chcosta commented on #915
I don't believe that this is required for preview.

[2018-11-27 18:04] adiaaida opened #1396 "Port codeOptimization.targets to arcade"
For corefx, we need to port the codeOptimization target to arcade. It could also use some clean up. From @ViktorHofer:

[2018-11-27 18:08] adiaaida opened #1397 "Generalize codeOptimization targets"
The targets in codeOptimization should be generalized for use by other repositories than corefx. Currently, it stores versions and nuget package names/feeds that are specific to corefx and also directly accesses files from the PackagesDir, which makes the targets unusable by any other repository, forcing us to duplicate code in other repositories to do the same work, so we should fix it so it can

[2018-11-27 18:09] #492 closed

[2018-11-27 18:18] tmat commented on #1397
Arcade SDK already has support for IBCMerge.
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/OptimizationData.targets

Is it sufficient for CoreFX?

[2018-11-27 19:48] Chrisboh commented on #1392
@markwilkie this is a bug with the current SDK which wasn't caught yet as most people are logged in by default.  This is something we should add to Jon's work for Helix.

@akoeplinger in the meantime can you have the person you are working with join the Microsoft org so he can be unblocked while we work on this?

[2018-11-27 20:01] alexperovich opened #1400 "[TestReporting] Add ability to populate AzDev test results "custom test fields""
@Chrisboh @echesakovMSFT fyi

[2018-11-27 20:15] natemcmaster commented on #1050
Issue on the EF Core repo: https://github.com/aspnet/EntityFrameworkCore/issues/14025

[2018-11-27 20:15] natemcmaster commented on #1045
Issue on aspnet/Extension: https://github.com/aspnet/Extensions/issues/569

[2018-11-27 20:16] natemcmaster commented on #673
Issue on aspnet/AspNetCore: https://github.com/aspnet/AspNetCore/issues/4264

[2018-11-27 22:09] wtgodbe commented on #689
This is done

[2018-11-27 22:09] #689 closed

[2018-11-27 23:36] akoeplinger commented on #1392
@Chrisboh Yup, that works for Microsoft contributors but not for external community.

[2018-11-28 00:00] akoeplinger commented on #1392
I found a workaround that seems to work for my use case:

[code]

[2018-11-28 00:10] JohnTortugo commented on #1295
Just to bring some more info to the table. Other builds have seen this warning around and I think moving forward adding an option to suppress this message might still be useful.

One build where I saw the warning was CoreFX: [here](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2234980).

`warning SIGN001: Signing 3rd party library 'E:\A\_work\7\s\corefx\artifacts\tmp\Release\Contai

[2018-11-28 00:30] wtgodbe commented on #688
Standard now has a channel mapping for .NET Core 3 Dev, as well as a subscription to Arcade.

[2018-11-28 00:30] #688 closed

[2018-11-28 01:33] tmat commented on #1396
What does PreProcessIBCData do? Is it something specific to CoreFX or generally useful? We do not do any preprocessing, other than merging raw IBC to the DLLs when producing package with optimization data. If that's what the target does then we could probably reuse that also in Roslyn and other repos.